[2016-10-12 20:30] lots0logs commented on #586
@Anny85 I found some problems with this solution:
![2016-10-12_03-26-51-pm](https://cloud.githubusercontent.com/assets/4675662/19326576/b9fe6f92-9090-11e6-930e-760b2ec2fd35.png)

![screencapture-et-falgout-us-divi-1476304065619](https://cloud.githubusercontent.com/assets/4675662/19326583/c1cdadc8-9090-11e6-84d2-cdcef27d56cc.jpg)

[2016-10-12 20:53] lots0logs opened #631 "VB Exit Modal :: Position The Modal Close To The Top Of The Viewport"
### Problem:
When using the native alert dialog in browsers to show a message on the `beforeunload` event, the dialog appears at the top of the viewport. I think the reason for that is because more often than not, the user's focus is in that area. For example, if navigating using the back and forward buttons you are already looking at the top of your screen and your mouse cursor is also positioned

[2016-10-12 21:02] timayhelen commented on #631
I would prefer to keep it centered so that all of our modals look the same and appear in the same location.

[2016-10-12 21:02] #631 closed

[2016-10-12 21:05] uportnykh commented on #619
@timayhelen ah, right. I've fixed it.

[2016-10-12 21:19] lots0logs commented on #621
@SlavaET

* **Disable Module**:
  - [ ] I noticed there is a bit of a lag before the module actually looks disabled. Can we improve it?
* **Lock Module**:
  - [ ] This one isn't working for me.
  - [ ] I noticed that locking a module always results in an AJAX request to check if the user can lock the module. Is this intended? Couldn't we just cache the result of the first one?
* Add New Section:

[2016-10-12 22:06] Anny85 commented on #615
@lots0logs I've just checked one more time. It works for me. Are you using Video post format for "Placeholder Video" post?

[2016-10-12 22:17] lots0logs commented on #615
@Anny85 Yeah its a video post (otherwise the video thumbnail wouldnt be showing up for the post). I will take another look at it to make sure there isn't anything unusual at-play here and let you know.

[2016-10-12 22:24] timayhelen commented on #621
#2 @lots0logs Locking seems to work for me.

#3 We could add a new set of shortcuts for the Add New Row modal and the Specialty Section modal, where if you press any number by itself it selects and adds that column type (1,2,3,4,5,6,7,8,9,0,-, depending on the number of column types available.

[2016-10-12 22:28] timayhelen commented on #621
@SlavaET I notice something strange about changing column types. Often types, if you don't move your move after changing a column type, the next hotkey you press to change the column type again wont work. Try pressing C+1, C+2, C+3, etc in a row without moving your mouse.

[2016-10-12 22:28] timayhelen commented on #615
@Anny85 It doesn't seem to work for me either.

[2016-10-12 22:32] timayhelen commented on #615
Looks like it works when the blog module is set to Show Content, but not when it's set to Show Excerpt.

[2016-10-12 23:02] lots0logs commented on #621
That sounds good to me. Though it wouldn't allow for adding multiple row's with column type in a row. What I mean is, instead of doing this to add three new specialty sections with the second type:

<kbd>S</kbd>+<kbd>2</kbd>+<kbd>2</kbd> , <kbd>2</kbd>

You would have to do this:

<kbd>S</kbd>+<kbd>2</kbd>+<kbd>2</kbd>, <kbd>S</kbd>+<kbd>2</kbd>+<kbd>2</kbd>

[2016-10-12 23:28] andyhqtran opened #632 "Refactoring Modal"
We need to refactor our modal to allow more flexibility when used in other situations. An example would be the Help Modal (#608).
##
#### High Prority
- [x] Add support for header buttons.
- [x] If `resize` prop is not provided, the `canvas` should not render.
##
#### Low Prority
- [ ] Add support for multiple modals.
- [ ] If `onModalChange` prop is not provided, do not call function.
- [ ] If `o

[2016-10-12 23:31] #554 closed

[2016-10-12 23:31] #613 closed

[2016-10-12 23:31] #593 closed

[2016-10-12 23:31] #619 closed

[2016-10-12 23:31] #620 closed

[2016-10-12 23:31] #605 closed

[2016-10-12 23:32] fikrirasyid commented on #605
I investigated this yesterday before I signed off and hadn't found a decent solution for it. Basically snap happens during drag start and drag end which causes the issue.

I'll open another issue for the unwanted text selection bug so this can be merged.

(aand this PR is merged as I write this 😅)

[2016-10-12 23:48] fikrirasyid commented on #610
@timayhelen I should've thought and added the variable checks earlier :facepalm:

I've pushed a patch and fixed the issue at the both Divi's `449-add-power-user-features-3.1` and submodule-builder's `449-add-power-user-features-3.1` branches.

[2016-10-13 04:02] SlavaET commented on #621
@lots0logs how can you press <kbd>2</kbd> + <kbd>2</kbd> ? Do you have two rows of number keys on your keyboard? :stuck_out_tongue:

[2016-10-13 04:49] lots0logs commented on #621
![homer-simpson-doh](https://cloud.githubusercontent.com/assets/4675662/19336994/16b44898-90d6-11e6-9922-94b5fef40146.gif)

Today has been one of those days :dizzy_face:  ... :laughing: I guess the only way to do it like I was imagining would be to start the columns/specialty types at the number three. I'm not sure about doing that though. What do you guys think?

[2016-10-13 05:14] SlavaET commented on #618
Done.
- Added shortcuts into BB.
- Replaced the <kbd> Alt </kbd> + <kbd> Tab </kbd> with <kbd> Shift </kbd> + <kbd> Tab </kbd> to switch the modal tabs in Visual Builder
- Replaced the <kbd> Shift </kbd> + <kbd> Tab </kbd> with <kbd> Super </kbd> + <kbd> Left </kbd> / <kbd> Right </kbd> to toggle snap location in Visual Builder

[2016-10-13 08:11] eduard-ungureanu opened #633 "Woocommerce :: check out page :: header in center layout"
### Problem:

If by default, the layout requires to have a tall header, which will not change size when scrolling, when in the woocommerce check out page, if no details are filled in the form, and try to submit the ordering, woocommerce will show the fileds that need to be filled out, the problem is it will scroll to those fields, but not in the right position.

Here is a customers page:
<img widt

[2016-10-13 08:48] SlavaET commented on #621
- Fixed Disabling module lag.
- Added shortcuts to select the column structure if Columns Modal is opened ( keys 1 - 11 ). But it's quite difficult to guess which number to press, you need to count them and it makes the shortcut useless. We can probably add hints into that modal so it'll be easy to understand which button to press, like this:
![image](https://cloud.githubusercontent.com/assets/344

[2016-10-13 08:56] fikrirasyid commented on #621
@SlavaET VB's change row layout & add new layout uses the same layout order (1 ~ -). It is quite hard to remember indeed, but it is super easy to remember that 1: one columns, 2: two 1/2 columns, 3: three 1/3 columns, and 4: four 1/4 columns. The rest is kinda tricky 😅

[2016-10-13 09:46] fikrirasyid commented on #623
Is there any specific steps that need to be done? I've tried various ways to replicate the issue, but it works as expected:

1. Configure row
2. Save as global item
3. Publish the page
4. Check on front page: works as expected
5. Modify global row's background
6. Update the page
7

[2016-10-13 10:02] SlavaET commented on #628
Looks like this issue is fixed in following PR - https://github.com/elegantthemes/submodule-builder/pull/1282
@uportnykh can you please verify? I checked and it seems to be fixed because you changed the way we sanitize the values, therefore encoded characters no longer stripped from the strings.

[2016-10-13 10:17] fikrirasyid commented on #623
@timayhelen In case the issue about global module not being saved while it is being opened in modal setting is correct, I've submitted https://github.com/elegantthemes/submodule-builder/pull/1309 to fix it.

[2016-10-13 10:39] Anny85 commented on #615
@timayhelen @lots0logs I didn't realize the post should contain some text after the video URL to replicate the issue. I've fixed it.

[2016-10-13 10:52] fikrirasyid commented on #624
@lots0logs is there any specific step that need to be done to replicate the issue? I've rechecked this on both slider and fullwidth slider module and it works as expected:

![624-misalign-image](https://cloud.githubusercontent.com/assets/916442/19346432/6f5021ba-916d-11e6-9b1e-ebdf4e6151cf.gif)

The only possible scenario I can think of the issue to happen is:

1. The slide image is hosted elsewhe

[2016-10-13 14:08] dm-chechik opened #634 "Blog Module :: Google Doc Embedder Problem"
### Problem:

Customer reported about problem with Google Doc Embedder Problem.
Please check the ticket -> https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=603388

[2016-10-13 14:47] uportnykh commented on #634
This should fix the issue: https://github.com/elegantthemes/Divi-Beta/issues/586

[2016-10-13 14:47] #634 closed

[2016-10-13 18:01] Anny85 commented on #586
@lots0logs I've fixed it

[2016-10-13 18:04] uportnykh commented on #111
This will be fixed in https://github.com/elegantthemes/Divi-Beta/issues/120

[2016-10-13 18:04] #111 closed

[2016-10-13 18:43] lots0logs commented on #624
@fikrirasyid It looks like it only happens when the slider appears outside of the viewport when the page initially loads (so put the slider at the bottom of the page)

[2016-10-13 18:45] abhi-sharm commented on #500
Hi @uportnykh , this has been merged in latest version? and if customer updates to 3.0.14 , it will work fine for them ? or even after updating they need to click on save button to fix the issue ? One customer wants to confirm as they have almost 200 sites where they are using Divi form.

[2016-10-13 19:00] lots0logs commented on #621
@SlavaET The lock shortcut still doesnt work for me. There are no errors in the console. I can see that it makes the ajax request to check permissions and the response to the request is `true`.

![2016-10-13 13-56](https://cloud.githubusercontent.com/assets/4675662/19362714/5e6031ee-914d-11e6-8a65-d4bbbdde3c59.gif)

[2016-10-13 19:24] lots0logs commented on #623
@fikrirasyid Please see my comment on the PR. Thanks :smiley:

@timayhelen Could you confirm that the issue is indeed what @fikrirasyid described?

[2016-10-13 19:35] lots0logs commented on #615
@Anny85 I'm still seeing the video url for posts that have an HTML5 video (instead of youtube/vimeo). Not sure, but #630 might be related.

[2016-10-13 20:01] uportnykh commented on #500
Hi. It is fixed in the latest version. Yes, they would need to hit save to fix the issue with existing forms.

[2016-10-13 22:45] FaycalBoutam opened #635 "Configuration panel can hide when you move from wide to small screens."
### Problem:

Easy solution just zoom out! I'm reporting this anyway:
https://www.youtube.com/watch?v=tJUl2bUcZxM

[2016-10-13 23:56] timayhelen commented on #621
Let's debug the issue with L not working for Dustin in a different ticket.

[2016-10-14 00:51] lots0logs commented on #635
@FaycalBoutam We can only guarantee the layouts/styles when they are viewed with **normal** zoom (100%). That goes for all of our products.

[2016-10-14 00:51] #635 closed

[2016-10-14 00:52] timayhelen commented on #635
The bug isn't related to zooming. He means that once the modal is lost, you have to zoom out to find it.

But this is actually a bug that has already been fixed: https://github.com/elegantthemes/Divi-Beta/issues/613

[2016-10-14 01:00] fikrirasyid commented on #623
@lots0logs replied at https://github.com/elegantthemes/submodule-builder/pull/1309#discussion_r83343126

[2016-10-14 01:19] lots0logs commented on #635
:doh: :sweat_smile:

[2016-10-14 01:55] fikrirasyid commented on #624
@lots0logs I tried putting the slider on the bottom of the layout, but it still works as expected tho:

![624-pr](https://cloud.githubusercontent.com/assets/916442/19373115/b6ade082-91eb-11e6-9c48-dcbaf515e05a.gif)

Can you share the layout you're using which replicates this issue? This is the layout I'm using:
[624-test.json.zip](https://github.com/elegantthemes/Divi-Beta/files/528520/624-test.js

[2016-10-14 02:11] lots0logs commented on #624
@fikrirasyid Use the Homepage Extended (Premade Layout), save the page, reload the page, and then scroll to the bottom to the slider. You should see the issue :smiley:

[2016-10-14 02:23] timayhelen commented on #624
@fikrirasyid This only occurs:

1. When you first load a layout. If you save the page a refresh, the image will appear correctly.
2. Only for the first slide in a slider, because sliding to the next slide seems to trigger the JS that centers the image.

So just load the "homepage extended" layout and scroll down to the blue slider in the middle of the page.

[2016-10-14 02:35] FaycalBoutam commented on #635
Oh I didn't think about the case of resizing the browser window. I just thought about when you switch from large to small screen (customer's case). Looks like the next update will include the fix. Thanks for the info.

[2016-10-14 02:46] fikrirasyid commented on #624
@lots0logs @timayhelen I can replicate the issue now using the steps @lots0logs mentioned above. It appears to be related to https://github.com/elegantthemes/Divi-Beta/issues/624#issuecomment-253480568 tho; if you change the slide image to local image, the issue doesn't appear.

I'll find a fix for this.

[2016-10-14 05:37] Jronk opened #636 "FB :: Refactor "Add New {thing}""
### Problem:

The implementation of "Add new {section/row/module}" uses an action, that upon the next rendering, sends another action, which upon next render triggers another action resulting in the final render. This approach is not following the "flux way" nor react way either. Any 1 action, should result in at most a render, and not directly trigger another action. Instead of setting "flags" th

[2016-10-14 08:22] Anny85 commented on #630
I've fixed it here: https://github.com/elegantthemes/submodule-builder/commit/468afec4b1782a09132d41acbfc99830ed593c32

[2016-10-14 08:22] #630 closed

[2016-10-14 08:22] Anny85 commented on #615
@lots0logs It should be fixed now

[2016-10-14 14:35] fikrirasyid commented on #610
@Jronk I've refactored the way shortcut's add new row / section works. It has been significantly simplified and only use one action to get things done. Anyway now that I've looked deep into the code, I remember several things that makes it the way it was (I missed several things during our discussion at Slack).

 This is how it works previously:

1. The idea is to reuse as much component and store

[2016-10-14 19:54] Jronk commented on #610
@fikrirasyid regarding the last #3 (the downside), if we instead move all/most of this logic and function calls: https://github.com/elegantthemes/submodule-builder/pull/1302/files#diff-3d118346b9153b174ee444572afed18dR4192  in to a function of its own, then no matter how you arrive (via shortcut or "add new"  button, then the same function will get called to do all the work.

[2016-10-14 20:03] #573 closed

[2016-10-14 20:03] #586 closed

[2016-10-14 20:03] #618 closed

[2016-10-14 20:03] #610 closed

[2016-10-14 20:03] #621 closed

[2016-10-14 20:03] #612 closed

[2016-10-14 20:03] #622 closed

[2016-10-14 20:03] #627 closed

[2016-10-14 20:03] #626 closed

[2016-10-14 21:05] uportnykh commented on #568
I've fixed all issues

[2016-10-14 21:11] lots0logs commented on #629
@fikrirasyid LGTM, but what about this:

[2016-10-14 22:14] FaycalBoutam opened #637 "Can't edit pages with the FB on NGINX servers."
### Problem:

This problem occurs with two customers, you can use the Visual Builder to create new pages just fine, however once you publish the page it's not possible to load the Visual Builder any more (unless you save the page as draft). The two customers are using NGINX as web-server.

Here you can see a video screen for the problem uploaded by the customer and the token to the site:
https://g

[2016-10-14 22:15] lots0logs commented on #604
@fikrirasyid Is there anything we can do to make the container's width match what will show on the frontend page?
![2016-10-14_04-51-47-pm](https://cloud.githubusercontent.com/assets/4675662/19404182/946db3a8-9231-11e6-8260-13b5f085176d.png)

![2016-10-14_04-52-15-pm](https://cloud.githubusercontent.com/assets/4675662/19404184/98ea1d5e-9231-11e6-855d-59f72d38c8a7.png)

Still need to do some testin

[2016-10-14 22:17] lots0logs commented on #637
@FaycalBoutam I sent you a message on Slack.

[2016-10-14 22:17] #637 closed

[2016-10-14 22:39] kary4 opened #638 "Footer is broken on No Result Fond pages"
### Problem:

Here is the demo page where you can clearly see the problem in the footer:
https://www.elegantthemes.com/preview/Divi/?s=%21%238787dfff

Screenshot:
![1](https://cloud.githubusercontent.com/assets/3352130/19404619/34773068-9278-11e6-9dcc-154ae2b11c8e.png)

[2016-10-14 23:18] fikrirasyid commented on #604
@lots0logs how to replicate what you see above (detailed steps and import file would be really helpful)? As I've explained at https://github.com/elegantthemes/submodule-builder/pull/1311, it should've:

1. Get the width of its container
2. Render the shortcode content as wide as the width retrieved and step 1

It is actually the best guess of how wide the shortcode supposed to be. Anyway, try chec

[2016-10-14 23:56] fikrirasyid commented on #629
@lots0logs either oEmbed or self-hosted video which are used as main video in blog module's video format post are actually don't use any overlay image at all. It behaves differently than Extra's post modules which use featured image as video format's video overlay.

![629 feedback](https://cloud.githubusercontent.com/assets/916442/19405665/67f0400c-92a4-11e6-887e-9f511f21d383.jpg)

I'm not sure: i

[2016-10-15 00:09] #568 closed

[2016-10-15 00:22] fikrirasyid commented on #610
@Jronk that would be tricky because that is actually three user-based actions packed into one. Let me walk you through it:

[code]

I think merging these into different function to be used when user adds section via UI wouldn't be possible since it contains two separate actions.

[2016-10-15 01:14] rijendra commented on #582
Hi
Sorry i can still replicate the issue, this doesn't work for me when i use normal visual editor of default wordpress, no page builder on it.
It also doesn't work when using the page builder with image module and blurb module etc.

This only works with image in the text module content of page builder.
Thanks

[2016-10-15 01:58] timayhelen commented on #623
@fikrirasyid This isn't the issue I was experiencing:

`Whenever you save a row to the library as a global row, the Background Color changes to a light blue color and you can't update it.`

But, after doing more testing, the issue seems to be isolated to certain rows. Here you can see it happens for one row, and not the other:

![row](https://cloud.githubusercontent.com/assets/3333028/19406704/dd1

[2016-10-15 02:04] #513 closed

[2016-10-15 16:48] fikrirasyid commented on #623
@timayhelen thank you for clarifying this issue. I'm currently investigating it now.

[2016-10-17 06:30] uportnykh commented on #582
@lots0logs Can you try to replicate it?

[2016-10-17 09:53] SlavaET commented on #597
I tested Font Options in IE11 and Edge browser and I found several issues in the Color Picker from Inline editor. Other color options from modules work fine and I didn't notice any issues. This is what I found:
1) Edge Browser. Color is not changing if you select some text and try to set the `hex` color using the Inline Editor. `rgba` colors work fine, also it works fine with `hex` values if you d

[2016-10-17 11:31] eduard-ungureanu opened #639 "Header Style :: Vertical :: Right"
### Problem:
The sub menu link in this case, cannot be accessed, because the sub menu will disappear as soon as the mouse cursor will leave the menu area!

Example: http://dev.niwo.eu/

[2016-10-17 12:01] eduard-ungureanu opened #640 "Website background color"
### Problem:

When setting a custom background color in Theme Customizer > General Settings > Layout Settings, but don't enable the Boxed Layout, the custom background color will not be visible, because in style.css we have this rule:
[code]

a simple fix will also need to set the background color to be white, if we have the `custom-background` css class applied to body.

[code]

Will fix this.

[2016-10-17 16:28] lots0logs commented on #582
@uportnykh Yeah, it looks like the issue only occurs when the builder has been used for the post.

[2016-10-17 20:50] fikrirasyid commented on #604
@lots0logs any update on this?

[2016-10-17 21:03] fikrirasyid commented on #596
@lots0logs I've incorporated your feedback at https://github.com/elegantthemes/submodule-builder/pull/1316/commits/a90cffc8a7aeac89bdb927ae607dbc754ec2b34a

[2016-10-17 21:18] lots0logs commented on #604
@fikrirasyid Here is the layout I used. Basically I put the grid shortcode in a regular section and in a fullwidth section. Pretty much just used the default settings for the grid.

* [Divi Builder Layout](https://www.dropbox.com/s/uxdt2694zje3y46/essential-grid-divi.json?dl=1)
* [Ess Grid Settings](https://www.dropbox.com/s/emsey3vx324ddgh/ess_grid.json?dl=1)

[2016-10-17 23:25] #368 closed

[2016-10-17 23:26] #628 closed

[2016-10-18 00:16] #615 closed

[2016-10-18 00:16] #596 closed

[2016-10-18 00:16] #597 closed

[2016-10-18 00:16] #624 closed

[2016-10-18 00:16] #587 closed

[2016-10-18 03:52] SlavaET commented on #639
@eduard-ungureanu I can access the sub menu items on website you posted. So you still see the issue there? Can you please record a screencast?

[2016-10-18 07:25] abhi-sharm opened #641 "Inner Shadow Settings on Regular Sections not working"
### Problem:

Inner shadow Settings does not seems to have any effect in regular sections

Under the "Additional Information" section below, it would be especially helpful if you could include a video screencast of the issue occurring along with a link to download the Divi Builder layout you were working on in the screencast. You can export the layout using the Divi Portability System and paste a

[2016-10-18 08:37] fikrirasyid commented on #623
@timayhelen I've fixed the issue at https://github.com/elegantthemes/submodule-builder/commit/fb4a9ed828fe7801446384d6992d01feb21e93fe. I've explained the issue and the fix on the commit message. I'm copying the explanation here for convenience:

***

The actual issue of the ticket above is global parent incorrectly uses its children attributes. Let's say the given example at https://github.com/el

[2016-10-18 09:03] timayhelen commented on #604
@fikrirasyid I think the issue may be that some of these shortcuts "force full width." They break out of the parent content Div entirely, which means when we render the iframe inside of our row it doesn't accurately represent how the item will look at the front end. I am not sure if there is much we can do about it given how shortcodes are currently implemented.

[2016-10-18 09:05] timayhelen commented on #639
@eduard-ungureanu It seems to work for me as well. Please re-open this issue if the problem still exists and provide additional details.

[2016-10-18 09:05] #639 closed

[2016-10-18 09:07] timayhelen commented on #641
@abhi-sharm The option seems to work fine for me. I tested in the BB and VB. Can you please check again? Feel free to re-open this ticket if you have additional information about this issue.

[2016-10-18 09:07] #641 closed

[2016-10-18 09:10] timayhelen commented on #640
@eduard-ungureanu It's actually do the Section background colors. The main content BG color will only show up if a section background is set to a transparent color, or if the "use transparent background color" option is enabled.

[2016-10-18 09:10] #640 closed

[2016-10-18 11:05] fikrirasyid commented on #604
@lots0logs @timayhelen I've taken a closer to the look and it appears to be fixable. The issue occurred due to iframe previewer DOM which inherits the `max-width` rule of `.container` class.  Resetting `.container` style for FB preview (determined by `$_POST` value) html fixes the issue.

The issue has been fixed at https://github.com/elegantthemes/submodule-builder/commit/d8b9223782f04d58080faad0

[2016-10-18 11:07] fikrirasyid commented on #629
@lots0logs any update on this?

[2016-10-18 11:55] bluantinoo opened #642 "Elegant Themes subscription notice inside others plugin options."
### Problem:

I keep finding the notice of Elegant Themes subscriptions in places where it should not be.

Example: Popup Maker plugin options http://prntscr.com/cvs42m

[2016-10-18 13:56] andrey-agp opened #643 "Broken icons when using other roles than admin"
### Problem:

![screenshot_16](https://cloud.githubusercontent.com/assets/9657712/19480542/8fb6ca6e-956c-11e6-98eb-b1facd372932.png)

### Steps To Reproduce:
1. Create a new user with Contributor role
2. Open VB and try to add the module
3.
4.

[2016-10-18 14:03] andrey-agp opened #644 "The Modal Close :: broken style when using other roles than admin"
### Problem:

![screenshot_18](https://cloud.githubusercontent.com/assets/9657712/19480807/9cb61b88-956d-11e6-9d62-8d62175f3f9a.png)

### Steps To Reproduce:
1.  Create a new user with Contributor role
2.  Open VB and make any change
3.  Click `Exit Visual Builder` button in Admin Bar

The modal appears at the bottom of the page

[2016-10-18 16:03] timayhelen commented on #642
Unfortunately it's not possible to add the notice to our update notifications only, so we try to word it in a way that makes sense for everything.

[2016-10-18 16:10] lots0logs commented on #640
I think this is actually a duplicate of elegantthemes/Divi#1739 (which I have confirmed to be a bug).

[2016-10-18 16:12] lots0logs commented on #629
I was waiting for input from @timayhelen actually :grimacing:

[2016-10-18 16:30] lots0logs opened #645 "Modal :: Admin Bar Overlaps Modal When Responsive Preview Mode Is Active"
### Problem:

![2016-10-18_11-27-05-am](https://cloud.githubusercontent.com/assets/4675662/19486980/37563db4-9526-11e6-8592-6245dfded30d.png)

[2016-10-18 16:33] eduard-ungureanu commented on #639
Hi @SlavaET and @timayhelen!

I see the client did change to the default header format, but here is a screencast from my end, when the Header is in Vertical Layout, and the position is set to be on the right:

https://drive.google.com/file/d/0B8PjD3Z_XQvuNXUtZWFyX240LVk/view?usp=sharing

[2016-10-18 16:35] eduard-ungureanu commented on #640
@timayhelen even if I set the section background color to be transparent, still doesn't work as it should!

@lots0logs yes it looks like it's the same issue when using either custom background image, or custom background color!

[2016-10-18 16:47] lots0logs opened #646 "The src attribute for images has a value of "false" in some cases"
### Problem:

This results in an extra request to the server upon every re-render (http://somesite.com/false) which of course returns 404 (which is why the browser keeps trying again to retrive the image).  The issue occurs when there is no featured image applied to a post being displayed in the module. I've only confirmed the issue on the Fullwidth Portfolio Module, but we should check all module

[2016-10-18 17:03] timayhelen opened #647 "Fullwidth Menu Doesn't Go Fullwidth"
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=605198&p=33336031)

[code]

You will notice that the fullwidth menu no longer goes fullwidth.

[2016-10-18 21:24] timayhelen commented on #629
@fikrirasyid I think using Featured Images (if available) as an overlay would be nice. Let's add it.

[2016-10-18 22:02] timayhelen commented on #565
I like the idea of the first item on the list being selected automatically, so you can type in "Text" and press Enter to add a text module.

[2016-10-18 23:08] timayhelen commented on #449
@fikrirasyid Can you add the "?" modal to the backend builder as well? We should trigger the normal BB modal (the large one) and list all of the hotkeys in a similar style to the VB.

[2016-10-18 23:11] fikrirasyid commented on #449
@timayhelen sure. How about the help modal that is currently being worked tho? If I recall correctly @andyhqtran is currently significantly improving it. I assume we're using the keyboard shortcut layout only on BB and the improved one on FB?

[2016-10-18 23:12] fikrirasyid commented on #565
@timayhelen yeah, it is really desktop - like experience which feels really intuitive (҂'̀⌣'́)9

[2016-10-18 23:39] fikrirasyid opened #648 "BB :: Add ? shortcut to Backend Builder"
As @timayhelen mentioned at https://github.com/elegantthemes/Divi-Beta/issues/449#issuecomment-254665222

[2016-10-18 23:54] #449 closed

[2016-10-19 04:39] SlavaET commented on #499
Looking for a solution to not strip Divi shortcodes from the Blog/Slider modules.

[2016-10-19 06:27] SlavaET opened #649 "FB :: Wrong "Add Module" modal opened when adding new module after Blog module"
### Problem:

If you click "+" button to add new module after the Blog (in fullwidth mode), then "Add Fullwidth Module" modal is opened and you can only insert the fullwidth module into the column:

![add-after-blog-issue](https://cloud.githubusercontent.com/assets/3446682/19507807/0142746e-95f7-11e6-8916-a803dd2399d1.gif)

**Update**: This actually happens for any module which has `fullwidth` att

[2016-10-19 07:06] eduard-ungureanu commented on #604
@fikrirasyid any news about the LayerSlider?

Steps I took:
1. use the default slider that comes with the plugin
2. add a code module
3. insert the layer slider shortcode

Once I've done that the slider shows but it's very small!

<img width="960" alt="screen shot 2016-10-19 at 10 06 30 am" src="https://cloud.githubusercontent.com/assets/1719735/19508776/c1bc5a0c-95e3-11e6-8b32-10c02864cc17.png">

[2016-10-19 08:31] timayhelen commented on #604
@eduard-ungureanu Are you using the branch attached to this issue? It has been fixed for me in this PR.

[2016-10-19 08:54] #50 closed

[2016-10-19 09:13] #649 closed

[2016-10-19 09:25] timayhelen opened #650 ""Add Module" Button can't be clicked from Fullwidth Post Title"
1. Add a fullwidth section
2. Add a post title module
3. Try to click the gray (+) button to add a new module below the post title. It's not clickable.

At first it appears that the + button is too close to the main button group, but even with a large post title module the button is not clickable. It seems to be a z-index issue.

[2016-10-19 10:24] andrey-agp opened #651 "Collapse items :: collapsed items became expanded after saving in VB"
### Problem:

### Steps To Reproduce:
1.  Collapse any item in BB and update the page
2. Open VB and update the page
3. Go back to BB
4.

[2016-10-19 10:29] bluantinoo commented on #642
tima maybe I've not been clear: I find update notification inside other plugins options.

[2016-10-19 13:14] fikrirasyid commented on #604
@eduard-ungureanu as @timayhelen have mentioned, this PR specifically fixed that issue. Have you tested this PR?

[2016-10-19 18:32] lots0logs commented on #604
@fikrirasyid When you click inside of the shortcode container it makes the content disappear and it allows you to edit the shortcode inline. I'm not sure if this is the intended behavior? It seems buggy though. The shortcode doesn't always re-render itself properly afterwards.

![2016-10-19 13-29](https://cloud.githubusercontent.com/assets/4675662/19532245/8946eb0c-9600-11e6-837b-5d117c10b7be.gif)

[2016-10-19 19:09] lots0logs commented on #604
Here's what I got when testing Revolution Slider:

#### How it looks on the actual page
![screencapture-et-falgout-us-divi-revolution-slider-1476904045187](https://cloud.githubusercontent.com/assets/4675662/19533482/8ef91e62-9605-11e6-9499-8be4111ba219.png)

#### How it looks in the VB:
![screencapture-et-falgout-us-divi-revolution-slider-1476904022355](https://cloud.githubusercontent.com/assets/4

[2016-10-19 19:43] lots0logs commented on #565
@fikrirasyid Whenever you type `tab` into the search field it narrows the results to `pricing table` and `tab` but pricing table is highlighted (ideally the tab would be highlighted instead). Not sure if there are any other cases where this might occur. Can we do anything about it?

[2016-10-19 20:35] timayhelen commented on #565
@lots0logs @fikrirasyid I think we can address this in a different ticket, but I don't think it will be easy. We would need to integrate a legitimate search system. Right now we just match a string of text and exclude all items that don't include that text. Items remain listed in alphabetical order.

[2016-10-19 21:02] dm-chechik opened #652 "Text Module :: Advanced Design :: Max width field doesn't have device icon in FB"
### Problem:

Here how this setting look from the Backend Builder
![image](https://cloud.githubusercontent.com/assets/20072036/19537333/336b8366-9658-11e6-9093-ee5516f14016.png)

In the Frontend Builder this icon do not appears
![image](https://cloud.githubusercontent.com/assets/20072036/19537382/614b37b8-9658-11e6-89e7-4d9c8b5f0f00.png)

[2016-10-19 21:58] lots0logs commented on #565
@timayhelen In that case all it needs is some style luv from you and then its good to go :+1:

[2016-10-19 22:05] timayhelen commented on #565
@lots0logs Yeah I have been thinking about that...it's hard to make it look right for the Add New Section modal. I might remove styles completely from there.

[2016-10-19 23:28] fikrirasyid commented on #604
@lots0logs regarding this:

That is the initial behaviour and I think it is intentional. The rendered shortcode is actually a block of text on module's `content` area which are subject of inline editor. When the cursor is being focused into inline editor's area, shouldn't everything inside the `content` are being editable?

Regarding https://github.com/elegantthemes/Divi-Beta/issues/604#issuecomme

[2016-10-19 23:35] fikrirasyid commented on #565
@lots0logs @timayhelen yeah, it's a simple string matching search. It'd be nice to make it works in more contextual way, but I think it'd be more appropriate to be done on another ticket.

[2016-10-20 02:04] lots0logs commented on #604
@fikrirasyid Right I understand. What I was eluding to in my last comment was that I think it would be better to disable the inline editor for the module if its displaying a shortcode. Considering the limitations and issues we know exist with rendering the shortcodes, I think that we should try to minimize the frequency of rendering attempts (since each additional render won't always produce the s

[2016-10-20 03:42] fikrirasyid commented on #604
@lots0logs it can be one of the option. But consequently, disabling inline editor when a tinyMCE has a shortcode disable this as well:

![the drawback](https://cloud.githubusercontent.com/assets/916442/19545568/88f700fe-96b1-11e6-9e59-b209898f38a8.jpg)

I'm not sure about the frequency of appearance and which case that we should prioritize, but I think it is important to notice that this will be o

[2016-10-20 04:30] SlavaET opened #653 "FB :: Rows are missing from pasted Specialty Sections"
### Problem:

If you copy the specialty section then it'll be pasted without Rows:
![specialty-paste-issue](https://cloud.githubusercontent.com/assets/3446682/19546239/d928a5f2-96af-11e6-93c9-34bef548d604.gif)

### Steps To Reproduce:
1. Open page in FB;
2. Add Specialty Section with some rows containing modules;
3. Copy that section;
4. Paste the section.

[2016-10-20 06:47] SlavaET commented on #499
Done. Shortcodes no longer truncated from the content of the Blog and Post Slider modules, they'll be rendered correctly and will not affect the layout of other elements on the same page.

[2016-10-20 08:00] SlavaET commented on #643
Note: the fix is in the `submodule-core` directory.

[2016-10-20 08:00] SlavaET commented on #644
Note: the fix is in the `submodule-core` directory.

[2016-10-20 08:39] fikrirasyid commented on #629
@lots0logs @timayhelen I've added video overlay at https://github.com/elegantthemes/submodule-builder/commit/4d48f563c3165ecc52103a3739b64ca68d927c6c. Basically if a post uses video format and has a featured image, the featured image will be used as video's overlay cover.

![has-no-overlay](https://cloud.githubusercontent.com/assets/916442/19552728/53c2c01a-96db-11e6-83e5-fe230da13987.jpg)

[2016-10-20 08:43] SlavaET commented on #647
Fixed.
**Note:** I was able to reproduce the issue only when Parallax is enabled for section.

[2016-10-20 09:53] FaycalBoutam opened #654 "Can't drag modules to specialty section"
### Problem:

I think this is related to https://github.com/elegantthemes/Divi-Beta/issues/352

https://www.youtube.com/watch?v=lYzoBxRWPlE

[2016-10-20 18:08] SlavaET commented on #652
Fixed.
Btw, It was missing not only in Text module, but in all the modules which have the Max Width option.

[2016-10-20 18:50] lots0logs commented on #604
I didnt find that to be the case in my testing. It would only render the first time correctly. I'll do some more testing today and try to mimic more real-world use...

[2016-10-20 19:11] lots0logs commented on #644
@SlavaET Please see my comment on PR. Thanks.

[2016-10-20 19:23] lots0logs commented on #648
@fikrirasyid Let's use the same font weight and colors as the VB. Also, I think we need to only handle keyboard events when the cursor is hovered over the builder since we don't own the page (meaning who knows what kind of plugins or theme features we might be operating alongside of)

[2016-10-20 19:28] #561 closed

[2016-10-20 19:32] timayhelen commented on #648
@lots0logs Font styles should match the BB, not the VB. I am going to make one minor adjustment, but I think it looks pretty good. Fikri pulled the header styles from the Fullwidth Header module and the text styles are inheriting the correct colors and sizes.

[2016-10-20 20:17] Jronk commented on #325
Ok, here is the current product setups to be tested:

Every product below, uses the same submodule-builder branch: `325-add-builder-plugin-support`

Divi Builder Plugin:
branch: `533-front-end-builder`
PR: https://github.com/elegantthemes/divi-builder/pull/535

Divi:
branch: `325-add-builder-plugin-support`
PR: https://github.com/elegantthemes/Divi/pull/2594

Extra:
branch: `325-add-builder-plugin

[2016-10-20 20:19] Jronk commented on #325
Specific features to test:
- [ ] modal snapping should not function in the divi builder plugin
- [ ] nothing should be weird or different in Extra or Divi
- [ ] all 3 products zip/build grunt tasks have been updated, make sure all those turn out perfect

[2016-10-20 20:55] timayhelen commented on #594
@SlavaET I am not sure if I understand this fix correctly, but it doesn't work the way I imagined.

Let's say you are in Tablet mode and you open up a settings modal and then you enable Responsive Editing for a setting. In this PR it will show the "Desktop" tab first, and when you make adjustments nothing happens because you are in Tablet preview.

I think we should just keep the current preview m

[2016-10-20 20:58] lots0logs commented on #594
@timayhelen

Hmmm..that's not the behavior I got when testing it. I will test it again.

[2016-10-20 21:12] timayhelen commented on #565
@fikrirasyid I think we should change this UX a bit. I think it's a great feature, but I also think that 99% of people will not know it exists. So for the most part, people will be opening up tooltips and they will just see that the first item on the list is a slightly different color and not know why. It's also a bit confusing when you are hovering over items on the list to select them with your

[2016-10-20 21:39] lots0logs commented on #629
@fikrirasyid It'd be nice if we could achieve some level of consistency (though not sure if its possible)

![screencapture-et-falgout-us-divi-1476998966099](https://cloud.githubusercontent.com/assets/4675662/19578756/c22900ee-96e2-11e6-9886-78dabeb75588.png)

@timayhelen What do you think?

[2016-10-20 21:58] timayhelen commented on #629
@fikrirasyid Ideally we would use the overlay for all video types, and trigger the video to play when the overlay is clicked if possible.

[2016-10-20 22:02] timayhelen commented on #594
@lots0logs Turns out I was using the wrong Divi repo. Sorry! I was tested the grunt zip task in https://github.com/elegantthemes/Divi-Beta/issues/325#issuecomment-255216437

[2016-10-20 22:27] lots0logs commented on #646
@fikrirasyid @Jronk Please see my comment on the PR. Thanks!

[2016-10-20 22:47] lots0logs commented on #650
@fikrirasyid For modules that don't have a lot of height, the settings bar and add new module button overlap. Can we improve it?

![2016-10-20_05-41-23-pm](https://cloud.githubusercontent.com/assets/4675662/19580646/447e2d94-96ed-11e6-9d25-c16658cbf8ed.png)

[2016-10-20 23:02] lots0logs commented on #648
@timayhelen Here's how it looks on my end:

![2016-10-20_06-00-42-pm](https://cloud.githubusercontent.com/assets/4675662/19580963/417a4022-96ef-11e6-8de9-92f8284163b4.png)

________________________________

![2016-10-20_06-02-25-pm](https://cloud.githubusercontent.com/assets/4675662/19580983/66a067c8-96ef-11e6-8aa4-e9f25f1f5379.png)

[2016-10-21 00:34] lots0logs commented on #654
@fikrirasyid Can we make it so that there is no dropzone shown when dragging a module over dropzones that only accept rows? It seems counterintuitive to me to show a dropzone in a place that the drop will fail because the type of element dropped isn't allowed there :thinking:

[2016-10-21 01:19] fikrirasyid commented on #629
@lots0logs can you elaborate more on what you mean by more consistency? If a post has no featured image, it'll fallback to its original video player. I don't think there's a way to modify original video player.

Based on the screenshot above, all post which has featured image appear to be consistent except for the vimeo based post. Is that what you mean?  I tried importing the layout you give but

[2016-10-21 01:21] fikrirasyid commented on #654
@lots0logs actually that is what I was trying to do but after a while I still couldn't find a way to do so thus why I end up with this fix :facepalm: I'll try to look at it again.

[2016-10-21 01:26] fikrirasyid commented on #648
@lots0logs @lots0logs since there's no specific UI guide for it, what I did:

1. Reused BB's modal system and UI as much as possible
2. Used fullwidth header's subtitle styling
3. Used FB's styling for <kbd /> and keys and description indentation

Thus:

1. FB's styling for <kbd /> and keys + description indentation
2. Everything else should match BB's styling

Basically it exactly like what @tima

[2016-10-21 01:43] fikrirasyid commented on #648
Regarding this:

Your argument makes sense but I feel that it is not intuitive for help shortcut to depend on cursor to work. If to trigger a help via shortcut requires a hover toward builder, it makes more sense to click a button on a builder to trigger the modal instead (something we haven't had).

Furthermore, I haven't found a plugin which utilizes keyboard shortcut that could possibly conflic

[2016-10-21 02:23] fikrirasyid commented on #565
@timayhelen you're right. It shouldn't be visible by default (it should only be visible after key press / filtering) and there should only one select state exist. I'll have it updated.

[2016-10-21 02:37] fikrirasyid commented on #646
@lots0logs @Jronk replied at https://github.com/elegantthemes/submodule-builder/pull/1327#issuecomment-255279454

[2016-10-21 03:12] lots0logs commented on #646
@fikrirasyid See my reply on the PR. Thanks :smiley:

[2016-10-21 05:55] Jronk commented on #623
@fikrirasyid Please see my comment on the PR. Thanks 😃

[2016-10-21 05:59] SlavaET commented on #607
@timayhelen I was able to reproduce this issue only in Post Slider and Fullwidth Post Slider modules. Fixed it there.

[2016-10-21 06:04] #594 closed

[2016-10-21 06:04] #647 closed

[2016-10-21 06:04] #653 closed

[2016-10-21 06:05] SlavaET opened #655 "FB :: Broken styles for checkboxes in Settings Modal"
### Problem:

Checkboxes do not look right in Settings modal, they're missing some margin:
![image](https://cloud.githubusercontent.com/assets/3446682/19588292/83adf79e-9786-11e6-8268-c8bac98964aa.png)

### Steps To Reproduce:
1. Open settings of any module in FB
2. Check the appearance of checkbox

[2016-10-21 06:55] eduard-ungureanu opened #656 "FB :: Edit on iPad Pro"
### Problem:

When using the iPad Pro to make edits in the Visual Builder there are some issues, for example changing a color. The client recorded this screencast:

https://www.dropbox.com/s/dks26ljalsr1t4d/DIVI%20iPad%20Pro%20issues.mov?dl=0

[2016-10-21 07:01] fikrirasyid commented on #565
@timayhelen I've incorporated your feedbacks at https://github.com/elegantthemes/submodule-builder/issues/1321. The experience of selecting module using hover and keyboard's arrow (which is less obvious now) has been unified:

![unified hover keyboard experience](https://cloud.githubusercontent.com/assets/916442/19589499/a46845ec-9796-11e6-812d-1b7c09f9f0a9.gif)

Here's what happens:

1. When add

[2016-10-21 07:55] fikrirasyid commented on #623
@Jronk I've incorporated your feedback. I've replied your message at https://github.com/elegantthemes/submodule-builder/pull/1309#discussion_r84433829

[2016-10-21 08:18] fikrirasyid commented on #646
@lots0logs I've replied it at https://github.com/elegantthemes/submodule-builder/pull/1327#issuecomment-255322166

[2016-10-21 09:14] eduard-ungureanu opened #657 "FB :: Code Module + Text Module"
### Problem:

There was another issue about the code module #559 but I don't think those are related so I decided to open a new issue.

The problem is when I'm using a custom html code which contains this code:
[code]
And bellow that code module a text module, containing only a simply h4 tag, in FB I cannot edit anymore the text module settings.

The custom html code  + custom css classes will be

[2016-10-21 09:40] timayhelen commented on #604
@lots0logs Let's leave it the way it is and open a different ticket at a later time if we want to change it.

[2016-10-21 09:53] timayhelen commented on #648
@lots0logs We want the modal styles in the BB to be consistent, so it doesn't make sense for one modal to be changed to the VB style.

[2016-10-21 09:54] fikrirasyid commented on #650
@lots0logs I've pushed a fix which should fix it. I've explained what actually happened and I'm copying the commit message here for clarity reason:

[2016-10-21 10:16] timayhelen commented on #650
@fikrirasyid The changes mentioned were added to ensure that the distance between (+) buttons are the same access the board. They were all different before, so it looked quite strange. Basically when you hover hover a standard-sized modules, whether is be a normal module in a standard section, specialty section or a fullwidth module in a fullwidth section, the three (+) buttons should be equally s

[2016-10-21 10:25] timayhelen commented on #650
So in this PR, that consistency is lost for "small" Fullwidth modules, but that's ok.

[2016-10-21 10:32] #655 closed

[2016-10-21 10:38] fikrirasyid commented on #650
@timayhelen Ah I see, I get it now. Thank you for clarifying it.

Yeah, I think we can make exception for short modules

[2016-10-21 10:40] fikrirasyid commented on #629
@timayhelen Ah, I was missing a part of your reply. I was reacting to this:

Regarding this:

If no featured image found, which image that needs to be used as overlay?

[2016-10-21 10:59] timayhelen commented on #629
@fikrirasyid We only use a thumbnail when featured images are defined. I think I was confused by your screenshot because it made it seem like features images were not used for Youtube and Vimeo videos, but it looks like those were examples of videos without featured images?

[2016-10-21 11:07] fikrirasyid commented on #629
@timayhelen ah I see. Basically at `master` now there's no overlay for all videos at all. At this PR, overlay is added for blog module's video format either it is self-hosted, or hosted on 3rd party service if the post has featured image.

So at the time being, If there's no featured image, the post's video will have no overlay.

[2016-10-21 13:38] lots0logs commented on #604
@timayhelen In my testing Essential Grid and Layer Slider are improved. Revolution slider still [has issues](https://github.com/elegantthemes/Divi-Beta/issues/604#issuecomment-254911199). Do you want to leave it as is for now?

[2016-10-21 13:54] fikrirasyid commented on #629
@timayhelen I've incorporated your feedback. Clicking video overlay now automatically plays the video.

![clicking overlay now auto plays the video](https://cloud.githubusercontent.com/assets/916442/19600751/8e92014c-97d0-11e6-8ac2-fc09736e489a.gif)

[2016-10-21 14:23] fikrirasyid commented on #654
@lots0logs I've incorporated your feedback at https://github.com/elegantthemes/submodule-builder/commit/1ab81e2fec9ad70da1cc767ed0e118a9d67177eb. Dragged module now can't be incorrectly dropped at specialty section's `.et_pb_column`.

[2016-10-21 16:32] fikrirasyid commented on #656
@eduard-ungureanu can you ask the customer which version of iOS s/he is using? I've tried replicating the `cannot change color` issue using my iPad mini which runs on iOS 9.3 but I can change the color as expected.

Anyway, while VB work on touch device, I think user will get more benefit if using Divi / VB on desktop because VB uses lots of mouse-based interaction such as shortcut and right click

[2016-10-21 16:48] fikrirasyid opened #658 "Replace jQuery.inArray() with lodash' _.includes()"
We use lots of `jQuery.inArray()` for checking value existence in array. It'd be easier to read and cleaner if  they are being replaced by lodash' `_.includes()`. Besides, we bundle used lodash method to our `bundle.js` while `jQuery` isn't being loaded to bundle.js.

[2016-10-21 19:00] lots0logs opened #659 "Extra :: Portability Tooltip :: Some Styles Are Not Right"
### Problem:
Portability tooltip shows border when it has focus. Also the choose file button isn't styled correctly.

![2016-10-21_01-15-38-pm](https://cloud.githubusercontent.com/assets/4675662/19607643/bea0b814-9790-11e6-86a1-47efe47a4a1c.png)

[2016-10-21 19:01] lots0logs opened #660 "Extra :: Tooltips :: Page Scrolls When Opening Tooltips"
### Problem:
Page scrolls when tooltip is opened.

![2016-10-21_13-24](https://cloud.githubusercontent.com/assets/4675662/19607792/d4d358a2-9791-11e6-8a4f-f08a35f0c5c4.gif)

[2016-10-21 19:04] lots0logs opened #661 "Extra :: Preloader :: When Saving Layout To Library Preloader Is Off-Center"
### Problem:
The preloader is off-center when saving a layout to the library:

![2016-10-21_13-43](https://cloud.githubusercontent.com/assets/4675662/19608139/c26737c6-9794-11e6-9a2e-89620dd48bba.gif)

[2016-10-21 19:42] lots0logs commented on #607
@SlavaET I'm still seeing the issue on the post slider module (non-fullwidth):

![2016-10-21_14-39](https://cloud.githubusercontent.com/assets/4675662/19609396/86e662fa-979c-11e6-9c62-14d0748e5ebc.gif)

[2016-10-21 19:51] lots0logs commented on #643
This issue is being addressed on the same PR as #644 so lets track it there.

[2016-10-21 19:51] #643 closed

[2016-10-21 20:21] timayhelen commented on #629
This doesn't seem to work for me. I get some strange results. I tested a blog module with 2 video posts, both with featured images. One was a youtube video and one was a self-hosted MP4.

This is the result:

![blog](https://cloud.githubusercontent.com/assets/3333028/19610370/14b1f38a-9791-11e6-88bb-c8a9bdc710f3.gif)

[2016-10-21 20:30] timayhelen commented on #371
this will be addressed in the builder plugin issue.

[2016-10-21 20:30] #371 closed

[2016-10-21 20:46] timayhelen opened #662 "Issues with dragging duplicated fullwidth modules"
Try this:
1. Load the Homepage Basic layout.
2. Duplicate the fullwidth section
3. Try to drag the fullwidth header module inside the duplicated fullwidth section. It doesn't work correctly. When you try to drag the module, the entire section is moved.

I also ran into strange issues while moving the fullwidth header module between two fullwidth sections. At some point, things start to disappear.

[2016-10-21 20:56] Jronk commented on #325
Note: https://github.com/elegantthemes/submodule-builder/pull/1321/files#diff-1d6c49a9d39da2441552d9482864e100R1

[2016-10-21 23:43] #604 closed

[2016-10-21 23:43] #623 closed

[2016-10-21 23:43] #629 closed

[2016-10-21 23:43] #565 closed

[2016-10-21 23:43] #646 closed

[2016-10-21 23:43] #648 closed

[2016-10-21 23:43] #651 closed

[2016-10-21 23:43] #650 closed

[2016-10-21 23:43] #652 closed

[2016-10-21 23:43] #654 closed

[2016-10-21 23:43] #645 closed

[2016-10-21 23:44] #644 closed

[2016-10-22 00:52] fikrirasyid opened #663 "Broken slider input on advanced setting button fields"
### Problem:
When slider input on advanced settings tab on button module's setting is changed, it opens other slider input's responsive mode.

Note: most slider input doesn't cause this issue. I found this on button modules' advanced options button input slider.

### Steps To Reproduce:
1. Add button module
2. Open button module's settings
3. Switch to advanced design tab
4. Enable `Use Custom Sty

[2016-10-22 01:46] fikrirasyid opened #664 "Console throws `Uncaught Invariant Violation: findDOMNode was called on an unmounted component` when module is moved"
### Problem:

Console throws `Uncaught Invariant Violation: findDOMNode was called on an unmounted component` when module is moved

### Steps To Reproduce:
1.  Load `homepage basic` layout
2. Open dev tools > console
3.  Move blurbs to another column

### Additional Information:

**Device**:
Macbook Pro Retina 15"

**Operating System**:
OSX El Capitan

**Browser**:
Latest Chrome

**Screen Resoluti

[2016-10-22 03:59] SlavaET commented on #607
@lots0logs can you please export and share the layout of that page? I cannot reproduce it locally.

[2016-10-22 04:08] timayhelen commented on #607
@lots0logs @SlavaET It actually occurs on the front end as well. It looks like slides that are placed into non 1 column rows do not have their height synced. I am not sure why, but you can see it in our live demo:

https://www.elegantthemes.com/preview/Divi/slider/

I think it would be better to have sliders in smaller columns work the same way as they do in fullwidth and 1 column rows.

[2016-10-22 04:11] fikrirasyid opened #665 "Colorpicker throws "changing uncontrolled input of type" error when image module's hover overlay color value is changed"
### Problem:

When newly added image module's hover overlay color is updated, this error occurs:

### Steps To Reproduce:
1. Create new layout, open Chrome's dev tool console
2. Add image module
3. Save layout, refresh the page
4. Open image module settings
5. Toggle `Open in Lightbox` option, toggle `Image Overlay` option
6. Change `Hover Overlay Color` color

### Additional Information:

*Please

[2016-10-22 10:25] fikrirasyid commented on #663
@SlavaET since this commit related to https://github.com/elegantthemes/Divi-Beta/issues/652 which you were working on, is it possible for you to take a look at this issue's PR just in case I'm missing something? Thanks :D

[2016-10-22 10:47] andrey-agp opened #666 "Custom CSS :: <br/> added to the code"
### Problem:

### Steps To Reproduce:
1.  Create a new section in VB
2. Add more than one css property and press "enter"after each line
[code]
3. Save and close VB
4. Open BB and check the css code
![screenshot_11](https://cloud.githubusercontent.com/assets/9657712/19618822/e0e7c9e4-9876-11e6-918a-e027dea10165.png)
![screenshot_10](https://cloud.githubusercontent.com/assets/9657712/19618830/2d61ff

[2016-10-22 11:39] FaycalBoutam opened #667 "Empty rows with padding looks different on the front-end"
### Problem:

It's what Divider modules are for, but if a user used an empty row with custom padding to add extra space they will see different results when exiting the VB.

https://www.youtube.com/watch?v=a_aZzMvdcts

[2016-10-22 12:25] fikrirasyid commented on #667
@FaycalBoutam on empty padding, we have to make a space for add column button. It is basically the same with empty column:

![not identical](https://cloud.githubusercontent.com/assets/916442/19619267/460747bc-988d-11e6-9ff9-92c485a33074.jpg)

If user needs a spacing, as you have said, that's why divider module are for :)

[2016-10-22 12:46] FaycalBoutam commented on #667
@fikrirasyid I see. Thanks 👍

[2016-10-22 16:27] fikrirasyid commented on #662
I think I've found the cause of this issue but I haven't found a decent solution for it. If my hypothesis is correct, this issue happens because duplicated section hasn't got proper sortable setup. Section content sortable is set when component is mounted (created). We are under impression that duplicated section is newly created and mounted thus it should get proper `makeSortable()`. Meanwhile, w

[2016-10-22 18:31] OlgaT opened #668 "BB :: Shortcuts :: Page Settings :: Scrollbars Missing After Closing Modal"
### Problem:

When we use the "o" shortcut for page settings in the backend builder, the browser scrollbars both have disappeared (Windows 7 , Firefox, Chrome) after closing the options dialog

### Steps To Reproduce:
1.  Open page
2. Press o
3. Save and close the settings window
4. Page can't be scrolled, but all visible elements work fine

[2016-10-22 22:19] #667 closed

[2016-10-22 22:21] lots0logs commented on #666
Duplicate of elegantthemes/Divi#2110

[2016-10-23 02:17] mshigekawa opened #669 "Visual Builder Spinner of Death after cloning site"
### Problem:

When cloning a Divi site using WPMU Cloner, the Visual Builder keeps spinning and never loads on the target (cloned site). The Visual Builder however loads successfully on the original source site. I didn't experience this issue when cloning sites using previous versions of Divi (before 3.0.15).

Console Output:
TypeError: Cannot read property 'edit_module' of undefined(…)

### Steps

[2016-10-23 03:10] lots0logs commented on #669
Hi @mshigekawa, there are very few plugins available that actually clone an entire site properly. By properly, I mean in a way that results in a fully functioning copy of the original site. I recommend trying the [Duplicator](https://wordpress.org/plugins/duplicator/) plugin instead (it's known to work well with Divi).

[2016-10-23 21:05] kary4 opened #670 "Plugin compatibility :: WPML :: Not able to add or modify a page trough WP-Admin"
### Problem:

In this website http://www.azrepair.eu  WPML does not work with divi. In the log file it says:
[22-Oct-2016 08:11:15 UTC] PHP Notice: Trying to get property of non-object in /customers/a/d/6/azrepair.eu/httpd.www/wp-content/themes/Divi/functions.php on line 8425
[22-Oct-2016 08:11:15 UTC] PHP Notice: Trying to get property of non-object in /customers/a/d/6/azrepair.eu/httpd.www/wp-co

[2016-10-24 00:15] kary4 opened #671 "Divi Timeout Error"
### Problem:

Can anyone take a look please, I'm out of ideas why Divi Builder Timeout message still appears here:
https://theworklodge.com
- All plugins are deactivated;
- php memory is set to 768M;
- Installed new divi version by myself;

Ask me for a token.
Ticket: https://www.elegantthemes.com/forum/viewtopic.php?f=190&t=608512&p=3351899#p3351899

[2016-10-24 05:55] SlavaET commented on #663
@fikrirasyid your fix doesn't seem to affect the functionality added here - https://github.com/elegantthemes/Divi-Beta/issues/652
Everything work as expected.

[2016-10-24 07:33] SlavaET commented on #607
Fixed.

[2016-10-24 14:34] bhalsekhar opened #672 "Submit Button of Comment Module Doesn't Show Icon"
### Problem:
If you set button icon from comment module then it will not showing icon but it's working in reply button.
### Steps To Reproduce:
1.  Add Comment module
2. Enable Use custom style for button
3. add button icon

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**:
All Device

**Operating System**:
All

[2016-10-24 16:23] kary4 opened #673 "Advanced Design - Custom CSS adds <br />"
### Problem:

I can't reproduce the issue locally. I can't find out why on this page http://www.sailorthemes.com/issue-test/  when I add some custom styles to the Custom CSS>Main Element filed (Visual Builder!), then save the changes and click the Edit Page at the very top the custom css looks like:
[code]

Ticket: https://www.elegantthemes.com/forum/viewtopic.php?f=21&t=608135

[2016-10-24 17:34] lots0logs commented on #673
Duplicate of #666

[2016-10-24 17:34] #673 closed

[2016-10-24 17:35] lots0logs commented on #672
Issue moved to [elegantthemes/Divi #2595](https://github.com/elegantthemes/Divi/issues/2595) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-24 17:35] #672 closed

[2016-10-24 18:04] lots0logs commented on #666
@SlavaET This issue was originally discovered in the BB. I can still reproduce the issue there.

[2016-10-24 18:12] lots0logs commented on #658
@fikrirasyid Please see my comment on PR. Thanks.

[2016-10-24 18:27] kary4 opened #674 "Update notifications don't work"
### Problem:
Same problem here: http://www.investtech.com.br
There is no update notifications. I checked everything I could, no result.

Ticket: https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=602064&start=10

[2016-10-24 18:50] lots0logs commented on #663
@fikrirasyid

![2016-10-24 13-44](https://cloud.githubusercontent.com/assets/4675662/19659181/a09ea17a-99f0-11e6-9cda-19b19268199a.gif)

The same error from #664 shows in console though I was not doing DnD (as you can see)

[2016-10-24 18:59] timayhelen commented on #663
@SlavaET @fikrirasyid I noticed something else while looking into this issue, related to https://github.com/elegantthemes/Divi-Beta/issues/652

I didn't realize that this PR automatically enabled responsive editing for all settings while responsive previews are enabled. This shouldn't be the case. Basically we should hide the responsive editing tabs unless they have been enabled. If they have not

[2016-10-24 19:15] lots0logs commented on #607
@SlavaET The slide content isn't properly positioned for all slides (except the one with the largest height). This happens in the VB and on the frontend page.

![2016-10-24_02-02-35-pm](https://cloud.githubusercontent.com/assets/4675662/19659916/71978f42-99f3-11e6-8749-3bcc8c6197a1.png)

I also noticed something strange in the VB:
![2016-10-24 14-05](https://cloud.githubusercontent.com/assets/4675

[2016-10-24 19:29] lots0logs commented on #659
@SlavaET The choose file button text should be `#fff`

[2016-10-24 19:36] lots0logs commented on #660
@SlavaET The bottom of the tooltip appears behind the settings bar now:

![2016-10-24_02-34-02-pm](https://cloud.githubusercontent.com/assets/4675662/19660910/3f1b60b2-99f7-11e6-9ee0-94a9ef0dd3d0.png)

---------------------------
![2016-10-24_02-34-16-pm](https://cloud.githubusercontent.com/assets/4675662/19660916/439f0300-99f7-11e6-8064-2e4327fae352.png)

[2016-10-24 19:42] lots0logs commented on #663
@timayhelen Can't believe we missed that! :doh: ..Though if I remember correctly, part of the original issue was being kicked out of responsive preview mode just because you attempted to edit a setting without first switching to the responsive controls for that setting. I'm not sure how we address that without enabling the responsive controls when the preview mode is active? If you are in tablet m

[2016-10-24 19:43] timayhelen commented on #659
I will addd it.

[2016-10-24 19:43] #659 closed

[2016-10-24 19:46] lots0logs commented on #674
@kary4 I sent you a message on Slack...

[2016-10-24 19:46] #674 closed

[2016-10-24 19:49] timayhelen commented on #663
@lots0logs It's fine that the adjustments affect all breakpoints until responsive editing is enabled. It should be a choice not a requirement in my opinion, and that's how it was intended to work.

`9 times out of 10 I personally, forget to switch before making a change and it kicks you out of the preview mode and back to desktop mode. How can we address that?`

It wont't kick you to desktop becau

[2016-10-24 21:00] lots0logs commented on #663
That was not the behavior when I created #594 ..is that not related to what we're talking about here? Perhaps I misunderstood :grimacing:

[2016-10-24 21:02] timayhelen commented on #663
@lots0logs When responsive editing is enabled, the active tab is synced with the current responsive preview. That's what was fixed in Slava's PR. When responsive editing is not enabled, there was never an issue when being kicked out of the current responsive preview.

[2016-10-24 21:10] timayhelen commented on #663
Never mind I guess there was an issue, but there shouldn't be. So this is how it should work:

1. When responsive editing is _not_ enabled, never change the responsive preview mode while editing. There is no reason to because, without responsive editing enabled, the adjustments will affect all breakpoints.
2. When a responsive preview toggled, all options with responsive editing _enable_ should ha

[2016-10-24 21:12] lots0logs commented on #663
@timayhelen I was really scratching my head at your previous comment :confused:  I thought I might be losing my mind or something lol

[2016-10-24 21:16] lots0logs commented on #663
So lets say I have responsive preview mode set to mobile phone view and I open the advanced design settings tab where I've never editing any settings before (so no responsive settings are enabled). When I edit one of the settings without first enabling responsive mode that will affect all views? Even though I am in the mobile phone view? I don't think that is desireable nor expected behavior :grim

[2016-10-24 21:16] timayhelen commented on #660
@lots0logs coincidentally I think this was fixed in @SlavaET's other PR.

https://github.com/elegantthemes/submodule-builder/pull/1341/commits/52545d963af15f0e3c209833c6866fba72e02e4a

[2016-10-24 21:17] timayhelen commented on #663
@lots0logs Yes that is how it should work.

[2016-10-24 21:18] lots0logs commented on #663
If I am looking at the mobile view I think its safe to say when I edit a style I want to edit it for mobile. I wouldnt expect to be editing the style for all views. Am I crazy?

[2016-10-24 21:25] timayhelen commented on #663
@lots0logs It's not how I want it to work and it's doesn't make sense to me due to how the feature is currently implemented.

[2016-10-24 21:26] lots0logs commented on #660
@timayhelen I confirmed that it is indeed fixed by the PR. However the position of the tooltip is still too low. It now appear in front of the settings bar but in the same position as shown in the screenshots above.

[2016-10-24 21:28] timayhelen commented on #660
@lots0logs @SlavaET  Yeah it does look like the positioning if off a bit.

[2016-10-24 21:29] lots0logs commented on #663
@timayhelen

![okay](https://cloud.githubusercontent.com/assets/4675662/19664644/037cde68-9a07-11e6-8b75-3e9c9b00828b.gif)

[2016-10-24 21:30] timayhelen commented on #660
(edited) @lots0logs Actually I just checked master and it seems to be positioned that way in Divi as well. I think it has always been that way, so let's just keep it for now.

[2016-10-24 21:38] timayhelen commented on #666
@SlavaET Dustin and I did some testing, and we think that the br's being added in the BB may be due to different line break characters being used on different operating systems. Dustin, running Linux, get's br's added to custom CSS while I don't (working on the same site with the same browser). Can you look into it?

[2016-10-24 23:37] #665 closed

[2016-10-24 23:37] #661 closed

[2016-10-24 23:37] #668 closed

[2016-10-24 23:40] #664 closed

[2016-10-24 23:40] #660 closed

[2016-10-25 02:26] fikrirasyid commented on #663
@lots0logs @timayhelen @SlavaET I've pushed commit which should fix the issue mentioned by @timayhelen at https://github.com/elegantthemes/Divi-Beta/issues/663#issuecomment-255867163.

Notes: it turns out that input text responsive component (like the one that is used by Blurb's advanced tab image max width) has the same unwanted behaviour so I implemented the patch on responsive input as well.

[2016-10-25 02:49] fikrirasyid commented on #658
@lots0logs I've replied it at https://github.com/elegantthemes/submodule-builder/pull/1334#pullrequestreview-5505977

[2016-10-25 03:52] mshigekawa commented on #669
RESOLVED. This issue ended up being related to WPMU Hummingbird (forgot I had recently installed this at the same time I updated to DIVI 3.0.15) which minified scripts related to the DIVI Visual Builder thus breaking the Visual Builder after cloning a site.

See: https://premium.wpmudev.org/forums/topic/hummingbird-breaks-divi-visual-builder-when-cloning-site?replies=1#post-1162926

[2016-10-25 03:52] #669 closed

[2016-10-25 05:20] SlavaET commented on #666
@timayhelen @lots0logs I extended the pattern we use to find the New Line characters in strings and now it should be handled properly for different OS.
Also, I checked the case when it wasn't saved correctly for child elements. Turned out Divi didn't process the New Line characters for such items at all ( in BB only ), I fixed that case in my PR as well.

[2016-10-25 06:50] SlavaET commented on #607
@lots0logs these 2 issues are not related to the Slider Resizing fix actually :)
Anyway, I fixed them both in my PR. Here are some comments:
1) ```The slide content isn't properly positioned for all slides (except the one with the largest height). This happens in the VB and on the frontend page.```
I fixed it using the `display: table;` and `vertical-align: middle;` properties. It works perfectly

[2016-10-25 07:00] SlavaET commented on #671
@kary4 I see you suggested to increase the `WP_MEMORY_LIMIT` in the `wp-config.php` file, but it won't work if `memory_limit` set to low value in the `php.ini`. So another thing to try is to check the `memory_limit` in the `php.ini` file and try setting it to 128 or 256

[2016-10-25 10:19] eduard-ungureanu opened #675 "BB :: Text Module as Global Module"
### Problem:

When using a global text module, in 2 or more pages, if I go and update it's text content, the update will show on the front end, but it will not update it's content, for every instances when in BB.

For example:
Having 2 pages, which contains the same Text Global module, if I update the text content, in the second page, it will reflect that change on both pages, but the first page,

[2016-10-25 10:45] SlavaET commented on #550
I found a way to improve the accessibility of short Module Settings popover within the narrow rows:
![popover-access](https://cloud.githubusercontent.com/assets/3446682/19682836/43711582-9ad1-11e6-9634-4cfff20c4f32.gif)

So, when you hover over the visible part of Settings Popover, then Row Settings will disappear and it'll be possible to access all the buttons. It works under the following condit

[2016-10-25 11:22] SlavaET commented on #582
Fixed.
**Note**: the fix is in the `submodule-epanel`

[2016-10-25 11:24] SlavaET commented on #535
@timayhelen Do we still need this button? if yes - how this button should look like and where to place it?

[2016-10-25 13:35] kary4 commented on #671
@SlavaET Yes, I don't believe the information in wp-config.php file :) So, I actually added
[code]
to the footer.php file to check the real memory_limit value. It's really set to 768. Or do you think phpinfo() function gets the value from the wp-config file?
Anyway, I'll ask him to add the value also to the php.ini,
Thank you.

[2016-10-25 13:42] SlavaET commented on #671
@kary4 you can send me the token in Slack - I'll take a look.

[2016-10-25 13:47] kary4 commented on #671
@SlavaET It seems he disabled the support plugin :( I'll update you later, sorry.

[2016-10-25 15:51] fikrirasyid commented on #663
@timayhelen I've pushed several commits to this PR. It turns out the last newly found bug you mentioned via Slack brought me to found out lots of bugs which actually existing at `master`. I end up checked everything that can be check related to the responsive input and fixed them. These are things to know about responsive inputs:

***

1. There are three responsive inputs: text, range, and margin/

[2016-10-25 16:46] lots0logs opened #676 "Slider Module :: Mobile Phone Preview :: Heading Font Size Doesn't Match The Default Shown In Module Settings"
### Problem:

![2016-10-25_11-41-32-am](https://cloud.githubusercontent.com/assets/4675662/19695342/6ee4bc56-9aa8-11e6-9d91-2cc977aa69fc.png)

### Steps To Reproduce:
1.  Use the Homepage Extended Layout
2. Switch to Mobile Phone Preview
3. Open the settings for the first slide.
4. Switch to the Design tab and look at the font-size.

[2016-10-25 17:08] lots0logs commented on #663
![2016-10-25_12-06-03-pm](https://cloud.githubusercontent.com/assets/4675662/19696170/af07116e-9aab-11e6-9bcd-6679b31ba5f1.png)

[2016-10-25 17:18] lots0logs commented on #663
I tested this branch thoroughly both the BB and VB and didnt find any issues (that arent already on master anyway :stuck_out_tongue_winking_eye: ) :+1:

[2016-10-25 17:48] lots0logs commented on #607
I think the change to `display: table;` will be fine. I did some googling to see if there could be any side-affects that I hadn't considered and couldn't find anything sooo, LGTM! :+1:

[2016-10-25 18:17] lots0logs commented on #582
@SlavaET The fix works :+1:  However, I'm seeing the following notice in the debug log when on this branch:
[code]

[2016-10-25 18:50] timayhelen opened #677 "Error when loading Homepage Extended layout"
If you load the Homepage Extended layout, and then attempt to perform an action in the builder, the builder breaks with the following errors:

![screen shot 2016-10-25 at 11 14 57 am](https://cloud.githubusercontent.com/assets/3333028/19699704/3de53300-9aa9-11e6-8d3d-fe768f16bd1d.png)

[2016-10-25 18:51] timayhelen commented on #676
I don't think this is something that is fixable, at least not easily or practically. Let's leave it as is for now.

[2016-10-25 18:51] #676 closed

[2016-10-25 19:25] #663 closed

[2016-10-25 19:25] #666 closed

[2016-10-25 19:25] #677 closed

[2016-10-25 21:01] Jronk commented on #325
Everyone can/should delete the:
`/includes/builder/frontend-builder/app/assets` dir

[2016-10-25 21:10] Jronk commented on #325
Ready for review again

Note that the files found in zip I could not reproduce, and there are existing exclusion rules in the Gruntfile.js compress task, so that should not be occurring, so if I can request a re-check on that please that would be great.

All branches have been updated and have their respective `master` branches merged in, so they should all be up to date: https://github.com/elegan

[2016-10-25 23:06] #325 closed

[2016-10-25 23:11] Jronk opened #678 "Update package.json dependencies"
### Problem:

**submodule-builder:**
branch: `678-update-package-deps`
Overall: 84 -> 88
DEPENDENCIES ANALYSIS: 89 -> 98
CODE ANALYSIS: 78 -> 78
https://www.bithound.io/github/elegantthemes/submodule-builder/master
https://www.bithound.io/github/elegantthemes/submodule-builder/678-update-package-deps

**Divi:**
branch: `678-update-package-deps`
Overall: 84 -> 92
DEPENDENCIES ANALYSIS: 94 -> 99
COD

[2016-10-26 01:43] fikrirasyid opened #679 "Automatically reverse responsive input to its desktop value when responsive input is disabled"
### Problem:

Disabling responsive input (text, input margin, and range) by clicking the cross icon hides the responsive UI but the printed UI on the page remain. This causes a confusion: the input UI shows desktop value but the preview displays latest responsive mode's value.
### Steps To Reproduce:
1.  Add blurb module, move to design tab
2. Configure header font size by using the responsive UI.

[2016-10-26 05:48] SlavaET commented on #582
@lots0logs fixed. There is additional PR for submodule-builder to fix that issue - https://github.com/elegantthemes/submodule-builder/issues/1346

[2016-10-26 08:58] SlavaET commented on #670
@kary4 can you please post the steps to reproduce the issue? I checked on localhost and it works fine on my end.

[2016-10-26 10:31] SlavaET commented on #642
Fixed. Below are the steps to reproduce this issue:
1) Install and activate `Popup Maker` plugin;
2) Go to `Popup Maker` -> `Add Popup`;
3) In the `Position` settings switch `Location` to `Top Left`;
4) Check the value in the new field.

@uportnykh can you please take a look at this fix? You originally developed this updating system, so I want to make sure my fix won't break it.

@timayhelen this

[2016-10-26 10:46] SlavaET commented on #592
I think we can close this one since this issue was not confirmed and it's the only one ticket ( as far as I see ) with this issue.
I contacted @FaycalBoutam - he was not able to reproduce it and customer didn't reply for a long time.

[2016-10-26 14:57] kary4 commented on #670
@SlavaET So, you are right, I can't reproduce the issue locally. That's why I mentioned it happens only on the clients website, sorry for the confusion. I just don't know what else could I check to localize the issue.

[2016-10-26 14:58] kary4 commented on #581
Can we also check this website: http://www.investtech.com.br
It's the same problem.

[2016-10-26 16:02] SlavaET commented on #670
@kary4 please send me the token via Slack - I'll take a look.

[2016-10-26 16:46] #592 closed

[2016-10-26 18:06] lots0logs commented on #582
@SlavaET
![unnamed](https://cloud.githubusercontent.com/assets/4675662/19738433/00ff4302-9b7d-11e6-86ee-ca64b5a673dc.png)
use the same name for both branches?!? :wink:

[2016-10-26 18:11] lots0logs commented on #582
@SlavaET Hmm..now the original issue is back (no image is shown for posts built with the Divi Builder).

[2016-10-26 18:31] lots0logs commented on #598
@SlavaET I'm not sure I understand how this addresses the issue (or perhaps I misunderstood the issue). Its my understanding that the issue is the following style in frontend-builder-style.css is too specific:
[code]
Can't we simply drop the `ul` from that style in the stylesheet to resolve this? @timayhelen could you clarify the issue?

[2016-10-26 22:39] kary4 commented on #670
@SlavaET as usual, his support plugin now deactivated :) I asked for a token..

[2016-10-27 04:10] SlavaET commented on #598
@lots0logs the problem is that selector we use in the Custom CSS options for that module are not specific enough to override the style in frontend-builder-style.css. If we drop the `ul` then some styles will not be applied properly and will be overriden by default theme styles, so I went ahead and defined more specific selector for custom css options. Also fixed a few bugs in Custom CSS processing

[2016-10-27 04:24] SlavaET commented on #582
@lots0logs sorry about branch names :)
It still works for me, the 2nd fix affects only Blog module, so it shouldn't break the original fix..
Can you please check again and make sure your ePanel is on the correct branch?
if you still see the issue - please share the layout you're using for your test post.

[2016-10-27 04:37] SlavaET commented on #642
Just want to mention - I performed some tests and my fix doesn't break our updating system, all the notifications displayed properly and updates work fine.

[2016-10-27 05:31] SlavaET commented on #636
@Jronk I'm not sure that understand which "flag" you're talking about but adding module doesn't set any magical flags as far as I understand. It works as follows:
1) You click the Add New button and it fires the `button_click` action with required parameters;
2) In the Store we handle the button click action and emit the `MODULE_ADD_EVENT`. Also:
 - we set the last clicked button position;
 - we s

[2016-10-27 06:00] fikrirasyid commented on #636
@SlavaET this is related to how add new row/section works in VB's shortcut: https://github.com/elegantthemes/submodule-builder/pull/1302/commits/a4790033b2c2d03deb7401d626a522746889fe9b. Basically adding row/section involves several steps in VB's GUI. Mimicking this actions in shortcut requires a flag so we can emulate these steps and reusing as much method as possible. It turns out not a good ide

[2016-10-27 06:33] SlavaET commented on #633
Fixed. Likely Woocommerce triggers an event in case of error and we can adjust scrolling at this point.

[2016-10-27 08:54] SlavaET commented on #657
I added the fix into this PR - https://github.com/elegantthemes/submodule-builder/pull/1343
Simply moved the popover a little bit lower to improve the accessibility in short modules.

[2016-10-27 11:54] eduard-ungureanu opened #680 "FB :: Toolset Layouts plugin cooperation"
### Problem:

Looks like the FB is not fully compatible with this 3rd party plugin. The customer get a response from their support them:

[2016-10-27 14:42] andrey-agp opened #681 "Blurb module :: Image animation"
### Problem:

Animation doesn't work for images in VB, but works for icons.
![animation](https://cloud.githubusercontent.com/assets/9657712/19771174/cf86d684-9c83-11e6-9aaf-983ba40ee669.gif)

Images and icons are not visible on the actual frontend.
![screenshot_5](https://cloud.githubusercontent.com/assets/9657712/19771403/a8c0b8fc-9c84-11e6-873d-0cb53592bed5.png)

[2016-10-27 15:42] #681 closed

[2016-10-27 15:42] timayhelen commented on #681
Issue moved to [elegantthemes/divi-builder #586](https://github.com/elegantthemes/divi-builder/issues/586) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-27 16:59] VladET commented on #681
@timayhelen This is also happening in Divi.

[2016-10-27 17:21] lots0logs commented on #657
Let's track this on #550

[2016-10-27 17:21] #657 closed

[2016-10-27 17:39] timayhelen opened #682 "Border Width Error"
If you try to adjust a custom border with size, it triggers responsive editing mode and doesn't work correctly.

1. Edit a blurb module.
2. Enable "Use Custom Border"
3. Attempt to adjust the border width.

![border](https://cloud.githubusercontent.com/assets/3333028/19778432/97487392-9c31-11e6-88e4-3a378a2bb2fe.gif)

[2016-10-27 17:43] timayhelen commented on #550
I think we should think of a different solution, or make this solution a bit more targeted. I think this will happen a lot when it might not be necessary, and the behavior is also a bit unexpected. I would prefer a solution that doesn't change the hovering conventions that we already have in place.

[2016-10-27 22:35] #633 closed

[2016-10-27 22:35] #638 closed

[2016-10-27 22:36] #499 closed

[2016-10-27 22:36] #658 closed

[2016-10-27 22:36] #675 closed

[2016-10-27 23:09] timayhelen commented on #521
@eduard-ungureanu Please re-open this if you ever get more information on the issue.

[2016-10-27 23:09] #521 closed

[2016-10-27 23:16] Jronk commented on #636
Here are examples of the "magic flag" Im talking about:

if row has `props.newRowLayout` fires action: `ETBuilderActions.rowColumnChange`
which will/can add a column prop: `props.autoAddModule` which will in turn fire `ETBuilderActions.cleanNewModuleAttrs`

if a module has the prop `just_created` it will fire action: `ETBuilderActions.cleanNewModuleAttrs`

[2016-10-28 01:56] lots0logs commented on #678
Works well for me. No problems, no errors, nothing interesting to report :success:

[2016-10-28 04:45] SlavaET commented on #636
@Jronk ah, got it. Thank you for details.

[2016-10-28 05:22] SlavaET commented on #682
@timayhelen can you still reproduce this error? I checked in the latest master and it works fine.

[2016-10-28 08:07] SlavaET commented on #550
Found a different solution:
![popover-access-2](https://cloud.githubusercontent.com/assets/3446682/19799185/1d71d644-9d17-11e6-97ac-047bb4dbf3ef.gif)

It dynamically checks whether the Row Settings popover covers the Module Settings popover or Add New Module button and adjust their position using the `margin-left`
@timayhelen does this solution look better?

[2016-10-28 10:04] timayhelen opened #683 "Detect Failed Save & Launch Failure Modal"
Would it be possible to detect JS and HTTP errors when performing a save in the Visual Builder? We still have a lot of people that can't save, and what's worse is that it's not always apparent that saving is failing. Usually there is an error involved with the admin ajax request, and if we could detect that when saving and launch a custom error message that would be great. We could launch the stan

[2016-10-28 10:29] timayhelen commented on #683
I think we could launch the builder failure modal, with a few custom messages. A good one to add would be to detect if mod_substitute is being used, and if the SubstituteMaxLineLength is less that 10M. Then we can suggest that people increase it:

[code]

We might also add a suggest to check application firewall settings, such as mod security, since this seems to be a common issue as well.

[2016-10-28 10:37] timayhelen opened #684 "Cannot read property 'replace' of undefined(…)"
We have a person complaining about saving not working. This error is occurring while using the builder, though it us unclear how or when:

`bundle.js?ver=3.0.16:8 Uncaught TypeError: Cannot read property 'replace' of undefined(…)`

Any ideas what might be going wrong?

[2016-10-28 11:09] FaycalBoutam opened #685 "Audio Module :: A new tab is opened when you use sound control"
### Problem:

https://github.com/elegantthemes/divi-builder/issues/568

[2016-10-28 16:49] timayhelen commented on #684
The customer has provided the shortcode output for the page and the full error:

[Divi One Page - Saving Error with Visual Builder.txt](https://github.com/elegantthemes/Divi-Beta/files/558929/Divi.One.Page.-.Saving.Error.with.Visual.Builder.txt)

[2016-10-28 17:29] Jronk commented on #349
@timayhelen @mariomaruffi I need some UI specs for 3 items please:

1. Notification of a newer autosave in browser, subtle notification and asking for user optional action
WP version:
![screen shot 2016-10-28 at 10 04 50 am](https://cloud.githubusercontent.com/assets/1163441/19815746/21bef128-9cf9-11e6-8ca8-ce86ae646958.png)

2. Notification of a newer autosave on server,  subtle notification and

[2016-10-28 18:40] timayhelen commented on #349
Let's use:
![screen shot 2016-10-28 at 11 36 28 am](https://cloud.githubusercontent.com/assets/3333028/19818132/53fc2f5c-9d03-11e6-9d8c-edabaec15903.png)
![screen shot 2016-10-28 at 11 38 28 am](https://cloud.githubusercontent.com/assets/3333028/19818135/55233966-9d03-11e6-851b-0d8c023cceb3.png)

[2016-10-28 18:58] timayhelen commented on #682
@SlavaET Yeah it seems to be working fine. Weird.

[2016-10-28 18:58] #682 closed

[2016-10-28 19:04] timayhelen commented on #550
@SlavaET I think we might want to love the buttons down instead of moving them to the right. It creates some weird situations when using other column structures. For example, here you can't access the first two module options:

![corrected](https://cloud.githubusercontent.com/assets/3333028/19818880/af7b35fa-9d06-11e6-8fbb-d629ecb6c4ec.gif)

[2016-10-28 19:48] lots0logs commented on #582
@SlavaET I think I might have been on the wrong branch (sorry). It is working BUT the notices are still showing up in the debug log:
[code]

I'm using the Homepage Extended Layout and adding a Blog Module below the blurbs (using the VB). I set the blog module to a category that includes a few posts which dont have featured images but do have images in the content.

[2016-10-28 20:12] lots0logs commented on #642
@timayhelen I tried testing it several times and even tried lowering the version to a number that was not previously used, but I could not get updates to show up. The updates still dont show up when I switch back to master branch. So I'm approving this based only on the fact that I don't think theses changes could break anything with the updates functionality.

[2016-10-28 21:09] #678 closed

[2016-10-28 21:12] FaycalBoutam commented on #642
@SlavaET Could you check https://github.com/elegantthemes/Divi/issues/2596 as well? I still got the message after applying the fix.

[2016-10-28 21:20] Jronk commented on #642
@FaycalBoutam I will check on it, im in the middle of review/merging, thanks for the update

[2016-10-28 22:54] Jronk commented on #642
re-closing, as https://github.com/elegantthemes/Divi/issues/2596 was re-opened instead

[2016-10-28 22:54] #642 closed

[2016-10-28 22:56] #598 closed

[2016-10-29 10:35] abhi-sharm opened #686 "Visual Builder :: Map Module"
### Problem:

Though it is not affecting on the working of the module but in Visual builder the API key is not visible in the module settings like it is shown  in backend builder
this is how it comes in backend builder
![bb](https://cloud.githubusercontent.com/assets/13402626/19828939/77414896-9df1-11e6-8606-cdc5383e6daf.PNG)
while this is how it comes in Visual Builder
![vb](https://cloud.githubu

[2016-10-29 13:01] dm-chechik opened #687 "VB :: Incorrect closing sequence of modal windows"
### Problem:

Discard all changes button of module child element also closes the modal window of the parent. However the Save Changes button closes only child element modal window.
The issue exists on all modules where there is a possibility to create child elements (Sliders, Toogles, Bar counters and so on).
Also the issue exists in Divi Builder as well.
### Steps To Reproduce (Bar counter):
1. C

[2016-10-29 17:25] fikrirasyid commented on #679
@uportnykh @Jronk @SlavaET @Anny85 if you guys have experience with `Keep Custom Padding on Mobile` option on section / row / column, it'd be awesome to have your thought regarding this issue. I've explained the issue thoroughly on this issue's PR: https://github.com/elegantthemes/submodule-builder/pull/1345

[2016-10-30 12:07] dm-chechik opened #688 "VB :: Module settings window stays on the same tab"
### Problem:

Module settings window stays on the same tab as a child element after saving settings.
For example if you add a new or edit existing Bar Counter and make some changes on Advanced Design tab, after saving changes the parent Bar Counter settings windows stays on Advanced Design tab as well.
The issue exists on all modules where there is a possibility to create child elements (Sliders,

[2016-10-30 13:00] dm-chechik opened #689 "Blog Module text color setting does not working on Grid Layout"
### Problem:

On grid layout the Text Color setting doesn't applied.
The issue exists in Divi Builder as well.
### Steps To Reproduce:
1. Add Blog Module
2. Switch to Grid layout
3. Try to change Text Color setting
4. There is no changes

[2016-10-30 15:16] dm-chechik opened #690 "VB :: Safe Draft button text align"
### Problem:

After clicking on Save Draft button text become two-line.
![image](https://cloud.githubusercontent.com/assets/20072036/19837546/ecc62c0e-9ecc-11e6-8579-457baef0e0ae.png)

[2016-10-30 17:05] FDiskas commented on #684
:white_medium_small_square: +1 Me to

[2016-10-30 17:33] timayhelen opened #691 "Global Module Settings Sync Issue"
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=610548

[2016-10-30 17:41] timayhelen opened #692 "Possible issue with Gallery module in the VB"
Looks like the VB isn't showing the correct cropped versions of the images in some cases, based on this user's screenshot:

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=604039

[2016-10-30 20:22] dm-chechik opened #693 "VB :: Countdown Timer :: Header Font Size doesn't working"
### Problem:

There is no way to set module header font size.
Also the issue exists in Divi Builder as well.

[2016-10-30 20:25] dm-chechik opened #694 "VB :: Countdown Timer :: Numbers Line Height"
### Problem:

The Numbers Line Height setting causing colon symbols to stays not in one line with numbers.
The Label Line Height setting do the same.
Also I've noticed the default value of this option is 64px for some reason.

The issue exists in Divi Builder as well.
![image](https://cloud.githubusercontent.com/assets/20072036/19839724/1f3341ba-9ef8-11e6-8c80-cde0d4dade6a.png)
### Steps To Reprod

[2016-10-30 21:24] dm-chechik opened #695 "VB :: Filterable Portfolio :: Wrong number of filters"
### Problem:

It seems VB renders more filters in edit mode.
The issue exists in Divi Builder as well.
Here are filters in edit mode
![image](https://cloud.githubusercontent.com/assets/20072036/19840104/da83703c-9eff-11e6-9ced-7132ea29b0e7.png)

And here are filters on a front page
![image](https://cloud.githubusercontent.com/assets/20072036/19840113/0bb48c2c-9f00-11e6-91ed-a53884e11273.png)
### S

[2016-10-31 00:19] kary4 opened #696 "Visual Builder :: FullWidth Slider :: Slide Disappears After Modifying"
### Problem:

Can anyone check the following website please http://darknife.com
The slide disappears in the fullwidth slider after you add some changes under Slide Module Settings (Visual builder).
To reproduce:
1. Add fullwidth slider with one slide (Back End Builder);
2. Save and preview the page. Click Enable Visual Builder.
3. Change Background Image Size option to anything else.
4. Save the p

[2016-10-31 04:21] SlavaET commented on #582
@lots0logs I cannot reproduce it. I see the error when `submodule-builder` is on master, but error doesn't appear once I switch it to https://github.com/elegantthemes/submodule-builder/pull/1346
Which modules do you use in your posts which appear in Blog?

[2016-10-31 04:35] SlavaET commented on #691
This bug was introduced in this commit - https://github.com/elegantthemes/submodule-builder/commit/fb4a9ed828fe7801446384d6992d01feb21e93fe
Looking for better solution.

[2016-10-31 05:04] SlavaET opened #697 "FB :: Unwanted "Insert Row" modal appears after importing the layout"
### Problem:

After importing the layout via FB you can see that `Insert Row` modal pops up when it shouldn't:
![image](https://cloud.githubusercontent.com/assets/3446682/19844703/9ac892e2-9f59-11e6-92ff-90e9b09416ed.png)

### Steps To Reproduce:
1. Import any layout using the Portability feature in FB

[2016-10-31 05:13] SlavaET opened #698 "FB :: clicking 'Cancel' button in Row settings after importing layout reverts the import"
### Problem:

If you import the layout using the Portability feature in FB, then open Row Settings and click "Cancel" it'll revert the import.

### Steps To Reproduce:
1. Import any layout via the Portability in FB
2. Open any Row settings
3. Click Cancel button.

[2016-10-31 07:05] lots0logs commented on #582
@SlavaET [This](http://et.falgout.us/divi/category/caption-test/) is the category I'm using. The first two posts are builder layouts. Let me know if you need access to the site.

[2016-10-31 08:12] SlavaET commented on #582
@lots0logs I cannot reproduce the issue even with similar layouts as on your website. It would be great if you can provide me the WP and FTP details, so I can check what's wrong there.. Just ping me in Slack.

[2016-10-31 12:18] andrey-agp opened #699 "Search module :: Desing :: Line height"
### Problem:

Input Line Height and Button Line Height doesn't work.

Same issue in Divi Builder plugin.
![screenshot_12](https://cloud.githubusercontent.com/assets/9657712/19853930/6fc433de-9f96-11e6-9e4e-0b9c8dae71b7.png)

[2016-10-31 13:02] abhi-sharm opened #700 "VB :: Toggle Module in Open State Does not Preview Well"
### Problem:

For toggle module in visual builder even if we select the state as open it is not visible as open in preview so we can not see the live editing of the content , it does not affect the working of the module after saving and seeing it on live site , May be considered as enhancement for future.

### Steps To Reproduce:
1.  Add a toggle module
2. Make toggle state as open
3. try to see l

[2016-10-31 14:44] dm-chechik opened #701 "VB :: Login Module :: There is no chance to see customizations of input fields and button inside builder"
### Problem:

When you editing the Login Module there is no Username, Password and Button because you logged in. I think the Module should show the fields and button while editing (customizing).

[2016-10-31 14:55] VladET opened #702 "Comments Module :: Design : Button icon not working"
### Problem:
<img width="509" alt="capture" src="https://cloud.githubusercontent.com/assets/1061516/19858488/5658caf6-9f8a-11e6-9c5f-ca48c1cfc042.PNG">

<img width="152" alt="capture" src="https://cloud.githubusercontent.com/assets/1061516/19858455/2385f61c-9f8a-11e6-8935-6c6c6f92655a.PNG">

[2016-10-31 15:11] VladET opened #703 "Envelope icon duplicate"
### Problem:
<img width="407" alt="capture" src="https://cloud.githubusercontent.com/assets/1061516/19859165/0c07e02e-9f8d-11e6-8f20-90c71f9b0bfd.PNG">

This is the case with all modules with icons, of course.

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1638

[2016-10-31 15:28] dm-chechik opened #704 "VB :: Map Module :: Grayscale Filter Amount default value"
### Problem:

By default there is no value in Grayscale Filter Amount setting.
Also the issue exists in Divi Builder.
![image](https://cloud.githubusercontent.com/assets/20072036/19859747/783a81de-9f97-11e6-9d18-3f0549653ace.png)

### Steps To Reproduce:
1. Add map module from scratch
2. Switch to Design tab and enable Use Grayscale Filter option
3. The Grayscale Filter Amount value will be empty

[2016-10-31 15:37] lots0logs commented on #679
@fikrirasyid Please see comment from @SlavaET on the PR.

[2016-10-31 15:53] VladET opened #705 "Countdown Timer :: Design : Number font settings applying to Label as well"
### Problem:
Here is a screencast: http://screencast-o-matic.com/watch/cD6wosjdpj

The main problem is the font style (bold, underline, uppercase and italic), there is no way to overwrite these from the **Label** font style if they are set for **Number**.

[2016-10-31 16:38] lots0logs opened #706 "VB :: Circle Counter :: "NaN" is displayed"
@dm-chechik commented on [Sun Oct 30 2016](https://github.com/elegantthemes/divi-builder/issues/630)

### Problem:

When there is no number value in the Number field the NaN value is displayed.
![image](https://cloud.githubusercontent.com/assets/20072036/19837306/805ad046-9ec8-11e6-9733-b02eff0a4950.png)

---

@dm-chechik commented on [Mon Oct 31 2016](https://github.com/elegantthemes/divi-builder

[2016-10-31 17:04] lots0logs opened #707 "Login Module :: Form Field Text Color settings are applied incorrectly"
@dm-chechik commented on [Mon Oct 31 2016](https://github.com/elegantthemes/divi-builder/issues/658)

### Problem:

The Form Field Text Color seems is applied to Username filed only.
I've assigned red color. Please look at the screenshot
![image](https://cloud.githubusercontent.com/assets/20072036/19857610/58926714-9f8f-11e6-8181-d5274edea09e.png)

Also the Focus Text Color setting doesn't applied

[2016-10-31 18:26] lots0logs commented on #680
Issue moved to [elegantthemes/Divi #2607](https://github.com/elegantthemes/Divi/issues/2607) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-31 18:26] #680 closed

[2016-10-31 21:18] #691 closed

[2016-10-31 21:18] #684 closed

[2016-11-01 00:30] fikrirasyid commented on #679
@lots0logs replied on the PR.

[2016-11-01 06:37] andrey-agp opened #708 "Special Section :: Row name"
### Problem:

Screencast from the customer
http://sichitiu.eu/wp-content/uploads/ScreenCapture_28.10.2016%2011.02.37.wmv

### Steps To Reproduce:
1.  Create special section with row in BB
2.  Rename the inner row using right click menu.
3.  Collapse the row to see the row name
4. Save BB
5. Open VB and save
6. Open BB and check the row name

[2016-11-01 07:12] eduard-ungureanu commented on #522
@uportnykh I'm afraid that formidable plugin, still doesn't work, when I preview the form, I get a blank page with no errors.

[2016-11-01 11:36] VladET opened #709 "Email Optin :: Design : Button Icon Placement"
### Problem:

Here is a screencast: http://screencast-o-matic.com/watch/cDXVXxjKY5

**Left vs. right:**

<img width="978" alt="capture" src="https://cloud.githubusercontent.com/assets/1061516/19888584/1f516a32-a038-11e6-859f-6065ae6ee65f.PNG">

[2016-11-01 12:11] VladET opened #710 "VB :: Filterable Portfolio Module : Projects not showing up at first"
### Problem:

Here is a screencast: http://screencast-o-matic.com/watch/cDXVlijKrL

As soon as you change the Layout type it displays correctly.

[2016-11-01 12:15] VladET opened #711 "VB :: Filterable Portfolio Module : Include Categories changes do not reflect"
### Problem:

Here is a screencast: http://screencast-o-matic.com/watch/cDXVl2jK3e

As soon as you save and exit the visual builder it works.

[2016-11-01 12:24] dm-chechik opened #712 "VB :: Builder doesn't load with Scandinavian characters inside content"
### Problem:

![image](https://cloud.githubusercontent.com/assets/20072036/19889639/02af68de-a047-11e6-9990-51c2a355d932.png)
Originally the issue comes from this ticket -> https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=599038
I can't reproduce the issue on my end.
Therefore I've created the test page -> http://designcraft.se/demo/test-page-by-et-support/
Here the support token: 7arj+gH

[2016-11-01 20:10] dm-chechik opened #713 "VB :: Pricing Table :: Featured Table Price Color"
### Problem:

The Featured Table Price Color doesn't override the Price Text Color setting.
Also the issue exists in Divi Builder as well.

![image](https://cloud.githubusercontent.com/assets/20072036/19905545/4fe38fe0-a088-11e6-800d-e56089bce5fc.png)

[2016-11-01 20:14] dm-chechik commented on #713
It seems the Featured Color settings do not override ordinary color settings at all

[2016-11-01 20:56] lots0logs commented on #671
We can reopen this later if needed.

[2016-11-01 20:56] #671 closed

[2016-11-01 21:03] lots0logs commented on #696
@kary4 Could you send me the token? Thanks!

[2016-11-01 21:07] lots0logs commented on #706
Fixed in elegantthemes/submodule-builder@408d0b167c32f1a163ced91a7381d1f570d7013c

[2016-11-01 21:07] #706 closed

[2016-11-01 21:51] kary4 commented on #696
@lots0logs Sure, here you go:

lQeMH8LbTKV%PZJ+(

[2016-11-01 21:58] lots0logs opened #714 "VB :: Email Optin :: Fonts Setting issue"
@eduard-ungureanu commented on [Fri Oct 28 2016](https://github.com/elegantthemes/divi-builder/issues/623)

### Problem:

Body font settings such as Underline, Uppercase and Italic, also applies to the the Module Title:
https://drive.google.com/file/d/0B8PjD3Z_XQvuZUxYUFBKUkVmOVE/view?usp=sharing

Also the line-height for the Body doesn't work, as it was reference here #613

---

@VladET commented

[2016-11-01 22:11] lots0logs opened #715 "VB :: Slider Module :: Some settings hints are not working"
@dm-chechik commented on [Tue Nov 01 2016](https://github.com/elegantthemes/divi-builder/issues/701)

### Problem:

I've noticed the **Background Image Position** and **Background Image Position** hints are not working. There is no happens after click on "?" symbol.

---

@lots0logs commented on [Tue Nov 01 2016](https://github.com/elegantthemes/divi-builder/issues/701#issuecomment-257708001)

@dm

[2016-11-01 23:41] lots0logs opened #716 "Post Slider Module :: Shortcodes Displayed On Frontend Page"
### Problem:

As of 3.0.17, the post slider module (and possibly other post-based modules) display shortcodes on the front end page. The issue does not occur inside the VB, it only occurs on the page itself.

http://et.falgout.us/divi/divi-builder-post-2/

### Additional Information
Issue occurs when the post being displayed in the slider is the same as the post the slider appears on.

[2016-11-02 00:04] kary4 commented on #696
@lots0logs I think we get more customers with this problem. One more issue here:

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=611726

[2016-11-02 00:20] timayhelen commented on #696
This mimics an old bug that was causing the slider module to break when it contained empty body content and the Visual Mode was enabled for TinyMCE.

[2016-11-02 00:27] timayhelen commented on #696
Yes this is an old bug that has come back. It's something that @Jronk fixed a while ago, but perhaps the fix was not applied to Fullwidth Sliders? You can re-create the issue by doing this:

1. Open the BB.
2. Make sure the "Visual" tab of TinyMCE is currently active.
3. Add a fullwidth slider and a slide that has no content in TinyMCE.
4. Save the page.
5. Load the page in the Visual Builder.
6.

[2016-11-02 04:19] SlavaET commented on #716
This issue appears only in `Post Slider` and `Fullwidth Post Slider` and in case post contains one of the following modules:
- Blog
- Portfolio
- Post slider
- Fullwidth Post Slider

To avoid infinite loops we shouldn't render the shortcode of the post in case it contains one of the above modules, but this mechanism didn't work correctly in Post Sliders. I fixed it in my PR and now we're back to o

[2016-11-02 05:15] lots0logs commented on #716
@SlavaET Is it possible to simply exclude the shortcodes for post-based modules from the content that we render inside of post based modules?

[2016-11-02 05:16] SlavaET commented on #716
@lots0logs can you please explain? I'm not sure that understand your idea

[2016-11-02 05:24] lots0logs commented on #716
I mean something like the `et_pb_strip_shortcodes()` function @uportnykh created but only strip the shortcodes for post based modules and keep the others as they are. Does that make sense? If a code example would help let me know...

[2016-11-02 05:30] SlavaET commented on #716
I think I understand now. Basically we should truncate only the shortcodes I mentioned in my previous message and keep the rest.

[2016-11-02 05:34] lots0logs commented on #716
Yes exactly. I mean if its possible. I'm pretty sure it is. What do you think?

[2016-11-02 06:30] SlavaET commented on #716
@lots0logs done. Please check now.

[2016-11-02 07:21] lots0logs commented on #716
@SlavaET Awesome :+1:  There's just one thing I noticed: take a look at the category view compared to the blog module view, notice the post meta:

[Category Page](http://et.falgout.us/divi/category/caption-test/)
[Blog Module](http://et.falgout.us/divi/)

[2016-11-02 07:25] SlavaET commented on #716
@lots0logs I only see the difference in date format and comments count, but these are configurable parameters. Is it the issue you're talking about?

[2016-11-02 10:03] SlavaET commented on #712
Was able to debug this issue on customer's website, it takes me some time though.
It happens because `html_entity_decode()` function returns `null` when try to encode the Scandinavian characters because of old PHP version. It's php 5.3 on customer's website and this error doesn't exist in the later php versions.
Anyway I implemented a fix, so it will work fine with php 5.3 as well.

[2016-11-02 10:46] lots0logs commented on #716
@SlavaET No, sorry. I mean how the post meta info for the post that is displayed in the post slider appears on category pages (so the result is that you see two post meta info elements on the category pages). The post meta from the post slider is not shown by the Blog Module. It only happens on category/archive pages.

[2016-11-02 11:56] VladET opened #717 "Video Slider : Cannot play the video if an overlay is used."
### Problem:
This can be seen on our preview https://www.elegantthemes.com/preview/Divi/video-slider/
Try to play a video.

### Customer:

[code]

[2016-11-02 16:21] Jronk commented on #696
ref https://github.com/elegantthemes/submodule-builder/pull/1291

[2016-11-02 18:19] SlavaET commented on #716
@lots0logs ah, I see. But it's unrelated to the original issue and it looks more like an improvement for index pages. Probably we should open a new issue for that which is not high priority I assume.

[2016-11-02 19:22] lots0logs commented on #582
Just checked this again and its not outputting the log messages anymore :sweat_smile:

[2016-11-02 21:25] dm-chechik opened #718 "VB :: Toggle Module :: Open and Close state on mouse hover"
### Problem:

If you click on open/close button inside VB the state isn't change while mouse hover the module. As soon as you move mouse from the module the state will change.
The issue exists in Divi Builder as well.

The screencast here -> http://screencast-o-matic.com/watch/cDXnrTj7mt

[2016-11-02 22:51] dm-chechik opened #719 "VB :: Video Slider :: Display Image Overlays on Main Video"
### Problem:

The setting doesn't show overlays inside builder.
In Divi Builder the issue exists as well.
![image](https://cloud.githubusercontent.com/assets/20072036/19950369/0a3fec96-a168-11e6-81a5-08771d78fee2.png)

[2016-11-02 23:58] #582 closed

[2016-11-02 23:58] #696 closed

[2016-11-02 23:58] #712 closed

[2016-11-02 23:58] #716 closed

[2016-11-03 12:00] eduard-ungureanu opened #720 "Theme Customizer :: Background Images"
### Problem:

While the background images looks nice and sharp on desktop, no matter what view port size is, on mobile devices such as iPhone (5s, 6, 6+) and Samsung (S5, S6 and S7) the image looks stretched out which result in bad image quality.

### Steps To Reproduce:
1.  download this image: http://leemusicproduction.com/wp-content/uploads/2016/10/COVER-SIMPLU-nou-nout-jpg.jpg
2.  set as backg

[2016-11-03 23:43] timayhelen opened #721 "Fix Update Issues On Some Websites"
Some customers can't update Divi because of two known issues:

1. Some countries, such as Russia, have blacklisted some of Sucuri's IP ranges. This is likely because they are shared amongst various websites and maybe some websites tripped their system.
2. Some servers with old OpenSSL versions don't support SNI. Since our server and the Sucuri Firewall share an SSL certificate, these out dated ser

[2016-11-04 14:51] andrey-agp opened #722 "VB :: Discard button doesn't work after loading the layout form the library"
### Problem:

![animation](https://cloud.githubusercontent.com/assets/9657712/20009804/0d31147a-a2d0-11e6-8ca0-a002322111f8.gif)

Same issue in Divi Builder plugin

[2016-11-04 19:26] Jronk commented on #575
![autosave flowchart](https://cloud.githubusercontent.com/assets/1163441/20019438/8ab0a808-a289-11e6-93af-27d24562acba.png)

[2016-11-04 19:29] Jronk commented on #349
![heartbeat sync flowchart](https://cloud.githubusercontent.com/assets/1163441/20019512/fafb84fc-a289-11e6-9d36-7b7aaa15bd3e.png)
![autosave flowchart 3](https://cloud.githubusercontent.com/assets/1163441/20019513/fb00c8ae-a289-11e6-890e-6b00865a8464.png)
![dual editor auto-sync ux](https://cloud.githubusercontent.com/assets/1163441/20019574/425b26f4-a28a-11e6-82ec-9fe8e3a1b47c.png)

[2016-11-04 19:30] Jronk commented on #349
The same PR fixes #349 and #575
branch: 575-fix-heartbeat-content-smashing
PR: https://github.com/elegantthemes/submodule-builder/pull/1267

[2016-11-04 19:31] Jronk commented on #575
See #349

[2016-11-04 19:31] #575 closed

[2016-11-04 19:48] Jronk opened #723 "FB :: Don't save default attr in shortcode_obj"
### Problem:

The FB will set the value of all possible attributes, even if the value is the default, causing a severely bloated shortcode and shortcode_obj. We could save lots of errors by reducing this.

The pre-built layout "Product Features":

Created in FB, then saved, final saved shortcode results in 18,480 chars
Created in BB, then saved, final saved shortcode results in 8175 chars

FB cont

[2016-11-04 19:49] Jronk commented on #723
this will help #683

[2016-11-04 22:50] #721 closed

[2016-11-05 18:34] lots0logs commented on #349
@Jronk I'm getting an error in the browser console when the heartbeat fires in the VB:
[code]
Something else I noticed, if I save changes in the BB and then save different changes in the VB before the next heartbeat, it allows the VB to clobber what was saved in the BB. :notsureif: its only happening because of the above error though.

[2016-11-06 05:55] OlgaT opened #724 "Visual builder - Text settings"
### Problem:

It is not a bug, Just tooltips are reversed: If you mouse over the smaller 'A' in the lower left corner, it says 'Increase Font Size'. tooltip over the larger 'A' in the lower right corner says 'Decrease Font Size'.

![screen](https://cloud.githubusercontent.com/assets/7305702/20035673/e4b2167c-a417-11e6-87fc-b72e3138a668.jpg)

[2016-11-06 19:54] dm-chechik opened #725 "VB :: Add From Library :: Incorrect displaying of items with long names"
### Problem:

Items with long names are not displaying correctly.
![image](https://cloud.githubusercontent.com/assets/20072036/20041040/f530e616-a473-11e6-8907-d9c2b4309eef.png)

[2016-11-06 22:12] dm-chechik opened #726 "VB :: Role Editor :: Settings Types issues"
### Problem:

There are some issues with Settings Type settings.

Disabled **Edit Colors**
In VB I can see some color settings under Design tab and in custom styles for button.
Also I can change color in inline editor.

Disabled **Edit Fonts**
Not sure however I can edit font in custom styles for button.
Also I can change font in inline editor.

Disabled **Edit Content**
Seems the setting is not w

[2016-11-07 11:30] andrey-agp opened #727 "Inline Editor :: Font :: Lato Light doesn't work"
### Problem:

![animation](https://cloud.githubusercontent.com/assets/9657712/20056320/bd44d996-a50f-11e6-8d8d-5bec62ceb354.gif)

[2016-11-07 13:25] dm-chechik opened #728 "VB :: Page settings panel completely covers content"
### Problem:

I'm not sure however I expect visible content under the panel is clickable however it's not.
![image](https://cloud.githubusercontent.com/assets/20072036/20059270/67b9f2b2-a506-11e6-9471-c758559902ec.png)
![image](https://cloud.githubusercontent.com/assets/20072036/20059320/bc5525da-a506-11e6-801b-a014dad26474.png)

The marked areas is not clickable.

[2016-11-07 15:12] dm-chechik opened #729 "VB :: Bar Counter :: Text color settings priority"
### Problem:

Individual bar counter title and percent text color settings doesn't have priority over module color settings.
The issue exists in Divi Builder as well.

### Steps To Reproduce:
1. Adjust title color in a module settings for example.
2. Create a bar counter item
3. Adjust title color of this item
4. There is no changes

[2016-11-07 16:07] dm-chechik opened #730 "VB :: Blog Module :: Body Font settings are also applied to the header and meta text"
### Problem:

![screen](https://cloud.githubusercontent.com/assets/20072036/20064954/706320e8-a51d-11e6-976d-4445677bd29f.gif)
The issue exists in Divi Builder as well.

[2016-11-07 16:33] dm-chechik opened #731 "VB :: Blurb Module :: Body Font settings are also applied to the header and blurb icon"
### Problem:

![screen](https://cloud.githubusercontent.com/assets/20072036/20065976/16d2ce3a-a521-11e6-955f-1071757e8c8a.gif)
The issue exists in Divi Builder as well.

[2016-11-07 22:33] lots0logs opened #732 "Activating Inline Editor On A Slide Makes The Slider Transition To Next Slide"
### Problem:

### Steps To Reproduce:
1.  Use the Homepage Extended Layout.
2. Try to select some text in the slider for editing with inline editor.
3. The slide will change as soon as you release your mouse button.

[2016-11-08 08:57] SlavaET opened #733 "Impossible to move module into just created Specialty Section Row"
### Problem:
![specialty_bug](https://cloud.githubusercontent.com/assets/3446682/20092621/6420fc64-a5c3-11e6-953b-7b561f2c1cff.gif)

### Steps To Reproduce:
1. Create a new Specialty section with any Row
2. Try moving module from any place into that new Row

[2016-11-08 10:22] eduard-ungureanu opened #734 "W3Total Cache : Css minify"
### Problem:

Few customers reported that when CSS Minify option it is enabled in W3Total Cache, the layout for the woocommerce products it is affected, disabling the CSS Minify corrects the problem.

[2016-11-08 12:41] andrey-agp opened #735 "Call To Action :: Body Font affect Title"
### Problem:

![animation](https://cloud.githubusercontent.com/assets/9657712/20099474/ce9f77d6-a5e2-11e6-95c1-139bbfbd44dd.gif)

Same issue in the Divi Builder plugin

[2016-11-08 22:23] dm-chechik commented on #735
Also font is applied to the button

[2016-11-08 22:26] dm-chechik commented on #735
The same with Body Letter Spacing option.

[2016-11-08 22:46] dm-chechik opened #736 "VB :: Circle Counter :: Color Opacity setting default value"
### Problem:

Default value of Color Opacity setting is not assigned.
![image](https://cloud.githubusercontent.com/assets/20072036/20120492/1df28e0a-a61e-11e6-9378-23f5a9895b1e.png)

Reset setting button assign value -> 14. However maximum value is 1.
![screen](https://cloud.githubusercontent.com/assets/20072036/20120524/47064cd2-a61e-11e6-8743-45858aca78bc.gif)

The same in Divi Builder.

[2016-11-08 23:23] dm-chechik opened #737 "VB :: Column vertical margins are absent at tablet/mobile layout"
### Problem:

The margins are absent at tablet/maobile layout
![image](https://cloud.githubusercontent.com/assets/20072036/20121580/6f5dac2a-a623-11e6-86c3-daeb55f261cd.png)

[2016-11-08 23:46] lots0logs commented on #737
Issue moved to [elegantthemes/divi-builder #775](https://github.com/elegantthemes/divi-builder/issues/775) via [**ZenHub**](https://www.zenhub.com/)

[2016-11-08 23:46] #737 closed

[2016-11-09 06:48] eduard-ungureanu commented on #717
I was able to replicate this issue in the latest version of Divi 3.0.18. A test page can be seen here:

http://divi.wordpress-corner.com/video-slider/

The console shows
[code]

[2016-11-09 08:29] eduard-ungureanu opened #738 "W3C :: Element style not allowed as child of element body in this context."
### Problem:

The issue is that the `et-builder-advanced-style` and `et-builder-page-custom-style` are loaded in the `<body>` I think those should be loaded in the header

https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.elegantthemes.com%2Fpreview%2FDivi%2F

<img width="960" alt="screen shot 2016-11-09 at 10 29 42 am" src="https://cloud.githubusercontent.com/assets/1719735/20131642/73907388-a66

[2016-11-09 13:29] andrey-agp opened #739 "Filterable Portfolio on Responsive Preview"
### Problem:
![animation](https://cloud.githubusercontent.com/assets/9657712/20139954/c77b6548-a6b2-11e6-977a-d69303ae0e8e.gif)

Same in Divi Builder plugin.

[2016-11-09 15:15] websbyjd opened #740 "nofollow attribute stripped from links in footer credits"
### Problem:
Not sure if this is new with Divi 3 or not, but when rel="nofollow" is added to a link element in
Theme Customizer ==> Footer ==> Bottom Bar ==> Edit Footer Credits,
it is stripped from the link on save.

### Steps To Reproduce:
1.
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**:

**Oper

[2016-11-09 16:03] ALEXplanm opened #741 "social links on tob bar must be opened in new tabs"
### Problem:

The social icons with links to the social networks on the divi top bar must be opened on new tabs and not leaving the current page to go to the social pages, there must be at least an option to choose new tab/window or same window, for SEO purposes if people come and click on social icons on the top bar and leave the site, it has a negative impact on Google rankings.

[2016-11-09 20:00] timayhelen commented on #740
We use a whitelist system for allowable code, so we need to ad the rel attribute to the list.

[2016-11-09 21:35] Jronk commented on #349
Fixed the utils error, please try again, thx

[2016-11-10 12:30] dm-chechik opened #742 "RTL :: Mobile menu text align"
### Problem:

The issue on RTL page layout.
When header style is set to Centered the mobile menu text align is still left to right.
![image](https://cloud.githubusercontent.com/assets/20072036/20176824/a6388430-a75a-11e6-8e46-f2641c7208c9.png)

[2016-11-10 12:43] dm-chechik opened #743 "RTL :: Columns stacking order"
### Problem:

Right now on RTL sites at mobile layout columns are stacked from left to right.
![image](https://cloud.githubusercontent.com/assets/20072036/20177130/3ba209e6-a75c-11e6-96ab-629e122e8767.png)
![image](https://cloud.githubusercontent.com/assets/20072036/20177140/418f638a-a75c-11e6-93b3-1283303cfc2d.png)

Can we do something to change stacking order to right to left?

[2016-11-10 22:49] lots0logs commented on #349
@Jronk

The VB is still clobbering changes saved in the BB. I'm getting a 500 response from the server (pasted below). Here's the steps I took:

1. I opened an existing page in BB and VB.
2. In the BB, I added a new module to the layout.
3. Then I played around for 60 or so seconds checking the ajax calls. I didn't make any further changes.
4. Next, I Saved/Published the page.
5. Waited another 60

[2016-11-11 06:40] SlavaET commented on #717
Fixed. Also fixed the issue when Video overlay was not applied for just created sliders in VB.

[2016-11-11 06:47] SlavaET commented on #717
Actually I fixed this bug as well - https://github.com/elegantthemes/Divi-Beta/issues/719

[2016-11-11 08:56] eduard-ungureanu opened #744 "Divi Builder :: Blog Module :: Sticky post"
### Problem:

In the most recent of Divi the sticky post option is ignored by the Blog Module, I have over 15 blog post and only one is set to be sticky. The expected behavior will be that the sticky post will be shown on the first page of the blog module, but it doesn't.

Could this be related to https://github.com/elegantthemes/Divi-Beta/issues/511?

[2016-11-11 13:34] dm-chechik opened #745 "VB :: Column parallax effect doesn't working"
### Problem:

Customer has reported since update to 3.0.17 the column parallax effect doesn't working. No matter which method you have selected CSS or True prallax. Inside Visual Builder the effect looks well, however on frontend page nothing happens while you scrolling a page.
I can reproduce the issue on local Divi 3.0.18

[2016-11-11 20:24] lots0logs commented on #719
@SlavaET The overlays are working for OEmbed videos but not for HTML5 videos. We recently implemented overlays for HTML5 videos for the Video Post Format when posts are displayed in post listings and Blog Module so we should do the same in this case.

[2016-11-11 20:28] lots0logs commented on #730
This is being discussed on elegantthemes/divi-builder#633

[2016-11-11 20:29] lots0logs commented on #731
This is being discussed on elegantthemes/divi-builder#633

[2016-11-11 20:32] lots0logs commented on #738
This was discussed in the past. That error is a false positive.

[2016-11-11 20:32] #738 closed

[2016-11-11 20:35] lots0logs commented on #744
As per Codex, sticky posts only affect the home page when it is set to display posts. Currently the blog module does not support handling sticky posts specially so it will behave how WordPress behaves by default.

[2016-11-11 20:35] #744 closed

[2016-11-11 20:38] lots0logs commented on #720
Sections are much taller when viewed on mobile devices. The height of the section affects the display of the background image. This is not a bug. Its simply how CSS background images work.

[2016-11-11 20:38] #720 closed

[2016-11-11 20:39] lots0logs commented on #718
This was fixed in elegantthemes/submodule-builder#1409

[2016-11-11 20:39] #718 closed

[2016-11-12 15:17] dm-chechik opened #746 "Builder fails to load on certain layout"
### Problem:

The issue comes from the customer.
http://www.studiojoe.us/
Neither builder (backend and frontend) do not handle the homepage layout correctly.
I've tried to load the layout into my test environment and nothing changed.
Maybe it related to the large image in Fullwidth Header module.

**Link To Download Layout JSON File**:
https://www.dropbox.com/s/63ouz9ac8yjta5r/Home-page-layout.zip

[2016-11-12 18:13] FaycalBoutam opened #747 "Blog Module :: Offset number issue"
### Problem:

When the offset number is set to 1 the blog module removes two posts instead of just one. **This only occurs on VB mode, the front end looks fine.**

![22](https://cloud.githubusercontent.com/assets/16414613/20239920/c41a95ba-a903-11e6-99a4-5515aa9f9f26.gif)

[2016-11-12 19:02] FaycalBoutam opened #748 "Flatsome :: Blurb & CTA Module :: Custom Margin not working on Mobiles"
### Problem:

It's taking the tablet value (screenshot with the Flatsome theme but it occurs on the Divi demo as well):
Occurs with the Blurb, CTA and Comment modules. Maybe with other modules as well.

![23](https://cloud.githubusercontent.com/assets/16414613/20240198/69ee215e-a90a-11e6-9c39-d36491b51c56.gif)

[2016-11-12 21:46] kary4 opened #749 "Spell Checking Does Not Work In Visual Builder"
### Problem:

Spell Checking does not work if you activate VB, but it works under Back End Builder.

[2016-11-13 14:39] dm-chechik opened #750 "Search Module :: Design :: Button font size issue"
### Problem:

While increasing the font size the button doesn't change its size properly.
The same issue in Divi Builder plugin.
![screen](https://cloud.githubusercontent.com/assets/20072036/20246459/2ea0117a-a9c8-11e6-8e07-a575c8211296.gif)

[2016-11-13 15:26] dm-chechik opened #751 "VB :: Builder unsaved changes dialog does not always displayed"
### Problem:

I'm not sure this is the normal behavior. However if I trying to close a browser tab or click to the **Go to back** browser button I see the standard WP browser dialog **Do you want to leave this site?** instead of builder **You Have Unsaved Changes** dialog.
The issue exists in Divi Builder as well.
![screen](https://cloud.githubusercontent.com/assets/20072036/20246727/8c7aafa2-a9ce

[2016-11-13 16:54] dm-chechik opened #752 "Slider Module :: CSS Parallax Effect issue"
### Problem:

When **Use Parallax effect** option is enabled the slider background is displayed incorrectly.
![screen](https://cloud.githubusercontent.com/assets/20072036/20247350/fbc8c054-a9da-11e6-8d42-8228aa5c7120.gif)

**Link To Download Layout JSON File**:
https://www.dropbox.com/s/d5quw6q14gp6xi6/slider-module-css-parallax.zip?dl=0

[2016-11-13 19:53] dm-chechik opened #753 "Slider Module :: Slider button overlaps dots navigation"
### Problem:

In cases when slider text is large enough the slider button overlaps navigation dots.
The same in Divi Builder.
![image](https://cloud.githubusercontent.com/assets/20072036/20248376/e65c22f6-a9f3-11e6-829c-545ef5a6aa86.png)

**Link To Download Layout JSON File**:
https://www.dropbox.com/s/cnixpnt6yatpbje/slider-dots-overlapped.zip?dl=0

[2016-11-13 20:18] dm-chechik opened #754 "Tabs Module :: Transparent line under the active tab"
### Problem:

The 1px transparent line appears under the active tab.
The issue exist in Divi Builder as well.
![image](https://cloud.githubusercontent.com/assets/20072036/20248533/3172355c-a9f7-11e6-9368-51d6e91aec63.png)

**Link To Download Layout JSON File**:
https://www.dropbox.com/s/2lja4y07u4019k6/tabs-line.json?dl=0

[2016-11-13 20:55] FaycalBoutam opened #755 "Post Title Module :: Background color option"
### Problem:

I'm not sure what is this option do (design tab -> Background color)? You can add a bg color from General tab -> Use Text Background Color.

![divi builder demo just another wordpress site](https://cloud.githubusercontent.com/assets/16414613/20248784/3a756a52-a9e3-11e6-91d1-3f6f181a2229.png)

[2016-11-13 21:01] dm-chechik opened #756 "Tabs Module :: Individual tab background does not fit to the whole tab area"
### Problem:

The issue exists in Divi Builder as well.
![image](https://cloud.githubusercontent.com/assets/20072036/20248842/72ba3c02-a9fd-11e6-88a5-5dc84bf2abbb.png)

[2016-11-13 23:39] kary4 opened #757 "Plugin compatibility :: Strip Payment:: Shortcodes don't work"
### Problem:
It's not a free plugin so unfortunately I can't check it myself. The plugin:
https://wpsimplepay.com/docs/shortcodes/stripe-checkout/?utm_source=inside-plugin&utm_medium=link&utm_campaign=free-plugin&utm_content=help-link

Screen cast:
https://vid.me/3Sjo

It works good in default wordpress theme.

More info in the following ticket: https://www.elegantthemes.com/forum/viewtopic.php?f=

[2016-11-14 04:52] SlavaET commented on #719
@lots0logs can you please explain a bit? I'm not sure that understand how you can insert the HTML5 video into the Video Slider. It allows adding video from the Media Library or from the 3rd party source like YouTube. Probably I'm missing something 🤔

[2016-11-14 05:37] lots0logs commented on #719
@SlavaET Sorry I should have posted a screenshot with that to make it more clear :sweat_smile:

Here is a screencast. The first video is an OEmbed Video. The second video is HTML5 video. Notice how the second one doesn't have an overlay image with play icon in the center.

![2016-11-13 23-33](https://cloud.githubusercontent.com/assets/4675662/20254429/08d291c0-a9fa-11e6-8d1b-ea5fdd61db7e.gif)

[2016-11-14 05:56] SlavaET commented on #719
@lots0logs hm, as far as I understand correctly you get see this issue when you're using the uploaded video which we render as HTML5 element. I tested with both YouTube video link and with uploaded MP4 video and overlays seems to work fine on my end:

![video-slider](https://cloud.githubusercontent.com/assets/3446682/20254723/42629446-aa61-11e6-9568-09ec6846417d.gif)

Can you try clearing the cach

[2016-11-14 11:15] eduard-ungureanu commented on #738
@lots0logs I see that those two `<style>` tags are children elements of the `<body>` shouldn't those be in the `<head>`? I just want to make sure we are on the same page on this one:

<img width="960" alt="screen shot 2016-11-14 at 1 14 17 pm" src="https://cloud.githubusercontent.com/assets/1719735/20262788/6d63f2e2-aa6c-11e6-89fd-15275ebb9f26.png">

[2016-11-15 01:33] #116 closed

[2016-11-15 01:33] #404 closed

[2016-11-15 01:36] timayhelen commented on #751
This is normal behavior. We were not able to trigger the modal unless something on the page was being clicked. Browser back buttons were outside our scope of control.

[2016-11-15 01:36] #751 closed

[2016-11-15 01:37] #749 closed

[2016-11-15 01:39] #735 closed

[2016-11-15 01:39] #730 closed

[2016-11-15 01:40] timayhelen commented on #731
We should prevent this from affecting the icon.

[2016-11-15 01:41] timayhelen commented on #728
Interesting, I thought we have pointer events set to none. I wonder if there is a reason we changed it back?

[2016-11-15 01:42] #714 closed

[2016-11-15 01:44] #699 closed

[2016-11-15 01:46] #581 closed

[2016-11-15 03:14] fikrirasyid opened #758 "Improving header - body font relationship"
Note: I think all header - body font relationship issue (body font style affected header, vice versa) should be closed and referenced to this issue instead.

I rechecked and re-reviewed how header and body font styles while working on https://github.com/elegantthemes/Divi-Beta/issues/731. Essentially, how header and body font styles working at the time being has been explained at https://github.co

[2016-11-15 03:20] fikrirasyid commented on #731
I've submitted https://github.com/elegantthemes/submodule-builder/issues/1420 which should fix the body's font style italic affects icon issue.

Related to header - body font style relationship issue, I notice that there is an issue that need to discussed and fixed holistically. Thus I reviewed the issue and opened https://github.com/elegantthemes/Divi-Beta/issues/758 for it.

[2016-11-15 04:16] fikrirasyid commented on #692
@timayhelen I've tried to replicate the issue but it appears as expected. I'll ask for user token to further investigate the issue

[2016-11-15 05:44] andrey-agp opened #759 "Blog Module :: Embed shortcode"
### Problem:
`[embed]` shortcode visible in the excerpt

![screenshot_1](https://cloud.githubusercontent.com/assets/9657712/20294431/64587328-ab28-11e6-8f71-ff2c9f9b6f7e.png)

### Steps To Reproduce:
1.  Create a new post
2. Enable DSivi Builder and add this to the Text module `[embed]https://soundcloud.com/rdemr/hologram10[/embed]`
3. Check Blog module
4.

[2016-11-15 05:51] andrey-agp opened #760 "Blog Module :: Desing :: Border"
### Problem:

Border doesn't work for fullwidth Blog module.

![animation](https://cloud.githubusercontent.com/assets/9657712/20294619/b3903b64-ab29-11e6-869f-e99399a70969.gif)

[2016-11-15 07:25] SlavaET commented on #752
I fixed this issue in the following PR - https://github.com/elegantthemes/Divi-Beta/issues/607

[2016-11-15 07:32] SlavaET commented on #747
@FaycalBoutam I cannot reproduce this issue in the latest master. Can you please check whether you still see the issue or not?

[2016-11-15 12:19] eduard-ungureanu opened #761 "Divi Builder :: Email Option :: Aweber"
### Problem:

If a previous registered user will unsubscribe from the list, if he tries to re subscribe the error:

appears.

[2016-11-15 14:15] fikrirasyid commented on #711
This is duplicate of https://github.com/elegantthemes/Divi-Beta/issues/695. I've submitted a PR for it at https://github.com/elegantthemes/submodule-builder/issues/1430

[2016-11-15 14:15] #711 closed

[2016-11-15 15:14] andrey-agp opened #762 "VB :: Post Slider :: Show Image On Mobile"
### Problem:

Image is visible initially

![animation](https://cloud.githubusercontent.com/assets/9657712/20310887/d1895d50-ab77-11e6-9048-2de9d14c4fa3.gif)

Same in Divi Bulder plugin

[2016-11-15 19:43] timayhelen commented on #695
@fikrirasyid When I add a filterable portfolio module in this PR, no items show up until I save and refresh the page.

![bug](https://cloud.githubusercontent.com/assets/3333028/20320992/bbe35cca-ab28-11e6-8ca0-2e724a74cf2b.gif)

[2016-11-15 20:12] #731 closed

[2016-11-15 20:36] FaycalBoutam opened #763 "Text Module :: Header font options do nothing."
### Problem:

Not sure why that option is added in the first place. I tried to add an H2 tag but the header font options don't work on it:

![divi builder demo just another wordpress site](https://cloud.githubusercontent.com/assets/16414613/20323040/284dc842-ab73-11e6-9846-919f2dc2daad.png)

[2016-11-15 22:02] timayhelen commented on #763
I think it only works for H1 tags, which is by design since we don't want to have one settings change the size of all header types.

[2016-11-15 22:02] #763 closed

[2016-11-16 01:29] #607 closed

[2016-11-16 01:29] #752 closed

[2016-11-16 01:29] #689 closed

[2016-11-16 01:29] #717 closed

[2016-11-16 01:29] #745 closed

[2016-11-16 01:29] #697 closed

[2016-11-16 01:29] #708 closed

[2016-11-16 01:29] #727 closed

[2016-11-16 01:29] #732 closed

[2016-11-16 01:29] #698 closed

[2016-11-16 01:29] #722 closed

[2016-11-16 01:29] #724 closed

[2016-11-16 01:29] #733 closed

[2016-11-16 01:29] #736 closed

[2016-11-16 01:50] fikrirasyid opened #764 "Blurry icon after animation"
### Problem:
Reported by @timayhelen. In chrome, icon becomes blurry after being animated:

![blurry](https://cloud.githubusercontent.com/assets/916442/20331717/c21c83e4-abd9-11e6-8d04-69f1b44c8c0a.gif)

[2016-11-16 07:23] SlavaET commented on #746
I found 2 unrelated errors with the provided layout:
- It was an issue with the content inside the Pricing table. It was handled incorrectly in VB and lead to js error. I improved handling of the content inside modules with child items ( like Pricing Tables, Sliders, etc ) in my PR.
- Af for the BB - I was able to load this layout in BB, but it was an issue in the FW header because of wrong icon c

[2016-11-16 10:55] fikrirasyid commented on #695
@timayhelen I've pushed a fix for it at https://github.com/elegantthemes/submodule-builder/commit/771dc21bd4e30f9aca65eaa529784c2a88cdf845. The issue actually happens at `master` as well. It occurs due to the previous intentional behaviour of only pulling the first computed attribute and ignore the rest computed attributes (Filterable Portfolio has two computed attributes since https://github.com/

[2016-11-16 11:07] SlavaET commented on #762
Fixed.
Also, I found another issue. Top/Bottom image placement was not working correctly in the Post Slider, so I adjusted mechanism which calculates the slider height + adjusted some css to fix the alignment issues.

[2016-11-16 11:11] fikrirasyid commented on #693
@dm-chechik can you take a look at it again at latest master? I tried to replicate the issue but It appears to work as expected:

![693-master](https://cloud.githubusercontent.com/assets/916442/20345052/0b4e413a-ac28-11e6-9e9f-08c711e95f2e.gif)

[2016-11-16 11:35] SlavaET commented on #695
@fikrirasyid it seems your fix doesn't bring back the js error in history which I fixed a while back.

[2016-11-16 13:24] VladET opened #765 "Filterable Portfolio :: Columns gutter width problem"
### Problem:

If you set the gutter width to 1 the right margin is not removed.
Here is a screencast: http://screencast-o-matic.com/watch/cDXDI0QcUR

[2016-11-16 13:43] eduard-ungureanu opened #766 "Divi Builder :: Full Width Header :: scroll to next section"
### Problem:

The problem looks like the full width header in full screen mode doesn't positioned the scroll-down button if more the one full width header is placed in the page.

### Steps To Reproduce:
1) Change the primary and fixed menu heights to 40px.
2) Create a new page and insert 3 fullwidth sections.
3) Each fullwidth section should contain 3 full width headers.
4) Each fullwidth header s

[2016-11-16 13:50] VladET opened #767 "VB :: Gallery : The module is hidden when you move it"
### Problem:

Here is a screencast: http://screencast-o-matic.com/watch/cDXDIJQcwc
As you may be able to tell from the video, the ```display: block``` style does not apply if you try move it.

[2016-11-16 14:27] fikrirasyid commented on #705
I've fixed this at https://github.com/elegantthemes/submodule-builder/issues/1440 which is submitted for https://github.com/elegantthemes/Divi-Beta/issues/694. Thus, let's close this issue and centralize the number font style issues at https://github.com/elegantthemes/submodule-builder/issues/1440

[2016-11-16 14:27] #705 closed

[2016-11-16 14:34] fikrirasyid commented on #695
@slavaET thank you for confirming it 👍

[2016-11-16 14:36] fikrirasyid commented on #710
This issue has been fixed at https://github.com/elegantthemes/submodule-builder/issues/1430 which is submitted for https://github.com/elegantthemes/Divi-Beta/issues/695

[2016-11-16 14:36] #710 closed

[2016-11-16 16:46] lots0logs commented on #746
@SlavaET Please see my comment on the PR. Thanks!

[2016-11-16 17:09] lots0logs commented on #695
@fikrirasyid The module appears to "flicker" when selecting/deselecting categories (probably because its re-rendering for both ajax callbacks):

![2016-11-16 11-05](https://cloud.githubusercontent.com/assets/4675662/20357319/1654e95c-abed-11e6-94f5-254b1068aaa8.gif)

[2016-11-16 17:24] lots0logs commented on #762
@SlavaET There are some issues with the positioning of the slide content. You can see them [here](http://et.falgout.us/divi/762-fix-post-slider-image-issues/).

[2016-11-16 18:31] lots0logs commented on #694
@fikrirasyid There are still issues with pretty much all options related to the countdown numbers:

![2016-11-16 12-23](https://cloud.githubusercontent.com/assets/4675662/20360021/d4b0dbfe-abf7-11e6-8d73-2513d481567d.gif)

Honestly, I'm wondering if having these options for the numbers makes much sense. Beyond controlling the font size, there is not much benefit you get from adjusting the other op

[2016-11-16 21:01] dm-chechik opened #768 "VB :: Incompatibility with Page in Widget plugin"
### Problem:

The FB won't start on pages where **Page in Widget** widget is used.

### Steps To Reproduce:
1. Place a **Page in Widget** widget into the footer for example
2. Select any page which will be displayed inside the widget
3. Try to enable Visual Builder

[2016-11-16 21:36] Jronk commented on #349
There are helpful debug logs ingrained into both FB and BB version, so it might behoove you to enable them to see what its thinking

[2016-11-16 22:12] eduard-ungureanu opened #769 "Code Module :: Output is messed up"
### Problem:

Not sure if this will be able to be replicate on your end. In a code module I did use this html code:
[code]

On a server running php 7.0.12 the output is as expected. On a server running php 5.4 and 5.6 the output is messed out:

<img width="960" alt="screen shot 2016-11-17 at 12 10 05 am" src="https://cloud.githubusercontent.com/assets/1719735/20367914/3a60b50c-ac5a-11e6-8e03-476c0

[2016-11-16 22:57] fikrirasyid commented on #694
@lots0logs can you elaborate what do you mean by `there are still issues`? The option now exactly modifies what it is promised (label line height modifies label line height *only*, and so on and so forth). Whether the layout breaks when excessive number is used, isn't it happen to all options in all modules?

I don't think that this will work. Several weeks ago we intentionally modified the way ra

[2016-11-16 23:06] fikrirasyid commented on #755
@FaycalBoutam both of the options work. Background option changes the `.et_pb_post_title` background while text background option changes the `.et_pb_post_title .et_pb_title_container` background. You need to remember to change the opacity of `background color` option tho:

![755-master](https://cloud.githubusercontent.com/assets/916442/20369502/db85b3a2-ac8b-11e6-82f7-da2266e88056.gif)

[2016-11-16 23:06] #755 closed

[2016-11-16 23:25] fikrirasyid commented on #695
@lots0logs can you share the following information:

- Divi's latest commit SHA
- submodule-builder commit SHA
- Layout you use on the page
- List of active plugin you use
- Do you check this on localhost, or live site?

I tried to replicate the flickering issue, but it works as expected. Both ajax call arrives at the (almost) same time and there's no flicker at all:

![695-flicker](https://cloud.

[2016-11-16 23:52] timayhelen commented on #709
@fikrirasyid There are various issues with custom button styles in other modules in this PR.

- [ ] When a button is switched to "left" icon, the icon does not appear at all unless you select a custom icon:

![button1](https://cloud.githubusercontent.com/assets/3333028/20370634/86f85e06-ac14-11e6-8690-b8716ed71b30.gif)

- [ ] After selecting a custom icon it appears, but then the left padding of t

[2016-11-16 23:56] timayhelen commented on #764
@fikrirasyid Can we make sure this only targets icon fonts? Because it's quite noticeable when opened a modal and seeing all of the text change after the animation. Also the fix needs to be applied to module icons in the "insert module" modal and add from library modal.

[2016-11-16 23:59] lots0logs commented on #695
@fikrirasyid I tested it on my sandbox site (its a real site). I think that we cannot count on the ajax requests coming back at almost exactly the same time. In the real-world that won't always be the case. I will test the branch again just to confirm that I didnt make a mistake and checkout the wrong branch...

[2016-11-17 00:03] fikrirasyid commented on #709
@timayhelen have you re-run `grunt` on `/Divi` dir? It has been handled but it requires `.css` update. Take a look at these buttons below:

Left Icon | Right Icon
--------- | -----------
Default icon + On Hover | Default icon + On Hover
Custom Icon + On Hover | Custom Icon + On Hover
Default icon + Always Visible | Default icon + Always Visible
Custom Icon + Always Visible | Custom Icon + Always V

[2016-11-17 00:10] timayhelen commented on #709
@fikrirasyid Looks like you are right, never mind!

[2016-11-17 00:10] fikrirasyid commented on #709
@timayhelen glad to hear it working as expected (҂'̀⌣'́)9

[2016-11-17 01:04] kary4 opened #770 "Optin module :: Mailchimp Does Not Work"
### Problem:
Optin module does not work again. I apply API and enable Regenerate MailChimp Lists but it does not load mailchimp lists in Optin module, or still loads old information. It does not work correctly on my local machine but on customer's website it does not work at all here:
http://meteoricrevenue.com/

Ticket: https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=616607

Please ask

[2016-11-17 01:16] fikrirasyid commented on #764
@timayhelen I've modified the way the fix works. I initially aimed to incorporate your feedback about `Can we make sure this only targets icon fonts` by comprehensively list all the icon-only selector, but later I found a better way to implement the fix. It turns out that the issue appears consistently on all fonts after its DOM applies `et_pb_fade_in_scale` transition (probably due to `scale()`).

[2016-11-17 02:10] fikrirasyid commented on #695
@lots0logs I've tried testing the issue on my sandbox site at http://wordpress-8622-57086-151808.cloudwaysapps.com/portfolio-grid/ but it only happens once per ten attempts; it is quite rare that the returned AJAX call has significant delay on my test site 🤔  can you share more details like what I've asked above so I can reliably replicate the issue? It's quite hard to fix the issue without able t

[2016-11-17 02:43] lots0logs commented on #695
@fikrirasyid I provided all the details you asked for. I think you read my comment too quickly? :thinking:

[2016-11-17 03:15] fikrirasyid commented on #695
@lots0logs somehow the updated content doesn't appear on the page I was opening :facepalm: thanks for the details, I'll try replicating the issue

[2016-11-17 03:18] fikrirasyid commented on #695
@lots0logs anyway, how much project `post type` posts that you have?

[2016-11-17 03:22] lots0logs commented on #695
Oh okay! I have over 20 projects in all categories. Also, not sure if it matters but I tested the fullwidth (non-grid) layout for the module.

[2016-11-17 03:24] fikrirasyid commented on #695
@lots0logs alright, thank you for confirming it. Looks like the issue can be replicated if the server side process is tricked to be heavier than it is now 🤔

[2016-11-17 04:40] SlavaET commented on #746
@lots0logs fixed.

[2016-11-17 07:10] fikrirasyid commented on #695
@lots0logs I've fixed the unwanted flickering issue via https://github.com/elegantthemes/submodule-builder/commit/1717f07a3b7285baf721f35ef4eba24a193a6dfc (see the commit message regarding what is being changed). Can you take a look at it? To be safe, please check how other module options which has `computed_affects` works as well. I've checked it and it looks good, but it'd be safer if it is bein

[2016-11-17 11:03] VladET opened #771 "VB :: Map : Map doesn't update when a new item is added"
### Problem:

The new item pin will not show up unless you change a setting to force the map to update, so it seems that the map is not updated when the item is added. When you delete the item, the map does get updated.

Screencast: http://screencast-o-matic.com/watch/cDXb6PQV0O

**Edit:** The map in the modal updates when the item is added, the map in preview doesn't.
When you delete the item, it

[2016-11-17 13:11] dm-chechik opened #772 "Divi Library :: Global Item :: Incorrect handling of Change Column Structure"
### Problem:

When I try to change the column structure of a Global Row the row layout becomes broken.
The same behavior in Divi Builder plugin.
![screen](https://cloud.githubusercontent.com/assets/20072036/20390532/6d465892-ace0-11e6-8678-a54eed7e9bda.gif)

[2016-11-17 13:31] dm-chechik opened #773 "Divi Library :: Global Item :: Changes in global item do not reflected to the item copy"
### Problem:

If I have two or more copies of the same global element on a page any changes in global items do not reflected to the copies immediately. I can see the changes only after reloading Visual Builder.
![screen](https://cloud.githubusercontent.com/assets/20072036/20391140/25d42310-ace3-11e6-8405-e26b6ef145b5.gif)

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/15

[2016-11-17 16:14] dm-chechik opened #774 "VB :: Blurb Module :: Icon alignment"
### Problem:

It seems the blurb icon is not centered. The icon is slightly pushed to the right. Please look at the screenshot. I have marked the empty space.
The issue exists in Divi Builder as well.
![capture](https://cloud.githubusercontent.com/assets/20072036/20397148/bb7dfda8-acf9-11e6-94e0-0180f853c5ce.PNG)

### Steps To Reproduce:
1. Create Blurb Module
2. Set any Blurb icon
3. Enable Circl

[2016-11-17 16:33] dm-chechik opened #775 "VB :: Strange builder settings button behavior"
### Problem:

I accidentally discovered the strange behavior of the button.
![screen](https://cloud.githubusercontent.com/assets/20072036/20397996/b0449ff2-acfc-11e6-8336-2db001202606.gif)

[2016-11-17 16:53] dm-chechik opened #776 "VB :: Button Hover Letter Spacing not applied on front end"
### Problem:

The option works inside FB however the button text doesn't change hover letter spacing on frontend.
The issue exists in Divi Builder plugin as well.
![screen](https://cloud.githubusercontent.com/assets/20072036/20398686/67cc66d0-acff-11e6-9c49-1bdd9cd964bf.gif)

**Link To Download Layout JSON File**:
https://www.dropbox.com/s/cux06mmhtkfprr5/button-module-test-page.json?dl=0

[2016-11-17 21:03] dm-chechik opened #777 "Certain page layout is slowing down the Firefox browser"
### Problem:

The issue comes from customer ticket -> https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=615852
Seems the issue caused by the Fullwidth Slider.
I've exported the page and successfully reproduced the same problem on my local enviro.
The page layout is included below. Tick any posts category so the Fullwidth Slider will be able to show some posts.
![image](https://cloud.github

[2016-11-17 22:14] lots0logs commented on #695
@fikrirasyid It no longer flashes when enabling/disabling a single category. However, there's a new issue and also another issue that remains from before.

1. No posts are shown when the module is first added to the layout.
2. It still flashes if you enable/disable multiple categories consecutively.

Both issues can be seen in this gif:

![2016-11-17 16-06](https://cloud.githubusercontent.com/asse

[2016-11-17 22:24] lots0logs opened #778 "VB :: Debug log output"
### Problem:
When loading the VB on a page where the Homepage Extended layout has been applied, the following is output to the debug log:
[code]
It does not occur when loading the page itself on the frontend.

[2016-11-17 22:39] lots0logs opened #779 "VB :: Module Settings Modals :: Custom CSS :: Help Icon Not Visible & Clicking It Results In JS Error"
### Problem:

The help icons are not visible when hovering over the names of the fields in the Custom CSS tab of modules' settings. If you click where the icon should appear, the following JS Error shows up in the console:
[code]

### Additional Information:
![2016-11-17_04-35-38-pm](https://cloud.githubusercontent.com/assets/4675662/20410780/6331813e-ace4-11e6-9cf2-6bf051767bbc.png)

[2016-11-17 22:42] lots0logs commented on #756
@SlavaET If you apply `background-color` in the Custom CSS tab for one of the tabs, it does not override the color that is configured in the tab's Advanced Design Settings (styles in custom css tab should always override styles from advanced design settings).

[2016-11-17 22:43] lots0logs commented on #754
Let's track this on #756

[2016-11-17 22:43] #754 closed

[2016-11-17 23:03] lots0logs commented on #702
@fikrirasyid Please see review on PR. thanks!

[2016-11-17 23:09] lots0logs commented on #768
@dm-chechik Explain to the customer that we cannot guarantee compatibility with 3rd-party plugins. Also advise them on how they can accomplish what it is they use that widget for using Divi's built-in features.

[2016-11-17 23:09] #768 closed

[2016-11-17 23:13] lots0logs commented on #770
@kary4 Currently the Mailchimp integration requires the `curl_init()` function to be available on the server. Ask the customer to check with their host to see if that function is available.

[2016-11-17 23:25] lots0logs commented on #777
@dm-chechik I am unable to reproduce the issue. However it sounds like a bug in Firefox. Could you ask the customer to update to the latest version of Firefox and see if the issue persists? Thanks.

[2016-11-17 23:47] #709 closed

[2016-11-17 23:47] #760 closed

[2016-11-17 23:47] #707 closed

[2016-11-17 23:47] #713 closed

[2016-11-17 23:47] #729 closed

[2016-11-18 00:34] #742 closed

[2016-11-18 04:31] SlavaET commented on #756
@lots0logs fixed. I changed several selectors in the Tab module and Tab item to make it work correctly, so it may possibly bring some issues with custom css for our customers. But now our options work correctly.

[2016-11-18 07:49] SlavaET commented on #779
Fixed. The same issue was with advanced settings.
With my PR for the CSS options we'll display the selectors, for advanced options we won't render that button at all.

[2016-11-18 08:00] SlavaET commented on #778
@lots0logs can you please check whether you see this error if you remove the Portfolio Module from the page? If yes - do you have any projects made with Builder? What's the content of such a projects?
I tested different combinations, but cannot reproduce this error.

[2016-11-18 08:36] lots0logs commented on #778
@SlavaET Yeah I have a few projects that are using the Project Extended Layout actually.

[2016-11-18 08:45] SlavaET commented on #772
Changing of the structure is not allowed for the Global Rows because it may break the specialty sections which do not support the new structure. Therefore in my PR I did the following:
- disabled the ability to change the structure of Global Row via VB UI;
- disabled the ability to change the structure of Global Row via shortcut in VB;
- disabled the ability to change the structure of Global Row v

[2016-11-18 08:51] SlavaET commented on #778
@lots0logs hm, still no result.
Can you check whether this error occurs on any other page with Fullwidth Portfolio?

[2016-11-18 09:16] lots0logs commented on #778
@SlavaET It's late here :sleepy:  I created a login for you on my sandbox site. You should have received the password on your gmail. You can use WPIDE plugin to view the debug log. If you dont get around to it then I will check on it when I wake up :smiley:

[2016-11-18 09:19] eduard-ungureanu opened #780 "Divi Builder :: Post Title"
### Problem:

If a post title, module it is placed on a single project, and it is set to show the categories, it will not show those. I guess that's because the module is looking for post categories, and not for custom taxonomies.

[2016-11-18 09:52] SlavaET commented on #778
@lots0logs I checked on your test website and cannot reproduce it.
Looks like the issue is related to specific content of your projects ( which I have no access to ) or maybe you got this error on the specific branch?

[2016-11-18 10:02] SlavaET commented on #769
@eduard-ungureanu I cannot reproduce the issue on php 5.6.2. Are you sure it's related to php version? Can you reproduce this issue on any other website?
Can you please import and share the layout of page after saving on your php 5.6 server? I'll take a look.

[2016-11-18 10:21] lots0logs commented on #778
@SlavaET You have full access: http://et.falgout.us/divi (the errors only show up when the page is loaded in the VB)

[2016-11-18 10:43] SlavaET commented on #778
@lots0logs weird, I cannot activate the Visual Builder on this website 😄
![image](https://cloud.githubusercontent.com/assets/3446682/20427435/1995ede2-adae-11e6-9c5a-77a20dc926f3.png)

[2016-11-18 11:15] kary4 commented on #770
@lots0logs Thank you, will do and let you know the result.

[2016-11-18 12:52] dm-chechik commented on #777
@lots0logs I've checked on the latest version 50.0
The issue appears after 2-3 minutes.

[2016-11-18 18:18] lots0logs commented on #756
@SlavaET The selectors for the individual tab content elements don't look right:

|Field|Currently|Should Be|
|:---|:---|:---|
|Before|.et_pb_tab_0:before|.et_pb_tabs_0 .et_pb_tab_0:before|
|Main Element|.et_pb_tabs div.et_pb_tab_0.et_pb_tab|.et_pb_tabs_0 .et_pb_tab_0|
|After|.et_pb_tab_0:after|.et_pb_tabs_0 .et_pb_tab_0:after|

Basically with how they are now, adding custom styles to one tab woul

[2016-11-18 18:31] lots0logs commented on #779
@SlavaET The selectors shouldn't drop to the next line. Also, when you click outside of the field the selector should fadeout automatically. @timayhelen Do you have anything to add regarding this?

![2016-11-18 12-26](https://cloud.githubusercontent.com/assets/4675662/20441614/dbd8ac9c-ad8a-11e6-8d3b-40aba831c9b7.gif)

[2016-11-18 18:45] lots0logs commented on #772
@SlavaET Trying to save a new row as global results in a JS Error on this branch (causes the preloader to stay on screen until page is refreshed)

[code]

[2016-11-18 22:46] lots0logs commented on #349
@Jronk @timayhelen The feature is working as intended now. I have not been able to induce any further errors. That being said, I'm concerned about the 5 second minimum delay (could be longer depending on server response time) imposed when the builder regains focus. I'd feel a lot better about it if it was only imposed once we know there are multiple instances of the builder running.

As it is curr

[2016-11-18 23:26] Jronk commented on #349
good thoughts, here is some more info:
it already doesnt have to be 5 seconds, and surely, as you mentioned, I dont even have to pop the spinner at all

Here is what's literally happening:
If you arrive, after being gone for more than 5 seconds (another value I could change) then it will wait 5 seconds, then trigger heartbeat immediately, and check for external changes.

I could change if blurred

[2016-11-19 00:12] fikrirasyid commented on #702
@lots0logs I've replied and updated the branch based on your review 👍

[2016-11-19 00:22] #746 closed

[2016-11-19 00:22] #764 closed

[2016-11-19 00:22] #694 closed

[2016-11-19 00:22] #767 closed

[2016-11-19 00:22] #750 closed

[2016-11-19 00:31] fikrirasyid commented on #695
@lots0logs I can replicate the second point you mentioned, but I can't replicate the first one. Adding new filterable portfolio automatically shown posts from all categories by default. Is there anything specific that needs to be added (I've tried it on blank page and currently edited page)? Here's how it looks:

![695-new](https://cloud.githubusercontent.com/assets/916442/20451261/ef983294-ae29-1

[2016-11-19 01:27] timayhelen commented on #349
I think it's a good idea that we try to confirm that both builders are being used before we force a heartbeat check and activate the spinner. It's definitely frustrating in the current state. This, combined with the ever-present post revision popups, are going to be very annoying unless we do a good job at limiting them to when they are only most necessary. I am finding it difficult to use this br

[2016-11-19 08:48] fikrirasyid commented on #695
@lots0logs I've pushed https://github.com/elegantthemes/submodule-builder/pull/1430/commits/1fd56c737b124518efe26f7e8fdffde0ab1f78ba which should fix the flickering issue (details about the issue and how it is being fixed can be seen on the commit message).

I still can't replicate `No posts are shown when the module is first added to the layout.` tho. It works as expected:

![add-new-filterable-p

[2016-11-19 09:44] fikrirasyid commented on #728
@timayhelen @dm-checknik related to the first image, page bar is actually 100% width rectangle on the bottom of the page with transparent background, so everything beneath it is basically unhoverable. If I recall correctly, we intentionally keep it that way to avoid any actions which is triggered by hover to perform when the cursor moves from centered button groups to left/right aligned button gro

[2016-11-19 09:59] SlavaET commented on #756
@lots0logs are you sure? Did you check that?
Every single tab on a page ( as well as every single slide, pricing table, toggle, etc ) has its unique index and the situation you described is impossible unless you modify the Divi code and change the mechanism which calculates the module indexes 😉

[2016-11-19 10:02] SlavaET commented on #779
@lots0logs we can make it look the same way as in BB, but it's slightly different design used for these fields in BB, so I made it to look consistent with help text in other options in VB.
Also, in some cases it still will drop to the next line because of the selector's length ( check the audio module for example ).

[2016-11-19 10:18] SlavaET commented on #772
Fixed.

[2016-11-19 10:28] fikrirasyid commented on #728
Note: I updated my previous reply.

[2016-11-19 10:58] fikrirasyid commented on #775
@dm-checknik can you elaborate more on how to replicate the issue? I've tried to replicate the issue based on your attached gif alone on latest `master` by doing the following:

1. Install + configuring Bloom
2. Install + configuring Monarch
3. Replicating the layout content (tabs + accordion module)
4. Replicating the exact same steps as displayed on the animated gif above

 but it looks as expec

[2016-11-19 11:24] dm-chechik commented on #775
@fikrirasyid It seems this is a temporary issue. I can't reproduce it too. Just tried in incognito window.
Sorry :) Anyway if I'll notice the same behavior I'll let you know

[2016-11-19 12:33] fikrirasyid commented on #775
@dm-checknik alright, I'll close this issue for the time being then. If you're able to replicate the issue, feel free to re-open it :)

[2016-11-19 12:33] #775 closed

[2016-11-19 14:14] dm-chechik opened #781 "Divi visual page builder not loading after installing SSL"
### Problem:

The issue comes from the customer.
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=617795
After installing SSL on his server the VB is not loading

[2016-11-19 18:27] dm-chechik opened #782 "VB :: RTL :: Builder components issues"
### Problem:

There are some layout alignment issues on RTL.
1. The close button still aligned to the right.
2. Rows layout looks wierd.
3. The untranslated "Settings" displayed.
4. Upload button aligned to the right and overlaps the advance editor tabs.
![image](https://cloud.githubusercontent.com/assets/20072036/20457523/81c180ac-ae9e-11e6-9e65-318ad69027a4.png)

[2016-11-19 21:32] dm-chechik opened #783 "VB :: The hints are behind the builder page buttons"
### Problem:

The issue exists in Divi Builder as well.
![screen](https://cloud.githubusercontent.com/assets/20072036/20458523/b005dc64-aeb8-11e6-8bbd-cd5336e04bb6.gif)

[2016-11-19 22:30] lots0logs commented on #756
@SlavaET No I didn't test it specifically. Though if its like you are saying then the selectors we are showing to the user in the builder are not actually the selectors being used (in which case that needs to be fixed). I'll test it more on Monday and let you know...

[2016-11-19 23:16] dm-chechik opened #784 "VB :: Gallery module disappears"
### Problem:

It's hard to explain. Please have a look to the screen cast
![screen](https://cloud.githubusercontent.com/assets/20072036/20459100/4d5ebe3c-aec7-11e6-8713-a866fc138791.gif)
The same in Divi Biulder.

[2016-11-20 12:26] kary4 opened #785 "Theme Customizer :: General Settings Background :: Does Not Work Correctly"
### Problem:

If you go to the Theme Customizer > General Settings > Background and define a background image it does not works on some pages. I'm still not sure if it depends on if divi builder is enabled/disabled.
Screen cast:
http://youtu.be/GJNgjf0Ia60?hd=1

[2016-11-20 16:42] fikrirasyid opened #786 "FB :: Fullwidth Header :: default `scroll to next section` icon isn't identical between FB and actual page"
### Problem:

Default `scroll to next section` icon of fullwidth header on FB isn't identical to what is being printed on the actual page.

This is how the default `scroll to next section` icon looks like on FB:

![screen shot 2016-11-20 at 11 36 48 pm](https://cloud.githubusercontent.com/assets/916442/20464442/4d4d049a-af7a-11e6-89f5-679eac360cfa.png)

This is how the default `scroll to next sect

[2016-11-21 05:40] SlavaET commented on #762
@lots0logs please check the latest version of PR.

[2016-11-21 05:43] SlavaET commented on #728
I can confirm that we fixed the issue with Media Uploader button covered by Page Settings Bar.

[2016-11-21 06:21] SlavaET opened #787 "Duplicated values in the et_pb_options variable"
### Problem:

Looks like some values were mistakenly duplicated during the merge in the `includes/builder/functions.php` :
![image](https://cloud.githubusercontent.com/assets/3446682/20472572/eceab190-afe4-11e6-93cc-66f364d46aee.png)

[2016-11-21 06:32] SlavaET commented on #756
@lots0logs hm, selectors from the `Currently` column in your table look right and we actually use them.

[2016-11-21 06:56] SlavaET commented on #715
@lots0logs we don't have a description for these fields, so nothing happens when you click on the `?`
I improved the appearance of `?` icon in scope of this issue - https://github.com/elegantthemes/Divi-Beta/issues/779
So if the field don't have a description, then `?` icon won't appear.

@lots0logs do we need to add the description for these fields? Probably we have some more fields without descr

[2016-11-21 09:01] SlavaET commented on #740
**Note:** the fix requires 2 branches:
- `Divi` - https://github.com/elegantthemes/Divi/issues/2631
- `submodule-core` - https://github.com/elegantthemes/submodule-core/issues/45

[2016-11-21 09:05] SlavaET commented on #780
@eduard-ungureanu yes, it doesn't work with custom taxonomies:

![image](https://cloud.githubusercontent.com/assets/3446682/20476577/db3f9e80-affb-11e6-99a5-cb347442002b.png)

[2016-11-21 09:05] #780 closed

[2016-11-21 11:15] eduard-ungureanu commented on #780
@SlavaET thank you, any plans to add this to also be working with Projects post type for example?!

[2016-11-21 12:18] FaycalBoutam commented on #763
@timayhelen We could add a setting for each tag, at least to the text module.
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=618183&p=3412642

[2016-11-21 13:39] andrey-agp opened #788 "Special Section :: special column should not allow insert rows"
### Problem:

![animation](https://cloud.githubusercontent.com/assets/9657712/20484612/2bc8e99e-b022-11e6-99ab-abf44746ca5a.gif)

[2016-11-21 17:39] lots0logs commented on #740
@timayhelen While were're here, I think we should change the `<p>` tag to a `<div>` tag. We're seeing a lot of forum tickets with footer problems caused by invalid HTML structure due to the fact that we are wrapping the contents of footer credits option in a paragraph tag.

[2016-11-21 18:06] lots0logs commented on #725
@fikrirasyid Could we use CSS whitespace & ellipsis properties here so that its clear when the entire name is not visible?

[2016-11-21 18:19] lots0logs commented on #772
@SlavaET Javascript errors are fixed but now I'm getting this in the debug log:
[code]

[2016-11-21 18:22] SlavaET commented on #772
Are you sure you got this error from my PR? It doesn't look like an error
related to the changes I made... Can you please check it on master?

On Nov 22, 2016 01:19, "Dustin Falgout" <notifications@github.com> wrote:

[2016-11-21 18:51] lots0logs commented on #766
@fikrirasyid This isn't working for me. Nothing happens when I click the button. Also, the section heights seem to be miscalculated as the button isnt visible in the viewport for any sections in the VB and its only visible for the first section on the page itself.

### VB: Notice the button is not visible:
![2016-11-21_12-41-53-pm](https://cloud.githubusercontent.com/assets/4675662/20495952/c6dce1

[2016-11-21 19:08] lots0logs commented on #762
@SlavaET Its improved but there is still an issue with positioning (see screenshot). Also I'm only just now noticing that the URL is shown for OEmbed videos at the beginning of the content and the entire shortcode is shown for HTML5 videos. That was fixed recently in the blog module. Let's fix it here as well.

![2016-11-17_04-35-38-pm](https://cloud.githubusercontent.com/assets/4675662/20496636/a

[2016-11-21 19:25] #719 closed

[2016-11-21 19:26] #692 closed

[2016-11-21 19:27] #693 closed

[2016-11-21 19:31] lots0logs commented on #779
@SlavaET :indeed: that is the question! @timayhelen ?

[2016-11-21 19:37] lots0logs commented on #728
@fikrirasyid Let's just ensure that the tooltips and modals are always positioned where they do not overlap the page settings bar (when the viewport is tall enough of course).

[2016-11-21 19:38] #747 closed

[2016-11-21 19:40] lots0logs commented on #715
@SlavaET

Yes, but I think we can wait and do it in 3.1.

[2016-11-21 19:40] #715 closed

[2016-11-21 19:57] lots0logs commented on #781
@dm-chechik This is most likely an issue with the customer's content not being ready for the site to be flipped to SSL connections. There are plugins available to help correct mixed content issues. Recommend a few to the customer.

[2016-11-21 19:57] #781 closed

[2016-11-21 19:59] lots0logs commented on #785
@kary4 When the Divi Builder is used for a page the background must be set in the builder. There is an open issue already in the Divi repo for the background on non-divi builder pages/post.

[2016-11-21 19:59] #785 closed

[2016-11-21 20:01] fikrirasyid commented on #766
@lots0logs can you share the following information:

- `/Divi`'s latest commit SHA
- `submodule-builder` latest commit SHA
- version of browser you're using

Furthermore, can you elaborate what do you mean by the following:

I checked the PR on all of the following variations:

Settings | Desktop | Tablet | Mobile
----|---------|--------|--------
Fixed Nav (standard)| Y | Y | Y
Fixed Nav (fixed na

[2016-11-21 20:04] fikrirasyid commented on #725
@lots0logs do you mean instead of doing this:

[code]

We should display it like this instead:

[code]

This is looks solid actually. I'll find a way to do it

[2016-11-21 20:09] lots0logs commented on #766
@fikrirasyid

* **Divi:** `a3ef6eb3c3ee9f2ff09a837516aab400faafabc8`
* **Builder:** `d2dc0a21216977a6daf87a4d7711557447541879`
* **Browser:** Chrome 54.0.2840.100

Clicking the button does not have any affect (the page doesn't scroll). This happens with fixed nav + default  header style and also with fixed nav + centered header style. I did not test other variations after those two didn't work.

N

[2016-11-21 20:16] fikrirasyid commented on #766
@lots0logs noted, thank you for clarifying it. I'll look into it.

Gotcha 👌

[2016-11-21 20:17] lots0logs commented on #725
@fikrirasyid Yes. Exactly. This is what I had in mind btw: https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/

[2016-11-21 20:19] lots0logs commented on #772
@SlavaET You're right..its on master too. Don't know how I missed it (before it ended up in master) :sweat_smile:

[2016-11-21 20:21] lots0logs opened #789 "PHP Notice: Undefined variable"
### Problem:
[code]

[2016-11-21 21:35] fikrirasyid commented on #766
@lots0logs I've found out why the PR didn't work. I forgot to push and open the PR for its `Divi` counterpart :facepalm:. To review the PR, please checkout the following branches:

- Checkout `Divi` to `766-divi-builder-full-width-header-scroll-to-next-section` PR: https://github.com/elegantthemes/Divi/pull/2632
- Checkout `submodule-builder` to `766-divi-builder-full-width-header-scroll-to-next-s

[2016-11-21 21:51] fikrirasyid commented on #725
@lots0logs I've incorporated the ellipsis properties at https://github.com/elegantthemes/submodule-builder/commit/670ea0521452b7a20b1e03e2511d34a4cf9520eb. There are several things that need to be noted tho: It forces the item to have one line only:

![screen shot 2016-11-22 at 4 40 52 am](https://cloud.githubusercontent.com/assets/916442/20501911/635d00a6-b06e-11e6-9f1c-0dd340f6e35d.png)

I perso

[2016-11-21 23:37] lots0logs commented on #725
@fikrirasyid

I only see one thing :confused:  lol

[2016-11-21 23:37] timayhelen commented on #702
The default button color is now incorrect in this branch. It should be blue:

![screen shot 2016-11-21 at 3 36 48 pm](https://cloud.githubusercontent.com/assets/3333028/20505242/71d74e66-b000-11e6-8103-90c10944a60e.png)

[2016-11-21 23:42] lots0logs commented on #725
I kind of think there isn't enough padding applied to each item but since its not in the scope of this PR I'll let @timayhelen make the call on that :wink:

[2016-11-21 23:46] timayhelen commented on #695
@fikrirasyid Something quite strange happened to me after switching to this branch. All my my Project categories were deleted. I am not sure how it's possible, but I am worried that it might be related to something in the branch.

![screen shot 2016-11-21 at 3 44 12 pm](https://cloud.githubusercontent.com/assets/3333028/20505386/5dd68944-b001-11e6-97b6-9d43e7a2c324.png)

[2016-11-21 23:54] Jronk commented on #723
Product Features:

BEFORE:
BB saved - shortcode: 8,097 chars
FB saved - shortcode: 18,756 chars
FB page load object: 151,801 chars
FB initial ajax object: 643,131 chars (629KB/2.12 sec)
FB save request: 653b/ 3.81 sec
FB save request modules object: 21,208 chars

AFTER:
BB saved - shortcode: 8,097 chars
FB saved - shortcode: 7,449 chars [60% reduction]
FB page load object: 111,044 chars [27% reduc

[2016-11-21 23:56] timayhelen commented on #740
@lots0logs @SlavaET Sure that sounds fine to me.

[2016-11-22 01:29] #695 closed

[2016-11-22 01:29] #704 closed

[2016-11-22 01:29] #765 closed

[2016-11-22 01:29] #772 closed

[2016-11-22 01:29] #739 closed

[2016-11-22 01:29] #748 closed

[2016-11-22 01:29] #787 closed

[2016-11-22 03:13] #788 closed

[2016-11-22 04:06] SlavaET commented on #740
@lots0logs done.

[2016-11-22 04:34] fikrirasyid commented on #725
@lots0logs I initially had several things to be written, but as I wrote I realized that there was only one thing that really mattered so I erased the list but forgot to change the `pronoun` 😅

[2016-11-22 04:39] fikrirasyid commented on #766
@lots0logs can you elaborate why this is being moved back to `In Progress` pipeline?

[2016-11-22 06:31] fikrirasyid commented on #702
@timayhelen I've checked how comment module's default color works and it turns out that button form's submit button default color is determined by theme. For comparison, this is how submit button of comment module appears on Extra:

<img width="501" alt="screen shot 2016-11-22 at 1 18 13 pm" src="https://cloud.githubusercontent.com/assets/916442/20513044/2905a1a4-b0b6-11e6-92f5-d8c49cf3b9b0.png">

[2016-11-22 07:08] lots0logs commented on #756
@SlavaET Okay, in that case how does this selector not affect every Tabs Module on the page?
[code]
Should it not start with `.et_pb_tabs_0` so that it affects only the module it is supposed to?

[2016-11-22 07:13] lots0logs commented on #766
@fikrirasyid Wow..sorry I could have sworn I posted a comment with screenshots. I might have posted them on another issue or PR by mistake :grimacing:

The scroll button appears too far down the page in certain cases. I'm having trouble recalling exactly which variations it is but I do have the screenshots so they should help :sweat_smile:

This is the second row on desktop view:

![2016-11-21_06-

[2016-11-22 07:13] SlavaET commented on #756
@lots0logs every tab on a page has unique order class no matter where it's located and there is no possibility that we have 2 tabs with `et_pb_tab_0` class on a page. Unless you add this class manually somehow.
![image](https://cloud.githubusercontent.com/assets/3446682/20514313/60192edc-b0b5-11e6-8b7f-d3ae846b1e7b.png)

[2016-11-22 07:19] lots0logs commented on #756
I was thinking that the number started over at 0 inside each module..omg

![homer-simpson-doh](https://cloud.githubusercontent.com/assets/4675662/20514469/ab66cbb0-b051-11e6-9c76-630b50ddf2f2.gif)

sorry! :sweat_smile:

[2016-11-22 11:48] fikrirasyid commented on #728
@lots0logs I've pushed https://github.com/elegantthemes/submodule-builder/pull/1460 which achieved what you mentioned by `ensure that the tooltips and modals are always positioned where they do not overlap the page settings bar`. However it is kinda contradicting with @timayhelen's decision of not limiting modal dimension to window at https://github.com/elegantthemes/Divi-Beta/issues/605#issuecomm

[2016-11-22 13:46] indikatordesign opened #790 "Module Background Important has no effect"
### Problem:

The important declaration for background inside modules has no effect.

[code]

The output should be something like this:

`.element { background-color: #0c71c3 !important; }`

But it is represented without "!important".

[2016-11-22 13:53] fikrirasyid commented on #766
@lots0logs can you take a look at it again? I think you're having issue on the following situation:

- fixed nav
- haeder style centered
- fixed nav height & line height: default values

There is one specific issue that occurs on header style centered: default header style's fixed nav height default value isn't exactly the default value of centered header style height. It appears that previously,

[2016-11-22 14:07] indikatordesign opened #791 "WooCommerce filters have no effect"
### Problem:

WooCommerce provides filters to configure related- and upsell-products. These have no effect when used with Divi. With the standard-theme, they work as expected.

filter: woocommerce_upsell_display_args

filter: woocommerce_output_related_products_args

[code]

[2016-11-22 14:26] lots0logs commented on #728
@fikrirasyid Hmm..actually what I meant was that we should make sure that we don't position the modals/tooltips beneath the settings bar whenever they are opened. Beyond that the user should be able to drag them wherever they want. Sorry I wasn't very clear in my last comment :grimacing:

[2016-11-22 15:20] kary4 opened #792 "Plugin compatibility :: WooCommerce Products Per Page :: Does Not Work"
### Problem:

Divi does not works with this plugin activated:
https://en-gb.wordpress.org/plugins/woocommerce-products-per-page/

So, when you try to select Number of products in a category page it still loads the default number that comes from the theme options settings.

I was able to reproduce the issue on my local machine.

Ticket:
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=6199

[2016-11-22 18:42] uportnykh opened #793 ""Add Button Icon" setting when set to "no" causes the whole button to disappear"

[2016-11-22 19:42] timayhelen commented on #756
@SlavaET This causes various issues with the tab's design.

1. The tabs text no longer lines up correctly.

2. The active tab text bounces up when activated.

![screen shot 2016-11-22 at 11 40 51 am](https://cloud.githubusercontent.com/assets/3333028/20539090/b9c474a8-b0a8-11e6-8ae2-8efa28a55e72.png)

The negative margin isn't a good solution in this case since it makes things uneven.

[2016-11-22 19:51] timayhelen commented on #789
This was fixed in a different way: https://github.com/elegantthemes/Divi-Beta/issues/793

[2016-11-22 19:51] #789 closed

[2016-11-22 19:57] #776 closed

[2016-11-22 19:57] #793 closed

[2016-11-22 20:06] kary4 opened #794 "Plugin compatibility :: Wc vendors pro :: Does Not Work"
### Problem:
Wc vendors pro plugin does not work in Divi. It's payed plugin, so unfortunately I can't check it myself.
You can get more info here:
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=619364

The plugin page:
https://www.wcvendors.com/product/wc-vendors-pro/

[2016-11-22 20:26] lots0logs commented on #794
@kary4 Let the customer know that we cannot guarantee support for 3rd-party plugins and that they will need to contact the plugin developer for assistance. I've looked into that particular plugin recently and the problem is not caused by Divi.

[2016-11-22 20:26] #794 closed

[2016-11-22 21:25] lots0logs commented on #766
@fikrirasyid Hmm..still seeing the same issue. To recap:

Scroll button position is partially outside of the viewport for:

* The first section on Tablet Portrait & Mobile with default, center, & inline header/nav layouts.
* Subsequent sections after the first section on Desktop for the centered and inline header/nav layouts.

[2016-11-22 22:27] kary4 opened #795 "FullWidth Slider :: Fullwidth Slider Module Settings :: Header Font Size Does Not Work"
### Problem:

Fullwidth Slider Module Settings ::  Header Font Size Does Not Work when you set different values for Desktop/Tablet/Phone. Though it works under each Slide Settings, but not in Slider Settings level.

Screen cast:
http://youtu.be/VYMmxxg4k74?hd=1

[2016-11-23 00:16] fikrirasyid commented on #728
@lots0logs can you elaborate more on what you mean by `we don't position the modals/tooltips beneath the settings bar whenever they are opened`? Isn't it what the following does?

![728-fixed](https://cloud.githubusercontent.com/assets/916442/20521375/914e63d2-b0dd-11e6-8ebe-c7ce5d1469fb.gif)
*Moving / Dragging*

![728-resize-pr](https://cloud.githubusercontent.com/assets/916442/20521398/a8fff50e-

[2016-11-23 01:08] dm-chechik commented on #781
@lots0logs I've checked the WP backend. Customer has already SSL plugin and the "Correct mixed content" option is enabled. At first glance everything is configured correctly.

[2016-11-23 02:31] lots0logs commented on #781
@dm-chechik If there is mixed content being served on the page, its not something that Divi has any control over. Divi's assets will be served over SSL provided that SSL has been setup properly. The main thing is to ensure that both URLs in Settings>>General are `https://`. If the customer has plugins adding resources with regular `http` or has `http` resources loaded within their content they'll

[2016-11-23 02:37] lots0logs commented on #728
@fikrirasyid I mean that when a modal/tooltip is made visible it should be positioned above the settings bar. Beyond that, the current behavior should stay in place (which is that the modals can be dragged anywhere without restriction. So for example, if the user was to drag the modal to a position that puts it behind the settings bar and then saves/closes it. The next time it is opened it should

[2016-11-23 04:46] fikrirasyid commented on #777
@dm-chechik can you ask the access token to the customer so I can access it directly? I don't think the issue can be replicated locally due to the following reason:

1. The post slider relies on post (post type) content which isn't included on the imported layout
2. The layout uses third party plugin for displaying the slide content:

![screen shot 2016-11-23 at 11 44 05 am](https://cloud.githubus

[2016-11-23 04:52] fikrirasyid commented on #777
Anyway, I tried accessing the URL appears on the screenshot (http://wordpress.cradim.home/) and I couldn't access it. Is it accessible for you?

[2016-11-23 05:03] SlavaET commented on #756
@timayhelen fixed. Please check it now.

[2016-11-23 10:02] fikrirasyid commented on #728
@lots0logs Ah I see. So what you mean is do the prevention mechanism (what the PR has done) **only when the modal is being opened**?

We can do it and it certainly will not contradicting with @timayhelen's decision at https://github.com/elegantthemes/Divi-Beta/issues/605#issuecomment-253173019, but isn't it only half-fixed the issue? It surely fixes the issue **IF** user doesn't move the modal. Ho

[2016-11-24 00:13] lots0logs commented on #728
@fikrirasyid I think that if the user move's the modal where its blocked by the settings bar then they can just as easily move it back into a better position. I don't think its necessary for us to force anything on the user (which is inline with the decision made at https://github.com/elegantthemes/Divi-Beta/issues/605#issuecomment-253173019)

[2016-11-24 00:19] #725 closed

[2016-11-24 00:31] timayhelen commented on #756
@SlavaET It looks like background colors and images for the overall tab module and individual tab items do not fill the whole tab area:

![screen shot 2016-11-23 at 4 30 11 pm](https://cloud.githubusercontent.com/assets/3333028/20582908/2de8ef84-b19a-11e6-8a3f-7794c9871314.png)

I think that's what the original post was about. Can we make it fill the whole area?

[2016-11-24 05:31] SlavaET commented on #762
@lots0logs fixed the alignment issues. Please check it now.
As for the video, can you please explain how it was fixed in Blog? This is what I see on my end when `show excerpt` option enabled:
![image](https://cloud.githubusercontent.com/assets/3446682/20587626/586207ce-b239-11e6-9828-744fefd7cbd5.png)

If I enable `show content` option, then I can see the video correctly in both Blog and Post Slid

[2016-11-24 05:39] SlavaET commented on #756
@timayhelen hm, it works correctly on my end:
![tabs-bg](https://cloud.githubusercontent.com/assets/3446682/20587807/91b923b2-b23a-11e6-8dfd-c8dfebd4da92.gif)

Can you please export the layout of that page I'll check that.

[2016-11-24 09:13] fikrirasyid commented on #728
@lots0logs I'm closing the previous PR and opened new one which incorporating your feedback at https://github.com/elegantthemes/submodule-builder/pull/1472

This is the PR message which explains how the PR works:

[2016-11-24 10:21] fikrirasyid commented on #790
@comitzuu To make sure that we're on the same page, can you elaborate which module that you're referring to on this issue? Thanks :)

[2016-11-24 10:35] comitzuu commented on #790
It refers to any module to which it is applied. The CSS output should be provided with a "!important", as it is also applied for padding and margin.

However, this is not the case. You can see it for example in the "ET_Builder_Module_Tabs_Item". It also does not affect customer module customizations. You must then create unnecessary fields to avoid this..

[2016-11-24 12:59] fikrirasyid commented on #766
@lots0logs can you try pull the the branches (note: the changes are on `/Divi` and `submodule-builder`) and test it again? I'm not sure how did you test it, but I test it on actual device and I found the issue occurs due to toolbar that can change its height when the page is being scrolled.

If you're still seeing the issue, can you explain (as detail as possible) how did you test it and can you r

[2016-11-24 13:58] dm-chechik commented on #777
@fikrirasyid Actually it's my local test server address. Sorry :) I've asked customer to generate a new token.

[2016-11-24 14:07] fikrirasyid commented on #790
@comitzuu thank you for pointing that out! I've verified the issue and I've submitted the patch for it. Once the patch passes the review process, it should be merged to the next release of Divi.

[2016-11-24 14:14] eduard-ungureanu opened #796 "Post Slider :: Featured Image Position"
### Problem:

When setting the option for the Image Placement: to be either top or bottom, the image shows in the wrong position:

Image Placement: TOP
![screenshot 2016-11-24 16 07 57](https://cloud.githubusercontent.com/assets/1719735/20601375/0175135c-b261-11e6-98b3-eff1d133878b.png)

Image Placement: BOTTOM
![screenshot 2016-11-24 16 09 05](https://cloud.githubusercontent.com/assets/1719735/20

[2016-11-24 15:05] andrey-agp opened #797 "Button :: Incorrect padding on hover"
### Problem:

![screenshot_3](https://cloud.githubusercontent.com/assets/9657712/20602860/42d2fce2-b289-11e6-970b-13c1667d34e2.png)

### Steps To Reproduce:
1.  Open Theme Customizer >Buttons > set "Add Button Icon" option to "no"
2.  Create Button module and select custom icon in Advanced Design Settings

[2016-11-24 16:23] indikatordesign commented on #790
@fikrirasyid thank you and best regards

[2016-11-25 04:10] SlavaET commented on #796
This issue should be fixed in scope of the following PR - https://github.com/elegantthemes/Divi-Beta/issues/762

[2016-11-25 04:29] #796 closed

[2016-11-25 04:52] SlavaET opened #798 "VB :: wrong appearance of items in the "Add New Section" modal"
### Problem:

![image](https://cloud.githubusercontent.com/assets/3446682/20614801/03bae7da-b2fd-11e6-8bdb-b6d0603dfe14.png)

should be:
![image](https://cloud.githubusercontent.com/assets/3446682/20614831/25d8316a-b2fd-11e6-98d3-6ec5aefdd15a.png)

[2016-11-25 07:14] fikrirasyid opened #799 "WP 4.7 :: FB :: Inconsistent User-specific localisation on Visual Builder"
### Problem:

WordPress 3.7 introduces user specific language setting (site can be set to a particular language and user has different language setting that the site's language. See this post for What's coming on WP 3.7: http://www.wpbeginner.com/news/whats-coming-in-wordpress-4-7-features-and-screenshots/). When site and user has different language setting, the output on visual builder looks inco

[2016-11-25 07:32] fikrirasyid opened #800 "WP 4.7 :: Custom CSS :: Evaluate Custom CSS field on Dashboard > Divi > Theme Options"
### Problem:

Divi has Custom CSS field at `Dashboard > Divi > Theme Options > General` tab:

<img width="1249" alt="screen shot 2016-11-25 at 2 30 26 pm" src="https://cloud.githubusercontent.com/assets/916442/20617428/bc5f3980-b31b-11e6-8a75-3d0b162d9491.png">

WordPress Customizer now has additional CSS field by default:

![custom-css-wp-37](https://cloud.githubusercontent.com/assets/916442/2061

[2016-11-25 09:03] SlavaET commented on #800
What if we sync this WP option with our ePanel option? So users will be able to modify theme custom css from Customizer or ePanel.
I didn't check how it works yet, just an idea.

[2016-11-25 14:14] fikrirasyid opened #801 "WP 4.7 :: Customizer :: Added Partial Edit Shortcut Button Support"
### Problem:

WordPress' default themes has this useful customizer shortcut edit button in WordPress 4.7 RC1:

![partial-edit-shortcut-button](https://cloud.githubusercontent.com/assets/916442/20627547/5c009736-b353-11e6-9dd3-6d9e7f3e54ba.gif)

The same button can't be found on WordPress 4.6:

![screen shot 2016-11-25 at 9 08 47 pm](https://cloud.githubusercontent.com/assets/916442/20627560/6ea8b2

[2016-11-25 14:28] fikrirasyid opened #802 "WP 4.7 :: Customizer :: Misaligned Close Customizer Button"
### Problem:

Subtle, but this happens. Close customizer button on Divi theme appears to be little bit misaligned:

![screen shot 2016-11-25 at 9 26 12 pm](https://cloud.githubusercontent.com/assets/916442/20627944/d3e97fae-b355-11e6-96e2-79a1e8fc3616.png)

As comparison, this is how the button appears on TwentySixteen theme:

![screen shot 2016-11-25 at 9 27 12 pm](https://cloud.githubusercontent

[2016-11-25 15:00] fikrirasyid opened #803 "WP 4.7 :: VB :: Cannot load predefined layouts"
### Problem:

Loading pre-defined layout always fails. Here's how it looks:

![cannot-load-predefined-layout](https://cloud.githubusercontent.com/assets/916442/20628752/69ecf2de-b35a-11e6-9439-21b9f986d59f.gif)

### Steps To Reproduce:
1. Make sure that no cache stored by opening console tab on dev tools, then type `localStorage.clear()` then hit enter
2. Create new page, activate BB, save, then v

[2016-11-26 14:50] dm-chechik opened #804 "Theme fonts improvements :: Add WOFF2 format"
### Problem:

It seems we should consider to use woff2 format in our themes.
![image](https://cloud.githubusercontent.com/assets/20072036/20641072/b17191ae-b400-11e6-87d0-ddab189dbb49.png)

[2016-11-26 21:02] timayhelen commented on #800
@SlavaET Yeah that would be nice, and then we can phase out epanl CSS after the next few major releases.

[2016-11-27 05:35] uportnykh commented on #803
I can't replicate it. I'm using the latest dev version of WordPress though, so it might have to do with it.

[2016-11-27 06:09] uportnykh commented on #801
I've added selective refresh support for widgets.

It is also possible to add partial edit shortcut to any element in the theme: https://github.com/WordPress/WordPress/blob/master/wp-content/themes/twentyeleven/inc/theme-options.php#L509-L524

[2016-11-28 05:54] SlavaET commented on #803
I can reproduce the issue with the latest dev version of WP, but I get the following errors.
In browser console:
![image](https://cloud.githubusercontent.com/assets/3446682/20657229/7c184d86-b55e-11e6-837e-f170cc2113b2.png)

in debug.log:
```PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 65552 bytes) in /Applications/MAMP/htdocs/wordpress/wp-includes/shortcod

[2016-11-28 08:41] SlavaET commented on #803
Turned out I found different 2 issues which are not related to WP 4.7 actually.
1) It's related to blog module which contains posts with blog module and it creates infinite loop which breaks the library loading.
2) Divi Builder always set the memory_limit to 128mb even if current limit is higher

I'll open a new ticket for that.

@fikrirasyid I cannot reproduce the issue you described either.

[2016-11-28 08:47] SlavaET opened #805 "VB :: Blog module breaks the loading of library layouts if contains posts with blog module inside"
### Problem:
I get the following errors when using the Visual Builder.
In browser console:
![image](https://cloud.githubusercontent.com/assets/3446682/20657229/7c184d86-b55e-11e6-837e-f170cc2113b2.png)

in debug.log:
```PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 65552 bytes) in /Applications/MAMP/htdocs/wordpress/wp-includes/shortcodes.php on line 378```

[2016-11-28 13:16] kary4 commented on #770
@lots0logs The answer is that: All curl_init functions are available per the host.

Actually I was able to reproduce the problem locally, not sure if it's something specific for the customer..

[2016-11-28 16:04] dm-chechik opened #806 "Image Module :: Animation does not work under IE"
### Problem:

I've faced the similar problem on other customer sites, however the issues do not appear constantly.
This is another customer site where I can successfully reproduce the problem -> http://foelelsenaffaxe.dk/lokalsamfund/haslev/

[2016-11-28 23:57] fikrirasyid commented on #801
@uportnykh I've checked https://github.com/elegantthemes/Divi/pull/2639 and it is working well adding partial edit shortcut for widget. Anyway, can we do the same for nav, header logo, and footer? It seems logical for doing so. This is how partial edit shortcut looks like on TwentySixteen. The links look really contextual and useful:

![screen shot 2016-11-29 at 6 53 31 am](https://cloud.githubuse

[2016-11-29 00:29] fikrirasyid commented on #803
@SlavaET @uportnykh I pulled latest `master` on both `Divi` and `submodule-builder` and now I can't replicate this issue as well. I'll close this issue then.

[2016-11-29 01:07] #702 closed

[2016-11-29 01:07] #740 closed

[2016-11-29 01:09] #786 closed

[2016-11-29 01:58] lots0logs commented on #784
@SlavaET On this branch, I can't drag the Gallery anywhere:

![2016-11-28 19-56](https://cloud.githubusercontent.com/assets/4675662/20693589/13bc5ce0-b5a5-11e6-92b4-22d14ace2349.gif)

[2016-11-29 02:11] lots0logs opened #807 "Tooltips :: Missing Tooltip For Modal Snap Button"
### Problem:

![2016-11-28_08-10-19-pm](https://cloud.githubusercontent.com/assets/4675662/20693862/cac7952a-b5a6-11e6-9070-a801c7903bc2.png)

[2016-11-29 02:20] lots0logs opened #808 "Map Modules :: Link To Documentation For API Key Is Not Clickable"

[2016-11-29 02:22] fikrirasyid commented on #777
@dm-chechik any update on this?

[2016-11-29 02:23] #803 closed

[2016-11-29 02:28] lots0logs commented on #771
@SlavaET Can we prevent the map from "flashing" when its re-rendered?

![2016-11-28 20-27](https://cloud.githubusercontent.com/assets/4675662/20694195/338f50b4-b5a9-11e6-85bd-1ba6352f17ee.gif)

[2016-11-29 03:22] lots0logs commented on #701
@SlavaET Can we do this for the BB's Live Preview Mode as well?

[2016-11-29 03:36] lots0logs opened #809 "Modals :: Footer Buttons Glitchy During Opening Animation"
### Problem:

To see the issue, focus on the left side of the modal footer in the following screencast:

![2016-11-28 21-33](https://cloud.githubusercontent.com/assets/4675662/20695575/b96b4626-b5b2-11e6-9cb2-0729eb2d73d2.gif)

[2016-11-29 04:28] fikrirasyid commented on #797
Patch for this issue consists of two PRs:

- Divi: https://github.com/elegantthemes/Divi/pull/2642
- submodule-builder: https://github.com/elegantthemes/submodule-builder/pull/1483

[2016-11-29 04:29] fikrirasyid commented on #790
@indikatordesign I'm reopening this issue. Please let the issue open, we'll close it when the patch has been merged to master 👍

[2016-11-29 04:32] fikrirasyid commented on #791
@indikatordesign can you paste the complete code of how you hooked the filter and the screenshot of the expected result so we can correctly replicate the issue? Thanks.

[2016-11-29 06:15] indikatordesign commented on #790
Oh.. Ok, sorry..

[2016-11-29 08:17] SlavaET commented on #799
Note: there are 2 PRs:
1) For the Divi theme - https://github.com/elegantthemes/Divi/issues/2643
2) For the Divi Builder Plugin - https://github.com/elegantthemes/divi-builder/issues/864
Both PRs add the same function into appropriate place in theme and plugin.

@timayhelen I used the code from default WP function and added a reference to that function, please take a look and let me know if it's a

[2016-11-29 08:41] indikatordesign commented on #791
You can insert this snippet into the functions.php and get the following output in the standard theme (Twentysixteen). In this case, simply ignore the passed arguments and re-define them:

[code]
![-1](https://cloud.githubusercontent.com/assets/6696178/20701742/ea9548d4-b614-11e6-9425-1f960e433faa.jpg)
You only need to adjust the width of the li elements. As you can see, 12 products are distribute

[2016-11-29 08:59] indikatordesign commented on #791
And if you try to output it directly with something like this:
[code]
You get the following result:
![-3](https://cloud.githubusercontent.com/assets/6696178/20702896/e7c870c2-b619-11e6-9b31-5b7e40ca8398.jpg)

For upsell products you have here again the same behavior:

[code]

[2016-11-29 09:56] fikrirasyid commented on #774
@lots0logs @timayhelen @mariomaruffi do we have a document which explained how we generate our module fonts? I've cross-checked this icon alignment issue and it appears that many icons are aligned correctly *and* incorrectly. There's no sign of CSS issue on this, so I think this is caused by the alignment in the font icon.

This is the result of testing on 56 icons on blurb. Note: `A` means `align

[2016-11-29 09:58] fikrirasyid commented on #774
In case you're interested on testing the skewed icon, this is the layout I'm using to test the icon alignment on blurb module above:
[774-blurb-icon-test.json.zip](https://github.com/elegantthemes/Divi-Beta/files/618633/774-blurb-icon-test.json.zip)

[2016-11-29 12:17] SlavaET commented on #800
Done.
It works as follows in my PR.
- We use WP system to output custom CSS on frontend starting from WP 4.7. Fallback to our legacy system otherwise;
- We keep in sync Custom CSS option with ePanel CSS option. We sync them once in new version of theme and then update both of them when user modified it from any place;
- We still store all the Custom CSS in theme options to support backward compati

[2016-11-29 14:03] dm-chechik opened #810 "Incorrect additional top padding value on transparent menu"
### Problem:

~~There is unwanted additional padding appears if any transparency value is added to the main menu.
Especially it noticeable with Slide In type menu.~~ Please see my comment below: https://github.com/elegantthemes/Divi-Beta/issues/810#issuecomment-263888972

We're fixing the additional top padding adjustment on first section when primary nav background is transparent and the first se

[2016-11-29 16:41] SlavaET commented on #701
@lots0logs done.

[2016-11-29 20:13] lots0logs commented on #701
@SlavaET Hmm...still the same as before in the BB Live Preview.

[2016-11-29 20:18] andyhqtran commented on #608
@Jronk this still needs to be looked at to see why the video resizing isn't updating properly.

[2016-11-29 20:18] lots0logs commented on #802
@SlavaET This change fixes the alignment for 4.7 but breaks it for previous versions.

[2016-11-29 20:35] lots0logs commented on #799
@SlavaET Can we do this with a single new function added to `core/functions.php`?

[2016-11-29 20:41] lots0logs commented on #723
@Jronk There's a merge conflict now :grimacing: