[2016-03-19 18:01] elegantthemestest opened #1 "Testing Issue"

[2016-03-19 18:02] elegantthemestest opened #2 "Testing two"
test

[2016-03-19 18:02] #1 closed

[2016-03-19 18:02] #2 closed

[2016-03-19 18:04] timayhelen opened #3 "Welcome To The Divi Beta Issue Tracker"
## Hello Beta Testers

We have created this empty public repo for the sole purpose of issue tracking during beta testing. Since we use Github internally, it integrates perfectly with our internal workflow.

If you find a bug within the beta, simply click the "New Issue" button to the top right of the page to open an issue and it will be addressed by our team.

Thanks for the help!

[2016-03-20 22:21] danmossop opened #4 "Builder Settings Modal :: Double digit bounce rate limits cropped"
### Problem:

When the bounce rate limit for a split test is >= 10, part of the second digit is cut off, suggesting that the input box isn't quite wide enough. Minor visual issue only.

### Steps To Reproduce:
1. Start new page and enable Divi Builder
2. Click on page settings menu
3. Set "Enable Split Testing" = Yes
4. Increase "Bounce Rate Limit" to 10 or higher

### Additional Information:

Tes

[2016-03-20 23:11] danmossop opened #5 "Layout/Style :: Variation number disappears when admin label changed"
### Problem:

When a split test is created, the variation number is shown in a circle to the right of the variant. However, if the admin label for the variant is changed, the number / circle is no longer displayed for that variant.

### Steps To Reproduce:
1. Create a new page and start a split test, selecting the first section as both the target and goal.
2. Note that the two variants have (1) an

[2016-03-21 00:47] rtwintp opened #6 "Fullwidth Header (Make Fullscreen) "Stutters" on Scroll with Divi Booster"
### Problem:

My site's home page  (http://www.winerybrochures.com/) has a Fullwidth Header with Make Fullscreen set to "yes." When I have the (awesome) Divi Booster plugin active and "Hide header completely" selected, the screen "stutters" when I scroll down. In other words, it scrolls smoothly at first, then bounces before resuming.

### Steps To Reproduce:
1. Create Fullwidth Header; select Ful

[2016-03-21 00:53] rtwintp opened #7 "Yoast SEO cannot "see" text after update."
### Problem:
After updating Divi to 2.6.9, Yoast SEO is reporting "The text contains 1 words." (sic) This compounds the extant incompatibility of Divi with perhaps the most popular WordPress SEO plugin, which already cannot "see" images or outbound links within pages built with the Divi Builder.

### Steps To Reproduce:
1.
2.
3.
4.

### Additional Information:

*Please include any of the following

[2016-03-21 01:18] lots0logs commented on #6
Hi,

Generally we cannot guarantee support with 3rd party plugins as we have no control over how they are coded and there are too many plugins created to test them all. Most plugins should work, however if you are experiencing problems you will need to contact the plugin developer. I apologize for the trouble.

If you have further questions or experience any other issues that are not directly rela

[2016-03-21 01:18] #6 closed

[2016-03-21 01:28] lots0logs commented on #7
***Note:*** *Will be fixed by elegantthemes/Divi#1805 & elegantthemes/Divi#1830*

[2016-03-21 01:46] danmossop commented on #6
Hi rtwintp,

As Divi Booster is my plugin, I'll take over investigating this one.

If you can let me know how best to contact you, I'll keep you updated on progress.

Thanks,
Dan

[2016-03-21 01:46] kolleen opened #8 "Page Load :: Very noticeable page load delay with variations of a Fullwidth Header in fullscreen mode."
### Problem:
This isn't necessarily a bug, but it does make take Divi backwards in smoothness. I loaded up the Beta and couldn't wait to get my hands on the A/B Testing. Set up a header with a few headlines and let it roll.

The page loads and then the first section "pops" into place. It makes the page load seem awkward and not nearly as sexy as the regular page load within Divi.

### Steps To Rep

[2016-03-21 01:51] rtwintp commented on #6
Hi Dan,

Sorry, I should have emailed you regarding the incompatibility. You may reach me at rtwintp@yahoo.com <mailto:rtwintp@yahoo.com>.

LOVE Divi Booster, BTW… Thank you for creating and maintaining such a great plugin.

Rick

[2016-03-21 02:02] danmossop commented on #6
Thanks Rick :)

I'll send you an email now. I think I may have a solution..

[2016-03-21 03:07] jamesheath12 opened #9 "Cancelling split test causes advisory popups"
### Problem:  Cancelling split testing causes popups afterwards

I turned on the split testing in a post, fiddled with it for awhile, then turned it off.  Every subsequent save of other items (like section color) causes a popup with a heading of "End split testing?".  I also don't get an active 'update' button capability if I change a different item in the page settings, like 'section background c

[2016-03-21 04:50] #7 closed

[2016-03-21 04:55] #3 closed

[2016-03-21 05:41] SlavaET commented on #5
Fixed.
**Note**: the issue can be reproduced only if you update the label from Module settings Modal. If you rename the section via right click menu, then it works fine.

[2016-03-21 06:26] vmanthos opened #10 "Select fields values not visible"
### Problem:

The values of select fields are not visible in the builder or any module settings. I can click on the field and select a value, but the actual value is not visible, when the select field is not active.

The problem seems to be the:
`body.wp-admin select {
    height: 1.9em;
}`

### Steps To Reproduce:
1. Open builder or module settings
2. The select fields are too narrow and the vale

[2016-03-21 07:09] SlavaET opened #11 "Scripts hooked to $( window ).load are not initiated properly if Split Testing with cache plugin enabled"
### Problem:

js scripts for the Modules hooked to `$( window ).load` are not loaded if the subject is loaded later than `$( window ).load` event fired.
It happens in case we're loading the subjects content via Ajax ( when Split testing is enabled and cache plugin is active ). Sometimes the content is loaded faster and everything work, but sometimes not. It can be reproduced with the Fullscreen he

[2016-03-21 07:29] LeadWP opened #12 "Divi Libary not loading on custom post types"
Some people have activated the page builder on custom post types and since the last few updates, the library does not seem to be loading on custom post types anymore.

For instance, if you created an email signup from pages and try to add it WooCommerce product page it will not display that module in your library.

This is not exactly Divi 2.7 related but it something that should be fixed in the D

[2016-03-21 07:33] SlavaET commented on #8
It happens when you're using cache plugins. Unfortunately the only way to load the variations in this case is via Ajax and it may cause the delays which can be noticeable in some cases. The best thing we can do there is to display the Fullscreen placeholder maybe with loading animation, but I'm not sure that it'll look better.
As a solution you can disable your cache plugin for the time of Split t

[2016-03-21 07:39] SlavaET commented on #12
Do you mean Global Modules not loading on front-end if you add it on the Product post type?
If not, please provide more details, so we can better understand the issue.

[2016-03-21 07:52] LeadWP commented on #12
None of the stuff that had been created on pages, post or projects and saved to the library show on any custom post types creation page, when I try you try to add from the library.

[2016-03-21 08:04] SlavaET commented on #12
Ah, that's correct. Any library items you save into library are assigned to the post type you created it from, so if you Saved the item from `Page`, then it'll not be visible on `Product` post type, but will be visible for `Project` and `Post`, because `Post`, `Page` and `Project` post types considered as Standard by Divi theme and share the same layouts.
There is a filter which allows you to modi

[2016-03-21 08:16] rtwintp opened #13 "Question about "copy" and "paste after" functionality…"
### Problem:

Lots of cool new features… But, when I right click on a section, I no longer see the "copy" or the "paste after" items, which I use frequently. Has this functionality been altered?

### Steps To Reproduce:
1.
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**:

**Operating System**:

**Bro

[2016-03-21 08:28] timayhelen commented on #13
This functionality has not been removed or altered. Can you provide us with the missing information in your ticket and also make sure you disable all plugins and child themes?

[2016-03-21 08:48] rtwintp commented on #13
Okay, I have disabled plugins and child theme temporarily to test. But, when I right click on a section I still see the menu items, including the new "Split Test" but not "Copy" or "Paste." Sorry if I am missing something obvious; I was unable to label the issue as a question, as opposed to a bug.
![previous version](https://cloud.githubusercontent.com/assets/17971106/13913617/de04b2a2-ef05-11e5-8

[2016-03-21 09:16] SlavaET commented on #13
@timayhelen I can reproduce the issue and I see where it comes from. I can take a look into it.

[2016-03-21 12:52] witkinss opened #14 "Page Settings in Chrome showing different and useless"
### Problem:

Page Settings in Chrome showing different and useless (see image attached).  It is working and different in Firefox.

### Steps To Reproduce:
1.Nothing to add
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**: PC

**Operating System**: Windows 7

**Browser**: Chrome-version is 49.0.2623.8

[2016-03-21 12:58] SlavaET commented on #14
@witkinss looks like the cache issue. Can you please clear the cache in your Chrome browser and check again?

[2016-03-21 14:16] witkinss commented on #14
You're right Slava, cache issue!  It works now. Tks.

[2016-03-21 14:20] #14 closed

[2016-03-21 14:52] ThierryA commented on #10
Hi @vmanthos, could you kindly advise which version of WordPress your are using?

I cannot reproduce the issue and can't see `body.wp-admin select { height: 1.9em; }` set on the admin select. Could you take a print screen of your browser inspector where you see this CSS line too?

Thanks,

[2016-03-21 15:02] vmanthos commented on #10
I checked it again and found out that the piklist plugin, I have installed, is "injecting" the css selector. This was not happening with Divi 2.6.4.4 though.

![desctop screenshot](https://cloud.githubusercontent.com/assets/193660/13922790/94c11488-ef86-11e5-827b-1fd272531ef1.png)

[2016-03-21 15:08] ThierryA commented on #10
@vmanthos plugins should not set global styling but should rather have it prefixed, especially `body.wp-admin select` such selectors which affects all the admin selects.

@timayhelen would you like me to add more specificity or ignore?

[2016-03-21 15:13] vmanthos commented on #10
I'm with you, but the question is why wasn't this happening on Divi 2.6.4.4? Maybe removed specific selectors in the beta?

[2016-03-21 15:25] ThierryA commented on #10
I just tried with the current version and it happens too, the only select which would not be affected is `#et_pb_select_category` because the ID overrides `body.wp-admin select`.

[2016-03-21 18:02] timayhelen commented on #10
@ThierryA sure let's add more specificity here.

[2016-03-21 19:59] lots0logs commented on #8
@SlavaET IMO, a placeholder would look better than the current behavior.

[2016-03-21 21:08] #13 closed

[2016-03-22 00:19] fikrirasyid commented on #4
@danmossop thank you for submitting the issue. We've submitted a patch which should fix your report and it is currently in review process. Once the patch passes our review process, it should be available on the next beta release. I'll keep you notified :D

[2016-03-22 00:36] kolleen commented on #8
Okay, I left it up for you to see the behavior. I'm going to remove the split testing since it's not as important as site speed until I move to a better host.

[2016-03-22 01:10] danmossop commented on #4
Nice one. Thanks fikrirasyid :)

[2016-03-22 01:11] fikrirasyid commented on #4
@danmossop my pleasure :)

[2016-03-22 03:22] SlavaET commented on #11
@uportnykh done.

[2016-03-22 03:48] fikrirasyid commented on #9
Hi @jamesheath12, thank you for reporting this issue. I've found a possible fix for this issue, but there is one thing I'd like to verify about how you turn off the split testing. How did you turn off the split test?

Did you do this (Option A):

1. Open builder settings on the top right of the builder
2. Set **Enable Split Testing** to `No`
3. Click save
4. Continue editing builder
5. The `end sp

[2016-03-22 04:59] fikrirasyid commented on #9
@jamesheath12 we've submitted a patch for this issue and it is currently under review process. Once it passes the review process, it should be available on the next beta release. I'll keep you notified.

However, your clarification on https://github.com/elegantthemes/Divi-Beta/issues/9#issuecomment-199626513 might change the status of the patch (especially if my assumption is incorrect) :)

[2016-03-22 17:29] jamesheath12 commented on #9
The use scenario that you've added is essentially how it happened, except step 6. I didn't refresh the screen. I can change another setting, such as the color palette, save the settings, and upon saving the settings, the popup occurs. At this point, the update button for the post is disabled, as if no edits have been made. If I don't make some other content change, the update button isn't enabled.

[2016-03-22 22:29] #4 closed

[2016-03-22 22:31] #11 closed

[2016-03-23 01:43] fikrirasyid commented on #9
@jamesheath12 thank you for your clarification. I've rechecked how the fix works and how the issue emerges based on your clarification. I think the existing patch that I've submit should've fixed your issue regardless the difference in step. 6. we'll continue the review process and hopefully this will be merged on the next beta release cycle :)

[2016-03-23 03:14] #9 closed

[2016-03-23 03:14] #10 closed

[2016-03-23 04:29] rtwintp commented on #7
This appears still to be an issue after updating to Version: 2.6.9.1.

[2016-03-23 04:34] lots0logs commented on #7
The fix has not been merged yet. It should make it in the next round :smile:

[2016-03-23 04:36] rtwintp commented on #7
Thank you! Sorry for my impatience. ;-)

[2016-03-23 07:34] #5 closed

[2016-03-23 11:31] timayhelen opened #15 "JS Error When Right Clicking Outside Divi Builder Area"
### Problem:

When you right click in certain areas on the page, the following error is produced:

![screen shot 2016-03-23 at 4 30 21 am](https://cloud.githubusercontent.com/assets/3333028/13983918/15a7dc1a-f0b0-11e5-8f44-522396cb997e.png)

### Steps To Reproduce:
1. Load the builder
2. Right click outside on the "Save To Library" link, and other areas around the builder.

[2016-03-23 11:46] jcolome opened #16 "Image not showing in certain position"
### Problem:  http://infoseektechnologies.com/welcome/

Image works above sidebar location but no below when moved doen

### Steps To Reproduce:
1.
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**: desktop

**Operating System**: Mac os

**Browser**: chrome

**Screen Resolution**: 1900 x 2400

**Screen

[2016-03-23 12:57] SlavaET commented on #16
@jcolome did you add an image below your sidebar? Currently I see only image above the sidebar and no image module below.

[2016-03-23 13:46] fikrirasyid commented on #15
@timayhelen can you take a look at https://github.com/elegantthemes/submodule-builder/pull/607 and see whether it fixes the issue or not?

[2016-03-23 14:53] jcolome commented on #16
I did add it to sb - it's only when I move the module to the bottom it won't show.  there should now be two images one on top and one on bottom.  do you see the bottom one ?

here's admin credentials

demo

wrzMOJN7*kVwPR&zSkvy&#I!

[2016-03-23 17:32] SlavaET commented on #16
I see, thanks, looks like the issue with waypoints not triggered properly at the bottom of page. Did you see the same issue in previous version of Divi?

[2016-03-23 18:41] jcolome commented on #16
Sorry did not try with older version.

[2016-03-23 20:42] jonathanbossenger opened #17 "Divi Library shows incorrect count"
### Problem:

When viewing Divi Library items, the count for 'Mine' shows 34 layouts (I'm assuming that's the pre built layouts).

### Steps To Reproduce:
1. Divi Library
2. See count next to 'Mine'

[2016-03-23 22:03] SheriLossing opened #18 "What are all the little red flame/building(?) things when I go to the themes screen in the dashboard? Are they bugs or errors or intended? Please see screenshot."
### Problem:

Replace this with a description of the issue you are reporting. Be sure to explain expected results vs. actual results when it might not be obvious to those who will read your report.

### Steps To Reproduce:
1.To reproduce you would need to go to my dashboard
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are re

[2016-03-23 22:05] SheriLossing opened #19 "What are all the little red flame/building(?) things when I go to the themes screen in the dashboard?"
### Problem:

Replace this with a description of the issue you are reporting. Be sure to explain expected results vs. actual results when it might not be obvious to those who will read your report.

### Steps To Reproduce:
1.To reproduce you would need to go to my dashboard
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are re

[2016-03-23 22:06] #18 closed

[2016-03-23 22:40] lots0logs commented on #19
Hi,

I'm not sure but it's most likely one of the following:

* A browser extension that you have installed and activated (Try disabling your extensions)
* A WordPress plugin that you have installed on your site (Try disabling plugins).

[2016-03-23 23:30] timayhelen commented on #19
I think it's your video tutorials plugin.

[2016-03-23 23:30] #19 closed

[2016-03-24 00:09] SheriLossing commented on #19
@timayhelen Nick... you're right. When I deactivated & removed them it went away. Regardless... It is apparently a case of them not playing well with the beta version, as I have them on my own site (not this beta site), and these 'flame'-looking things do not pot up with the current version of Divi (the non-beta one).

[2016-03-24 00:11] agirlandhermac opened #20 "Color palette selector showing all 8 transparent"
### Problem:

Replace this with a description of the issue you are reporting. Be sure to explain expected results vs. actual results when it might not be obvious to those who will read your report.

### Steps To Reproduce:
1. added new section
2. added new single full row and text module
3. inserted sample text, set to light and center
4. went to set background color in section settings and saw al

[2016-03-24 00:28] SheriLossing opened #21 "Color Palette Initial load is only dark/greys"
### Problem:

The initial load screen for the Color Palette only shows the blacks. This is confusing, as when you use a color palette it normally shows the full-color palette image. This image does come up once you type a color into the input box, though. Cool feature, but perhaps the initial image should be the full-colored one? See screenshots.

### Steps To Reproduce:
1.
2.
3.
4.

### Additiona

[2016-03-24 01:15] timayhelen commented on #21
Thanks for the report. Looks like this is a duplicate of: https://github.com/elegantthemes/Divi-Beta/issues/20

[2016-03-24 01:15] #21 closed

[2016-03-24 02:16] SheriLossing opened #22 "In dashboard fullwidth header has some text that is not showing"
### Problem:

In my dashboard the fullwidth header appears to have duplicate text: 'Enter the text for the Button",
"Enter the URL for the Button".... but when I pasted it into this message, this text also appeared "Button #1 URL: ".... So.... I am assuming that the text that id's the boxes as labels for button #1 and button #2 is what is not showing, and that is is actually there, but now showing

[2016-03-24 02:25] lots0logs commented on #22
Could you check it while all plugins are disabled? It looks like something is conflicting with the builder's styles. This is what it should look like:

![2016-03-23_09-24-33-pm](https://cloud.githubusercontent.com/assets/4675662/14006665/b8810230-f13d-11e5-8bd4-69ea50ea8717.png)

[2016-03-24 03:32] fikrirasyid commented on #17
Hi @jonathanbossenger, thank you for reporting the issue. We've submitted a patch for this issue and it is currently under review process. Once it passes the review process, it should be available on the next beta release.

[2016-03-24 04:21] DiviThemeExamples opened #23 "End split test popup when changing page setting"
### Problem:

end split test message appearing after split testing has ended

### Steps To Reproduce:
1. new page, new section, new row, new text module
2. right click and enable split testing on the text module
3. right click and end split testing. select the module to keep.
4. goto page settings and try and change one of the colour palettes and it is showing the popup for end split test....which

[2016-03-24 04:30] SheriLossing commented on #22
The only plugins I have are the install and update for this Beta version.

[2016-03-24 05:04] SlavaET commented on #20
Fixed. The fix is in 2 branches:
submodule-epanel - https://github.com/elegantthemes/submodule-epanel/issues/26
submodule-builder - https://github.com/elegantthemes/submodule-builder/issues/610

[2016-03-24 05:05] SheriLossing commented on #22
Nevermind... Now I see the text. Wow. Sorry.

[2016-03-24 05:06] #22 closed

[2016-03-24 05:22] SheriLossing commented on #8
I am having the same issue, maybe, if I am understanding the original description correctly. I am using no plugins, other than the two to install/update for the beta version, and with my fullwidth header the image loads larger, then 'pops' into place/shrinks. http://fa4.690.myftpupload.com/

[2016-03-24 05:37] SlavaET commented on #8
@SheriLossing it's not the same issue. Original issue is that the section is empty on load and then the content pop up with some delay. In your case it's delay in resizing of the header image and is not related to the split testing.

[2016-03-24 05:42] SheriLossing commented on #8
@SlavaET Do you want me to 'open an issue/ticket' for this?

[2016-03-24 05:44] SlavaET commented on #8
@SheriLossing yes, please and it will be great if you record a screencast of the issue.

[2016-03-24 06:00] SheriLossing opened #24 "fullwidth header the image loads larger, then 'pops' into place/shrinks (resizes)"
### Problem:
I am using no plugins, other than the two to install/update for the beta version, and with my fullwidth header the image loads larger, then 'pops' into place/shrinks (resizes). http://fa4.690.myftpupload.com/

### Steps To Reproduce:
1. Load this page. It is the full-width header at the top: http://fa4.690.myftpupload.com/
2.
3.
4.

### Additional Information:

*Please include any of

[2016-03-24 08:51] fikrirasyid commented on #23
Hi @DiviThemeExamples, thank you for reporting the issue. Your reproducing steps is already clear, but can you send us the screencast too? It'll help us ensuring that the fix we're working fixes your issue :)

[2016-03-24 09:52] timayhelen commented on #24
That's just because you have parallax enabled. Javascript calculates the correct size of the image based on the size of the section, but it needs time to load. You can disable parallax mode or use CSS parallax as an alternative.

[2016-03-24 10:13] fikrirasyid commented on #23
Hi @DiviThemeExamples, thank you for reporting the issue. We've submitted a patch that should've fixed this issue and the patch is currently under review process right now. Once it passes the review process, it will be merged on the next release.

[2016-03-24 10:21] DiviThemeExamples commented on #23
ok, thanks. was just about to send the screencast...but guess its not needed now.

cheers.

2.7 looks very cool !

From: Fikri Rasyid
Sent: Thursday, March 24, 2016 5:13 PM
To: elegantthemes/Divi-Beta
Cc: DiviThemeExamples
Subject: Re: [Divi-Beta] End split test popup when changing page setting (#23)

Hi @DiviThemeExamples, thank you for reporting the issue. We've submitted a patch that should've

[2016-03-24 10:26] fikrirasyid commented on #23
@DiviThemeExamples yeah, you don't need to send the screencast. After multiple and consistent bug replication, I'm quite sure that the bug we're addressing is similar to the one you're having. Sorry for that earlier.

Thanks! I hope it will enable you to do more cool things! :D

[2016-03-24 13:27] SlavaET opened #25 "Portability :: Export button text misaligned"
### Problem:

See the screenshot for details. It's the same on Divi library page, Single Page, Customizer and ePanel

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**: Macbook Pro + Thunderbolt Display

**Operating System**: OSX El Capitan

**Browser**: Chrome 49

**Screen Resolution**: 2560x1440

**Screenshots

[2016-03-24 15:07] SheriLossing commented on #24
@SlavaET I just got on and saw that it is marked 'ready for review'. Not sure if this means you want me to check if it is still happening, but I just checked in Chrome and in Firefox and still see the issue on my end.

[2016-03-24 15:24] SlavaET commented on #24
@SheriLossing you don't need to check anything yet. It's our internal review process and the fix is not available for you yet. It'll be included into next version of theme.

[2016-03-24 15:36] jcolome opened #26 "Coming soon module"
http://infoseektechnologies.com/splash

### Problem:

dates won't update

Replace this with a description of the issue you are reporting. Be sure to explain expected results vs. actual results when it might not be obvious to those who will read your report.

### Steps To Reproduce:
1.
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue

[2016-03-24 17:01] SlavaET commented on #26
@jcolome which date did you set in the Countdown Module? I tested it locally and it works fine.

[2016-03-24 19:57] #23 closed

[2016-03-24 20:05] #15 closed

[2016-03-24 20:10] #20 closed

[2016-03-24 20:12] #16 closed

[2016-03-24 20:14] #24 closed

[2016-03-24 21:00] #17 closed

[2016-03-24 21:12] timayhelen commented on #25
I'll fix it.

[2016-03-24 21:12] #25 closed

[2016-03-24 22:11] jcolome commented on #26
You are correct.  My bad.  I had 2014 as date set.

thanks

[2016-03-24 22:12] #26 closed

[2016-03-25 02:33] #12 closed

[2016-03-25 02:53] timayhelen opened #27 "Divi Builder Cache Warning Does Not Work For 2.6 -> 2.7"
Since builder.js is potentially cached, the first cache warning will not work when upgrading from 2.6 to 2.7.

@SlavaET suggested moving the cache warning into a new JS file. @uportnykh what do you think?

[2016-03-25 20:02] timayhelen commented on #8
Let's table this for now, as I am not sure if a pre-loader would the most desirable solution. Let's see what users think.

[2016-03-25 20:02] #8 closed

[2016-03-26 21:52] agirlandhermac opened #28 "Bloom edit optin presents blank screen"
### Problem:
Created a new popup optin and returned to edit settings and got a blank screen. Also tried to edit an inline optin that had previously been created and again a blank screen.

### Steps To Reproduce:
1. Bloom optin forms > edit optin

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**: MacBook Pro 17"

[2016-03-27 13:56] abhi-sharm opened #29 "Split Testing :: Select Goal Screen Not Visible Fully on Lower Resolution Monitors"
### Problem:

The last step in setting up split test is **Select Goal Screen** but the pop up for this does not seems to fit well on screen , anything below 1366 x 768 screen resolution , we are not able to click on OK button , we need to zoom out (CTRL - ) so see the pop message and button properly. Many customers may report this .

### Steps To Reproduce:
1. Set up a Split Test
2. Go up to last

[2016-03-27 21:53] agirlandhermac commented on #28
Updating to say the options came back. It wasn't after a cache clear or anything, not sure what brought it back, but now I can edit settings for the optins.

[2016-03-27 22:43] lots0logs commented on #28
Okay, thanks for the update. If it happens again, please let us know!

[2016-03-27 22:43] #28 closed

[2016-03-28 03:39] agirlandhermac opened #30 "Bloom settings do not include custom palette colors"
### Problem:

The edit optin settings don't include the custom colors that are picked in divi options and it seems like it should. If Bloom wasn't an ET product it would make sense that it didn't but...

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**: MacBook Pro 17"

**Operating System**:  OSX El Capitan 10.

[2016-03-28 05:40] #27 closed

[2016-03-28 06:29] SlavaET commented on #30
This option supposed to work only in Divi theme, since it can be configured in Divi settings only.
@timayhelen so we need to integrate support of this option into our plugins? There is no place where to configure it in plugins, but we can use the Divi settings if defined in ePanel. It will require updating of Bloom and Monarch plugins.

[2016-03-28 09:04] timayhelen commented on #30
@SlavaET I think we should keep the color palette Divi-specific for now.

[2016-03-28 09:04] #30 closed

[2016-03-28 18:39] timayhelen opened #31 "Divi Builder Layout Import Failure When Downloading Backup"
### Problem:

When importing a Divi Builder Layout, the import fails when "Download a backup before importing" is selected. When this option is de-selected, it seems to work fine. Not only does the import fail, but the backup file is also incomplete.

### Steps To Reproduce:
1. Create a new page.
2. Load the "Homepage Extended" premade layout and save the page.
3. Export the page.
4. Clear the pag

[2016-03-29 02:12] fikrirasyid commented on #29
@abhi-sharm can you take a look at https://github.com/elegantthemes/submodule-builder/pull/628 and see whether it fixes the issue or not?

[2016-03-29 08:07] abhi-sharm commented on #29
@fikrirasyid - Yes it works fine now.

[2016-03-29 10:02] timayhelen commented on #29
@fikrirasyid I don't think it makes sense to apply vertical centering to only a single instance of the small modal. We should apply this everywhere for consistency. For example, to:

* All Split Testing prompt modals
* Clear Layout modal
* Save To Library (layout) modal
* Right Click > Rename modal

[2016-03-29 10:03] osicam opened #32 "Spinning wheel is back but only when trying to edit a section"
### Problem:

The spinning wheel problem is well disapeared on divi builder except that I still have the problem when trying tro eedit a section (example : Make a standard section full-width)

### Steps To Reproduce:
1. open any page
2.try to edit a section
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device*

[2016-03-29 10:07] osicam opened #33 "Responsive settings still not working on ipad lanscape view"
Not a real bug but I am just surpised thay known bug is not fixed in this latest version as here is answer I got weeks ago from suipport :+1:
Hi there,

My apologies for the delay.
Yes, we are aware of this problem and it has been fixed. It will probably be pushed in the next update.

I'm sorry for any inconvenience.

If you wish, you can fix this yourself. Open //includes/builder/class-et-builder

[2016-03-29 10:12] timayhelen commented on #33
( min-width: 768px ) and ( max-width: 1024px ) also affects Desktop computers, so I am not sure it's the best solution for all users. We have this issue logged already in the main Divi repo, so I am going to close this so we can keep this area for Divi 2.7 Beta related issues only.

[2016-03-29 10:12] #33 closed

[2016-03-29 10:13] osicam commented on #33
yes sure ok
thanks

Date: Tue, 29 Mar 2016 03:12:38 -0700
From: notifications@github.com
To: Divi-Beta@noreply.github.com
CC: webdesign@outlook.be
Subject: Re: [elegantthemes/Divi-Beta] Responsive settings still not working on ipad lanscape view (#33)

( min-width: 768px ) and ( max-width: 1024px ) also affects Desktop computers, so I am not sure it's the best solution for all users. We have this

[2016-03-29 10:16] timayhelen commented on #32
@osicam Could you provide us with a support token and the URL of your website so we can take a look?

Please download and install the following plugin:

http://www.elegantthemes.com/downloads/elegant-themes-support.zip

Next navigation to Tools > Elegant Themes Support Account and create a new token. Don't paste it here as this is a public repo.

You can send me a new PM on the support forum conta

[2016-03-29 14:17] fikrirasyid commented on #29
@timayhelen I see, I selectively applied the centerize mechanism to prevent unwanted backward compatibility. I'll apply it to all modal then.

[2016-03-29 15:14] fikrirasyid commented on #29
@timayhelen I've incorporated your feedback at https://github.com/elegantthemes/submodule-builder/pull/628 and https://github.com/elegantthemes/submodule-core/pull/9 (to auto centerize core's modal). Previously, only auto centerize split test's alert modals. Now it auto centerize all modals which have no `bottom` data (which indicates it doesn't appropriately vertically centered)

[2016-03-29 16:17] rijendra opened #34 "Question : New Divi Builder Layout Export & Import : not importing settings of New Divi Builder Settings"
Not a problem but its a question
New Divi Builder Layout Export & Import : not importing settings of New Divi Builder Settings of that page to a new page

### Steps To Reproduce:
1. create a normal divi builder page
2. give some effects using the New Divi Builder Settings
3. Process to export
4. Process to import on a new fresh page

Question:
Is it intentional to not export the page settings?

Th

[2016-03-29 18:28] #31 closed

[2016-03-29 19:36] kary4 opened #35 "Theme Options :: Mailchimp API Key :: Connection failed."
### Problem:
When you try to connect to mailchimp under the theme option it displays:

[code]
Please, check the attachment below

![1](https://cloud.githubusercontent.com/assets/3352130/14121066/b0eff894-f617-11e5-9c2e-60d975f24ab2.png)

I just updated divi from Mater

[2016-03-29 19:49] timayhelen commented on #32
@osicam I do see some strange activity when loading the builder on your site. Admin-ajax is failing, and local-storage is being filled with malformed builder templates.

Would you be able to temporarily disable all plugins on this website to see if it fixes the issue?

[2016-03-29 19:50] lots0logs commented on #35
@kary4 I don't think you need to do anything for mailchimp besides input the key. The button your pressed is for Aweber, no?

[2016-03-29 19:56] osicam commented on #32
hello

I just disabled all plugin and proiblem still there. The only way to fox this error is to delete divi, resinstall a version divi 2.5 and the update the problem is fixed for some time

[2016-03-29 19:57] osicam commented on #32
i keep plugin disabled so you can have a look yourself. Let me know when I can enable plugins

[2016-03-29 20:16] #35 closed

[2016-03-29 22:45] timayhelen commented on #32
@osicam We haven't been able to identify the problem unfortunately. It's most likely due to your server settings. Would you be able to PM me your FTP login details as well so we can investigate further?

[2016-03-29 23:03] #29 closed

[2016-03-30 00:47] timayhelen commented on #34
@ThierryA I think these should be exported with individual divi layouts. This will be especially useful with the new Custom CSS setting.

[2016-03-30 08:54] timayhelen opened #36 "New Modal Winder Vertical Centering Doesn't Work Sometimes"
Sometimes a modal window will not center vertically after Fikri's recent change. Once the browser window is resized, they center correctly.

![modals](https://cloud.githubusercontent.com/assets/3333028/14136943/50a7ef16-f61a-11e5-99a5-b0a68040303c.gif)

[2016-03-30 08:55] timayhelen opened #37 "Export Backup Before Importing Doesn't Work For Divi Roles or Theme Customizer"

[2016-03-30 10:27] SlavaET commented on #36
Fixed. I found some more modals which were not aligned properly Cache Notice for example, Add New Layout from Divi library, Reset Roles and all the modals in ePanel except for the Portability modal.
So, there are 2 branches:
This one fixes alignment on the Divi Builder pages including Library and Roles pages - https://github.com/elegantthemes/submodule-builder/pull/636
And this one fixes modals al

[2016-03-30 10:41] SlavaET opened #38 "Unexpected behaviour after canceling Split Test setup"
### Problem:

If you start configuring the Split Test and then cancel it at the Subject selection step then some things start behaving incorrectly. There are 2 things I noticed:
1) Clicking on portability button opens the Split Test Stats modal and generates js error in console.
2) If you enable the Split Test again then Select Subject prompt modal is not displayed.

### Steps To Reproduce:
1. Ope

[2016-03-30 12:31] fikrirasyid commented on #38
@SlavaET can you take a look at https://github.com/elegantthemes/submodule-builder/pull/638 and see whether it fixes the issue or not?

[2016-03-30 13:38] SlavaET commented on #38
@fikrirasyid the fix works fine, but I see the following error while on your branch:
[code]
![image](https://cloud.githubusercontent.com/assets/3446682/14143799/e9c1d7ea-f6ae-11e5-9550-23fea7bc695a.png)

[2016-03-30 14:45] timayhelen commented on #36
@SlavaET vertical alignment shouldn't be added to the Add New modal in the Divi Library. This window is already centered by using top/bottom values in CSS.

[2016-03-30 15:00] #37 closed

[2016-03-30 15:15] #36 closed

[2016-03-30 18:28] timayhelen commented on #32
@osicam It looks like some files in your Divi theme did not update. After uploading a fresh version it seemed to work fine. 2.7 has been released today. I would suggest delete your current version of Divi and download a fresh version manually (instead of using the updater) to see if it helps. It could be a file permissions issue.

[2016-03-30 18:28] #32 closed

[2016-03-30 19:26] osicam commented on #32
thanks. Just reloaded divi 2.7 and indeed it works :-)

[2016-03-30 22:15] osicam commented on #32
FYI I found he reson as I could reprodice the problem. It is when I try to change file class-et-builder-element to change screen value so function hide tablet works on ipad that the problem occurs.

[2016-03-31 07:54] fikrirasyid commented on #38
@SlavaET I've merged latest master back to the PR and it appears to fix the error message you're mentioning above.

[2016-03-31 08:11] SlavaET commented on #38
@fikrirasyid yes, it seems to work without errors now.

[2016-04-01 19:29] #38 closed

[2016-04-03 04:02] DiviThemeExamples commented on #34
is this something that will be added? would make layouts much more flexible to be able to attach custom css to a page layout ;)

[2016-05-17 17:43] mariomaruffi opened #39 "Custom padding inside the Button Module does not work"
### Problem:

The problem is related with the Button Module.
I tried to add custom top/bottom padding inside the Custom CSS "Main Element" field, in order to get a custom button style, but the button seems doesn't affected at all by the instructions placed.

A different beahvior has been recorded on the CTA module, where the Custom CSS of the buttons answering as expected, getting the custom reque

[2016-05-17 19:17] lots0logs commented on #39
Issue moved to [elegantthemes/Divi #2151](https://github.com/elegantthemes/Divi/issues/2151) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-05-17 19:17] #39 closed

[2016-08-17 23:42] #34 closed

[2016-08-18 20:02] timayhelen opened #40 "Prevent Settings Modal From Re-Rendering When A Setting Is Changed"
Currently when a setting is changed for a module, row or section, the content re-renders to reflect the change. However, the modal is also being re-rendered. It would be ideal to avoid re-rendering the modal since this causes the feeling of delay when clicking/toggling options and also interrupts JS animations. For example, it breaks the ripple effect in the Undo/Redo buttons.

[2016-08-18 20:07] timayhelen opened #41 "Add Preloader To Module Ajax Calls"
Currently the pre-loader CSS animation has been added to several areas in the builder, such as launching the app and loading items from the library. We should also use it for the ajax calls that some modules make, such as Blog and Portfolio modules. Currently we just use some text that says "updating module..."

[2016-08-18 20:08] timayhelen opened #42 "Move et_compute_ajax_call() to /frontend-builder/ dir"
Possibly move it to `/includes/builder/frontend-builder/app/helpers.php`. Others FB-specific helper functions might need to be moved there too.

[2016-08-18 20:08] timayhelen opened #43 "Improve Typing Speed In Settings Modal"
Currently, if you are building a page of decent size, typing into the input fields in a settings modal is very laggy. Each letter re-renders the DOM, including the settings modal, which adds significant delay. We need to find a way to make typing smooth.

[2016-08-18 20:10] timayhelen opened #44 "Translate New Strings"
We need to create a list of all new strings that need to be translated. Ideally we would re-use as many current translations as possible, since 99% of them are duplicates.

[2016-08-18 20:10] timayhelen opened #45 "Fonts Applied Via Inline Editor Do Not Render On Front-End"
### Problem:

If you select a custom font using inline editor it won't work on front-end ( and in the FB as well after page refresh ) because Divi will not load the font from google.

### Steps To Reproduce:
1. Select custom font using Inline editor for any text area
2. Save the page
3. Refresh the page
4. Check the font appearance in text area edited on step 1.

You will see that the font-family

[2016-08-18 20:11] timayhelen opened #46 "Limit History Snapshots To Prevent Large History Objects"
If history snapshot reached particular number, delete the oldest one so the new one can be added without further increase the object size (pretty much like how OSX time machine works when the HDD is full). BB does this too to its history to prevent oversize history object.

I discussed this earlier with @Jronk and it appears that 200 snapshots seem to be enough.

[2016-08-18 20:12] timayhelen opened #47 "Make All Text Fields Editable With Inline Editor"
Current the inline editor is only available for "text area" inputs (the main TinyMCE inputs in the settings modal). We should make all text inputs, such as Slider Titles and CTA Titles, editable using the Inline Editor.

[2016-08-18 20:13] timayhelen opened #48 "Error when settings modal open, then tooltip, then trying to close tooltip"
![setings-modal-then-tooltip-close-js-error](https://cloud.githubusercontent.com/assets/1163441/17787889/fbcea4c2-653f-11e6-872c-5ec78e12412a.gif)

[2016-08-18 20:14] timayhelen opened #49 "Add Browser Warning When Leaving An Unsaved Page"
![screen shot 2016-08-17 at 11 32 16 pm](https://cloud.githubusercontent.com/assets/1163441/17764240/ef86dc74-64d2-11e6-9202-76e8330d9801.png)

[2016-08-18 20:18] timayhelen opened #50 "All Numberical Options Should Use Range Slider"
Currently we have a mix of range slider vs standard input controls being used when it comes to options that involved numerical ranges. Since all range options also include an input field, and since range inputs are now much more intuitive on the frontend builder, I think we should update all options to use the range slider control. This includes padding and margin values, which means we may need t

[2016-08-18 20:19] timayhelen opened #51 "Add Tooltips To All Buttons"
I think we should add Tooltips everywhere, perhaps with a custom style. They would also include shortkey command when applicable.

[2016-08-18 20:19] timayhelen opened #52 "Page Settings Icon Snap"
Similar to how the settings modal can be customized to snap to any side of the page, it would be cool to have the same option for the page settings icons that currently slide in from the bottom.

Once they slide it, the main settings icon could be used as an anchor to drag the buttons to any side of the page. It could snap and animate using React motion similar to how the "Facebook Home" avatars u

[2016-08-18 20:20] timayhelen opened #53 "Add CodeMirror To CSS Inputs"
# CodeMirror
I purpose that we add in CodeMirror to replace our current "Custom CSS" tab.

**Advantages**
- Flexilblity with customize a module instead of limiting users to just the main element and the pseudo elements.
- [Code linting](http://codemirror.net/demo/lint.html)
- [Auto suggestions/complete](https://codemirror.net/demo/complete.html)
- [Opened source](http://codemirror.net/LICENSE)

[2016-08-18 20:21] timayhelen opened #54 "Form Validation Breaks Color Picker Input"
### Problem:
It's not possible to enter the value for color picker manually:
![color-picker-input](https://cloud.githubusercontent.com/assets/3446682/17733349/f13b84ec-6497-11e6-9b5a-c39e4f2f6eef.gif)

### Steps To Reproduce:
1. Open module settings
2. Find Color Picker option
3. Try to modify the color code using input field

[2016-08-18 20:21] timayhelen opened #55 "Global Modules Settings Modal background issue"
### Problem:
Background color of expand and dock buttons in Settings modal is incorrect for Global modules:
![image](https://cloud.githubusercontent.com/assets/3446682/17786587/52bc928c-65a7-11e6-902c-5ff21c686dc0.png)

### Steps To Reproduce:
1. Open Global module's settings
2. Check the header of Settings modal

[2016-08-18 20:22] timayhelen opened #56 "Full Width Sections Color Picker Alpha Slider Bug"
### Problem:

When you add a fullwidth module like header or menu, the color picker doesn't display correctly:

![test divi](https://cloud.githubusercontent.com/assets/16414613/17721208/667b10a6-6420-11e6-9679-b2d7406d1a6e.png)

### Steps To Reproduce:
1. Create a fullwidth section.
2. Add a fullwidth header or fullwidth menu modules.
3. Try using the color picker.

[2016-08-18 20:23] timayhelen opened #57 "Convert All Components ES2015"
- [x] Phase 1 - App
- [x] Phase 2 - Root, Row, Section
- [ ] Phase 3 - ...
- [ ] Phase 4 - ...
- [ ] Phase 5 - Controls
- [x] Phase 6 - Modules

[2016-08-18 20:23] timayhelen opened #58 "Implement ETBuilderComponent Class To Reduce Boilerplate Code In Components"
[2491-auto-bind-this-for-component-class-methods](https://github.com/elegantthemes/submodule-builder/tree/2491-auto-bind-this-for-component-class-methods)
## Status
### React.createClass() -> ES6 Conversions Remaining
- [x] select-fonticon.jsx  (1 usage found)
- [x] select-fontstyle.jsx  (1 usage found)
- [x] select-option.jsx  (1 usage found)
- [x] select-yesno.jsx  (1 usage found)
- [ ] textarea

[2016-08-18 22:52] fikrirasyid opened #59 "Video & Video Slider :: Missing Generate From Video Button"
### Problem:

`Generate From Video` button on video and video slider's `Image Overlay URL` option is missing. Here's how it looks on BB:

![bb generate from video button](https://cloud.githubusercontent.com/assets/916442/17757464/27e059ea-6511-11e6-981e-c75f649a0c88.jpg)

Here's how it looks on FB:

![fb - no generate from url button](https://cloud.githubusercontent.com/assets/916442/17757477/44a2

[2016-08-18 23:09] timayhelen opened #60 "Add Responsive Breakpoints When Sidebar Modal Is Resized And Content Width Is Reduced"
@SlavaET Let's implement our pseudo breakpoints to trigger based on the content width of the app so that they appear when resizing the sidebar modal.

[2016-08-19 00:25] bpitts82 opened #61 "Unable to edit modules in Zoomed Out Mode"
### Problem:

In zoomed out mode I added a new layout and cleared current layout using the bottom menu.  Upon doing this, I lost the ability to add new modules and go into the settings of existing modules.

### Steps To Reproduce:
1.  Started with page template and then opened bottom editor - switched to zoom out mode
2.  Added new layout and cleared current layout (added team layout from default

[2016-08-19 00:32] timayhelen opened #62 "Add All Icons To Zoomed Out Mode"
Lets add icons back to Zoomed Out mode and also double their size if possible (when in zoomed out mode). If it's difficult to change the size of the icons, then we can create a new low priority issue for that. Even at their normal size, they are still readableish.

[2016-08-19 00:33] timayhelen commented on #61
Thanks, I have opened a new issue about this that better addresses what needs to be done:

https://github.com/elegantthemes/Divi-Beta/issues/62

This actually started as a design choice, since the zoomed out mode would have affected the settings modal and made it impossible to edit modules. This is no longer the case actually, so we can just add those buttons back.

[2016-08-19 00:33] #61 closed

[2016-08-19 00:41] timayhelen opened #63 "Change Cursor To "Move" When Hovering Over Drag Icon"
Currently the cursor remains a pointed, which is causing people to click the icon instead of drag it.

[2016-08-19 00:48] timayhelen opened #64 "Enable Dragging When Hovering Over Any Non-Text Element Of Module/Row/Section"
Ideally users should be able initiate Drag & Drop by dragging on any part of the module/row/section, not just by using the drag icon. The only caveat would be that dragging should be disabled when hovering over editable text.

[2016-08-19 00:49] bpitts82 opened #65 "Countdown Module not displaying properly"
### Problem:

Module Countdown Timer isn't functioning properly when added to sidebar.

### Steps To Reproduce:
1.  Added countdown timer to sidebar and set parameters
2.  Wasn't able to view it properly during creation, after creation or after saving the page.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**:

[2016-08-19 00:51] timayhelen opened #66 "Add A "Disable Visual Builder" Button"
The "Enable Visual Builder" button in the WordPress admin bar should be replaced by a "Disable Visual Builder" button once the builder has been launched. I think some people will want a clear way to turn it off, instead of just leaving the page.

[2016-08-19 00:52] timayhelen opened #67 "Modal Resize Icon Does Not Appear When Modal Opens Under Mouse"
If you trigger a settings modal, and the modal opens up directly under your cursor, then the resize icon does not appear. This is because icon relies on the mouse enter trigger to display the icon.

[2016-08-19 01:03] mskol6 opened #68 "If Settings and Save to library modals are open they break"
### Problem:

When you have the settings modal and the Save to library modal open you can no longer use the close button in the save to library modal. Both modals break.

### Steps To Reproduce:
1. Open any settings modal
2. Open another save to library modal
3. Try and close the save to library modal

### Additional Information:

*Please include any of the following details that are relevant to t

[2016-08-19 01:05] timayhelen opened #69 "Launching Theme Customizer + Visual Builder"
Currently if you have the Visual Builder enabled, and you use the WordPress admin bar to activate the Theme Customizer, the Theme Customizer will load with the visual builder enabled. We shouldn't allow this.

[2016-08-19 01:23] Augustin56 opened #70 "Implement changes?"
### Problem:

Okay.  I'm a newbie for version 3.0.  It's pretty intuitive.  I'm trying to edit a page I have open, and have done so easily.  I found the Save button at the bottom, but when I pull the page up again, the changes are gone.  And how do I get out of edit mode back to a normal screen any user would see?

### Steps To Reproduce:
1.  Bring up a page.
2.  Click on Enable Visual Builder.
3.

[2016-08-19 01:26] mskol6 opened #71 "Add Section Module Button not completely visible when Paralax is enabled"
### Problem:

When you have parallax enabled in a section the add section button is not completely visible.

### Steps To Reproduce:
1. Enable parallax in a section
2. Try and add a section from that section.

**Screenshots**:

![image](https://cloud.githubusercontent.com/assets/3596628/17795922/463ae6de-6571-11e6-8d70-a5bbe3590588.png)

[2016-08-19 01:35] fikrirasyid opened #72 "Gallery :: Inconsistent Slider After Automatic Animation is toggled"
### Problem:

In Gallery module, if a module is set to slider layout then automatic animation is turned on then later is turned off, the layout becomes inconsistent:

![gallery auto slide leftover](https://cloud.githubusercontent.com/assets/916442/17795951/eced2896-65e6-11e6-8054-6820144b20f6.gif)

### Steps To Reproduce:
1 Add gallery module
2. Set to slider layout
3. Turn on `automatic animation

[2016-08-19 01:44] fikrirasyid opened #73 "Post Slider :: Parallax & Parallax Method don't work"
### Problem:

Setting featured image as background work, but turning on parallax doesn't work (background image disappears).

Note: `Show Image on mobile` at design tab doesn't work as well.

### Steps To Reproduce:
1. Add post slider module. Make sure that your post has featured image
2. Set `Image Placement` to `Background`. The featured image appears as background
3. Turn on `Use Parallax Effec

[2016-08-19 01:45] bpitts82 opened #74 "Move 1 Column Text Module Resulted in Module Disappearing"
### Problem:

Moved 1 Column (minus sidebar) text module around page and then dropped it back in it's original spot and it disappeared.

### Steps To Reproduce:
1.  Made minor adjustment to text module width on left side
2.  Moved text module around page with mouse hold
3.  Intended to drop text module back in original placement
4.  Text module disappeared

### Additional Information:

*Please inc

[2016-08-19 01:46] trueink opened #75 "Multisite Testing :: Beta Tester Plug in not responding for update"
### Problem:
Testing on a Multisite Network :: Beta Tester Plug in not responding for update.  Not sure if the beta was meant for multisite.

### Steps To Reproduce:
1. Created new site in multisite network
2. updated everything including wordpress 4.6
3. Installed new / fresh Divi theme downloaded from ET
4. Assigned theme to newly created network site and activated theme
5. installed beta tester

[2016-08-19 01:46] DeerMtn commented on #51
**1st** thing I noticed Nick - I feel lost as none of the front end icons/buttons have tooltips and I'm having to click on _everything_ to find out what it does... thumbs up on this one!

[2016-08-19 01:47] timayhelen commented on #70
Can you try right clicking in Chrome and choosing "Inspect Element" right before you click the save button? Next click "save" and see if any messages appear in the "Console" tab. Please past the messages here if anything shows up.

[2016-08-19 01:48] DeerMtn commented on #70
How does one exit the front end visual editor?

[2016-08-19 01:49] Augustin56 opened #76 "Adding Spaces"
### Problem:

I was using the Visual Builder and trying to cinche up a list below a line of text.  So, I deleted a line space above it and it looked nice.  I saved it.  Then, when I brought the page up live, it had added an extra line space above the list, rather than take one out.

### Steps To Reproduce:
1.  Open a page with a list.
2.  Edit with Visual Builder.
3.  Delete a blank line between t

[2016-08-19 02:09] timayhelen opened #77 "Difficulty Closing Inline Editor"
When the inline editor has been activated, it should be easy to close it by clicking on any non-editable text. Right now I struggle to find place to click and close the editor.

[2016-08-19 02:11] fikrirasyid opened #78 "Post Title :: Parallax with true parallax method doesn't work + Fixing parallax binding / unbinding consistencies on various modules"
### Problem:
 Parallax with true parallax method doesn't work.

### Steps To Reproduce:
1. Add post title module
2. Set `Featured Image Placement` to `Title/Meta Background Image`
3. Turn on `Use Parallax Effect`. You'll see it works if the `Parallax Method` is set to `CSS`
4. Set `Parallax Method` to `CSS`

### Additional Information:

**Device**:
Macbook Pro Retina 15"

**Operating System**:
OSX

[2016-08-19 02:12] janeemckay opened #79 "Fullwidth header customise button 1 style causes crash"
### Problem:

Using Visual Builder, I attempted to create custom styles for button one in fullwidth header, module became (and remained) unresponsive.

### Steps To Reproduce:
1. Create fullwidth header, make fullscreen, parallax (css),
2. Add text, create button with link
3. Use Custom Styles for Button One - try to change the switch to "Yes" - there was a long delay - when the button clicked ove

[2016-08-19 02:17] websbyjd opened #80 "Difficult to Edit 1px divider in Visual Builder"
### Problem:

In visual builder, the little toolbar disappears to quickly when trying to edit tiny objects like a 1px divider.  Can't get the mouse to the toolbar before it fades.

### Steps To Reproduce:
1. Add a 1px divider in a section.
2. try to edit the divider module in visual editor
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the iss

[2016-08-19 02:28] FaycalBoutam opened #81 "Conflict with Yoast SEO plugin"
### Problem:

The Front Builder doesn't work when the Yoast plugin is activated.

![sans titre 2](https://cloud.githubusercontent.com/assets/16414613/17796994/ef22f642-65bc-11e6-9c5c-60056e814d54.jpg)

[2016-08-19 02:28] fikrirasyid opened #82 "Slider :: Background Video does't work when being added"
### Problem:

Background video and video related options that are being added to slider item doesn't work. These are the options in `Slider > Slider Item` that don't work:

- [x] Background Video MP4
- [x] Background Video Webm
- [x] Background Video Width
- [x] Background Video Height
- [x] Pause Video

### Steps To Reproduce:
1. Added slider and configured its slider item
2. Try adding backgroun

[2016-08-19 02:31] thepauly opened #83 "FW Header Module :: Module Settings Button Doesn't Respond To Clicks When In 1st Section On Page"
### Problem:

When I hover over a fullwidth header section, the controls show up, when I move the mouse up to click the buttons they disappear when I hit #main-header. If I set #main-header to "pointer-events: none;" it works OK.

### Steps To Reproduce:
1. Add a fullwidth section
2. Add a fullwidth header module to that section
3. Enable visual builder
4. Try to edit fullwidth header module

###

[2016-08-19 02:33] fikrirasyid opened #84 "TAB :: Text color and line height doesn't work"
### Problem:

Tab module - design tab's `tab text color` and `tab line height` option don't work.

Note: Tab item's text color has similar issue as well

### Steps To Reproduce:
1. Add tabs module and configure its content
2. Open module settings, go to design tab
3. Modify `Tab text color` and `Tab line height` option

### Additional Information:

**Device**:
Macbook Pro Retina 15"

**Operating S

[2016-08-19 02:46] fikrirasyid opened #85 "Video Slider :: Loading and Arrow Color Issues"
### Problem:

Video slider has two issues (note: this fields exist on its module item > general tab):

- [x] Video MP4/URL ::  transitioning from local video to 3rd party video is glitched. cannot fetch `this.props.loading` correctly thus the video dimension normalization doesn't work
- [x] Slider Arrows Color :: Changing the value doesn't affect the slider's arrow color

### Steps To Reproduce:
1

[2016-08-19 02:58] fikrirasyid opened #86 "Map & Fullwidth Map :: Reordering module item triggers `Cannot dispatch in the middle of a dispatch` error"
### Problem:

Reorder map & fullwidth map's module item triggers `Cannot dispatch in the middle of a dispatch` error.

### Steps To Reproduce:
1. Add map / fullwidth map and configure its module items
2. Try reordering its module item, and see the console

### Additional Information:

**Device**:
Macbook Pro Retina 15"

**Operating System**:
OSX El Capitan

**Browser**:
Latest Chrome

**Screen Res

[2016-08-19 03:02] websbyjd commented on #80
Discovered the same issue when trying to edit blurb module if only title and icon are used with icon left.  Tool bar fades before you can get to it.

[2016-08-19 03:14] janeemckay opened #87 "Secondary Menu appearing as right hand vertical"
### Problem:

Secondary Menu appearing as right hand vertical.

### Steps To Reproduce:
1. Theme customizer
2. Click Show Social Icons
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**: PC

**Operating System**: Windows 8

**Browser**: Chrome

**Screen Resolution**:

**Screenshots**:
Before I click "Show

[2016-08-19 03:16] timayhelen commented on #87
This may be related to https://github.com/elegantthemes/Divi-Beta/issues/69

[2016-08-19 03:19] timayhelen commented on #75
Sorry about that. The plugin doesn't actually add any special update functionality, that is contained in the theme. So if update notifications work for you normally, then this one should show up eventually. I am going to close this for now so we can keep this repo for Divi 3.0 related issues, but we will follow up with this internally.

[2016-08-19 03:19] #75 closed

[2016-08-19 03:32] timayhelen opened #88 "Module Move Slides In Module In Wrong Location"
If you move a module from one column to another, the module is "slide in" in the module's original location, and the disappear and reappear in the new location. It should be sliding in directly to the new location.

This bug doesn't happen when moving modules inside a single column.

[2016-08-19 03:38] SlavaET commented on #48
@timayhelen isn't it supposed to close all the opened modals when tooltip opened?
So, in the situation above Module settings should be closed once tooltip opened. Is my understanding correct?

[2016-08-19 03:44] yuricp opened #89 "Visual Box Layout does not show in Fullwidth Slider"
### Problem:

In Visual Builder mode, each module has a menu and a visual box layout.

![divi-beta-bug05](https://cloud.githubusercontent.com/assets/18079469/17798204/e3d5ee0c-6594-11e6-8ae0-2c42d6e47c5e.jpg)

But in the Fullwidth Slider module, only menu shows (not the box layout).

![divi-beta-bug07](https://cloud.githubusercontent.com/assets/18079469/17798231/19892d66-6595-11e6-825a-abd27747317

[2016-08-19 03:45] SlavaET commented on #68
duplicate of https://github.com/elegantthemes/Divi-Beta/issues/48

[2016-08-19 03:51] timayhelen commented on #89
This is intentional UI choice. Basically we only display outlines for parent elements (things that contain other things).

[2016-08-19 03:51] #89 closed

[2016-08-19 03:51] fikrirasyid commented on #89
@yuricp module actually doesn't have outline by design. Only section and row (the green one is row) which have outline. Fullwidth doesn't have row, only `Section > Module`

[2016-08-19 03:53] yuricp commented on #89
Thank you (Sorry my bad english)

[2016-08-19 03:53] fikrirasyid commented on #89
@yuricp no problem :)

[2016-08-19 04:15] SlavaET opened #90 "Inline editor issues"
### Problem:

Found some issues with Inline editor:

- [x] Font size slider doesn't reflect the current state
- [x] Buttons on the left and right sides from the slider in Font size option do not work:
![image](https://cloud.githubusercontent.com/assets/3446682/17798728/d39074de-65f5-11e6-8a8f-6a417262bc87.png)

- [x] Bold button never highlighted as active in FireFox
- [x] Font-size option doesn't

[2016-08-19 04:23] support-websavvy opened #91 "Contact form Form Module: Not able to enable "Use Border""
### Problem:
When I created a form module and added a field I found few issues

http://screencast.com/t/e5QlAbnazgWT

1.When you change the form background the input field background color changes
2.When You try to enable the "use Border" it does nothing.Sometimes you can set the color it is not reflected on the page.
3.Same goes when we try to customize the button
4.It suddenly hangs
### Steps To

[2016-08-19 04:25] #68 closed

[2016-08-19 04:30] SlavaET commented on #87
@timayhelen yeah, I think it won't be an issue after we restrict the loading of Frontend Builder inside Customizer. I checked it in my branch with the fix and cannot reproduce the issue.

[2016-08-19 04:58] elegantmarketplace opened #92 "VB when initiated from the front end adds a full width header prior to editing"
### Problem:

VB when initiated from the front end adds a full width header prior to editing. ON refresh with no save, additional section remains both in back and front

### Steps To Reproduce:
1. See video

https://www.dropbox.com/s/hduzwcc78rx78kw/adds%20another%20full%20width%20header%20when%20VB%20is%20engaged%20from%20both%20front%20end%20and%20back%20office.mp4?dl=0

### Additional Informati

[2016-08-19 05:29] muffinjello opened #93 "Row editor controls overlap inline editor text (When margin is lowered)."
### Problem:

When inline editing text when the margins on the wrapping row are made smaller, the row controls overlap the text entirely, making editing the text clunky or difficult when this happens. Possibly have it float directly above the row container when the inline-text controls are activated?

![Gif showing issue](https://cdn.pbrd.co/images/aoNa4NABK.gif)

### Steps:
1. Create a page, ente

[2016-08-19 07:16] Mizagorn opened #94 "Color picker with elements near top of screen - can't close"
### Problem:

Selecting text near top of screen and pulling up the color picker results in the top portion of the color picker being hidden.  You can select a color (from the bottom half of the modal), but there is no way to close it.

### Steps To Reproduce:
1. Create new page with text module.
2. Logged in as admin, on page, select text within module that is at top of page.
3.  Try to change col

[2016-08-19 07:40] Mizagorn opened #95 "Trashcan - "Are you sure?""
### Problem:

Trashcan icon is immediate with no confirmation (Yes? No?) or visible way to undo.

[2016-08-19 07:45] Mizagorn opened #96 "Provide hover (alt or hint) text on icons"
That's about all.

In other words, when you hover over an icon, there is no hint as to what it will actually do (except for the icon itself).  This is what I would consider a great way to reduce support requests.

[2016-08-19 07:53] fikrirasyid commented on #56
@timayhelen can you checked this on https://github.com/elegantthemes/submodule-builder/pull/945? I've checked it on https://github.com/elegantthemes/submodule-builder/pull/945 and it looks fixed on that branch.

[2016-08-19 08:06] fikrirasyid commented on #65
@bpitts82 can you elaborate more on what you mean by "added to sidebar" (Do you mean WordPress sidebar, 'sidebar' in specialty section, or anything else)? If you can provide an annotated screenshot, it would be even more useful. Thanks.

Note: Countdown timer appears to work as expected on frontend builder:

![countdown timer](https://cloud.githubusercontent.com/assets/916442/17803125/7f9bd0f2-661

[2016-08-19 08:10] timayhelen commented on #96
Thanks for the suggestion! We already have a ticket open for this, so I am going to close this one to avoid the duplicate. We are hoping to add tooltips to all buttons before release, but it may need to wait until 3.1. We will get it done though!

[2016-08-19 08:10] #96 closed

[2016-08-19 08:13] timayhelen commented on #95
Thanks for the suggestion!. We are going to leave it the way it is for two reasons:

1. I think the constant "are you sure" will end up wasting time in the long run, especially once you are familiar with the visual builder.
2. The visual builder already has a comprehensive Undo/Redo system, so if you delete something by mistake you can just undo it via the History panel :) We will be adding hotkey

[2016-08-19 08:13] #95 closed

[2016-08-19 08:13] NoHashKang opened #97 "Divi Update Failed.. Can't get Beta"
### Problem:

I do everything necessary... Install Divi, the BETA plugin activation, authenticate my account through Divi Upgrade. I get a "New Update is Available" over the Divi theme when I go to update it says
Update Failed: The theme is the latest version. The Divi Theme is v. 2.7.10.. I know I need 2.9
### Steps To Reproduce:
1. Download Divi
2. Download Divi Beta Activate Plugin
3. Authentic

[2016-08-19 08:14] timayhelen commented on #97
This just means that the update notification is cached. You have successfully updated, so feel free to start testing :)

[2016-08-19 08:14] #97 closed

[2016-08-19 08:17] timayhelen commented on #92
Do you have any plugins installed? We are not able to replicate this. It would also be helpful to export the layout you are testing post it for download here. Thanks!

[2016-08-19 08:18] NoHashKang commented on #97
Hello,

 Thanks for the fast reply, but it is still just the old Divi Builder. Don't get me wrong, I love that builder, but I want to test out the Front End one, am I doing something wrong? Do you access the Front End builder another way? It is not working for me

[2016-08-19 08:21] yburshan opened #98 "Alignment issue - Divi builder title in RTL algined sited"
### Problem:

Working in RTL site (Hebrew), the alignment of the Divi header title is off.

### Steps To Reproduce:
1.Create new post or page
2.select "Use Divi builder"

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**: Macbook

**Operating System**: Win10 ENT

**Browser**: FF 48.0

**Screen Resolution**:

**S

[2016-08-19 08:22] NoHashKang commented on #97
![screen shot 2016-08-19 at 4 21 59 am](https://cloud.githubusercontent.com/assets/17282939/17803450/7fcc5f1a-65c4-11e6-9007-2cbd0ff496f5.png)

[2016-08-19 08:31] yburshan opened #99 ""Use visual editor" leads to a blank page"
### Problem:
Clicking on "Use visual editor" leads to a blank page, or just endlessly load.
This behavior is the same for drafts, or published posts, and for RTl and LTR aligned sited (i.e Hebrew and English.
I'm using  latest WP 4.6, multi-site setup, Divi is network enabled.

### Steps To Reproduce:
1.Edit page or post
2.Switch to divi builder
3.Add columns / rows and write something
4.Publish o

[2016-08-19 08:32] NoHashKang opened #100 "Still cannot get Beta. Update Failing and Beta not installed"
### Problem:

Had an issue already but it was closed without actually being resolved and I really want to use the BETA... Update is failing, still, on 2.7 Divi, Divi Builder and Beta activate are all installed, Divi theme will not update to 2.9 and I still am not able to use the BETA dive builder. I go into edit page and it is just the standard non beta Divi Builder.

### Steps To Reproduce:
1.
2.

[2016-08-19 09:06] NoHashKang commented on #100
After deleting everything and reinstalling it all it worked after the 30th try...cool... I lost all my work, but hey.. Now i have the beta.. -_-

[2016-08-19 09:12] FourFeathers opened #101 "Blurb modules icons change everytime"
Situation:
I made a Divi library item with 4 columns with 4 the blurbs modules with the same icons that I want to use on a page. (I am currently working with safari, chrome and MAMP)

The bug(s): When I add this library item to the page via the visual builder everything is correct. However when I go to the page again the blurb icons are changed to a different icon. When I enter visual builder not

[2016-08-19 09:44] elegantmarketplace commented on #92
No Plugins and I think it is user error as I did not realise there were two headers in the page one for mobile and one for desktop- I can see though how someone could get confused - (feel like a novice user now :/) Json attached.
[Double_Header_for_mobile_and_Desktop.zip](https://github.com/elegantthemes/Divi-Beta/files/426719/Double_Header_for_mobile_and_Desktop.zip)
.

[2016-08-19 09:56] heart347 opened #102 "Section Layouts when loading from library in Visual Editor are mixed up"
### Problem:

When i'm in the Visual Editor and I try to add a new section and Load from Library, the layout packs we got during the Divi 100 are all mixed up. If you select a layout, you don't get the layout you selected. However if you are in the Divi builder and select a layout and then preview it or go to Visual Editor after, the correct layout will come. So the it is only a problem when addin

[2016-08-19 10:03] adlambros opened #103 "Visual editor hangs while trying to load page for editing"
### Problem: If you try to run the visual editor on a page with many section, it just looks like it tries to load but goes nowhere.  For example, I tried adding a page layout from the library called 'Our Team', and when I go to edit it in the visual editor it just hangs and hangs.  If I remove some of the sections then it will load fine

Replace this with a description of the issue you are reporti

[2016-08-19 10:27] jumborexTest opened #104 "Warning: Invalid argument supplied for foreach()"
### Problem:

The warning appears only if you start editing a post, or a page, and go to "Enable Visual Builder."
The full warning message is:
Invalid argument supplied for foreach() in [...]/wp-content/themes/Divi/includes/builder/functions.php on line 1819

### Steps To Reproduce:
1. Call a Post
2. Switch to "Enable Visual Builder."
3.
4.

### Additional Information:

I use a child theme, but I

[2016-08-19 10:30] ferreirex opened #105 "Move button"
### Problem:

When i try to move some stuff like Button to another place, i can reach to the move icon.
![screen shot 2016-08-19 at 11 13 38](https://cloud.githubusercontent.com/assets/5623963/17806804/a428e3da-65fe-11e6-89c4-8172439e8945.png)

[2016-08-19 10:46] SlavaET commented on #103
@adlambros Can you try right clicking in Chrome and choosing "Inspect Element", refreshing the page and reproducing the error again?
Please see if any messages appear in the "Console" tab. Please paste the messages here if anything shows up.

[2016-08-19 10:51] SlavaET opened #106 "Missing icons for the Disable On buttons in Right Click menu"
### Problem:
There should be icons instead of squares:
![image](https://cloud.githubusercontent.com/assets/3446682/17807499/d540f966-662c-11e6-9fa4-35c2674dcbb0.png)

### Steps To Reproduce:
1. Right Click any module
2. Click `Disable`
3. Check the icons appearance

[2016-08-19 11:08] SlavaET commented on #99
@yburshan Can you try right clicking in Chrome and choosing "Inspect Element", refreshing the page and reproducing the error again?
Please see if any messages appear in the "Console" tab. Please paste the messages here if anything shows up.

[2016-08-19 11:15] bhalsekhar opened #107 "Cannot add section in visual builder"
### Problem:
When I use visual builder I cannot add a new section because of the blue round button which show the save button hide that button .

### Steps To Reproduce:
1. Go to the visual editor.
2. then try to add a new section.

**Screenshots**:
![section](https://cloud.githubusercontent.com/assets/8648513/17808181/446366e0-662c-11e6-8f56-d18577bd9fa0.png)

[2016-08-19 11:23] dm-chechik opened #108 "Make inline editor menu visible when select a text"
### Problem:

The inline editor menu apperars only when I click within text. If I want to select some text and change the bold settings for example the inline menu doesn't appear. Instead of this I need to click somewhere in the text then select the piece of text and after that I can change the bold property.

[2016-08-19 11:31] #100 closed

[2016-08-19 11:34] dm-chechik opened #109 "Imposible to reach text module menu"
### Problem:

When text in Text Moduel is too short it's impossible to click on module menu. So I can't delete it, move etc.

### Steps To Reproduce:
1. Insert text module
2. Input short text, for example **Short text**

[2016-08-19 11:37] FaycalBoutam opened #110 "Prevent clicking on links"
### Problem:

When you click on an image or a blurb with a link, it takes you straight to the URL without showing a confirmation message. I find myself loosing my work with no way of getting it back. We should disable links like we have with the backend-editor.

[2016-08-19 11:41] dm-chechik commented on #109
Also I faced this problem with button module

[2016-08-19 11:53] dm-chechik opened #111 "Fixed menu overlaps text module settings menu"
### Problem:

When the text module is on top of the page the gray popup menu is under a fixed main menu.

### Steps To Reproduce:
1. Create a multi column row
2. Insert a text module. Use the second or third etc column not first
3. Make mouse over and menu appears under the fixed menu

### Screenshot:
![capture](https://cloud.githubusercontent.com/assets/20072036/17809053/96f217c2-661c-11e6-9862-1

[2016-08-19 11:56] timayhelen commented on #109
Thanks for the report. There is another issue that reported this, so I am closing this as a duplicate.

[2016-08-19 11:56] #109 closed

[2016-08-19 11:58] timayhelen commented on #105
This issue has been reported, so I am closing this duplicate ticket. Thanks!

[2016-08-19 11:58] #105 closed

[2016-08-19 12:08] ferreirex opened #112 "Possibility in join"
### Problem:

Any possibility to join the Theme Customiser on DIVI Visual Builder?
Having in left side a botton to show the Theme Customiser

[2016-08-19 12:23] bhalsekhar commented on #103
I can reproduce this error in post. The error is  **Uncaught TypeError: this.state.sections.map is not a function**  in Divi/includes/builder/frontend-builder/app/bundle.js?ver=2.9.9

[2016-08-19 12:25] monowebdesign commented on #101
This seems to happen on the Fullwidth header 'scroll down' icons as well

[2016-08-19 13:05] heart347 commented on #102
It still is mixed up when I select a layout from a new section in Visual Editor.

[2016-08-19 13:29] nicheprofitwebsites opened #113 "Visual editor not visible and various formatting issues in WordPress 4.6"
### Problem:

Opening a page created a few days ago using one of the Dvi 100 homepage templates and then clicking on the visual editor renders a page without any visible way to change text, add columns or sections. It also removed text formatting, colours, padding, background images, button styles and unhides sections. This was on the newest version of WordPress 4.6 which just released

### Steps

[2016-08-19 13:29] FaycalBoutam opened #114 "Page Settings :: Custom CSS field font is not visible on focus"
### Problem:

![homepage portfolio elegantthemes](https://cloud.githubusercontent.com/assets/16414613/17811205/5d2e7830-6619-11e6-8718-438c21c3284b.png)

[2016-08-19 13:33] Dmobley317 opened #115 "Cntrl + Z Not working in Visual Editor"
### Problem:

The option to use Cntrl+Z shortcuts from the keyboard is non-existent. This is a problem power users and developers that rely on shortcuts when building.

### Steps To Reproduce:
1. Go to any page in Visual Editor
2. Modify page
3. Use Crtl+Z
4. Nothing Happens

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.

[2016-08-19 13:36] FaycalBoutam commented on #114
Actually the issue is on every section, row module's custom CSS tab.

[2016-08-19 13:38] Dmobley317 opened #116 "Copy of Element in Visual Editor"
### Problem:

There is no notice of element having been duplicated in Visual Editor.

If you duplicate any section or element in the VE and it drops below your viewable window area, there is no warning of it happening.

There should at least be the little green check mark that appears, but a modal window with a response would be better.
### Steps To Reproduce:

1.
2.
3.
4.
### Additional Informati

[2016-08-19 14:04] abhi-sharm opened #117 "Visual Builder : Editing Difficult For Closely Placed Elements"
### Problem:

When the elements are too closed , it created trouble editing them and there is some hover issue as well. it is difficult to explain the issue fully with snapshot or licecap , please follow below on how to replicate

### Steps To Reproduce:
1. Load Home Extended layout on any page
2. Try editing the text as shown in image below
3. you will not be able to edit it at all due to hover i

[2016-08-19 14:14] Dmobley317 opened #118 "Copy of Element in Visual Editor"
### Problem:

There is no notice of element having been duplicated in Visual Editor.

If you duplicate any section or element in the VE and it drops below your viewable window area, there is no warning of it happening.

There should at least be the little green check mark that appears, but a modal window with a response would be better.

### Steps To Reproduce:
1.
2.
3.
4.

### Additional Informat

[2016-08-19 14:20] Dmobley317 opened #119 "Settings Panel in Visual Editor"
### Problem:

There should be an option to place the settings panel on the right and underneath everything as well. You have the button available for placing it on the left, but I would like the ability to snap it to a location based on what I'm doing and not having to drag it, though I could.

If it could snap to the bottom as full-width that would also be pretty cool.

### Steps To Reproduce:
1.

[2016-08-19 14:57] SlavaET commented on #102
Yes, the fix is ready but is not published yet. You'll be notified when new version of beta will be available :)

[2016-08-19 15:26] heart347 commented on #102
Oh, okay! :) Thanks! I'm about to post another bug.

[2016-08-19 15:33] heart347 opened #120 "Visual Editor for Text Module out of screen when custom padding for the row is at 0"
![screen shot 2016-08-19 at 11 32 43 am](https://cloud.githubusercontent.com/assets/21122218/17815079/b5b8d0b8-6600-11e6-8c7f-b8e0dd43f45e.png)

### Problem:
The custom padding for the row with the menu is at 0. When I try to edit the Text module in that row it is so high, it is off the screen, not allowing me to select any of the Visual Builder menu options for that module. In the screenshot you

[2016-08-19 16:49] TAGdigitalDesign opened #121 "Row Settings, Custom Margin and Custom Padding "titles" missing ... top bottom left right"
### Problem:

When going to adjust custom padding on row settings , would be nice if there was the top left bottom right description under gray shaded px boxes.

### Steps To Reproduce:
1. new row
2. insert text
3. design
4. no descriptions under custom margin and custom padding

### Additional Information:

*Please include any of the following details that are relevant to the issue you are report

[2016-08-19 16:52] timayhelen commented on #112
They should be kept separate for now, but thanks for the suggestion!

[2016-08-19 16:52] #112 closed

[2016-08-19 16:54] timayhelen commented on #114
What browser are you using? Please use the Github issue template as it will help us identify the issue for easily.

[2016-08-19 16:54] #118 closed

[2016-08-19 16:55] timayhelen commented on #117
There is already an issue open for this, so I am going to close this duplicate. Thanks!

[2016-08-19 16:55] #117 closed

[2016-08-19 16:57] #92 closed

[2016-08-19 16:58] #87 closed

[2016-08-19 17:22] FaycalBoutam commented on #114
All of my browsers. I'm using the latest version of Chrome (52)/Firefox (48)/Edge (25.10) with Windows 10

[2016-08-19 17:44] timayhelen commented on #114
Hmm it must be related to a customizer setting. Thanks, we will look into it.

[2016-08-19 17:44] #114 closed

[2016-08-19 19:01] TrevorGreenfield opened #122 "Section/Row Draggable Padding not working in Latest Firefox"
### Problem:
Using Firefox, the cursor changes to the scroll icon, but the green or blue hover areas do not show, and any dragging has no visible effect.  When viewing the settings panel, the correlating side of the box that I attempted to drag shows "NaNpx".  Using Chrome, this problem does not occur.

### Steps To Reproduce:
1. use Firefox
2. Enable visual editor on any content
3. Try  to drag b

[2016-08-19 19:14] timayhelen opened #123 "Quotes Are Being Encoded On Save"
Quotes inside CTA and Slider titles are being encoded on save. It may just affect non TinyMCE text inputs.

[2016-08-19 20:38] websbyjd opened #124 "Cannot edit sections settings if sections overlap"
### Problem:

If the sections overlap with negative margin, you are not able to reach edit menu in visual editor.  The UI switches sections before you can get to the menu
![screen-shot](https://cloud.githubusercontent.com/assets/20092710/17823568/2742b012-662b-11e6-939b-47edf80c3c5a.gif)
.

### Steps To Reproduce:
1. Create two sections
2. give one section negative margin until they overlap (used

[2016-08-19 20:39] timayhelen commented on #69
@SlavaET This fix seems to remove builder CSS from the page. When I load up the page in the customizer, lots of styles are broken.

[2016-08-19 21:07] Chris-netleaf opened #125 "Google PageSpeed Insights *IMPORTANT*"
**Problem:**

The theme still has several JavaScript and CSS issues that aren't Google friendly. This has never been addressed in any updates since the very first day Divi was born. I totally understand that you must prioritize lots of things before this, but you should REALLY consider fixing this before release or asap. As Google starts to rely more and more on speed factors, this gives Divi a di

[2016-08-19 21:11] timayhelen commented on #125
Thanks for the input Chris. This update is 100% focused on the new visual builder, and it doesn't address anything related to what's loaded on the page. We have an upcoming Developer release where we will be looking to performance issues. That being said, the best way to deal with render blocking JS and CSS/JS minification is via a plugin, since it will work outside the scope of the theme and comb

[2016-08-19 21:11] #125 closed

[2016-08-19 21:13] timayhelen commented on #116
I think this can be addressed by adding a fade/scale in animation for modules when:

1. New modules are added.
2. Modules are duplicated
3. Modules are pasted.

[2016-08-19 21:15] timayhelen commented on #113
Can you export the layout and post a download link to the JSON file here? I am not able to replicate this problem, so it could be due to specific things in your layout.

Do you have any Child Theme enabled? Try disabling that as well.

[2016-08-19 21:16] Chris-netleaf commented on #125
This is what we currently do and it works well (even tho we had some issues in the past). Still, not everyone has the knowledge about the existence of this issue.

May I ask if you guys have any plan to fix it in your Developer release?

[2016-08-19 21:45] timayhelen commented on #125
We can fix some of it, but like I said it's better to use a plugin that also addresses scripts enqueued by WordPress, such as jQuery. We will be exploring all performance-enhancing avenues in Divi 3.1.

[2016-08-19 21:47] timayhelen commented on #41
@Anny85 I think we can just replace the text on the page with the SVG loader, instead of using the body overlay.

[2016-08-19 21:54] sosensible opened #126 "Jetpack Compatibility Issue"
### Problem:

I went to an existing page on the front end. After two attempts the admin button is gone, and going to the edit page we see the page was converted to a divi page. Clicking the Use Visual Builder button did not get us working either.

### Steps To Reproduce:
1. Go to an existing page
2. Click the "Enable Visual Builder"
3. Seeing no edit features, click the button again.
4. Still no e

[2016-08-19 22:27] timayhelen commented on #126
Can you try clicking Inspect Element in Chrome, and then enabling the builder and let us know if you see any messages in the console log?

[2016-08-19 22:32] andyhqtran opened #127 "FB :: Performance :: Modal slows overall performance"
### Problem:
When the `Modal` component is opened, it causes some performance issues with the page setting bar toggle. From the looks of it, the `Modal` component is getting re-rendered every time you toggle the page settings bar.

### Steps To Reproduce:
1. Open any Modal that uses `modal/index.js`
2. Open React Dev Tools and check **Trace React Updates**
3. Toggle the Page Settings

### Addition

[2016-08-19 22:33] lots0logs commented on #123
RE: elegantthemes/Divi#1858

[2016-08-19 22:51] sosensible commented on #126
I got this response.

bundle.js?ver=2.9.9:7 Uncaught Invariant Violation: Minified React error
#37; visit
http://facebook.github.io/react/docs/error-decoder.html?invariant=37 for
the full message or use the non-minified dev environment for full errors
and additional helpful warnings.

but that was clicking through from the post editor. The button produced
this error...

bundle.js?ver=2.9.9:7 Uncau

[2016-08-19 23:05] VirtualVisionary opened #128 "Firefox Visual Editor Shows Blank Page"
# Problem:

When I try to use the Visual Editor using the latest version of Firefox, I get a completely blank page. Reload does not work either.

### Steps To Reproduce:
1. Go to Edit on any page in Dashboard
2. Click Use Visual Editor, next to Use Divi Builder
3. Fades to blank page
4. Reload also shows blank page

### Additional Information:
Inspect Element Console in Firefox shows this Error me

[2016-08-19 23:39] jamesrayth commented on #126
I'm seeing the same issue. I started with a blank page went straight to the visual editor but it loaded a preview of the new page, nothing was clickable. I then loaded a page template from the library, saved as draft, and tried the visual editor again, still no dice.

I'm seeing two errors in the console:

bundle.js?ver=2.9.9:7 Uncaught Invariant Violation: Minified React error #37; visit http://f

[2016-08-19 23:51] fikrirasyid opened #129 "Cannot Load Layout"
### Problem:

Predefined layouts on page bar hangs on loading state.

### Steps To Reproduce:
1. Create new page, open in VB
2. Toggle page settings bar
3. Click load layout icon (the leftest icon)
4. The tooltip hangs in loading state.

### Additional Information:

**Device**:
Macbook Pro Retina 15"

**Operating System**:
OSX El Capitan

**Browser**:
Latest Chrome

**Screen Resolution**:
2560x144

[2016-08-20 00:00] timayhelen commented on #129
@fikrirasyid it works for me although it does take quite a while. Also the Ajax request is supposed to happen in the background when the app launches, and I am not sure if that's happening anymore.

[2016-08-20 00:05] fikrirasyid commented on #129
@timayhelen ah I see. with this length of loading time (it's still not loading the layout list on my FB), I think it'll be perceived as bug tho. We need to speed the loading time up 🤔

[2016-08-20 00:11] timayhelen commented on #129
Yeah, we need to do it a different way I think.

[2016-08-20 00:17] FaycalBoutam opened #130 "Fullwidth Portfolio Module is not working."
### Problem:

It's just not showing anything.
Portfolio and Filterable Portfolio modules work, they show content/thumbnails but this is not the case for the Fullwidth Portfolio module. Previous pages with this module are now not showing the Portfolio.

[2016-08-20 00:35] fikrirasyid commented on #101
@FourFeathers @monowebdesign can you create a screencast or step-by-step screenshots to replicate the issue? I've tried replicating the issue based on the description you gave above, but the icon still appear correctly in FB and actual page in my case. I think I missed something. Visual cue will definitely help.

[2016-08-20 00:41] fikrirasyid commented on #43
An idea for this:

1. set props.value as initial state.value
2. control input value's is printed based on state.value
3. the typed value is being debounced for some miliseconds / seconds before dispatched via actions

If my assumption is correct about this approach:
- The typing will be really smooth, as in typing in normal HTML input
- The actual layout got a really little lag, but still tolerabl

[2016-08-20 01:02] timayhelen opened #131 "Modal Does Not Reflect Correct Settings When Undo/Redo Occurs"
If you undo/redo while in a module settings modal, the page updates but the current state of each setting in the modal does not.

[2016-08-20 01:02] lots0logs commented on #128
Hi @VirtualVisionary , the latest version of Firefox is actually 48. Could you try installing the latest update? If the issue persists, please try it while in Private Browsing Mode. Let us know the result. Thanks!

[2016-08-20 01:34] VerbalCA commented on #126
Just a note that I am experiencing the same problem. Running site on Wordpress 4.6 if that helps. Chrome  51.0.2704.103 on Mac OS X Yosemite.

Error messages are the same with an additional one:

bundle.js?ver=2.9.9:7 Uncaught Invariant Violation: Minified React error #37; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=37 for the full message or use the non-minified dev en

[2016-08-20 01:50] websbyjd opened #132 "Confusion With Modules With Sub-Modules"
### Problem:

This is not a bug but it is very confusing when editing modules that have sub-modules (not sure what else to call them) like sliders, tabs, accordians, etc...   When you save the work inside the sub-module by clicking the check mark, it seems like you should not have to click the same check mark again to save the module.   Maybe I'm slow, but it took a bit to figure out what I was do

[2016-08-20 02:23] websbyjd opened #133 "Can't use ampersand in title fields"
### Problem:

Using non ASCII in title field is converted to html & amp ; on save.  Tested in Blurb, Circle Counter, Tabs, Accordions, and in Testimonials (author name)

Updated this after testing with several other non ASCII characters

### Steps To Reproduce:
1.
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

[2016-08-20 02:29] adilsoncosta opened #134 "Create a functionality to edit the footer credit"
### Problem:

Not a problem but an improvement that would like it to be implemented.

It would be interesting to create a function so we could edit the footer credits without the need to edit the default theme code.

Could maintain the credits editing option and another allowing the Elegant Theme credit information, something very subtle, as an icon (logo) or something like that!

### Steps To Rep

[2016-08-20 02:30] websbyjd commented on #129
For what it's worth, it does load instantly on windows box

[2016-08-20 02:33] kingdomstudios opened #135 "Menu and Footer not shown in Visual Builder if not in Full Screen Mode"
### Problem:

When editing a page in Visual Editor in other than Full Screen Mode, the Menu and Footer do not render. They do render on the actual device, however. This means that the editor is not reflecting that which will be displayed.

### Steps To Reproduce:
1.
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.

[2016-08-20 02:47] mwsmedia opened #136 "Two Modals Open; None Will Close"
### Problem:
When Full Width Header Settings modal is open and pinned to the side, if the bottom ellipses menu is opened and Load Layout is selected, both modals cannot be closed (their close buttons no longer work

**Device**: Desktop Computer

**Operating System**: Windows 10

**Browser**: Chrome

**Screen Resolution**: 2560 x 1080

**Server**: Local WAMP installation

[2016-08-20 03:30] SlavaET commented on #126
Do you guys have Yoast SEO plugin activated? Try disabling it if yes.

[2016-08-20 03:30] nicheprofitwebsites commented on #113
No CSS or child themes used. It's pretty much a clean install of WordPress, Divi and basic plugins I use on all sites.

However, after I submitted the issue I tried to use Visual Editor on some newly created pages but without any luck, I then started to disable plugins in case there was was a conflict somewhere. As it turns out (and you might be able to replicate it this time) that when the Yoast

[2016-08-20 03:42] lots0logs commented on #135
@kingdomstudios Thanks for the report. Currently the Visual Builder supports desktops only (screen resolutions of 1366px and up). We'll consider adding support for tablets in a future release though! :smiley:

[2016-08-20 03:42] #135 closed

[2016-08-20 03:55] Kaessa opened #137 "Custom CSS in modules not applying in Visual Builder after upgrade"
### Problem:

Replace this section with a description of the issue you are reporting. Be sure to explain the expected results vs. actual results when it might not be obvious to those who will read your report.

Under the "Additional Information" section below, it would be especially helpful if you could include a video screencast of the issue occurring along with a link to download the Divi Builde

[2016-08-20 04:37] Dmobley317 commented on #116
That sounds great!

[2016-08-20 04:45] BrittanyAK commented on #113
I to am having the same problem - it does not load at all.  I only have Askmet, Divi Updater (I deactivate) and hello Dolly plugins installed.  I did update to Wordpress 4.6 BEFORE adding the divi Beta.  It just gets stuck on the four dots rotating

[2016-08-20 04:46] BrittanyAK commented on #113
Also on a Windows 10, PC system

[2016-08-20 04:52] BrittanyAK commented on #99
I just saw this and commented on another post but this is exactly the same thing I am having issue with.  The site I put the beta on only has three plugins (Askmiet, Hello Dolly, DIvi Updater (I deactivated that))  Here is what Chrome shows in the console box on my end:

JQMIGRATE: Migrate is installed, version 1.4.1

My system is a PC, Windows 10.  Wordpress version is the most recent 4.6.

Thank

[2016-08-20 04:59] VerbalCA commented on #126
I don't have Yoast on this website but I do have iThemes security activated, wonder if that could be causing an issue?

[2016-08-20 05:09] muffinjello opened #138 "CSS Syntax Highlighting (And contrast issue)"
This is more of a bunch of suggestions on my part, apologies if it's already been suggested and I missed it in my searching.

- [ ] Text color when input selected has very poor contrast (Dark on dark) ![Screenshot](https://cdn.pbrd.co/images/aMVBmDd3v.png)
- [ ] When editing a module (i.e. Text settings), place CSS ID and CSS Class on the same line. While extra margins help with a 'minimal look',

[2016-08-20 05:18] muffinjello opened #139 "Difficulty selecting edit button for modules (Disappears on hover)"
### Problem:

The edit tools for modules hangs slightly out of the hover "activation" area, with the end result being the controls disappearing when trying to use them, due to the system registering the user as no longer being focused on that module (and consequently, hiding the controls).

### Steps To Reproduce:
1.  Create a new page with Divi
2.  Enter the visual editor
3.  Add a Section -> Row

[2016-08-20 07:38] BradAverhill opened #140 "Ability to turn off Builder & Retain all Code"
With most builders or visual builder tools you can toggle on and off the builder and retain all code, I see this is not the case with Divi-Beta. Any chance to add this little feature?

[2016-08-20 07:44] BradAverhill opened #141 "Visual Builder Not Working With WP 4.6"
After a wp upgrade to 4.6 two issues noticed:

DIVI or any theme will not auto upgrade, you need to Dashboard, updates and update theme from there and it will work, but clicking theme upgrade it will not upgrade.

Also I do not see the Visual Builder only the standard Divi builder.

[2016-08-20 08:42] #141 closed

[2016-08-20 08:43] timayhelen commented on #139
Thanks for the input. We already have an issue open for this, so I am closing this as a duplicate.

[2016-08-20 08:43] #139 closed

[2016-08-20 08:44] timayhelen commented on #136
Thanks for the input. We already have an issue opened for this bug, so I am closing this duplicate.

[2016-08-20 08:44] #136 closed

[2016-08-20 08:45] timayhelen commented on #138
Thanks for the input. There is already an issue opened for this bug, so I am closing this duplicate.

[2016-08-20 08:45] #138 closed

[2016-08-20 08:46] timayhelen commented on #134
Thanks for the suggestion. This beta test is focused on testing new Divi 3.0 functionality only, so I am closing this ticket for now.

[2016-08-20 08:46] #134 closed

[2016-08-20 08:46] timayhelen commented on #140
Thanks for the input. There is already an issue opened for this bug, so I am closing this duplicate.

[2016-08-20 08:46] #140 closed

[2016-08-20 08:46] jumborexTest opened #142 "Visual Builder doesn't work with WP 4.6"
I have seen a similar bug, but I want to specify that the "Use Visual Builder" shows as expected, but the page I see is a "normal" page: I have found no way to activate the "Visual Builder itself."
I attach an image showing the page visible for the normal users, near the page called clicking upon the "Visual Builder" button.

### Additional Information:

**Operating System**: Windows 10

**Browser

[2016-08-20 08:49] timayhelen commented on #107
Thanks for the input. There is already an issue opened for this bug, so I am closing this duplicate.

[2016-08-20 08:49] #107 closed

[2016-08-20 09:27] timayhelen commented on #113
Thanks, we have a fix for this and it will be available in the next beta version.

[2016-08-20 09:27] #113 closed

[2016-08-20 09:45] yburshan commented on #99
Screenshot attached
I also get JQMIGRATE: Migrate is installed, version 1.4.1 message
The site is brand new multisite for testing.
I have the following plugins
* Easy Updates Manager
* Elegant Themes Divi Beta Tester
*Join My Multisite
*Limit Login Attempts
*Membership 2 Pro (Planning to try few things in memberships scenarios later).

![console_error](https://cloud.githubusercontent.com/assets/21

[2016-08-20 10:16] Bhuvan937 commented on #142
Yeah same problem here.

[2016-08-20 10:42] SlavaET commented on #126
Please try disabling all plugins and check.

[2016-08-20 14:08] SlavaET commented on #142
I see you're using Yoast plugin and it causes the issue, please disable it and check again. This issue with Yoast will be fixed in next version.

[2016-08-20 14:15] sosensible commented on #126
OK, it works right when I toggle Yoast SEO to inactive. This is a serious
conflict because many of my sites, users sites are using Yoast. Hope this
fix is easy to come by.

[2016-08-20 14:46] sosensible commented on #142
**This might be a key difference.** I was trying this out on two sites. One is a multi-site and the other is not of course. The one that it was working on was the multi-site with Yoast still running.

The active plugins on the multi-site are;

- Elegant Themes Divi Beta Tester 1.0
- Elegant Themes Updater 1.0
- Gravity Forms 2.0.6
- Gravity Forms MailChimp Add-On 3.7.1
- Gravity Forms Polls Add-On

[2016-08-20 14:55] Bhuvan937 commented on #142
Thanks a lot it started working.

[2016-08-20 15:18] SlavaET commented on #126
Don't worry, the fix is ready, so it'll be included into next beta version :)

[2016-08-20 16:27] #142 closed

[2016-08-20 17:07] jumborexTest commented on #142
Waw! Yoast was the problem.
Now a total new world... Thank you Slava

[2016-08-20 18:28] coreykcreech opened #143 ""Add Row" and "Add Section" Buttons Overlapping with Minimal/No Row Margin/Padding"
### Problem:

When editing with the visual editor, if you have a row that ends a section and contains no padding/margin, the "Add Row" and "Add Section" buttons overlap.

Working in Chrome v.52.0.2743.116 m on Desktop, 1920x1080.

### Steps To Reproduce:
1.
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Devi

[2016-08-20 19:32] timayhelen commented on #133
Thanks for the report. We already have an issue open for this, so I am closing this duplicate.

[2016-08-20 19:32] #133 closed

[2016-08-20 20:19] lots0logs commented on #98
Thanks for the report. We're focusing exclusively on the VIsual Editor for this beta but I'll add this issue to our Divi repo so we can address it during the next round of bug fixes :smiley:

[2016-08-20 20:19] lots0logs commented on #98
Issue moved to [elegantthemes/Divi #2508](https://github.com/elegantthemes/Divi/issues/2508) via [**ZenHub**](https://www.zenhub.com/)

[2016-08-20 20:19] #98 closed

[2016-08-20 20:51] websbyjd opened #144 "custom gutters disappear after saving in VB"
### Problem:

After setting custom gutters to 0 in Divi Builder publishing and then opening the visual builder and saving, gutters are reverted to 3

screencast
[https://youtu.be/FpWa3NleLp4](url)

json of layout
[https://www.dropbox.com/s/1tgpcsci6izdl66/Divi%20Builder%20Layout.json?dl=0](url)

### Steps To Reproduce:
1.
2.
3.
4.

### Additional Information:

*Please include any of the following

[2016-08-20 23:29] FaycalBoutam opened #145 "Shop Module :: Include Categories option missing"
### Problem:

When you display the products by categories, the option to select the categories is missing:

![sans titre 2](https://cloud.githubusercontent.com/assets/16414613/17834372/83e95004-6735-11e6-8068-e313d1f7d5ad.jpg)

![sans titre 6](https://cloud.githubusercontent.com/assets/16414613/17834388/28d51102-6736-11e6-9884-d9929794fec4.jpg)

[2016-08-20 23:48] FaycalBoutam opened #146 "Custom widget areas are missing"
### Problem:

I created some custom sidebars and now they are gone. I can't see them on the front page or in Appearance => Widgets.

I can only see them when I role back to 2.7

![widgets elegantthemes wordpress](https://cloud.githubusercontent.com/assets/16414613/17834457/d91881c8-6738-11e6-8840-29bb89de6c05.png)

![widgets elegantthemes wordpressd](https://cloud.githubusercontent.com/assets/1641

[2016-08-21 00:37] gahawkey opened #147 "Contact form module drop-down options jump to admin dashboard"
### Problem:

When using Visual Builder to create form with Contact Form module, selecting input field type jumps to admin dashboard, loosing all unsaved changes.

### Steps To Reproduce:
1. Open page in visual builder
2. Insert new contact form module
3. Create new field
4. Change type to email for example
5. Landing in admin dashboard, and going back with browser back button loads page in visual

[2016-08-21 02:17] Bhuvan937 commented on #142
I can't save the changes in Divi Visual Builder.

[2016-08-21 05:33] jamesrayth commented on #126
I have Yoast, but disabling it didn't fix the issue.

I have the following plugins:

1. All In One SEO Pack
2. Bloom
3. Elegant Themes Divi Beta Tester
4. ET Anticipate Maintenance Plugin
5. Jetpack for WordPress.com
6. Monarch Plugin
7. WooCommerce
8. WooCommerce Amazon Payments Advanced Gateway
9. WooCommerce PayPal Powered by Braintree Gateway
10. WP Super Cache
11. Yoast SEO

I disabled Yoast

[2016-08-21 09:29] ayanize opened #148 "Closing or escaping the Visual Builder"
## Problem:

There is no button or at least we are not seeing a way to close or escape the Visual Builder when done. The save button does save the changes but what we need to do to get out of the visual builder still being logged in. Reloading the page works but we think there should be  way to get out of this when done.

### Additional Information:

*Please include any of the following details th

[2016-08-21 10:19] avo108 opened #149 "Unable to choose colours using Hex codes"
### Problem:

When changing the background colour of a section, the Hex value cannot be manually adjusted. Only 1 character can be typed in & the box turns red. Colours can only be chosen using the picker.

### Steps To Reproduce:
1.  Add a section
2. Section Settings
3. Background Color
4. Try to type in a Hex code

### Additional Information:

**Device**: iMac

**Operating System**: El Capitan 1

[2016-08-21 14:53] FaycalBoutam opened #150 "Contact Form Module :: Last fullwidth field is now half width"
### Problem:

I'm having issues with the contact form modules that I have created before. The last textarea that was set to be fullwidth is now only taking 50% of the container width.
Other form that have styles added to them they look okay.

![contact us elegantthemess](https://cloud.githubusercontent.com/assets/16414613/17837801/c7c32c44-67b4-11e6-8160-73e80f371c99.png)

![contact us elegantthem

[2016-08-21 16:50] jdjmedia opened #151 "Over 48 Hours & Still No Update Available"
### Problem:

How long should I have to wait for the beta update to become available? I have tried both methods listed in the documentation on multiple installs and different WordPress versions and none seem to work.

[2016-08-21 20:20] timayhelen commented on #149
Thanks for the report. There is already an issue open for this, so I am closing this duplicate.

[2016-08-21 20:20] #149 closed

[2016-08-21 20:21] timayhelen commented on #148
Thanks for the report. There is another issue open for this, so I am closing this duplicate.

[2016-08-21 20:21] #148 closed

[2016-08-21 21:03] timayhelen commented on #65
@fikrirasyid He may be referring to the the "sidebar" of a speciality section, which means it may be a certain column layout in a particular speciality section that causes the text overlap.

[2016-08-21 22:35] timayhelen opened #152 "Dragging & Dropping Section & Rows Bug"
If you drag and drop a row or section, you can no longer drag and drop any addition rows or sections. The drag function stops working.

[2016-08-22 01:35] mwsmedia opened #153 "Fullwidth Scrolldown Button Not Working On Firefox"
### Problem:

The scrolldown button does nothing in Firefox. After clicking, the browser bar URL adds a /.

### Steps To Reproduce:
1.  Install fullwidth module
2.  Activate scrolldown button
3.  Test in Firefox
4.  Scratch head

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**: Desktop computer

**Operating Sy

[2016-08-22 02:41] jfsturtz opened #154 "Text Module flyover toolbar disappears on mouseover"
### Problem:

When I mouse over a Text Module, the flyover toolbar appears.  In some (but not all) cases, when I mouse over the toolbar, it disappears before I can select anything.

### Steps To Reproduce:
1.  Activate the Visual Builder
2. Mouse over a Text Module to display the toolbar
3. Try to select an item in the toolbar.  In some cases, it disappears on mouseover.
This seems random; I have

[2016-08-22 03:29] SlavaET commented on #69
@timayhelen can you please explain which CSS you're talking about? I tested and all the css works as expected and styles look good.

[2016-08-22 03:34] SlavaET commented on #129
I tested and it works instantly for me. I can see the loading icon for 1-2 seconds only if I immediately click `Load Layouts` button after page refresh. In all other cases I don't see the loading at all.
@fikrirasyid do the predefined layouts work fine in BB for you?

[2016-08-22 03:46] SlavaET commented on #137
@Kaessa I checked your layout and it works perfectly in Visual Builder.
I noticed that you have Yoast plugin enabled on your website and it may cause the issue. Please try disabling this plugin and check again.
The issue with Yoast plugin will be fixed in next beta version.

[2016-08-22 03:51] SlavaET commented on #126
@jamesrayth which modules in Jetpack do you use?

[2016-08-22 04:34] SlavaET commented on #146
@FaycalBoutam I cannot reproduce this issue. I can see the widget areas created a while ago after upgrade to Divi Beta.
Did you rename your Divi theme? Did you create these widget areas when child theme was activated?

[2016-08-22 06:50] SlavaET commented on #147
@gahawkey I cannot reproduce this issue. Could you please post the video screencast showing it?

[2016-08-22 08:49] timayhelen commented on #69
@SlavaET Any CSS created by the builder that gets added to <style type="text/css" id="et-builder-advanced-style">

[2016-08-22 08:53] timayhelen opened #155 "New Contact Form Modules Have No Fields"
When you add a new contact form module, no input fields exist. The module is supposed to have name, email and message fields added automatically.

[2016-08-22 08:55] timayhelen commented on #146
@FaycalBoutam This happens if you disabled Divi during the upgrade process, or changed to a theme other than Divi.

[2016-08-22 08:55] #146 closed

[2016-08-22 08:58] timayhelen commented on #154
Thanks for the report. We have an issue open for this problem already, so I am closing this duplicate.

[2016-08-22 08:58] #154 closed

[2016-08-22 09:01] timayhelen opened #156 "Duplicating Module Causes Hover Buttons To Stick"
If you duplicate a module, and then hover off of the duplicated module, the module's hover buttons do no get unmounted.

[2016-08-22 09:32] timayhelen commented on #145
@SlavaET I tested this, but I don't see any category options. I ensured that cached was cleared and that I was on the right branch. I am testing on Homepage Extended with the addition of a Shop module in the first standard section.

[2016-08-22 09:34] SlavaET commented on #69
Ah, I see. Fixed.

[2016-08-22 09:37] SlavaET commented on #145
@timayhelen make sure you selected `Product Category` in the `type` option if Shop module:
![product-cat-option](https://cloud.githubusercontent.com/assets/3446682/17850280/4b78cf34-687e-11e6-87cc-fe0c89df3778.gif)

[2016-08-22 09:40] #104 closed

[2016-08-22 09:45] timayhelen commented on #145
@SlavaET Ah right, thanks.

[2016-08-22 17:47] #59 closed

[2016-08-22 17:48] #84 closed

[2016-08-22 17:48] #77 closed

[2016-08-22 17:48] #108 closed

[2016-08-22 17:48] #45 closed

[2016-08-22 17:48] #54 closed

[2016-08-22 17:49] #73 closed

[2016-08-22 17:49] #71 closed

[2016-08-22 17:52] #102 closed

[2016-08-22 17:52] #81 closed

[2016-08-22 17:54] #103 closed

[2016-08-22 17:54] #144 closed

[2016-08-22 17:55] #69 closed

[2016-08-22 17:55] #145 closed

[2016-08-22 17:55] #122 closed

[2016-08-22 17:59] timayhelen commented on #151
Do you have the Divi theme activated? Also try disabling all of your plugins so that you only have the beta tester plugin enabled.

[2016-08-22 18:28] adlambros commented on #103
Looks like you were able to fix it! :)

[2016-08-22 18:52] #66 closed

[2016-08-22 21:39] Kaessa commented on #137
That worked! Disabled Yoast and everything works fine now.

[2016-08-22 22:40] #137 closed

[2016-08-23 00:06] #79 closed

[2016-08-23 00:06] #90 closed

[2016-08-23 00:06] #43 closed

[2016-08-23 00:06] #67 closed

[2016-08-23 04:18] jdjmedia commented on #151
Yes. Divi is activated. Not a child theme. All plugins disabled except beta plugin. Still not working.

[2016-08-23 05:09] jamesrayth commented on #126
@SlavaET Sorry for delay in response, got slammed.

I just used the default JetPack "Jump Start" settings (it gives you a button upon installing saying "lets jump start your site!" or something to that effect). It activates the following modules:

- Beautiful Math
- Carousel
- Contact Form
- Custom CSS
- Custom Content Types
- Enhanced Distribution
- Extra Sidebar Widgets
- Gravatar Hovercards
- J

[2016-08-23 05:27] jamesrayth commented on #126
I went through and tested each module that activates with the "Jump Start" to see where it breaks, there's two that break divi visual builder:
Publicize
Sharing

I then went and added all the other modules just to see if any other ones broke, and the rest worked fine. So its just Publicize and Sharing that are breaking it.

[2016-08-23 05:34] lots0logs commented on #151
Hmm..could you confirm that Divi's directory on your server has not been renamed? It must be eaxactly `Divi` (its case sensitive).

[2016-08-23 05:43] jdjmedia commented on #151
Yah this is crazy. It is Divi and 755 security.

[2016-08-23 05:50] lots0logs commented on #151
Have you experienced any issues with automatic updates prior to this? Could you check that your ET username and API key is properly saved in **Divi>>Theme Options>>Updates?**

[2016-08-23 05:55] jdjmedia commented on #151
Never had an issue like this ever. Not a novice Wordpress user either. :) Re-enter API key and saved fine. Still no go. I am not sure what to even try next.

[2016-08-23 06:00] SlavaET commented on #106
Fixed.
@andyhqtran In this branch I also corrected CSS code in accordance with your comments found in the `right-click-menu.scss` file, could you please take a look?

[2016-08-23 06:05] Jronk opened #157 "FB :: Tinymce errors due to event listeners not being removed"
### Problem:

In `ETBuilderTinyMCE`, in the `componentDidMount` method, there is a `.on` registered to the resize event, however this event will continue to fire even after the tinymce DOM element is removed, therefore the even listener needs to be removed in a `componentWillUnmount` method.

Ref https://facebook.github.io/react/tips/dom-event-listeners.html

[2016-08-23 06:26] jamesrayth commented on #128
Yoast was breaking the visual builder until the update that was released today. Try it again after getting the newest update.

[2016-08-23 06:29] lots0logs commented on #151
Next step would be to enable debug logging and then check the log after forcing it to check for updates a few times. Just add the following to your `wp-config.php` (remove your current WP_DEBUG line if it exists so that it is only defined once).
[code]

[2016-08-23 08:42] SlavaET opened #158 "Saving never ends"
### Problem:

if you click `save` in the Visual Builder, then you'll endlessly see the spinner over the save button, although saving performed successfully.

@Jronk looks like it was broken in this commit - https://github.com/elegantthemes/submodule-builder/commit/22474d41

### Steps To Reproduce:
1.  Open Visual Builder
2. Click `save`
3. Wait..

[2016-08-23 09:18] FourFeathers commented on #101
@fikrirasyid First of all: this bug also happens when I save the blurbs as 'a row', with different columns (1/2 and 1/2, 3/4 and 1/4 etc.) and so on. So the steps below apply to them too.

The steps I take are the following:

1. First I make a new section in the Divi library with 4 columns with 4 blurbs modules in them.

<img width="928" alt="section" src="https://cloud.githubusercontent.com/asset

[2016-08-23 09:33] SlavaET opened #159 "Change API Key button in Map module opens ePanel not in new tab"
### Problem:

If you click `Change API Key` button from the Map module settings it'll open the ePanel settings in the same tab which means that you'll lose everything you built with the Visual Builder.
That button should open ePanel settings in a new tab.

### Steps To Reproduce:
1.  Open Map module settings in Visual Builder
2. Click `Change API Key` button

[2016-08-23 09:42] GWS14 commented on #151
Hi there,

It's been 24 hours since install and unfortunately still no sign of version 3.

Installed on wampserver 3.04
PHP 5.6.19 / MysQL: 5.6.30 / Apache 2.4.18

Correct API and username - Theme options-update tab

Dashboard > Updates  - clicked the "Check Again" button several times.
Appearances > Editor - changed Divi version number in style.css from 2.7.10 to 2.9.1

Directory named - Divi
Div

[2016-08-23 10:12] SlavaET commented on #72
Fixed. Also fixed one more issue found during the fixing - adding new gallery from the Visual Builder thrown js error and broke the page.

[2016-08-23 10:22] tcshad opened #160 "Person modules duplicated in visual editor (Visual Bug)"
### Problem:
Visual Bug
When manipulating the location of person modules a visual bug occurred where a module appeared to be duplicated.  No control elements appeared and on saving the module was not present.  Appears to be a visual bug only.

### Steps To Reproduce:
1.  unable to replicate
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the

[2016-08-23 10:43] timayhelen opened #161 "Inline Editor Text Side Glitch"
Text size becomes un-editable in the following scenario:

1. Open up the visual editor on the Homepage Extended layout.
2. Double click the word "Vestibulum" in the first blurb.
3. Set the text to bold.
3. Change font to Arvo.
4. Attempt to adjust font size.

[2016-08-23 10:50] avo108 opened #162 "Cannot type anything into the Code module"
### Problem:

The "code" module is not working. I was unable to type in or copy+paste any code, eg. shortcodes - nothing happens.

### Steps To Reproduce:
1.  Insert a section / row
2. Insert a module
3. Select "Code" module
4. Try to type in or copy+paste any code

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Devic

[2016-08-23 10:53] lots0logs commented on #151
Hi @GWS14 , the version for the 3.0 beta will always be in the `2.9.x` series. That way there wont be any issues upgrading from the beta to the official 3.0 release :wink:

[2016-08-23 10:55] timayhelen commented on #72
@SlavaET Looks like there is also an issue with adjust the automatic slider transition speed. Sometimes when adjusting it, it breaks the animation and the transition between slides becomes glitchy. It may have to do with typing 1,0,0,0 and have split seconds of "1" as the transition speed.

![slider](https://cloud.githubusercontent.com/assets/3333028/17889504/673eaac4-68e5-11e6-99c4-54fbf3458e2a.g

[2016-08-23 11:00] timayhelen commented on #48
@SlavaET Yeah that sounds good.

[2016-08-23 11:24] fikrirasyid commented on #78
Please read the explanation on https://github.com/elegantthemes/submodule-builder/pull/969 for the updated issue fixed on this ticket.

[2016-08-23 11:27] witkinss opened #163 ""Preview Changes" button does not show changes"
### Problem: "Preview Changes" button does not show changes

NOT in Visual Builder Mode (blue button), but the former Visual Editor, "Preview Changes" button  does not reflect changes if not Updated first.

### Steps To Reproduce:
1.  Make any change to page
2. Click on "Preview Changes"
3. **No changes reflected**
4. Click on "Update"
5. Click on "Preview Changes"
6. **Changes reflected now**

##

[2016-08-23 11:55] monowebdesign opened #164 "Unable to drag & drop Bar Counter"
### Problem:

Created a new page and added various elements - created a 3 column row and added Bar counter to column 1, countdown timer to column 2.
All appears ok but am unable to drag and drop the bar counter to any new position - all other modules can be moved.
Copied the bar counter and tried to move that - same problem

Revert to backend editor and everything works as it should - module can b

[2016-08-23 12:14] GWS14 commented on #151
Hi
Thanks for the tip but not sure how that help me with current issue.

[2016-08-23 12:39] sosensible opened #165 "Updating directly from Appearance>>Themes or Plugins>>All Plugins Fails (new feature in 4.6)"
### Problem:

I tried to run my update and on a multi-site and on a single site it failed to update.

### Steps To Reproduce:
1.  run update of theme
2. paste in this notice: "Update Failed: The theme is at the latest version."
3. file this bug report and ( smile, knowing it will get there )

### Additional Information:

I did not see what was updated in the notifications.

[2016-08-23 12:54] sosensible commented on #165
Had my host, WPEngine, try a file permissions reset. That did not allow either site to update.

[2016-08-23 13:03] christopherbsantos commented on #165
It was great chatting with your sosensible. Let me know if you need me to do anything else on your sites to assist with this process.

[2016-08-23 13:16] fikrirasyid commented on #65
@timayhelen I noticed one specialty section sidebar related issue but I'm not 100% sure whether this is what @bpitts82 was experienced or not. Basically there is an issue due to missing lodash method on row inner component:

![65-countdown-sidebar-issue](https://cloud.githubusercontent.com/assets/916442/17893055/6aaa012a-696e-11e6-9cd7-c5d87cf0dc1f.jpg)

@bpitts82 can you clarify that this is what

[2016-08-23 13:18] webjac opened #166 "New section button at the bottom"
### Problem:

When you create a few sections and you want to create a new one, the button for the new section at the bottom of the page is hidden behind the purple "main settings" button making it unreachable.

Here's a screenshot: http://jmp.sh/OgIwmy5

### Steps To Reproduce:
1.  Create a few sections
2. Try to create a new one at the bottom of the page
3.
4.

### Additional Information:

*Pleas

[2016-08-23 13:33] webjac opened #167 "Text is hidden"
### Problem:

Text is hidden behind the settings panel of the section. Screenshot: http://jmp.sh/MvAzHME

### Steps To Reproduce:
1.  Add a text module in any section
2.
3.
4.

### Additional Information:

**Device**: MacBook Pro

**Operating System**: OSX El Cap

**Browser**: Chrome

**Screen Resolution**: 1440x900

**Screenshot or Screencast**: http://jmp.sh/MvAzHME

[2016-08-23 13:39] fikrirasyid commented on #129
It works fine in BB for me. I checked the network tab and found this tho:

![allowed memory size](https://cloud.githubusercontent.com/assets/916442/17893916/a777affa-6971-11e6-9002-78b072a37631.jpg)

[2016-08-23 13:41] fikrirasyid commented on #159
@SlavaET I should've think of this :facepalm: I'll add target blank on the button.

[2016-08-23 14:09] fikrirasyid opened #168 ""Use Visual Builder" Button Appears on Divi Library Editor"
### Problem:

The title says it all:

![use visual builder button on divi library](https://cloud.githubusercontent.com/assets/916442/17894960/99d17a4e-6975-11e6-8fd2-54610fd2bcc1.jpg)

Nevertheless, allowing visual builder to be used on Divi Library is quite makes sense. However, if that's the case, opening the layout in frontend builder points to `No Results Found` page.

### Steps To Reproduce:

[2016-08-23 14:09] lots0logs commented on #151
Sorry, I do not understand. You said:

I explained that you should not be expecting to see version 3.0 yet. The beta versions will all be versioned as `2.9.x`  where `x` will increase for each beta leading up to the release of 3.0.

[2016-08-23 14:14] lots0logs commented on #165
Hi @sosensible could you try installing the update from the Updates page in your Dashboard instead of from the **Appearance>>Themes** page? You can access the Updates page under **Dashboard>>Updates**

[2016-08-23 14:32] sosensible commented on #165
Yes, this worked on both sites. :)

On Tue, Aug 23, 2016 at 10:14 AM, Dustin Falgout <notifications@github.com>
wrote:

[2016-08-23 14:47] SlavaET commented on #129
@fikrirasyid how many layouts do you have beside the predefined? Can you export them and send to me for testing? Also, try clearing your browser cache and cookies, just in case. Do you have any plugins?

[2016-08-23 14:48] fikrirasyid commented on #101
@FourFeathers Thank you for your detailed step by step! I've successfully replicated the issue and currently looking for a way to fix it. I'll keep you updated.

[2016-08-23 15:12] fikrirasyid commented on #129
@SlavaET I have 111 items on my library. I've sent the exported XML file to you via Slack.

I've tried clearing browser data, but still no luck. I have 13 active plugins. I've deactivated them all, but it still doesn't work. Probably has something to dow with the number of items I have on the library 🤔

[2016-08-23 15:47] elephantik opened #169 "Pre-made Layouts not working - loading " Creative Agency" creates never ending spin screen for VE"
### Problem:

Dear Divi Dev team,

I have encountered a bug using your pre-made layouts if you select "Creative Agency" as a pre-made layout and populate your page and publish it and than later try to use Visual Editor it spins and spins and spins. Only until I cleared the entire page layout was it able to load.

UPDATE *** I removed the module "PORTFOLIO" From Creative Agency's premade layout. Th

[2016-08-23 16:09] jamesrayth opened #170 "Ampersands appearing as html entity (& appearing as &amp;)"
### Problem:
Symptom: Ampersands in title and subheading fields are being replaced with the html entity `&amp;`

Issue: This appears to be happening any time the page is loaded in the back-end editor. If you load the page you're working on using the divi visual builder and add an ampersand to a title or subheading field, save the page using the visual builder, and close out of the back-end page wi

[2016-08-23 16:16] TrevorGreenfield opened #171 "Device preview icon color not changing on click (Bug)"
### Problem:

If I click the purple ellipsis icon at the bottom of the VB, then change the device view, the highlighted icon does not reflect the newly selected view unless I click the purple X, then it will be shown correctly.  Obviously, visually I can tell which is which in terms of page width, but ideally the icon should change color to highlighted green on click.  This would be even more impo

[2016-08-23 16:16] jamesrayth commented on #169
The white page issue is usually caused by conflicting plugins. I had this same issue with Yoast, they patched it in the lastest patch (released yesterday) but it also errors out with Jetpack Publish and Share modules.
Disable all of your plugins except ET plugins and then try it, then reactivate plugins until it stops working and let them know which plugin broke it.

[2016-08-23 16:23] elephantik commented on #169
The plugins I have installed are just the install plugins for Divi and Divi Builder and Divi Child themes. This did not obstruct this load. What obstructed this load was the Portfolio Module.

[2016-08-23 16:23] jamesrayth commented on #169
I thought this was the blank page issue caused by plugins, but following the repro steps I see the same thing described, the loading visual builder animation. There is this showing in the dev console:

(4) bundle.js:10 Uncaught TypeError: Cannot read property '__reactInternalInstance$hci9zf4of0khy2spyxdt5ipb9' of null     bundle.js:10

[2016-08-23 16:27] jdjmedia commented on #151
After debugging this is all I got.
[23-Aug-2016 15:13:37 UTC] PHP Notice:  Undefined index: HTTP_USER_AGENT in /home/httpd/html/wowyourugly.com/public_html/wp-content/themes/Divi/functions.php on line 8027
[23-Aug-2016 15:13:37 UTC] PHP Notice:  Undefined index: HTTP_USER_AGENT in /home/httpd/html/wowyourugly.com/public_html/wp-content/themes/Divi/functions.php on line 8029
[23-Aug-2016 15:13:37 U

[2016-08-23 16:31] elephantik commented on #169
Yay we caught a bug.

[2016-08-23 16:36] jking2076 opened #172 "third party module plugin not working in Visual"
### Problem:

My KK Divi Mods plugin and modules therein work in "legacy" mode but hang in the Visual Editor. I can find the KK modules in the insert module modal, but when selected, the Visual Editor hangs.  It does not present a display for that KK module nor the Settings modal.  I am unable to open the Add modal again in that column.  I can, however, open the insert module modal in another colu

[2016-08-23 16:49] TrevorGreenfield opened #173 "Visual builder displays featured image as meta background differently than website (Bug)"
### Problem:

1. In VB (Visual Builder) When using a Post Title module on a standard row, and selecting use featured image as background, and CSS Parallax, VB does not show the featured image at the same height in the background as the rendered page, and
2. does not display the parallax either.
3. The desired height for the image is as shown in the rendered page.
4.  I hadn't noticed before but it

[2016-08-23 17:05] #165 closed

[2016-08-23 17:06] elephantik opened #174 "Visual Editor Save button just spins after saving..."
### Problem:

I'll have to fill this out completely later but in simple reaction the saving process appears to be saving but the spinning symbol goes forever. I'll update this in a few hours.

### Steps To Reproduce:
1.  Build a page layout that is large, save it in VE and the spinning button appears to keep spinning.
2. I haven't isolated anything yet so I'll do so in a later update.
3.
4.

### A

[2016-08-23 17:07] timayhelen commented on #174
Thanks for the report. There is already an issue open for this, so I am closing this duplicate.

[2016-08-23 17:07] #174 closed

[2016-08-23 17:08] timayhelen commented on #170
Thanks for the report. There is already an issue open for this, so I am closing this duplicate.

[2016-08-23 17:08] #170 closed

[2016-08-23 17:09] timayhelen commented on #167
Thanks for the report. There is already an issue open for this, so I am closing this duplicate.

[2016-08-23 17:09] #167 closed

[2016-08-23 17:09] jamesrayth commented on #170
Which issue was the duplicate? I searched for ampersand and nothing came up

[2016-08-23 17:09] timayhelen commented on #166
Thanks for the report. There is already an issue open for this, so I am closing this duplicate.

[2016-08-23 17:09] #166 closed

[2016-08-23 17:11] timayhelen commented on #173
Thanks for the report. There is already an issue open for this, so I am closing this duplicate.

[2016-08-23 17:11] #173 closed

[2016-08-23 17:13] elephantik commented on #174
Whoops thanks!

Sent from my iPhone

[2016-08-23 17:20] timayhelen commented on #160
Thanks for the report, I believe this will be fixed in an updating PR.

[2016-08-23 17:20] #160 closed

[2016-08-23 17:26] mindsize commented on #172
This isn't surprising given that KK is currently using undocumented features to hook into Divi. I wouldn't expect anything that isn't a core part of Divi to work right now. I would imagine this will all be fixed soon when ET releases official documentation on extending Divi.

[2016-08-23 17:41] jking2076 commented on #172
Forgive me, mindsize, but are you speaking for ET or just making a comment?

[2016-08-23 17:44] mindsize commented on #172
I'm a tester, just like you, though I can nearly guarantee this will be the answer from ET.

[2016-08-23 17:45] TrevorGreenfield commented on #173
@timayhelen I've reviewed all of the open issues and the only one I can find that mentions something similar is https://github.com/elegantthemes/Divi-Beta/issues/78 but that is confined to just the Parallax/CSS issue.  My issue is more related to padding of Post Titles not being displayed in the settings modal properly (regardless of whether you turn on parallax) and it not previewing properly in

[2016-08-23 17:52] jking2076 commented on #172
That would be sad if they don't show a little interest before official documentation.  Maybe my problem is not cause for alarm for the launch date, but at least tell me where to start looking for the root cause.  Else, I'll just figure it out like I did before.

[2016-08-23 17:53] timayhelen commented on #55
@Anny85 This changes all buttons in the modal the green. That isn't what we want.

[2016-08-23 17:54] Anny85 commented on #55
@timayhelen hmm, let me take a look...

[2016-08-23 17:55] timayhelen commented on #55
@Anny85 I pushed a fix.

[2016-08-23 17:57] Anny85 commented on #55
@timayhelen Ok, great

[2016-08-23 18:04] timayhelen commented on #171
Hi @TrevorGreenfield,

I am not able to re-create this bug. Could you try clicking Right Click > Inspect Element in Chrome and then run the previewer again? When the bug occurs, check the Console log and let me know if you see any errors.

[2016-08-23 18:06] timayhelen commented on #172
Can you send us a copy of the plugin? We will take a look and provide guidance if it's not something we can address on our end.

[2016-08-23 18:08] websbyjd opened #175 "Inline Editor Strips Custom HTML Added From Settings Modal"
### Problem:

Third party icon code stripped from text module when saved in VB

### Steps To Reproduce:
1.  create a text module
2. add icon code such as this from fontawesome<i class="fa fa-envelope-o" aria-hidden="true"></i>
3. save and fontawesome code is stripped
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**

[2016-08-23 18:11] timayhelen opened #176 "Fullwidth Post Title Module Doesn't Load"
When adding a new fullwidth post title module to the page, the module doesn't seem to load and the settings modal is not launched.

[2016-08-23 18:17] jking2076 commented on #172
Sure. Let me know if this doesn't attach.
[kk-divi-mods073.zip](https://github.com/elegantthemes/Divi-Beta/files/433230/kk-divi-mods073.zip)

[2016-08-23 18:19] jking2076 commented on #172
In my original problem description, I failed to mention that there were no JS console errors.  Else, it might would have tipped me off.

[2016-08-23 18:20] BrittanyAK commented on #99
Even after updating to the newest beta release (today), I still have a blank page (doesn't matter what browser)

**Steps To Reproduce:**
1.View page
2. Click on Visual Editor
3) just hangs with the four dots - nothing loads beyond that

[2016-08-23 18:35] GWS14 commented on #151
My misunderstanding Ok. Not version 3....
to clarify then..what I should have said is that has been no update from 2.7.10-no front page edditing

[2016-08-23 18:47] TrevorGreenfield commented on #173
@timayhelen I've determined the problem with the padding is caused because the container div does not have the class "et_pb_featured_bg" applied.  If I manually insert this into inspector, VB now shows correctly compared to the rendered page.

Here's the affected line, you can see I've added the "et_pb_featured_bg".

![divi3betatest-featuredimagebackgroundcodefix](https://cloud.githubusercontent.c

[2016-08-23 18:58] andyhqtran commented on #171
Hey @TrevorGreenfield,

I was also unable to reproduce the issue.
![image](http://g.recordit.co/YRCGtqLTkP.gif)

[2016-08-23 19:07] TrevorGreenfield commented on #171
@timayhelen @andyhqtran Thank you for investigating.  I've disabled all extensions in both FF and Chrome, but I am still having the issue.  Here's video

![record_2016_08_23_12_03_40_314](https://cloud.githubusercontent.com/assets/16709732/17905973/0ac44156-692a-11e6-9a39-118d69d1c1c4.gif)

[2016-08-23 19:16] andyhqtran commented on #127
It seems that having the modal also effects performance for any animation related content.
- Inline Editor has a slight lag when popping up.
- Clunky animation when resizing screen using the responsive toggles.
- React Ink abruptly stops midway when clicking on it.

[2016-08-23 19:27] timayhelen commented on #175
Can you paste the exact code you are adding? When you open up the module after saving, has the code been altered?

[2016-08-23 19:31] andyhqtran commented on #171
Hey @TrevorGreenfield,

It looks like I was on an old version of the Visual Builder. After investigating it once more, I have confirmed that this is a bug.

Some notes for dev:
- Buttons update it's color once you toggle the page settings bar.
- Buttons can be changed once when you reopen the page settings bar. Afterwards, it returns to glitching out.
- No console errors were logged.

![image](htt

[2016-08-23 20:35] elephantik opened #177 "Question: ON the color picker, why no option for an color eyedropper?"
### Problem:

This is not a problem but a question: on the color selection tool, why not include a color eye-dropper? While not necessary it would save time in the VE.

[2016-08-23 22:09] #177 closed

[2016-08-23 22:18] andyhqtran opened #178 "Tooltip"

[2016-08-23 22:55] jking2076 commented on #172
mindsize, you've baited me into responding, but, you're right. Nick has no obligation to me or any other third party.  Yet, when I was upfront in signing up to beta test, Nick must have thought it was worthwhile. You're also half right about what I reported as being a bug.  Surely he would want to know that something works in legacy mode but not in VB mode, third party or not.

[2016-08-23 23:09] websbyjd commented on #175
Here is the exact code that I had in the text module

`<i class="fa fa-envelope-o" aria-hidden="true"></i> CONTACT US`

[2016-08-23 23:11] jking2076 commented on #172
On further testing...  After a module is selected, the column hangs, but other cols can be exercised. Other rows can be added, etc.  However, if the page is saved and then reopened in WP editor/Divi Builder, ALL modules that were added in VB are visible and functioning.

Also, if KK modules are added with Divi Builder, these render in VB and can be manipulated.

[2016-08-23 23:35] #88 closed

[2016-08-23 23:35] #106 closed

[2016-08-23 23:35] #155 closed

[2016-08-23 23:36] #150 closed

[2016-08-23 23:36] #91 closed

[2016-08-23 23:36] #157 closed

[2016-08-23 23:36] #130 closed

[2016-08-23 23:36] #86 closed

[2016-08-23 23:37] #78 closed

[2016-08-23 23:37] #55 closed

[2016-08-23 23:37] #63 closed

[2016-08-23 23:37] #131 closed

[2016-08-23 23:37] #158 closed

[2016-08-23 23:37] #65 closed

[2016-08-23 23:38] #159 closed

[2016-08-23 23:53] support-websavvy opened #179 "Visual Editor Hangs when trying to save page"
### Problem:

I made changes to a page with the visual editor.When I tried saving it took a long time and then just hung

### Steps To Reproduce:
1.  Create the whole page
2. Click Save at the bottom of the page

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**: Desktop

**Operating System**:Windows 10

**Brows

[2016-08-24 00:00] timayhelen commented on #179
Thanks for the report. This has already been reported, so I am closing this duplicate. It has been fixed in Divi 2.9.11.

[2016-08-24 00:00] #179 closed

[2016-08-24 00:06] support-websavvy commented on #179
I still have divi 2.9.10. How do I get divi 2.9.11?

[2016-08-24 00:09] mindsize commented on #172
No baiting involved, and I saw the value of reporting the issue. When I responded to your initial post, I was not aware you were the developer. As the developer, I can see the reason behind reporting the issue.

Building something against an unsupported interface is always risky. You now have to protect your customers, who are also ET's customers, against the potential that new builds will break y

[2016-08-24 01:04] jking2076 commented on #172
mindsize, somehow, I DO believe we think alike.  It's just that I've been a member of ET so long now, I've never felt the need that an official path was necessary considering how ET had written their code and licensed it.  All the relevant php functions could be overwritten, hooks and filters were easy to spot, etc.  I created my first module nearly a year ago and the "documentation" was fairly st

[2016-08-24 03:18] fikrirasyid commented on #101
@FourFeathers I've submitted a patch for this issue. The issue occurs due to the use of `sanitize_text_field()` to sanitize all values which will be saved. If the saved font icon uses `%%number%%` format, it will be sanitized improperly thus the issue (hence the issue actually happens to all font icon picker).

The patch is currently under review now. Once it passes the review, it should be merged

[2016-08-24 03:47] fikrirasyid commented on #169
@elephantik @jamesrayth thank you for reporting this bug! Can you inform me the following information:

- How many portfolio item you have on your installation?
- How many portfolio categories and tags you have?

I'm still trying to replicate the issue (no luck *yet* so far). It probably has something to do with saved portfolio data.

[2016-08-24 03:49] jamesrayth commented on #169
@fikrirasyid I have no portfolio items and no portfolio tags.

[2016-08-24 03:49] fikrirasyid commented on #169
@jamesrayth thank you for confirming it 👍

[2016-08-24 04:07] timayhelen commented on #162
This affects the Custom CSS inputs as well.

[2016-08-24 04:11] fikrirasyid commented on #169
@elephantik @jamesrayth a patch for this issue has been added and currently under review. Once it passes the review, it should be merged on the next beta release. Thank you for reporting this bug.

[2016-08-24 04:23] fikrirasyid commented on #83
@thepauly can you provide screencast / screenshot which shows how you encountered the issue? I've followed the steps you mentioned above but it appears that everything works as expected. Here's how it looks on my mac:

![issue 83](https://cloud.githubusercontent.com/assets/916442/17918193/1be5081c-69ed-11e6-8c54-123cc1db76ac.gif)

[2016-08-24 04:55] thepauly commented on #83
@fikrirasyid I think the primary menu needs to have a transparent background for it to work. I'll take a screencast when I get a chance.

[2016-08-24 05:10] thepauly commented on #83
![divi](https://cloud.githubusercontent.com/assets/4914868/17918927/8bf4aaa8-6a0c-11e6-8d22-e48c8569e2b5.gif)

url is here if you want to take a look:

http://wordpress-16322-53254-145113.cloudwaysapps.com/

[2016-08-24 05:16] thepauly commented on #83
It works OK when the Primary Menu Bar is set to a solid colour, but any transparency causes it to break.

[2016-08-24 05:20] SlavaET commented on #129
@fikrirasyid thank you for provided details and layouts pack! Finally was able to reproduce the issue, looks like 111 layouts is too many to retrieve in a single request. Working on fix.

[2016-08-24 05:51] GWS14 commented on #151
Given up trying to get Divi to update on home server. Update worked first time on live server.

[2016-08-24 06:33] GWS14 opened #180 "Off Screen: Font Family Off Screen in Top Row"
### Problem:

Font Family window off screen when editing title in top row.

### Steps To Reproduce:
1.  Pages -Add New from Dashboard > Select Use Divi Builder > Select Use Visual Editor
2. Create row > I column > Text Module > Create H1 Text - Save
3. Select Text > Select Font Family Icon

### Additional Information:

*Please include any of the following details that are relevant to the issue you

[2016-08-24 06:54] GWS14 opened #181 "Font Formatting: Formatting options missing in Visual Editor"
### Problem:

No header formating or text size in Visual Editor tool bar

### Steps To Reproduce:

1.  Use Visual Editor > Insert 1 row / 1 column
2.  Insert Text Module > add h1 text > save
3.  Try to change H1 to H2 or other size

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**: Desktop PC

**Operating Syste

[2016-08-24 07:30] SlavaET commented on #129
@fikrirasyid can you please check whether your library items are loading with my PR or not?

[2016-08-24 07:33] timayhelen commented on #181
Text size and headers are accessed via the "Aa" icon.

[2016-08-24 07:33] #181 closed

[2016-08-24 07:34] fikrirasyid commented on #129
@slavaET I've tested it and I can confirm that your PR works. Thanks!

[2016-08-24 07:37] SlavaET commented on #129
Great. Frontend Builder will retrieve the library items by small portions of 50 items and should work fine with any library size.

[2016-08-24 07:42] GWS14 opened #182 "Text Module Settings: Unable to Click to Open"
### Problem:

Toolbar for text settings disappears when mouse cursor moves towards it.

### Steps To Reproduce:

1. Use Visual Editor > Insert 1 row / 1 column
2. Insert Text Module > add h1 text > save
3. Try to edit text module settings

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**: Desktop PC

**Operatin

[2016-08-24 07:47] SlavaET commented on #126
@jamesrayth can you please confirm that the issue with jetpack modules exist in the latest version of Beta?
I checked the Sharing ( and all other modules available in Development mode of Jetpack ) and it works fine.
I cannot check the Publicize module on localhost though.

[2016-08-24 08:03] timayhelen commented on #182
Thanks for the report. There is already an issue open for this, so I am closing this duplicate.

[2016-08-24 08:03] #182 closed

[2016-08-24 08:08] SlavaET commented on #163
I cannot reproduce the issue. Preview changes button works as expected even with unpublished pages.
@witkinss does that button work fine if another theme activated? Does it work fine with the latest Divi theme ( not Beta ) ?

![preview-works](https://cloud.githubusercontent.com/assets/3446682/17923076/1a07c5e0-6a04-11e6-845b-6d99ed739ac5.gif)

[2016-08-24 08:09] jamesrayth commented on #126
@SlavaET Both Publicize and Sharing can be activated without breaking the visual builder now. Looks like this is resolved.

[2016-08-24 08:11] GWS14 commented on #182
oops aplogies

[2016-08-24 08:12] SlavaET commented on #126
Great! Closing this issue then.
@jamesrayth thanks for confirming. Feel free to open a new ticket if you find conflicts with any other plugins.

[2016-08-24 08:12] #126 closed

[2016-08-24 08:58] novalore opened #183 "Divider redundant option (hide on mobile)"
The option is present in divider module's design settings and it feels counterintuitive and redundant since we already have the option for disabling the module on a per-device basis in general settings.

This issue is not limited to the beta, it exists since the release of the responsive editing controls.

(I understand that the priority of this one is probably the lowest possible...)

[2016-08-24 09:03] fikrirasyid commented on #83
@thepauly thank you for confirming the issue. I can replicate the problem now. Divi has particular adjustment to fullwidth modules that are being placed on the first row of the layout if the primary menu has rgba color. I'm currently investigating the issue. I'll keep you updated.

[2016-08-24 09:10] SlavaET commented on #56
It seems to work fine in the latest `1848-front-end-builder branch`

[2016-08-24 10:03] #56 closed

[2016-08-24 10:27] timayhelen opened #184 "Fullwidth Row Buttons Overlap Section Buttons"
Section settings button cannot be accessed when:

1. Section padding-top reduced to 0.
2. The first row in the section has it's padding-top reduce to 0.
3. The first row in the section is set to "fullwidth row."
4. The first row in the section has it's gutters set to "0."

In this case, the row buttons overlap the section buttons.

[2016-08-24 10:29] timayhelen commented on #183
Thanks for the suggestion! We are going to use this repo for Divi 3.0 related bugs only, so I am going to close this report and keep a reference of it internally.

[2016-08-24 10:29] #183 closed

[2016-08-24 10:31] timayhelen commented on #183
It's the same issue reported here: https://github.com/elegantthemes/Divi-Beta/issues/123

[2016-08-24 10:32] timayhelen commented on #123
FYI this affects various characters.

[2016-08-24 11:18] SlavaET commented on #72
@timayhelen fixed.

[2016-08-24 11:57] SlavaET commented on #76
@Augustin56 I cannot reproduce this issue. It works fine and space is removed correctly.
Can you please record the screencast showing the issue? Probably I'm missing a step. Also, please make sure you're on the latest Beta version.
![remove-space](https://cloud.githubusercontent.com/assets/3446682/17929696/f25186a6-6a23-11e6-9a92-c70c24d8a069.gif)

[2016-08-24 14:41] VirtualVisionary opened #185 "Fullwidth Header Module icon settings disappear behind menu"
### Problem:

When I click on my FW header image, the green border shows up with the icons showing in the upper left corner. But the icons appear behind the primary menu, so when I try to click on the icon, the icons disappear, and it ends up clicking on my logo. When I scroll down the page, which makes the menu shrink, the icons do not show up on the screen where I am. I have to scroll back up to

[2016-08-24 15:09] fikrirasyid commented on #185
@VirtualVisionary thank you for reporting this issue. It seems that this is duplicate of https://github.com/elegantthemes/Divi-Beta/issues/83, so I'm closing it now. We're currently working for a fix for this issue.

[2016-08-24 15:09] #185 closed

[2016-08-24 17:45] cap220 commented on #99
Yep, same here but didn't even have the dots just a blank white page.

Also have a site where the beta is installed but the 'Visual Editor' is not available at all.

Both sites are single instance Divi site with child themes running WordPress 4.6, latest rev of Divi. problem occurs in all browsers (Chrome, FF, Safari, IE 11, Edge and on Win 10 Pro and OS X 10.X.

Plugins:

Akismet
BackWPUp
Bloom
C

[2016-08-24 22:23] andyhqtran commented on #51
ref #178

[2016-08-24 22:40] jking2076 opened #186 "Code module not working"
after inserting into column, am unable to enter any content (textarea).  field unresponsive to keyboard input.  appears to remove other cols in row.

[2016-08-24 23:16] jking2076 opened #187 "in VB, module control menu does not stay visible to access"
in the attached video capture, a Divider module is used as example.  this anomaly may be prevalent in any module without sufficient height. using Divi2.9.11
[divicap1.zip](https://github.com/elegantthemes/Divi-Beta/files/435842/divicap1.zip)

[2016-08-24 23:56] #129 closed

[2016-08-24 23:58] #101 closed

[2016-08-24 23:58] #169 closed

[2016-08-24 23:58] #171 closed

[2016-08-24 23:59] #176 closed

[2016-08-24 23:59] #164 closed

[2016-08-24 23:59] #72 closed

[2016-08-24 23:59] #162 closed

[2016-08-24 23:59] #168 closed

[2016-08-24 23:59] timayhelen commented on #187
Thanks for the report. We already have an issue open for this, so I am closing this duplicate.

[2016-08-24 23:59] #187 closed

[2016-08-25 00:00] timayhelen commented on #186
Thanks for the report. We already have an issue open for this, and it's been fixed in the upcoming beta version.

[2016-08-25 00:00] #186 closed

[2016-08-25 00:00] #151 closed

[2016-08-25 00:02] timayhelen commented on #175
I can't seem to replicate this issue. The code remains intact once I save via the VB and refresh the page.

Are you using "Visual" mode in the text editor? Try using "Text" mode instead.

[2016-08-25 00:04] timayhelen commented on #163
I can't seem to replicate this either. @witkinss Are you still experiencing the issue on the latest beta version? It sounds like maybe you clicked preview too quickly and the page didn't have time to update.

[2016-08-25 00:04] timayhelen commented on #147
@gahawkey I can't seem to replicate this either. Have you tried disabling all of your plugins?

[2016-08-25 00:05] timayhelen commented on #99
@cap220 Can you try disabling all of your plugins and see if the issue persists? If so, please re-enable the plugins one by one and let us know which one caused the issue.

[2016-08-25 00:07] jking2076 commented on #187
do you think everything has been covered?  Can you suggest any area I may contribute further?

[2016-08-25 03:47] timayhelen opened #188 "Dragging Sections Causes TinyMCE Formatting To Be Lost"
When you drag and drop a section, it causes some TinyMCE inline styles to be lost. Text Color in particular.

[2016-08-25 03:57] elephantik opened #189 "Mouse cannot overlay the text settings in VE"
### Problem:

The mouse hover overlay for the text settings of the text block cannot be reached in some circumstances because the text box itself is too far below, or the hover state is not activated within proximity of where the overlay begins. You have to move the mouse reallllly fast, or get lucky.  I've noticed this in a few instances but generally on full width 1 column entities this happens.

[2016-08-25 04:20] timayhelen commented on #189
Thanks for the report. There is already an issue open for this, so I am closing this duplicate.

[2016-08-25 04:20] #189 closed

[2016-08-25 06:14] fikrirasyid commented on #83
@thepauly patch for this issue have been submitted and currently under review process. Once it passes the review process, it should be merged on the next beta release. Thank you for submitting the report 😄

[2016-08-25 08:19] SlavaET opened #190 "Inline Editor doesn't highlight the state of selected text in FireFox"
### Problem:

If text is Selected ( by mouse drag or double click ) then active state is never highlighted in FireFox. It works fine after single mouse click though.

### Steps To Reproduce:
1. Open Visual Builder in FireFox
2. Select any text in the Text module by double click
3. Set it to bold, italic, underlined
4. Check the buttons highlighting in Inline Editor

[2016-08-25 09:16] Bhuvan937 commented on #97
Hey there! I am facing the same problem ,my current Divi Beta Version is 2.9.9 But I really want to upgrade it to 2.9.12 and it does the same thing and I still have same old Beta Version 2.9.9.

![screen shot 2016-08-25 at 2 16 26 pm copy](https://cloud.githubusercontent.com/assets/21140201/17963296/831967cc-6ad2-11e6-8092-f0826a3c0df4.png)

[2016-08-25 10:04] #178 closed

[2016-08-25 10:28] fikrirasyid commented on #80
@websbyjd We've submitted a patch for this and it is currently under review process. Once it passes review process, it should be merged on the next beta release. Thank you for reporting the issue 😄

Here's how the patch looks like:

![divi-beta-80](https://cloud.githubusercontent.com/assets/916442/17965864/f38e29a0-6ae8-11e6-965d-3afdf3c04b72.gif)

[2016-08-25 10:51] fikrirasyid opened #191 "Spinning Gear Icon"
This is totally not priority, but I think if the gear icon spins on `:active` or `:hover` state, It'll make the interaction more livelier. By `gear icon`, I mean these icons:

### Module item settings
![screen shot 2016-08-25 at 5 48 58 pm](https://cloud.githubusercontent.com/assets/916442/17966535/480eac2c-6aec-11e6-8f20-6ee726fbee27.png)

### Module, row, and section setting popovers
![screen sh

[2016-08-25 11:52] Anny85 commented on #41
@timayhelen Should we use a white wrapper?

<img width="558" alt="screen shot 2016-08-25 at 14 49 44" src="https://cloud.githubusercontent.com/assets/3335250/17968059/6eba3fda-6ad3-11e6-8e6f-2f7a4fe7b0e4.png">

or

<img width="469" alt="screen shot 2016-08-25 at 14 48 48" src="https://cloud.githubusercontent.com/assets/3335250/17968066/76c12856-6ad3-11e6-9d1d-21dd027da532.png">

[2016-08-25 11:54] SlavaET opened #192 "Move icon generates js error on click"
### Problem:

If you click on `Move` icon in any module/row/section then the following js error will be printed in console:
`et-builder-store.js:9 Uncaught TypeError: Cannot read property 'address' of undefined`

[2016-08-25 12:54] witkinss commented on #163
Hi SlavaET and timayhelen, sorry for the delay I wanted to check and recheck before replying.   I just updated to the latest version of the Beta and it seems it is working Ok now on my side too.  Tks and rgds.

[2016-08-25 12:58] yburshan commented on #99
Just updated to 2.9.12 and the visual editor still doesn't work.

[2016-08-25 13:06] #163 closed

[2016-08-25 14:13] OlgaT opened #193 "Visual builder: Can't click on first module settings"
### Problem:

Can't click on first module settings if eader is transparent. Settings tab is under the header

1.  Set transparent background color in Customizer > header&Navigation > Primary menu bar
2. Enable visual editor
3. Try to click on the settings panel (it disappears)

[2016-08-25 15:45] voceadinumbra opened #194 "Visual builder: Portability popup position issue"
### Problem:

At some smaller browser resolutions, like 1250 * 550 - the Portability popup is causing some layout problems when opened

### Steps To Reproduce:
Browser: Chrome
OS: Windows 10

### Additional Information:

https://www.youtube.com/watch?v=Rx3osibeyf0&feature=youtu.be&hd=1

[2016-08-25 16:08] elephantik commented on #189
Thanks Nick,

On Thu, Aug 25, 2016 at 12:20 AM, Nick Roach <notifications@github.com>
wrote:

--

*Joseph Maguire* | Owner & Art Director
*Elephantik LLC*
978.621.9205 | joe@elephantik.com
Maynard, MA | http://elephantik.com  <http://www.elephantik.com>

[2016-08-25 16:31] timayhelen commented on #193
Thanks for the report. There is already an issue open for this, so I am closing this duplicate.

[2016-08-25 16:31] #193 closed

[2016-08-25 16:36] timayhelen commented on #41
@Anny85 We can leave off the white wrapper I think.

[2016-08-25 16:37] #147 closed

[2016-08-25 16:37] #128 closed

[2016-08-25 16:42] timayhelen commented on #99
@yburshan @cap220 @BrittanyAK Would you be able to install the Elegant Themes Support Plugin and then email me your support token and website URL to nick@elegantthemes.com so that I can log in a take a look?

http://www.elegantthemes.com/downloads/elegant-themes-support.zip

Please activate the plugin and generate a new token via the "Tools > Elegant Themes Support Account" page and email it to ni

[2016-08-25 16:58] mariomaruffi opened #195 "Custom-Button's arrow misaligned"
### Problem:

On custom buttons the arrow looks not centered in relation with the button's test.

![image](https://cloud.githubusercontent.com/assets/14876948/17978249/f147b28e-6aec-11e6-9865-21ae399567ed.png)

### Steps To Reproduce:
1.  Add a button module
2. Customize it
3. Add custom css

**Before:**
display: none !important;

**Main Element:**
padding-top: 15px !important;
padding-right: 38px

[2016-08-25 17:51] dm-chechik opened #196 "Default row gutter width is not displayed"
### Problem:

When enable row Use Custom Gutter Width option the defalt value "3" is not displayed. Also reset setting button set value to "14".

## Steps To Reproduce:
1.  Create new row
2. Enable Use Custom Gutter Width option and value field will be empty.
3. Set any value
4. Click on reset button and value will be "14"

[2016-08-25 18:19] Anny85 commented on #41
@timayhelen Cool. It is ready for review then.

[2016-08-25 18:21] Anny85 commented on #184
@timayhelen We could only replicate "Section padding-top reduced to 0."
Could you check to see if other points are still relevant?

[2016-08-25 18:24] dm-chechik opened #197 "Module settings window popups twice"
### Problem:

After closing settings window on new module without any adjustments the window displays second time if you move mouse over new module.

### Steps To Reproduce:
1. Create any new module
2. Close settings window without any adjustments.
3. Move mouse over that module.
4. Settings window appears second time

[2016-08-25 18:29] timayhelen commented on #83
@fikrirasyid The fix works on Desktop but not on mobile breakpoints.

[2016-08-25 18:35] timayhelen commented on #161
@SlavaET This is still happening for me in this PR. It happens when you double click to select the first word in a text block, adjust the style, and then try to slide the text size.

![text-size](https://cloud.githubusercontent.com/assets/3333028/17981315/098012e0-6ab8-11e6-8cd0-bd44277f581b.gif)

[2016-08-25 18:39] timayhelen commented on #41
@Anny85 It still has the white wrapper for me. Can we remove it?

[2016-08-25 18:44] timayhelen opened #198 "Blog Module Grid Column Sizing When Switching To Grid Mode"
Looks like blog module in grid mode is bring squished. I appears that columns are being duplicated, so each 1_3 column is inside another 1_3 column, squishing each blog item down to 1_3 it's normal size.

Note, this only occurs when switching a module from Fullwidth mode to Grid mode. If a grid blog module is on the page when the builder loads, it appears fine.

![screen shot 2016-08-25 at 11 43 1

[2016-08-25 18:44] dm-chechik opened #199 "Unnecessary "?" hint symbol in map settings"
### Problem:

In the Map Module settings unnecessary hint symbol appears under the Find button in mouse over.
![image](https://cloud.githubusercontent.com/assets/20072036/17981617/1131f7f6-6b0d-11e6-898a-e460374e6195.png)

[2016-08-25 18:46] timayhelen commented on #197
Thanks for the report. We found this bug internally and fixed it already, and it will be fixed in beta 2.9.13.

[2016-08-25 18:46] #197 closed

[2016-08-25 18:48] timayhelen commented on #191
I think animations might be distracting, but maybe we can do a more subtle hover state, like a simple color change or BG color change. I will think about it :)

[2016-08-25 18:48] #191 closed

[2016-08-25 18:53] timayhelen commented on #184
This fix doesn't really work because it causes the row to overlap the next module.

I think a better fix would be to move the row buttons to the right instead of downward whenever the row and section buttons are in danger of overlapping. Ideally this would only occur when the row and section buttons are about to touch, instead of always being applied with section padding = 0.

[2016-08-25 18:57] timayhelen commented on #52
@andyhqtran I think we need to reset the timeout whenever the page settings button is clicked. For example, let's say you hover over the (...) icon for .4 seconds, and then click it to open the page settings. This settings bar will open and the (X) animation will begin, and then get cut off after .1s and be replaced with the move icon. It's quite confusing.

So basically, whenever the button is cl

[2016-08-25 19:05] Anny85 commented on #41
@timayhelen Sorry, it should work now.

[2016-08-25 19:15] websbyjd commented on #175
Ok here's an update.  I didn't give a very accurate description of this bug the first time.  After trying it a few more times, here's a new description:

FontAwesome icons are stripped from the text in a text module after editing in the front end editor (not in module mode).

Steps to reproduce:

1. create a text module in Visual Builder and add the code:
`<i class="fa fa-envelope-o" aria-hidden="

[2016-08-25 19:28] timayhelen commented on #175
I see, thanks. So basically the inline editor in particular is stripping out custom HTML.

[2016-08-25 19:35] timayhelen opened #200 "Modules With Sub Items Missing Default Values In Design Tab"
![screen shot 2016-08-25 at 12 35 05 pm](https://cloud.githubusercontent.com/assets/3333028/17983218/5d4c1ccc-6ac0-11e6-9d7d-f20ec134dd0d.png)

[2016-08-25 19:37] timayhelen opened #201 "Module Duplication During Drag & Drop"
If you drop and drop a module, then drag and drop the same module back to it's original location, the module is duplicated:

![module-duplicate](https://cloud.githubusercontent.com/assets/3333028/17983302/b990f87c-6ac0-11e6-8424-a80a35158d1d.gif)

I also see the following error during module drag and drop:

![screen shot 2016-08-25 at 12 38 26 pm](https://cloud.githubusercontent.com/assets/3333028

[2016-08-25 20:01] websbyjd commented on #175
lol...yep, I guess I could have said it like that.

[2016-08-25 20:07] Jronk commented on #192
@SlavaET I took this from you cause you weren't online at the moment and were trying to get this fixed asap, thanks/sorry :)

[2016-08-25 20:27] Jronk commented on #127
- [ ] Clicking save hangs up, doesn't ever complete (unless you toggle off/on the page settings bar again)

[2016-08-25 20:54] timayhelen opened #202 "Page Settings Undo / Redo Not Working Correctly"
If you perform actions in the Page Settings modal, close the modal, and then open it back up and perform more actions, the Undo/Redo buttons and the X button does not work correctly. You can only undo a single step, and pressing the X doesn't give you the desired results either. It's a bit sporadic and hard to explain.

![undo](https://cloud.githubusercontent.com/assets/3333028/17985901/fdedd240-6

[2016-08-25 21:30] elephantik opened #203 "Fullwidth Header VE text in the "Content area" not showing"
### Problem:

Full with header in a fullwidth SECTION on page not showing the Content area of a Fullwidth header. It just doesn't display or display as editable text.

### Steps To Reproduce:
1.  Create a blank page layout
2.  Create a full-width SECTION (purple)
3.  Create a full-width header (text)
4.  Put content in the content section, and look at the page in the visual editor its just not sho

[2016-08-25 21:42] timayhelen commented on #203
@elephantik I can't seem to replicate this. Are you using the latest Divi beta version 2.9.12?

[2016-08-25 21:44] timayhelen commented on #203
Never mind I figured it out. Basically if the Fullwidth Header does not contain a "Title" then "Content" does not appear in the VB.

[2016-08-25 21:50] elephantik commented on #203
Yup

Sent from my iPhone

[2016-08-25 21:51] timayhelen opened #204 "Right Clicking On Module Causes Hover Buttons To Stick"
If you right click on a module, and then unclick and hover off the module, the hover buttons do not unmount.

![hover](https://cloud.githubusercontent.com/assets/3333028/17987182/68331f4c-6ad3-11e6-9546-d94ec34b50a4.gif)

[2016-08-25 22:18] timayhelen opened #205 "Hover Buttons Should Be Disabled While Tooltips & Modals Are Open"
It used to work like this in the past, so I am not sure what changed, but we should prevent hover buttons from appearing while tooltips and modals are open. This will also fix https://github.com/elegantthemes/Divi-Beta/issues/48

![hover-tooltip](https://cloud.githubusercontent.com/assets/3333028/17987758/a9ff2986-6ad6-11e6-8f49-0dc23872a6a1.gif)

When a tooltip is active, the current module and p

[2016-08-25 22:49] Jronk commented on #201
@timayhelen I am unable to reproduce, I tried exactly what I see above, in my case I am using homepage extended trying the section that looks identical to above, no dup no errors.

![drag-n-drop-no-dup](https://cloud.githubusercontent.com/assets/1163441/17988493/7bc73770-6adb-11e6-8bfd-855885d42b9a.gif)

[2016-08-25 23:43] #80 closed

[2016-08-25 23:43] #190 closed

[2016-08-25 23:43] #41 closed

[2016-08-25 23:43] #62 closed

[2016-08-25 23:44] #192 closed

[2016-08-25 23:46] timayhelen commented on #152
@Jronk Looks like this issue is back.

[2016-08-26 00:54] VerbalCA commented on #126
Can confirm this is now working for me too. Going to get stuck in now!

[2016-08-26 02:34] fikrirasyid commented on #191
@timayhelen yeah, it can be distracting if it's too much 😁  What I mean by the issue is some icons don't have ripple effect like many buttons do, so it feels like little bit "cold" on `:active` state due to no direct feedback toward click event.

Anyway, another possible  animation idea:

![screen shot 2016-08-26 at 9 30 54 am](https://cloud.githubusercontent.com/assets/916442/17992233/d2986094-6b

[2016-08-26 06:53] SlavaET commented on #161
@timayhelen please check this new PR - https://github.com/elegantthemes/submodule-builder/pull/993
I improved the logic of this option so It should fix the issue.

[2016-08-26 06:59] azgithub6 opened #206 "Ensure ES5 Is Being Used For Production - ES6 Related Errors Are Occuring"
### Problem:

The Visual Builder popup toolbars for sections, rows, and modules disappear when clicking the gear wheel to open the option panels in Chrome 44 on OSX 10.6.8.

SCREENCAST:
[Chrome-Issue-mp4.zip](https://github.com/elegantthemes/Divi-Beta/files/438681/Chrome-Issue-mp4.zip)

### Steps To Reproduce:
1.  Click Use Visual Builder in Chrome OSX
2.  Click the gear icon on any popup toolbar

[2016-08-26 07:00] SlavaET commented on #188
@timayhelen I can't replicate this issue in the latest version of `1848-front-end-builder branch` though I could replicated it in yesterday's version.
Can you please check whether you still see the issue in the latest version or not?

[2016-08-26 07:27] timayhelen commented on #188
@SlavaET I can't seem to replicate it now either.

[2016-08-26 07:27] #188 closed

[2016-08-26 07:34] timayhelen opened #207 "Error When Loading Some Layouts From Library"
This error is a bit strange. Basically you need to have the Homepage Extended layout loaded and saved on the page, and then you need to try and load the Homepage Extended layout again. So to reproduce the error, follow these steps:

1. Load the builder.
2. Load the Homepage Extended layout.
3. Save the page.
4. Refresh the page / re-launch the visual builder.
5. Load the Homepage Extended layout a

[2016-08-26 07:34] timayhelen commented on #201
@Jronk I am closing this issue and opening a new one that details the actual issue, which is unrelated to the bug I documented here. https://github.com/elegantthemes/Divi-Beta/issues/207

[2016-08-26 07:34] #201 closed

[2016-08-26 07:35] timayhelen commented on #152
@Jronk Looks good.

[2016-08-26 09:29] timayhelen commented on #206
Chrome version 44 is over a year old and doesn't support ES6 syntax, which is why the builder fails. Upgrading to the latest version should solve the issue for you.

@Jronk Should we be using a polyfill for help with old browsers?

http://babeljs.io/docs/usage/polyfill/

[2016-08-26 09:36] timayhelen commented on #76
I can't seem to replicate this either, so I am closing this for now. @Augustin56 please reply with more details if you are still able to replicate this on your end.

[2016-08-26 09:36] #76 closed

[2016-08-26 09:40] timayhelen commented on #85
@fikrirasyid I can't seem to get the video slider module to work when adding a fresh video slider to the page in the VB. As soon as I try to add my first video sub item, the following error occurs:

<img width="721" alt="screen shot 2016-08-26 at 2 39 30 am" src="https://cloud.githubusercontent.com/assets/3333028/18001204/73ad9088-6b36-11e6-88fa-fca3d63192a0.png">

[2016-08-26 10:20] jumborexTest opened #208 "Cannot access the Visual Editor Options"
### Problem:

While clicking upon a text not ever appears the black tag for options. In the attached image you can see how the text in evidence doesn't wake up any tag related to text.

### Steps To Reproduce:
1.  Enter Visual Builder
2. Click on text
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**:

**

[2016-08-26 10:44] jumborexTest opened #209 "Cannot save"
### Problem:

After using Visual Buiding, if I click teh "Save" button this goes in a continuous rotation and never exits. The only way I found for saving is returning to the Post Normal Vision (where the mods are mantained) and save it thru WordPress.

### Steps To Reproduce:
1.
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you

[2016-08-26 10:48] fikrirasyid commented on #83
@timayhelen thank you for noticing it. I've incorporated it on the PR:

![85-responsive-support](https://cloud.githubusercontent.com/assets/916442/18002947/2d3ee672-6bb5-11e6-8bff-a0aaf0e0560e.gif)

[2016-08-26 11:00] SlavaET commented on #207
@timayhelen this error appears because Divi tried to load new layout too fast, before all the components properly unmounted.
I changed the layouts loading mechanism to make sure all the components unmounted before loading new layout, it causes some delay when you switch between layouts, but it works and we can be sure that everything was unmounted properly.
When you click on selected layout then D

[2016-08-26 11:02] SlavaET commented on #209
@jumborexTest Can you try clicking Inspect Element in Chrome, and then enabling the builder and let us know if you see any messages in the console log after you clicking `save`?

[2016-08-26 11:04] SlavaET commented on #208
@jumborexTest Can you try clicking Inspect Element in Chrome and let us know if you see any messages in the console log when you try working with the Builder?
Also, can you please try disabling all active plugins and check whether the Builder works without plugins or not?

[2016-08-26 11:11] fikrirasyid commented on #85
@timayhelen ah, looks like I missed it. I've fixed and pushed it to the PR: https://github.com/elegantthemes/submodule-builder/commit/063643fd87c616b8834bce36decc910c160783d0

[2016-08-26 11:18] fikrirasyid opened #210 "Incorrect popover buttons size on responsive mode"
### Problem:

Popover buttons size on responsive mode at latest `master` branch looks like this:

![screen shot 2016-08-26 at 6 17 14 pm](https://cloud.githubusercontent.com/assets/916442/18003668/616e5ed8-6bb9-11e6-8028-9718a76da95f.png)

![screen shot 2016-08-26 at 6 16 09 pm](https://cloud.githubusercontent.com/assets/916442/18003669/616f4bb8-6bb9-11e6-9b1b-e75d464fd592.png)

### Additional Inf

[2016-08-26 11:19] SlavaET commented on #205
@timayhelen btw, this will fix the https://github.com/elegantthemes/Divi-Beta/issues/48 only partially, because you can still open the tooltips and modals from Page Settings bar.

[2016-08-26 11:46] SlavaET commented on #74
@bpitts82 I can't seem to replicate it. Can you please check whether you can reproduce this issue in the latest version of Divi Beta? We added a lot of improvement and fixes for drag and drop functionality and looks like this issue was fixed already.

[2016-08-26 12:30] SlavaET opened #211 "Hover buttons become very big if Gutter Width adjusted in Page Settings"
### Problem:

If you adjust the Gutter Width in Page Settings, then Hover buttons become very big

![giant-buttons](https://cloud.githubusercontent.com/assets/3446682/18005284/efc99002-6bba-11e6-854e-c583a4650ae4.gif)

### Steps To Reproduce:
1. Open Page settings in Frontend Builder
2. Modify the Gutter Width setting
3. Hover over any module on page

[2016-08-26 13:27] fikrirasyid commented on #196
@dm-chechik We've submitted a patch for this and it is currently under review process. Once the patch passes review process, it should be merged on the next beta release. Thank you for reporting the issue 😄

[2016-08-26 14:34] SlavaET commented on #210
@fikrirasyid this one probably related - https://github.com/elegantthemes/Divi-Beta/issues/211
Can you please check?

[2016-08-26 14:42] fikrirasyid commented on #210
@SlavaET yeah, the styling is caused by the same class name. https://github.com/elegantthemes/submodule-builder/issues/1003 should fix it. However, I'm not sure why changing gutter adds `et_fb_hidden_header` class on `<body>` tag tho. There must be a leak somewhere.

[2016-08-26 16:00] azgithub6 commented on #206
True. But Google Chrome updates are no longer available for 10.6.8. I have other Macs running the latest OSX/Chrome, but my production machine (MBP 17 8,3 16GB, dual SSDs) has remained on Snow Leopard because not only is SL glitch free and runs MUCH faster than El Crapitan, I can still run the handful of legacy rosetta applications that have become core to my workflow. I've been holding out as lon

[2016-08-26 16:32] jumborexTest commented on #208
Ok, I don't see any difference with, or without plugins running.
Errors, only this warning: KeyboardEvent.keyIdentifier' is deprecated and will be removed in M53, around September 2016. See https://www.chromestatus.com/features/5316065118650368 for more details.
An one error: http://fonts.googleapis.com/css?family=Georgia:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&cyrill

[2016-08-26 16:32] #152 closed

[2016-08-26 16:33] #204 closed

[2016-08-26 16:33] #175 closed

[2016-08-26 16:33] #161 closed

[2016-08-26 17:17] timayhelen commented on #209
@jumborexTest Would you be able to install the Elegant Themes Support Plugin and then email me your support token and website URL to nick@elegantthemes.com so that I can log in a take a look?

http://www.elegantthemes.com/downloads/elegant-themes-support.zip

Please activate the plugin and generate a new token via the "Tools > Elegant Themes Support Account" page and email it to nick@elegantthemes

[2016-08-26 18:13] Anny85 commented on #184
@timayhelen I added the code to move row settings to the right, it applies `et-fb-small-top-padding` class to a section, when padding top is less than 40. Do we need to add different values "margin left" values for each breakpoint or it is ok to use `112px` to account for all situations?

[2016-08-26 18:19] timayhelen commented on #83
@fikrirasyid Sorry, one more thing! Looks like there needs to be an additional adjustment for the secondary navigation bar. I don't think the new offset takes this additional height into consideration, because the button are still being overlapped by the header for me when the secondary nav bar is present.

[2016-08-26 18:36] timayhelen commented on #207
@SlavaET I think we should use a more "full screen" pre-loader style, like what we use when the app is launched. This way it hides the empty section that appears for a split second during the preloader.

Would it be possible to adjust the preloader in this instance to add a white BG that overlays all of the content, but does not overlay the page settings bar? This way it looks like just the conten

[2016-08-26 18:43] timayhelen opened #212 "Small Visual Glitch When Adding New Modules"
Looks like the module hover buttons change positions briefly when you click the "add new module" button and hover on and off the tooltip.

![glitch](https://cloud.githubusercontent.com/assets/3333028/18016645/45571eba-6b82-11e6-8693-c6e4b943253b.gif)

[2016-08-26 19:19] jumborexTest commented on #209
Ok! I've' sent a token via email.

[2016-08-26 19:30] #40 closed

[2016-08-26 19:56] bpitts82 commented on #74
All set now.

Thank you,
--
Brandon Pitts

[2016-08-26 21:07] timayhelen commented on #211
@SlavaET I am not able to replicate this. Perhaps the it's related to something else and not the gutter width adjustment. Perhaps the "no header" class got stuck on somehow, and in that case Fikri's new branch will fix that.

[2016-08-26 21:22] timayhelen commented on #206
Looks like we are using ES6 for dev, but we should be compiling to ES5. So it's possible something is still using ES6 by mistake. We need to look into it.

[2016-08-26 21:24] #74 closed

[2016-08-26 22:07] Jronk commented on #206
@azgithub6 I have found some stray uses of `Object.assign`, and converted them to our more consistently used lodash 4 `_.assign()` counterpart which is compatible with older browsers. Thanks for submitting the detailed bug report.

[2016-08-26 22:35] timayhelen opened #213 "Right Click Menu Error"
Whenever an item in the right click menu is clicked, the following error occurs and the menu fails to unmount:

<img width="724" alt="screen shot 2016-08-26 at 3 34 57 pm" src="https://cloud.githubusercontent.com/assets/3333028/18022339/c417c6a8-6ba2-11e6-9bd8-e2ca9c480b93.png">

[2016-08-26 22:40] #123 closed

[2016-08-26 22:41] #199 closed

[2016-08-26 22:41] #85 closed

[2016-08-26 22:41] #198 closed

[2016-08-26 22:41] #196 closed

[2016-08-26 22:41] #210 closed

[2016-08-26 22:42] #206 closed

[2016-08-26 22:42] #205 closed

[2016-08-26 22:54] timayhelen opened #214 "Ensure Unfiltered HTML Cannot Be Processed By Non Admins"
We need to make sure that unfiltered HTML cannot be saved into the post by non-admins. And we should double check the code module, since this was an issue we addressed in the past in the BB and needs to be re-validated in the FB.

[2016-08-27 03:44] timayhelen commented on #51
@andyhqtran We should add tooltips for module hover buttons.

- [ ] Move
- [ ] Edit
- [ ] Duplicate
- [ ] Save To Library
- [ ] Delete

- [ ] Change Columns

- [ ] Add Module
- [ ] Add Row
- [ ] Add Section

[2016-08-27 09:08] SlavaET commented on #211
I cannot reproduce it in the latest branch either. Looks like it's not an issue anymore.

[2016-08-27 09:08] #211 closed

[2016-08-27 09:52] SlavaET commented on #207
@timayhelen added full screen preloader. As for the loading of each single layout via Ajax on demand - I don't think we'll get significant benefits from this option. Current implementation is most efficient in terms of speed because:
1) We still need ajax request to retrieve the list of all library items and all their metadata. It will be quite fast though
2) Right now loading of any selected layo

[2016-08-27 12:11] fionchadd opened #215 "Visual builder doesn't work with Divi 100 Article Cards add-on"
### Problem:

The Visual Builder doesn't work correctly with the Article Cards add-on - it doesn't correctly preview or save the changes (see screenshot and further information below)

### Steps To Reproduce:
1.  Install and activate Divi Article Cards plugin
2. Enter Visual Editor on page containing blog module - displays correctly
3. Bring up settings for blog module in Visual Editor
4. Toggling

[2016-08-27 12:57] fionchadd opened #216 "Hard to edit very small modules"
### Problem:

If modules are very small - i.e. dividers, short text lines etc - it's hard to move the mouse up to click the "settings" icon without the options window disappearing - I got there in the end, but it took a while! See screencast below

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**: Mac

**Operat

[2016-08-27 17:38] SlavaET commented on #70
@Augustin56 do you still have issues in the latest version of Divi Beta?

[2016-08-27 18:29] timayhelen commented on #216
Thanks for the report. This has already been reported and it will be fixed in the next beta version, so I am closing this duplicate issue.

[2016-08-27 18:29] #216 closed

[2016-08-27 18:40] fionchadd commented on #216
Ah, sorry, I couldn't see a report in the list but I'll check more closely
next time!

On 27 August 2016 at 19:29, Nick Roach <notifications@github.com> wrote:

--
Make A Spectacle <http://makeaspectacle.co.uk>
Web Design & Branding

07818 095 060

[2016-08-27 19:40] timayhelen commented on #209
@jumborexTest I updated your Divi Beta to the latest version, 2.9.12, and it looks like saving is working now :)

[2016-08-27 19:40] #209 closed

[2016-08-27 19:42] timayhelen commented on #208
@jumborexTest Can you try again? I just tested your site after upgrading the Divi Beta and the In-Line editor seems to be working for me. If not, can you try using a different browser, such as Chrome, to see if it makes a difference?

[2016-08-27 20:28] mshigekawa opened #217 "WPMU Dev Pro Sites + DIVI 3.0 Integration"
### Problem:
I have a business use-case in which I'm looking to integrate WPMU Dev Pro Sites with DIVI 3.0. Think large-scale wordpress.com with the power of the client friendly DIVI 3.0 editor targeting a niche market. Before I go down into the weeds, I wanted to see if there were any major blockers anyone can think of with this implementation.

### Steps To Reproduce:
1.  Install DIVI 3.0 beta
2

[2016-08-27 20:45] timayhelen commented on #217
@mshigekawa Is there a bug in particular that you are experiencing?

[2016-08-27 20:59] mshigekawa commented on #217
Hey Nick - No bugs in particular at the moment as I'm looking to begin integration testing this week. Just wanted to see if anyone had experience with this integration or knew of any potential showstoppers.

[2016-08-27 21:26] sasserc opened #218 "UX: Must Check "show toolbar when viewing site" in user profile."
You will need documentation or note somewhere explaining that the browser editing will not work unless  "show toolbar when viewing site" is check in WP User Profile.

[2016-08-27 21:29] jumborexTest commented on #208
Ok: if I click upon a text the "tools" for changing it (color, type, etc) appear in a part outside the screen, and I must scroll down to find it. But it's true: now it's working.
Thank you.

[2016-08-27 21:30] jumborexTest commented on #209
Right: ok. It's working.

[2016-08-27 21:38] sasserc opened #219 "UX: Position of "Save" button"
Took me forever :) to find "Save" button on browser editing since it was all the way to far right alone by itself.

[2016-08-27 21:41] sasserc opened #220 "UX: No hints on mouse roll over as to what the browser editing tools do"
Guess you would get use to this although mouse roll would certainly help users get started.

[2016-08-28 03:44] blondejon opened #221 "Can't save what was created in visual editor"
### Problem:

It may just be that I'm missing something, but I can't save what I created in the visual editor.  It doesn't go live, I can't save it to the library.... nothing.

No plugins are installed so it isn't a plugin that is interfering.

### Steps To Reproduce:
1.
2.
3.
4.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are repor

[2016-08-28 06:44] timayhelen commented on #218
The visual builder can be enabled when editing a post by clicking the "Use Visual Builder" button. The button is also available in the admin toolbar for convenience if the toolbar is enabled.

[2016-08-28 06:44] #218 closed

[2016-08-28 06:44] timayhelen commented on #220
Thanks for the suggestion. There is already an issue open for this, so I am closing this duplicate.

[2016-08-28 06:44] #220 closed

[2016-08-28 06:48] timayhelen commented on #221
Thanks for the report. Can you be a bit more specific about the issue, with exact steps used to replicate it?

Where you able to find and click the save button? Does the page appear to save successfully, or does the saving animation continue without ever confirming the save? If you right click and "Inspect Element" in Chrome, and click the save button, do any errors show up in the console log?

It

[2016-08-28 06:51] timayhelen commented on #219
Thanks for the suggestion! We will keep this in mind for post Divi 3.0 versions, but we are going to have to stay focused on app-breaking bugs for now due to short time available before launch.

[2016-08-28 06:51] #219 closed

[2016-08-28 06:53] timayhelen commented on #217
Ok, let us know if you run into any problems. I am going to close this issue for now, but it can be re-opened later. Right now we need to focus on fixing known issue.

[2016-08-28 06:53] #217 closed

[2016-08-28 06:54] timayhelen commented on #208
Ok great, the issue you describe has been reported in a different ticket, so I am going to close this one :)

[2016-08-28 06:54] #208 closed

[2016-08-28 14:45] sasserc commented on #220
Thanks.  I also missed the fact that you can right click on the icons.  Awesome.

[2016-08-28 16:57] sasserc opened #222 "Editing Content of Opened Toggle reverses open and closed state background and font colors"
### Problem:

When editing a page that contains a toggle module (that is normally closed) and has a closed state background of blue with light text, when opening/expanding the toggle module as soon as the cursor selects something to change and the text edit bar pops up everything is ok until you move the cursor and then the open state color of the toggle module changes to the background color of c

[2016-08-28 17:20] sasserc commented on #222
Additional Information you may need:

The site is a staging copy of my production site at WPEngine.  It is running WP 4.6, Divi 2.9.12 (Beta) which was upgraded from 2.7.8.  WPEngine is running php 5.5.9 .

You can access the production site is at http://remason.com/careers/.  It is running WP 4.6, Divi 2.7.10 and php 5.5.9

Hope this helps.

If you can't easily reproduce would be glad to privatel

[2016-08-28 18:49] timayhelen commented on #82
@SlavaET I am still experiencing issues in this branch. If I a try to add a video background to a slide, it does not render correctly until I save and refresh:

<img width="1440" alt="screen shot 2016-08-28 at 11 47 44 am" src="https://cloud.githubusercontent.com/assets/3333028/18035944/6ec153da-6d15-11e6-9dd3-33ba247493db.png">

[2016-08-28 18:51] timayhelen commented on #207
@SlavaET Ok, we can keep it the way it is now.

[2016-08-28 21:54] heretiq opened #223 "REQUEST: Divi 3.0 New Feature Overview / List"
I've just downloaded and installed the 3.0 Beta and am now ready to begin testing and reporting findings. However, I would like to go about this in a systematic manner vs randomly trying and reporting on things. I've read the beta testing post, searched the ET blog posts and the Github issues queue for an overview/list of the new 3.0 features; but I've not found one. The best I can discern is that

[2016-08-28 21:56] timayhelen commented on #223
The update is focused entirely on the new Visual Builder. So we are just asking people to launch the new builder and test absolutely everything :) I wish I could give you more direction, but it's such a big update that every part of the new builder would benefit from some heavy testing.

[2016-08-28 21:56] #223 closed

[2016-08-28 22:00] heretiq commented on #223
Thanks Nick. That's exactly what I needed to know. I will run it through it paces and report and issues I encounter. Thank you. Keep up the great work!

[2016-08-29 02:10] blondejon commented on #221
Steps to reproduce error:
I just realized it works in IE, but not Chrome.  Here are the steps in Chrome:
Build a page using visual editor.
Click save
Nothing happens

Errors in console log:

1. Failed to load resource: the server responded with a status of 500 (Internal Server Error)
content-script.js:274
2. Uncaught TypeError: Cannot read property 'webkitBackingStorePixelRatio' of undefined
3. bu

[2016-08-29 03:54] timayhelen commented on #221
@blondejon Are you using a child theme or do you have any custom code input via ePanel, or by other means? The very first error the causes the failure isn't part of Divi (content-script.js).

Do you have any Chrome extensions installed? Try disabling them all.

[2016-08-29 05:25] SlavaET commented on #82
@timayhelen please check now.

[2016-08-29 05:46] SlavaET commented on #214
@timayhelen I checked and FB saves the content with respect to `unfiltered_html` role. If user doesn't have that role than content will be filtered. Our filters for code module also applied and work fine with Frontend Builder.

[2016-08-29 06:00] SlavaET opened #224 "Save button visual issues in FireFox"
### Problem:

I noticed some visual issues with the `save` button in FireFox browser:
- [x] spinning circle misaligned during the saving process ( it should be centered like in Chrome ):

![image](https://cloud.githubusercontent.com/assets/3446682/18041969/7dcdca32-6ddf-11e6-8708-ec4890a752ef.png)
- [ ] text becomes misaligned after saving the **Post**, but looks fine on Pages:

![image](https://c

[2016-08-29 06:02] DiviThemeExamples opened #225 "Un-select text when editing its colour"
### Problem:

not sure if this is possible to change or something that is controlled by the browser/OS
[colour picker.zip](https://github.com/elegantthemes/Divi-Beta/files/441724/colour.picker.zip)

, but...

when you select some text and click to edit its colour, i am not able to see the changes live as you are clicking in the colour picker (the way like it works in your demo video) video attache

[2016-08-29 06:10] SlavaET commented on #222
@sasserc I cannot reproduce this issue on my localhost. Could you please try updating your Divi Beta to the latest version ( 2.9.**13** at the moment ) and check again?
Please let us know if you still see the issue in the latest version of Beta.

[2016-08-29 08:41] timayhelen commented on #214
@SlavaET Ok great.

[2016-08-29 08:41] #214 closed

[2016-08-29 08:49] timayhelen commented on #82
@SlavaET I still see issues with video sizing. It looks fine when saved, when it's off when configuring the slider's video background:

<img width="1265" alt="screen shot 2016-08-29 at 1 48 28 am" src="https://cloud.githubusercontent.com/assets/3333028/18046039/c9f97b68-6d8a-11e6-9306-ee494701df4b.png">

[2016-08-29 08:53] timayhelen commented on #222
@SlavaET I can replicate this. Try loading the "Sale Page" layout. Open one of the closed toggled, and then hover over the newly opened toggle. The background color will change from white to gray.

[2016-08-29 08:55] timayhelen commented on #215
@fionchadd These settings aren't intended to work the the article card layout. It's a bit of an all or nothing plugin, sorry for the confusion!

[2016-08-29 08:55] #215 closed

[2016-08-29 08:58] fionchadd commented on #215
Ah fair enough - no worries! :)

[2016-08-29 09:01] SlavaET commented on #222
@timayhelen Ah, I see. Thanks!

[2016-08-29 10:42] SlavaET commented on #172
@jking2076 thank you for providing your plugin it really helped to see the issues with similar plugins and develop a solution.
First of all, there is an error in your plugin which breaks the Visual Builder ( and probably some other aspects of Divi ). Please check the following functions in your plugin:
- `et_builder_include_library_modules()`
- `et_builder_include_library_layouts()`
- `et_builder_

[2016-08-29 12:58] jking2076 commented on #172
SlavaET, thanks for the update. I was beginning to lose hope. I take it then that you temporarily have made the corrections in your copy of the plugin.  However, I'll make the corrections and re-upload here.

From my analysis, I understand there wouldn't be full compliance by my modules because the app appears to be hardcoded for only Divi modules.  That's understandable considering you don't know

[2016-08-29 13:43] blondejon commented on #221
I turned off the Chrome extensions and now it works.  Would you like me to go through the process of elimination to figure out which one is causing the visual editor not to work?

[2016-08-29 14:07] jking2076 commented on #172
I've made the corrections you outlined in my Divi3 test bed and there is no improvement.  Also, these functions are only used in two modules.  I can only assume that there is an updated theme package that hasn't been released.

As a side-note, if a third party module will not be allowed to be added in VB, then would it make sense to not have it in the insert list?

[2016-08-29 14:13] lots0logs commented on #172
@jking2076 Once the changes have been reviewed and approved they'll be merged and included in an update to the beta. I'm afraid you wont be able to test it on your end until that happens :grimacing:

[2016-08-29 14:22] SlavaET commented on #172
And yes, 3rd party modules won't be included into list of modules when you're adding new module. You'll be able to insert 3rd party modules from the library though.

[2016-08-29 14:25] jking2076 commented on #172
@lots0logs Yep, I realized that after my zeal led me back into test mode ;^)

@SlavaET Excellent!  We all think alike ;^)

[2016-08-29 16:06] TrevorGreenfield opened #226 "Row with transparent background not working"
### Problem:

Using either the visual builder or standard builder, transparent background for rows is not saving nor previewing correctly.  The behavior is the same for standard section or full width with the transparent background option ticked in the modal.

Interestingly, when using visual builder, the transparent background **_does_** display correctly while using it, but then on page preview

[2016-08-29 16:18] TrevorGreenfield opened #227 "VB should display warning on attempt to exit"
### Problem:

Visual builder should, consistent with standard builder and modern UX, display a dialog warning on page exit if there are unsaved changes to the node.  Currently, there is nothing to stop you from losing great amounts of unsaved info if you accidentally click on a page link or really, anything.

### Steps To Reproduce:
1.  Work on anything in VB.  Make a change.
2.  Click on any link

[2016-08-29 17:27] #203 closed

[2016-08-29 17:28] elephantik commented on #203
Congrats guys,

I was happy to help you catch 2 bugs during the beta testing. I wish you
much success in the launch.

Joseph

On Mon, Aug 29, 2016 at 1:27 PM, Yuriy <notifications@github.com> wrote:

--

*Joseph Maguire* | Owner & Art Director
*Elephantik LLC*
978.621.9205 | joe@elephantik.com
Maynard, MA | http://elephantik.com  <http://www.elephantik.com>

[2016-08-29 17:28] #212 closed

[2016-08-29 17:29] #213 closed

[2016-08-29 17:30] uportnykh commented on #203
Thanks for your help, Joseph.

[2016-08-29 17:32] #207 closed

[2016-08-29 17:35] #222 closed

[2016-08-29 17:51] andyhqtran commented on #51
@timayhelen I left some notes on the issues I was having on it but I was able to figure it out. Ready for review!

[2016-08-29 18:42] andyhqtran commented on #224
The text seems find on my end, but the icon is misaligned.

[2016-08-29 19:09] #225 closed

[2016-08-29 19:15] timayhelen commented on #227
Thanks for the suggestion. We already have an issue ope for this, so I am closing this duplicate.

[2016-08-29 19:15] #227 closed

[2016-08-29 19:44] timayhelen opened #228 "Expand Settings Bar Icon Isn't Aligned Center"
Looks like the centered page settings icons aren't quite centered correctly.

<img width="1284" alt="screen shot 2016-08-29 at 12 42 25 pm" src="https://cloud.githubusercontent.com/assets/3333028/18064885/3f0ba4c0-6de6-11e6-8323-3eea8e77ea11.png">