[2017-02-08 12:17] eduard-ungureanu opened #945 "Dreamhost :: Builder Sync :: Gallery Module"
### Problem:

Settings applied in the VB are not updated in the BB. Also there was a strange issue with Title Font styles (see video), while settings done in BB does update the settings in VB.

https://drive.google.com/open?id=0B8PjD3Z_XQvuaW9SenFGUC1XVEk

## Attached PR

- https://github.com/elegantthemes/submodule-builder/pull/1723

[2017-02-08 12:22] kary4 opened #946 "Siteground :: Builder Sync :: Loading Animation Never Disappears"
### Problem:

When I switch between two browser's tabs (FB/BB) w/o saving the changes the loading animation never disappears.

### Steps To Reproduce:
1.  Open two browser tabs (BB/VB). Everything should be saved.
2. Activated VB > Add some changes.
3. Click Edit Page > Discard the changes.
4. Activate BB tab.

Screen cast:
http://youtu.be/t9699wu0GvY?hd=1

Test page:
http://elegantthemessitegroun

[2017-02-08 12:27] #920 closed

[2017-02-08 12:27] #919 closed

[2017-02-08 12:27] #918 closed

[2017-02-08 12:27] #916 closed

[2017-02-08 12:27] #915 closed

[2017-02-08 12:32] timayhelen commented on #943
@kary4 Is WooCommerce installed and enabled? I don't think I installed it on the test server.

[2017-02-08 12:41] kary4 commented on #923
I'm not sure if I should open a new ticket for the following problem:

1. Get the Divi Builder Timeout error via the steps you explained above.
2. Go back to BB save everything.
3. Go to VB and refresh the browser. I do expect it should update everything and you should see Divi builder. But it still displays No Result Fond. You have to close the tab at all and open it again.

Screen cast:
http://y

[2017-02-08 16:37] fikrirasyid commented on #932
@FaycalBoutam can you verify that the following steps are correct to replicate the issue? I couldn't replicate the issue above except under the following steps. Thus, the fix submitted for this issue is made to fix the issue that appears on the following steps':

1. Open new builder
2. Add layout
3. Set split test
4. Right click the `Use Visual Builder` button
5. Open Visual builder on the new pag

[2017-02-08 19:34] kary4 opened #947 "Siteground :: Builder Sync :: Auto Saves :: Loading Animation When Switching Between Tabs"
### Problem:
Loading Animation starts on its own when you switch from VB to another tab (not wordpress, just any tab). This happens after Auto Save was Restored.

### Steps To Reproduce:
1.  Restore Auto-save version in VB.
2. Switch to another Tab.
3. Switch back to VB tab.

Screen cast:
http://youtu.be/Se5rK0FQIBk?hd=1

Test page:
http://elegantthemessiteground.com/builder-sync-25/?et_fb=1

[2017-02-08 19:48] kary4 opened #948 "Siteground :: Auto Saves :: No Warning About Auto-save Version"
### Problem:

In a short, in some cases divi does not suggest to load saved version. It just loads the auto-saved version, even I did not save the last changes.

Screen cast:
http://youtu.be/bzQFo8zaWgA?hd=1

[2017-02-08 20:23] FaycalBoutam commented on #932
@fikrirasyid I'm not saving the page so right click on the VB button doesn't work for me. I fot 404 not found.
Here's how I do my testing:
1 Open new page.
2 Use the Divi Builder.
3 LEFT click on the VB button.
4 Right click on the Edit page button on the admin bar. Now I have two tabs opened and I can use both BB and VB.
5 Enable the Split testing.
6 Check the VB tab.

[2017-02-08 20:35] timayhelen commented on #932
@fikrirasyid I see various issues with Split Testing.

## Enabling Split Testing During Sync

1. Edit a page in the BB.
2. Edit the same page in the VB in a new tab to initiate builder sync.
3. Return to the BB tab and create a new split test.
4. After the split test is created, return to the VB tab. It will sync, but it does not sync correctly. The variations are stacked up on top of each other,

[2017-02-08 20:39] timayhelen commented on #948
Currently we discard auto-saves if you leave the builder intentionally. So if you click to leave, and you accept the warning and choose to leave anyway, we assume that you really don't want to save.

[2017-02-08 20:39] #948 closed

[2017-02-08 20:41] #943 closed

[2017-02-08 21:00] FaycalBoutam opened #949 "BlueHost :: Failed Save Warning :: Can't export the layout if my connection is down"
### Problem:

So I'm building my page, then I turned off my connection (connection is down), I went to save the page and I got the warning window "Your save has failed" with the option to export the backup.

1 We could add that one of reasons the save is failed is internet connection is down, and the first thing to check is your internet connection before suggesting contacting host... etc.
2 In th

[2017-02-08 21:09] kary4 opened #950 "Siteground :: Builder Sync :: BB Does Not Update"
### Problem:

When you work in VB and then open BB in another tab it does not update the info.

To reproduce the problem:
1. Create a page > add a divi module > publish the page.
2. Open VB in the same tab > Add one more module.
3. Click Edit Page (open in a new tab). You will see only one module, though it should be two modules.

More over, when you go back to VB in syncs with BB so your second m

[2017-02-09 00:23] #928 closed

[2017-02-09 00:23] #929 closed

[2017-02-09 00:23] #934 closed

[2017-02-09 01:03] timayhelen commented on #950
@kary4 I can't seem to reproduce this. I have updated the shared host with the latest version of the builder sync branch. Can you test again and let me know if the problem is still there?

[2017-02-09 01:06] timayhelen commented on #947
@kary4 I can't seem to reproduce this. I have updated the shared host with the latest version of the builder sync branch. Can you test again and let me know if the problem is still there?

[2017-02-09 01:11] timayhelen commented on #941
I was also able to generate the following error after adjusting the Divider settings in the Visual Builder:

![screen shot 2017-02-08 at 5 10 37 pm](https://cloud.githubusercontent.com/assets/3333028/22764758/90b7ed4a-ee21-11e6-9c3c-b9f294f94421.png)

[2017-02-09 01:13] timayhelen commented on #940
This applies to all "column padding" settings, which are found in the Design tab of all rows.

[2017-02-09 01:19] fikrirasyid commented on #942
@FaycalBoutam can you recheck this again on latest `575-fix-heartbeat-content-smashing-wip`? I'm able to replicate this issue last night. This morning I'm pulling the latest changes and I'm no longer able to replicate the issue.

If you're still able to replicate the issue, can you mention step by step to replicate it? Thanks

[2017-02-09 01:27] fikrirasyid commented on #932
@FaycalBoutam @timayhelen thank you for clarifying it. I'm able to replicate the issue now. In essence, the issue occurs because post meta isn't being synced the way post_content is being synced using autosave. I'll take a look deeper into this 👍

[2017-02-09 01:36] timayhelen commented on #942
@FaycalBoutam The latest version has been uploaded to the test site, so you can just test it there and let us know if it still happens.

[2017-02-09 08:55] eduard-ungureanu opened #951 "Dreamhost :: Builder Sync :: Image module"
### Problem:

Leaving the FB the image module doesn't show the image, inspecting the source code I get this:
[code]
![screen shot 2017-02-09 at 10 54 23 am](https://cloud.githubusercontent.com/assets/1719735/22775890/49f5b7da-eeb6-11e6-9761-eb0766e071ee.png)

### Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1739

[2017-02-09 09:08] eduard-ungureanu opened #952 "Dreamhost :: Builder Sync :: Divi Builder Time out."
### Problem:

Out of the blue the FB shows Divi Builder Time out, previously the same page layout worked without any issue, while today is not:

![screen shot 2017-02-09 at 11 01 30 am](https://cloud.githubusercontent.com/assets/1719735/22776146/3fc41e18-eeb7-11e6-91b1-e456a6d53c2a.png)

Also leaving the FB doesn't show the map module (API key was correctly set for this domain):
![screen shot 2017

[2017-02-09 11:44] FaycalBoutam commented on #942
@fikrirasyid @timayhelen Here's how you can reproduce it:
1 Create new page.
2 Left click the VB button.
3 Right click the Edit Page link on the admin bar to open the second tab with the BB.
4 Load any layout and start deleting all section including the last one on the VB tab (you can't delete it of course).
5 Go to the BB tab, and now you'll be able to delete it.

![92](https://cloud.githubuserco

[2017-02-09 12:28] FaycalBoutam opened #953 "BlueHost :: Auto Saves :: Can't publish a page with VB"
### Problem:

Possibly related to: https://github.com/elegantthemes/Divi-Beta/issues/929
I can't publish the page with VB and I'm seeing the "An Autosave Exists" popup.

![93](https://cloud.githubusercontent.com/assets/16414613/22783140/6d4a278c-eec2-11e6-894f-e2ffda2c044d.gif)

[2017-02-09 12:55] lceberg commented on #908
@lots0logs I implemented [this](http://stackoverflow.com/questions/36803176/how-to-prevent-the-play-request-was-interrupted-by-a-call-to-pause-error#answer-40370077) as it was the only solution that worked in that case. I can no longer see the warning, can you check it on your side ?

**Note:** there were some conflicts in `frontend-builder-scripts.js` caused by recent changes so in the end I had

[2017-02-09 13:20] kary4 commented on #950
@timayhelen Yes, it's still the same. I can reproduce it. Here is a new screen cast:
http://youtu.be/ImXw6DQ4t5g?hd=1

[2017-02-09 13:57] kary4 commented on #947
@timayhelen I cannot reproduce the problem anymore. I think the fix works.

[2017-02-09 14:33] kary4 opened #954 "Auto saves feature works differently under BB and VB"
### Problem:

Auto saves feature works differently under BB and VB. Potentially this may cause data loss.
In a short:
     - BB does not suggest Auto saved copy if you click to leave, and you accept the warning and choose to leave anyway. It sounds logical.
    - However, VB suggests Auto saved version all the time. No matter if you ou accept the warning and choose to leave anyway.

Please check t

[2017-02-09 14:48] eduard-ungureanu commented on #941
@timayhelen that's exactly what happens on my end!

[2017-02-09 15:02] eduard-ungureanu opened #955 "Dreamhost :: Builder Sync :: Adding row from library"
### Problem:

Creating a custom Row and saving it to Divi Library in BB it doesn't work to add it. I get this Js error:
[code]

https://drive.google.com/open?id=0B8PjD3Z_XQvuWlB1a0xtZkYxb1E

## Attached PR

- https://github.com/elegantthemes/submodule-builder/pull/1725

[2017-02-09 15:40] FaycalBoutam opened #956 "BlueHost :: Shortcode Trimming :: Issues with adding padding"
### Problem:

I don't see the results as they should appear on the VB. The front end works okay, and when you reload the VB page you also see the padding applied correctly, it's just not when you add it live:

![94](https://cloud.githubusercontent.com/assets/16414613/22790376/e5bfa67c-eedd-11e6-92bf-971f6581ddd5.gif)

### Attached PR
* https://github.com/elegantthemes/submodule-builder/issues/1715

[2017-02-09 15:41] eduard-ungureanu commented on #956
Same thing on dreamhost

[2017-02-09 15:52] eduard-ungureanu opened #957 "Dreamhost :: Browser Backups :: Back end Editor"
### Problem:

The browser doesn't load any backups

### Steps To Reproduce:
1.  create a page layout
2. update it
3. make more changes in the layout
4. refresh the browser tab
5. the Browser backup message appears

Clicking on it, doesn't load the backup.

https://drive.google.com/open?id=0B8PjD3Z_XQvuZFR2aGQ2bUgwRlU

On FB everything works as it should, I can restore the Browser backup.

The same

[2017-02-09 15:52] eduard-ungureanu commented on #954
I have a slightly different issue with the BB on Dreamhost - I get the message, but nothing is loading.

https://github.com/elegantthemes/Divi-Beta/issues/957

[2017-02-09 16:38] #957 closed

[2017-02-09 16:38] #954 closed

[2017-02-09 16:53] eduard-ungureanu opened #958 "Dreamhost :: Failed Save Warning :: Doesn't give the .json file"
### Problem:

Renaming the admin-ajax.php will cause the save process to fail, and the pop-up which give the option to save the layout appears, but clicking on Download Layout doesn't provide the `.json` file, tried in Chrome, Safari and Firefox.

https://drive.google.com/open?id=0B8PjD3Z_XQvuaUE2YzVlcXRreE0

[2017-02-09 17:54] timayhelen commented on #956
@lots0logs I think this is related to the recent slider change.

[2017-02-09 18:17] timayhelen commented on #958
This is a duplicate issue.

[2017-02-09 18:17] #958 closed

[2017-02-09 18:43] kary4 commented on #945
Same problem here:
http://youtu.be/-nlSVZhRl2M?hd=1

[2017-02-09 18:57] kary4 opened #959 "Question: Will I lose everything if I have no internet connection?"
### Problem:
I'm not sure how it's supposed to be working. Let's say I'm working in two tabs (BB and VB) for 30 minutes. Then I suddenly lost my internet connection. This means I can't close my tabs, because I'll be forced to discard all the changes I made. Then when I restore my internet connection I cannot restore my work progress (because a left the tabs before and accepted the warning). If I u

[2017-02-09 19:59] dm-chechik opened #960 "Question :: Should the module settings values be updated while module settings window is open in VB"
### Problem:

I've noticed the module css properties values are updated even module settings window is opened. However don't see the same on Design tab. I've tested the Blurb Module. If I reopen module settings window the settings are updated.

[2017-02-09 21:40] FaycalBoutam opened #961 "BlueHost :: Builder Sync :: Blurb Module :: center / left orientation issue"
### Problem:

Text default orientation of the blurb module is different in VB (centered) and BB (left) which can cause a problem with syncing :

https://www.dropbox.com/s/0b647o4t3ufy0hi/95.gif?dl=0

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1732

[2017-02-09 21:51] timayhelen commented on #961
Let's update the VB and change the Blurb default orientation to Left, like it is in the BB.

[2017-02-09 21:52] timayhelen commented on #960
@dm-chechik Can you post a video of what you are referring to exactly?

[2017-02-09 21:54] timayhelen commented on #959
@kary4 Ideally when you try to save, you would get the failure modal with an option to download a backup copy. Also, if your internet was intermittent then there will still be auto-saves. These are not discarded when you leave the builder via the JS warning prompt.

[2017-02-09 21:54] #959 closed

[2017-02-09 22:00] kary4 opened #962 "Call To Action Module :: Max Width Option Does Not Update"
### Problem:
When you define Max Width option under BB then you cannot change the value in VB.

Screen cast:
http://youtu.be/hHkVGnG2t-o?hd=1

[2017-02-09 22:11] kary4 commented on #947
@timayhelen I think I was able to reproduce similar issue just now:

- Screen cast:
http://youtu.be/559B_O-NkQ8?hd=1

- Test page:
http://elegantthemessiteground.com/wp-admin/post.php?post=469&action=edit

[2017-02-09 22:26] kary4 opened #963 "No Sync in VB If You Remove All Modules in BB and Save Page"
### Problem:

VB is not syncing if you remove all modules and save the page.

### Steps To Reproduce:
1.  Add a module > Switch to VB Tab.
2. Switch back to BB tab > remove all modules > save page.
3. Switch to VB. You'll see the old layout.

Screen cast:
http://youtu.be/VVh_iz4f7vk?hd=1

[2017-02-10 02:16] lots0logs opened #964 "VB :: Inline Editor :: Creating Lists (<ul>) Is Buggy"
### Problem:

![2017-02-09 20-13](https://cloud.githubusercontent.com/assets/4675662/22811479/a6d09eb8-ef04-11e6-82ca-bede2f7dea17.gif)

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1793

[2017-02-10 03:15] lots0logs commented on #956
@timayhelen I can't reproduce this on latest master. Can you?

[2017-02-10 04:30] timayhelen commented on #956
@lots0logs Yeah it happened to me. It has to do with the slider not adjusting it's height after the size of the slide changes due to the padding adjustments. The padding changes I think, but the slider's height applied via JS does not update.

[2017-02-10 05:48] lots0logs commented on #956
@timayhelen Hmm..I followed the exact steps shown in the screencast and the issue does not occur. The slider renders as it should with proper padding. :thinking: I'll look into it further...

[2017-02-10 18:05] FaycalBoutam commented on #953
Actually the page is published, and I can click the "Exit Visual Builder" link. It's just not working when you try the link in the BB as seen in the above screen.

[2017-02-10 18:59] fikrirasyid commented on #932
@timayhelen @FaycalBoutam @Jronk I've updated the PR added on this ticket to fix the issues mentioned above (even more than the original ticket due to the scope of the issue found). Basically, this ticket's issue occurs due to:

- Absence of post meta autosave and sync
- Absence of proper data adjustment from BB to VB vice versa
- In general, absence of proper way to sync and autosave builder sett

[2017-02-10 19:31] FaycalBoutam commented on #936
Same with BlueHost.

[2017-02-10 19:42] Jronk opened #965 "Divi Builder Sync :: Visual Builder :: Add browser backup of application settings"
### Problem:

We need to capture builder page settings and store in browser backup like we do with the page content shortcode obj

See https://github.com/elegantthemes/Divi-Beta/issues/932#issuecomment-279034186

[2017-02-10 19:43] Jronk commented on #932
1. I vote at least for hidden UI as needed, but keeping all necessary split test attributes being saved in FB. then we can add the UI when we want, but solve the underlying issue right now much more easily.
2. Love it, I created a ticket for this https://github.com/elegantthemes/Divi-Beta/issues/965
3. What errors/ is there an issue for it already?

[2017-02-10 19:56] FaycalBoutam commented on #956
There's a problem with the fullwidth post slider module as well. The standard post slider module works fine from my end.

[2017-02-10 23:43] lots0logs commented on #908
@lceberg I'm still seeing the error in the VB and it results in the black bars on each side of the video. I debugged it a bit in the browser console and it looks like the problem is [this line](https://github.com/elegantthemes/submodule-builder/blob/master/frontend-builder/app/components/et-builder-section.jsx#L390) of the section module's `_initVideoBackground()` method. It results in us initiali

[2017-02-11 00:43] Jronk commented on #949
There is a backup saved in the browser, so at this point its only purpose/ability is to be used upon a refresh for example in which you would be offered to restore from the backup. The drawback from what the browser backup offers however is that if you close the tab the browser backup will be lost. Its not a real drawback per se, but compared to a downloaded backup, you could hold on to that for a

[2017-02-11 00:43] Jronk commented on #951
@eduard-ungureanu I'm unable to reproduce this, can you elaborate on what you meant by:

Also, if you can do a screencast for it, that would be great thanks.

[2017-02-11 00:46] #910 closed

[2017-02-11 00:47] lots0logs commented on #956
Looks like it only occurs on the production `bundle.js`. Still looking into it...

[2017-02-11 01:05] fikrirasyid commented on #932
@Jronk thanks for the feedback. Thus:

1. Let's do it on this issue
2. Let's do it on #965
3. I noticed various issues. After closer look, some of them are worth fixing on this issue and some other can be fixed on different ticket.

These are the issues (worth fixing on this issue):
[code]

These are issues that probably would be better to be fixed on different ticket:

[code]

[2017-02-11 17:34] fikrirasyid commented on #932
@Jronk @timayhelen I think https://github.com/elegantthemes/submodule-builder/pull/1703 is ready to be reviewed. It sync post meta as accurate as possible, even syncing post meta when builder settings modal is being opened.

One thing to be noted tho: VB sync everything as the value changes (so it is as real time as possible). BB, on the other hand, updates the value when modal settings is closed

[2017-02-11 18:07] dm-chechik commented on #960
@timayhelen Please check the video. I've assigned CSS ID and CSS Class and they apeared in VB directly in the opened midule settings window.
http://screencast-o-matic.com/watch/cbnXFn6ixr
Is it normal behavior? I've noticed that sometimes it works sometimes not.

[2017-02-11 18:18] dm-chechik opened #966 "GoDaddy :: Builder Sync :: Empty Section/Row sync not working"
### Problem:

I've noticed this trying to add Specialty Section however this occurs even with standard section
![screen](https://cloud.githubusercontent.com/assets/20072036/22856297/8abe0886-f09f-11e6-9447-f0e8533ca0ec.gif)

## Attached PRs
- https://github.com/elegantthemes/submodule-builder/pull/1728

[2017-02-11 18:24] dm-chechik commented on #966
Another case with adding an empty row inside existing section.
![screen](https://cloud.githubusercontent.com/assets/20072036/22856337/61a60380-f0a0-11e6-9aa2-5ad5a1e99a5f.gif)

[2017-02-11 18:51] dm-chechik opened #967 "GoDaddy :: Builder Sync :: Saving module as global is not syncing properly"
### Problem:

After saving module as global in BB the module does not appear as global in VB.
![screen](https://cloud.githubusercontent.com/assets/20072036/22856520/edaf90be-f0a3-11e6-8a0b-2cd7505fd769.gif)

[2017-02-11 18:53] dm-chechik commented on #967
It seems the issue related to incorrect displaying of Global Module in VB.

[2017-02-11 20:01] dm-chechik opened #968 "GoDaddy :: Builder Sync :: Handling of session expiration"
### Problem:

I think we need to add a notice dialog of session expiration in VB editor. Right now on backend side when session expires the modal login dialog appears. I understand this is standard Wordpress feature however on frontend in VB editor there is no way to know the session has expired I just see infinite loading icon.

Just in case to check how it works now you can install [WP Login Tim

[2017-02-11 20:26] dm-chechik commented on #968
While doing several test I've noticed the bugs related to losing content in BB editor.
When session expires the WP modal login form appears and after successful authorization the BB allows to continue editing the page however if I'll try to save the page the login page appears again and all changes are lost. The restore from backup option does not work too. Seems it stops saving after session expi

[2017-02-11 20:43] kary4 opened #969 "Everything freezes"
### Problem:

In some situations BB freezes. I'm not exactly sure after which step this happens but if you follow the steps you can see in the screen cast below you'll understand what I mean.
http://youtu.be/ks27leQFBp4?hd=1

[2017-02-11 21:19] dm-chechik opened #970 "GoDaddy :: Auto Saves :: Losing data when session has expired"
### Problem:

Since we do not handle session expiry there is quite possible situation of losing data.
![screen](https://cloud.githubusercontent.com/assets/20072036/22857593/de66411a-f0b8-11e6-8cd4-9f5aa43cf966.gif)

I was able to reproduce the same situation in BB editor. Sorry for so long video I just waiting for session expires (2 minutes).
http://screencast-o-matic.com/watch/cbnXY86iBZ

[2017-02-11 22:09] kary4 opened #971 "Everything disappears in VB"
### Problem:

I still cannot understand what exactly you should do to reproduce the problem. Maybe it's necessary to add a global module or just save a global module, still trying to catch the exact steps. The problem is that after I go to another browser window (not another tab) and go back later nothing appears in VB.

Screen cast:
http://youtu.be/w02LJj4hDxc?hd=1

Test page:
http://eleganttheme

[2017-02-12 18:25] #970 closed

[2017-02-12 21:38] kary4 commented on #953
This happens only if you Preview Page in a new Tab and then click Enable VB. If you preview the page in the same tab and then click Enable VB the Autosaves popup does not appear.
Screen cast:
http://youtu.be/RLwRkk1D1xw?hd=1

[2017-02-12 23:23] kary4 commented on #949
The same problem here. Also, I've noticed that when you click Try Again button the popup does not appear again. If I understand it should appear again and again when you click it and you did not fix the real problem (for example internet connection).

[2017-02-12 23:48] kary4 opened #972 "A Few Problems After Internet Was Disconnected"
### Problem:

1. Everything freezes under Visual Builder.
2. When you open VB from BB nothing appears.

To replicate the problems:

1. Add some changes under VB;
2. Disconnect your Internet;
3. Click Exit Visual Builder (You'll see first problem);
4. Connect your Internet;
5. Activate BB Tab and try to open VB in a new Tab (You'll see the 2nd problem).

Screen cast:
http://youtu.be/LncwkSgzuDQ?hd=

[2017-02-13 08:41] VladET commented on #969
I got a very similar problem and I believe it has something to do with this error in the console.

<img width="827" alt="capture-1" src="https://cloud.githubusercontent.com/assets/1061516/22876296/b328ae04-f1d8-11e6-84a4-72d333327976.PNG">

<img width="1576" alt="capture-2" src="https://cloud.githubusercontent.com/assets/1061516/22876325/dcf6d454-f1d8-11e6-873d-914a2a2fc335.PNG">

[2017-02-13 09:17] VladET opened #973 "Builder Sync :: Slider : Settings UI becomes unresponsive"
### Problem:

If you leave the settings modal opened in VB and go back to BB, change a setting then go back to VB the settings modal interface becomes unresponsive.

http://screencast-o-matic.com/watch/cbnIQD6j5v

[2017-02-13 09:32] VladET opened #974 "Builder Sync :: VB settings modal remains opened when the module has been removed from BB"
### Steps To Reproduce:

1.  Add a module in VB or BB
2. Open the module settings in VB and leave it opened
3. Go to BB and delete the module
4. Go back to VB, the settings modal is still there and you can't close it if you click X, it works if you hit ESC key.

Screencast: http://screencast-o-matic.com/watch/cbnIQw6j57

Not a big deal but maybe the modal should be destroyed if the module is remov

[2017-02-13 10:02] #318 closed

[2017-02-13 10:27] kary4 opened #975 "VB Does Not Sync"
### Problem:

In some cases VB does not update values.

To reproduce the problem please follow the steps you can see in the screen cast below:
http://youtu.be/DkrsLmwtM-s?hd=1

[2017-02-13 10:29] lceberg commented on #908
@lots0logs I removed that line and it seems videos work better on resize when in FB mode. I believe the issue with "The play() request was interrupted by a call to pause()." is caused by switching from play/pause too fast, but I can no longer reproduce it. Can you check if you still see it on your side after latest commit ?

[2017-02-13 10:41] kary4 opened #976 "VB :: Modifying padding via padding UI breaks circle counter JS initialization"
### Problem:

For example Circle Counter Module does not update value anymore if you change Column Structure under VB.

### Steps To Reproduce:
1.  Add Circle Counter and define any value, close the settings popup window.
2. Change Column Structure and you'll see the problem.

Screen cast:
http://youtu.be/TU9dEBQz1lQ?hd=1

## Attached PR

- https://github.com/elegantthemes/submodule-builder/pull/1

[2017-02-13 14:41] eduard-ungureanu commented on #951
@Jronk please check out this page:

http://www.elegantthemesdreamhost.com/divi-beta683-builder-button/

Scroll down until you will see 2 number counters and a map module, on the left it should be the image.

[2017-02-13 15:58] lots0logs commented on #927
@Jronk I actually couldn't reproduce the issue while following the steps @timayhelen provided on `575-fix-heartbeat-content-smashing-wip`. Nor could I reproduce it on `927-visual-builder-is-launched-automatically-when-previewing-a-page`. However, I noticed that if the Divi Builder is active and you click to preview the page it loads the visual builder. This happens on both branches.

[2017-02-13 16:45] lots0logs commented on #932
@fikrirasyid Following the steps from @timayhelen's first example [here](https://github.com/elegantthemes/Divi-Beta/issues/932#issuecomment-278453536), the VB gets stuck with the preloader showing though the split test subject appears correctly on the page. [Here's](https://gist.github.com/lots0logs/e7d3f5fc6b129682926a87b970f02bbf) the console output.

[2017-02-13 18:50] Jronk commented on #951
Ok, I see the image on the page, and its lacking a src value, so my question is what is the problem? like "Did you enter a value in VB and it didnt save the src...", or what was the steps to get to this end result?

[2017-02-13 20:11] eduard-ungureanu commented on #951
@Jronk - the image module is properly set, the problem is once I save the page, and leave the VB the image SRC is not updated.

Here is a video with the issue, hope it helps:
https://drive.google.com/open?id=0B8PjD3Z_XQvuc2ZQaVBMY3owZGs

[2017-02-13 23:46] kary4 opened #977 "Question :: What Should Happen If You Save VB Page And Refresh The Page (Ctrl+F5)"
### Problem:

Builder Sync stops working once you save VB page and clear your browser's cache by refreshing the page (Ctrl + F5). So, in this situation you'll have two different versions of builder layout in BB and VB.

Screen cast:
http://youtu.be/xo6a5oJ55mA?hd=1

Though, it starts updating once you add some changes after refreshing the page.

[2017-02-14 00:16] timayhelen commented on #927
@Jronk Yeah, it still launches the Visual Builder when previewing if the Divi Builder is enabled.

[2017-02-14 00:19] timayhelen commented on #976
This probably applies to a lot of things. Testimonial re-size, slider re-size, background video ajax call, etc.

[2017-02-14 00:19] timayhelen commented on #977
I think this is such a rare occurrence that we don't need to worry about right now.

[2017-02-14 00:19] #977 closed

[2017-02-14 01:59] fikrirasyid commented on #932
@lots0logs thanks for noticing that. I've pushed a fix for your feedback and the issue. I'm copying the commit message which fixes the issue for reference below.

***

https://github.com/elegantthemes/submodule-builder/commit/006006778ccd05822b6be4224f4b1fae37c44ffc

[2017-02-14 02:50] fikrirasyid commented on #942
@FaycalBoutam have you cleared your browser cache before trying it? If you haven't cleared your cache prior to test it, it'd be really helpful if you clearing your cache then test it again. I've tried following your steps multiple times, and the issue doesn't appear. I've verified it by asking @lots0logs to replicate the issue and he couldn't replicate it as well. These are the screencast of my at

[2017-02-14 04:11] fikrirasyid commented on #976
@kary4 I've followed the reproducing steps you're given (even following the video step by step, see: https://www.dropbox.com/s/r4qlpmbn7gvlvxt/divi-beta-976-issue.mov?dl=0) but I still couldn't reproduce the issue. Can you do the following?

1. Clear your browser cache
2. Open devtool > console
3. Reproduce the steps you've mentioned
4. If the issue remains, can you screenshot the console log outp

[2017-02-14 10:46] kary4 commented on #976
@fikrirasyid That's strange, it was so easy to replicate this problem earlier, but now I cannot replicate it as well the way I described above. So, I spent a lot of time to understand how this can be replicated. Finally I was able to reproduce the problem, but I'm afraid I cannot describe the exact steps. The good news is that I took a screen cast so you can see all the error messages:
http://yout

[2017-02-14 13:22] FaycalBoutam commented on #942
@fikrirasyid Yes you right, I just tried now and was able to see the problem again but then I cleared my cache and now it's all good. Sorry about that.

[2017-02-14 15:24] fikrirasyid commented on #942
@FaycalBoutam alright, since it appears to be fixed, I'll close the issue for the time being. Feel free to reopened it if you're able to replicate it consistently.

[2017-02-14 15:24] #942 closed

[2017-02-14 15:41] fikrirasyid commented on #976
@kary4 thanks for the screencast, I can replicate it now. Basically circle counter js init is stopped when padding is modified via padding UI. I'm investigating it now

[2017-02-14 16:10] fikrirasyid commented on #976
I've checked this issue based on the last feedback from @kary4 (see: https://github.com/elegantthemes/Divi-Beta/issues/976#issuecomment-279673602) and it appears that this issue appears on `master` as well. Thus:

1. This isn't builder specific issue
2. The PR is merged to `master`.

[2017-02-14 16:29] fikrirasyid commented on #962
@karya can you clear your browser cache and try this again? I've tried replicated this issue but it appears to work as expected on latest `575-fix-heartbeat-content-smashing-wip` branch now:

![962-issue](https://cloud.githubusercontent.com/assets/916442/22938095/51d0f2f2-f30d-11e6-859c-027085e83efa.gif)

[2017-02-14 19:34] #950 closed

[2017-02-14 20:34] vukvukovich opened #978 "ET About me Widget not parsing image URL"
### Problem:

ET About me Widget is not parsing image URL if it is containing more than two dots.
For example: www.example.co.uk

### Steps To Reproduce:
1.  Set widget as active
2. Put in image field URL: www.example.co.uk
3. Inspect element in frontend
4. Go back and change URL to: www.example.com
5. Inspect element in frontend

[2017-02-14 21:33] kary4 commented on #962
@fikrirasyid Actually I'm testing the things on the test server that Nick created, so I'm not sure builder is on the latest branch or not. As for now, I can still reproduce the issue here:
http://elegantthemessiteground.com/issue-962/?et_fb=1

[2017-02-14 21:41] kary4 commented on #976
Okay, I can test this when Divi Builder will be updated on the test servers.

[2017-02-14 22:37] kary4 opened #979 "1&1 :: Builder Sync :: VB Does Not Work When You Create A New Page"
### Problem:

So, when you:
1. Create a page;
2. Activate Divi Builder;
3. Open Visual Builder in a new tab you can see VB is disabled, so it allows you to enable VB.

And related problem:
If you go back to BB, save the page, go back to VB - still nothing synchronized, even you click Enable VB. You have to refresh the page.
Screen cast:
http://youtu.be/UYEtqW2aSGs?hd=1

In another testing site it

[2017-02-14 23:18] kary4 commented on #962
I just found out it's not anything specific in CTA module but I think it's all the modules with the same problem. I just replicated similar problem in shop module:
http://youtu.be/EAzYhjY9ohg?hd=1

So, here is the exact steps to reproduce this problem:
1. Create a new page > Enable Divi builder > Add only a row module >Save the page;
2. Open VB in a new tab > add shop module (don't close shop sett

[2017-02-14 23:43] kary4 opened #980 "Builder Sync :: Background Moday Overlay Disappears"
### Problem:

When you go from VB to BB (it should be module settings window  opened) the **.et_pb_modal_overlay** disappears after syncing.

To reproduce the problem (better check the screen cast below :) ):

1. Create a new page > Enable Divi builder > Add only a row module >Save the page;
2. Open VB in a new tab > add shop module (don't close shop settings window);
3. Go back to BB (wait while

[2017-02-14 23:57] fikrirasyid commented on #980
This issue has been addressed on https://github.com/elegantthemes/submodule-builder/pull/1718 which is made to fix https://github.com/elegantthemes/Divi-Beta/issues/974. The expected behaviour on that branch is that on BB, upon syncing, the modal and its overlay will be closed. Please read the PR message for full explanation + known limitation.

[2017-02-15 00:19] lots0logs opened #981 "PHP Notice: Undefined index: in..."
### Problem:

This occurs on `575-fix-heartbeat-content-smashing-wip` but I think its already been fixed in `master`. We should check on it after 575-.. is merged to master (or vice-versa).

[code]

### Attached PR
* https://github.com/elegantthemes/submodule-builder/issues/1741

[2017-02-15 00:33] timayhelen commented on #817
@lceberg I think we should add this option to the bottom of the list of settings in the modal, right above "disable on." It's quite obstructive due to how long the list is and it wont be a very common setting to use.

We might want to consider pruning the list to only the most necessary rel attributes as well.

[2017-02-15 00:39] lots0logs commented on #817
@timayhelen I thought the same but decided to let you decide :grin:  I think using CSS columns for multi-checkbox input options would be a huge improvement :thinking:

[2017-02-15 01:36] #956 closed

[2017-02-15 01:36] #976 closed

[2017-02-15 02:35] fikrirasyid commented on #935
This issue isn't builder sync-specific since the same issue occurs on `master`. I was about to submit https://github.com/elegantthemes/submodule-builder/issues/1720 but it turns out the issue has been fixed on different PR and has been merged to `master` as I submit the PR.

Thus, let's close this in favour of the merged https://github.com/elegantthemes/submodule-builder/commit/b3ab665f6f3bd0e3be9

[2017-02-15 02:35] #935 closed

[2017-02-15 03:29] fikrirasyid commented on #966
@dm-chechik can you clear your cache then try it again? It appears that the issue has been fixed on the latest version of the branch:

![966-fixed](https://cloud.githubusercontent.com/assets/916442/22959491/67fde5c4-f369-11e6-8096-364f42abda34.gif)

[2017-02-15 10:09] #980 closed

[2017-02-15 10:57] lceberg commented on #817
The checkboxes are now placed above the "Disable on" option. I'm not sure what would be the most used rel attributes but the list is reduced to bookmark, external, nofollow, noreferrer and noopener.

@timayhelen @ilianiv please let me know what you think.

[2017-02-15 13:28] ilianiv commented on #817
Thank you for adding this feature.

[2017-02-15 14:20] fikrirasyid commented on #945
The PR above only fixes the "settings not applied on BB" issue. Related to the "strange issue with Title Font styles", we already has https://github.com/elegantthemes/submodule-builder/pull/1718 which overlaps with that issue.

Essentially, "strange issue with Title Font styles" can be consistently replicated on `575-fix-heartbeat-content-smashing-wip` on any module by doing the following:

1. On

[2017-02-15 14:43] fikrirasyid commented on #962
@kary4 ah, I think I get what you mean:

1. Open a page on VB and BB
2. Open VB settings modal
3. Switch to BB
4. Open the same settings modal, save, and let it sync
5. Switch to VB, let it sycned
6. The settings modal now can't be edited

This issue is essentially similar to:

1. https://github.com/elegantthemes/Divi-Beta/issues/974
2. And this sub-issue: https://github.com/elegantthemes/Divi-Bet

[2017-02-15 14:43] #962 closed

[2017-02-15 14:48] fikrirasyid commented on #979
This issue has been fixed at https://github.com/elegantthemes/submodule-builder/pull/1703. Specifically on this commit: https://github.com/elegantthemes/submodule-builder/pull/1703/commits/adfab7de575da3a3b9c54989a74d5594075e81b6

[2017-02-15 14:48] #979 closed

[2017-02-15 14:56] fikrirasyid commented on #975
This issue is actually inevitable due to the way Backbone and React works. In general:

1. In VB (which uses react) everything is updated (near) real time. Once you change a value, that value is being queued to be immediately synced
2. BB (which uses backbone) uses different approach. The queue for sync and essentially other data updating sequence is performed *when the modal's save button is clic

[2017-02-15 14:58] fikrirasyid commented on #973
I think this is duplicate of https://github.com/elegantthemes/Divi-Beta/issues/974 which has been addressed on https://github.com/elegantthemes/submodule-builder/pull/1718

[2017-02-15 14:58] #973 closed

[2017-02-15 15:04] fikrirasyid commented on #969
This has been address on https://github.com/elegantthemes/submodule-builder/pull/1718. This is essentially what happened on https://github.com/elegantthemes/Divi-Beta/issues/945#issuecomment-280022610, but reversed on VB to BB. Please read the thorough explanation on https://github.com/elegantthemes/submodule-builder/pull/1718 PR description for complete explanation related to the issue.

[2017-02-15 15:04] #969 closed

[2017-02-15 15:05] fikrirasyid commented on #974
It turns out that this is a pretty big deal 😅 Please see linked issues on https://github.com/elegantthemes/submodule-builder/pull/1718

[2017-02-15 15:15] VladET commented on #974
If you put it that way 😅

[2017-02-15 16:49] timayhelen commented on #975
I think we can ignore this for now.

[2017-02-15 16:49] #975 closed

[2017-02-15 17:19] timayhelen commented on #960
I see. This will actually no longer be relevant after Fikri's recent branch is merged that closes settings modal during sync.

[2017-02-15 17:19] #960 closed

[2017-02-15 17:51] kary4 opened #982 "1&1 :: Auto-Saves :: Everything disappears under BB"
### Problem:

Actually maybe this is Builder Sync problem, not sure. When you open BB in a new tab and update the tab everything disappears. I'm sorry if this issue was reported before. There are a lot similar issues with small differences.

Screen cast:
http://youtu.be/K25FMl1YTjU?hd=1

[2017-02-15 18:11] lots0logs opened #983 "Bar Counters :: Incorrect List Style"
### Problem:

![2017-02-15_12-09-27-pm](https://cloud.githubusercontent.com/assets/4675662/22988442/b9471d48-f377-11e6-9c72-4ab898d81da1.png)

[2017-02-15 20:04] Jronk commented on #949
Fikri was sent to develop the fail modal, and he decided to use portability, with no knowledge of the browser backup being dev’ed at the same time. So, when they both were finished, there resulted two ways of trying to do the same thing. If that fail modal were dev’ed after autosave/backup was finished, backup prob would have been used instead of portability. Without the autosave/backup system exi

[2017-02-15 20:26] Jronk commented on #951
I have tried to reproduce what you are saying, and what your video shows...

Here are the steps I see from your above video:
1. open existing page to edit in BB
2. Click on "Use Visual Builder"
3. Open settings modal for image module, verify the url is present.
4. click green checkbox to close modal
5. open page settings bar, click save, wait for save to complete
6. click "Exit Visual Builder" in

[2017-02-15 20:28] Jronk commented on #951
I am testing on latest branch: `575-fix-heartbeat-content-smashing-wip`. If you are still able to reproduce this according to the above steps I laid out, can you provide me with an export of your layout?

[2017-02-15 20:49] kary4 opened #984 "VB :: Locked Module :: Does Not Lock under VB"
### Problem:
Normally you cannot modify/move the locked modules. But if you enable VB it's possible to move locked modules. If I understand correctly it's not how the feature should work.

Screen cast:
http://youtu.be/6qKriIPzOdM?hd=1

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1746

[2017-02-15 21:37] Jronk commented on #951
I even tried adding the "tricky" (```”City```) alt and title you had from above, and that's not causing it to fail for me either...
![screen shot 2017-02-15 at 1 35 09 pm](https://cloud.githubusercontent.com/assets/1163441/22996500/d8275136-f383-11e6-97ee-52eefca26e00.png)

[2017-02-15 21:39] #927 closed

[2017-02-15 21:43] timayhelen commented on #953
Looks like this is actually a duplicate ticket, and it has been fixed in the latest version.

[2017-02-15 21:43] #953 closed

[2017-02-15 22:01] Jronk commented on #953
Here are verbose steps to reproduce, and confirmed it is now fixed.

1. Add new page in BB, add columns -> 4_4
2. click "Use Visual Builder"
3. right click admin bar "Edit page", to open in new tab (opens BB in new tab)
4. Add module in VB
5. open page settings bar, click "Publish", wait for complete
6. switch to BB tab
7. sync should happen
8. right click "Use Visual Builder" to open VB in new ta

[2017-02-15 22:23] kary4 opened #985 "Question :: Auto Saves :: You Lose Everything If You Accidentally Click Out Of Backup Exists Box"
### Problem:

Is it supposed that you can click out of the "A Browser Backup Exists" popup window and it disappears? In this case you cannot restore anything after you accidentally click some empty area. In my understanding you should not be able to proceed if you don't click one of the three options (Discard/Restore/Close).

Screen cast:
http://youtu.be/CkWRgNdQCNc?hd=1

[2017-02-16 00:52] #955 closed

[2017-02-16 00:53] #974 closed

[2017-02-16 00:53] #936 closed

[2017-02-16 00:53] #940 closed

[2017-02-16 00:54] #945 closed

[2017-02-16 00:54] #941 closed

[2017-02-16 03:13] timayhelen commented on #985
I think it's ok for now.

[2017-02-16 03:13] #985 closed

[2017-02-16 03:28] timayhelen commented on #949
@Jronk I think the ability to download a backup copy is important. It will still be useful for other scenarios.

[2017-02-16 03:45] timayhelen commented on #951
@Jrok All of this testing is being done on our shared host testing environments. You can log in and see the issue first hand instead of trying to replicate it:

https://github.com/elegantthemes/Divi/wiki/Shared-Hosting-Testing

## DreamHost

#### WordPress
* Login: http://elegantthemesdreamhost.com/wp-login.php
* Username: elegantthemesdreamhost_v2oepg
* Password: y(YbhaJCe@7L1p5t

http://www.eleg

[2017-02-16 04:10] timayhelen commented on #951
Here is the shortcode output of the broken module:

`[et_pb_section bb_built="1" admin_label="section"][et_pb_row admin_label="row" make_fullwidth="on"][et_pb_column type="1_3"][et_pb_image admin_label="Image" src="http://www.elegantthemesdreamhost.com/wp-content/uploads/skyline.jpg" alt="City of Light" title_text="City of Light" show_in_lightbox="on" use_overlay="on" overlay_icon_color="#ffffff"

[2017-02-16 04:19] timayhelen opened #986 "BB > VB Sync Doesn't Work"
This doesn't seem to work at all after the recent merges. Changes are synced from the VB to BB, but from BB to VB.

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1726

[2017-02-16 04:39] #986 closed

[2017-02-16 04:48] fikrirasyid commented on #938
This is duplicate of https://github.com/elegantthemes/Divi-Beta/issues/955 which has been fixed on latest `575-fix-heartbeat-content-smashing-wip`

[2017-02-16 04:48] #938 closed

[2017-02-16 04:56] timayhelen commented on #966
@fikrirasyid You need to create an empty row in the BB, which means a row with no columns in it. This will fail to sync correctly to the VB, causing various issues.

1. Open up the VB and BB in two tabs.
2. In the BB, click "Add Row"
3. Do not add a column. Just click the "x" button to close the modal.
4. You now have a row with no columns. Switch to the VB to see some strange effects. Sometimes r

[2017-02-16 10:30] lceberg commented on #983
@lots0logs Are there any specific steps to reproduce this ?

This is what I see on latest mater:

#### About Us Layout:
![about-us](https://cloud.githubusercontent.com/assets/1928328/23017607/a07fe1e2-f443-11e6-873b-907bbb121749.png)

#### Single Bar Counter:
![single-module](https://cloud.githubusercontent.com/assets/1928328/23017613/a60a3cf2-f443-11e6-9f81-3fa78132a67f.png)

[2017-02-16 10:46] timayhelen commented on #983
@lceberg This was caused by your recent UL adjustments, which affected many modules. I reversed the fix in the latest master and applied a less aggressive adjustment instead, so we can close this issue.

[2017-02-16 10:46] #983 closed

[2017-02-16 13:33] fikrirasyid commented on #966
@timayhelen thanks for the reproduction steps. I'm able to replicate and fix the issue at https://github.com/elegantthemes/submodule-builder/pull/1728.

[2017-02-16 13:57] kary4 opened #987 "VB :: Insert Module Box :: Overlapping issue"
### Problem:

In some situations you still cannot add some modules when Insert Module Box appears, because it appears to low and is overlapped by Page Settings Bar. This happens when you activate Tablem mode, though I was able to get the same result on Desktop mode, but unfortunately can't remember the exact steps for Desktop version.

### Steps To Reproduce on Tablet:
1.  Create new page > Add 4/

[2017-02-16 17:58] timayhelen commented on #930
This is no longer relevant because settings modals are closed during sync.

[2017-02-16 17:58] #930 closed

[2017-02-16 18:12] timayhelen opened #988 "Syncing Not Working Often"
Playing with the latest branch on our SiteGround testing environment, and I am noticing that syncing rarely works on the current page I am testing. I see the following errors in the BB:

<img width="433" alt="screen shot 2017-02-16 at 10 10 20 am" src="https://cloud.githubusercontent.com/assets/3333028/23034322/4e163676-f430-11e6-8ada-5349dbfada7b.png">
<img width="537" alt="screen shot 2017-02-16

[2017-02-16 19:55] timayhelen commented on #937
It looks like a button module with no button text doesn't show up when synced from the BB. It is supposed to display default text, which works when you add a blank button directly to the Visual Builder.

[2017-02-16 19:56] #963 closed

[2017-02-17 01:02] fikrirasyid commented on #937
The issue where custom styling don't get synced is essentially the same issue as what happened on https://github.com/elegantthemes/Divi-Beta/issues/944. I've submitted https://github.com/elegantthemes/submodule-builder/pull/1731 to fix it. I'm still investigating the non syncing button issue

[2017-02-17 01:36] #988 closed

[2017-02-17 04:37] timayhelen commented on #949
@lots0logs The builder always fails to load for me in this branch. I notice the following error:

![screen shot 2017-02-16 at 8 37 08 pm](https://cloud.githubusercontent.com/assets/3333028/23052648/c3f922fc-f487-11e6-9e55-8cc9fe0ab7ab.png)

[2017-02-17 06:23] lots0logs commented on #949
@timayhelen Could you try clearing your browser cache? Its working fine for me. I tried it on Firefox (which I hardly ever use) just to be sure.

[2017-02-17 12:55] fikrirasyid opened #989 "Builder Sync :: Blurb's and CTA text orientation being removed after syncing from VB to BB to VB again"
### Problem:
~When a blurb is being saved to library item as global module, its text orientation is reset to left.~

![global-trims-attrs](https://cloud.githubusercontent.com/assets/916442/23066002/db3cb0b4-f54a-11e6-9fba-171165ef67a0.gif)

### Steps To Reproduce:
1.  ~Add blurb and set its text orientation to center on BB. Open VB on different window~
2. ~Save blurb as global item on BB~
3. ~Swit

[2017-02-17 13:09] fikrirasyid commented on #967
@dm-chechik can you clear your browser cache and retest this again? I've tried multiple times to replicate the issue but it appears to work as expected (probably newer PRs fix this issue):

![967-fixed](https://cloud.githubusercontent.com/assets/916442/23066394/f6978422-f54c-11e6-8d85-2fd7430d5add.gif)

[2017-02-17 13:11] fikrirasyid commented on #967
I notice that in latest `575-fix-heartbeat-content-smashing-wip` branch whenever a module is set as global in BB and being synced to VB, the text orientation disappears. I submitted https://github.com/elegantthemes/Divi-Beta/issues/989 for it.

[2017-02-17 16:28] fikrirasyid opened #990 "Builder Sync :: Fix error message thrown when syncing from BB to VB"
### Problem:

Here's the error message looks like:

![screen shot 2017-02-17 at 11 26 17 pm](https://cloud.githubusercontent.com/assets/916442/23073573/99e1aaf2-f568-11e6-89dc-c754cce0205e.png)

The issue occurs if VB settings modal is opened when syncing from BB to VB

### Steps To Reproduce:
1.  Open VB and BB side by side
2. Open any settings modal on VB
3. Edit the same module on BB
4. Switch

[2017-02-17 19:11] #990 closed

[2017-02-17 19:21] timayhelen commented on #981
@Jronk will be merging master back in shortly. @lots0logs Can you check to see if the issue still exists?

[2017-02-17 19:23] Jronk commented on #981
@Jronk merged master, @lots0logs go for it

[2017-02-17 19:48] Jronk commented on #951
yeah, thanks @timayhelen don't know why I didn't notice this was one of the new shared servers (it was in the issue title i see..)

[2017-02-17 19:53] #921 closed

[2017-02-17 19:53] #937 closed

[2017-02-17 19:54] #944 closed

[2017-02-17 19:54] #966 closed

[2017-02-17 19:54] #961 closed

[2017-02-17 20:30] lots0logs commented on #981
Those have been fixed. However, I found a new one:
[code]

[2017-02-17 21:02] lots0logs commented on #951
@Jronk After enabling the overlay for the image module in the VB I get this:

![2017-02-17_03-01-17-pm](https://cloud.githubusercontent.com/assets/4675662/23083143/109f1f0e-f522-11e6-8c91-f6ec0b76e010.png)

[2017-02-18 00:28] fikrirasyid commented on #947
@kary4 can you clear your browser cache then try this again? I've tried it multiple times but it appears that it works as expected now. This is what occurs when I follow step by step you did on http://youtu.be/559B_O-NkQ8?hd=1:

![947-has-been-fixed](https://cloud.githubusercontent.com/assets/916442/23088059/aa623e26-f5ab-11e6-939b-94af8fc850d1.gif)

I re-tried them again, but it works as expected

[2017-02-18 00:30] #989 closed

[2017-02-18 00:41] fikrirasyid commented on #946
@kary4 can you clear your browser cache and check this again? I've tried to replicate this multiple times but it appears to work as expected now:

![946-fixed](https://cloud.githubusercontent.com/assets/916442/23088279/a1562b7e-f5ad-11e6-9c77-2d0cfe60acfb.gif)

[2017-02-18 03:22] fikrirasyid commented on #971
@kary4 can you clear your browser cache and try replicate the issue again on http://elegantthemessiteground.com/? I've updated the theme to the latest version of the builder sync branch, trying to replicate the issue but it works as expected so far.

[2017-02-18 03:41] fikrirasyid commented on #952
@eduard-ungureanu can you clear your browser cache and try it again? I've uploaded the latest update of builder sync branch and attempted to replicate the issue but it appears to work as expected.

[2017-02-18 04:24] fikrirasyid commented on #939
@timayhelen I'm about to fix this but after checking it it appears that we intentionally allow 0 value for gutter width:

- related issue: https://github.com/elegantthemes/Divi/issues/1268
- related code: https://github.com/elegantthemes/submodule-builder/blame/master/main-structure-elements.php#L695

Based on our existing codebase, I think this should be a wontfix. Can you verify this?

[2017-02-18 04:33] lots0logs commented on #939
@fikrirasyid The UI should reflect the fact that `1` is the lowest possible value. It didn't matter as much at the time of that old gh issue because the VB wasn't around then.

[2017-02-18 07:05] fikrirasyid commented on #972
I've submitted https://github.com/elegantthemes/submodule-builder/pull/1742 to fix this issue but there are several things that need to be noted:

1. "Everything freezes under Visual Builder." is actually transparent pre-loader overlay that wasn't stopped / removed once the unsaved notification appears. Properly remove the preloader when unsaved notification appears fixes this issue
2. "When you o

[2017-02-18 08:43] fikrirasyid commented on #939
@lots0logs yeah, it is a legit point. I've submitted https://github.com/elegantthemes/submodule-builder/pull/1743 to fix this issue then 👍

[2017-02-18 10:59] fikrirasyid opened #991 "Builder Sync :: Number Counter :: updating number and percent sign on BB causes console error when switching to VB"
### Problem:

Updating number and percent sign on BB causes console error when switching to VB:

![number-counter-issue](https://cloud.githubusercontent.com/assets/916442/23092708/b3565960-f603-11e6-95c4-7ffd29c1181b.gif)

### Steps To Reproduce:
1. Open a page on BB and VB . Open their console
2. Update number and percent sign on BB
3. Switch to VB
4. You'll see an error thrown

## Attached PR
-

[2017-02-18 11:44] #967 closed

[2017-02-18 11:44] #952 closed

[2017-02-18 19:23] timayhelen commented on #968
@lots0logs After your session expires and you log back in, you can't save the builder. Subsequent saves all fail.

[2017-02-18 19:38] #946 closed

[2017-02-18 19:39] #947 closed

[2017-02-18 22:50] kary4 commented on #971
@fikrirasyid Actually I was able to get similar problem once, but I have no idea how I can replicate this again :( I'll update you if I'll find out the exact steps.

[2017-02-18 23:08] kary4 commented on #946
@fikrirasyid Yes, I cannot replicate this problem anymore.

[2017-02-18 23:14] kary4 opened #992 "Siteground :: No Way To Add Row In VB To The First Section"
### Problem:

When you try to add a row to the very fist section it created another row right below the first one. To see what I exactly mean please check the screen caste here:
http://youtu.be/DEZa2toTzqA?hd=1

### Steps To Reproduce:
1.  Create New Page > Enable VB > Save the page;
2. Open BV in a new Browser Tab and try to add a row in the first section.

### Additional Information:
This happen

[2017-02-19 01:10] kary4 commented on #947
@fikrirasyid Cannot reproduce this anymore..

[2017-02-19 04:25] lots0logs commented on #968
![homer-simpson-doh](https://cloud.githubusercontent.com/assets/4675662/23099314/2ce6d078-f629-11e6-8d86-ada37c652bcc.gif)

[2017-02-19 15:58] lots0logs opened #993 "Media Library z-index issue in zoom out view"
@FaycalBoutam commented on [Sun Feb 19 2017](https://github.com/elegantthemes/Divi/issues/2830)

### Problem:

![110](https://cloud.githubusercontent.com/assets/16414613/23103480/adaf92be-f6b3-11e6-9399-822317fed29c.gif)

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1794

[2017-02-19 19:26] timayhelen commented on #968
@Jronk since this deals with nonces and saving I would suggest extra scrutiny during Dev Review. Thanks!

[2017-02-19 21:23] kary4 opened #994 "VB:: 1 & 1 :: Gallery Module Disappears"
### Problem:
If you start moving a gallery module to another row and you change your mind while you're moving the module and drop it anywhere in the middle it just disappears and does not reappear in the original area. It updates once you hover over other modules.

Screen cast:
http://youtu.be/m_iZjSMAA0c?hd=1

Test page:
http://elegantthemes1and1.com/about-2/?et_fb=1

## Attached PR

- https://gi

[2017-02-19 21:47] kary4 opened #995 "VB :: Accordion Module :: Sore Are Closed And Some Open"
### Problem:

If you create a new Accordion module (under VB) it displays all the items close. But if you Clone the Accordion module it Displays first tab opened. If I understand correctly the first tab in any accordion should be opened by default (even if it's only one accordion tab).

Screen cast:
http://youtu.be/lgOQBuawoqI?hd=1

[2017-02-20 00:08] kary4 opened #996 "VB :: Image Module Does Not Align Properly"
### Problem:
Image module does not align properly (though it works good sometimes) when you add it into specialty section.

How to reproduce:
http://youtu.be/zJN9udDw06k?hd=1

If you save and update the page it fixes the problem.

Test page:
http://elegantthemes1and1.com/new-page-201/?et_fb=1

[2017-02-20 14:44] lots0logs commented on #939
@fikrirasyid Its still possible to save the value as zero. We should validate the input on the client side. Maybe setting `min` and `max` attributes on the `<input>` field would be enough :thinking:

[2017-02-21 00:45] #972 closed

[2017-02-21 00:45] #991 closed

[2017-02-21 00:45] #981 closed

[2017-02-21 01:04] #968 closed

[2017-02-21 01:05] Jronk commented on #932
https://github.com/elegantthemes/Divi-Beta/issues/965 has been fixed on same PR (see https://github.com/elegantthemes/submodule-builder/pull/1703/commits/e2053a99148300223436973237ee999a16f109ba)

[2017-02-21 01:05] Jronk commented on #965
Fixed in https://github.com/elegantthemes/Divi-Beta/issues/932

[2017-02-21 01:05] #965 closed

[2017-02-21 03:36] fikrirasyid commented on #939
@lots0logs I've incorporated your feedback on https://github.com/elegantthemes/submodule-builder/pull/1743/commits/54cce18be7b9903ac2d910c16a39af924b4455f3. Adding `min` and `max` attribute won't be enough since range input type is `text`. We can't use `number` because in same case we'd like to accept number unit as well. I've added js based validation to handle this on range input's keyup, change

[2017-02-21 06:30] Jronk commented on #951
@lots0logs Error has been fixed, thx

[2017-02-21 08:04] timayhelen commented on #932
@Jronk This fix no longer works at all for me after your recent changes. Split testing is not synced, nor are any other post meta settings.

[2017-02-21 12:21] fikrirasyid commented on #992
Note: this isn't hosting specific issue, it appears on my local test site as well.

[2017-02-21 14:37] fikrirasyid commented on #932
@timayhelen I've pushed https://github.com/elegantthemes/submodule-builder/commit/462cb8477499441c5593051c04ac7399dbc7833a which should fix the issue. I think @Jronk needs to review it tho, since the issue is caused by recent refactoring and browser-based autosave mechanism:

1. Some code block is abstracted and not being called for BB. Thus, all BB to VB sync doesn't work
2. Some array element ke

[2017-02-21 18:12] Jronk opened #997 "Divi Builder Sync :: Synced content getting reverted back to last saved content"
### Steps To Reproduce:
1. Pages > Add New
2. Enable the Divi Builder
3. Publish the blank page.
4. After publishing, right click “Use Visual Builder” and open it in a new tab.
5. You now have two tabs open with the blank page.
6. Go back to the BB and load the Homepage Basic layout.
7. Head over the VB tab to watch it sync.
8. Go back the BB and delete a blurb.
9 Go back to the VB and watch it sy

[2017-02-21 18:20] #971 closed

[2017-02-21 19:26] timayhelen commented on #997
@Jronk This causes all builders syncs from the VB -> BB to fail.

[2017-02-21 19:31] timayhelen commented on #932
@fikrirasyid @Jronk This still isn't working for me. Post meta is not being synced from the BB to the VB reliably. Starting a split testing in the BB and moving to the VB does not work.

[2017-02-21 21:16] lots0logs commented on #992
@fikrirasyid The button's tooltip still says "Add New Row". That is going to be confusing to users. Let's change it to say "Choose Column Structure" instead.

[2017-02-21 21:22] timayhelen commented on #992
@lots0logs Let's open a new ticket, I don't want the release getting held back for it.

[2017-02-21 21:22] #997 closed

[2017-02-21 21:32] lots0logs opened #998 "VB :: Add Row Button Tooltip Copy Special Case"
https://github.com/elegantthemes/Divi-Beta/issues/992#issuecomment-281483108

## Attached PR

- https://github.com/elegantthemes/submodule-builder/pull/1762

[2017-02-22 00:14] #951 closed

[2017-02-22 00:16] #984 closed

[2017-02-22 00:16] #992 closed

[2017-02-22 02:36] fikrirasyid commented on #932
@timayhelen @Jronk  I've fixed the post meta syncing issue on https://github.com/elegantthemes/submodule-builder/commit/7783be7f859b380b203b81f5c167c0f2725b19a3. I'm copying the commit message here for reference:

[2017-02-22 12:40] lots0logs commented on #932
@fikrirasyid I'm seeing the following lines in the debug log and they appear to be directly related to the changes in this branch:
[code]

[2017-02-22 12:43] lots0logs opened #999 "575 - Debug Log Output"
### Problem:

These are back (probably never went anywhere to begin with :unamused: )

[code]

[2017-02-22 14:26] fikrirasyid commented on #932
@lots0logs thank you for noticing it. I've submitted https://github.com/elegantthemes/submodule-builder/commit/000cc741ed2566ee8d2c808f8456e6bee17ac61a to fix that issue. I'm copying the commit message here for reference:

***

[2017-02-22 14:30] fikrirasyid commented on #999
https://github.com/elegantthemes/submodule-builder/commit/f114664fcba9eae80c96508e3f5f59a4bf5a78f1 should've fixed this 👌

[2017-02-22 18:14] #999 closed

[2017-02-22 21:21] #932 closed

[2017-02-22 21:35] #912 closed

[2017-02-22 22:04] lots0logs opened #1000 "Uncaught TypeError: $et_pb_ab_goal.visible is not a function"
### Problem:

![2017-02-22_04-02-15-pm](https://cloud.githubusercontent.com/assets/4675662/23234663/636eae3a-f918-11e6-85d7-d969153a9b16.png)

### Steps To Reproduce:
1.  Edit an existing page using the VB.
2. Open the BB and set up a split test.
3. Switch to VB and check console.

## Attached PR

- https://github.com/elegantthemes/submodule-builder/pull/1755

[2017-02-22 23:09] timayhelen opened #1001 "Uncaught Error: Minified exception occurred"
While testing builder sync on our SiteGround hosting account, the following error occurred during VB sync:

![screen shot 2017-02-22 at 3 07 55 pm](https://cloud.githubusercontent.com/assets/3333028/23237096/c0432d6e-f910-11e6-8ba2-ceb6c6d7b6eb.png)

Here are the steps I took:

1. Open up an existing page in the VB.
2. Open the same page in the BB to initiate builder sync.
3. Create a split testin

[2017-02-22 23:14] timayhelen opened #1002 "Never-Ending BB Ajax Load. Impossible To Edit Page"
You can see the error by editing the following page in the BB:

http://elegantthemessiteground.com/wp-admin/post.php?post=80&action=edit

It's the homepage of our SiteGround hosting environment:

http://elegantthemessiteground.com/

### Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1758

[2017-02-22 23:41] timayhelen commented on #1001
note, this can currently be replicated by editing the following page in the BB, and then opening the same page in ta new tab in the VB:

http://elegantthemessiteground.com/wp-admin/post.php?post=1102&action=edit

One weird thing I notice is that, in the processes of switching between the VB and BB, even when no edits are made, browser backups are initiated by WP in the BB. So even just by opening

[2017-02-22 23:56] timayhelen opened #1003 "Blurbs Centered Orientation Doesn't Work"
1. Add a blurb module with the default "Centered" alignment.
2. Save the page and view on the front end.

All blurbs are aligned left instead.

Text alignment class is bugged:

![screen shot 2017-02-22 at 3 57 05 pm](https://cloud.githubusercontent.com/assets/3333028/23238600/96d4f118-f917-11e6-9aff-1f0c34872949.png)

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1760

[2017-02-23 00:02] timayhelen opened #1004 "Uncaught TypeError: Cannot read property 'et_slider_destroy'"
Not sure how I did this exactly, but I did nothing unusual and noting related to builder sync. This is what I did:

1. Edit a page in the BB.
2. Load Homepage Extended layout.
3. Enable split testing.
4. Select the Fullwidth Slider as the subject and the Call To Action as the goal.
5. Save the page.
6. Click the "Use Visual Builder" button (not in a new tab, just click it normally).

I got the Div

[2017-02-23 00:04] timayhelen commented on #1004
You can view this error right now by editing the following page in the VB:

http://elegantthemessiteground.com/wp-admin/post.php?post=1102&action=edit

[2017-02-23 00:15] timayhelen opened #1005 "Uncaught TypeError: Cannot read property '_onClick' of undefined"
I received this error while testing Split Testing and builder sync. All I did was:

1. Create a new page.
2. Enable the Divi Builder.
3. Load the Homepage Basic layout.
4. Publish the page.
5. Enable Split testing and select the Slider as your subject and the Call To Action module as your goal.
6. Open the VB in a new tab.

and the following error occurred in the VB:

![screen shot 2017-02-22 at 4

[2017-02-23 01:09] Jronk commented on #1002
Im unable to replicate this. I visit http://elegantthemessiteground.com/wp-admin/post.php?post=80&action=edit and its loading just fine. I did some edits, and refreshes, etc, and syncs, but this is not occurring for me.

[2017-02-23 01:13] Jronk commented on #1002
I was able to replicate another time, and here is what is happening:
![screen shot 2017-02-22 at 5 12 03 pm](https://cloud.githubusercontent.com/assets/1163441/23240388/1c0efaae-f922-11e6-86d1-13d55f448bd8.png)

Somehow, both "editing" cookies are set at the same time. (they have a 5 minute shelf life currently, fwiw)

[2017-02-23 02:03] fikrirasyid commented on #1000
Note: The issue is actually can be more consistently replicated if the  goal of the split test is number or circle counter because their VB components call `window.et_reinit_waypoint_modules();` on its `componentDidMount()`. For example:

[code]

Thus the complete steps are:

1. Open new page in BB
2. create layout above, publish
3. right click, open VB (dont focus on it), but give it few seconds

[2017-02-23 03:40] timayhelen commented on #1002
@Jronk Looks like you are right. This happened to me again and I was able to identify the double cookie et-editing-post cookie and the et-syncing-post cookie that wouldn't go away.

[2017-02-23 03:44] timayhelen opened #1006 ""An Autosave Exists" When I Have Never Edited The Page Before"
This happens to me quite often on master. On a completely new post that has just been saved and never been edited in the Visual Builder, the first time I open it in the Visual Builder I get asked to restore an Auto Save that should not exist. These are my steps:

1. Create a new page.
2. Enable the Divi Builder.
3. Load the Homepage Basic Layout
4. Publish the page.
5. Click the "Use Visual Builde

[2017-02-23 04:40] lots0logs opened #1007 "Uncaught Error: Cannot dispatch in the middle of a dispatch."
### Problem:

[code]

### Steps To Reproduce:
TBD...

### Attached PR
* https://github.com/elegantthemes/submodule-builder/issues/1757

[2017-02-23 04:53] lots0logs commented on #1005
@timayhelen I'm not able to reproduce this :thinking:

[2017-02-23 04:59] timayhelen commented on #1005
@lots0logs it happens quite randomly, as do most of these errors.

[2017-02-23 05:08] lots0logs commented on #1005
Noted. :dizzy_face:

[2017-02-23 05:41] timayhelen commented on #1005
@lots0logs I was on siteground hosting when I encountered the error.

[2017-02-23 05:48] timayhelen commented on #1006
I am able to replicate this quite often on the SiteGround account. Almost every time I open the VB for the first time I get greeted with the auto-save popup. Here is an example of me testing AB testing when it occurs on a new page:

![auto-save](https://cloud.githubusercontent.com/assets/3333028/23246460/90f68906-f948-11e6-88e1-09c65927b68f.gif)

[2017-02-23 05:48] lots0logs opened #1008 "Uncaught Reference Error: wpCookies is not defined"
### Problem:

![2017-02-22_11-46-22-pm](https://cloud.githubusercontent.com/assets/4675662/23246439/3264e53e-f959-11e6-8817-68ffffa0a8a2.png)

### Steps To Reproduce:
1. Create a new page, don't publish it.
2. Load Homepage Basic layout.
3. Open the VB in a new tab.
4. Notice error in console.

### Additional Information:
* Also notice that the page layout is as if the builder is not enabled for t

[2017-02-23 07:17] Jronk commented on #1002
yeah, that et-syncing-post cookie is the real root of the problem, but the two editing cookies is a symptom that is related the the syncing being there. This is most likely achievable if you close a tab/editor while its syncing. It will not get the chance to clear itself. So, the syncing cookie will linger for 5 mins.

The fix on https://github.com/elegantthemes/submodule-builder/pull/1758 shorten

[2017-02-23 10:54] fikrirasyid commented on #1001
@timayhelen @Jronk I've checked this issue and it appears that this ticket is basically https://github.com/elegantthemes/Divi-Beta/issues/1007 but happens on minified file. @lots0logs has submitted a fix for it https://github.com/elegantthemes/submodule-builder/pull/1757 which I have checked and reviewed at https://github.com/elegantthemes/submodule-builder/pull/1757#pullrequestreview-23434690. Ta

[2017-02-23 17:08] #1002 closed

[2017-02-23 17:09] #1003 closed

[2017-02-23 17:10] #1005 closed

[2017-02-23 17:11] #1007 closed

[2017-02-23 17:15] #998 closed

[2017-02-23 17:16] #1000 closed

[2017-02-23 17:17] #1004 closed

[2017-02-23 19:26] Jronk commented on #1006
I was able to replicate consistently using @timayhelen steps above, and now with the fix in PR it no longer occurs.

[2017-02-23 19:34] Jronk opened #1009 "Simply refreshing without changing produces browser autosave"
### Problem:

Originally from: https://github.com/elegantthemes/Divi-Beta/issues/1001#issuecomment-281842201

[2017-02-23 19:36] Jronk commented on #1001
I moved the "one issue left" from this issue to its own issue: https://github.com/elegantthemes/Divi-Beta/issues/1009

[2017-02-23 19:39] #1008 closed

[2017-02-23 19:58] Jronk commented on #1009
But, I am not able to reproduce (at least any more)... It could be that its been solved in the latest fixes. Also, this could be fixed via: https://github.com/elegantthemes/submodule-builder/pull/1766

[2017-02-23 20:00] lots0logs commented on #1009
I cannot reproduce now either.

[2017-02-23 20:14] timayhelen commented on #1009
Ok, closing for now. I am doing another round of testing and will open new issues if I find anything else.

[2017-02-23 20:14] #1009 closed

[2017-02-23 20:15] #1001 closed

[2017-02-23 20:23] #926 closed

[2017-02-23 20:27] #1006 closed

[2017-02-23 20:48] timayhelen opened #1010 "Divi Builder Shortcode Trimming & Sync Testing"
We will be performing a final round of in-depth module setting testing to confirm that the recent updates, including shortcode trimming and divi-builder sync, did not break any individual module settings. Every single settings for every single module should be tested to confirm that the shortcode trimming process, which occurs during save in the Visual Builder, as well as the syncing process betwe

[2017-02-23 21:03] timayhelen opened #1011 "Initial Split Test Syncing Does Not Work (Sometimes)"
1. Create a new page.
2. Enable the Divi Builder.
3. Load the Homepage Basic layout.
4. Publish the page.
5. Enable a split test with the Slider as the subject and Fullwidth Header as the goal.
6. Right click "Use Visual Builder" and open in a new tab.
7. The split test is not initiated in the Visual Builder.
8. Return to the BB tab to see the split test subject disappear, at this point things are

[2017-02-23 21:06] timayhelen opened #1012 "Editing Page In Backend Builder Causes Browser Backup Notification Mid-Sessions"
When editing a page in the Backend Builder, browser backup notifications always appear after ~30 seconds of editing. You must first publish the page.

1. Create a new page.
2. Enable the Divi Builder.
3. Load the Homepage Basic Layout.
4. Publish the Page.
5. Continually duplicate, edit and delete a module until the browser backup notification appears.

![browser-backup](https://cloud.githubuserco

[2017-02-23 21:16] timayhelen commented on #1012
Turns out this is unrelated to split testing. It occurs often when editing the page in the BB after builder sync has been used during the current editing session:

![browser-backup](https://cloud.githubusercontent.com/assets/3333028/23279484/4fa0be68-f9ca-11e6-8726-78137c06db78.gif)

[2017-02-23 21:21] timayhelen commented on #1012
Turns out initiating builder sync is not necessary to replicate this. Simply editing a page in the BB long enough will trigger a browser backup notification. Un-focusing the tab may still be involved.

[2017-02-23 21:24] lots0logs commented on #1012
@timayhelen Can you reproduce it on my test site?

[2017-02-23 21:43] timayhelen commented on #1012
@lots0logs It's quite easy to replicate. You can use these steps:

1. Create a new page.
2. Publish the page.
3. Edit some text on the page (such as a blurb title)
4. Leave the browser tab and come back to force a heartbeat.
5. Edit some text on the page again.

[2017-02-23 21:46] lots0logs commented on #1011
I'm unable to reproduce this (so far).

[2017-02-23 21:49] lots0logs commented on #1012
@timayhelen Followed those steps on the Siteground site and the issue did not occur :confused:

[2017-02-24 04:02] fikrirasyid commented on #1011
The steps to replicate this issue is almost exactly like https://github.com/elegantthemes/Divi-Beta/issues/932#issuecomment-281683476 which should've been fixed. I'll take a look on this

[2017-02-24 05:37] eduard-ungureanu opened #1013 "Siteground :: VB :: Row"
### Problem:

Setting a background video for a row will prevent any modules inside the row to be visible after leaving the VB.

Video:
https://drive.google.com/open?id=0B8PjD3Z_XQvuWlRsQ2FtRHN5MTA

This happens with any other modules:
![screen shot 2017-02-24 at 7 32 15 am](https://cloud.githubusercontent.com/assets/1719735/23291827/df79ce96-fa63-11e6-9369-b92234a0a511.png)
- in the image above th

[2017-02-24 05:50] eduard-ungureanu opened #1014 "Siteground :: VB :: Row :: Video background removal"
### Problem:

Removing the Video background from a row doesn't update the "visual" of that row, the video still playing even if I remove both mp4 and webm file in Row's Advanced Design Settings.

https://drive.google.com/open?id=0B8PjD3Z_XQvucnNpelhJWnJyQ2s

### Attached PR
* https://github.com/elegantthemes/submodule-builder/issues/1789

[2017-02-24 06:11] eduard-ungureanu opened #1015 "Siteground :: VB :: Section, Row Settings discrepancies"
### Problem:

There are some discrepancies between how the VB and the frontend render the video background.

This video will show more information:

https://drive.google.com/open?id=0B8PjD3Z_XQvua3NXVUlabkNMdTg

[2017-02-24 06:17] eduard-ungureanu opened #1016 "Siteground :: BB :: cannot enable Custom Gutters for a row"
### Problem:

In BB when I enabled the Gutters for a Row, the option to set the Gutters width doesn't show up:
https://drive.google.com/open?id=0B8PjD3Z_XQvuM2s0dDNGdFVkRFU

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1773

[2017-02-24 06:36] eduard-ungureanu opened #1017 "Siteground :: FB :: Tabs Module :: Tab Item (child items) :: Font Options"
### Problem:

Editing the font style options: Bold, Italic, Underline, Uppercase, in FB doesn't show which option is enabled and which is disabled, but saving the module, and checking in BB (the settings are synced and show properly.

https://drive.google.com/open?id=0B8PjD3Z_XQvuR0cyT3FHWDRMZWc

Same thing happens for the Body Font Options.

MacOs - Browsers:
- Chrome - latest version
- Safari -

[2017-02-24 06:47] timayhelen commented on #1017
Note: this only occurs for child items (the individual tabs)

[2017-02-24 06:53] eduard-ungureanu opened #1018 "Siteground :: BB :: VB :: Font Options order (B, U, I, TT)"
### Problem:

Not sure if this is important, but I've seen different order of Font Options between BB and VB:

BB font option order ( B, I, TT, U)
![screen shot 2017-02-24 at 8 48 00 am](https://cloud.githubusercontent.com/assets/1719735/23293357/6f49e4b6-fa6e-11e6-9f32-cf8d2127eaa8.png)

VB font options order (U, TT, I, B)
![screen shot 2017-02-24 at 8 47 34 am](https://cloud.githubusercontent.co

[2017-02-24 06:54] timayhelen opened #1019 "Toggling Tabs Initiates Heartbeat Even When Builder Sync Is Not Active"
We only need to force heartbeat when switching tabs if builder sync is active, otherwise it is not necessary.

### Attached PR
* https://github.com/elegantthemes/submodule-builder/issues/1767

[2017-02-24 07:20] eduard-ungureanu opened #1020 "VB :: Markdown"
### Problem:

By default in WordPress editor using Markdown keys to create different Heading levels works for example entering this in the Content Editor box `## Level 2 heading` will create a Level 2 heading, this also works in BB while for example in a Text Module, however, this doesn't work, in FB when editing the Text Module content, or when using the "in-page" edit option.

https://drive.goog

[2017-02-24 07:29] Jronk commented on #1012
I approve, see my comment on PR: https://github.com/elegantthemes/submodule-builder/pull/1768#issuecomment-282223320

[2017-02-24 07:29] eduard-ungureanu opened #1021 "VB :: Adding an empty text module"
### Problem:

If an empty text module is added to the page, it is not possible to add content using the "in-page" edit option. You have to open the module setting add some content, close the module setting, select the text and start typing the text you want to use.

### Steps To Reproduce:
1.  add a text module
2. don't add any content to it
3. try to add content using the "in-page" edit option

#

[2017-02-24 08:05] eduard-ungureanu opened #1022 "Siteground :: Saving layout in VB doesn't update the BB"
### Problem:

Not sure if this is an issue!

If I save the layout in VB go back to BB, the BB will update, exiting the FB and then in BB trying to leave the page, will ask me to Leave or Stay, shouldn't the Saving process from FB also save the layout in BB?

https://drive.google.com/open?id=0B8PjD3Z_XQvuMUVGaDkxcXRrbGs

[2017-02-24 08:17] eduard-ungureanu opened #1023 "Siteground :: FB :: Video module"
### Problem:

Extending the Settings Window, and then leaving the settings, it will make the controls bar to not fit the whole layout.

https://drive.google.com/open?id=0B8PjD3Z_XQvuYnFqWXBySGVPWTQ

[2017-02-24 08:30] eduard-ungureanu opened #1024 "VB :: Video Module :: Multiple Modules"
### Problem:

Having at least 2 video modules, with videos from youtube, if editing one module, the second one automatically plays.

https://drive.google.com/open?id=0B8PjD3Z_XQvuamFtcEJqX0tCdjg

[2017-02-24 08:37] eduard-ungureanu opened #1025 "Siteground :: FB :: Video Slider Module"
### Problem:

If the first video in the slider is a self-hosted video (both mp4 and webm are used) and an image is set as cover, the FB doesn't show the cover while editing the module, only the video player controls:

![screen shot 2017-02-24 at 10 35 33 am](https://cloud.githubusercontent.com/assets/1719735/23296329/248f9d94-fa7d-11e6-9ef8-950a9e10dbf9.png)

[2017-02-24 08:38] eduard-ungureanu commented on #1025
we can close this, it was my bad, I had the image overlay set to not show!

[2017-02-24 08:47] eduard-ungureanu opened #1026 "VB :: Full Width Header :: Scroll down arrow"
### Problem:

In VB the Scroll down arrow is not properly rendered.

https://drive.google.com/open?id=0B8PjD3Z_XQvuZS1jZ1pYdUdNSXc

Exiting the FB shows the correct icon for the arrow!

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1776

[2017-02-24 09:08] eduard-ungureanu opened #1027 "VB :: Full Width Section :: Video Background"
### Problem:

Setting up a video background doesn't properly fill the whole section:
https://drive.google.com/open?id=0B8PjD3Z_XQvuX09rbTI1VGVsbDQ

Exiting the VB the video will properly get applied filling the whole section.

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1798

[2017-02-24 09:26] eduard-ungureanu opened #1028 "VB :: Specialty Section"
### Problem:

Setting up a custom padding, for the second column in a specialty section only works for desktop, on tablets and mobile the custom padding doesn't get applied.

Layout:
[specialty-section.json.zip](https://github.com/elegantthemes/Divi-Beta/files/798804/specialty-section.json.zip)

Video:
https://drive.google.com/open?id=0B8PjD3Z_XQvuVlBVVnRudzF5MUk

## Attached PR
- https://github.c

[2017-02-24 11:10] #1022 closed

[2017-02-24 11:12] #1025 closed

[2017-02-24 12:12] FaycalBoutam opened #1029 "1&1 :: VB :: Gallery Module :: Issue when switching between slider and grid"
### Problem:

1 Add a gallery module.
2 Switch from grid to slider (works fine).
3 Switch back to grid (it doesn't change).

![116](https://cloud.githubusercontent.com/assets/16414613/23303151/59f6ef02-fa8a-11e6-9680-4acf4ef5332a.gif)

### Attached PR
* https://github.com/elegantthemes/submodule-builder/pull/1771

[2017-02-24 12:17] FaycalBoutam commented on #1029
Actually all options are not changing in the module configuration panel. They apply though.

[2017-02-24 12:32] #982 closed

[2017-02-24 12:45] kary4 opened #1030 "VB :: Audio Module :: Is Not Centered In Some Columns"
### Problem:

The buttons in Audio modules are right aligned in some column structure. For example try to add it into 1/4-3/4 columns.
![1artwork richard slechta - mozilla firefox](https://cloud.githubusercontent.com/assets/3352130/23303963/43ce49aa-faa8-11e6-9ac1-832b6971734c.jpg)

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1788

[2017-02-24 13:08] kary4 opened #1031 "BlueHost :: BB Never Stops Loading"
### Problem:

Honestly I can't say what exactly you should do to replicate this problem :( This problem occurs from time to time and I still cannot understand the exact reason, but definitely after I work on a page about 10-20 minutes I can see the Sync problem. You can see the issue in the screen cast below and you can see the javascript errors:

https://www.youtube.com/watch?v=rhxrvyv7Ag8

The t

[2017-02-24 13:37] FaycalBoutam opened #1032 "1&1 :: VB :: Map & FullWidth Map Modules :: Can't change the "Title" & "Map Pin Address field" fields"
### Problem:

![118](https://cloud.githubusercontent.com/assets/16414613/23305362/54978074-fa96-11e6-97e1-86e5a22d4537.gif)

[2017-02-24 13:38] #1031 closed

[2017-02-24 13:45] kary4 opened #1033 "VB :: Audio Module :: Styling issue on small screens"
### Problem:

Look at the volume control slider in the screen shot below. On small screens it should be the same styles, but right now it looks differently.

![1artwork richard slechta - mozilla firefox](https://cloud.githubusercontent.com/assets/3352130/23305588/9ed94cd4-fab0-11e6-8882-4ba98c18b7a4.jpg)

[2017-02-24 14:52] kary4 opened #1034 "Builder Sync :: Sync Does Not Work After Saving And Refreshing VB Page"
### Problem:
To reproduce the problem open two tabs: BB and VB. Then:
1. Go to VB and add some changes.
2. Save and refresh the page.
3. Go to BB tab.

You'll see the Sync in not functioning. It will work after you add new portion of changes.

### Attached PR
* https://github.com/elegantthemes/submodule-builder/pull/1770

[2017-02-24 18:32] Jronk opened #1035 "Autosave Fatal Error"
### Problem:
[code]

### Steps To Reproduce:
1.  Create new page, reg wp page, non builder
2. add title
3. add some text to content
4. admin-ajax.php request will 500 error

### Attached PR
* https://github.com/elegantthemes/submodule-builder/pull/1772

[2017-02-24 19:26] dm-chechik opened #1036 "DreamHost :: VB :: Switching between Visual and Html view causing layout changing"
### Problem:

I've tested the Person Module and have noticed the layout changing after switching between Visual and Html view of content field. In Visual mode just moved the curson by pressing down arrow.
![screen](https://cloud.githubusercontent.com/assets/20072036/23317563/fe6d1192-fadf-11e6-9b20-9da874939e72.gif)

**Page layout here** -> https://www.dropbox.com/s/gmi2lmflt9dna75/Divi%20Builder%

[2017-02-24 19:49] kary4 opened #1037 "BlueHost :: Bar Counter :: Window Closes After Text Selection"
### Problem:

This happens only when you try to select text using mouse (and you move arrow out of the module window settings). Screen cast:
http://youtu.be/S8iVfXXwX_U?hd=1

Test page:
http://elegantthemesbluehost.com/accordion/?et_fb=1

[2017-02-24 20:29] kary4 opened #1038 "Builder Sync :: Don't Sync Properly"
### Problem:

Some options vanish when you don't close up module settings and switch between VB/BB.

To reproduce:
1. Under VB add Bar Counter module.
2. Go to BB, open Bar Counter settigns > First Tab Settigns > Define Title > Close only the tab settings (not bar counter settigns)
3. Switch to VB, open Bar Counter settigns.
4. Switch to BB Save/Close Bar Counter settings.
5. Switch to VB. You can

[2017-02-24 20:50] dm-chechik opened #1039 "DreamHost :: VB :: Post Navigation :: Module settings do not work after enabling Hide Next Post Link"
### Problem:

After enabling the **Hide Next Post Link** setting the settings window does not respond.
![screen](https://cloud.githubusercontent.com/assets/20072036/23320456/e8c032fa-faeb-11e6-8a62-6674795ad27e.gif)

### Attached PR
* https://github.com/elegantthemes/submodule-builder/pull/1790

[2017-02-24 20:50] kary4 opened #1040 "VB :: Bar Counter :: Does Not Work"
### Problem:

Bar Counter Does not work at all if you define no values when you first create the module.

### Steps To Reproduce:
1.  Switch to VB and create Bar Counter module with some tabs and no values anywhere.
2. Switch to BB, wait for the Sync process.
3. Open Bar Counter settings and close it right away w/o adding any changes.
4. Switch back to VB. Now you can see the Bar's background is c

[2017-02-24 21:02] kary4 opened #1041 "VB :: Bar Counter :: Some Values Don't Get Applied"
### Problem:
I cannot apply some simple values (one digit, for ex.: 5 or 7) to the Percent field option. Though sometimes it work. In the screen cast below you can see that the Percent value reverts to 0 immediately after Mouse-down event when you try to save the changes.

Screen cast:
http://youtu.be/UaYYj57xSMI?hd=1

### Attached PR
- https://github.com/elegantthemes/submodule-builder/issues/179

[2017-02-24 21:18] timayhelen commented on #1041
I notice this too, and I don't notice it on the last Divi release.

![bar-counter](https://cloud.githubusercontent.com/assets/3333028/23321304/c0a66dbe-fa93-11e6-94bc-97eebb33b9d1.gif)

[2017-02-24 21:37] dm-chechik opened #1042 "DreamHost :: VB :: Post Navigation :: Border issue"
### Problem:

The border setting looks strange.
![image](https://cloud.githubusercontent.com/assets/20072036/23321845/45819eec-faf2-11e6-8eb7-4d26715004b5.png)

[2017-02-24 21:37] kary4 commented on #1041
@timayhelen are you sure you did not mean this issue instead: https://github.com/elegantthemes/Divi-Beta/issues/1037

[2017-02-24 21:52] dm-chechik commented on #1042
Turned out this appearance due to Line Height setting applied in pixels.
I'm not sure if it's a bug however if I do not specify the **px** units are added to the value.
Is that supposed to be EM value instead of PX by default for line-height value?

[2017-02-24 22:02] Jronk commented on #1039
This is fixed via: https://github.com/elegantthemes/submodule-builder/pull/1771

[2017-02-24 22:15] kary4 opened #1043 "VB :: Bar Counter :: Background color"
### Problem:
Background color does not get applied at the first attempt. It works good if try it again :)

Screen cast:
http://youtu.be/NqGg5r4ChzA?hd=1

### Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1775

[2017-02-24 22:30] dm-chechik opened #1044 "DreamHost :: VB :: Post Title :: Parallax Effect setting is not synchronized"
### Problem:

![screen](https://cloud.githubusercontent.com/assets/20072036/23323506/edc9181c-faf9-11e6-8b5b-f883ae72caf8.gif)

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1779

[2017-02-24 22:34] kary4 opened #1045 "VB :: Bar Counter :: Double Animation"
### Problem:

When you refresh the VB page the Bar Counter animation initializes two times.

To reproduce the problem:
1. Add a Bar Counter module and add some changes.
2. Wait for wordpress heartbeat to get an autosave.
3. Refresh the page.
4. When the page loads select Restore.

Screen cast:
http://youtu.be/4ad6Ms5sqyA?hd=1

[2017-02-24 23:03] kary4 opened #1046 "VB :: History Buttons Breaks Down VB"
### Problem:

So, when I add some changes, for example to blog module, then close the module and open Sections Module settings and click the Next/Prev changes button it breaks everything.

Screen cast:
http://youtu.be/0mJDrXi4kQA?hd=1

### Attached PR
* https://github.com/elegantthemes/submodule-builder/issues/1778

[2017-02-24 23:05] dm-chechik opened #1047 "DreamHost :: VB :: Responsive settings toggle issue"
### Problem:

It's hard to explain. The issue occurs especially trying to switch between device layouts on neighboring settings like Maring/Paading and so on.
The screencast has recorded using Post Slider Module.
![screen](https://cloud.githubusercontent.com/assets/20072036/23324421/bb3bd27c-fafe-11e6-8e45-8ab704721f75.gif)

### Attached PR
- https://github.com/elegantthemes/submodule-builder/issu

[2017-02-24 23:31] kary4 commented on #1045
Same for Blog Module here:
http://elegantthemesbluehost.com/blog-page/?et_fb=1

[2017-02-24 23:47] dm-chechik opened #1048 "DreamHost :: VB :: Post Slider :: Add Button Icon setting syncronized incorrectly"
### Problem:

The **Yes** setting value is displayed as **Default** in BB.
![screen](https://cloud.githubusercontent.com/assets/20072036/23325220/c9511aba-fb04-11e6-99d5-824d4ecae7a4.gif)

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1777

[2017-02-25 00:14] kary4 opened #1049 "VB :: Color Picker :: Jumps Up And Down"
### Problem:

It's a huge inconvenient while you are experimenting with an option it jumps up and down because of the color picker box you opened earlier. It's a bit hard to explain but if you check the screen cast below you'll get the idea:
http://youtu.be/Kea7sCQ4HK0?hd=1

Based in my experience I can say it's really inconvenient.

It's better to not close the color picker box or close it immedi

[2017-02-25 00:32] kary4 opened #1050 "VB :: Blog Module :: Before CSS Element Can't Be Used"
### Problem:

It's not possible to apply any code to the Before element because Divi uses its own code there and it seems it's not possible to override it. Here is the divi's code:

[code]

[2017-02-25 00:44] #1049 closed

[2017-02-25 00:48] kary4 opened #1051 "VB :: Export :: Problem After Exporting Layout"
### Problem:

Switch to the Mobile view and then try to export a json file. You'll see how the layout in VB chagnes.
Screen cast:
http://youtu.be/VEyKY_Cip80?hd=1

[2017-02-25 00:51] lots0logs commented on #1039
@Jronk After adding a Post Nav Module to the layout the entire tab hangs indefinitely.

[2017-02-25 00:56] lots0logs commented on #1029
@Jronk This issue is fixed by your PR. But please see my comment here: https://github.com/elegantthemes/Divi-Beta/issues/1039#issuecomment-282444556

[2017-02-25 01:09] lots0logs opened #1052 "VB :: Post Nav Module :: PHP Notice: Trying to get property of non-object"
### Problem:

[code]

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1774

[2017-02-25 04:51] #1032 closed

[2017-02-25 04:55] #1033 closed

[2017-02-25 04:55] #1036 closed

[2017-02-25 04:55] timayhelen commented on #1037
@kary4 Can you replicate this consistently? I can't seem to.

[2017-02-25 04:57] fikrirasyid commented on #1052
Steps to replicate the issue:

Add new page, activate builder
Add post navigation module
Right click + open new page on Use Visual Builder button.
The error occurs

[2017-02-25 04:57] timayhelen commented on #1045
@kary4 Does this only occur when restoring a backup?

[2017-02-25 06:38] SlavaET commented on #1046
I referenced this issue by mistake in first place. I haven't had a chance to work on it yet.

[2017-02-25 11:11] kary4 commented on #1037
@timayhelen Yes, I can, at least on the test page I posted above. Here is it again:
http://elegantthemesbluehost.com/accordion/?et_fb=1

Just open the first tab in the Bar Counter module settings try to select select a value (even it's empty) in the percentage module. Here is one more screen cast if you need:
http://youtu.be/RpOD6XZLkkI?hd=1

Though you are correct, if I now try to create a new pa

[2017-02-25 11:12] kary4 commented on #1045
@timayhelen Yeah, that's correct. It's important to select Restore when you refresh the page.

[2017-02-25 14:07] dm-chechik opened #1053 "DreamHost :: VB :: Pricing Tables :: Custom button icon appearance"
### Problem:

This is minor bug however I've noticed the button icon is not aligned on tablet and mobile view in VB.
![screen](https://cloud.githubusercontent.com/assets/20072036/23331727/c5d3ad12-fb7c-11e6-8655-787663f389a5.gif)

[2017-02-25 14:29] kary4 commented on #1046
Probably the following problem is related to this one: Everything disappears when I use History button under BB.
Screen cast:
http://youtu.be/hg-WOP8MVyY?hd=1

[2017-02-25 14:45] kary4 opened #1054 "VB :: Cannot Remove Padding Values In Mobile/Tablet View"
### Problem:

The padding value always reappear itself or when you try to modify for ex. left-padding it remove all other padding. All fields are buggy.

Screen cast:
http://youtu.be/ARQvy2ObTq8?hd=1

### Steps To Reproduce:
1.  Define left and right padding to a row module by dragging the row lines using Visual Builder.
2. Switch to Mobile View.
3. Now open the Row Settings and try to redefine th

[2017-02-25 15:00] kary4 opened #1055 "VB :: Padding Disappears"
### Problem:

In the following situation Padding Row padding disappears.
Screen cast:
http://youtu.be/SwkinMuWmq0?hd=1

### Steps To Reproduce:
1.  Add a row under VB and define some padding (in my case left and right padding).
2. Open Row module settings.
3. And close the settings right away by clicking the Red (Disregard all changes) button.
4. The padding disappears even though you did not add

[2017-02-25 15:44] kary4 opened #1056 "VB :: Button Module :: Hover Letter Spacing"
### Problem:
It's small problem actually. Hover Letter Spacing option behaves a bit incorrectly. If you don't touch the option it display that you can change the option from 0 (zero). But once you try to increase the value by moving the slider you cannot get 0 (zero) value again. It goes to 1px minimum. To fix it you have to define 0px manually and then it starts working correctly.

To see what ex

[2017-02-25 16:02] kary4 opened #1057 "VB :: Button Modules :: Cannot save changes"
### Problem:
It's a big problem with button modules. Actually no matter if I add any changes or not.. It goes wrong once you close Button Settings window (no matter what you click Disregard Changes or Save). Also, if you save the page and preview you can see nothing.

Screen cast:
http://youtu.be/pjLWjamDvPQ?hd=1

### Steps To Reproduce:
1.  Just add a button module and close the settings window.

[2017-02-25 16:18] kary4 opened #1058 "VB :: CTA Module :: Body Font Options apply to Header"
### Problem:
Body font options affect the Header in CTA module.

Screen cast:
http://youtu.be/6P5cxhxUtI8?hd=1

[2017-02-25 18:41] timayhelen commented on #1057
I notice another weird thing.

1. Add a new button module.
2. Change the Button URL to http://google.com and do nothing else.
3. Click the green checkmark.
4. Save the page.
5. View on the front-end.

The button text becomes the button URL. If you go back and apply custom button text, then it fixes it.

[2017-02-25 18:42] #1058 closed

[2017-02-25 18:46] timayhelen commented on #1054
@fikrirasyid FYI this is not a new bug. It probably dates back to when we worked on all the padding stuff.

[2017-02-25 19:59] kary4 opened #1059 "VB :: CTA :: Text Reappears After You Remove It"
### Problem:

I'm assuming this is not only in CTA module. When you add some changes to the text in a text editor directly (don't use Module Settings Window) it works good. But once you open Module Settings and click the Discard Changes it also affects the text you changed earlier. It seems the events should not be related.

Screen cast:
http://youtu.be/O2PEzHqnWQk?hd=1

### Attached PR
- https://

[2017-02-25 20:39] dm-chechik opened #1060 "DreamHost :: VB :: BB :: Pricing Tables :: Different Excluded Item Color setting placement"
### Problem:

Here is the setting is located at the beginning of the Design Settings list.
![image](https://cloud.githubusercontent.com/assets/20072036/23334488/f2b497e0-fbb0-11e6-88fb-0645406d66b9.png)

In BB the setting is located at the end of Design Settings list.
![image](https://cloud.githubusercontent.com/assets/20072036/23331749/4d0d56de-fb7d-11e6-9743-93592438644c.png)

[2017-02-25 21:09] kary4 commented on #1059
I just noticed that this also happens even you apply some padding and then Open>Close any module it removes all the changes (padding).
Screen cast:
http://youtu.be/nckQFGqxyYM?hd=1

[2017-02-25 21:20] dm-chechik opened #1061 "DreamHost :: VB :: BB :: Pricing Tables :: Advance Design Settings different order"
### Problem:

The main color settings located at the beginning of the list in VB, however in BB they are located at the end of the list.
![image](https://cloud.githubusercontent.com/assets/20072036/23334837/5d9da450-fbb8-11e6-98f1-cc24b8b88e7f.png)

![image](https://cloud.githubusercontent.com/assets/20072036/23334875/65fb4f20-fbb9-11e6-951c-650e39b0c06a.png)

[2017-02-25 21:34] kary4 commented on #1045
Here is another way to replicate similar problem: Just play with the top-padding in Visual builder and quickly hover over the bar counter module.
Screen cast:
http://youtu.be/qj6MHWwslL0?hd=1

[2017-02-25 21:40] kary4 opened #1062 "VB :: Bar Counter :: Jerky Animation"
### Problem:

If you add both Bar Counter and Circle counter then the animation in the Bar Counter does not work smoothly. Check the screen cast below how it works with and without Circle Counter module added:

http://youtu.be/Cbc7a7Visic?hd=1

[2017-02-25 21:42] #1062 closed

[2017-02-25 22:17] kary4 opened #1063 "VB :: Locked Module :: Does Not Lock under VB"
### Problem:
If I understand correctly this exact problem was fixed and merged recently (https://github.com/elegantthemes/submodule-builder/pull/1746). I just checked this feature again. It still does not work correctly. For example for Blog module it works good but for Button module it does not work.

And some questions if you don't mind:
1. Why some Locked module icons are Red and some Green? (Y

[2017-02-25 22:56] kary4 opened #1064 "VB :: Comments Module :: No Reply Button"
### Problem:

The option Show Reply Button simply does not work. No reply button appears.

Screen cast:
http://youtu.be/v5wSm0LJWjA?hd=1

[2017-02-25 23:11] dm-chechik opened #1065 "DreamHost :: VB :: Sudden layout disappearing"
### Problem:

I've noticed the sudden layout disappearing when creating page from scratch. The issue appears while adding columns or/and module without touching any settings. Just wait a few seconds and layout disappears by itself.
http://screencast-o-matic.com/watch/cbnT0V6YsD

[2017-02-25 23:34] dm-chechik commented on #1065
It seems the issue occurs even while adjusting module settings. I've successfully reproduced it while editing Shop Module.
http://screencast-o-matic.com/watch/cbnT0y6YMo

[2017-02-26 00:24] timayhelen commented on #1065
This has already been fixe don the latest version.

[2017-02-26 00:24] #1065 closed

[2017-02-26 19:49] dm-chechik opened #1066 "DreamHost :: VB :: Slider :: Controls disappearing after adding video to a slide"
### Problem:

Syncronizing feature works well, on front end I see the video on the slide, however VB don't show any slider controls.
![screen](https://cloud.githubusercontent.com/assets/20072036/23343044/d7381670-fc75-11e6-91b5-16358af9c90f.gif)

[2017-02-26 20:57] dm-chechik opened #1067 "DreamHost :: VB :: Slider :: Unwanted video redrawing"
### Problem:

After adding a video to the slide, the video redraws every time something changes. I've recorded the video where video redraws after each inputted symbol in Image Alt text.
![screen](https://cloud.githubusercontent.com/assets/20072036/23343596/413e0a6c-fc7f-11e6-8d7d-f55798cf7a75.gif)

[2017-02-26 23:55] lots0logs commented on #1066
@dm-chechik The controls should show once you save/close the settings modal and hover over the slider. Let us know if that's not the case.

[2017-02-27 06:33] SlavaET commented on #1047
Fixed. The simple way to reproduce the issue:
1) Open module settings which contains Text or Range option with Responsive settings ( like `Post Slider` from above example );
2) Activate the Responsive option ( it can be either Text option like Top Padding or Range option, like font-size );
3) Use the main switcher in VB App ( the one in the left bottom corner of the screen ) to toggle the preview

[2017-02-27 07:09] SlavaET opened #1068 "VB :: Empty Specialty Section with Empty Row breaks the VB"
### Problem:

VB cannot be loaded if layout contains an empty Specialty Section with empty Row inside. It fails with the following error in console:
![image](https://cloud.githubusercontent.com/assets/3446682/23351805/97e74996-fced-11e6-88c5-acb98ae34c9c.png)

### Steps To Reproduce:
1. Open Visual Builder;
2. Add Specialty Section;
3. Add 4_4 Row inside that section ( Don't add any modules );
4.

[2017-02-27 09:20] SlavaET commented on #1057
Fixed. I removed default values which were wrongly applied in VB for the button module and now it behaves exactly as on Frontend, i.e.:
1) There is no default values for URL and Text in the Button module;
2) If you define no URL and no Text - button won't appear;
3) If you define URL and no Text - button will appear and Text of the button equals to URL;
4) If you define URL and Text - button will

[2017-02-27 10:09] SlavaET commented on #1015
@eduard-ungureanu can you please check it in the latest version of master? It seems to work fine for me. If you still see the issue - please share the page layout you're testing and I'll take a look. Probably I'm missing some settings.

[2017-02-27 11:09] SlavaET commented on #1055
This issue is similar to https://github.com/elegantthemes/Divi-Beta/issues/1059
But I fixed it in a new PR because this code is located in a different place.

[2017-02-27 11:29] lceberg commented on #1056
This seems to affect all the range sliders in FB that don't have their default settings explicitly set.

[2017-02-27 12:44] eduard-ungureanu commented on #1015
@SlavaET the test was done on the sharing account on siteground, I can use the latest master on my local server, but I think we should update the siteground account with that latest master, to make sure we do a proper check, what do you think?

[2017-02-27 12:54] SlavaET commented on #1015
Hm, so you cannot reproduce the issue on your localhost?

[2017-02-27 15:46] lots0logs commented on #1019
@Jronk Here's the steps I took to test this:

1. Clear browser cache and cookies.
2. Create a new page with the Homepage Basic Layout in the BB.
3. Open the VB in a new tab.
4. Delete one of the Blurb Modules.
5. Switch back to the BB's tab.

I get a spinner on the BB for what feels like longer than normal. Once the spinner is removed, I see that the change I made in the VB did not sync to the BB

[2017-02-27 16:15] lots0logs opened #1069 "PHP Notice: Undefined Index"
### Problem:

[code]

[2017-02-27 17:29] lots0logs commented on #1069
Duplicate of elegantthemes/Divi#2703

[2017-02-27 17:29] #1069 closed

[2017-02-27 18:50] timayhelen commented on #1034
@Jronk This doesn't seem to work for me, following Karen's steps. Does this fix a different issue?

![sync](https://cloud.githubusercontent.com/assets/3333028/23374746/757ebc08-fcda-11e6-9cc4-7dd582886c88.gif)

[2017-02-27 18:51] #1035 closed

[2017-02-27 18:53] #1012 closed

[2017-02-27 19:11] timayhelen commented on #1046
@lots0logs This breaks pretty much all settings in the VB. They do not work until the settings modal is re-rendered. This should be heavily tested since the repercussions are apparently pretty broad.

![lag](https://cloud.githubusercontent.com/assets/3333028/23375468/5c55ff04-fcdd-11e6-9d9a-c341fdf1d8d6.gif)

[2017-02-27 19:40] timayhelen commented on #1063
@lceberg I thought of something else, we need to disable some keyboard shortcuts as well. For example, it's still possible to copy a module from one row into a locked row.

[2017-02-27 20:25] lots0logs commented on #1046
@timayhelen Turns out that I didn't commit the last change I made when I was testing the fix the other night :doh:

[2017-02-27 20:46] #1010 closed

[2017-02-28 00:07] Jronk commented on #1039
Thanks @lots0logs, fixed. See new PR

[2017-02-28 01:39] Jronk commented on #1029
Saw the comment, fixed in https://github.com/elegantthemes/submodule-builder/pull/1771, thx

[2017-02-28 01:40] #1068 closed

[2017-02-28 01:41] #1013 closed

[2017-02-28 01:41] #1044 closed

[2017-02-28 01:41] #1048 closed

[2017-02-28 01:42] #1026 closed

[2017-02-28 01:43] #1016 closed

[2017-02-28 01:46] Jronk commented on #1052
I fixed this in a different way, didnt see this ticket... See https://github.com/elegantthemes/submodule-builder/pull/1790/commits/495ddc1a32ae6e1fad2bde8d56bd37727c39cd30

[2017-02-28 01:47] #1043 closed

[2017-02-28 01:49] #1047 closed

[2017-02-28 01:49] #1057 closed

[2017-02-28 01:50] #1014 closed

[2017-02-28 01:52] #1046 closed

[2017-02-28 01:56] #1052 closed

[2017-02-28 05:10] SlavaET commented on #1017
I cannot reproduce this issue in the latest master. I can see it on siteground website, but looks like it's not the latest version of master installed there.
@lots0logs can we update the theme on siteground to make sure it works there as well?

[2017-02-28 05:27] lots0logs commented on #1017
@SlavaET I can still reproduce it on `master`. Check out the tabs module on the homepage of my test site: http://et.falgout.us/divi

[2017-02-28 06:35] Jronk commented on #1034
@timayhelen I am able to reproduce my fix over and over, so i'm not sure how you are able to get your results in above gif. (I literally copied your exact moves, including using keyboard commands to save and refresh, and used same layout, made same changes etc.) I updated the PR branch to include latest master as well, and re-pushed, so give it another try? :shrug:

branch: `1034-builder-sync-sync

[2017-02-28 06:56] Jronk commented on #1019
@lots0logs fixed. The normal syncing works, and the preventing of syncing works. There was a typo in the cookie name :man_facepalming:

[2017-02-28 07:10] SlavaET commented on #1041
It should be fixed in scope of this ticket - https://github.com/elegantthemes/Divi-Beta/issues/1040

[2017-02-28 07:38] fikrirasyid commented on #1054
@timayhelen @kary4 I've fixed the issue at https://github.com/elegantthemes/submodule-builder/pull/1792.

I'm copying the PR message below for reference:

[2017-02-28 07:43] fikrirasyid commented on #923
This has been fixed on latest master, particularly on this PR: https://github.com/elegantthemes/submodule-builder/pull/1703

[2017-02-28 10:21] fikrirasyid commented on #964
@SlavaET can you take a look at https://github.com/elegantthemes/submodule-builder/pull/1793? I think this one is a missing edge case of https://github.com/elegantthemes/Divi-Beta/issues/816 that you worked on previously.

[2017-02-28 10:57] fikrirasyid commented on #1038
This is actually happens because how BB and VB work:

1. On VB, every change mutates the layout object and immediately queued for immediate heartbeat
2. On BB, the shortcode layout is re-generated (and later queued for heartbeat + saved for history) when modal setting is closed by clicking the `Save & Exit` button.

The most possible way to fix this (that can think of right now) is by regenerating

[2017-02-28 12:29] lceberg commented on #1063
@timayhelen The latest few commits address that - locked modules can no longer be cut/copied/pasted and any modules can no longer be cut/copied/pasted from and into locked modules.

[2017-02-28 17:14] SlavaET commented on #1017
Was able to reproduce the issue locally and found the root cause.
Btw, it happens with any setting ( except for the Content of tab ) not only with font options.

[2017-02-28 17:56] lots0logs commented on #1038
@fikrirasyid Could we simply trigger the BB's modal to Save/Close automatically when it loses focus (instead of the current behavior which simply closes it when it regains focus)?

[2017-02-28 18:04] #923 closed

[2017-02-28 18:48] lots0logs commented on #1015
That behavior is to be expected. You have two disabled modules in that section. The VB displays disabled modules while the frontend does not (for obvious reasons). The disabled modules being displayed in the VB make the height of the section much greater than it actually is on the frontend.

[2017-02-28 18:48] #1015 closed

[2017-02-28 19:04] lots0logs opened #1070 "Builder :: Tabs Module :: Font Style Settings For All Tabs Overrides Individual Tab Settings"
@lots0logs commented on [Fri Jan 27 2017](https://github.com/elegantthemes/Divi/issues/2783)

### Problem:

The font style settings for individual tabs (child modules) should override the font style settings applied to all tabs in the parent module.

### Attached PR
- https://github.com/elegantthemes/submodule-builder/issues/1797

[2017-02-28 19:06] lots0logs commented on #1017
The font styles for individual tabs get overridden by the styles set in the parent module. I don't think its directly related to this fix so I created #1070 for it.

[2017-02-28 19:23] lots0logs commented on #1040
@SlavaET Following the steps to reproduce provided by @kary4 I'm seeing the following error in the browser console:

Uploading images on github is down soooo Dropbox to the rescue :smiley:

https://www.dropbox.com/s/eljd7px9ze984y3/2017-02-28_01-20-54-PM.png?dl=0

[2017-02-28 20:04] timayhelen opened #1071 "Tabs Small Column Styles Broken"
The tab's size and content padding is off when tabs are placed inside of a 1_3 or 1_4 column.

### Attached PR
* https://github.com/elegantthemes/submodule-builder/issues/1796

[2017-02-28 20:10] timayhelen commented on #1034
Seems to be working for me now.

[2017-02-28 21:41] lots0logs opened #1072 "Firefox :: Can't edit the fullwidth header module when you have a transparent navigation."
@FaycalBoutam commented on [Tue Feb 28 2017](https://github.com/elegantthemes/Divi/issues/2860)

### Problem:

This is fixed and working on Chrome, but with Firefox (Win 10) I can not edit my fullwidth header module. It's also occurring with the slider/fullwidth slider modules:

This is Chrome (works okay):
http://demo2.elegantthemes.info/wp-content/uploads/sites/10/2017/02/1.gif

This is Firefox

[2017-02-28 22:17] lots0logs commented on #1071
**Note:** I had to manually remove the stylesheet to get webpack to include the changes in this PR:

`frontend-builder/assets/css/style.css`

[2017-03-01 00:08] fikrirasyid commented on #1038
@lots0logs can you elaborate more on that? I don't quite get it yet 🤔

[2017-03-01 00:21] lots0logs commented on #1038
@fikrirasyid Sure. Currently in the BB, how it works is that no changes made in the module settings are actually processed until the user Saves/Closes the settings modal. If the browser tab loses focus while the Module Settings modal is displayed, could we automatically process the changes to the settings as if the user would have Saved/Closed the modal before switching to another browser tab?

[2017-03-01 00:27] Jronk commented on #1040
Errors fixed

[2017-03-01 00:54] lots0logs commented on #1040
@Jronk When you move the module to another place in the layout (in VB) it clears the values (the percentages)

[2017-03-01 01:16] lots0logs commented on #1055
@SlavaET Could you fix merge conflicts? Thanks!

[2017-03-01 01:16] lots0logs commented on #1059
@SlavaET Could you fix merge conflicts? Thanks!

[2017-03-01 01:17] lots0logs commented on #1055
@SlavaET Could you fix merge conflicts? Thanks!

[2017-03-01 01:42] lots0logs commented on #1063
@lceberg Could you fix merge conflicts? Also regarding this:

I think **Copy/Paste** is fine (so long as it's pasted into a non-locked module). We should prevent **Cut** though.

[2017-03-01 03:31] SlavaET commented on #1055
@lots0logs done.

[2017-03-01 05:10] SlavaET commented on #1070
Corrected the selectors for individual tabs font options.
As for the `Underline`, `Uppercase`, `Italic`, `Bold` - these can be overriden only if disabled in parent module, i.e. once you enable one of those options for parent there is no way to disable it for child module. It's a general issue with all modules in Divi and right now there is no mechanism to override enabled font option from above li

[2017-03-01 05:39] fikrirasyid commented on #1038
@lots0logs I see, it might work but I kinda worry about the lag because it takes quite time to rebuild the shortcode layout especially if the layout is complicated 🤔

[2017-03-01 06:04] fikrirasyid commented on #913
@websbyjd have you tried activate the responsive mode of the padding first? This is actually exists on current version, however you need to activate the responsive mode first. So, a little background:

1. We improved the way responsive value works
2. Basically, responsive inputs values (tablet, phones) will only be used if its responsive mode is activated which is indicated by toggled on tabs
3. I

[2017-03-01 06:39] lots0logs commented on #913
+1 from me :smiley:

[2017-03-01 06:43] lots0logs commented on #1038
@fikrirasyid

Sounds like a quick experiment is warranted :thinking:

[2017-03-01 07:22] #1030 closed

[2017-03-01 07:32] #1029 closed

[2017-03-01 07:32] #1039 closed

[2017-03-01 07:33] #1017 closed

[2017-03-01 07:33] #1034 closed

[2017-03-01 07:34] #1019 closed

[2017-03-01 08:57] fikrirasyid commented on #913
@lots0logs it feels intuitive indeed but there is one thing that kinda bothers me: activating responsive mode is intentional and I don't have any idea whether user wants to activate responsive mode or not when dragging padding UI 🤔

[2017-03-01 10:03] lots0logs commented on #913
@fikrirasyid I think when the user is dragging padding while in responsive preview mode they expect the padding to be applied to the breakpoint they are previewing :philosoraptor:

[2017-03-01 10:25] fikrirasyid commented on #913
@lots0logs i see, i start to see your point. Let's automatically activate responsive mode if user drags padding on mobile breakpoint.

[2017-03-01 11:25] fikrirasyid commented on #913
@lots0logs @websbyjd I've submitted a PR which automatically activate responsive mode when padding UI is being dragged on mobile breakpoint.

![913-fixed](https://cloud.githubusercontent.com/assets/916442/23457835/1c94512e-feac-11e6-966e-38cff2232739.gif)

[2017-03-01 12:19] lceberg commented on #1063
@lots0logs Merge conflicts are resolved. Locked modules can now be copied (not cut) and pasted in non-locked sections.

[2017-03-01 16:44] fikrirasyid commented on #1038
@lots0logs I've been exploring your suggestion for and try implementing it but it appears that my concern is correct. I don't think it's possible to implement what you mentioned at https://github.com/elegantthemes/Divi-Beta/issues/1038#issuecomment-283204541 due to the lag of generating shortcode layout. In details:

1. What you suggested can be done by adding mouseleave events for `ET_PageBuilder

[2017-03-01 18:34] #1011 closed

[2017-03-01 19:56] timayhelen commented on #908
@lceberg Can you merge master back into this PR? I want to test it with our latest updates.

[2017-03-01 20:05] timayhelen commented on #939
I actually can't seem to replicate this in master anymore. Can anyone else?

[2017-03-01 20:42] lceberg commented on #908
@timayhelen master is now merged into the PR.

I saw an issue with dragging and dropping videos that is present now. 😓
Please let me know if you get the change to review and see anything else.

[2017-03-01 22:11] lots0logs commented on #939
@timayhelen https://elegantthemes.slack.com/archives/D0KCFUGG6/p1488406219771969

[2017-03-01 22:18] lots0logs commented on #1038
@fikrirasyid We could use yet another cookie to inform the FB that it should throw its spinner and wait for the BB to finish up. This would only apply when the BB settings modal is opened at the time the user switches tabs. We'd also need to implement a flag so that the forced autosave doesn't occur when the settings modal is opened. Instead, the settings modal will initiate the autosave after it

[2017-03-01 22:41] lots0logs commented on #1027
@fikrirasyid Please see my review. Thanks!

[2017-03-01 22:46] lots0logs commented on #1055
@SlavaET Could you check this again. Looks like you applied the change to the wrong place. That code block was moved recently, it starts on [this line](https://github.com/elegantthemes/submodule-builder/pull/1785/files#diff-3d118346b9153b174ee444572afed18dR3783) now.

[2017-03-01 23:06] lots0logs commented on #1063
@lceberg

**BB:**
* Copy/Paste doesn't work using keyboard shortcuts.

**VB:**
* Copy/Paste doesn't work using keyboard shortcuts.
* Copy option isn't presented in the right-click menu either.

[2017-03-01 23:20] fikrirasyid commented on #1038
@lots0logs about this:

Is this still related to sync when cursor leaves the tab? If we're using this route, i think the spinner will appear quite long it becomes uncomfortable to way because it starts to sync late (sync late, spinner appear longer). I personally think it'd be much more seamless if we sync early and sync often, which is on input change / blur. My main concern with this route is th

[2017-03-01 23:27] lots0logs commented on #1038
That is my main concern as well.

I think switching tabs while editing module settings in the BB without actually saving those settings yourself  first is not going to be a common workflow. Most people will save and close the modal themselves anyway.

Is the BB's shortcode generation process 100% client-side? I cant remember if it calls the server for anything, but if it does then I think doing it

[2017-03-01 23:45] timayhelen commented on #1038
@lots0logs @fikrirasyid I don't think we need to worry about this. It's a "low priority" "improvement" so it's already at the bottom of our list, so we shouldn't bother fixing it unless there are no other bugs to fix, and if it's an easy fix.

[2017-03-01 23:55] fikrirasyid commented on #1038
@timayhelen noted. Let's revisit this when all higher priority issues has been fixed.

@lots0logs about this:

Yes it is. We directly generate the shortcode and insert it to the hidden main wp editor.

[2017-03-02 00:23] fikrirasyid commented on #1027
@lots0logs replied. Thanks!

[2017-03-02 00:38] Jronk commented on #1040
@lots0logs fixed the drag bug 😌

[2017-03-02 00:40] #994 closed

[2017-03-02 00:43] #1059 closed

[2017-03-02 00:44] #1056 closed

[2017-03-02 00:49] #993 closed

[2017-03-02 00:52] #1071 closed

[2017-03-02 00:53] #1027 closed

[2017-03-02 00:54] #1054 closed

[2017-03-02 01:12] lots0logs commented on #1040
@Jronk After following the steps to reproduce this issue, any bar counter children modules that you created quit responding to settings changes in the VB. However if you add new children they work just fine (until you switch to the BB and back again).

[2017-03-02 02:03] #1041 closed

[2017-03-02 02:04] Jronk commented on #1040
https://github.com/elegantthemes/submodule-builder/pull/1791 was merged as it successfully fixed https://github.com/elegantthemes/Divi-Beta/issues/1041. A new PR needs to be created to fix this issue.

[2017-03-02 03:00] fikrirasyid commented on #933
@timayhelen can you still replicate this issue? I've tested this on `master` and it appears that this issue is no longer exist:

![933-issue](https://cloud.githubusercontent.com/assets/916442/23491137/f89adeae-ff2e-11e6-9896-fea0b1f34497.gif)

[2017-03-02 03:21] lots0logs opened #1073 "PHP Errors"
### Problem:

[code]

### Steps To Reproduce:
1.  Possibly coming from something on Homepage Extended or Basic Premade Layouts

### Attached PR
* https://github.com/elegantthemes/submodule-builder/issues/1802

[2017-03-02 03:36] SlavaET commented on #1055
@lots0logs yes, you're right. Corrected it now.

[2017-03-02 03:50] lots0logs opened #1074 "VB Does Not Sync On Initial Load"
### Steps To Reproduce:
1. Create a new page.
2. Load a layout.
3. Publish the page.
4. Delete a module.
5. Now wait for the first heartbeat to run in the BB.
6. After the first heartbeat has run, open the VB in a new tab.
7. The VB does not sync.

### Attached PR
* https://github.com/elegantthemes/submodule-builder/issues/1801

[2017-03-02 03:50] lots0logs opened #1075 "Builder Sync Spinnder Loads For ~20sec Until First Heartbeat"
### Steps To Reproduce:
1. Create a new page in the BB.
2. Load a layout.
3. Publish the page.
4. Delete a module.
5. Open the VB in a new tab before the first BB heartbeat runs.
6. The spinner will load until the first heartbeat runs. The module you deleted will not sync.

### Attached PR
* https://github.com/elegantthemes/submodule-builder/issues/1801

[2017-03-02 03:51] lots0logs opened #1076 "Auto Saves Do Not Work Until After First Heartbeat In VB."
### Steps To Reproduce:
1. Open a apage in the VB.
2. Before the first heartbeat runs, delete some modules.
3. Let the first heartbeat run.
4. Let the second heartbeat run.
5. In a new tab, open the same page in the VB.
6. No auto-save popup appears. No auto-save was created for changes made before the first heartbeat.

### Attached PR
* https://github.com/elegantthemes/submodule-builder/issues/18

[2017-03-02 05:47] timayhelen opened #1077 "When Syncing Specialty Sections, BB Gets Distorted"
1. Create a new BB layout.
2. Add this Specialty Section:
![screen shot 2017-03-01 at 9 46 13 pm](https://cloud.githubusercontent.com/assets/3333028/23494573/86a0da12-fec8-11e6-8477-9ad5369fbb32.png)
3. Add some modules inside of it.
4. Save the page.
5. Open the VB in a new tab.
6. Delete one of the modules in the left column.
7. Return the BB tab.

The module blocks get distorted:

![screen shot

[2017-03-02 08:03] SlavaET commented on #1040
Found the root cause finally.

[2017-03-02 12:18] #1077 closed

[2017-03-02 12:37] timayhelen opened #1078 "It's Possible To Copy & Paste Split Testing Goals & Subjects Using Keyboard Shortcuts"
We can't allow split testing subjects and goals to be duplicated. It's currently possible using keyboard shortcodes in the VB & BB.

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1811

[2017-03-02 12:38] #1074 closed

[2017-03-02 12:38] #1075 closed

[2017-03-02 12:38] #1076 closed

[2017-03-02 12:42] lceberg commented on #908
@timayhelen Turns out I was dragging the element inside the section, instead the very section, which caused what I thought was an issue.

I merged master once more today, so you can test with the latest changes.

[2017-03-03 02:54] fikrirasyid commented on #978
@vukvukovich I've tried to reproduce the issue on latest Divi but it appears to be working as expected:

![978-issue](https://cloud.githubusercontent.com/assets/916442/23536422/4edc0aea-fff7-11e6-8f69-61aba233f0fb.jpg)

Can you check it again? Furthermore, can I know why you try to use URL to a site while the field is meant for valid image address since the URL will be added on `<img src="" />`?

[2017-03-03 08:10] vukvukovich commented on #978
@fikrirasyid Hm.. strange, it seems I cannot replicate it too now.
Lets close it than, we will see if it pops out in maybe different use case.

Best,
Vuk

[2017-03-03 08:10] #978 closed

[2017-03-03 14:44] lceberg commented on #1028
The issue affects BB as well, the tablet/phone padding settings did not get included in the generated CSS.

[2017-03-03 16:00] lceberg commented on #1064
I believe this is actually caused by WordPress' weird logic of allowing comments. It seems the comments on the site were previously disabled which caused the comments for the post in question to be closed.

I checked the post with different theme and the reply button is still missing for that post ( http://elegantthemesbluehost.com/2010/09/15/hip-young-woman/ ) -- it says that comments are closed.

[2017-03-03 21:57] lots0logs commented on #1064
@lceberg We have another PR going through review that will automatically enable comments for post when a comments module is detected in the content. I think that will take care of this edge case.

[2017-03-03 21:57] #1064 closed

[2017-03-03 22:44] lots0logs commented on #1063
@lceberg There's just one thing I noticed which is that after copying a locked module in the VB, the new module is locked while in the BB the new module is not locked. I think the BB's behavior is preferred. Let's make it the same in the VB.

[2017-03-04 00:14] #1073 closed

[2017-03-04 00:15] #1040 closed

[2017-03-04 00:16] #964 closed

[2017-03-04 00:16] #1070 closed

[2017-03-06 12:47] lceberg commented on #1063
@lots0logs Done, just a note -- this worked in BB only on newly created and locked modules, so latest commit tweaks BB logic a bit as well.

[2017-03-06 19:46] timayhelen opened #1079 "PHP offset error when no social network selected"
A customer reported the following error:

Warning: Illegal string offset 'value' in /wp-content/themes/Divi/includes/builder/main-modules.php on line 14101

### Attached PR
* https://github.com/elegantthemes/submodule-builder/pull/1810

[2017-03-06 23:44] timayhelen opened #1080 "Buttons With No Border Have Borders"
#It doesn't look like border widths are rendering correctly in the Visual Builder for custom buttons styles.

What it looks like on the front end:

![screen shot 2017-03-06 at 3 40 47 pm](https://cloud.githubusercontent.com/assets/3333028/23635218/4d9e5636-0283-11e7-87f4-6b8a8050c47f.png)

What is looks like in the Visual Builder:

![screen shot 2017-03-06 at 3 41 07 pm](https://cloud.githubuserco

[2017-03-06 23:45] timayhelen commented on #1080
Update: Looks like this is due the "border width" settings not working in the Visual Builder. If you check the BB, the border width is correctly set to 0. If you check the Visual Builder, it shows up as "2" which is the default width.

[2017-03-07 05:43] fikrirasyid commented on #1080
@timayhelen can you share the layout you used for this page? I've tried to replicate the issue, but still no luck. VB still appears as it is shown on the actual front page 🤔

[2017-03-07 06:38] fikrirasyid commented on #1080
Nevermind, I've finally found a way to replicate the issue 👌 The issue wouldn't occur if the slider is created on VB, but it appears if the slider is made on BB.

[2017-03-07 19:39] lots0logs commented on #1078
@lceberg I noticed two things that need attention:

* In the BB, the "Paste" option is always shown in the right-click menu. The option should only be shown when its actually possible to perform the action.
* In the VB, the "Copy" option does not appear in the right-click menu when clicking on test subjects. Its also not possible to copy test subjects using the keyboard shortcuts.

[2017-03-08 09:41] sinegrain commented on #903
Hi guys here a workaround for who's hurry :)

I modified the code found here:
https://gist.github.com/mikejolley/1622323#gistcomment-141364

as following (and it works) :

//in function.php of your theme

add_filter('woocommerce_get_catalog_ordering_args', 'am_woocommerce_catalog_orderby');

function am_woocommerce_catalog_orderby( $args ) {
    $args['orderby'] = 'date';
    $args['order'] = 'des

[2017-03-09 18:24] aszx commented on #1006
Hey, sometimes I get this message at the very bottom of the page, when editing a page in Visual Builder.:
.....................................
An Autosave Exists
A recent autosave exists for this post that is newer than the version you are currently viewing. This autosave was captured during your previous editing session, but you never saved it. Would you like to restore this autosave and continu

[2017-03-10 19:22] dm-chechik opened #1081 "Primary Navigation :: Wrong behavior on touch screens with MS Edge browser"
### Problem:

Customers reports the top tier links still lead to its link on first touch instead of showing sub menu. The issue occurs only with MS Edge.
Unfortunately I don't have touch screen to check the issue, however @kary4 confirmed the issue and recorded a screencast. In screencast he initially demonstrates the links work in Chrome browser, then he switches to the Edge and links just lead t

[2017-03-10 19:25] dm-chechik commented on #1081
@SlavaET Since you have changed primary menu top tier links behavior, could you check this? :)

[2017-03-10 19:26] #1081 closed

[2017-03-10 20:13] #987 closed

[2017-03-10 23:49] #771 closed

[2017-03-10 23:49] #1055 closed

[2017-03-10 23:49] #1018 closed

[2017-03-10 23:49] #1028 closed

[2017-03-10 23:49] #1079 closed

[2017-03-10 23:49] #939 closed

[2017-03-10 23:49] #1080 closed

[2017-03-11 12:07] timayhelen opened #1082 "Visual Builder Does Not Work With WP Engine"

[2017-03-11 12:07] #1082 closed

[2017-03-11 21:29] timayhelen opened #1083 "ID & Class Removed From Modules With Child Elements In Visual Builder"
This is likely related to shortcode trimming:

1. Create a new page.
2. Enable the BB.
3. Load the Homepage Basic layout.
4. Apply an ID and Class to the Slider modules via the CSS tab.
5. Publish the page. You will notice the ID and Class you added are still there.
6. Click "Use Visual Builder"
7. Open the slider settings to see that the ID and class has been removed.

### Attached PR
- https://g

[2017-03-11 21:39] timayhelen opened #1084 "Parallax Mode Reset / Not Working Correctly"
This is likely due to shortcode trimming.

## Parallax Mode Reset

1. Create a new page in the BB.
2. Load the Homepage Basic layout.
3. Apply a background image to the section with the blurbs.
4. Enable parallax mode and set the background to "True Parallax"
5. Publish the page.
6. Click "Use Visual Builder"
7. Save the Page.
8. Open the page in the BB again and check the section settings. The pa

[2017-03-12 12:07] timayhelen opened #1085 "Divi Builder Sync Does Not Work On WP Engine"
This is likely related to: https://github.com/elegantthemes/Divi/issues/2889 and the fact that WP Engine disables the WordPress Heartbeat by default. After merging Dustin's PR, the Visual Builder now loads. However, Divi Builder sync fails.

Our WP Engine testing account login details can be found here: https://github.com/elegantthemes/Divi/wiki/Shared-Hosting-Testing

### Attached PR
* https://gi

[2017-03-12 18:09] timayhelen opened #1086 "Image Animations Removed After Saving In The Visual Builder"
This problem is being reported often in the forum for Divi 3.0.35. However, I can't seem to replicate it:

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=664150
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=663884

The reports all state the following:

1. Create a page and add an Image Module.
2. Change the image animation to "No Animation."
3. Save the Page.
4. Open the pag

[2017-03-12 18:15] timayhelen opened #1087 "Unsaved Page Warning Always Appears In VB and BB"
## Unwanted Save Warning

Related Topics:

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=664554
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=663468
https://www.facebook.com/groups/DiviThemeUsers/permalink/1092801010849494/

I have seen this reported for both the BB and the VB separately. Since 3.0.35, many people are reporting that even after a successful manual save, when

[2017-03-13 06:24] SlavaET commented on #1083
Fixed.
It's not related to shortcode trimming btw, it's a bug in Custom CSS fields rendering function.

[2017-03-13 08:04] SlavaET commented on #1084
Fixed. It happens because we used different default values in BB and VB/Frontend:
BB - `CSS`;
VB/Frontend = `True Parallax`.
So saving 'True Parallax' in VB defaults the value to `CSS` in BB and vice versa.
In my PR I set the `True Parallax` as default value for all the places and it works correctly now. Setting default value to `CSS` in all the places may break some websites becuase when renderin

[2017-03-13 10:17] timayhelen opened #1088 "Divi Builder Doesn't Load On Firefox 52"
We have had a few reports of this. The Divi Backend Builder content area appears blank in the latest version of FireFox (52):

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=665093
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=664329
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=663594

### Attached PR
- https://github.com/elegantthemes/submodule-builder/issues/1

[2017-03-13 10:19] timayhelen opened #1089 "Call to undefined function et_fb_enabled()"
I have seen a few reports of this, after upgrading to Divi 3.0.35:

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=664892
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=664294
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=664724
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=664424
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=664070

### At

[2017-03-13 10:37] SlavaET commented on #1086
I cannot reproduce this issue as well. I checked all the module settings and defaults of the module. Tested various scenarios I can think of and it works fine. I asked @abhi-sharm to let me know when he receive a reply to take a look at customer's website.

The only possible situtation I can think of is following:
1) Create and save a layout with image module in BB;
2) Open the VB in a new tab lea

[2017-03-13 10:47] timayhelen commented on #1086
@SlavaET The way people describe it, I don't think that's what's happening. For some people, for whatever reason, animations are being reset every time they save in the VB.

I don't think the issue you described is high priority enough for us to worry about at the moment. Hopefully we can find out more about the original issue.

[2017-03-13 10:52] SlavaET commented on #1086
@timayhelen yeah, I see that my case is different, just wanted to mention so we can consider it for future updates.
I don't know what else to try right now though, we can request token from the customer or at least layout to see what's going on there. I can't see any errors in code or conflict of default values, so looks like it's something specific to user layout/settings.

[2017-03-13 10:59] SlavaET commented on #1086
I got it. As always, when you say there is nothing to try you find it, lol.
It has to do with the Customizer settings.
In the `Module customizer` -> `Image` set the animation to `No Animation` and then you'll be able to replicate the issue.
Working on it.

[2017-03-13 11:44] SlavaET commented on #1086
Fixed. Also found and fixed similar issue with divider module.

[2017-03-13 15:04] lceberg commented on #1078
@lots0logs I added a fix that fixes the following issues with right click menu in BB:
- "Paste" / "Paste After" item appeared when an AB subject is copied and the page is refreshed without saving the started split testing (since the item is still in the clipboard)
- "Paste" / "Paste After" item appeared when trying to paste an AB subject in a different parent (column)

Can you please clarify how s

[2017-03-13 15:57] Jronk opened #1090 "Auto Saves Overwriting Content"
## Auto Saves Overwriting Content

Furthermore, there have been reports that Auto Saves are replacing the main saved page somehow, without being officially restored.

Related Topics:

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=663228&hilit=save
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=663468

[2017-03-13 15:59] timayhelen commented on #1087
An update on this. It looks like Auto Saves are created on every heartbeat, even if no changes have been made. Try this in the BB:

1. Enable the Divi Builder
2. Load a layout
3. Publish the page
4. Switch to a different tab in your browser and then come back to force a heartbeat
5. Refresh the page.
6. You will get an Auto Saves notification and when you look at the diff you see that nothing chan

[2017-03-13 16:15] timayhelen opened #1091 "Failed Save Modal Fires Even When Save Is Successful"
There have been a few reports of this, but I am unsure how to replicate it:

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=665269
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=662857

![4dc28572-e318-11e6-8a84-11df03c0340b](https://cloud.githubusercontent.com/assets/3333028/23863698/9eb12e1e-07cd-11e7-9ed8-413cac7724c6.gif)

## Attached PR
- https://github.com/elegantthemes

[2017-03-13 17:41] SlavaET commented on #1089
You may notice this error in debug log with 1hr interval. It happens because we're calling `et_fb_enabled()` in function which was called by cron. `et_fb_enabled()` is undefined at this point and it causes the error.

[2017-03-13 18:05] SlavaET commented on #1088
It actually loads and it works you just need to hover over the builder area and everything will appear. It's a weird issue with css opacity transition in the latest FireFox, which I fixed with some weird css, but it seems to work :)
Looks like we may encounter some more weird issues with css transitions in Firefox - https://forums.envato.com/t/latest-firefox-bug-with-css-scale-transform-opacity-tr

[2017-03-13 18:06] #1088 closed

[2017-03-13 22:21] lots0logs commented on #1087
@Jronk

- [ ] If the page is saved in one tab, the other tab will still show "Are you sure" message when trying to navigate away.
  1. Edit a page in one builder.
  2. Edit the same page in the other builder in a new tab.
  3. Make a change and save the page.
  4. Switch to the other builder.
  5. Try to close tab or navigate away from builder.

[2017-03-13 23:37] #1083 closed

[2017-03-13 23:38] #1084 closed

[2017-03-13 23:38] #1086 closed

[2017-03-13 23:39] #1089 closed

[2017-03-13 23:47] #1087 closed

[2017-03-14 00:04] #1085 closed

[2017-03-14 15:33] fikrirasyid commented on #1091
@lots0logs I've checked the forum and once you get the token from the user, can you inform it to me as well? My best guess of the cause of the issue is something (possibly plugin) causes an error and pollutes the returned AJAX request 🤔

[2017-03-14 15:44] fikrirasyid commented on #1091
The site mentioned on the thread uses caching plugin so it's pretty hard to deduct the plugin they're using. I think there's no way except for waiting for the customer token. 🤔

[2017-03-14 18:43] lceberg commented on #1078
Just an update on this -- copy/pasting subjects is now possible in VB via right click and keyboard shortcuts.
I'm looking into making pasted subjects appear properly in order to avoid the following behavior:

![ab-subject-copy-paste](https://cloud.githubusercontent.com/assets/1928328/23917002/aba1aac0-08f6-11e7-98b9-5eadea12481c.gif)

[2017-03-14 19:09] timayhelen opened #1092 "All Values Replaced With "px" Units"
This is a rather important issues. In the past, the Divi Builder has accepted various units of measurement, depending on the field. "px" is used by default, but users can input %,em,rem,vw,vh, etc. In the latest version of Divi, all units are saved as "px" no matter what. If someone has customized their page using custom units in the past, saving the page will break their design.

### Attached PR

[2017-03-14 20:31] timayhelen commented on #1092
Noe this only happens in the BB.

[2017-03-14 22:04] lots0logs commented on #1092
@timayhelen Could you post exact steps to reproduce?

[2017-03-14 22:26] lots0logs commented on #1092
@Jronk The units are being stripped off of Mobile and Tablet range slider values upon saving.

[2017-03-14 23:18] timayhelen opened #1093 "Multiple Instances Of Global Modules Don't Sync In VB"
If you have multiple copies of the same global module, row or section on the same page, and you make a change to one of the instances in the VB, the rest of the copies should update to reflect the change. @fikrirasyid worked on this for a while and it was working great, but most likely shortcode trimming caused some issues.

## Attached PR
* https://github.com/elegantthemes/submodule-builder/issue

[2017-03-14 23:19] timayhelen commented on #1091
Looks like this definitely occurs in the BB when the page contains a global row or section.

[2017-03-14 23:22] timayhelen commented on #1093
Here is the original PR that is no longer working: https://github.com/elegantthemes/Divi-Beta/issues/773

[2017-03-14 23:32] timayhelen opened #1094 "Save Warning Appears When Leaving BB When It Contains Global Section Or Row"
1. Create a page in the BB.
2. Add a Global Section.
3. Publish The page.
4. Leave The Page
5. You will get a warning that unsaved changes will be lost, but you have no intended unsaved changes.

<img width="360" alt="cca3877c-0714-11e7-8c7a-58541660fa56_720" src="https://cloud.githubusercontent.com/assets/3333028/23926847/cbd9b4c2-08d3-11e7-91e7-7f08438b6366.png">

### Attached PR
- https://githu

[2017-03-14 23:42] lots0logs commented on #1093
Identified the issue. PR coming shortly....

[2017-03-15 00:03] Jronk commented on #1094
The TL;DR is `global_parent=##` attr gets added to the content, so that dirties the editor causing the issue..

[2017-03-15 00:07] #1092 closed

[2017-03-15 06:49] lots0logs opened #1095 "Child Modules Are Not Synced When Multiple Instances Of Global Modules Are Synced In VB"
### Problem:
This applies to Slides, Tabs, etc.. Only applies to what is shown in the VB. What is actually synced on the server is correct.

### Steps To Reproduce
1. Add two instances of a global slider module to the page.
2. In one of the instances, change some advanced design settings for the first slide (like font styles for example).
3. Save and close the settings modal.
4. You will see the c

[2017-03-15 07:23] #1093 closed

[2017-03-15 11:09] lceberg commented on #1078
Split testing subject modules can now be properly copied/pasted in VB (the behavior displayed in the last comment is now fixed).

Props to Slava for helping with this last part. 🎉

[2017-03-15 15:42] timayhelen opened #1096 "Row Width Unit Defaults Different In BB and VB"
If you enable custom row widths in the BB, the default unit type is "px." I am referring to the unit option toggle that appears above the width range slider.

In the VB, the default unit type is %. This causes issues with Divi Builder sync, and also causes the VB to show the wrong settings values if it has been recently saved in the BB. For example, if px mode has been saved in the BB and you open

[2017-03-15 23:52] timayhelen opened #1097 "Content Disappears Aftering Saving"
We have had a few reports of this. Customers claim that, randomly, content on the page will be completely wiped out after pressing save.

**Screencast:**
https://www.screencast.com/t/3cdRoB9AMI8d

**Related Tickets:**
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=666891

[2017-03-16 00:10] fikrirasyid commented on #1095
@lots0logs can you take a screencast on how the issue occurs? I've been trying to replicate the issue but it appears ok to me:

![1095-clarification](https://cloud.githubusercontent.com/assets/916442/23976030/5e2aa7ac-0a17-11e7-8c15-4454b2f2cdbe.gif)

In general, every option that is synced by closing settings modal work as expected so far. The only issue that I can found within child module and g

[2017-03-16 03:40] fikrirasyid commented on #1095
I checked every module which has sub-module, and the anomalies that I can confirm are as follow:

***

Issues list

# Accordion
- [ ] Inline accordion item title

# Bar Counters
- [ ] Update added via bar item's inline editor doesn't updated into settings modal
- [ ] Inline bar item label
- [ ] Inline bar value

# Contact Form

# Pricing Table
- [ ] inline title editor
- [ ] inline subtitle editor

[2017-03-16 14:11] fikrirasyid commented on #1095
Cc-ing @timayhelen. This issue is pretty significant since it is caused by shortcode trimming.

[2017-03-16 15:42] fikrirasyid commented on #1097
@timayhelen I seem to be unable to replicate the issue. Instead of disappearing, I keep getting this failed saving notification:

![1097](https://cloud.githubusercontent.com/assets/916442/24004730/a9a4c8d4-0a99-11e7-9170-4368f1c27c4d.gif)

I've contacted @kary4 and ask for the customer's token. I think something might be specifically different on that site.

[2017-03-16 20:01] lots0logs commented on #1095
@fikrirasyid I noticed that after making a change using the inline editor its not showing the spinner to indicate the other module is being updated. I think the delay is significant enough to warrant showing the spinner :thinking:

[2017-03-17 00:50] fikrirasyid commented on #1095
@lots0logs regarding this:

I thought this was by design. Let me check that again.

How about open new issue for this? this appears to be not submodule / child module specific issue. I think it'd be better to avoid compounding issues in one ticket

[2017-03-17 01:06] lots0logs commented on #1095
@fikrirasyid Err..I don't know why my fingers typed "Blurb" when my brain was saying "Slider"  :sweat_smile:

[2017-03-17 01:20] fikrirasyid commented on #1095
@lots0logs have you tried it on `1095-divi-beta`? It'd be helpful if you can get a screencast of it. I've tried to replicate it on `1095-divi-beta` but it works as expected 🤔

[2017-03-17 03:35] fikrirasyid commented on #1095
@lots0logs I've pushed a commit that fixes spinnerless situation when editable-block modifies global module's settings / attributes. This turns out to be caused by https://github.com/elegantthemes/submodule-builder/pull/1778/commits/d2e56bb57411a05266bcf39c64d9547da4e1e160#diff-3d118346b9153b174ee444572afed18dR3822 of https://github.com/elegantthemes/submodule-builder/pull/1778. Can you check it o

[2017-03-17 11:01] timayhelen opened #1098 "Unable To Edit Modules In IE11"
There are reports that clicking the settings icon for modules in the BB fails to load the modal in IE11 and below:

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=667225
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=667222

### Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1836

[2017-03-17 11:28] SlavaET commented on #1094
Reopening this. Some more cases were encountered which should be fixed.

[2017-03-20 10:15] FaycalBoutam commented on #1091
@fikrirasyid The site in the second ticket is using some js code that causes this problem. You'll find that on the very end of the source code page. It's related to: https://github.com/elegantthemes/Divi/issues/2880 meaning that a custom code is what's causing this problem. This is the code in question: `<script type="text/javascript">(function($) {

    function setup_collapsible_submenus() {

[2017-03-20 19:34] FaycalBoutam commented on #1089
@SlavaET Some customers still reporting this error after the update to 3.0.37. One of them created a staging site (revert back to 3.0.34 on the main site). Error appears on this page alone:
http://deaportal.dreamhosters.com/?page=gf_activation&key=47b76eec17c5b06e
All other pages looks okay.
Would you want me to request token+FTP info for this? Cause I have no idea how to fix it!

[2017-03-20 21:34] #1094 closed

[2017-03-20 22:37] #1095 closed

[2017-03-20 22:38] #1098 closed

[2017-03-20 22:39] #1096 closed

[2017-03-20 23:39] #908 closed

[2017-03-20 23:41] #1063 closed

[2017-03-20 23:42] #817 closed

[2017-03-21 09:07] SlavaET commented on #1089
@FaycalBoutam It's the same issue, but root cause is different. I'll open a new ticket and submit a fix. No need to request token, I see what's wrong.

[2017-03-21 09:09] SlavaET opened #1099 "Fatal Error: Call to undefined function et_fb_enabled() on some pages"
### Problem:

The error above appears on some pages when Divi theme is not fully loaded.

### Attached PR
- https://github.com/elegantthemes/submodule-builder/issues/1842

[2017-03-21 09:16] SlavaET commented on #1089
@FaycalBoutam here is the ticket with attached solution - https://github.com/elegantthemes/Divi-Beta/issues/1099

[2017-03-21 11:07] #1090 closed

[2017-03-21 11:07] #1097 closed

[2017-03-21 19:55] FaycalBoutam commented on #903
The customer is really frustrated with this issue.

[2017-03-21 22:24] timayhelen opened #1100 "Backupguard Plugin Causes BB Failure"
When the Backupguard plugin is enabled, it's not possible to open any module settings. I think this may be a symptom of a larger issue since we have had other reports of not being able to edit modules (much more than usual).

[2017-03-21 22:30] #1100 closed

[2017-03-21 22:32] timayhelen opened #1101 "Let Divi Builder Sycn & Auto Saves Fail Gracefully"
Currently Divi Builder Sync and Auto Saves require the WordPress heartbeat to function, and when these systems fail the whole builder fails. The result is that if the hearbeat is turned off, the Divi Builder (BB & VB) both fail. We have added some changes to help force the heartbeat on, but it's not going to be 100% effective. We need to assume that, for some people, the heartbeat will not work an

[2017-03-21 23:48] #1099 closed

[2017-03-22 00:09] lots0logs commented on #1101
[code]

[2017-03-22 00:13] lots0logs commented on #1101
[code]

[2017-03-22 01:38] #1101 closed

[2017-03-22 09:46] lots0logs opened #1102 "Error :: Call to undefined function et_fb_enabled() :: v3.0.38"
### Problem:
[code]

### Attached PR
- https://github.com/elegantthemes/submodule-builder/issues/1849

[2017-03-22 12:28] lceberg commented on #903
Technically not an issue, since WooCommerce [enforces this behavior by default](https://docs.woocommerce.com/document/woocommerce-shortcodes/#section-12). 😞

As this seems to be causing problems for some clients PR adds an "Order" select (without conditional logic) which provides options for sorting order _for shop types that support it._

Defaults to "Default Sorting" which doesn't change the cur

[2017-03-22 20:01] timayhelen commented on #1102
@lots0logs This might be fixed already. It's included in the latest Divi version as a hotfix if you want to test it:

https://github.com/elegantthemes/Divi-Beta/issues/1099

[2017-03-22 22:37] lots0logs commented on #1102
@timayhelen This is a different one. Its in the latest version actually (3.0.38)

[2017-03-22 22:53] timayhelen commented on #1102
@lots0logs Ok, just saying that 3.0.38 was released, and then a hotfix for that version was released again last night. So there are two 3.0.38 versions right now, one with the fix and one without it.

[2017-03-22 22:54] #1066 closed

[2017-03-22 22:54] #1045 closed

[2017-03-22 22:57] timayhelen commented on #933
@fikrirasyid It still happens, you just need to go one step further than you did in your GIF to see the problem (you need to save and refresh to see that the builder is still active)

1. Create a new page.
2. Enable the Divi Builder
3. Publish The Page.
4. Disable The Divi Builder
5. Save The Page.
6. Refresh to see that the builder is still active. It can't be disabled.

[2017-03-22 23:02] lots0logs opened #1103 "Save Warning Appears In BB When It Contains Global Row"
### Problem:

RE: #1094 though it appears only global rows cause the issue now.

### Additional Information
* https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=669395

### Attached PR
- https://github.com/elegantthemes/submodule-builder/issues/1853

[2017-03-22 23:03] lots0logs commented on #1102
@timayhelen Oh okay, now I understand. Still this error occurs in a different file than the one we fixed recently :smiley:

[2017-03-23 04:39] fikrirasyid commented on #933
@timayhelen I think I can replicate it now. The reason why it can't be replicated earlier is that I filled the title field. If i filled the title field then save it, it can be disabled as expected. However if the title field is empty, the issue reported on this ticket can be replicated.

I'll look into this.

[2017-03-23 05:51] SlavaET commented on #1103
Looks like it's fixed in 3.0.38. Reply from the customer:

[2017-03-23 05:57] SlavaET commented on #1103
And I cannot reproduce it in the latest master. Warning doesn't appear for me. Tested with Global Rows on page and tried to replicate the cases we found/fixed earlier.

[2017-03-23 07:07] SlavaET commented on #1102
This error occurs in case when plugin modifies the Wordpress loading flow by messing with the wp hooks. I was able to reproduce this issue  when Maintenance mode enabled in `All In One WP Security` plugin. This plugin hooks into the `wp_loaded` hook and loads the custom template with `wp_head()` which triggers scripts loading before all the required Divi components are loaded, therefore `et_fb_ena

[2017-03-23 10:43] fikrirasyid commented on #1091
@faycalBoutam thank you for providing the steps to replicate the issue! I successfully replicate the issue and notice what's wrong. I've submitted a PR to fix the issue.

[2017-03-23 19:38] lots0logs commented on #1078
@lceberg Its now possible to Cut them using <kbd>Ctrl</kbd>+<kbd>X</kbd> :grimacing:

[2017-03-23 19:50] lots0logs commented on #903
@lceberg The only option that the order seems to have any affect on is By Date. Considering that, I think it'd be better to simply include two date options in the existing field instead of adding a separate field. So similar to how it currently has:

* Sort By Price: Low To High
* Sort By Price: High To Low

we could use:

* Sort By Date: Oldest To Newest
* Sort By Date: Newest To Oldest

[2017-03-23 22:12] #1102 closed

[2017-03-23 22:16] #1091 closed

[2017-03-23 22:18] #933 closed

[2017-03-24 00:00] timayhelen opened #1104 "Error When Restoring Auto Save"
I get the following error when attempt to restore an auto save when editing the homepage of our Divi Demo

https://www.elegantthemes.com/preview/Divi/

![screen shot 2017-03-23 at 4 57 26 pm](https://cloud.githubusercontent.com/assets/3333028/24275079/12964d9a-0fea-11e7-912d-1970e9c10344.png)

I figured it was due to the content on the page, so I tried export the layout and impoting it on localhos

[2017-03-24 00:02] timayhelen commented on #1104
Updated, this seems to be caused by the Fullwidth Slider at the top of the page. When restore an Auto Save that does not contain this particular slider, it works fine. However, when testing this same slider exported to localhost I do not get any errors.

[2017-03-24 00:41] timayhelen commented on #1103
This still occurs for a lot of people, so it must be related to specific modules combinations. It also happens for me on our Divi Interior demo. I have exported the global section so you can reproduce the error on localhost (the layout is called Contact Footer and it's a Section layout type):

https://www.dropbox.com/s/1ypgnbh7891sxlg/Saving%20Test.json?dl=0

This needs to be imported via Divi Lib

[2017-03-24 00:41] lots0logs commented on #1104
@timayhelen There's an A/B test running on that slider, right?

[2017-03-24 01:34] timayhelen commented on #1104
@lots0logs Not anymore, but there was at one time.

[2017-03-24 04:07] SlavaET commented on #1103
I see. It happens with Global Sections saved in older versions of Divi. There are some differences in order of attributes in shortcode and it causes the warning to appear, but once you open global section settings and save - attributes saved in correct order and the error goes away.
Looking for a solution.

[2017-03-24 08:01] SlavaET commented on #1103
I think I found reliable solution for this issue. Save warning may still appear in some cases but it won't appear anymore once user will hit "Update" or even without update in some cases.
We can completely get rid of the warning only when/if we change the way BB works. If we move it to the FB platform, then the issue will be permanently fixed. But right now it uses the wp content to store the shor

[2017-03-24 11:41] lceberg commented on #903
@lots0logs I added the options as you suggested and removed the "Order" field. The existing logic is also tweaked a bit to support this change.

[2017-03-24 13:47] lceberg commented on #1078
@lots0logs I pushed a fix for this and also updated the paste logic to prevent console errors when trying to paste after "prevented" cut.

[2017-03-24 22:14] garrettpoelman opened #1105 "Contact Form Not replacing placeholders with Message Pattern"
### Problem:
Pattern Matching isn't replacing in contact form content.

Name - %%firstname%% %%lastname%%
Email - %%email%%
Phone - %%phone%%
%%address%%
%%city%%, %%state%% %%zip%%
Property Value - %%propvalue%%
Loan Amount - %%loanamount%%
Project Details - %%projectdetails%%

However if you don't use pattern matching it doesn't even send the email because the email ends up blank.

I'm sure the

[2017-03-28 14:50] johncuk commented on #879
I found this while trying to fix an ongoing issue I've been having duplicating modules on my website. It seems that many other (if not all)  Safari users have the same issue. Moving to Chrome as had been suggested on the ElegantThemes support forum is not a fix.

I'm both surprised and disappointed that this has been flagged as an improvement rather than a bug. It did work, it doesn't now....the b

[2017-04-04 13:24] dm-chechik commented on #853
@SlavaET What about Fullscreen Menu (Fullscreen header style). It seems the top tier links only open and close sub menus. Is it possible to implement the same behavior?

[2017-04-04 23:38] Jronk commented on #1103
@SlavaET please see PR review https://github.com/elegantthemes/submodule-builder/pull/1853#pullrequestreview-30925200

[2017-04-04 23:55] Jronk commented on #1103
I merged the PR, but if you could submit a follow up PR with the fix, that would be great, thanks!

[2017-04-05 06:34] SlavaET commented on #1103
@Jronk done. Here is the new PR - https://github.com/elegantthemes/submodule-builder/pull/1861

[2017-04-05 15:57] #1103 closed

[2017-04-11 14:00] colinmcdermott commented on #879
This just caused issues during a training session with client, would be great to get fixed.

[2017-04-14 18:26] SlavaET commented on #853
@dm-chechik yes, it's possible, but Fullscreen menu designed to work that way, top tier menu links disabled for both Desktop and Mobile.

[2017-04-20 15:50] mmkdigital opened #1106 "Divi Builder Email Sign Up + Mailchimp API Key not working"
Hey, I can't figure this one out. The API key connection to Divi seems to be set up and working properly, but when I try to test on the front end the form just gives me an internal server error. No new signups are coming through. Help?

It's the embedded sign up form on this page: http://quinmaxmedia.com/

![screen shot 2017-04-20 at 10 33 56 am](https://cloud.githubusercontent.com/assets/19536137

[2017-04-20 23:02] lots0logs commented on #1106
Hi, if you could, please open a ticket over in our [Support Forum](https://www.elegantthemes.com/forum) so that our team can take a look at this for you. Thanks for your cooperation :smiley:

[2017-04-20 23:02] #1106 closed

[2017-04-24 17:22] arc909 commented on #503
I'm also getting this with release build version: 3.0.40 on my site http://www.ancpl.com

This happens when my home page has one full width section with one full width header. If I add a second full width header and a full width section (set to defaults) the primary menu no longer appears even when scrolling down.

If I retain my original full width header and full width section (with primary and

[2017-04-27 07:54] edgar-sanchez-is commented on #879
I'm also having this issue on Safari.

[2017-05-03 15:36] thekrash22 opened #1107 "Undefined variable: details in /wp-content/plugins/bloom/bloom.php on line 5685"
This error prevents my widgets generated with bloom from having the redirect action to custom url

[2017-05-04 03:02] FaycalBoutam commented on #903
@timayhelen

[2017-05-04 10:00] aryehischechter commented on #1069
I'm getting a 404 page for that linked issue.

[2017-05-08 07:31] veeren opened #1108 "Slide In Navigation issue in RTL version"
### Problem:

Slide In navigation goes off in RTL version, menu close is not visible and when menu is opened page is getting scroll from left.

### Steps To Reproduce:
1.  Goto Appearance
2. Theme Customisation
3. Header & Navigation
4. Header Format
5. Header Style - > Slide In

### Additional Information:

*Please include any of the following details that are relevant to the issue you are report

[2017-05-16 15:58] Jronk commented on #903
@FaycalBoutam this has been merged into master, so it will go out with next release :whew:

[2017-05-16 15:59] #903 closed

[2017-05-19 07:23] ilianiv opened #1109 "Global attributes"
### Problem:

Please add some of the global HTML attributes to divi modules settings like:
 - title - very often used for on page SEO
 - tabindex - someone may need to configure tab key focus queue
 - data-* - useful for passing custom data to js script for example
 - ... any other global attribute ([see full list](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes)) that you thin

[2017-07-06 06:52] #1107 closed

[2017-07-13 02:02] sonicviz commented on #12
Hi,
"There is a filter which allows you to modify the list of Standard post types. So you can use the et_pb_standard_post_types filter to add your custom post types into list of Standard post types."

Could you elaborate on this with an example?
I can add divi builder to a pods custom post type, but also have issues getting saved layouts to show up when trying to add them when creating.

[2017-07-28 03:38] andersonchagas opened #1110 "Counter Module - Change comma to dot"
Various countries (including Brazil) uses dot (.) in place of comma (,) for big numbers.

We need some way to choose what to use.

[2017-07-28 04:37] lots0logs commented on #1110
Hi! If you could, please post your feature request in the [Theme Suggestions](https://www.elegantthemes.com/forum/viewforum.php?f=22) section of our Support Forum. Thanks for your cooperation :smiley:

[2017-07-28 04:37] #1110 closed

[2017-07-28 04:39] lots0logs commented on #1109
Hi! Sorry for the delayed response. This Github repo is only used during Divi beta testing. If you could, please post your feature request in the [Theme Suggestions](https://www.elegantthemes.com/forum/viewforum.php?f=22) section of our Support Forum. Thanks for your cooperation :smiley:

[2017-07-28 04:39] #1109 closed

[2017-07-28 04:41] lots0logs commented on #1108
Hi! Sorry for the delayed response. This Github repo is only used during Divi beta testing. If you still need assistance, please open a ticket in our [Support Forum](https://www.elegantthemes.com/forum). Thanks for your cooperation :smiley:

[2017-07-28 04:41] #1108 closed

[2017-07-28 04:41] #895 closed

[2017-07-28 04:41] #904 closed

[2017-07-28 04:41] #913 closed

[2017-07-28 04:41] #914 closed

[2017-07-28 04:41] #931 closed

[2017-07-28 04:41] #949 closed

[2017-07-28 04:41] #995 closed

[2017-07-28 04:41] #996 closed

[2017-07-28 04:41] #1020 closed

[2017-07-28 04:41] #1021 closed

[2017-07-28 04:41] #1023 closed

[2017-07-28 04:41] #1024 closed

[2017-07-28 04:41] #1037 closed

[2017-07-28 04:41] #1038 closed

[2017-07-28 04:41] #1042 closed

[2017-07-28 04:41] #1050 closed

[2017-07-28 04:41] #1051 closed

[2017-07-28 04:41] #1053 closed

[2017-07-28 04:41] #1060 closed

[2017-07-28 04:41] #1061 closed

[2017-07-28 04:41] #1067 closed

[2017-07-28 04:41] #1072 closed

[2017-07-28 04:41] #1078 closed

[2017-07-28 04:41] #1104 closed

[2017-07-28 04:41] #1105 closed

[2017-07-28 04:41] #58 closed

[2017-07-28 04:41] #535 closed

[2017-07-28 04:41] #550 closed

[2017-07-28 04:41] #608 closed

[2017-07-28 04:41] #632 closed

[2017-07-28 04:41] #636 closed

[2017-07-28 04:41] #743 closed

[2017-07-28 04:41] #758 closed

[2017-07-28 04:41] #820 closed

[2017-07-28 04:41] #879 closed

[2017-07-28 04:41] #886 closed

[2017-07-28 04:41] #890 closed

[2017-07-28 05:46] johncuk commented on #879
This is still an issue. Could someone explain why it's been closed please?

[2017-07-28 05:53] edgariscoding commented on #879
I’m still having this issue, was it fixed or why was it closed?

[2017-08-04 08:53] Krable55 commented on #879
Looks like this will continue to be an ongoing issue. "We'll fix it later" seems to be their official response.

[2017-08-04 09:08] lots0logs commented on #879
Hi, sorry for the delayed response. This repo is only used during Divi beta testing. The proper place to report issues that aren't for beta tests is our [Support Forum](https://www.elegantthemes.com). Thanks for your cooperation :smiley:

[2017-08-04 20:04] theeternalsw0rd commented on #12
I don't see any layouts let alone saved ones.

[2017-08-04 20:25] theeternalsw0rd commented on #12
Seems like et_pb_standard_post_types doesn't even exist anymore. I've seen to use et_pb_show_all_layouts_built_for_post_type but that is not working for me.

[2017-08-04 20:49] theeternalsw0rd commented on #12
et_pb_show_all_layouts_build_for_post_type did work. Just had a browser glitch that the options were not visible.

[code]

[2017-08-07 02:47] backspinn opened #1111 "Divi builder scripts on frontend site"
Just upgraded 2.0.13 to 2.0.28 and the WP site stopped working. I see that the frontpage adds script divi-builder.min.js (which none of my older sites with WP + DIVI does) and this gives error on $.browser.msie undefined in the console, I am using jquery 2.2.4 for the site which then of cause halts the scripts.

[2017-08-07 02:50] lots0logs commented on #1111
Hi, this repo is only used during official Divi beta tests. Please open a ticket in our [Support Forum](https://www.elegantthemes.com/forum) for assistance. Thanks for your cooperation :smiley:

[2017-08-07 02:50] #1111 closed

[2017-08-14 16:46] bradleyputters opened #1112 "Shop Module Limited Categories"
### Problem:

The Shop Module only displays 29 categories when I have the type set to Product Categories, even though I have more categories than that.

### Steps To Reproduce:
1.  Add new page
2. Add column
3. Add shop module
4. Type: Product Categories

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**:

**Ope

[2017-08-14 16:46] etstaging commented on #1112
### QA Checklist
<strong>Reporter</strong>
- [ ] Helpful title used &nbsp;<img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
  * ***Helpful title format:*** `Scope(s) :: One Sentence To Describe The Issue`
  * ***Example:*** `VB :: Floating Toolbar :: Jumps To Top Of Page`
- [ ] Detailed description <img src="https://assets-cdn.github.com/images/i

[2017-08-15 19:25] lots0logs commented on #1112
Hi, please open a support ticket in [our forum](https://www.elegantthemes.com/forum). This repo is only used during Dive beta tests. Thanks for your cooperation :smiley:

[2017-08-15 19:25] #1112 closed

[2017-08-22 20:50] swinterroth commented on #12
@theeternalsw0rd Thanks for sharing this snippet. SAVED me hours!

[2017-09-12 10:28] saiqulhaq opened #1113 "Portfolio module causes Segmentation Fault"
We have a page that use portfolio module

the page contains hundred projects

previously it was working fine, but now we added more projects, and only that page who not working, the others are fine

when I activated the WP_DEBUG, I found that there is a problem in this file Divi/includes/builder/class-et-builder-element.php

inside _shortcode_callback function,

[code]

I guess it's trying to load

[2017-09-12 10:28] etstaging commented on #1113
### QA Checklist
<strong>Reporter</strong>
- [ ] Helpful title used &nbsp;<img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
  * ***Helpful title format:*** `Scope(s) :: One Sentence To Describe The Issue`
  * ***Example:*** `VB :: Floating Toolbar :: Jumps To Top Of Page`
- [ ] Detailed description <img src="https://assets-cdn.github.com/images/i

[2017-09-12 18:25] lots0logs commented on #1113
Hi, please open a support ticket in [our forum](https://www.elegantthemes.com/forum). This repo is only used during Dive beta tests. Thanks for your cooperation :smiley:

[2017-09-12 18:25] #1113 closed

[2017-09-18 08:44] jcdarocha commented on #855
Hi there!

Got the same problem this morning, always worked on FF, and this morning, nothing, can't edit a html box, it doesnn't pop up.
Works well on chrome.

Did you have any informations?
THX
JC

[2017-09-20 17:09] who519 commented on #283
Has this issue ever been resolved? I am experiencing it with any page that has more than one set of animation. eg I have a row with three circle counters that work great, a few sections below, I have a number counter and it doesn't trigger until after I scroll past it.

[2017-09-20 17:13] lots0logs commented on #283
Hi, if you could please open a ticket in our [Support Forum](https://www.elegantthemes.com/forum) so that our staff can assist you. Thanks for your cooperation :smiley:

[2017-09-26 18:11] WarenGonzaga commented on #126
jetpack plugin looks like conflict with divi builder

[2017-09-26 18:20] WarenGonzaga commented on #126
I'm getting this error:

Failed to load resource: the server responded with a status of 502 () --> /wp-admin/admin-ajax.php

The Divi Builder is loading forever!

[2017-09-26 19:31] lots0logs commented on #126
Hi, please open a support ticket in [our forum](https://www.elegantthemes.com/forum). This repo is only used during Dive beta tests. Thanks for your cooperation :smiley:

[2017-09-29 22:25] jamesfosker opened #1114 "Creating customizers using Divi"
Hi I am wondering if we are any closer to developer documentation as I am building a product am wanting to use Divi Customizer types such as font style, I found the customizer option but I am battling to see how it works, there a few places where I can see it just not sure which I need to make them work.

[2017-09-29 22:25] etstaging commented on #1114
### QA Checklist
<strong>Reporter</strong>
- [ ] Helpful title used &nbsp;<img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
  * ***Helpful title format:*** `Scope(s) :: One Sentence To Describe The Issue`
  * ***Example:*** `VB :: Floating Toolbar :: Jumps To Top Of Page`
- [ ] Detailed description <img src="https://assets-cdn.github.com/images/i

[2017-09-30 00:02] lots0logs commented on #1114
Hi, We're still working on official developer documentation. In the meantime you can open a ticket in our [support forum](https://www.elegantthemes.com/forum) with any questions you have and we'll do our best to assist you :smiley:

[2017-09-30 00:02] #1114 closed

[2017-10-17 08:37] schorsch opened #1115 "email regex for long TLD does not work"
### Problem:

email regex for long TLD does not work e.g.  test@me.institute

### Steps To Reproduce:
use build in contact form with such an email

### Additional Information:

change email regext in Divi/includes/builder/scripts/frontend-builder-scripts.js line 2724 & 3252 and allow longer tld after .dot
[code]

It should allow at least up to 9 chars, for my example. Here are some more: http://da

[2017-10-17 08:37] etstaging commented on #1115
### QA Checklist
<strong>Reporter</strong>
- [ ] Helpful title used &nbsp;<img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
  * ***Helpful title format:*** `Scope(s) :: One Sentence To Describe The Issue`
  * ***Example:*** `VB :: Floating Toolbar :: Jumps To Top Of Page`
- [ ] Detailed description <img src="https://assets-cdn.github.com/images/i

[2017-10-17 19:12] lots0logs commented on #1115
Hi, please open a support ticket in [our forum](https://www.elegantthemes.com/forum). This repo is only used during Dive beta tests. Thanks for your cooperation :smiley:

[2017-10-17 19:12] #1115 closed

[2018-05-17 11:57] kmgalanakis opened #1116 "Shortcodes with attributes that are coming from other shortcodes are not evaluated properly in global modules."
### Problem:
Shortcodes with attributes that are coming from other shortcodes are not evaluated properly in global modules.

### Steps To Reproduce:
1.  Create the plugin with the following code
[code]
This code basically creates two shortocode and allows one of them to be used as an attribute to the other one.
2. Activate the plugin.
3. Create a page using the Divi page builder, add a text module

[2018-05-17 11:57] etstaging commented on #1116
### QA Checklist
<strong>Reporter</strong>
- [ ] Helpful title used &nbsp;<img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
  * ***Helpful title format:*** `Scope(s) :: One Sentence To Describe The Issue`
  * ***Example:*** `VB :: Floating Toolbar :: Jumps To Top Of Page`
- [ ] Detailed description <img src="https://assets-cdn.github.com/images/i

[2018-10-20 18:08] praveen-tast commented on #1102
this error
PHP Fatal error:  Call to undefined function et_fb_enabled() in /../../public_html/wp-content/themes/Divi/includes/builder/framework.php on line 224
the error still exist while using child theme, Please clarify the solution

[2018-10-20 18:10] praveen-tast commented on #1102
The Plugins I'm using are
- Ninja Forms
- Yoast SEO
- Wordfence Security

[2018-10-21 14:31] praveen-tast commented on #1102
@FaycalBoutam
I did the update of all the stuff as you defined, still this error occurs in my Multiple WordPress Project!

[2018-10-23 12:44] uttc-admin commented on #1102
I'm also getting this same error and have a child theme. Everything is up to date including Divi and all plugins. I also tried disabling plugins to see if there was a conflict. Error still occurs.

[2018-10-23 16:09] alohascott commented on #1102
Having the same issue as uttc-admin.

[2018-10-23 19:32] alohascott commented on #1102
I think WordFence is another plugin. Thanks Faycal!

[2018-10-29 11:46] albiurs opened #1117 "Error :: Call to undefined function et_fb_enabled() :: v3.10+"
### Problem:
I get the same kind of errors as reported here (https://github.com/elegantthemes/Divi-Beta/issues/1102) by praveen-tast. However, as the error refers to another line in framework.php then the original issue reported by lots0logs, I decided to post a new one...

I get the following php error logged for several month on different web servers:
`
[28-Oct-2018 21:43:05 UTC] PHP Fatal error

[2018-10-29 11:46] etstaging commented on #1117
### QA Checklist
<strong>Reporter</strong>
- [x] Helpful title used
- [x] Detailed description
- [ ] Steps to reproduce included <img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
- [ ] Support Ticket URL included
- [ ] Image and/or gif

<strong>Developer</strong>
- [ ] Steps to reproduce proven solved
- [ ] Test included and coverage acceptable a

[2018-11-06 17:58] susanabl17 opened #1118 "PHP Fatal error: Uncaught Error: Call to undefined function et_fb_enabled:: v 3.17.6"
**Problem**:

I get this errors since several days ago in my cPanel "error_log" file:

[06-Nov-2018 03:27:52 UTC] PHP Fatal error:  Uncaught Error: Call to undefined function et_fb_enabled() in imagos.com.es/wp-content/themes/Divi/includes/builder/framework.php:226
Stack trace:
#0 public_html/imagos.com.es/wp-includes/class-wp-hook.php(286): et_builder_get_modules_js_data('')
#1 public_html/imagos

[2018-11-06 17:58] etstaging commented on #1118
### QA Checklist
<strong>Reporter</strong>
- [x] Helpful title used
- [ ] Detailed description <img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
  * ***Description should usually be 150+ characters.***
- [ ] Steps to reproduce included <img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
- [ ] Supp

[2018-11-08 09:37] MIBul commented on #1117
Server Details:
Windows Server 2016 Standard; IIS 10; PHP 7.2.1
Wordpress: 4.9.8
Plugins:
Activity Log Version 2.5.1
Autoptimize - Version 2.4.1
Bloom - Version 1.3.6
Classic Editor - Version 0.5
Comet Cache - Version 170220
Divi Blog Extras - Version 2.1.3
Duplicate Post - Version 3.2.2
Gravity Forms - Version 2.3.6
Gravity Forms + Custom Post Types - Version 3.1.13
Gravity Forms Multilingual - V

[2018-11-12 17:50] mircobabini opened #1119 "Disable lazy load for divi slider"
### Problem:

WP Rocket lazy load can't work with divi slider. The solution proposed by wp rocket (the only one) is to edit the Divi/includes/builder/main-modules.php file (so wroooong!) because there's no filters anywhere. The solution is provided here: https://docs.wp-rocket.me/article/657-divi-theme

### Steps To Reproduce:
1. Create a page with a divi slider and publish it
2. Install https://w

[2018-11-12 17:50] etstaging commented on #1119
### QA Checklist
<strong>Reporter</strong>
- [ ] Helpful title used &nbsp;<img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
  * ***Helpful title format:*** `Scope(s) :: One Sentence To Describe The Issue`
  * ***Example:*** `VB :: Floating Toolbar :: Jumps To Top Of Page`
- [x] Detailed description
- [ ] Steps to reproduce included <img src="http

[2018-12-10 07:19] MIBul commented on #1117
Anybody looking at this issue?
Just as an update: after disabling the wordfence plugin the errors are gone.

[2018-12-10 17:50] lots0logs commented on #1117
Hi, we actually do not provide support on GitHub. If you could, please open a support ticket with our team. You can do that by logging into our website and clicking the pink icon at the bottom right corner of the screen. Cheers!

[2018-12-10 17:50] #1117 closed

[2018-12-10 18:15] albiurs commented on #1117
Hi, I actually did already ask for support 2 or 3 moths ago, but the guy answering to my mail unfortunately did not consider it as important enough to pass the issue to the dev team (or he didn't really understand what it is about). As it's obviously a bug which over 2000 sites show in their frontend according to a Google search (see above search - line number: 220 and 226), it's not something we

[2018-12-10 19:16] lots0logs commented on #1117
Hi, if this bug were affecting as many sites as you claim then I guarantee you we would have heard about it before now. We can certainly look into it though. The way to do that is to open a support ticket and then the support rep will verify your issue and open an issue on GiutHub so the dev team can take a look :smile:

[2018-12-12 04:29] albiurs commented on #1117
Hi, Opening a support ticket as you suggest is what I already did, but I didn't get to the ET 1st level support firewall because the issue is not directly reproducible by a specific action. It happens randomly every couple of days and of course I can't take a whole multisite with various customer websites offline for a whole week by deactivating all the plugins as the support guy suggested.

Actua

[2019-01-19 18:16] nadvolod commented on #99
Hello,
I'm also getting this problem now. The screen is just blank when I try to Enable Visual Builder. I increased the memory to 1024MB and still no luck.
Console Errors: http://prntscr.com/m9deqf
WP version: 5.0.3
PHP Memory: 1024MB
Divi version: not sure

[2019-01-23 06:54] willerbee commented on #769
My code with `||` operator is being replaced with ` `, is there a way for divi builder to just not touch the code?

[2019-02-15 16:05] VladET commented on #769
@willerbee The only reason why we do this is because WordPress touches it (wpautop, wptexturize, etc filters) and we are only trying to preserve the original code. The line break holder is only stored in the database and it should not output directly when editing or on the frontend.

If you are seeing this during editing and/or on the frontend please open a chat with our support team so we can tak

[2019-02-20 08:21] willerbee commented on #769
i see the line break holders in when I look at the page revisions. i think it's ok. but the problem is that when I try to edit the code, the `||` operators everywhere in the code will disappear (replaced with a new line break) whenever i hover the green check save button, which breaks the script. My work around right now is to use another shortcode plugin and put shortcode in the code module inste

[2019-02-20 13:04] VladET commented on #769
@willerbee Do you have the latest version of Divi installed (3.19.15)? Based on your description of the problem I believe we fixed the issue in 3.19.6.

Copy from the changelog:

[code]

In case you are still seeing this issue on the latest version please open a chat with our support team and include the steps to reproduce the issue if possible. I've performed some testing and it's working as expe

[2019-03-11 15:13] mbaierl opened #1120 "Dynamic Content is not rendered"
### Problem:
If another language than English is used (i.e. German) for WordPress dynamic content is not rendered correctly. This only applies if the Visual Builder is NOT enabled. So everything works fine within the Visual Builder, but fails if the site is shown to the user.

In this case the dynamic content is not rendered.

### Solution:
In the file includes/builder/feature/dynamic-content.php

[2019-03-11 15:13] etstaging commented on #1120
### QA Checklist
<strong>Reporter</strong>
- [ ] Helpful title used &nbsp;<img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
  * ***Helpful title format:*** `Scope(s) :: One Sentence To Describe The Issue`
  * ***Example:*** `VB :: Floating Toolbar :: Jumps To Top Of Page`
- [ ] Detailed description <img src="https://assets-cdn.github.com/images/i

[2019-03-11 15:27] mbaierl opened #1121 "MailChimp: updating custom fields not possible"
### Problem:
On a landing page I have another MailChimp-Opt-In module with custom fields.

When a NEW user subscribes, the custom fields are stored within Mailchimp.

When an EXISTING user subscribes, the custom fields are NOT updated within Mailchimp.

### Solution:
in Divi/core/compontents/api/email/MailChimp.php in the function "subscribe" (line 288):

[code]
So if the user is already subscribe

[2019-03-11 15:27] etstaging commented on #1121
### QA Checklist
<strong>Reporter</strong>
- [ ] Helpful title used &nbsp;<img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
  * ***Helpful title format:*** `Scope(s) :: One Sentence To Describe The Issue`
  * ***Example:*** `VB :: Floating Toolbar :: Jumps To Top Of Page`
- [ ] Detailed description <img src="https://assets-cdn.github.com/images/i

[2019-03-19 09:32] VladET commented on #1120
@mbaierl We released a fix for this issue in Divi 3.20.2. Please update to the latest version and Dynamic Content should now work as expected on any language.

The best way to reach out to us for reporting bugs is through our support system. Head out to the Members Area > Help and click on the `Get Help` button.

Here's the direct link to the Help area: https://www.elegantthemes.com/members-area/h

[2019-03-19 09:32] #1120 closed

[2019-03-19 10:54] mbaierl commented on #1120
Thanks, after editing and saving every single page this works fine now.

Thanks, unfortunately the chat system sucks. There is no way to get feedback, a ticket id or a status. The experience is really bad for real developers... using GIT works way better.

[2019-05-26 08:09] timothyfisherdev opened #1122 "Possible Salvattore compatibility issue with WooCommerce single product gallery images?"
### Problem:
Noticed an issue on WooCommerce single product pages that have a product image gallery. The `divi-builder.min.js` file includes the **Salvattore** plugin. That plugin targets any `[data-columns]` attributes and does some stuff in the DOM to the child elements.

The [WooCommerce product-image.php](https://github.com/woocommerce/woocommerce/blob/master/templates/single-product/product-i

[2019-05-26 08:09] etstaging commented on #1122
### QA Checklist
<strong>Reporter</strong>
- [ ] Helpful title used &nbsp;<img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
  * ***Helpful title format:*** `Scope(s) :: One Sentence To Describe The Issue`
  * ***Example:*** `VB :: Floating Toolbar :: Jumps To Top Of Page`
- [x] Detailed description
- [ ] Steps to reproduce included <img src="http

[2019-06-04 11:21] arunbasillal commented on #1119
Is this a common issue? I tried replicating this with WP Rocket 3.3.4-beta and couldn't.

[2019-06-04 11:24] mircobabini commented on #1119
@arunbasillal well... my post is from 6 months ago 😂
actually, need to check to see if the problem persists.

will let you know.

[2019-06-20 23:25] catsarecool999 commented on #1119
This issue is happening to me with lazy load and divi slider

[2019-06-29 05:34] mbaierl opened #1123 "Divi Role editor does not properly restrict access"
### Problem:

When I restrict an editor with the Divi role editor she can not longer access for example **the layout** section in the visual builder.
![roles-5](https://user-images.githubusercontent.com/72055/60380096-bca41d80-9a3f-11e9-8a72-46b7f4cd840c.jpg)

So that works fine.

However she can still drag'n'drop around the spaces. But has no control over the exact numbers.

### Steps To Reproduc

[2019-06-29 05:34] etstaging commented on #1123
### QA Checklist
<strong>Reporter</strong>
- [ ] Helpful title used &nbsp;<img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
  * ***Helpful title format:*** `Scope(s) :: One Sentence To Describe The Issue`
  * ***Example:*** `VB :: Floating Toolbar :: Jumps To Top Of Page`
- [x] Detailed description
- [ ] Steps to reproduce included <img src="http

[2019-06-29 05:35] mbaierl commented on #1121
Any update on this issue?

[2019-09-12 00:42] dgallek opened #1124 "Visual Builder - Test Module - Cursor jumps to top instead of staying where you clicked."
### Problem:

Using the Visual Builder and editing Text Module, cursor jumps to top of module instead of where you clicked with in the Text Module.

### Steps To Reproduce:
1.  Use Visual Builder to edit Text Module
2. Insert your cursor to various places within the text
3. The cursor will frquently jump all the way up to the top of the Text Module, it does not position itself where you clicked wi

[2019-09-12 00:42] etstaging commented on #1124
### QA Checklist
<strong>Reporter</strong>
- [ ] Helpful title used &nbsp;<img src="https://assets-cdn.github.com/images/icons/emoji/unicode/274c.png" width="16" height="16"/>
  * ***Helpful title format:*** `Scope(s) :: One Sentence To Describe The Issue`
  * ***Example:*** `VB :: Floating Toolbar :: Jumps To Top Of Page`
- [ ] Detailed description <img src="https://assets-cdn.github.com/images/i