[2016-11-29 20:47] uportnykh commented on #801
Yes, we just need to come up with the full list of settings we want to integrate partial edit for.

/cc @timayhelen

[2016-11-29 21:01] lots0logs commented on #756
Works fine for me.

***Note:*** Testing this branch with the VB requires pulling from the latest `master` of `submodule-builder`

[2016-11-29 21:06] lots0logs commented on #762
@SlavaET I can't recall exactly, I will try to find the issue for it though. In anycase, shortcodes should never be printed in excerpts. Let's do what is needed to ensure that is the case.

[2016-11-29 21:10] lots0logs commented on #770
@kary4 Could you get a token from the customer and send it to me on Slack? Thanks!

[2016-11-29 21:12] lots0logs commented on #792
@kary4 Advise the customer that the theme includes an option specifically for controlling the number of products per page on product archives. There is no need to use a plugin. Be sure to mention our policy on supporting 3rd-party plugins as well.

[2016-11-29 21:12] #792 closed

[2016-11-29 21:19] kary4 commented on #770
Sure, just asked.

[2016-11-29 21:21] eduard-ungureanu commented on #769
@SlavaET  sorry for delay, yes I Can reproduce the issue on php 5.6 (I'm afraid that's on local host) so I cannot give you access to it, I'm using MAMP and I can select the php version I want to use for a host.

[2016-11-29 22:25] timayhelen opened #811 "Modal Snap Triggers Responsive Preview, But It Doesn't Get Untriggered"
1. Open up a settings modal.
2. Snap it to the left.
3. Increase the width of the snapped modal so that it triggers the tablet preview mode.
4. Unsnap the modal.

You will notice that the content remains in tablet preview mode. It should go back to whatever mode was enabled before snapping the modal.

[2016-11-29 22:31] timayhelen opened #812 "Triggering "zoom out" on and off quickly results in broken footer"
![footer](https://cloud.githubusercontent.com/assets/3333028/20731749/7e7db2e0-b640-11e6-811d-cff2b97a95bb.gif)

[2016-11-29 23:25] timayhelen commented on #766
@fikrirasyid

1. If you load the page on mobile viewport, and then extend the browser window, the fullscreen module no longer goes fullscreen. Not sure if this is a new bug or not, but let's fix it in this PR:

![header](https://cloud.githubusercontent.com/assets/3333028/20733300/7d432d0e-b647-11e6-9463-12619eec0372.gif)

2. I tried using the Centered Header style, and I also increased the header

[2016-11-29 23:26] #798 closed

[2016-11-29 23:27] #790 closed

[2016-11-29 23:38] timayhelen commented on #797
@fikrirasyid I switched to both branches, ran npm start and grunt, cleared my cache and used Incognito but I still see the issue:

![screen shot 2016-11-29 at 3 38 47 pm](https://cloud.githubusercontent.com/assets/3333028/20733735/ed93b5c2-b649-11e6-9c65-769ae43c2b20.png)

[2016-11-29 23:41] fikrirasyid commented on #797
@timayhelen can you share the layout you're using?

[2016-11-29 23:59] lots0logs commented on #797
@timayhelen For some reason I've had to run `npm build` on all branches I QA tested today for the changes to actually show up.

[2016-11-30 00:21] eduard-ungureanu opened #813 "Divi Builder :: Slider Image :: Don't show on mobile"
### Problem:

When using the slider image, everything works on desktop, but on mobile, the image simply doesn't show up.
[raemarieinteriors-product-page.zip](https://github.com/elegantthemes/Divi-Beta/files/620615/raemarieinteriors-product-page.zip)

I did attached a custom layout, which shows the issue with the Slider Image.

[2016-11-30 01:02] #759 closed

[2016-11-30 01:05] #756 closed

[2016-11-30 01:05] #782 closed

[2016-11-30 01:05] #783 closed

[2016-11-30 01:05] #795 closed

[2016-11-30 01:05] #685 closed

[2016-11-30 01:05] #690 closed

[2016-11-30 01:05] #728 closed

[2016-11-30 01:05] #807 closed

[2016-11-30 01:54] fikrirasyid commented on #797
@lots0logs @timayhelen can you pull latest `797-button-incorrect-padding-hover` branch at `Divi` and `submodule-builder` then test it again? @timayhelen's layout test shows me that the branch doesn't anticipate the following situation:

- customizer's `Add Button Icon` is set to `No`
- button's `Add Button Icon` is set to `Yes`
- button's `Only show icon on hover for Button` is set to `No`

I've f

[2016-11-30 02:06] lots0logs opened #814 "Plugin Compatibility :: Yoast SEO Premium :: Builder Fails To Load When Plugin Is Active"
### Problem:

**See:** elegantthemes/Extra#1477

### Additional Information:

**Ref:** Yoast/wordpress-seo#5427
**Ref:** Yoast/wordpress-seo#5475

[2016-11-30 04:27] SlavaET commented on #762
@lots0logs maybe we should do that in scope of a different issue? It's unrelated to the initial issue I fixed and it affects all the Post-based modules not only the Post Slider.

[2016-11-30 04:37] SlavaET commented on #701
@lots0logs sorry, I applied it to preview in Customizer, not to BB preview.
Fixed in BB preview as well.

[2016-11-30 05:13] SlavaET commented on #802
@lots0logs fixed.
I closed my previous PR in `submodule-core` and opened a new PR in `submodule-builder` instead.
So the fix requires following PRs:
1) `Divi` - https://github.com/elegantthemes/Divi/issues/2641
2) `submodule-builder` - https://github.com/elegantthemes/submodule-builder/issues/1488

[2016-11-30 05:36] SlavaET commented on #799
@lots0logs no, we can't.
It'll work in Divi, but won't work in plugin because in Divi we init the `core` at `after_setup_theme` hook, but in plugin it's initiated at `init` hook which is too late. We need to run localization function at `after_setup_theme` hook otherwise it won't be applied.

[2016-11-30 06:17] SlavaET commented on #771
@lots0logs fixed.

[2016-11-30 06:33] SlavaET commented on #700
It was fixed already.

[2016-11-30 06:33] #700 closed

[2016-11-30 06:41] SlavaET opened #815 "VB :: impossible to move module in some cases"
### Problem:

In some cases drag and drop functionality doesn't work correctly, for example - create a new 1 column row, add there Portfolio module, then create a new 2 columns row and then try to move the Portfolio module from 1 column row to a different place:

![move-modules-issue](https://cloud.githubusercontent.com/assets/3446682/20742426/32f12842-b6fa-11e6-98f0-b4b16808b374.gif)

But it star

[2016-11-30 06:42] SlavaET commented on #784
@lots0logs I don't think it's related to my changes. I can see the same issue in master and not only with Gallery module. I've submitted a new issue for that - https://github.com/elegantthemes/Divi-Beta/issues/815

[2016-11-30 07:53] fikrirasyid commented on #766
@timayhelen

I've pushed https://github.com/elegantthemes/submodule-builder/commit/855c8b3466b7c6763c72b77d557410e540f0dd5c which should've fixed the issue. The incorrect height when resizing from mobile width to desktop width occurred because the adjustment is triggered too fast: it needs a slight timeout from window is done being resized to fullscreen height adjustment.

As in the second issue (

[2016-11-30 10:14] andrey-agp opened #816 "Inline Editor :: Unwanted <br> tag when removing empty line"
### Problem:

![animation](https://cloud.githubusercontent.com/assets/9657712/20748292/c480ea78-b717-11e6-8e63-dae7fe9629aa.gif)

### Attached PR
- https://github.com/elegantthemes/submodule-builder/issues/1504

[2016-11-30 11:56] ilianiv opened #817 "Button :: Button with external URL and rel="nofollow""
### Problem:

How can I create button that acts like link with rel="nofollow"? I really need this feature because of SEO nature of the project. Maybe a checkbox for `nofollow` in Button Module Settings will help 💡.

### Steps To Reproduce:
1. Open Button Module Settings
2. No input control for `nofollow`

### Additional Information:

**Divi version**: 3.0

## Attached PR
- https://github.com/elega

[2016-11-30 12:05] ilianiv commented on #817
For maximum flexibility you may add dropdown with all valid `rel` values:

- alternate
- author
- bookmark
- external
- help
- license
- next
- nofollow
- noreferrer
- noopener
- prev
- search
- tag

[2016-11-30 14:37] fikrirasyid commented on #810
@dm-chechik @lots0logs additional `paddingTop` added to the first section **when the primary nav is set to transparent** is actually intentional. This is basically how it works:

![divi transparent primary nav background adjustment](https://cloud.githubusercontent.com/assets/916442/20756288/bb746b9e-b744-11e6-9266-75c0e278e98e.jpg)

PR where this adjustment is firstly added: https://github.com/kar

[2016-11-30 14:58] fikrirasyid commented on #810
Patches for this issue are located at:

- `Divi`: `810-unwanted-additional-top-padding-with-transparent-menu` branch. See: https://github.com/elegantthemes/Divi/pull/2646
- `submodule-builder`: `810-unwanted-additional-top-padding-with-transparent-menu` branch. See: https://github.com/elegantthemes/submodule-builder/pull/1495

For more details about this issue, please read the PR message at https:

[2016-11-30 15:54] fikrirasyid commented on #791
@indikatordesign I've submitted a patch for this issue and the patch is currently under review. I can confirm that `woocommerce_output_related_products_args` filter doesn't work on Divi's single product page (which the patch will fix). However:

1. Upsell product is actually works on Divi. Have you configured the upsell product on the editor? This is how the upsell area looks like on Divi:

![scre

[2016-11-30 16:14] indikatordesign commented on #791
@fikrirasyid I have adjusted the upsell products correctly. The following picture shows the result I get from:

[code]

![1](https://cloud.githubusercontent.com/assets/6696178/20760390/36132ed2-b720-11e6-8ed8-cccf8d0f2a7d.jpg)

I also tried it in the Extra-Theme. There it is displayed correctly.

[2016-11-30 18:07] timayhelen commented on #801
@uportnykh Let's add

1. Header - This will appear inside of the header and will simply open up the main "Header & Navigation" menu. It can be placed to the left of the logo.
2. Footer - This will open the main "Footer" menu and can be placed in the top left of the footer area.
3. Footer Widgets - This will open the "Footer > Widgets" menu and can be placed to the top left of the first footer widg

[2016-11-30 18:32] SlavaET commented on #813
I fixed it in scope of this issue - https://github.com/elegantthemes/Divi-Beta/issues/762

[2016-11-30 21:28] timayhelen commented on #766
@fikrirasyid Did you increase the header height in the customizer as well as switch it to centered mode?

I have shared the layout in slack.

[2016-11-30 21:36] timayhelen commented on #805
@SlavaET I still get weird issues when Blog Modules contain posts with Blog Modules.

For example, add a Blog Module set to Fullwidth and Show Content. In That Blog Module, make sure the first post contains a Blog Module that is also set to Fullwidth and Show Content.

The layout gets jumbled and I also see remnants of the blog shortcode output in the blog content:

![screen shot 2016-11-30 at 1 3

[2016-11-30 23:03] #813 closed

[2016-11-30 23:12] timayhelen commented on #814
@SlavaET I think you created this function originally. Does it look good to you?

[2016-11-30 23:15] timayhelen commented on #701
@SlavaET I noticed that the position of the form fields are different in the VB and BB:

![screen shot 2016-11-30 at 3 14 46 pm](https://cloud.githubusercontent.com/assets/3333028/20775436/ca0c3aea-b70f-11e6-9eef-63ef5661e873.png)

![screen shot 2016-11-30 at 3 14 50 pm](https://cloud.githubusercontent.com/assets/3333028/20775439/cc2b77fa-b70f-11e6-9b9f-db23e97a3004.png)

[2016-11-30 23:39] timayhelen commented on #802
@SlavaET These fixes weren't necessary. We just needed to remove our custom CSS entirely:

https://github.com/elegantthemes/Divi/commit/6e5460d9c09c775c44aaa56f5440ed2dae627da1
https://github.com/elegantthemes/submodule-core/commit/5578274677a90965c39f34bded1bb489617c3593

I also fixed an unrelated z-index issue that resulted in a hidden border bottom.

[2016-11-30 23:39] #802 closed

[2016-11-30 23:42] timayhelen commented on #811
@SlavaET This works when you click the modal snap button to un-snap, but it doesn't work when you drag the modal off the edge to un-snap.

[2016-11-30 23:56] timayhelen commented on #799
@SlavaET WordPress's full copyright notice needs to be added, and we need to add it to CREDITS.md as well (to both Divi, Divi Builder and Extra).

Here is an example of what was added for our WordPress tinymce adaptation:

TinyMCE Media Upload Functions sendAttachment & addMedia
--------------------------------------------------------

includes/builder/frontend-builder/bundle.js

[code]

[2016-12-01 00:01] #808 closed

[2016-12-01 00:19] Jronk commented on #797
See my comment on PR https://github.com/elegantthemes/submodule-builder/pull/1483#pullrequestreview-10879414

[2016-12-01 02:37] lots0logs commented on #743
@fikrirasyid Currently, users with RTL sites are using the existing column order as if its RTL even though its technically not. What I mean is that even though the the theme currently expects and accounts for the column content to be 1|2|3|4, users with existing RTL sites actually have 4|3|2|1. This PR fixes the problem for any newly created content but I think it has the opposite affect on existi

[2016-12-01 02:49] fikrirasyid commented on #797
@Jronk I've replied it at https://github.com/elegantthemes/submodule-builder/pull/1483#discussion_r90374509. I've pushed changes as well, you need to pull both Divi and submodule-builder's branches to preview the change.

[2016-12-01 03:00] lots0logs commented on #800
@SlavaET After enabling this branch the content of the custom CSS field in epanel is empty. Also nothing shows in Customizer custom CSS except for the default CSS comment. Changing branch back to `master` makes the custom css that existed before show up in epanel custom CSS field again.

[2016-12-01 03:07] lots0logs commented on #814
@timayhelen No it was actually @SlavaET that created it. I wanted to wait to receive a copy of the plugin (sent our contact at Yoast an email yesterday) so that I can confirm the issue is resolved by this change (though I'm confident it will be).

[2016-12-01 03:21] lots0logs commented on #771
@SlavaET Still seeing flashing the first time the module is hovered after page loads as well as the first time the settings modal is snapped. Also, notice what happens when unsnapping the modal.

![2016-11-30 21-18](https://cloud.githubusercontent.com/assets/4675662/20780728/ec586dac-b742-11e6-936a-f1baee03e3ce.gif)

[2016-12-01 03:33] fikrirasyid commented on #743
@lots0logs what you're describing is correct. this is how current RTL column looks like. Remember, read it from right to left. You'll find the order is: 3 -> 2 -> 1:

![743-1](https://cloud.githubusercontent.com/assets/916442/20780679/70c732d2-b7af-11e6-8da0-a77c8c4b1a43.jpg)

This is confusing once the layout enters mobile screen, because the order is still left to right which is 1 -> 2 -> 3:

![

[2016-12-01 03:42] fikrirasyid opened #818 "ePanel / Theme Options :: Incorrect Icon Placement in RTL Layout"
### Problem:

Several icons are placed incorrectly in theme options / ePanel when RTL language is activated:

![epanel-3](https://cloud.githubusercontent.com/assets/916442/20781057/a521e646-b7b2-11e6-96cf-804d23ac605d.jpg)
![epanel-2](https://cloud.githubusercontent.com/assets/916442/20781058/a522b6f2-b7b2-11e6-84f3-b81470383c70.jpg)
![epanel-1](https://cloud.githubusercontent.com/assets/916442/20

[2016-12-01 03:43] fikrirasyid commented on #743
@lots0logs this is the ticket for related ePanel issues: https://github.com/elegantthemes/Divi-Beta/issues/818

[2016-12-01 03:48] lots0logs commented on #743
@fikrirasyid Please see my review comment on the PR. One other thing. I think it makes sense for this option to be enabled by default on fresh installs of the theme or builder. Can that be easily achieved without going too far beyond the scope of this PR.?

[2016-12-01 03:50] SlavaET commented on #771
@lots0logs this flashing happens when map is reinitiated. We need it to update the map in some cases, so we cannot fully get rid of that flashing effect. We only reinit the map when it's required.

[2016-12-01 03:51] lots0logs commented on #778
@SlavaET I'm still seeing this in the logs on my server every time I load the builder on the homepage (which uses the Homepage Extended premade layout). Not sure why you couldnt load the builder last time you tried. Its possible that I forgot to reset the git branches after doing QA testing that day. Could you check it again? Thanks.

[2016-12-01 03:54] lots0logs commented on #769
@SlavaET I'm sending you the login details from @eduard-ungureanu comment on Slack now...I think he forgot that this is a public repo :smile:

[2016-12-01 04:00] lots0logs commented on #771
@SlavaET Its not required to reinit the map the first time it is hovered, is it? :stuck_out_tongue_winking_eye:  Obviously we need to do it for modal snap because the size of the viewport changes. Though we should make sure that the entire map re-renders properly (and not with a blank space on the right side).

[2016-12-01 04:06] SlavaET commented on #811
@timayhelen fixed.

[2016-12-01 04:12] SlavaET commented on #701
@timayhelen please clear cache of your browser and check again. Looks like updated styles are not loaded. It works on my end:
![image](https://cloud.githubusercontent.com/assets/3446682/20781652/a4ff69ee-b7ae-11e6-9a09-b2875409b1d9.png)

[2016-12-01 04:41] SlavaET commented on #800
@lots0logs do you see any errors in `debug.log` ? I cannot reproduce this issue.

[2016-12-01 04:52] lots0logs commented on #800
@SlavaET I will test it again and let you know. Just to confirm, you tested it with existing content in epanel custom CSS (saved prior to testing the new branch), right?

[2016-12-01 05:19] SlavaET commented on #800
@lots0logs yes. I tested different variations:
- content added to ePanel prior to upgrade of wp
- content added to ePanel prior to upgrade of theme
- content added to wp prior to upgrade of theme
- content added to both wp and ePanel prior to upgrade of wp, prior to upgrade of theme.
- downgrade of theme or/and wp after content added to customizer and/or ePanel
- some more combinations I could thi

[2016-12-01 05:57] SlavaET commented on #799
@timayhelen done.
Also submitted a PR for Extra theme which I missed initially - https://github.com/elegantthemes/Extra/issues/1509

[2016-12-01 05:58] fikrirasyid commented on #743
@lots0logs I've replied and push changes to incorporate your feedback.

I agree that it feels logical, but I think this would be really prone to error tho. Several "point" where we can detect whether the site is "fresh-installing" Divi or has been around:

- Using `et_theme_epanel_reminder()`. However this can get re-triggered again and again if somehow user removes the theme options row.
- Added

[2016-12-01 06:30] SlavaET commented on #805
@timayhelen fixed.

[2016-12-01 08:01] fikrirasyid commented on #791
@indikatordesign what you explained at https://github.com/elegantthemes/Divi-Beta/issues/791#issuecomment-263916334 isn't a bug: it works correctly. if the `column` argument is set to `3`, the `3rd, 6th, 9th, 12th, etc` will not have a margin because it supposed to be the last item on the row:

![791-1](https://cloud.githubusercontent.com/assets/916442/20786085/72313ec0-b7d6-11e6-8d6e-7ef8e072ca63

[2016-12-01 09:01] indikatordesign commented on #791
@fikrirasyid Yes you're right. It shows the columns properly, only the CSS does not work properly with these settings .. To make it easier for customers to implement their own ideas, it would be good if the CSS settings go in the direction as they represent these results here:

[code]

This allows the 4 standard columns to be imitated only, but each customer can easily change the settings, without

[2016-12-01 10:09] fikrirasyid commented on #818
Patch for this issue:

- `/epanel` at `818-fix-epanel-rtl` branch. See: https://github.com/elegantthemes/submodule-epanel/pull/46
- `/core` at `818-fix-epanel-rtl` branch. See: https://github.com/elegantthemes/submodule-core/pull/48

[2016-12-01 10:28] lots0logs commented on #743
@fikrirasyid Could we check the database for posts that have the `et_builder_enabled` key set? So basically if we detect no existing builder posts and RTL language is used we enable the option automatically.

[2016-12-01 10:41] fikrirasyid commented on #791
@indikatordesign thank you for your suggestion. I'll discuss it with our designer but I personally see that Divi is *intentionally* designed for 3 (has-sidebar) and 4 (full-width) product columns so what you suggested would fall into user's customization. So the chance for adding stylesheet that we don't natively design is small.

It's like adding WooCommerce stylesheet to WordPress' core styleshe

[2016-12-01 10:47] fikrirasyid commented on #743
@lots0logs that is a good idea! So if:

1. Builder is never been used (no post / page with Divi builder meta)
2. is RTL

Automatically set the RTL column ordering. Is that what you mean?

***

Anyway, I just think of this: let's say we implement automatic RTL column ordering for new site and it works as expected. How we'll handle existing user's question: "Why it doesn't automatically turned on on

[2016-12-01 10:48] indikatordesign commented on #791
This is funny.. In extra theme it works out-of-the-box as I described it here.. So it should not really be a big problem, cause it is also based on WordPress.. Please, try your very best and thank you for your effort :)

[2016-12-01 11:06] fikrirasyid commented on #791
@indikatordesign can you elaborate what do you mean by it works out-of-the-box in Extra (I might be missing something)? I checked it on Extra and it works similarly like Divi, it's either 3 or 4 columns. Extra even has stricter rule: it completely ignores the column setting and enforce 3 columns in desktop if it has sidebar and 4 columns if it is full-width page with no sidebar.

![column-5](https

[2016-12-01 11:21] indikatordesign commented on #791
That's pretty fine.. Please note the following in the context of the request for change:

It is absolutely fine to ignore the colums by CSS. With the proposed changes, only "posts_per_page" has an effect and the columns are handled alone across the width per CSS. In this case, the customer must adapt it according to his needs, but he only needs to make changes to the width of the li-elements, like

[2016-12-01 11:45] lots0logs commented on #743
@fikrirasyid

Yes, exactly :smiley:

I agree. So basically, this is what we need to do:

* Upon theme activation, enable the RTL option automatically if all of the following conditions are met:
  1. The site is using an RTL language.
  2. We've never automatically enabled the RTL option before.
  3. There are no existing builder posts.

If the first two conditions are met but the 3rd one is not, t

[2016-12-01 13:00] SlavaET commented on #771
@lots0logs I cannot reproduce the issue with reinit on hover.
Fixed the issue with map reinit on snap, please clear cache of your browser and check the latest version of branch.
Let me know if you still see the issue with map reinit on hover.

[2016-12-01 14:07] fikrirasyid commented on #766
@timayhelen yeah, I've increased the header height in the customizer + switched it to centered mode.

Thanks. I'm currently working on it. Basically fixed nav height prediction isn't really accurate for centered header style. We might need to look for a better way to calculate fixed main header in centered header style 🤔

[2016-12-01 15:44] timayhelen commented on #774
I don't think it's practical to fix this. It's not as simple as just increasing the icon's size because it will result in pixelated icons. We would need to re-think the whole system that Kenny designed and it wouldn't be worth the effort right now.

[2016-12-01 15:44] #774 closed

[2016-12-01 19:18] lots0logs commented on #701
@SlavaET I'm seeing the same thing as Nick:

![2016-12- 1_01-16-55-pm](https://cloud.githubusercontent.com/assets/4675662/20808539/95995554-b7c8-11e6-8033-d24ec1d1f7d1.png)
_____________________________________

![2016-12- 1_01-16-06-pm](https://cloud.githubusercontent.com/assets/4675662/20808546/9c866cda-b7c8-11e6-8a8a-357838cf15aa.png)

[2016-12-01 19:31] lots0logs commented on #771
@SlavaET Yeah, the flashing the first time its hovered is still happening for me. Also looks like it reinits twice when snapping the modal (only the first time as well..coincidence? :thinking: )

![2016-12-01 13-30](https://cloud.githubusercontent.com/assets/4675662/20809058/72a47d38-b7ca-11e6-933e-be679959ee2b.gif)

[2016-12-01 20:29] lots0logs opened #819 "Post-Based Modules :: Shortcodes Should Never Be Included In Excerpts"
### Problem:

**See:** https://github.com/elegantthemes/Divi-Beta/issues/762#issuecomment-262035607

[2016-12-01 21:55] lots0logs opened #820 "BB :: Code Module :: Escaped HTML is Unescaped After Saving Module Once"
### Steps To Reproduce:
1.  Add a new code module with the following contents:
[code]
2. Save module settings
3. Reopen module settings
4. You will find the following:
[code]

### Attached PR
- https://github.com/elegantthemes/submodule-builder/issues/1583

[2016-12-02 00:01] #797 closed

[2016-12-02 00:01] #812 closed

[2016-12-02 03:20] SlavaET commented on #701
@lots0logs please make sure you see the css code as on my screenshot. If you don't see that code, then old version of css file cached in your browser.
Try to hard refresh the page several times ( I see the same results as on your screenshot when I first added the code, but hard refresh helped )

[2016-12-02 04:34] SlavaET commented on #771
@lots0logs this is weird. I cannot reproduce this flash on hover, which browser do you use? Maybe you have some plugins/extensions which trigger the `resize` event and it triggers the Map reinit?
![no-map-flash](https://cloud.githubusercontent.com/assets/3446682/20822997/31b739ae-b87a-11e6-9028-a76fbcf058de.gif)

Fixed the issue with extra reinit on first snap
Also found and fixed following issues

[2016-12-02 07:21] SlavaET commented on #815
Fixed. My PR also should improve VB drag and drop user experience in general.

[2016-12-02 10:56] SlavaET commented on #778
Figured out the root cause and fixed the issue, finally.
Steps to reproduce the issue:
1) Enable `Grab First Image` option in ePanel settings;
2) Create a `project` without Featured image and enable Divi Builder on that project;
3) Load Visual Builder on any page;
4) Check the debug.log.

@lots0logs As for the issue with VB loading on your website. Something wrong with the user you created for me,

[2016-12-02 16:22] fikrirasyid commented on #766
@timayhelen I've fixed the issue with centered header style + fixing dozens of issues on customizer related to fullscreen fullwidth header. I've tested the `submodule-builder` branch compatibility on Extra and Divi Builder as well.

Regarding fullscreen fullwidth header on customizer, we might want to run more test to ensure that what is seen on customizer is equal to what is displayed on actual f

[2016-12-02 23:20] lots0logs commented on #778
@SlavaET Your user is a SuperAdmin..I think for super admins, capabilities check will always return true, no?

[2016-12-03 01:08] #804 closed

[2016-12-03 01:14] lots0logs commented on #806
@dm-chechik The issue is caused by the Google Maps plugin they have installed. Here is the error that gets thrown in Internet Explorer:

![2016-12- 2_07-12-11-pm](https://cloud.githubusercontent.com/assets/4675662/20855518/78a93300-b8c3-11e6-9c3a-48dfaec83e12.png)

[2016-12-03 01:14] #806 closed

[2016-12-03 01:31] lots0logs opened #821 "DnD :: Placeholder For Fullwidth Sections While Dragging Should Be Purple"
### Problem:

![2016-12-02 19-31](https://cloud.githubusercontent.com/assets/4675662/20855700/ee63f5ce-b8c5-11e6-9323-94849fc73f4f.gif)

[2016-12-03 01:37] lots0logs commented on #815
@SlavaET The drop zones are too sensitive. It's difficult to get the desired dropzone to stay visible long enough to do the drop. This is an issue on master as well but Is there anything we can do to improve it?

![2016-12-02 19-31](https://cloud.githubusercontent.com/assets/4675662/20855740/c0edbb74-b8c6-11e6-8186-e82f286f3d9c.gif)

[2016-12-03 02:23] lots0logs commented on #771
@SlavaET I'm still seeing the flash upon first hover. I use Chrome, but I just checked with Firefox and got the same result. Here is the page I am using to test this PR. Could you check it and see if you can reproduce the flash issue?

http://et.falgout.us/divi/771-fix-map-module-update-vb/

[2016-12-03 11:23] fikrirasyid commented on #743
@lots0logs can you take a look at the branch again? Please note that, there are four branches involved with this update:

- `/Divi`: `743-rtl-columns-stacking-order` branch
- `/submodule-builder`: `743-rtl-columns-stacking-order` branch
- `/submodule-core`: `743-rtl-columns-stacking-order` branch
- `/submodule-epanel`: `743-rtl-columns-stacking-order` branch

I basically agree and have implemented

[2016-12-03 12:12] dm-chechik opened #822 "Incorrect background video stop way point offeset"
### Problem:

It seems we have incorrect way point offset for sopping section background video while scrolling down.
Currently offset is set to `-50%` that indicate the top of the element is 50 percentage of the window height beyond the top of the viewport. However in cases of background video height is greater that window height the video is paused before it fully scrolled up. (i.e. the bottom se

[2016-12-03 16:08] fikrirasyid commented on #679
Update: I'm still working on this. See: https://github.com/elegantthemes/submodule-builder/pull/1345#issuecomment-264648173

[2016-12-05 05:22] SlavaET commented on #821
Fixed it in the same PR where I fixed the drag and drop issues - https://github.com/elegantthemes/submodule-builder/pull/1496

[2016-12-05 05:23] SlavaET commented on #815
@lots0logs please check the latest version, I improved it and it's not so sensitive anymore.

[2016-12-05 05:40] SlavaET commented on #778
@lots0logs we check user roles, not the capabilities. Since we limit the functionality for users based on their roles ( even custom ones ). So we cannot rely on capabilities and need to know the user Role. I added my comment to this ticket - https://github.com/elegantthemes/Divi/issues/2627

[2016-12-05 05:43] SlavaET commented on #771
@lots0logs I cannot load the VB on your website because of this - https://github.com/elegantthemes/Divi-Beta/issues/778#issuecomment-261502307
And I cannot edit theme files to overcome the issue, it says "Error" when I'm trying to save the files on your server via WPIDE. But I was able to edit files a few days ago.. 🤔

[2016-12-05 06:38] SlavaET commented on #769
Turned out this issue related to the mode of editor when you saving the content. If it set to `Text` mode, then extra `<p>` tags will be added when you hit `Update` in WP admin.
I was able to reproduce it locally. Looking for a solution.

[2016-12-05 10:17] lots0logs commented on #778
@SlavaET What I mean is that there is nothing wrong with your user account. It was set up just like any normal account and then granted SuperAdmin rights. I think the reason you have had trouble is because of the branches that my test site's Divi repo has been on whenever you tried it :sweat_smile:  Anyway, looks like you figured out the issue for this ticket so no need to worry about doing testin

[2016-12-05 10:19] lots0logs commented on #771
@SlavaET Okay, I'm going to reset the branches and fixup the file permissions right now. Then I won't touch it again for at least the next 4-5 hours. Hopefully that will give you time to check it :smiley:

[2016-12-05 10:39] lots0logs opened #823 "PHP Notice :: Undefined offset: 0 in core.php"
@andrey-agp commented on [Thu Nov 17 2016](https://github.com/elegantthemes/Divi/issues/2627)

### Problem:

I can't reprodcue the issue on my end

---

@SlavaET commented on [Sun Dec 04 2016](https://github.com/elegantthemes/Divi/issues/2627#issuecomment-264771980)

There could be one more issue when `$roles` array is empty. Like this:
[code]
VB won't load in this case and looks like this is poss

[2016-12-05 12:01] SlavaET commented on #769
Found a fix.
In my PR divi builder will remove the default `wputop` filter from the content and then apply it inside the modules except for Structure element ( like Sections, Rows, Columns ) and Code module.
Basically all the content inside Divi Builder will still be processed with `wpautop` function except for the content of Code module, so the content of Code module won't be modified.
I have one

[2016-12-05 12:04] SlavaET commented on #769
Clear steps to reproduce the original issue:
1) Switch the WP editor to Text mode ( just open Text module in Divi Builder and switch it to Text mode );
2) Add the code module with the content which contains line-breaks ( like the Eduard's code );
3) Check the output on front-end. Notice that line-breaks replaced with `<br>` multiple line-breaks replaced with `<p></p>`.

[2016-12-05 12:06] lots0logs commented on #769
@SlavaET I think it would actually be okay to remove line breaks from the code module. The code module is intended for code, not text (obviously). Plus I really don't like the possibility of causing issues with content that isn't ours (the Divi Builders).

[2016-12-05 12:16] timayhelen commented on #779
@lots0logs @SlavaET I think we can use Slava's solution for now.

[2016-12-05 12:19] timayhelen commented on #801
Looks like it's not possible to assign editing shortcuts to panels. Let's just merge widget support for now.

[2016-12-05 12:38] timayhelen commented on #769
@SlavaET @lots0logs I don't think we want to strip lined breaks that are added to Code Modules on purpose though. We need to just leave the content in code modules alone somehow.

[2016-12-05 12:53] lots0logs commented on #769
@timayhelen Just to be clear, we're talking about the line break character (`/n` on OSX & Linux and `/n/r` on Windows), not the HTML `<br>` tag.

[2016-12-05 14:32] FaycalBoutam opened #824 ""Exit Visual Builder" link not working from the library"
### Problem:

When you edit a layout from the Library with the Visual editor and save. The 'Exit Visual Builder' link is taking you to a 404 No Results Found page instead of returning you to the library. The page/layouts is saved though.

![58](https://cloud.githubusercontent.com/assets/16414613/20888591/81c436a2-baf7-11e6-95af-2b43702cd8c3.gif)

## Attached PR
- https://github.com/elegantthemes/s

[2016-12-05 15:33] ilianiv opened #825 "Video Slider :: DOMException: no supported source was found"
### Problem:

Videos in video slider do not show in some Chrome browsers.
[code]
occurred.

I've added both mp4 and webm version of the video.

### Additional Information:
When I try to open the video resource directly from the server (http://example.com/video.mp4) it dumps the same error (I guess I have some codecs issue) but http://example.com/video.webm works directly but not in the slider.

**

[2016-12-05 15:36] lots0logs commented on #799
@SlavaET I'm seeing an issue with loading the Premade Layouts modal content as well as the Portability modal content. The AJAX request is returning a 502 bad gateway error. There's nothing in the logs. It only happens with Divi (works fine for Extra and builder plugin). I thought that [this](https://github.com/elegantthemes/Divi/pull/2643#pullrequestreview-11391113) was causing the issue but the i

[2016-12-05 15:43] lots0logs commented on #800
@SlavaET I'm getting the same result as before. The custom CSS field in ePanel is empty when on this branch (and so is the one in customizer). Could it have something to do with multisite?

[2016-12-05 15:43] SlavaET commented on #799
Does it work fine on master? It reminds me this issue - https://github.com/elegantthemes/Divi-Beta/issues/805

[2016-12-05 15:55] SlavaET commented on #800
Yeah, it may work differently on multisite. I'll check that. Is it possible to perform some tests on your server tomorrow? :smile:

[2016-12-05 16:13] lots0logs commented on #800
@SlavaET Sure, you can anytime. Just let me know when :+1:  ...hmm..4.7 gets released tomorrow I think :grimacing:

[2016-12-05 16:17] lots0logs commented on #825
Hi @ilianiv , If you could, please open a support ticket in [our forum](https://www.elegantthemes.com/forum) so that our support team can take care of you. Thanks for your cooperation :smiley:

[2016-12-05 16:17] #825 closed

[2016-12-05 16:21] lots0logs commented on #799
@SlavaET Looks like it doesnt work on master either. I dont think its the same as #805 b/c the response is 502 (not 500) and there isn't a OOM error showing up in the logs. Its weird. I will check to see if I can reproduce it on a different server (in case the issue is something local to my test server)

[2016-12-05 18:00] SlavaET commented on #799
@lots0logs I fixed the issue you pointed in the comments. Please check again.
As for the Admin bar - yes, looks like WordPress doesn't have mechanism to translate the admin bar on front-end yet, so our link is not translated as well. Though it's translated when Visual Builder enabled because translation switching preformed by the text domain and we switch the translation of everything with `et_bui

[2016-12-05 18:42] lots0logs commented on #799
@timayhelen Please check to see if the Premade Layouts and Portability modals in the VB load properly for you on this branch. I'm pretty sure the issue I am seeing is local to my server but its better to be safe than sorry!

[2016-12-05 19:25] timayhelen commented on #784
@SlavaET There are still issues with this if you keep moving and duplicating and deleting the gallery.

![gallery](https://cloud.githubusercontent.com/assets/3333028/20899017/7705a81e-badd-11e6-83a4-2196244b96e1.gif)

[2016-12-05 19:43] #821 closed

[2016-12-05 20:20] Jronk commented on #811
@SlavaET please see my PR review

[2016-12-05 20:24] #762 closed

[2016-12-05 20:24] #778 closed

[2016-12-05 20:24] #799 closed

[2016-12-05 20:24] #800 closed

[2016-12-05 20:49] SlavaET commented on #814
The changes look good to me as long as it works with free version of yoast.

[2016-12-05 21:11] timayhelen commented on #815
@SlavaET Ah dragging sections is so much better now!

[2016-12-05 21:20] timayhelen commented on #769
@SlavaET I think we can strip out line break characters in the code module as long as purposeful line breaks added as br tags are kept.

[2016-12-05 21:23] timayhelen commented on #701
@SlavaET It seems to be working for me now.

[2016-12-05 22:59] lots0logs opened #826 "Code Module :: Broken Output Related To Single Quotes Usage"
### Problem:

[code]

[code]

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1506

[2016-12-06 00:29] #779 closed

[2016-12-06 00:29] #701 closed

[2016-12-06 00:29] #805 closed

[2016-12-06 00:29] #814 closed

[2016-12-06 00:29] #815 closed

[2016-12-06 00:29] #818 closed

[2016-12-06 04:42] SlavaET commented on #811
@Jronk fixed.

[2016-12-06 05:21] SlavaET commented on #769
Done.
Builder will truncate all the line-breaks ( `\n`, `\r` ) from the content of Code module in BB on save.

[2016-12-06 05:57] SlavaET commented on #784
@timayhelen fixed.

[2016-12-06 07:11] SlavaET commented on #823
Fixed.
I was not able to reproduce the situation described, but I tested it by manually adjusting array of roles in the code.
@lots0logs to test the second issue please check this fix on your test server using the account you made for me. Make sure that:
1) VB is loading without errors and is usable ( all the controls are in place );
2) Role is determined properly and restrictions defined in Divi

[2016-12-06 13:31] timayhelen opened #827 "Improve Tab Background Colors"
The most recent change to tabs module background colors added a static white background color to the tabs wrapper. This background color always exists behind the overall tabs and individual tabs background colors. Because of this, whenever someone uses a semi-transparent background color for the tabs backgrounds, it does not work correctly because the white background always shows through.

[2016-12-06 23:39] lots0logs opened #828 "Slider Module :: Content Positioned Incorrectly When There Is No Slide Image"
### Problem:

![2016-12- 6_05-38-57-pm](https://cloud.githubusercontent.com/assets/4675662/20948681/e9142fd6-bbda-11e6-8103-bc84413ebea6.png)

[2016-12-06 23:44] lots0logs opened #829 "All Modules :: Content Of Heading FIeld Is Lost When Content Contains HTML Entities"
### Steps To Reproduce:
1.  Add the following into a heading field: `antergos ❤ numix`
2. Save the module settings.
3. Reopen the module settings.
4. Heading is gone.

## 📎 Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1507

[2016-12-06 23:50] #828 closed

[2016-12-07 00:32] #811 closed

[2016-12-07 00:53] Jronk commented on #723
Fixed the conflict, (I rebased so its cleaner, so you may need to delete your local copy of the branch before and re-checkout)

[2016-12-07 01:05] lots0logs opened #830 "Custom CSS :: Possible Encoding Issue With 3.0.22 & WP 4.7"
### Problem:
Found this on a customer's site today (waiting for a token to investigate):
[code]

### Attached PR
- https://github.com/elegantthemes/submodule-epanel/pull/48

[2016-12-07 01:12] fikrirasyid commented on #830
@lots0logs can you elaborate more where this happens and how to replicate it?

[2016-12-07 03:40] #827 closed

[2016-12-07 06:20] #830 closed

[2016-12-07 07:04] eduard-ungureanu commented on #561
@uportnykh sorry for the long delay, but I never get back from the client with the requested token, is it possible to reopen this topic, since I see other customer with the same issue and I will request a token.

[2016-12-07 07:24] lots0logs commented on #561
@eduard-ungureanu We can reopen it when you receive the token from the other customer :wink:

[2016-12-07 16:54] Jronk commented on #830
Also, thanks @fikrirasyid for adding the "Attached PR" section!

[2016-12-07 23:31] fikrirasyid commented on #830
@Jronk my pleasure! (҂'̀⌣'́)9

[2016-12-08 00:36] timayhelen commented on #769
@SlavaET This works in the BB but not the VB.

Do you think it's possible to strip the line breaks out output instead of on input, this way people can still format their code in a readable way?

[2016-12-08 02:02] fikrirasyid commented on #679
Ready to be reviewed. Please see the the latest comments added to the PR (referenced on `UPDATE 2` as well)

[2016-12-08 02:37] fikrirasyid opened #831 "BB :: Shortcut is being triggered when builder is not activated"
### Problem:
Backend builder shortcut is being triggered when the builder is not activated:

![le-issue](https://cloud.githubusercontent.com/assets/916442/20995437/a5b25718-bd29-11e6-8371-145faf7c572b.gif)

### Steps To Reproduce:
1.  Open any page which ables to use Divi Builder
2. Make sure that your cursor isn't focusing to any input
3. Press <kbd>p</kbd> or <kbd>o</kbd>

### Additional Informa

[2016-12-08 03:42] lots0logs commented on #810
@fikrirasyid Could you fix merge conflicts on elegantthemes/Divi#2646? Thanks!

[2016-12-08 04:18] lots0logs commented on #723
@Jronk Please see my review comments on PR. Thanks!

[2016-12-08 05:05] SlavaET commented on #769
@timayhelen I didn't change the behaviour in VB, because it works correctly with line-breaks. It works becuase when you save the content from VB, then WordPress doesn't perform additional processing of content and `wpautop` doesn't break the output. Do we need to make it consistent with BB and truncate the line-breaks as well?

It's possible with my original solution when we remove the `wpautop` f

[2016-12-08 05:14] fikrirasyid commented on #829
@lots0logs can you elaborate how to replicate this issue? Screencast would be really helpful as well. I tried replicating the issue but it appears to be working as expected. This is how the visual builder page looks like after being refreshed:

![screen shot 2016-12-08 at 12 13 25 pm](https://cloud.githubusercontent.com/assets/916442/20998353/c2df0e10-bd3f-11e6-99e0-d260072de24b.png)

I cross-chec

[2016-12-08 05:56] fikrirasyid commented on #810
@lots0logs I've fixed the merge conflict on https://github.com/elegantthemes/Divi/pull/2646.

[2016-12-08 06:21] indikatordesign commented on #791
@fikrirasyid - when do you release the patch for woocommerce_output_related_products_args ?

[2016-12-08 07:30] SlavaET commented on #816
This one was pretty difficult to fix.
The issue that tinyMCE was not adding line-breaks properly and it was displayed incorrectly inside the VB, and was buggy when you add/remove them.
I was not able to find the configuration for tinyMCE which could consistently fix this issue, so I developed a custom solution. It took me quite a long, because I tried a lot of different solutions before I found th

[2016-12-08 09:36] SlavaET commented on #819
Fixed. Now shortcodes will be rendered correctly. We have filters, so our shortcodes will not be included into the excerpt, but if user has some 3rd party shortcodes, then we'll render them.
Also, users may add shortcodes into the manual Excerpt field and these shortcodes will be rendered as well.

@lots0logs @timayhelen please let me know if my solution is wrong and we don't need to render shortc

[2016-12-08 10:48] SlavaET commented on #820
@lots0logs what's the point of adding escaped characters there?
Our Code module escapes all the content and then WP unescapes it when shortcode rendered on front-end, so we do not preserve the escaped characters anywhere.
Also, in this particular case what's the point of adding double quote character inside the double quotes? This is not a valid code and it won't be rendered properly in any case.

[2016-12-08 17:12] eduard-ungureanu opened #832 "Dot Navigation :: Not working in a section that is set to not show on Desktop"
### Problem:

The title pretty much explains it.

### Steps To Reproduce:
1.  add few section to your layout (5)
2. set one of your section to "not show" on desktop
3. the dot navigation will only have 4 bullets - that's correct
4. the active bullets, doesn't work as expected.

Here is a layout for testing. I was able to replicate this issue on 2 different servers.

Note: Section 2 is set to not s

[2016-12-08 17:37] eduard-ungureanu opened #833 "Countdown module :: Numbers Font Size"
### Problem:

The settings made in Advanced Design Settings are overrided by the themes default settings.

I did set the font-size like so:
- dekstop : 50px - is ok
- tablet : 30px - not ok, it is overrided by the default theme css code 64px!important
- phones: 20px - not ok, it is overrided by the defualt theme css code 32px!important.

Screenshots:

Desktop
<img width="960" alt="screen shot 2016

[2016-12-08 18:46] lots0logs commented on #829
@fikrirasyid This happens in the BB. Sorry I should have been more specific! :doh:

[2016-12-08 19:00] lots0logs commented on #819
@SlavaET While I'm not against rendering shortcodes in excerpts, I'm :notsureif: we want to be altering a default behavior of WP Core like this. I do think that this is something many customers would love. However, there will be cases where this behavior is not desirable (I'm sure). So if we do this, I think it needs to have an on/off switch in the theme options and in the applicable modules' opti

[2016-12-08 19:17] lots0logs commented on #816
@SlavaET I'm consistently getting this when simply pressing <kbd>Enter</kbd>, typing `Test`, and checking the module settings.
[code]

[2016-12-08 22:12] timayhelen commented on #769
@SlavaET I still get p and br tags added to code module content when saving in the VB, so I think we need to look into that too.

Maybe we should look into some formatting system for Code Modules and Custom CSS text fields? This way we can strip out line breaks and then re-format the view when editing? It's something we have wanted to do anyway, to make editing code more user friendly.

[2016-12-08 23:07] fikrirasyid commented on #791
@indikatordesign we don't have any ETA for this moment, but I can see it's been progressing in our review process (every patch is reviewed by three different aspect & team). It has been queued and progressed but I can't guarantee when it'll be released.

If you need it ASAP, I can provide the fix for you + instruction to quick-patch it. We cannot 100% guarantee it since it is still in review proce

[2016-12-09 00:52] andyhqtran commented on #608
I will be taking a second tackle at this. @Jronk I'll keep you posted if I can find the solution.

[2016-12-09 01:45] fikrirasyid commented on #829
@lots0logs i tried doing it via BB and it still works as expected tho:

![screen shot 2016-12-09 at 8 43 48 am](https://cloud.githubusercontent.com/assets/916442/21034604/a9fa1e1a-bdeb-11e6-915b-5d8c11d60cdf.png)
*Create new page and adding the emoji contained text via copy paste and OSX emoji picker and it still works as expected*

Can you record a screencast? I think I missed some steps here 🤔

[2016-12-09 02:08] fikrirasyid commented on #833
@eduard-ungureanu https://github.com/elegantthemes/submodule-builder/pull/1345 (which is the patch for https://github.com/elegantthemes/Divi-Beta/issues/679) is actually fixes this issue as well:

![desktop](https://cloud.githubusercontent.com/assets/916442/21035037/dcf83b28-bdee-11e6-88ed-8a6b505a64e7.png)
*desktop*

![tablet](https://cloud.githubusercontent.com/assets/916442/21035038/dcf85c0c-bd

[2016-12-09 02:29] lots0logs commented on #829
@fikrirasyid Hmm..it might be because I typed the HTML entity code directly in the module. Github converted it to the symbol when I copy/pasted it (and I didnt notice until now). This is what I put into the module: `antergos &#10084; numix`

[2016-12-09 03:08] lots0logs commented on #743
@fikrirasyid @timayhelen @Jronk @SlavaET I think the admin notice handling that's included in this PR would serve us much better as a core component. It would require a bit more effort to properly abstract it so that its useful as a core component but I think it'll be worth it in the long run. Thoughts?

[2016-12-09 04:02] SlavaET commented on #819
@lots0logs why do you think it goes against the default WP core behavior?
Default `the_excerpt()` function renders shortcodes as well as `the_content()` because both of them processed through the `the_content` filter. So it's default behavior for WP to render shortcodes from the Excerpt. We just replicate the same thing with our automatically created excerpts.

[2016-12-09 04:31] lots0logs commented on #819
@SlavaET

From https://developer.wordpress.org/reference/functions/the_excerpt

[2016-12-09 04:39] lots0logs commented on #832
@fikrirasyid Did you see [this part](https://github.com/elegantthemes/Divi/pull/2650/files#diff-e2c59e78cf79f8ab74935c5ca62a38ddR860) of that function?

[2016-12-09 04:40] SlavaET commented on #819
@lots0logs yeah, you're right they truncate the shortcodes from auto generated excerpts, but not from the explicitly defined excerpts.

[2016-12-09 07:01] fikrirasyid commented on #832
@lots0logs ah, thank you for spotting it! I forgot to remove it which I have now done by pushing https://github.com/elegantthemes/Divi/commit/575808a57ca262f7704924e1328d6101a9f96b4c.

There are at least two reasons why it is no longer used:

1. Theoretically, it appears to anticipate a situation where the sidenav item appears while the section is hidden which shouldn't happen in the first place.

[2016-12-09 07:35] lots0logs commented on #832
@fikrirasyid When I wrote that I was thinking that $target in that context was the actual section on the page, not one of the side nav dots

![homer-simpson-doh](https://cloud.githubusercontent.com/assets/4675662/21041308/cd025c2e-bdaf-11e6-83de-8a2e1173d885.gif)

[2016-12-09 08:04] SlavaET commented on #769
@timayhelen I think I found the solution. We already have the solution for custom css option actually. In Custom css we replace the `\n` with `||` and then convert it back to `\n` when needed.
I implemented similar mechanism for the code module, but I used more complex pattern, because `||` can be added into the code by user and we'll break it. So I used the `` as placeholder for line-breaks in Co

[2016-12-09 08:23] fikrirasyid commented on #829
@lots0logs I've tried typing it manually and it still works on most module's header. It mostly fails on module item and description's text tho. Is this what you experienced too?

![screen_shot_2016-12-09_at_3_03_49_pm](https://cloud.githubusercontent.com/assets/916442/21042345/65e1ee6e-be23-11e6-84f1-7ded3beb97bd.jpg)

![screen_shot_2016-12-09_at_3_03_45_pm](https://cloud.githubusercontent.com/ass

[2016-12-09 09:47] SlavaET commented on #816
@lots0logs fixed. Please check the latest version of PR.

[2016-12-09 09:56] SlavaET commented on #771
@lots0logs please ping me on Slack when you'll be online, so we can coordinate the testing of this issue.
I merged the latest master into this PR, so I'll be able to load the VB on your server and check 😄

[2016-12-09 11:49] lots0logs commented on #829
@fikrirasyid Yeah its a slide..you can see it [here](https://antergos.com) (the 2nd slide).

[2016-12-09 13:13] fikrirasyid commented on #829
@lots0logs alright, thank you for confirming it. Can you clarify one more thing? So I've found out that:

1. Create new slider module
2. Add slide item. Type the `antergos &#10084; numix` on header field
3. Save module. Save page
4. You'll see that the heart icon is actually saved properly
5. Go back to editor. Open the slider module. Now you'll see that the previous header is gone
6. If you still

[2016-12-09 19:52] lots0logs commented on #829
@fikrirasyid Yes that's correct :+1:

[2016-12-09 21:13] lots0logs commented on #769
@SlavaET Please see my review comments on PR. Thanks!

[2016-12-09 21:34] lots0logs commented on #816
@SlavaET

![2016-12-09 15-32](https://cloud.githubusercontent.com/assets/4675662/21065259/e87ff1bc-be24-11e6-9c29-76599af1776e.gif)

[code]

[2016-12-09 21:58] lots0logs commented on #819
@SlavaET Please see my review comment on the PR. Thanks!

[2016-12-09 22:03] lots0logs commented on #833
Let's track this on #679

[2016-12-09 22:03] #833 closed

[2016-12-09 22:10] FaycalBoutam opened #834 "The Gallery module is causing the browser to fail (high memory usage)"
### Problem:

All you have to do is remove 4 and you'll see an increase of memory usage by Chrome:

![59](https://cloud.githubusercontent.com/assets/16414613/21066062/60e7a006-be5b-11e6-94be-403b252b4ed3.gif)

### Steps To Reproduce:
1.  Go to: https://www.elegantthemesdemo.com/?et_fb=1
2. Add the Gallery Module.
3. In **Images Number** remove the number 4 (to add 5 for example).
4. When it's remo

[2016-12-09 23:50] timayhelen commented on #810
@fikrirasyid I tested out the branch, and added a section with a custom Padding Tp value of 10px. However the 10px value doesn't seem to take affect on the front end.

![screen shot 2016-12-09 at 3 49 50 pm](https://cloud.githubusercontent.com/assets/3333028/21068473/26dbd226-be27-11e6-97dd-79ed5c016f3f.png)

[2016-12-09 23:52] timayhelen commented on #810
@fikrirasyid I testing this out with a section with 10px padding top, however the padding adding to the header seems to be too much. Exactly 10px too much, curiously:

![screen shot 2016-12-09 at 3 51 37 pm](https://cloud.githubusercontent.com/assets/3333028/21068543/871b41da-be27-11e6-9ede-97bd83c34db2.png)

[2016-12-10 04:38] #791 closed

[2016-12-10 04:38] #784 closed

[2016-12-10 04:38] #823 closed

[2016-12-10 04:38] #824 closed

[2016-12-10 04:38] #831 closed

[2016-12-10 04:42] #832 closed

[2016-12-10 04:43] #826 closed

[2016-12-10 13:09] fikrirasyid commented on #810
@timayhelen isn't it the correct behaviour? I've checked it and here's how it works:

![et_pb_section paddingtop explanation](https://cloud.githubusercontent.com/assets/916442/21073542/ed1c9eb0-bf13-11e6-81a8-7c0664103e93.jpg)

The layout above probably much more clearer if the row's padding is set to `0px`, being set to fullwidth, then the gutter width is set to `1`:

![et_pb_section paddingtop e

[2016-12-10 14:58] fikrirasyid commented on #758
I've researched more on this, and basically if we'd like to make the outputted styling equals to header and body options on advanced design styling, we'll need to modify the way the selector works which is contradicting with @timayhelen feedback at https://github.com/elegantthemes/divi-builder/issues/633#issuecomment-260070806.

Thus, out of three options I mentioned above, only the first option t

[2016-12-10 21:46] dm-chechik opened #835 "Color Picker Default Palette does not work"
### Problem:

The color picker does not show the Color Picker Default Palette assigned in the theme options.

![capture](https://cloud.githubusercontent.com/assets/20072036/21076404/48c63506-bf3b-11e6-892d-e4b67ee0a726.PNG)
![capture-1](https://cloud.githubusercontent.com/assets/20072036/21076405/49b1eeb0-bf3b-11e6-802b-e4d1a7f852f4.PNG)

[2016-12-12 01:32] kary4 opened #836 "Error message :: Warning: A non-numeric value encountered"
### Problem:
I can't find out where the error message comes from. I tried even installing a fresh divi veersion. It's the same problem. It's php 7.1. version. Can someone take a look please?

http://iajco.org/
Ask me for a token.

![page not found - chichester vedic society - mozilla firefox](https://cloud.githubusercontent.com/assets/3352130/21085501/f7a3976a-c023-11e6-85a0-2881002375b0.jpg)

Tic

[2016-12-12 05:37] SlavaET commented on #836
I was not able to reproduce the error, but I found an error in the function which calculates the Widgets Header font-size on line `5852`.
I corrected that error in my PR, so it should fix the issue.

[2016-12-12 05:53] SlavaET commented on #819
@lots0logs done.

[2016-12-12 05:53] SlavaET commented on #769
@lots0logs please see my reply.

[2016-12-12 06:04] SlavaET commented on #816
@lots0logs can you please explain what's wrong there? It looks fine to me and works as expected.. 🤔

[2016-12-12 06:58] SlavaET commented on #834
Fixed. This error was always in Gallery module.
You can save the gallery module with `0` images number or with some string like `asdfasdf` using the BB, then try loading the page on frontend.

[2016-12-12 07:25] lots0logs commented on #816
@SlavaET I was thinking that the `<p></br></p>` shouldnt have been there but looking at it again I see that is actually the intended behavior. My bad :sweat_smile:

[2016-12-12 07:56] eduard-ungureanu opened #837 "Contact Form :: Custom CSS :: Before"
### Problem:

Editing one of the default fields in the Contact Form, using the Custom CSS tab, prevent's the custom css to stick. For example, editing the Name field, and the :before section, after saving the module, the code is messed up

### Steps To Reproduce:
1.  add a contact form
2. edit one of the fields
3. go to custom css tab and for :before section add
[code]
4. Save and publish
5. recec

[2016-12-12 09:05] SlavaET commented on #835
Fixed.
This issue appears because VB didn't handle saving of default Page Settings values correctly.
So, if someone saved a page using VB, then default values for `Color Picker Color Pallete` and `Gutter Width` were saved in Page meta and Builder was thinking these values are not default and they were not updated correctly.
With my fix VB will follow the same logic of saving Page Settings as BB do

[2016-12-12 20:40] lots0logs opened #838 "Page Settings :: Color Palette Picker :: Current Color Select Button Missing"
### Problem:

![2016-12-12 14-37](https://cloud.githubusercontent.com/assets/4675662/21115910/e82150e8-c078-11e6-823f-62199b4fc0cd.gif)

### Attached PR
- https://github.com/elegantthemes/submodule-builder/issues/1514

[2016-12-12 20:42] lots0logs opened #839 "Gallery Module :: Rerenders When Page Settings Modal Is Opened Once"
### Problem:

![2016-12-12 14-36](https://cloud.githubusercontent.com/assets/4675662/21115971/28bc907c-c079-11e6-8f0c-5ba2416ca037.gif)

### Attached PRs
https://github.com/elegantthemes/submodule-builder/pull/1513

[2016-12-13 00:12] lots0logs commented on #679
@fikrirasyid I'm getting a lot of output in the debug log when testing this branch:
[code]

[2016-12-13 01:16] timayhelen commented on #836
@SlavaET It looks like your fix changes the logic of the option.

` et_get_option( 'widget_header_font_size', intval( et_get_option( 'body_header_size', '18' ) ) * .6 )`

It was originally written like this to mean:

1. Check to see if **widget_header_font_size** option has been modified.
2. If not, use the default vale.
3. The default value is pulled from the **body_header_size** if it has been m

[2016-12-13 01:29] timayhelen commented on #810
@fikrirasyid Ah you are right, sorry!

[2016-12-13 01:34] timayhelen commented on #829
@fikrirasyid Once an emoji has been saved in the BB, and then loaded in the VB, if you edit the header that contains the emoji and try to save, the emoji will be removed.

![emoji](https://cloud.githubusercontent.com/assets/3333028/21124019/29a211ac-c091-11e6-95e4-c8414e89448c.gif)

[2016-12-13 01:41] fikrirasyid commented on #810
@timayhelen no problem (҂'̀⌣'́)9

[2016-12-13 01:41] lots0logs commented on #829
![homer-simpson-doh](https://cloud.githubusercontent.com/assets/4675662/21124158/ca8c7fce-c0a2-11e6-8a5d-2abd5d899073.gif)

[2016-12-13 02:05] kary4 commented on #836
By the way, that fix works. Thanks @SlavaET !

[2016-12-13 05:14] SlavaET commented on #836
@timayhelen fixed in both places.
I simplified the logic slightly:
1) Check to see if widget_header_font_size option has been modified.
2) If not, use the default vale.
3) The default value is pulled from the body_header_size and multiplied by .6.

On step 3 we'll receive either default `body_header_size` which is `30` or modified `body_header_size` value. So, if `body_header_size` was not modifie

[2016-12-13 06:27] SlavaET commented on #839
Fixed. It's not related to the Gallery module. This will happen with any module which should be re-rendered on `previewWidth` change. Fullwidth portfolio, Map and some others for example.

[2016-12-13 07:05] SlavaET commented on #838
I don't think we need a button. I just improved the behavior of palette preview so it now reflects the color changes as it should and is less confusing to the user:
![color-palette](https://cloud.githubusercontent.com/assets/3446682/21130591/da1128c8-c133-11e6-9d04-055c1d7e85ee.gif)

@lots0logs @timayhelen please let me know if it looks fine or if we need a `select color` button.

[2016-12-13 07:31] fikrirasyid commented on #679
@lots0logs can you share what did you do to when these issues appear and send me the layout you're using? I tried replicating the issue, but I couldn't replicate the issue. No log added on my `debug.log`.

Can you also clarify the latest commit SHA you're using to check the branch? Mine is at:

- Divi: 5530ce727fc74565f3a608a7e77d591aabdc462c
- submodule-builder: d17636eca4e9739535545026cc326035ec

[2016-12-13 07:51] lots0logs commented on #838
@SlavaET Hmm..I like your idea but I think it'd be better UX if this was consistent with the rest of the builder and the theme. Let's wait and see what @timayhelen thinks though...

[2016-12-13 09:33] fikrirasyid commented on #829
@timayhelen  @lots0logs I've pushed https://github.com/elegantthemes/submodule-builder/commit/21ee24b540a03939cda0ab913bcde8f9ab6453da which should fix the issue. The solution used on visual builder is basically the similar fix added on BB because essentially, the issue remains the same: WordPress automatically staticize emoji / html entities with `<img />` markup. This causes react escapes the st

[2016-12-13 16:00] dm-chechik opened #840 "Custom CSS :: Incorrect handling of ISO character definition"
### Problem:

The CSS rules like this
`div::after {
  content : '\61';
}`
are incorrectly handled.
The **\\** symbol is removed after saving.

## 📎 Attached PR

- https://github.com/elegantthemes/submodule-builder/pull/1521

[2016-12-13 16:51] fikrirasyid commented on #837
I've narrowed down this issue until I found what possibly caused it, but I still couldn't find the point where the error occurs. The issue mentioned on this ticket only occurs if *a double quote is being saved at submodule's custom CSS field*. Double quote supposedly encoded as `%22` but somehow, when the module modal is triggered, the saved `%22` is decoded as `||` which is the encoding for line-

[2016-12-13 17:49] Jronk commented on #816
See my review in PR, thanks!

[2016-12-13 18:44] #819 closed

[2016-12-13 18:44] #834 closed

[2016-12-13 18:44] #835 closed

[2016-12-13 18:45] #810 closed

[2016-12-13 19:19] Jronk commented on #723
Ok, ready again

[2016-12-13 22:16] timayhelen opened #841 "Ensure Color Values Are Lowercase In Customizer"

[2016-12-13 22:19] timayhelen commented on #838
@SlavaET I think a Select button wouldn't hurt. We could place it in-line next to the Clear button.

[2016-12-14 00:02] #841 closed

[2016-12-14 07:54] fikrirasyid commented on #837
Patch submitted: https://github.com/elegantthemes/submodule-builder/pull/1519

[2016-12-14 07:55] fikrirasyid commented on #840
This is pretty much like https://github.com/elegantthemes/Divi-Beta/issues/837

[2016-12-14 08:28] eduard-ungureanu opened #842 "Text module :: caption images, flots"
### Problem:

There is a big difference between the Visual Builder and the FrontEnd, when using images (added via Add Media).

Front End:
<img width="960" alt="screen shot 2016-12-14 at 10 24 37 am" src="https://cloud.githubusercontent.com/assets/1719735/21174778/cc731032-c1e7-11e6-8ab8-a2c2450a8f34.png">

Visual Builder:
<img width="960" alt="screen shot 2016-12-14 at 10 24 10 am" src="https://cl

[2016-12-14 09:15] SlavaET commented on #816
@Jronk fixed. Please check again.

[2016-12-14 11:00] SlavaET commented on #838
Done. Added `Select` button which simply closes the colorpicker.

[2016-12-14 14:14] dm-chechik opened #843 "Theme Customizer :: Buttons Style Settings :: Incorrect Button Appearance"
### Problem:

Icon Placement and Icon Hover options do not work correctly.
![screen](https://cloud.githubusercontent.com/assets/20072036/21185130/752a0158-c220-11e6-9235-a4af9223d6d1.gif)

## 📎 Attached PR

- https://github.com/elegantthemes/Divi/pull/2658

[2016-12-14 15:30] fikrirasyid commented on #777
I've coordinated with @dm-chechik and no response from the customer so far. I'm closing this issue now. Feel free to reopen the issue once the customer replied.

[2016-12-14 15:30] #777 closed

[2016-12-14 16:35] dm-chechik opened #844 "Slider Module :: Incorrect slider height calculation"
### Problem:

The issue comes from this ticket -> https://www.elegantthemes.com/forum/viewtopic.php?f=21&t=625937.
It seems the issue occurs when slider does not have any content.
As a result slider height calculates incorrectly under different browsers.

[2016-12-14 18:04] Jronk opened #845 "Add semtantic pass through escaping and sanitizing functions"

[2016-12-14 18:45] lots0logs commented on #679
@fikrirasyid I just checked it again just to be sure I wasn't on the wrong branch the other day. I'm still getting the debug log out. I am not doing anything special. Simply loading the BB produces the output in the logs. AFAICT it doesn't happen with the VB. Here's some more detailed output that I got from the WP Debug Bar plugin...
[code]

* Divi: `96831674a727b6d1240a22ca8a6887cf8d747656`
* sub

[2016-12-14 19:40] lots0logs commented on #839
@SlavaET I'm still seeing the same issue (just like in the screencast in my previous comment) I cleared my browser cache and triple checked that I had the correct branch built.

[2016-12-14 20:17] lots0logs commented on #723
@Jronk I'm getting the following output to the debug log (:notsureif: its a new issue though b/c I forgot to check the log the first two times I tested this branch :sweat_smile: )
[code]

[2016-12-14 23:16] fikrirasyid commented on #679
@lots0logs i see. can you share the layout you're using? You can export, zip it, then attach it here.

[2016-12-15 00:48] timayhelen commented on #837
@fikrirasyid I noticed that this PR causes all line breaks to be stripped from code modules and I am worried that it might conflict with the PR that Slava is working on:

https://github.com/elegantthemes/Divi-Beta/issues/769

[2016-12-15 00:51] timayhelen commented on #837
@fikrirasyid Hmm I went to create a GIF but now I can't recreate the issue.

[2016-12-15 00:53] timayhelen commented on #837
@fikrirasyid Looks like it happens in master too. It only occurs when TinyMCE is in Visual mode, and I just happened to switch to that mode while in your branch.

[2016-12-15 03:06] lots0logs commented on #679
@fikrirasyid Here you go: https://www.dropbox.com/s/5cyrz9en9yip10e/679-improved-disabling-responsive-input-ux.json?dl=1

[2016-12-15 05:10] SlavaET commented on #839
@lots0logs hm, probably you see a different issue.. Can I check it on your test website?

[2016-12-15 05:36] lots0logs commented on #839
@SlavaET Sure, the test page I made is [here](http://et.falgout.us/divi/839-fix-initial-preview-width-value/).

[2016-12-15 05:52] SlavaET commented on #839
@lots0logs I see the wrong output on your website ( when the page is loaded, BEFORE you open the Page Settings ), please check the screenshot:
![image](https://cloud.githubusercontent.com/assets/3446682/21213097/78dd77a2-c2bc-11e6-92aa-0f4e99ae2191.png)

I checked the code using the WPIDE on your website and it looks correct, but on the frontend it's not correct. Looks like js file was cached and

[2016-12-15 06:15] SlavaET commented on #844
@dm-chechik I checked the customer's website in all 3 browsers and I can see the slider in all of them. The only issue I see is the different width of slider in FireFox browser.
I cannot reproduce this issue locally though, probably there are some specific settings which affect the appearance. Can you please export the layout of that page from the website in question and share it with me?

[2016-12-15 07:02] SlavaET opened #846 "VB :: Visual Builder doesn't save empty Fullwidth and Regular sections"
### Problem:

All empty Fullwidth and Regular sections will be truncated and won't be saved If you save the page containing empty sections using VB.
BB saves all the empty sections correctly.

### Steps To Reproduce:
1. Load the page which contains empty Fullwidth and Regular sections in VB ( or create one in VB );
2. Save the page;
3. Reload page;
4. Check the content of page. You will see all th

[2016-12-15 07:08] SlavaET commented on #846
Looks like we made it on purpose actually. I can't remember why though 😄
@timayhelen do we need to change it and allow saving of empty sections via VB?

[2016-12-15 14:12] andrey-agp commented on #840
Same issue with Custom CSS box in epanel.
@fikrirasyid Should I open new issue for this?

[2016-12-15 14:14] fikrirasyid commented on #840
@andrey-agp yeah, please open new issue for this. Once this solution is approved, I think we can implement it on ePanel and track it on different issue.

[2016-12-15 14:15] andrey-agp opened #847 "Epanel :: Custom CSS :: Incorrect handling of ISO character definition"
### Problem:

The CSS rules like this
`div::after { content : '\61'; }`
are incorrectly handled.
The `\` symbol is removed after saving.

***Related:*** #840

## Attached PRs

- https://github.com/elegantthemes/submodule-epanel/pull/50

[2016-12-15 15:34] fikrirasyid commented on #679
@lots0logs I still can't replicate the issue 😢  I've tried your layout on the following:

- new site
- single installation
- old multisite installation
- no plugin activated

And I've ensured that if there's any error, the message will be thrown on both browser and `debug.log`. Still, the issue can't be replicated.

Is there anything custom you're using? I assume you're using child theme, or using

[2016-12-15 16:18] fikrirasyid commented on #837
@timayhelen regarding this:

I've rechecked @SlavaET and my PRs to be sure, and I think this PR wouldn't conflicting with Slava's approach to encoding/decoding line break in code module. The main reason for that is https://github.com/elegantthemes/submodule-builder/pull/1519 only works on custom tab fields and sub module item (ie: slider, accordion, tab, contact form, etc ). Since both text and co

[2016-12-15 17:36] FaycalBoutam opened #848 "Weird behavior when adding a third text module"
### Problem:

This is the issue as submitted by the customer:
https://www.dropbox.com/s/31xtzpu1106v8eq/divi%20bug.zip?dl=0

When adding a text module between two other text modules (with one line only) the configuration panel disappears. The module is there, and you can open it back:

![61](https://cloud.githubusercontent.com/assets/16414613/21234945/a68d616e-c2ec-11e6-8319-2a6e2b408bf8.gif)

[2016-12-15 22:50] lots0logs opened #849 "Plugin Compatibility :: BuddyPress Pages Blank With Divi 3.0.18+"
### Problem:

BuddyPress pages (like Members, Account, etc) started showing up blank in Divi 3.0.18. They work fine in previous versions of the theme. They work fine in all of our other themes. I looked into this but the cause of the issue is not obvious. It will require advanced debugging AKA @fikrirasyid debugging :grin:

## Attached PR
https://github.com/elegantthemes/submodule-epanel/pull/49

[2016-12-15 22:58] lots0logs commented on #679
@fikrirasyid

No. No child theme and no plugins. Like I said,  I am not doing anything special. My test site is a multisite install, :notsureif: that is significant here. Also my site is running on PHP 7. I will set you up with access so you can check it out....

[2016-12-15 23:17] lots0logs commented on #829
@fikrirasyid Is there no reasonable way we can get the VB to render the HTML entity code before the page is saved and refreshed?

[2016-12-15 23:31] #769 closed

[2016-12-15 23:31] #816 closed

[2016-12-15 23:31] #662 closed

[2016-12-15 23:31] #837 closed

[2016-12-15 23:32] #836 closed

[2016-12-15 23:32] fikrirasyid commented on #829
@lots0logs do you mean to avoid this left scenario?

![screen shot 2016-12-13 at 3 30 29 pm](https://cloud.githubusercontent.com/assets/916442/21134447/81487b70-c150-11e6-92cd-061393fc9ba4.png)

[2016-12-15 23:43] lots0logs commented on #829
@fikrirasyid Yes, exactly. But keep in mind I said ***reasonable***, (its okay if the answer is no).

[2016-12-15 23:47] fikrirasyid commented on #829
@lots0logs I couldn't find a proper solution for it the first time, but I'll take a second look on it. I agree that displaying html entities doesn't look and feel really good 🤔

[2016-12-16 03:36] lots0logs opened #850 "Blog Module :: Some Options In Design Tab Have No Effect"
### Problem:
The **Body Font Size** option has no effect when you adjust it (in the VB and also on the frontend page).

The **Meta Text Color** option doesn't affect links that appear in post meta. ~~Since there is no option for meta link color, the text color should be used.~~ Actually, its probably better to add an option for meta link color instead.

The Body Letter Spacing affects the heading

[2016-12-16 03:56] fikrirasyid commented on #850
This has been reported multiple times, and this is how the state of the situation now: https://github.com/elegantthemes/Divi-Beta/issues/758

[2016-12-16 04:05] lots0logs commented on #850
Yeah I guess it is. We will definitely revisit the situation (#758) again during 3.1 sprint. Because currently making any customization to the body settings forces you to make customization to the heading and that's :notgood: :wink: .

[2016-12-16 06:39] SlavaET commented on #850
@lots0logs I cannot reproduce the issue with Body Font-size option. It works fine for me in VB and applied correctly on Frontend:
![body-font-size](https://cloud.githubusercontent.com/assets/3446682/21253972/75fbb190-c38c-11e6-93b2-d9dbb8deb7cd.gif)
As for the meta color option - I made it to affect the links as well, because we don't use the separate option for meta links anywhere. We use single

[2016-12-16 07:01] lots0logs commented on #850
@SlavaET You can check the font size on https://www.elegantthemesdemo.com I guess its fixed already in latest master?.

[2016-12-16 07:13] SlavaET commented on #850
@lots0logs I see there is custom css added on demo site which overrides the font-size defined in Blog modules settings:
![image](https://cloud.githubusercontent.com/assets/3446682/21254701/414b255c-c391-11e6-8269-f68ce513e983.png)

It comes from Customizer CSS ( or ePanel which is the same now ).

[2016-12-16 07:18] lots0logs commented on #850
That's not Custom CSS..more likely its from Theme Customizer options. Those options should always be overridden by module options though, no?.

[2016-12-16 07:22] SlavaET commented on #850
@lots0logs ah, I see. I thought it's custom css, but you're right, it's from the customizer options. Looking into the issue.

[2016-12-16 07:43] SlavaET commented on #850
Fixed.

[2016-12-16 08:00] lots0logs commented on #850
@SlavaET :cool: what about this, did you notice it from my previous comment? (I edited it a few minutes after commenting):

[2016-12-16 08:20] SlavaET commented on #850
@lots0logs I see your point, but we have several modules with Post Meta settings like Portfolios, Post Sliders and we apply the same styles for both text and links without separation. So it'll be weird if we'll add this option to Blog module only.. That's what I meant when I said:

@timayhelen do you think we need a separate option for post meta links?

[2016-12-16 12:12] eduard-ungureanu opened #851 "Contact Form :: using & in the Contact Form Title"
### Problem:

Using the `&` in the Contact Form Title it is converted to the html entry of `&amp;`.

<img width="960" alt="screen shot 2016-12-16 at 2 11 28 pm" src="https://cloud.githubusercontent.com/assets/1719735/21262351/916957c2-c399-11e6-9b01-5c35a4fd7ab6.png">

Email:
<img width="960" alt="screen shot 2016-12-16 at 2 08 58 pm" src="https://cloud.githubusercontent.com/assets/1719735/2126235

[2016-12-16 13:54] fikrirasyid commented on #679
@lots0logs can you take a look at this branch again? I've pushed https://github.com/elegantthemes/submodule-builder/commit/b16e6d17a9ff9b51d1ca0434b7ce0b058eaee699 which should fix that issue

[2016-12-16 16:37] fikrirasyid commented on #829
@lots0logs I finally found a way to automatically convert HTML entities into its respective character:

![829-pr](https://cloud.githubusercontent.com/assets/916442/21269675/4143124a-c3e6-11e6-8cb7-7473345d20db.gif)

Code-wise, it turns out to be amazingly straightforward. Number-based HTML entities are relatively simple to be handled using `String.fromCharCode()` (see: https://developer.mozilla.or

[2016-12-16 16:56] fikrirasyid commented on #849
@lots0logs first of all:

😅 I honestly don't know how to react to this 😂

***

I've tried replicating the issue and everything looks working as expected on me. Can you further elaborate what to do to replicate the issue and how it supposed to work? I'm not really fluent (yet) with BuddyPress so I might draw incorrect conclusion without detailed guidance on what to expect and how it supposed to wor

[2016-12-16 17:17] lots0logs commented on #849
@fikrirasyid After installing and activating BuddyPress you will notice that it creates a few pages. If you view any of those pages you will see that they are empty. That is the problem. If you change themes and then view the pages you will see what they should look like.

[2016-12-16 17:34] lots0logs commented on #829
@fikrirasyid

1. I don't think there is any risk of XSS in this case. @Jronk what do you think?
2. The author of that post you linked included this line below the code so I think we are okay:

[2016-12-16 18:11] dm-chechik commented on #844
@SlavaET Sorry for delay. Here the page layout -> https://www.dropbox.com/s/kdj47l5bihcpzx0/layout-for-issue-884.zip?dl=0

[2016-12-16 18:17] lots0logs commented on #679
@fikrirasyid That issue is indeed fixed :fikrisuccess: :wink: I noticed when initially enabling the responsive mode for an option in the VB, the mobile and tablet value fields are empty (whereas in the BB the desktop value is prefilled for mobile and tablets). I checked and its on `master` as well but I think fixing it is within the scope of this PR.

![2016-12-16 12-11](https://cloud.githubuserco

[2016-12-16 19:01] lots0logs commented on #838
@SlavaET Let's put the select button on the left so that its next to the input field. Also, let's do the same in the BB.

[2016-12-16 19:14] lots0logs opened #852 "Theme Customizer :: Background : no-repeat"
@andrey-agp commented on [Wed Dec 14 2016](https://github.com/elegantthemes/Divi/issues/2657)

### Problem:

No Repeat option is not working with Boxed Layout

### Steps To Reproduce:
1. Enable boxed layout
2. Upload background image
3. Change Background Repeat option to "no repeat"
4.

Same issue with Background Position > Fixed

## Attached PR
- https://github.com/elegantthemes/Divi/pull/2667

[2016-12-16 19:48] lots0logs commented on #840
@fikrirasyid Could you check this one with changes from latest master pulled in? I'm getting a javascript error when trying to open any of the module settings in the BB:

![2016-12-16_01-47-10-pm](https://cloud.githubusercontent.com/assets/4675662/21276283/5497cb06-c396-11e6-9fd7-33cf9a1663ed.png)

[2016-12-16 20:01] lots0logs commented on #843
@fikrirasyid Here's what I'm seeing now:

![2016-12-16 13-57](https://cloud.githubusercontent.com/assets/4675662/21276665/1729e45a-c398-11e6-81a1-67c5472eeb76.gif)

I checked the stylesheet in chrome dev console and confirmed that the change you made in this branch was loaded.

[2016-12-16 21:04] dm-chechik opened #853 "Primary Navigation :: Unexpected behavior on touch screens"
### Problem:

I think we should reinspect primary navigation behavior on touch screens. The problem with tier dropdown menu links. On default WP theme these links acts like that - first touch opens dropdown menu, second touch leads to the link.
If you check our Divi demo site on iPad (landscape oriented) there is no way to reach tier dropdown menu links. Also under IE/Edge (touch) the menu is not

[2016-12-16 21:23] lots0logs commented on #773
@fikrirasyid It works pretty well. Though I did uncover a case where two global rows get out of sync (only until the page is refreshed). Basically if you try to move a module from one of the copies of the global row into the other copy of the global row they become out of sync visually. Refreshing the page shows them correctly again.

![2016-12-16 15-19](https://cloud.githubusercontent.com/assets/

[2016-12-16 22:39] #848 closed

[2016-12-16 23:06] timayhelen opened #854 "Fullwidth Menu Dropdown Colors Don't Work"
Dropdown menu colors no longer reflect the background color and text color chosen in the module settings.

[2016-12-16 23:27] Jronk commented on #829
[code]

[2016-12-16 23:30] #854 closed

[2016-12-17 02:18] lbjohnson01 opened #855 "No Divi Builder in Firefox on Macbook Air 13""
### Problem:

Apologies in advance for the scant details, but I saw this happen on a client's machine during a Divi tutorial so am unable to reproduce it myself or include screenshots.

Firefox (not sure what exact v.) will not open up the Divi Builder either in Posts, Pages or Projects, when selected

### Steps To Reproduce:
1.  Log in to WP dashboard
2. Go to Posts (or Pages or Projects) / All
3

[2016-12-17 03:24] lots0logs commented on #855
Hi, if you could, please open a ticket in [our forum](https://www.elegantthemes.com/forum) so that our support team can take a look at the issue. Thanks for your cooperation :smiley:

[2016-12-17 03:24] #855 closed

[2016-12-17 05:52] fikrirasyid commented on #829
@lots0logs @Jronk I've pushed a commit which fires automatic html entities conversion on input field. The conversion is triggered when cursor leaves the input field or `enter` is pressed while focusing on input text. Here's how it looks like:

![829-commit](https://cloud.githubusercontent.com/assets/916442/21284732/6753ddea-c457-11e6-9135-89b51c987dcc.gif)

I just saw it now :facepalm: You're righ

[2016-12-17 08:02] fikrirasyid commented on #840
@lots0logs I've fixed the issue via https://github.com/elegantthemes/submodule-builder/commit/84b1c28dc3b12cedaa6fb6b6043f6c9bec1b068b. It happens due to missing backslash in our JS which is printed in php.

[2016-12-17 08:45] fikrirasyid commented on #843
@lots0logs have you run `grunt` at `/Divi`, clear cache, then refresh the page? It works correctly on my localhost:

![843-it-is-working](https://cloud.githubusercontent.com/assets/916442/21285564/9cbe65f6-c46e-11e6-8cd2-ba7b948152d0.gif)

![843-testing-how-to](https://cloud.githubusercontent.com/assets/916442/21285600/b7f6a012-c46f-11e6-9efa-e87d860689d8.jpg)

***

Anyway, did you modified button

[2016-12-17 11:22] fikrirasyid commented on #679
@lots0logs I've pushed a change for this. It is important to note that input range and text's responsive mode already have this "using desktop value as mobile default value mechanism". input margin/padding is the only input that hasn't had this, so I added the mechanism for input margin/padding.

[2016-12-17 13:46] fikrirasyid commented on #773
@lots0logs are those two global sections you're testing is actually the same divi library item? If it is the case, I've successfully replicated it and I think the behaviour displayed above is actually correct. Consider this:

![divi-beta-773-step-1--3](https://cloud.githubusercontent.com/assets/916442/21287212/d94bae46-c498-11e6-8950-8f95d1b54207.jpg)

![divi-beta-773-step-2-explained](https://clo

[2016-12-17 14:17] fikrirasyid commented on #849
@lots0logs can you share a screenshot of how the issue looks and how it should be? I've tried to replicate this on different sites, and it works as expected. After making sure that the related component is activated on `Dashboard > Settings > BuddyPress > Components` and the page is correctly assigned at `Dashboard > Settings > BuddyPress > Pages`, all the auto-generated page appears as it should

[2016-12-17 17:08] timayhelen opened #856 "Semi-transparent white doesnt work when applied to the Primary Navigation background color in the theme customizer"
## Attached PR

- https://github.com/elegantthemes/Divi/pull/2661

[2016-12-17 17:43] timayhelen opened #857 "Setting Primary Navigation to "Fullwidth" in the customizer causes horizontal scroll bar"

[2016-12-17 19:25] #856 closed

[2016-12-17 21:52] lots0logs commented on #773
@fikrirasyid Those are global rows, not sections. But yes they are the same global item as that is the topic of this github issue (right?).

I think the modules should not change when the page is refreshed. Since this PR attempts to keep them in sync with how they will appear on the frontend I think keeping the behavior shown in my screencast makes it seem buggy from a user perspective. Could we d

[2016-12-18 09:30] lbjohnson01 commented on #855
I just did - thank you!

[2016-12-19 02:13] FaycalBoutam commented on #852
Also for the background position (fixed) it's not working.

[2016-12-19 07:49] eduard-ungureanu commented on #849
@fikrirasyid I did follow your comments, and still it doesn't show the BuddyPress content. I will attacked 3 screenshots:

BuddyPress Settings:
<img width="960" alt="screen shot 2016-12-19 at 9 46 13 am" src="https://cloud.githubusercontent.com/assets/1719735/21304791/395c7b5c-c5d0-11e6-8b25-8bd321787d22.png">

How the Members page shows on default wordpress theme:
<img width="960" alt="screen sho

[2016-12-19 09:30] SlavaET commented on #838
@lots0logs done.

[2016-12-19 10:51] SlavaET commented on #844
Fixed the issue when empty slides were displayed with wrong height in FireFox.
@dm-chechik can you reproduce the issue described in original customer's ticket? I fixed a different issue, because it's the only issue I see.

[2016-12-19 11:29] SlavaET commented on #857
@timayhelen I cannot reproduce the issue. Can you please post the screenshot? Probably it appears  on certain layout only

[2016-12-19 17:06] FaycalBoutam commented on #852
@lots0logs This is important. Customers who used the no-repeat or fixed options are now seeing their site's (bg image) messed up.

[2016-12-19 18:34] abhi-sharm commented on #835
is this fix has been released with latest update or yet to be released ?

[2016-12-19 19:08] lots0logs commented on #835
This fix is included in the latest released version of Divi :+1:

[2016-12-19 19:59] lots0logs commented on #843
@fikrirasyid I see the issue. I'm looking at buttons that appear in CTA and Slider Modules, not the Button Module. The issue still exists for other buttons (that aren't the Button Module).

[2016-12-19 20:47] lots0logs commented on #838
@SlavaET The font weight for the select button should be the same as on the clear button.

![2016-12-19_02-46-50-pm](https://cloud.githubusercontent.com/assets/4675662/21328544/1b0c0602-c5fa-11e6-9d51-961dfcb7e653.png)

[2016-12-19 20:54] timayhelen commented on #857
@SlavaET Looks like it only occurs when Fixed Navigation is disabled in ePanel.

[2016-12-19 21:07] lots0logs commented on #839
@SlavaET I checked it again after making sure any possible cache was cleared. Before I open the page settings I see this:

![2016-12-19_03-03-55-pm](https://cloud.githubusercontent.com/assets/4675662/21329123/b6abb01a-c5fc-11e6-94cb-ae521c2be15a.png)

After opening the page settings, the gallery flashes just like in my screencast and then I see this:

![2016-12-19_03-05-34-pm](https://cloud.github

[2016-12-19 22:58] fikrirasyid commented on #773
@lots0logs before we can consider this:

The question that need to be answered is:

1. The same two items are changed at the same time, the origin row and the destination row
2. Both items sent AJAX update to update itself and update all the same library item on the page
3. **Both items are changed at the same time**. Which one we need to update and which one that we shouldn't update? The origin,

[2016-12-19 23:10] lots0logs commented on #773
@fikrirasyid

Good point. Considering that, I think it makes more sense to disallow moving modules between two copies of the same global row or section.

[2016-12-19 23:12] fikrirasyid commented on #773
@lots0logs noted. Looks like it is the most intuitive behaviour possible in this case. I'll add that restriction.

[2016-12-20 05:09] fikrirasyid commented on #849
@eduard-ungureanu thank you for your test site! I finally figured out that the issue occurs whenever `Grab the first post image` option is enabled. I've attached the PR above.

[2016-12-20 05:34] SlavaET commented on #838
@lots0logs fixed.

[2016-12-20 06:01] Jronk commented on #349
I have taken all the design and qa feedback and made many modifications:
1. It will now only pop the spinner and attempt to "sync" with other editor if the other editor did actually make changes
2. If you click save on either editor, it will clear both editor's browser autosaves
3. If you intentionally exit without saving in FB, it will drop its browser autosave

[2016-12-20 06:06] SlavaET commented on #839
@lots0logs fixed. Please check the latest version of PR.

[2016-12-20 07:27] fikrirasyid commented on #843
@lots0logs can you share the screencast and the layout you're using? I've checked all other module that use button besides button module on my local testing site, and it looks as expected:

![843-proof](https://cloud.githubusercontent.com/assets/916442/21341699/594e03ea-c6c0-11e6-96bc-049ba8c42318.gif)

[2016-12-20 08:12] SlavaET commented on #857
@timayhelen fixed. Btw, the issue appears not only in Customizer, but on actual front-end as well.

[2016-12-20 15:46] dm-chechik commented on #844
@SlavaET I've imported the layout to my test enviro.
This is how it looks under FireFox browser.
![image](https://cloud.githubusercontent.com/assets/20072036/21356981/a00875d0-c6e4-11e6-89dd-bed3141d4431.png)

[2016-12-20 16:28] SlavaET commented on #844
Yes, this is the issue I fixed in my PR, but can you reproduce the issue described by customer?

[2016-12-20 16:31] dm-chechik commented on #844
@SlavaET Did you mean this?

I can't reproduce this

[2016-12-20 17:22] SlavaET commented on #844
Yeah, I meant that. I can't reproduce it either.

[2016-12-20 18:22] lots0logs commented on #849
@fikrirasyid I think that it would be better to implement your solution in a way that will prove beneficial in the long-term. Let's add the apply filters call in `et_get_option()` instead. We can use this format for the filter names: `et_option_{$option_name}`

[2016-12-20 19:17] lots0logs commented on #773
@fikrirasyid Can we make it so that we don't show drop zones for this case?

[2016-12-20 22:23] fikrirasyid commented on #849
I thought and tested about what you suggested earlier, but it created unneeded complexity for filtering because `$shortname` is included in the option key. So when you're thinking about:

[code]

I'm pretty sure you think that the complete option name is:

[code]

while the actual option name is:

[code]

Consequently, if you'd filter `et_get_option()` output, it'll be something like:

[code]

whi

[2016-12-20 23:52] #857 closed

[2016-12-20 23:52] #851 closed

[2016-12-20 23:52] #829 closed

[2016-12-20 23:52] #839 closed

[2016-12-20 23:52] #840 closed

[2016-12-20 23:52] #845 closed

[2016-12-21 00:17] lots0logs commented on #849
@fikrirasyid There is only ever one of our themes active at any given time. Therefore it matters not what the value of `$shortname` is to the consumer of the filter. Further, the entire WordPress code base is built on the concept of actions and filters. Obviously, you know that; my point is that wrapping the return value of `et_get_option()` in a call to `apply_filters()` will not have any measura

[2016-12-21 00:49] fikrirasyid commented on #849
@lots0logs regarding this:

I didn't mention anything about performance. By unnecessary complication I mean the structure of the code.

The existing PR actually anticipate potential future problem, as I mentioned on the comment block of the code:

Due to the way `the_content` filter is used by `et_first_image()`, I think more plugin, including third party plugins that we support by default, would

[2016-12-21 01:35] lots0logs commented on #849
@fikrirasyid

I misunderstood you. Sorry! :sweat_smile:

That is a good point.

[2016-12-21 06:40] SlavaET commented on #849
I agree that adding filter into `et_get_option()` is a good idea, but I don't think we should add it in scope of this issue. This is not related to the fix and Fikri's new filter is an useful addition to his solution in this particular case.
If we're talking about ability to override theme options in general, then it's already possible. We're using `get_option()` function to retrieve the options d

[2016-12-21 09:06] eduard-ungureanu commented on #561
@uportnykh , @lots0logs I finally get a response from the client. he is using the "official mapping plugin" which strange enough it says that it's not supported and maintained anymore, even if the plugin is present in the WordPress code:

https://codex.wordpress.org/Create_A_Network

and this is the plugin:
https://wordpress.org/plugins/wordpress-mu-domain-mapping/

Client keeps saying that the pl

[2016-12-21 11:22] eduard-ungureanu opened #858 "Slider Module :: Firefox Browser"
### Problem:

Using the slider module, adding 4 slides, where the last slide only have the background image + the slide image set, it will not render in Firefox, the slide image, doesn't get the max-height property properly set, like it does in Chrome / Safari, and it simply the whole slide has 0px in height.

Please check this demo url in chrome and latest firefox version:
http://divi.wordpress-c

[2016-12-21 11:54] SlavaET commented on #858
Eduard, can you please check whether this PR fixes the issue or not - https://github.com/elegantthemes/submodule-builder/pull/1531

[2016-12-21 12:02] eduard-ungureanu commented on #858
@SlavaET yap, that fixes the issue with firefox:
<img width="960" alt="screen shot 2016-12-21 at 2 01 47 pm" src="https://cloud.githubusercontent.com/assets/1719735/21388694/12243298-c786-11e6-87b7-7b284943a546.png">

[2016-12-21 12:16] SlavaET commented on #858
Great closing it then.

[2016-12-21 12:16] #858 closed

[2016-12-21 15:01] dm-chechik opened #859 "Divi Library :: Impossible to export element"
### Problem:

Impossible to export element from the library if it belongs to a category that has a parent.

### Steps To Reproduce:
1. Create a Parent category and child category in Divi Library
2. Assign library element to the child category
3. Try to export the element
4. The export process sucks at 1%

### Attached PR
- https://github.com/elegantthemes/submodule-core/issues/50

[2016-12-21 17:43] Jronk commented on #849
To chime in as well, I agree with the big picture here as well.

1. There are many ways to skin this cat, but @fikrirasyid 's current PR'd way has a good level of context and specificness that lends to be more helpful in this particular situation.
2. Even with that, I agree with adding a filter to `et_get_option()`, but also as @SlavaET mentioned there are already filters higher up that still be u

[2016-12-22 02:34] lots0logs commented on #349
@Jronk

- [ ] Try this:
1. Open the BB and the VB for the same page.
2. In the VB, make any change to the layout.
3. Switch over to the BB, and you will see it picks up the change. Perfect.
4. Don't make any changes, now switch back to the VB. It thinks there has been a change and throws up the spinner to check.
- [ ] [This error](http://paste2.org/Gj9thMjH) keeps showing up in the console though

[2016-12-22 12:21] fikrirasyid commented on #773
@lots0logs I've adjusted the drop zone behaviour.

[2016-12-22 14:20] dm-chechik opened #860 "Module Settings :: Color Picker does not work correctly in backend editor"
### Problem:

To invoke color picker you need to click twice.
![screen](https://cloud.githubusercontent.com/assets/20072036/21428386/d75fc100-c86a-11e6-8b59-8d40c3869f72.gif)

[2016-12-22 15:07] dm-chechik opened #861 "Compatibility with Enhanced Media Library"
### Problem:

The issue comes from the ticket -> https://www.elegantthemes.com/forum/viewtopic.php?f=190&t=630732
Customer has noticed the plugin media library dialog is not showing in VB.
However I can't see this dialog in backend editor too.

[2016-12-22 16:57] #801 closed

[2016-12-22 16:59] timayhelen commented on #846
@SlavaET Yeah let's allow it, unless you think there was a good reason not too. I think some people use empty sections like dividers sometimes, with custom background colors or patterns.

[2016-12-22 16:59] #670 closed

[2016-12-22 21:31] lots0logs opened #862 "Customizer :: Background :: Stretch And Repeat/Position Should Be Mutually Exclusive"
### Problem:
When stretch background is enabled, repeat and position should be disabled/default. When repeat/position are not disabled/default then stretch background should be disabled.

## Attached PR
- https://github.com/elegantthemes/Divi/pull/2670

[2016-12-22 21:53] timayhelen commented on #679
@fikrirasyid This seems to break the Live Preview mode in the BB. When I click the button to preview any many, even when responsive editing is not being used, I get the following error:

![screen shot 2016-12-22 at 1 51 44 pm](https://cloud.githubusercontent.com/assets/3333028/21441642/fb98211a-c84d-11e6-85c7-fcf67fbce3e1.png)

[2016-12-23 00:50] #766 closed

[2016-12-23 00:50] #844 closed

[2016-12-23 00:50] #849 closed

[2016-12-23 00:51] #843 closed

[2016-12-23 00:51] #852 closed

[2016-12-23 02:07] fikrirasyid opened #863 "FB :: Unwanted reset preview mode when dragging modal"
### Problem:

As @timayhelen mentioned:

![snap-2](https://cloud.githubusercontent.com/assets/916442/21445627/14f73c4a-c8ee-11e6-976c-c0a2d08a8e85.gif)

![unwanted-resize](https://cloud.githubusercontent.com/assets/916442/21445705/b1473cb2-c8ee-11e6-9324-d6b632487cde.gif)

### Steps To Reproduce:
1. Open any Blurb's modal, switch to Design tab
2. Activate Responsive Mode in `Header Font Size`
3. S

[2016-12-23 02:19] timayhelen opened #864 "Screen Moves When Interacting With VB UI After Using The Inline Editor"
1. Activate the Inline Editor.
2. Scroll down the page until the Inline Editor is out of the viewport and then click on some other UI element (such as a (+) button or anything else).
3. Your action will not work and you will be jolted back to where you had activated the Inline Editor previously.

![bug](https://cloud.githubusercontent.com/assets/3333028/19983762/867f11d2-a1c8-11e6-94ce-c380bedb286

[2016-12-23 02:35] #863 closed

[2016-12-23 03:42] #864 closed

[2016-12-23 08:05] fikrirasyid commented on #679
@timayhelen I've fixed the issue you mentioned above + any occurring merge conflict.

[2016-12-27 10:10] SlavaET opened #865 "VB :: 1/4 columns stick together in Responsive preview on hover"
### Problem:

![1-4-column-responsive](https://cloud.githubusercontent.com/assets/3446682/21497410/d9873926-cc4e-11e6-94f4-a63cca66e790.gif)

### Steps To Reproduce:
1. Create section with 1/4 1/4/ 1/4 1/4 layout in VB
2. Switch to the Tablet preview mode
3. Hover over the column

[2016-12-27 23:54] kary4 opened #866 "Timeout error when woocommerce enabled"
Can anyone take a look why Visual Divi Builder pops up Timeout error message only when woocommerce is enabled? I can't find out where the problem comes from.

It's the latest divi theme and wordpress 5.6.25. Memore limit and other options are fine.
http://purehomespun.com

Ask me for a token if you need,
Thank you.

Ticket: https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=630512

## Attac

[2016-12-27 23:57] fikrirasyid commented on #866
@kary4 can you PM me the token over Slack? I think I have a theory in mind that I need to check about this issue.

[2016-12-27 23:58] kary4 commented on #866
Sure, thank you!

[2016-12-28 03:19] fikrirasyid commented on #866
@kary4 @lots0logs I've figured out what actually happens, but I'm still working on a decent fix for this. In summary, this is what happens:

1. User sets page titled "home" as its home page, as defined from `Dashboard > Settings > Reading > Front Page Displays`
2. User sets the same page (home) as its WooCommerce's Shop Page, as defined from `Dashboard > WooCommerce > Settings > Products > Shop Pa

[2016-12-28 03:38] lots0logs commented on #866
@fikrirasyid A similar situation frequently comes up in the forum which is when customers configure the shop page they created with the builder as their shop page in woocommerce settings. Is there anything we can do to prevent this situation, or at least make the user aware that they are `doing_it_wrong()`?

[2016-12-28 04:52] fikrirasyid commented on #866
@lots0logs I'm still working on it. The main issue is VB works on `is_page()` condition, while shop page is basically turns the selected page into `is_archive()` condition.

I initially thought to use the `make the user aware that they are doing_it_wrong()` approach, but as I think of it, it makes the experience of VB isn't really intuitive. I'm still looking for a better and intuitive approach fo

[2016-12-28 05:56] SlavaET opened #867 "VB :: tinyMCE error appears in some cases"
### Problem:
It's quite inconsistent, but I can catch it:
![tinymce-error](https://cloud.githubusercontent.com/assets/3446682/21514880/789e1188-ccf4-11e6-9b89-729298798dec.gif)

### Steps To Reproduce:
1. Toggle accordion items and switch between inline editors on page. Error will appear at some point.

### Attached PR
https://github.com/elegantthemes/submodule-builder/issues/1549

[2016-12-28 13:35] lots0logs opened #868 "Responsive Preview Mode :: Add New Row Button Not Positioned Properly"
### Problem:

This happens on tablet and mobile views:

![2016-12-28_07-33-47-am](https://cloud.githubusercontent.com/assets/4675662/21523032/2afe9066-ccd0-11e6-9d79-92fba99695df.png)

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1548

[2016-12-28 15:57] fikrirasyid commented on #866
@lots0logs please take a look at https://github.com/elegantthemes/submodule-builder/pull/1547. I think this is the most intuitive solution: adapt embrace to the way WooCommerce displays `post_content`.

[2016-12-28 16:43] fikrirasyid commented on #868
@lots0logs can you elaborate the steps needed to replicate the issue? I tried to replicate the issue, but all of them appears to be correct .

[2016-12-28 16:57] lots0logs commented on #868
@fikrirasyid No special steps really. For example, go to https://www.elegantthemesdemo.com and activate the tablet mode. Then look at the add new row button (it will be partially cut off like in the screenshot above)

[2016-12-28 23:36] fikrirasyid commented on #866
@lots0logs UX wise, I think using shop module as dependency would make it super weird, especially when we consider that user can add / remove shop module in real time using visual builder. While I'm sure your assumption on this might be accurate:

I thought that it'd be better to educate the user that shop page carries the consequence which is what user saw right now (WC templating). However as I

[2016-12-29 00:13] lots0logs commented on #866
@fikrirasyid

That's actually what I meant in my previous comment, I guess I didn't explain myself well (sorry :sweat_smile: )

[2016-12-29 01:00] fikrirasyid commented on #868
@lots0logs thanks for the clarification. I've pushed a fix for this issue (see attached PR)

[2016-12-29 01:09] lots0logs commented on #868
@fikrirasyid I think your PR will conflict with one of @SlavaET 's (he fixed the issue with the columns moving upon hover).

[2016-12-29 01:11] fikrirasyid commented on #868
@lots0logs can you share the link of @SlavaET's PR?

[2016-12-29 01:13] lots0logs commented on #868
@fikrirasyid https://github.com/elegantthemes/Divi-Beta/issues/865

[2016-12-29 01:20] fikrirasyid commented on #868
@lots0logs fixed, thank you for noticing it 👍

[2016-12-29 06:38] SlavaET commented on #867
I found a way to reproduce this error quite consistently:
1) Toggle accordion item;
2) Quicly click in the opening toggle item content to activate the inline editor before the toggling animation is finished;
3) Click any button in opened inline editor popover or in some other module to activate the inline editor in different place.
![accordion-tinymce-error](https://cloud.githubusercontent.com/ass

[2016-12-29 09:42] SlavaET commented on #771
@lots0logs I merged the latest master into my PR, can you please check it again? If you still see the issue - let me know and let me test it on your server, because I cannot reproduce the issue on my localhost..

[2016-12-29 15:00] fikrirasyid commented on #866
@lots0logs updated. Please read the updated PR message on how the patch works.

[2016-12-29 19:25] timayhelen commented on #862
When no image is applied and stretch background image is disabled. After adding an image, the correct options do not appear. They appear after toggling stretch background on and off again, however.

![strech-1](https://cloud.githubusercontent.com/assets/3333028/21552865/63dd7b42-cdb9-11e6-954c-f490f6d8bfa7.gif)

[2016-12-29 19:29] timayhelen opened #869 "VB Does Not Extend When Extending Browser Window"
![breakpoint](https://cloud.githubusercontent.com/assets/3333028/21552955/14e6c0ce-cdba-11e6-93f9-1f1d12c29370.gif)

## Attached PRs

- https://github.com/elegantthemes/submodule-builder/pull/1552

[2016-12-29 19:34] timayhelen commented on #865
@SlavaET This doesn't work for me. I cleared cache and I am in Incognito. I am testing on the Homepage Basic layout.

[2016-12-29 19:50] timayhelen commented on #773
@fikrirasyid There are issues with this branch.

1. Save a module as global.
2. Duplicate the module.
3. Open the duplicated module settings.
4. Close the modal and attempt to open the original global module settings.

![screen shot 2016-12-29 at 11 47 41 am](https://cloud.githubusercontent.com/assets/3333028/21553407/f7132b02-cdbc-11e6-83c3-a43b8edfd2ea.png)

[2016-12-29 20:04] #770 closed

[2016-12-29 20:30] timayhelen commented on #868
@fikrirasyid This worked for responsive preview modes, but not when the browser was actually sized down manually. I added the same fix for the normal @media breakpoint.

[2016-12-29 21:06] #687 closed

[2016-12-29 21:06] #734 closed

[2016-12-29 21:07] #741 closed

[2016-12-29 21:07] #761 closed

[2016-12-29 21:07] #757 closed

[2016-12-29 21:34] lots0logs commented on #867
@SlavaET The accordion's animation is not right on this branch:

#### This Branch:
![2016-12-29 15-32](https://cloud.githubusercontent.com/assets/4675662/21555284/427c6c06-cddc-11e6-984b-f71f1e37be8a.gif)

#### Master:
![2016-12-29 15-32-2](https://cloud.githubusercontent.com/assets/4675662/21555288/4c63f3e2-cddc-11e6-961c-5041ca3614dc.gif)

[2016-12-29 21:53] lots0logs commented on #866
@fikrirasyid Could we rename the new directory to `compat` instead?

[2016-12-30 00:35] #679 closed

[2016-12-30 00:35] #847 closed

[2016-12-30 00:35] #838 closed

[2016-12-30 00:35] #846 closed

[2016-12-30 00:35] #860 closed

[2016-12-30 00:35] #868 closed

[2016-12-30 00:35] #869 closed

[2016-12-30 01:05] timayhelen opened #870 "Lag When Adding New Rows Between Two Existing Rows"
Try loading the Homepage Basic layout. Duplicate the first row with the slider in it to create a section with 2 1 column rows. Try adding a new row between the two rows, and notice that ~1 second delay before you are prompted to add a new module. Now try adding a new row below the two rows, at the bottom of the section. There is no lag.

![rows](https://cloud.githubusercontent.com/assets/3333028/2

[2016-12-30 12:40] SlavaET commented on #867
@lots0logs fixed. Actually I fixed the original issue in a different way and it's possible to activate tinyMCE while toggling accordion now.

[2017-01-02 08:44] SlavaET commented on #726
Fixed.
The only issue I cannot reproduce:

Seems the setting is not working at all. I can edit text inside any module.

@dm-chechik can you please check it in the latest version of Builder? It seems to work as expected and I cannot edit content when `Edit Content` is disabled in Role Editor.

[2017-01-03 05:40] timayhelen opened #871 "Divi 3.0.26 Causing Issue With Responsive Editing"
A few users are reporting that, after upgrading to Divi 3.0.26, their customizations for Tablet and Smartphone breakpoints in the Divi Builder (using the responsive editing feature) have disappeared. After loading up each module's settings and saving the page, the customizations return.

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=634798&p=3497970
https://www.elegantthemes.com/forum/

[2017-01-03 07:45] SlavaET commented on #871
weird, I tried several options and they work after update.
I tested it like this:
1) activate old version of Divi 3
2) adjust padding and font-size for all the breakpoints in Blurb module
3) save
4) activate the latest version of Divi 3
5) check output on front-end and in VB.
All the responsive options work as expected.
@timayhelen are you able to reproduce it?

[2017-01-03 10:32] eduard-ungureanu opened #872 "Mega Menu :: 3rd level children"
### Problem:

Not sure if this is an actual issue, or this is how it suppose to work but it looks like if using the mega menu the user cannot add a 3rd level menu item, that item will show in the mega menu.

Here is an example:
<img width="960" alt="screen shot 2017-01-03 at 12 30 45 pm" src="https://cloud.githubusercontent.com/assets/1719735/21605245/7bc20ad4-d1b0-11e6-865e-47d3f9f67ce5.png">

Th

[2017-01-03 14:07] eduard-ungureanu opened #873 "Localization :: Gallery Module :: Slider Format"
### Problem:

The "Loading" and "x of y" text cannot be translated.

### Steps To Reproduce:
1.  set your website to be a different language
2. add the gallery module
3. set the layout to be slider

The "Loading" text that appears when the image is loading and the X (current image number) of Y (total number of images) cannot be translated:

![screenshot-et-2017-01-03-16-06-24](https://cloud.github

[2017-01-03 18:19] timayhelen commented on #872
This is working as intended

[2017-01-03 18:19] #872 closed

[2017-01-03 18:19] #873 closed

[2017-01-03 18:19] timayhelen commented on #873
Issue moved to [elegantthemes/Divi #2680](https://github.com/elegantthemes/Divi/issues/2680) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-03 19:17] lots0logs commented on #859
@SlavaET Looks like the child category is exported as if it was a top-level category now. We should retain the category hierarchy for exporting items so that the result after importing them on another site is the same as the original site.

[2017-01-03 22:22] #871 closed

[2017-01-04 00:18] lots0logs opened #874 "Pricing Table Module :: Clicks Inside Settings Modal Cause Rerender"
### Problem:

This is related to elegantthemes/Divi#2679

[2017-01-04 01:12] #867 closed

[2017-01-04 01:12] #870 closed

[2017-01-04 01:47] #874 closed

[2017-01-04 01:51] timayhelen opened #875 "Impossible To Exit Inline Editor"
It is currently impossible to exit the inline editor after clicking into editable content in the Visual Builder. If you click ESC, or click outside the editable area, the cursor is removed and it looks like you have exited the content area. However, if you start typing your typed content appears at the beginning of the editable area.

Larger events, such as adding new modules or opening settings m

[2017-01-04 02:16] lots0logs opened #876 "Module Settings :: Impossible TO DnD Child Modules"

[2017-01-04 02:44] #876 closed

[2017-01-04 07:34] SlavaET commented on #726
@lots0logs done. Please check again.

[2017-01-04 08:41] SlavaET commented on #859
@lots0logs fixed. Categories hierarchy will be retained now.
But if you export only item ( or items ) which included into child categories and no items from parent category included into the export file, then the child-parent relation will be lost during the import.

[2017-01-04 09:53] SlavaET commented on #865
I can't reproduce this issue in the latest master.
@timayhelen @lots0logs can you please check whether you still see the issue in the latest master?

[2017-01-04 17:34] timayhelen commented on #865
This was fixed, sorry I forgot to close the issue.

[2017-01-04 17:34] #865 closed

[2017-01-04 19:45] lots0logs commented on #859
@SlavaET Hmm..why is that? An item in a child category is also considered to be in the parent category regardless of whether it is explicitly configured that way. For example, if you have a category called Vehicles and two child categories called Cars and Trucks, when you list all Vehicles, it will include all the cars and all the trucks.

[2017-01-04 20:04] lots0logs commented on #875
@SlavaET A couple issues:

![2017-01-04 13-58](https://cloud.githubusercontent.com/assets/4675662/21657061/3dbab426-d286-11e6-9abb-be881b2dc0d0.gif)
___________________________________________________

![2017-01-04 14-00](https://cloud.githubusercontent.com/assets/4675662/21657073/49233626-d286-11e6-8fa3-bab01e52ec07.gif)

[2017-01-04 20:22] lots0logs commented on #726
@SlavaET When Fonts are disabled in the role editor, it removes **everything** except the admin label in the General Tab and **everything** except colors in the Design Tab. Vise-versa when Colors are disabled.

[2017-01-05 00:05] fikrirasyid commented on #866
@lots0logs

done.

Have you tried this note I mentioned at the PR's message?

[2017-01-05 00:38] fikrirasyid commented on #862
@timayhelen can you use smaller image to test the PR? Based on the gif you attached, it appears that you were using 1800 x 900 image which gives a fullwidth + stretched-like appearance due to the dimension of the window:

![screen shot 2017-01-05 at 7 33 58 am](https://cloud.githubusercontent.com/assets/916442/21664528/a9e274f2-d319-11e6-9df7-00ea968563ac.png)

I tested the PR using really small i

[2017-01-05 00:55] timayhelen commented on #862
@fikrirasyid I am referring to the available options in the sidebar, not the appearance of the image.

[2017-01-05 00:58] fikrirasyid commented on #862
@timayhelen ah i see. I'm looking into wrong areas then :facepalm:

Thank you for confirming it, I'll work on it 👍

[2017-01-05 02:35] fikrirasyid commented on #773
@timayhelen I've fixed this via https://github.com/elegantthemes/submodule-builder/commit/ac81829eca66bef31ee153a63f7e01d00327f6ba.

[2017-01-05 03:49] fikrirasyid commented on #862
@timayhelen I've pushed https://github.com/elegantthemes/Divi/commit/979ca465c5bf3fc9e7aa6d24ff8950711f2f0680 to fix the issue mentioned at https://github.com/elegantthemes/Divi-Beta/issues/862#issuecomment-269680026. While at it, I also figured that it'd be better if `stretch background image` option is being toggled based on background image as well. Thus, the way it works now is:

`Background i

[2017-01-05 05:30] SlavaET commented on #726
@lots0logs fixed.

[2017-01-05 05:47] SlavaET commented on #859
@lots0logs do you mean that it's correct to include the post in both parent and child category during the export? It's the only way we can preserve the parent-child hierarchy during the export of posts included into child categories only.
In that case filters in library will work correctly, but it still won't be quite correct and will look differently than it should.
For example before exporting:

[2017-01-05 06:14] lots0logs commented on #859
@SlavaET After taking a closer look at the exported json file I see why you did it the way that you did. Ideally, when exporting layouts from one site and importing them on another site, the category structure for the layouts should be identical to that of the first site. If we cannot accomplish that without too much effort then we can just go with your proposed solution for now.

[2017-01-05 09:17] SlavaET commented on #859
@lots0logs I found a way to preserve the full categories hierarchy even when single post from child category imported. Please check the latest version of PR.

[2017-01-05 09:43] fikrirasyid commented on #861
@lots0logs @dm-chechik I've dug deeper on this topic and there are good and bad news:

## Good News
Enhanced Media Library is actually only modifying WordPress' default media library modal. Thus, it will appear on WordPress' default media library modal:

![861-conclusion](https://cloud.githubusercontent.com/assets/916442/21675272/d46e5dc2-d363-11e6-884f-0d7cc65f9d83.jpg)

The filter wouldn't appea

[2017-01-05 11:18] dm-chechik opened #877 "Unable to import to Divi Library"
### Problem:

The issue comes from this ticket -> https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=620899&start=10
I've checked everything (plugins, php.ini settings) and nothing.
Please help to identify the problem.

[2017-01-05 18:08] lots0logs commented on #820
@SlavaET The customer is using a plugin that uses HTML5 tags on elements for rendering the contents of some custom popups. Though really the exact use case is not relevant to us. What is relevant, however, is that it works fine in the default editor but it does not work in the builder.

[2017-01-05 18:59] lots0logs commented on #771
@SlavaET I have good news and bad news. The good news is that flash is gone. The bad news is I noticed something I missed before :sweat_smile:  When you edit the address of an existing map point the map doesn't update.

[2017-01-05 19:37] lots0logs commented on #866
@fikrirasyid I realized what I was doing the first time I tested it..I was viewing the page using its permalink instead of using `/shop` to access it. If you access it via `/shop` then it works perfectly. If you access it using the original permalink then it doesn't render the page correctly.

Also I noticed that when the shopping cart is empty, the Return To Shop button links to the page's origin

[2017-01-05 21:11] lots0logs commented on #726
@SlavaET Hmm..now when fonts are disabled it removes both the font and color options from the modules.

[2017-01-06 00:21] timayhelen commented on #349
@Jronk

- [ ] Error upon browser backup restore. I was prompted to restore a browser backup in the Visual Builder. Once restored, the follow error occurred and the content was jumbled.

![screen shot 2017-01-05 at 4 19 53 pm](https://cloud.githubusercontent.com/assets/3333028/21702857/eefa4058-d362-11e6-9ec4-772372cfa655.png)

![screen shot 2017-01-05 at 4 19 29 pm](https://cloud.githubusercontent

[2017-01-06 00:23] timayhelen commented on #349
- [ ] No "Unsaved Changes" prompt when exiting the builder. It looks like this no longer works in the latest PR. If you make changes to the builder and then leave, you should be prompted to Save & Exit or Discard & Exit.

![save](https://cloud.githubusercontent.com/assets/3333028/21702905/3999e67c-d363-11e6-89d9-54271a17450c.gif)

[2017-01-06 02:26] fikrirasyid commented on #866
@lots0logs hmm... I don't understand why you separate `/shop` and "`original permalink`". "Shop page" is basically whatever page you're configuring at `Dashboard > WooCommerce > Settings > Products > Display > Shop Page`:

![screen shot 2017-01-06 at 9 21 10 am](https://cloud.githubusercontent.com/assets/916442/21705284/a01eef80-d3f1-11e6-9fe2-e5ad3b4ff337.png)

Which regarding this:

If you have

[2017-01-06 03:59] lots0logs commented on #866
@fikrirasyid I might be wrong but AFAIK, this is how WooCommerce Shop Page works:

1. Let's say you create a page titled **My Shop Page**. After publishing the page, it is accessible at `http://yoursite.com/my-shop-page`
2. Then you go to WC settings and set the "Shop" page to be the page you just created:

![2017-01- 5_09-45-09-pm](https://cloud.githubusercontent.com/assets/4675662/21707071/a7396

[2017-01-06 04:27] fikrirasyid commented on #866
@lots0logs ah I see. I think we have a different understanding on what `Dashboard > Settings > Permalink` setting does. As far as I know (and I've re-checked it to WooCommerce's docs: https://docs.woocommerce.com/document/permalinks/) `Dashboard > Settings > Permalink` has nothing to do with defining product archive page. It only deals with **singular product item page permalink**. Its job is to e

[2017-01-06 04:38] SlavaET commented on #771
@lots0logs I merged the latest master into my PR and I cannot reproduce the issue you described. Can you please check it again and if you still can reproduce, then please post the exact steps.

[2017-01-06 04:44] SlavaET commented on #726
@lots0logs which color options you're talking about? If you're talking about `font color` options, then it's expected, because these options are categorized as `font` options so they become hidden when you disable font editing. All other color options are not affected. It's the same in BB.

[2017-01-06 05:19] lots0logs commented on #726
@SlavaET Hmm..now that you mention it, I'm not sure. I can't remember :sweat_smile: . I'll check it again and let you know!

[2017-01-06 05:37] SlavaET commented on #875
@lots0logs fixed.

[2017-01-06 10:13] dm-chechik opened #878 "Module options panel is inaccessible on certain layots"
### Problem:

It seems we have already fixed the same issue before. However I can't find the issue on GitHub.
The row options panel overlaps module panel if it located at the top left corner of the row and the module height is low.
![image](https://cloud.githubusercontent.com/assets/20072036/21714700/735ee246-d411-11e6-893e-f20e44bafb5f.png)

This is how the layout looks from backend editor.
![ima

[2017-01-06 13:38] eduard-ungureanu opened #879 "Divi Builder :: Cloning Sections on Safari"
### Problem:

Using the latest version of Safari on a Mac OS Sierra, I cannot clone section when the layout become more complicated.

To best ilustrate the issue, please check out this screenshot:
https://drive.google.com/open?id=0B8PjD3Z_XQvuQldtdmxBMm9peVE

Everything works in Chrome or Firefox.

[2017-01-06 21:55] kary4 opened #880 "Plugin Compatibility :: Conflict with reCAPTCHA feature from iThemes Security Pro"
### Problem:

Can anyone check the following ticket:
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=627543

The plugin does not work with divi and honestly I'm not sure if it actually should work or not.
Also, the plugin author says they try to contact with Eleganthemes.

[2017-01-07 01:58] lots0logs opened #881 "Fullwidth Header Module :: Shows Incorrect Help Text For Content Field"
@FaycalBoutam commented on [Fri Jan 06 2017](https://github.com/elegantthemes/Divi/issues/2684)

### Problem:

The help text shown is for the Map Module's Map Points.

![divi builder demo just another wordpress site](https://cloud.githubusercontent.com/assets/16414613/21737487/17df30fa-d471-11e6-9dc4-bbde686fdcb4.png)

### Attached PR
elegantthemes/submodule-builder#1563

[2017-01-07 02:27] lots0logs commented on #866
@fikrirasyid You were right :1st_place_medal:  But its still not working for me. The result is the same as I mentioned in https://github.com/elegantthemes/Divi-Beta/issues/866#issuecomment-269699415 You can log into my test site and check it out, just let me know when you do so I can make sure its on the right branch.

[2017-01-07 02:39] lots0logs commented on #875
@SlavaET I'm still seeing the issue with the accordion.

[2017-01-07 02:57] fikrirasyid commented on #866
@lots0logs Sure, can you PM me your test site via slack?

[2017-01-07 03:03] SlavaET commented on #875
@lots0logs what's wrong with the accordion? I'm not sure that understand it from your screen last. Can you please explain?

[2017-01-07 03:12] lots0logs commented on #875
@SlavaET Yeah, (sorry). Only one accordion section should be open at any time. When you open a section the section that is currently open should close. Check it on the demo to see the correct behavior.

[2017-01-07 04:22] SlavaET commented on #875
Got it, I was trying to see the issue with inline editor on your scrrencast 😀

[2017-01-07 16:51] fikrirasyid commented on #866
@lots0logs it turned out that my previous patch has a flaw in it: I missed flushing permalink after setting shop page which causes incomplete setup which cause me to miss the issue that appear on your test site. I've pushed a fix for the PR (see https://github.com/elegantthemes/submodule-builder/commit/be9e146aabe15c65893155a990921724f3944774 for the detail explanation) and tested it on your test

[2017-01-09 05:36] SlavaET commented on #875
@lots0logs are you sure you're checking accordion module? I checked accordion and it works fine on my end, then I checked your screencast again and it looks like you have several toggle modules on your test page instead of accordion. Can you please double-check that?

[2017-01-09 10:27] andrey-agp opened #882 "Inline editor :: Setting Box overlaps the selected text"
### Problem:
**From customer:**

I see a problem when using the Front Visual Builder . As you can see in this video (13 secs - link below), when you make a "text selection" the "Text Setting Box" overlaps the selected text, then it is hard to see the settings you are doing over the texts.

Video: https://drive.google.com/file/d/0B1mUuEIg8CzreDlOR05meFlVb00/view?usp=sharing

[2017-01-09 18:13] lots0logs commented on #866
@fikrirasyid Looks, good but I found one small issue with buttons that appear inside the Sidebar Module:

![2017-01-09 12-12](https://cloud.githubusercontent.com/assets/4675662/21777568/f9ae762c-d664-11e6-9df8-c0908f2ea62e.gif)

[2017-01-09 18:45] dm-chechik opened #883 "Improvements for the Visual Impaired users"
### Problem:

The issue comes from this ticket -> https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=636009
Customer asks, can we do something to improve back editor interaction with screen readers.
For example this one -> http://www.nvaccess.org/

[2017-01-09 19:04] lots0logs commented on #883
Issue moved to [elegantthemes/Divi #2685](https://github.com/elegantthemes/Divi/issues/2685) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-09 19:04] #883 closed

[2017-01-09 20:28] lots0logs commented on #875
@SlavaET omg
![homer-simpson-doh](https://cloud.githubusercontent.com/assets/4675662/21782114/e947773a-d677-11e6-8662-028b7f93fabe.gif)

[2017-01-09 20:34] timayhelen commented on #850
@lots0logs @SlavaET Let's just keep the way it is for now, I want to stay focused on fixing bugs rather than adding new features. This PR makes the module work like the rest of the modules, which is good for now.

[2017-01-09 20:35] lots0logs commented on #877
@dm-chechik Messaged you on Slack :smiley:

[2017-01-09 20:35] #877 closed

[2017-01-09 20:43] lots0logs commented on #880
@kary4 Messaged you on Slack :smiley:

[2017-01-09 20:43] #880 closed

[2017-01-09 21:42] timayhelen commented on #773
@fikrirasyid Global modules on the page no longer sync at all for me, which I know is the purpose of this ticket. Can you check?

[2017-01-09 21:55] timayhelen commented on #771
@SlavaET I think we need to add a debounce to the Map Pin Address field and Title field in the Pin Settings. Right now it re-renders the map with every keystroke, which is quite distracting while typing in the information.
![map](https://cloud.githubusercontent.com/assets/3333028/21785156/3845f6fe-d673-11e6-87d7-479694a1ccb4.gif)

[2017-01-09 22:08] dm-chechik opened #884 "Visual Builder :: Modules Disappearing"
### Problem:

The issue comes from this ticket -> https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=630687
It seems the issue due to broken page layout because on front end I see raw shortcodes
![image](https://cloud.githubusercontent.com/assets/20072036/21785484/cc758bc0-d6d0-11e6-8b6f-67d821d1568c.png)

Also the Backend Editor crashes with the following error
![image](https://cloud.githu

[2017-01-09 23:31] fikrirasyid commented on #866
@lots0logs can we open new ticket for that? I know it is a relatively small issue, but it is quite unrelated with what this issue is.

[2017-01-09 23:47] lots0logs opened #885 "Sidebar Module :: WooCommerce Widgets :: Icon Font Not Loaded"
### Problem:

https://github.com/elegantthemes/Divi-Beta/issues/866#issuecomment-271360219

## Attached PR
elegantthemes/Divi#2688

[2017-01-10 00:29] Jronk commented on #875
See PR review

[2017-01-10 00:36] Jronk commented on #862
See PR review

[2017-01-10 00:40] #859 closed

[2017-01-10 00:53] #726 closed

[2017-01-10 01:14] fikrirasyid commented on #862
@Jronk I've incorporated your feedbacks at https://github.com/elegantthemes/Divi/commit/7e47f739df9d714951eca943d30259ff1c6416e7

[2017-01-10 01:32] fikrirasyid commented on #773
@timayhelen can you provide steps for replicating the issue and its screencast? I've checked the branch and it appears that it works as intended.

This is how syncing global module performs as expected:

![773-test-module](https://cloud.githubusercontent.com/assets/916442/21790471/1a1b787e-d70f-11e6-9f2e-2789e49a20f0.gif)

This is how syncing global row performs as expected:

![773-test-row](https

[2017-01-10 03:43] timayhelen commented on #773
@fikrirasyid I dono how I managed it, but it works now, lol. Must have been a cache issue. Sorry!

[2017-01-10 03:47] timayhelen commented on #773
@fikrirasyid I notice a few things don't sync correctly:

- [ ] Draggable Padding doesn't sync when changed
- [ ] Inline Editor changes don't always sync (sometimes they work, but they usually fail for me)
- [ ] If you add a Blog Module to a duplicated global row, it will fail to sync correctly on the other copy of the row.

[2017-01-10 10:47] SlavaET commented on #875
@Jronk fixed.

[2017-01-10 12:20] eduard-ungureanu opened #886 "Circle Counter :: Animation doesn't run on mobile (iPhone 6)"
### Problem:

Please load this page on an actual mobile phone: http://divi.wordpress-corner.com/mark_harris/ or even in browser stacks. The Circle counter animation doesn't run and it has the element in the final state of the animation and there is no animation, browser stacks shows tons of errors but only related to youtube?!

Here is the layout in question:
[Mark Harris.json.zip](https://github.

[2017-01-10 17:07] Jronk commented on #862
@fikrirasyid great thanks!

[2017-01-10 17:08] #862 closed

[2017-01-11 00:51] lots0logs commented on #850
@timayhelen Please see https://elegantthemes.slack.com/archives/D0KCFUGG6/p1483996076000393

[2017-01-11 01:10] FaycalBoutam opened #887 "Number Counter Module :: Adding a dot or comma to number"
### Problem:

The animation is smooth when you add numbers only, but when adding a comma or a dot, the animation is not "smooth"

![62](https://cloud.githubusercontent.com/assets/16414613/21831296/92587aea-d79a-11e6-8029-521a95c79262.gif)

[2017-01-11 01:26] #850 closed

[2017-01-11 01:26] #866 closed

[2017-01-11 11:34] kary4 opened #888 "Theme Customizer :: Background Alpha Slider Is not Displaying Corrctly"
### Problem:
This issue was fixed previously but it's back again. It's not possible to select opacity value in Alpha Slider  under Theme Customizer>Header & Navigation > Primary Menu Bar > Background Color. I saw a lot of users in the facebook divi group:
https://www.facebook.com/photo.php?fbid=1719659305015903&set=g.494980220631579&type=1&theater

![artwork richard slechta - mozilla firefox](http

[2017-01-11 14:02] fikrirasyid commented on #773
@timayhelen I've pushed several commits to fix the following bugs:

This issue occurs because we haven't hooked library saving mechanism when padding drag edit is done.

![773-padding-drag](https://cloud.githubusercontent.com/assets/916442/21851244/c817c1a8-d840-11e6-9097-53bd641b4b25.gif)

This issue actually occurs to all module (which is children of global row/section) which uses computed attri

[2017-01-11 20:39] dm-chechik opened #889 "Theme Customizer :: Buttons Hover Style :: Text Color does not applied."
### Problem:

The value **#ffffff** does not applied for the button hover text color.
The css rule for some reasons does not include into the theme-customizer-css section.

[2017-01-11 21:15] dm-chechik opened #890 "VB :: Fullwidth Slider :: Heading :: Padding is not the same"
### Problem:

It seems Visual Builder uses different padding for the slider heading. As a result slider heading appearance different in the VB and on frontend.
![image](https://cloud.githubusercontent.com/assets/20072036/21866656/25abcd3a-d85c-11e6-850a-d68fe762003b.png)

![image](https://cloud.githubusercontent.com/assets/20072036/21866676/3b652fe0-d85c-11e6-9092-c652d615eda2.png)

[2017-01-11 21:47] timayhelen opened #891 "Errors Related To WooCommerce Bug Fix"
This PR was mistakenly merged before passing through Design Review: https://github.com/elegantthemes/Divi-Beta/issues/866

I am doing a design review now, post merge, and have found some problems. They can be fixed in a new PR.

First of all, the Divi Theme fails to load when WooCommerce is not enabled. The following fatal error occurs as it looks for a function that does not exist:

After enablin

[2017-01-11 22:28] timayhelen commented on #888
This has been a random issue since forever ago. I think it's related to the JS calculations and the fact that fractions of pixels are used in the width and margins of the color picker elements. I added a negative -1px margin to the the first two items in the row to give the whole element just a bit of wiggle room. I think it will fix the issue.

[2017-01-11 22:29] #888 closed

[2017-01-11 22:49] lots0logs commented on #773
@fikrirasyid Changes made with the inline editor are not syncing to the other module instance at all for me.  Steps to reproduce:

1. Use the inline editor to change a sentence in the text to be bold.
2. Click out of the inline editor.
3. Nothing happens.

Same is true when adding.removing text instead of just changing styles.

[2017-01-11 23:04] timayhelen opened #892 "Responsive Editing Issue In The Visual Builder"
@fikrirasyid You recently made the update that forced custom desktop values to be used for all breakpoints when responsive editing is disabled for a particular setting. For example, if you enabled responsive editing for a section's padding, and then customized the desktop, tablet and smartphone values, and then disabled responsive editing, the tablet and smartphone values would be disregarded.

Th

[2017-01-11 23:11] timayhelen opened #893 "Reduce Delay Used For Recording Inline Editor Changes"
Currently when you make a change to the page using the inline editor, there is a 300ms delay before those changes are saved. So you make a change to some text content and then quickly exit the inline editor or click into a different editable area, the changes you just made are reverting. I am not sure why this delay exists, but I think it needs to be reduced. Is it safe to reduce this to 100ms?

!

[2017-01-11 23:26] timayhelen opened #894 "Module Titles Being Inherited From Text Content title="" Attributes"
Create a Toggle module with the title "Test" and then paste the following into the content area:

`Premium Subscribers to the <a title="RESOURCE CENTER" href="http://nmi.org/the-front-page/resource-center/">Musical Theatre Writers' Resource Center</a> receive the following discounts: - $50 off the Detailed Analysis.`

Save the module as a Global Library Item. Next, using the Backend Builder, add t

[2017-01-12 00:10] timayhelen opened #895 "Issue With Global Sections & Divi Role Editor In Visual Builder"
1. Create a new post with a Global Section.
2. Create a user role with the Author role.
3. Adjust the Author role in the Divi Role editor and disable "edit global modules." The author is no longer allowed to edit global modules.
4. Open up the post that contains the global section and drag a module inside of it.
5. Save the page and view it on the front end. The content of the section will be bugg

[2017-01-12 00:15] timayhelen opened #896 "Module Customizer Broken"
The Module Customizer is not working correctly.

1. Load up the Module Customizer.
2. Click "Slider"
3. Attempt to adjust the header font size.

You will notice that the number in the field next to the slider does not update. Also, the following error occurs:

![screen shot 2017-01-11 at 4 13 55 pm](https://cloud.githubusercontent.com/assets/3333028/21871752/1a675072-d819-11e6-9924-7a1c99d22862.pn

[2017-01-12 00:56] timayhelen opened #897 "Draggable Section Padding Overwritten By Theme Customizer CSS In Visual Builder Responsive Preview"
1. Using **Theme Customizer > Mobile Styles > Phone > Section Height** setting, add a custom value to the section height field.
2. Open a page in the Visual Builder and toggle the Smartphone Responsive Preview mode.
3. Attempt to drag the padding of a section. The visual indicator will drag, but padding will not be adjusted. This is because the Theme Customizer settings is overwriting the module s

[2017-01-12 01:35] timayhelen opened #898 "Draggable Padding Doesn't Work Correctly For Inner Rows"
When hovering over rows inside of specialty sections, the draggable padding indicators do not appear. After you drag padding for the first time, the indicators start to appear correctly.

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1568

[2017-01-12 01:45] #875 closed

[2017-01-12 02:10] timayhelen opened #899 "Is It Possible To Split Up The Save Request, Or Make The Request Smaller?"
We have a lot of people who have trouble saving their changes in the Visual Builder. It's usually related to a timeout issue with the Ajax request to save, often related to the size of the request. Often times the following rule in htaccess will fix it:

[code]

Other times, increasing settings like these will fix it:

[code]

I am wondering if it might be possible split up the saving mechanism in

[2017-01-12 02:13] timayhelen opened #900 "Saving The Page Without Exiting The Inline Editor"
The Inline Editor in the Visual Builder allows you to drag the size of an image to increase or decrease it's size. However, if you take a small image and drag it to make it bigger and then save the page, these changes are not realized on the front end. We should make these changes work, or we should remove the ability to edit image size so that people are not frustrated with this feature.

[2017-01-12 02:17] #900 closed

[2017-01-12 02:25] timayhelen commented on #773
@fikrirasyid It seems to work title areas where in the inline editor is not fully activated, such as CTA Titles, but it does not work for the main content area.
![global](https://cloud.githubusercontent.com/assets/3333028/21874674/5718767e-d82b-11e6-986d-8137f73a6a13.gif)

[2017-01-12 08:33] eduard-ungureanu opened #901 "Saving content :: Tool Set Plugin"
### Problem:

One customer have reported that when using Tool Set Plugin, he will not be able to save any content. I advise him to check with the plugin author about this issue, they have investigate the issue, and it looks like this happens, only when using the image filed.

This is a topic reply from their support team:

[2017-01-12 13:01] lots0logs commented on #890
@dm-chechik Were you able to reproduce this issue? I checked it on my test site and the issue does not occur.

[2017-01-12 15:12] abhi-sharm opened #902 "Contact Form Module Optional Field Type Sending Field Title in the Mail"
### Problem:
If we make a field as optional and if the user fills it, we receive it properly in the mail but if the user does not fill that field, in the email received we see the title (placeholder) of the field itself, Ideally, it should come as blank in received email. Not sure if it is designed this way for some reason or it is some recent bug. One customer reported this and I was able to repl

[2017-01-12 16:23] FaycalBoutam opened #903 "Shop Module :: Issue with sorting products by category"
### Problem:

When using the Shop module and sort products by a category (by date), the products are displayed from oldest to newest. I think it should be the opposite by default, or add two options (ASC and DESC).

![1](https://cloud.githubusercontent.com/assets/16414613/21898021/4f05aafc-d8e3-11e6-8133-ed63b4f60950.png)

![2](https://cloud.githubusercontent.com/assets/16414613/21898025/53018bc6-

[2017-01-12 18:37] timayhelen commented on #901
Sounds like we can let their team handle it.

[2017-01-12 18:37] #901 closed

[2017-01-12 18:40] timayhelen commented on #887
I don't think there is much we can do here, aside from stripping out all non-numerical characters. I am not sure it's a good idea though. It's technically working correctly, counting up to 19, it just does't count up decimal places.

[2017-01-12 18:40] #887 closed

[2017-01-12 18:41] timayhelen commented on #809
I think the only way to avoid this would be to add a background color to the button group to make the white gabs less noticable. We can use the dark gray-blue that we use throughout the VB, such as in the "upload" button in this screenshot.

[2017-01-12 18:42] timayhelen commented on #688
Yeah, I think it would be better to automatically place users in the "Genera" tab whenever they return to the main settings modal from a module child item settings modal.

[2017-01-12 18:43] #882 closed

[2017-01-12 21:00] #885 closed

[2017-01-12 21:32] timayhelen commented on #890
This is probably due to the admin bar reducing the height of the content area or something like that. I don't think it's fixable since it's not really a bug.

[2017-01-12 22:31] lots0logs commented on #890
@timayhelen I think he is referring to the left/right padding :notsureif:

[2017-01-12 23:37] timayhelen commented on #890
I see, looks like this is a real bug and we should figure it out: https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=636226&hilit=visual+builder

[2017-01-13 00:02] timayhelen opened #904 "Uploading Images In The Visual Builder Doesn't Work With Domain Mapping"
It has been reported that, for sites that are using domain mapping, image uploading results in an error in the Visual Builder.

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=638477&hilit=visual+builder

[2017-01-13 00:52] timayhelen commented on #892
Also I think this is related, but let's make sure we fix it in the score of this issue: https://github.com/elegantthemes/Divi/issues/2690

[2017-01-13 00:59] timayhelen opened #905 "Custom Padding When Applied Without Responsive Editing Should Still Apply To All Breakpoints"
Currently if you edit the padding for any row or section, the custom padding is only applied to desktop. I believe the correct behavior is that any custom padding input should be applied to all three breakpoints unless responsive editing is enabled, in which case we assign the specific values to each breakpoint.

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1565

[2017-01-13 01:02] lots0logs commented on #899
This will be addressed in #723

[2017-01-13 01:05] lots0logs commented on #899
Actually let's revisit this after #723 is merged.

[2017-01-13 01:05] timayhelen commented on #905
Just an update, this seems to be isolated to certain layouts. It doesn't occur in all situations. You can see the problem in the Divi Builder demo, however:

https://www.elegantthemesdemo.com/?et_fb=1

![row-padding](https://cloud.githubusercontent.com/assets/3333028/21914606/396a66f0-d8e9-11e6-89d5-6a4fdd052be2.gif)

You can download the layout from the demo website to test it out locally.

[2017-01-13 01:07] Jronk commented on #899
Note, in case we do need this eventually. Our shortcode can be split by sections, and concat'ed on the server.

[2017-01-13 01:26] timayhelen commented on #905
I found the cause of this. Basically whenever padding_mobile=\"off\"  or column_padding_mobile=\"off\" for a row or column, then customized padding is only applied to desktop. @fikrirasyid Was this intentional?

[2017-01-13 01:30] timayhelen commented on #905
@fikrirasyid Ah I remember now, this is that legacy setting that was hidden. I guess it doesn't play quite right with the responsive editing settings for padding.

[2017-01-13 01:33] #896 closed

[2017-01-13 01:34] #881 closed

[2017-01-13 02:08] dm-chechik commented on #890
@lots0logs I've sent you my test page layout via slack

[2017-01-13 03:30] fikrirasyid commented on #905
@timayhelen I'm currently cross-check it with the PR where the change is occur. In general, what you mentioned above is correct. We actually have a mechanism for phasing out the legacy `padding_mobile` and `column_padding_mobile` attribute, which is whenever responsive mode of the input is triggered (since it is properly imply the intention of the action, which `uses responsive mode` === `want to

[2017-01-13 07:01] timayhelen commented on #905
@fikrirasyid I don't think so. If you enter in the padding into the settings modal the same problem occurs. Whenever padding_mobile="off", padding is only applied to desktop and not to tablet or smartphone.

![row-padding](https://cloud.githubusercontent.com/assets/3333028/21921169/eaba886e-d91a-11e6-86ab-a04138fd15ba.gif)

[2017-01-13 07:10] timayhelen commented on #905
@fikrirasyid I guess it's quite confusing to users, because new rows and sections are treated differently than legacy rows and sections. Basically:

- Legacy Rows and Sections with the hidden attribute padding_mobile="off" prevent general padding adjustments from being applied to tablet and smartphone resolutions. This is intended because, if we applied these values and ignored the old settings, l

[2017-01-13 09:06] fikrirasyid commented on #905
@timayhelen there is a possibility of creating confusion by doing the following:

By removing `padding_mobile="off"` when adjusted any padding value of row or section, it'll automatically apply responsive view to the padding. For example, let's say we have this configuration:

[code]

This means:

desktop padding: 100px on all corners
tablet padding: default
mobile padding: default

By removing th

[2017-01-13 18:53] timayhelen commented on #905
Yes, but that is exactly how things work right now for new rows and sections. The desktop value is applied outside the breakpoints and is therefore applied to everything. This is why padding_mobile="off" needs to be removed whenever the desktop value is modified. I think if we just removed padding_mobile="off" whenever padding is adjusted, then all rows and sections will work the same way.

[2017-01-13 19:06] timayhelen commented on #898
![row-padding](https://cloud.githubusercontent.com/assets/3333028/21942074/58e699ee-d980-11e6-99c2-a61a6eccfc84.gif)

[2017-01-13 19:18] lceberg commented on #686
The issue occured because, while the API Key is properly retrieved and stored to a variable, that variable is not used anywhere else.

To fix this the `this.props.value` is now stored into a variable and the API Key, when present, is assigned to that variable which is passed to the rendered input afterwards.

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1566

[2017-01-13 19:40] lceberg commented on #809
As @timayhelen suggested changing the button group background to grey makes the flickering hardly noticeable.

Additionally I added a 1px negative margin to the buttons to prevent the bottom line flickering when the color below the button matches the button color (see the purple button in the screencast).

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1567

[2017-01-13 20:33] timayhelen commented on #892
This will actually be fixed in the other issue that @fikrirasyid is working on, so I am closing this ticket.

[2017-01-13 20:33] #892 closed

[2017-01-13 23:38] fikrirasyid commented on #905
@timayhelen Ah I see, it is pretty tricky to grasp the idea but I think this really helps me understanding what you're suggesting:

Alright, to sum it up, what needs to be further adjusted are:

Is this correct?

[2017-01-13 23:59] timayhelen commented on #905
@fikrirasyid Yeah I think that makes most sense, if I am understanding it correctly.

[2017-01-14 00:56] #891 closed

[2017-01-14 02:13] fikrirasyid commented on #905
@timayhelen I'm doing another test to make sure of it, and I think we need one more adjustment. In general, removing `padding_mobile` attribute when any padding value is ok. However to retain user layout when we're removing the `padding_mobile` needs an update. Take a look at these images:

![screen shot 2017-01-14 at 8 44 41 am](https://cloud.githubusercontent.com/assets/916442/21951422/a09bfabe-

[2017-01-14 02:37] timayhelen commented on #905
@fikrirasyid We just want an old row, once edited, to work exactly like a new row. When you edit the padding value of new rows, that custom padding is placed outside of all breakpoints and applies to the entire page no matter what. We want that same behavior to occur once an old row has been edited, and it seems like removing the padding_mobile attribute would do the trick.

[2017-01-14 02:39] lots0logs commented on #905
![image](https://cloud.githubusercontent.com/assets/4675662/21951702/59d1ec6e-d9d0-11e6-9b63-6a01db602c3f.png)

:grin:

[2017-01-14 02:40] fikrirasyid commented on #905
@timayhelen I see. So I thought beside retain the behaviour, we need to retain the output to be identical as well. Alright then, removing `padding_mobile` would do the job 👍

[2017-01-14 03:11] lots0logs commented on #898
@fikrirasyid Please see my review. Thanks.

[2017-01-14 13:54] fikrirasyid commented on #905
@timayhelen @lots0logs I've updated the branch to match your suggestion at https://github.com/elegantthemes/Divi-Beta/issues/905#issuecomment-272595465. Basically, whenever padding value is updated, either from BB, VB, or its draggable padding UI, `padding_mobile` legacy attribute will be deleted.

Note: column's `column_padding_mobile` attribute is located on its row.

[2017-01-14 14:04] fikrirasyid commented on #898
@lots0logs I've incorporated your feedback 👍

[2017-01-16 14:51] dm-chechik commented on #743
Hi! Any estimate when we will release this feature?

[2017-01-16 19:04] lots0logs commented on #897
@fikrirasyid Dragging the padding value still doesn't work correctly:

![2017-01-16 13-03](https://cloud.githubusercontent.com/assets/4675662/21995777/56496a04-dbec-11e6-892f-d3bb005b1968.gif)

[2017-01-16 19:19] timayhelen commented on #897
@lots0logs That's probably this bug, you might want to check the CSS:

https://github.com/elegantthemes/Divi-Beta/issues/905

[2017-01-16 23:42] fikrirasyid commented on #897
@lots0logs can you send me the layout you're using?

[2017-01-17 01:04] fikrirasyid commented on #897
@lots0logs have you tried clearing your browser's cache first? I tried re-checking this issue and it initially works as you mentioned. However after I cleared my browser's cache, it works as expected:

![897-works-as-expected](https://cloud.githubusercontent.com/assets/916442/22004101/89eeca12-dc8b-11e6-97f3-3fde1f0005d7.gif)

If you're still seeing the issue after you clear your browser's cache,

[2017-01-17 01:07] lots0logs commented on #897
@fikrirasyid Yeah I tried clearing the cache a few times. It's not working. Well, its not working completely I should say. The builder correctly saves the custom padding value after dragging but it doesnt apply it with CSS so visually it appears not to be working. You can check it out right now on the homepage of my test site.

[2017-01-17 01:15] fikrirasyid commented on #897
@lots0logs I've checked your site and @timayhelen is correct. The section you're testing is experiencing the bug that is being fixed at https://github.com/elegantthemes/Divi-Beta/issues/905.

Try the following:

1. Open the section's setting modal
2. Toggle on its padding responsive mode
3. Close the modal, try dragging the padding again.

Or, since the issue is basically customizer related, creat

[2017-01-17 01:26] timayhelen commented on #897
@fikrirasyid @lots0logs Yeah it was the other bug.

However, we found a new issue with this PR. It looks like it fixes the problem for top and bottom padding for sections, but not for left and right padding.

1. Adjust the Tablet and Phone sections height in the Theme Customizer.
2. Enabled the Tablet or Phone responsive preview mode in the Visual Builder.
3. Drag the left and right padding.

The

[2017-01-17 01:28] #686 closed

[2017-01-17 01:28] #809 closed

[2017-01-17 01:28] #905 closed

[2017-01-17 01:28] #898 closed

[2017-01-17 02:55] fikrirasyid commented on #897
@timayhelen thank you for noticing that. I intentionally limited the fix on padding-top and bottom because customizer's section height appeared to only modify its vertical value only. However, it turned out that customizer's output modifies padding left & right to `0` thus makes 535c11ff3b9c33dc6dd5738344414da6917fe49c needs to be applied on padding left and right as well.

I've pushed a commit wh

[2017-01-17 05:55] SlavaET commented on #893
@timayhelen it was reduced to 100ms already, in this PR - https://github.com/elegantthemes/submodule-builder/pull/1417
So it should be 100ms in the latest master.

[2017-01-17 11:28] lceberg commented on #902
The issue comes from the fact that fields currently use their "value" attribute for placeholder (which is hidden with JavaScript on focus if it matches the field title).

The attached PR removes this implementation in favor of native HTML "placeholder" attributes, the value of which is not being sent in the email.

[2017-01-17 16:03] lceberg opened #906 "Shop Module :: Products type and product category"
### Problem:

Once a product category is selected, that category persists no matter which option is selected under "Type" afterwards. However, the "Include Categories" checkboxes are only visible when "Product Category" is selected.

### Steps To Reproduce:
1. Select "Product Category" under "Type" and check any of the available categories
2. Change "Type" to "Featured Products"
3. Only the featur

[2017-01-17 16:56] fikrirasyid commented on #773
@timayhelen @lots0logs I've fixed the issue of syncing seems not to work on inline-editor:

![773-on-inline-editor](https://cloud.githubusercontent.com/assets/916442/22030517/6d6db2b0-dd10-11e6-9b71-258dc34d1d0e.gif)

[2017-01-17 18:11] #893 closed

[2017-01-17 18:13] timayhelen commented on #906
@lceberg Let's leave the product selection visible for all modes that support it.

[2017-01-17 19:12] lceberg commented on #906
Turns out all the modes support it, so the PR simply removes the conditional logic on that section.

Note: Even though the checkboxes would now be always visible, "Product Category" is still a viable selection if categories are the only criteria the user wanted to use to sort their products.

[2017-01-17 22:28] lots0logs opened #907 "VB :: Contact Form Module :: Fields Are Saved As Required Regardless Of Their Settings"
### Problem:

The VB saves all fields as required fields regardless of whether or not they are configured as required in the settings.

[2017-01-17 23:57] fikrirasyid commented on #878
@dm-chechik can you share the layout you're using? I tried to replicate the issue, but the adjustment we have made turns out to work as expected:

![878-fix-inaccessible-options-panel](https://cloud.githubusercontent.com/assets/916442/22045197/623d7e4e-dd4b-11e6-86b6-0858fba2ab91.gif)

[2017-01-17 23:59] timayhelen commented on #878
@fikrirasyid I believe it's from this pacL

https://www.elegantthemes.com/blog/divi-resources/download-our-free-divi-layout-pack-for-modern-homepages-and-single-page-websites

[2017-01-18 00:26] fikrirasyid commented on #878
@timayhelen it's on `Pack 1 - published` on our dropbox, isn't? I'll take a look on it.

[2017-01-18 00:53] #773 closed

[2017-01-18 00:53] #897 closed

[2017-01-18 00:53] #902 closed

[2017-01-18 00:53] #906 closed

[2017-01-18 03:00] fikrirasyid commented on #878
Confirmed. It can be replicated using slightly modified `homepage - 2` layout:

![878-replicated-issue](https://cloud.githubusercontent.com/assets/916442/22046275/1a8ba312-dd52-11e6-999c-65164cffb612.gif)

[2017-01-18 06:41] SlavaET commented on #771
@timayhelen I added 1 second debounce for the map reinit. It seems to be the most comfortable delay. Does it work fine for you?

[2017-01-18 09:50] SlavaET commented on #820
Done. Now it's possible to save the escaped HTML in Code module and it won't be unescaped.

[2017-01-18 11:01] SlavaET commented on #884
Yes, this error appears because of broken layout of Specialty Section. I think it became broken after user inserted the Row from Library into Specialty Section using the Visual Builder. I fixed that bug and should not happen any longer after the fix will be included into Divi theme.
But my fix won't correct the broken layout, so the customer should build the new page to fix this error.
Also, you c

[2017-01-18 15:20] lceberg commented on #903
After looking into this it turned out the [WooCommerce shortcode](https://docs.woocommerce.com/document/woocommerce-shortcodes/) that we use behind the scenes orders the products in ascending order by default (which I agree is not very intuitive).

As we don't currently explicitly specify the order direction (ASC/DESC) when generating the shortcode we can implement a select field for this, but thi

[2017-01-18 19:08] lots0logs commented on #878
@fikrirasyid If you set the row padding to a low value or to zero then its still very difficult to access the image module options. Though I'm not sure how we can make it any better in this case :thinking:

[2017-01-18 21:08] timayhelen commented on #771
@SlavaET Now new pins are not appearing for me on the map. Does it work for you?

[2017-01-18 21:21] timayhelen commented on #884
@SlavaET This creates a new issue. Now if you do the reverse (save a row from a specialty section to the library and then add that row to a normal section) the layout is broken.

![screen shot 2017-01-18 at 1 21 24 pm](https://cloud.githubusercontent.com/assets/3333028/22083455/07b715bc-dd81-11e6-9d86-66e566dd4f30.png)

[2017-01-18 21:27] timayhelen commented on #884
@SlavaET Actually now I can't see to reproduce it with the steps mentioned above. Still looking into it.

[2017-01-18 21:31] timayhelen commented on #884
@SlavaET It seems to only occur if you don't save the page during the process.

1. Start with a blank page.
2. Add a normal section and a specialty section.
3. Save a normal row to the library.
4. Save a specialty row to the library.
5. Add the normal row inside the specialty section.
6. Add the specialty row inside the normal section.
7. Save the page.

[2017-01-18 21:38] timayhelen commented on #884
@SlavaET Here is the layout created in the above screenshot:

https://www.dropbox.com/s/e2xi0oes8yu7zbl/Specialty.json?dl=0

[2017-01-19 01:02] #907 closed

[2017-01-19 01:03] #884 closed

[2017-01-19 01:04] timayhelen commented on #884
@fikrirasyid was able to fix the issue before we released a new version last night.

[2017-01-19 03:19] fikrirasyid commented on #878
@lots0logs I've pushed a commit which makes the overlapping module popup settings to be more accessible.

![878-fixed](https://cloud.githubusercontent.com/assets/916442/22092329/7c27f214-de2f-11e6-87d3-979ca5473ace.gif)

Note: the hovered module on the gif above is the image module (heart image). You can test this issue using this following layout:

[878-fix-innacessible-options.json.zip](https://

[2017-01-19 04:11] SlavaET commented on #771
@timayhelen yes, it works for me. I merged the latest master into my PR, can you please check again just in case?. Also, do you see any errors in console when this issue occurs?
And, where do you see the issue - on the real Map on page or on the Map preview in Settings Modal?

[2017-01-19 06:28] SlavaET commented on #879
I checked the issue and looks like it happens due to LocalStorage overflow which size in Safari is significantly less than localstorage size in Chrome and Firefox. I checked the capacity of localstorage on this website - https://arty.name/localstorage.html and get the following results:
Chrome - `5200000 characters`
FireFox - `5200000 characters`
Safari - `2600000 characters`
So theoretically you

[2017-01-19 09:45] SlavaET commented on #904
@lots0logs is it possible to enable and test it on one of the live test websites? I cannot test it on localhost, that plugin doesn't seem to work for me.

[2017-01-19 09:55] lots0logs commented on #904
@SlavaET Sure :smiley: Do you still have the credentials I sent you the other day?

[2017-01-19 21:12] timayhelen commented on #903
@lceberg I think it would make the most sense to expand our conditional logic to allow for "or" statements, and then we can implement the order option correctly.

[2017-01-19 21:15] timayhelen commented on #349
@Jronk Currently we discard browser backups and autosaves when someone clicks "Discard & Exit" when leaving the builder via the save warning modal. Can we do the same thing for the javascript prompt that appears when closing a browse tab? If someone purposefully closes a browser tab, and then clicks "leave" when they are warned that they will lose their changes, I think it's save to assume  that t

[2017-01-19 21:35] timayhelen commented on #879
@SlavaET I think it sounds like a good solution, but let's wait to implement it for now. I am going to move this to low priority and change it to an improvement update.

[2017-01-20 00:18] Jronk commented on #771
@SlavaET please see PR review: https://github.com/elegantthemes/submodule-builder/pull/1465#pullrequestreview-17586958

[2017-01-20 01:35] lots0logs commented on #688
@lceberg Please see my review. Thanks! :smiley:

[2017-01-20 01:46] lots0logs commented on #820
@SlavaET After following the steps to reproduce listed above, try activating the inline editor in the code module and then deactivate it and try to save the page. You will see that the code module will lose its contents. I kind of think that we shouldn't allow the inline editor to be used in the code module :thinking: I mean unless you think this issue and issues like it can be handled consistentl

[2017-01-20 01:53] lots0logs commented on #878
@fikrirasyid Its still hard to tell which module the settings bar being displayed is for.

![2017-01-19 19-50](https://cloud.githubusercontent.com/assets/4675662/22132641/d941520a-de80-11e6-9cc0-ec051f74cbfe.gif)

Though I think this is the best we can do in cases like this one. Let's see what @timayhelen thinks...

[2017-01-20 01:55] fikrirasyid commented on #878
@lots0logs that is inevitable case for first module on the first column of the row, especially when the height of the module is relatively equal to the row settings popup's height.

[2017-01-20 02:13] lots0logs commented on #878
Yeah, I think this is an edge case anyway. The Blurb Module could be used instead of an image module and multiple text modules to achieve the same end result. In fact, maybe we should update this layout to use the Blurb Module. Hmmm.. :thinking: @mariomaruffi ?

[2017-01-20 02:28] timayhelen commented on #878
@lots0logs We don't need to spend time updating old layouts.

[2017-01-20 04:38] SlavaET commented on #771
@Jronk fixed.

[2017-01-20 05:52] SlavaET commented on #820
@lots0logs I can reproduce this issue in the master branch as well, so looks like it's not related to my fix and is different issue. I'll take a look at this and will try to fix it in scope of my PR though.

[2017-01-20 09:19] SlavaET commented on #820
@lots0logs fixed.

[2017-01-20 10:14] lceberg commented on #688
@lots0logs I addressed your feedback. 👍

[2017-01-20 10:55] SlavaET commented on #853
Done. It works as follows with my PR, if you tap on the menu item, then if the menu item has child elements:
- first tap on that menu item will open the submenu;
- second tap on that menu item will open the link;
- longer tap will open the link right away ( this event considered as click. It's default behaviour of touch devices and we do not adjust it ). This is quite tricky method and you should

[2017-01-20 20:14] lceberg commented on #822
The PR addresses the first part where the videos are being paused earlier than they should.

Having two sections with background video one after another makes an interesting case 'though (especially if they have sound, as mentioned). I believe the best way it should work in that case is (when scrolling down):
- the first video gets paused when it is fully out of the viewport
- the second video get

[2017-01-21 01:56] Jronk commented on #771
@SlavaET please see PR review (more...) :) https://github.com/elegantthemes/submodule-builder/pull/1465#pullrequestreview-17796084

[2017-01-21 03:11] timayhelen commented on #822
@lceberg I think we can worry about the double video issue another time. It's a very small use case and I don't think anyone has every complained about it.

[2017-01-23 03:54] SlavaET commented on #771
@Jronk done.

[2017-01-23 19:50] lots0logs commented on #822
@lceberg I am seeing the following error in the VB with this branch:
[code]

[2017-01-23 19:55] lots0logs commented on #822
Actually, looks like that error is on `master`. I'll open a new issue for it.

[2017-01-23 19:57] lots0logs opened #908 "VB :: Waypoints Throws An Uncaught Error When There Are Background Videos On Page"
### Problem:

https://github.com/elegantthemes/Divi-Beta/issues/822#issuecomment-274597321

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1620

[2017-01-24 01:04] #688 closed

[2017-01-24 01:04] #842 closed

[2017-01-24 01:04] #894 closed

[2017-01-24 01:06] #853 closed

[2017-01-24 09:52] lceberg commented on #908
@lots0logs can you please provide the steps to reproduce this and/or a screencast ?

What I tried to reproduce this (on latest master):
![video-test](https://cloud.githubusercontent.com/assets/1928328/22242281/67385b28-e22b-11e6-87fc-d1e998da86ec.gif)

[2017-01-24 18:33] #822 closed

[2017-01-24 21:47] lots0logs commented on #908
@lceberg

![2017-01-24_03-47-38-pm](https://cloud.githubusercontent.com/assets/4675662/22268258/77ba942c-e24c-11e6-98d3-421078833256.png)

Here's the layout I'm using: https://www.dropbox.com/s/qtfah688tn5j31s/Divi%20Builder%20Layout%20%281%29.json?dl=1

[2017-01-25 01:12] timayhelen commented on #683
I would like to implement the following notice whenever someone saves and that save fails.

![screen shot 2017-01-24 at 5 12 30 pm](https://cloud.githubusercontent.com/assets/3333028/22273902/4dceb088-e258-11e6-8af3-647e4a03ecc7.png)

The text should read:

[2017-01-25 03:11] lots0logs opened #909 "VB :: Cannot Close Settings Modal After Changing A Computed Setting's Value"
### Steps To Reproduce:
1.  Add a gallery module to the page.
2. Change it from grid to fullwidth (which is a computed field)
3. Wait for gallery to render and then try to close settings modal.

### Additional Information:
* RE: https://github.com/elegantthemes/submodule-builder/commit/d1abe316a8474f2ca8e370ae992e00791926bc88

I'm sure this affects all modules that have computed settings (not just

[2017-01-25 03:23] timayhelen commented on #909
FYI this only occurs after you save and refresh the builder.

- Add a gallery module to the page.
- Save the page.
- Refresh the page.
- Change it from grid to slider.
- Wait for gallery to render and then try to close settings modal.

[2017-01-25 19:09] timayhelen commented on #683
@fikrirasyid I am concerned that this, for the most part, wont catch failed saves due to the reasons that most of our customers are experiencing failed saves. For the most part, the save fails due to two reasons:

1. A firewall, such as ModSecurity, is blocking the admin-ajax.php save request. It's unclear why, but it could be due to certain shortcode content in the request triggering a filter.
2.

[2017-01-25 21:32] lots0logs commented on #683
@fikrirasyid The failures we want to catch with this modal all return http error-level status codes on the AJAX request so it shouldnt be necessary to compare the content. Unless I'm missing something here?

[2017-01-25 23:54] fikrirasyid commented on #683
@timayhelen @lots0logs the idea of this modal should be able to cover what you're concerning but I'm not 100% sure because I'm still unable to replicate the issue consistently. Basically:

1. VB sent data to backend
2. backend return data to VB in form of simple JSON object
3. VB expects this returned data to have element `save_verification = true`.
4. Unless this specific element is found, the mo

[2017-01-25 23:57] timayhelen commented on #683
@fikrirasyid It sounds like it should work then, since the modal is thrown when there is no response. Let's move this through QA @lots0logs

[2017-01-26 00:09] timayhelen commented on #683
Looks like the failed save modal always fires for me, even when the save is successful. Also, the modal fires immediately before the save has completed. You will notice the save spinner is still spinning when the modal fires:

![save](https://cloud.githubusercontent.com/assets/3333028/22314874/4dc28572-e318-11e6-8a84-11df03c0340b.gif)

I also noticed a bug with having multiple instances of our cor

[2017-01-26 00:35] lots0logs commented on #908
@lceberg The video appears with black bars on the side in the VB (doesn't happen on the page itself).

![2017-01-25_06-33-52-pm](https://cloud.githubusercontent.com/assets/4675662/22315557/04b07582-e32d-11e6-86f7-238acc0ad4c3.png)

[2017-01-26 00:41] lots0logs commented on #683
I can confirm @timayhelen's findings. Something else I noticed is that when you click Download Backup you get the chrome "Are you sure" dialog. You must click "Leave" to complete the download. That will be confusing/scary for users. However, I am pretty sure its not an issue directly related to this PR as it occurs on the live demo when exporting a layout as well. @timayhelen :notsureif: we want t

[2017-01-26 00:50] timayhelen commented on #683
@lots0logs Yeah we can look at it in another ticket. I am not sure if there is a way to avoid it though.

[2017-01-26 01:05] fikrirasyid commented on #683
@lots0logs can you take a look at it again? I noticed a typo which probably caused the issue and I've pushed a fix for it

[2017-01-26 01:05] #878 closed

[2017-01-26 01:12] lots0logs opened #910 "VB :: Portability :: Exporting Layout Triggers Browser Exit Confirmation Dialog"
### Problem:

https://github.com/elegantthemes/Divi-Beta/issues/683#issuecomment-275278129

[2017-01-26 02:57] timayhelen commented on #683
@fikrirasyid It seems to work for me, but can you address the modal issue as well?

[2017-01-26 02:58] fikrirasyid commented on #683
@timayhelen do you mean this modal issue?

[2017-01-26 04:12] timayhelen commented on #683
@fikrirasyid Yeah

[2017-01-26 04:16] fikrirasyid commented on #683
@timayhelen @lots0logs can you take a look at it again? I'm still unable to create a naturally broken builder, but @lots0logs suggestion to emulate the error by throwing various response code and applying `die()` is quite close to the real-life error and it ables to catch several edge-cases as well.

What I did was basically added the following error code at the beginning of `et_fb_ajax_save()`, c

[2017-01-26 04:38] timayhelen commented on #683
@fikrirasyid Cool it seems to work for me. I tried just deleting admin-ajax.php to make it fail, haha. Is there additional testing we can do to ensure that there are not any false positives that might cause the modal to fire when the save has not actually failed? I am not really sure how to best QA this. @lots0logs any ideas?

[2017-01-26 04:40] timayhelen commented on #683
@fikrirasyid I am still seeing the issue with firing two different modals that are different sizes. The modal that is fired second has the incorrect height and position.

[2017-01-26 04:43] fikrirasyid commented on #683
@timayhelen

this is pretty hardcore 😂

I haven't found further edge-case 🤔

***

Regarding this:

Can you mention the steps you took to cause it? On the latest commit, all existing modal should be removed before new modal is appended. Theoretically, it shouldn't happen

[2017-01-26 04:49] lots0logs commented on #683
@timayhelen The closest we can get to the actual errors is to use the method I suggested to @fikrirasyid on Slack earlier. Basically choose one of the `header(..)` lines from his [previous comment](https://github.com/elegantthemes/Divi-Beta/issues/683#issuecomment-275304354) and add it at difference places within the callback function that handles the save, followed by `die()`. So for example:
[co

[2017-01-26 05:53] fikrirasyid commented on #683
@timayhelen I've rechecked the second modal size issue and it appears as expected 🤔  can you mention the steps needed to replicate it? screenshot will definitely help as well.

[2017-01-26 07:53] timayhelen commented on #683
You can refer to the gif in my initial comment. It still happens for me:

![9480aed0-e318-11e6-929c-8ba470be526f](https://cloud.githubusercontent.com/assets/3333028/22323686/6182f826-e359-11e6-8f68-6bc2e2f66d75.gif)

[2017-01-26 07:57] lots0logs commented on #683
Weird. It never happened for me. I tested this with Divi and with the plugin :thinking:

[2017-01-26 08:13] #753 closed

[2017-01-26 08:15] timayhelen commented on #817
Let's add a new option to the button module.

[2017-01-26 08:16] #889 closed

[2017-01-26 08:16] #899 closed

[2017-01-26 08:17] fikrirasyid commented on #683
@timayhelen @lots0logs I've fixed it via https://github.com/elegantthemes/submodule-builder/commit/db9c55a3096f42d68aa24c395dc4df23976dc959 (thanks for the steps to replicate it on Slack):

![683-modal-issue](https://cloud.githubusercontent.com/assets/916442/22324201/78359f16-e3da-11e6-957b-8ba8624b6842.gif)

[2017-01-26 08:22] timayhelen commented on #683
Looks good!

[2017-01-27 01:43] lots0logs opened #911 "VB :: JavaScript Error When Trying To Open The History Modal"
### Problem:

This is most likely a regression from #688

### Attached PR
* https://github.com/elegantthemes/submodule-builder/issues/1629

[2017-01-27 02:20] timayhelen commented on #723
Issues with this branch at the moment:

- [ ] Loading modules from the library results in the following error:

![screen shot 2017-01-26 at 6 17 41 pm](https://cloud.githubusercontent.com/assets/3333028/22358404/c1beeeb2-e3f3-11e6-89e5-b1bfb869295c.png)

- [ ]  Loading premade layouts from the library results in the following error:

![screen shot 2017-01-26 at 6 17 36 pm](https://cloud.githubuser

[2017-01-27 16:58] #911 closed

[2017-01-27 17:57] #909 closed

[2017-01-28 01:21] timayhelen commented on #723
Closing this for now, in favor of the auto-save branch which now includes 723 in it.

[2017-01-28 01:21] #723 closed

[2017-01-28 01:24] timayhelen opened #912 "Builder Sync, Auto-Save, Browser Backups & Shortcode Object Bloat Reduction"
I am creating a new issue for PR 575, which now includes both the shortcode object optimization branch and the builder sync / auto-save branch. We can use this to track issues with the combined branches.

The attached branches contain the following features and improvements:

## Divi Builder Sync

When a user has two tabs open, with both the Backend Builder and the Visual Builder open for the same

[2017-01-28 01:25] timayhelen commented on #349
I am closing this in favor of: https://github.com/elegantthemes/Divi-Beta/issues/912

We can track issue for the newly-combined branches here.

[2017-01-28 01:25] #349 closed

[2017-01-28 14:44] fikrirasyid commented on #912
@timayhelen there are four issues that I've fixed on https://github.com/elegantthemes/submodule-builder/pull/1641:

- Broken layout, caused by attribute with default value being trimmed during page load.
- Adding the Contact Form module to the page returns an error.

These two issues are original issues that appear on `575-fix-heartbeat-content-smashing` branch. On the other hand, the other two is

[2017-01-28 21:16] websbyjd opened #913 "Sync click/drag padding changes to device view"
### Problem:
After many site builds with Divi3,  this is a feature request that I didn't see mentioned.  While working in VB, the click/drag padding change feature should be synced to the media queries of whichever view you are in from the lower left corner view links.   This would be an incredible time saver.

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1799

[2017-01-30 13:06] lceberg commented on #908
@lots0logs I made some adjustments to the resizing logic, the videos should now be full-width in FB when the video height is higher than the window height. Can you please take a look at the PR once more ?

[2017-01-30 17:28] lots0logs commented on #908
@lceberg Its okay now when you first load the builder but there are two issues that I found with it:

1. The video isn't adjusted when the tablet and mobile views are activated.
2. If you DnD the section module to another place on the page, the issue with the black bars on each side the video occurs again.

[2017-01-31 12:35] fikrirasyid commented on #912
@Jronk @timayhelen

I've submitted https://github.com/elegantthemes/submodule-builder/pull/1659 which fixes two Builder Sync related issues mentioned above.

I'm still working on the first two Builder sync issue.

Related to the last builder sync issue, I'm unable to replicate it. It seems to be lack of table-existence issue but we already have table checking there. I think it has something to do

[2017-02-01 01:32] #703 closed

[2017-02-01 04:35] fikrirasyid commented on #912
@Jronk @timayhelen I've submitted a PR for fixing the browser backup issues: https://github.com/elegantthemes/submodule-builder/pull/1662

Note: I merged `master` to the PR because colorpicker issue that appear on the PR (which also exists on  `575-fix-heartbeat-content-smashing`) has been fixed on `master`

[2017-02-01 08:51] fikrirasyid commented on #912
It appears that recent changes added by @Jronk on `575-fix-hearbeat-content-smashing` has fixed the following issue:

The builder sync works more responsive now

[2017-02-01 09:15] fikrirasyid commented on #912
It appears that recent changes added by @Jronk on `575-fix-heartbeat-content-smashing` has fixed this following issue as well:

The only issue occurs regarding this, is that if I switch the tab before the heartbeat kicks in. However, I think it is inevitable tho.

[2017-02-01 09:59] 5um17 opened #914 "WPML Language switcher widget can not be added to user created sidebars"
### Problem:

We can not add WPML language switcher widget to user-created widget areas (Widget is removed from sidebar once the page is refreshed).
I am reporting it here because it is not just limited to WPML. Actually, WPML stored Language switcher widget information in their tables too. Therefore, they are using global `$wp_registered_sidebars` to check if sidebar exist. And all this happen on

[2017-02-01 10:34] lceberg commented on #908
@lots0logs sorry for the delay, it seems when the visual editor is enabled the videos are handled a bit differently, so it took me some good time to debug. 😥

Your latest feedback is addressed.

[2017-02-01 22:14] lots0logs commented on #908
@lceberg Please see my review. Also I'm seeing the following error in the browser console when the VB first loads. Everything appears to work fine though.
[code]

[2017-02-02 11:06] lceberg commented on #908
@lots0logs I addressed your feedback and cleaned the code a bit.

---

From what I found this seems to be a Chrome only bug ([#1](http://stackoverflow.com/questions/36803176/how-to-prevent-the-play-request-was-interrupted-by-a-call-to-pause-error), [#2](https://bugs.chromium.org/p/chromium/issues/detail?id=593273)). As it doesn't affect the functionality, do you think we should implement a workaro

[2017-02-02 14:13] lceberg commented on #910
I added a solution for this (check PR for description of the approach). Not sure if we have to tweak this when the modal in https://github.com/elegantthemes/Divi-Beta/issues/683 is implemented but we might use similar logic.

[2017-02-02 20:48] lots0logs commented on #817
@lceberg Please see my review. Thanks!

[2017-02-03 21:51] lots0logs commented on #817
@lceberg Looks like there's a typo (my fault) :grimacing:

[2017-02-04 10:02] lceberg commented on #817
Latest commits fixes this .. and another typo. 😄

[2017-02-07 00:51] timayhelen commented on #683
Closing this since it will go through QA as part of the builder sync and auto-save branch.

[2017-02-07 00:51] #683 closed

[2017-02-07 11:42] eduard-ungureanu opened #915 "Dreamhost :: Builder Sync :: Text Module"
### Problem:

Having the same page opened in 2 tabs: in tab 1 it's the Back End Divi Builder, in tab 2 is Divi Visual Builder, changing the text orientation in back end, doesn't update the front end, while changing the same option in the Visual Builder does update the back end:

https://drive.google.com/open?id=0B8PjD3Z_XQvuaXJBaC1JXzNneDg

[2017-02-07 11:50] eduard-ungureanu opened #916 "Dreamhost :: Builder Sync :: Text Module :: Body font styles"
### Problem:

Changes done in the backend Builder for the body font styles of Divi Builder, doesn't get updated in the Visual Builder, while changes made in Visual Builder does get updated in the backend Builder.

https://drive.google.com/open?id=0B8PjD3Z_XQvuX2VCZXRoQU1FSlE

Update:
None of the module settings (General, Advanced, custom css) do get updated into the Visual Builder, while the same

[2017-02-07 12:02] kary4 opened #917 "Siteground :: Builder Sync :: Does Not Enable Divi Builder"
### Problem:

You have to enable divi builder in two opened browser's tabs. If you have one tab divi builder disabled and in another tab divi builder is enabled then you'll lost builder layout. In a short, it does not enable/disable divi builder.

Screen cast:
http://youtu.be/oRz8wPJ_JME?hd=1

[2017-02-07 12:11] eduard-ungureanu opened #918 "Dreamhost :: Builder Sync :: Blurb Module Settings"
### Problem:

None of the Blurb Module's settings does get updated on the Visual Builder, while the changes made in Visual Builder do get updated into the Back End Builder.

https://drive.google.com/open?id=0B8PjD3Z_XQvuMWs0TS13cDZZa1E

[2017-02-07 12:18] eduard-ungureanu opened #919 "Dreamhost :: Builder Sync :: CTA Module"
### Problem:

None of the settings, done in the Backend Builder does update the Visual Builder, while the settings done in Visual Builder do get updated in the Backend Builder.

[2017-02-07 12:21] eduard-ungureanu commented on #917
Same issue on dreamhost - although not sure, if this should also enabled the Backend Builder.

[2017-02-07 12:32] eduard-ungureanu opened #920 "Dreamhost :: Builder Sync :: Updating layouts"
### Problem:

Adding modules / changing layout in Backend builder doesn't get updated the Visual Builder, while the same process but done in Visual Builder does update the Backend Builder:
https://drive.google.com/open?id=0B8PjD3Z_XQvuNjZydjZGYk1FVHM

[2017-02-07 12:56] kary4 opened #921 "Siteground :: Builder Sync :: Divi Builder Does Not Work"
### Problem:

This problem might be related to:
https://github.com/elegantthemes/Divi-Beta/issues/917

And probably if we fix the above issue then this issue will be fixed as well, but I think in some situations this problem can appear again.

### Steps To Reproduce:
1.  Create new page > Publish the page.
2. Preview the page in a new tab > Enable Visual Builder.
3. Go back to the first tab (back

[2017-02-07 13:46] kary4 opened #922 "Siteground Timeout Error"
### Problem:

Timeout error pops up even if you add nothing.

### Steps To Reproduce:
1.  Create and Publish new page.
2. Enable Divi Builder and opne VB in a new tab.
3. You should now see the problem.

![1artwork richard slechta - mozilla firefox](https://cloud.githubusercontent.com/assets/3352130/22693575/dd16aad2-ed54-11e6-821d-04c8fcbee530.jpg)

Screen cast
http://youtu.be/slG9XQ-PB2A?hd=1

T

[2017-02-07 13:56] kary4 opened #923 "Divi Builder Timeout When Enabling Visual Builder Without Saving The Page"
### Problem:

One the VB is activated you have to Update the page. You can't open Visual Builder right away. You'll see No Result Found.

Screen cast:
http://youtu.be/NK1e3VnvBI4?hd=1

[2017-02-07 14:05] kary4 opened #924 "Siteground :: Builder Sync :: Divi Builder Layout Saves Even I Don't Save The Layout"
### Problem:
Divi builder saves on its own. I did not mean to keep divi builder activated.

### Steps To Reproduce:
1.  Create and publish new page.
2. Enable Divi Builder and click Visual Builder.
3. Click Edit Page.
4. Refresh the browser's window.

It should be default wordpress editor, because you did not add any changes. But you'll see the Divi Builder is saved.

Screen cast:
http://youtu.be/

[2017-02-07 14:15] kary4 opened #925 "Siteground :: Builder Sync :: It Always Asks Me To Restore/Save Changes Even I add Nothing"
### Problem:
It's a bit annoying and confusing when you add nothing and it still want's to save something (even I saved changes).

### Steps To Reproduce:
1.  Create and Publish new page.
2. Activated Divi builder.
3. Open Visual Builder.
3. You'll see the Restore Popup window. Restore the changes.
4. Click Edit Page > Save changes.
5. Now repeat steps 3-4.

Screen cast:
http://youtu.be/v03F9wSLyI

[2017-02-07 17:57] timayhelen commented on #924
This is unrelated actually. Clicking "Use Visual Builder" has always saved the page.

[2017-02-07 17:57] #924 closed

[2017-02-07 18:03] timayhelen commented on #922
That is normal if the builder fails to load. That failure modal isn't new actually. We need to know the steps to reproduce the error effectively. @kary4

[2017-02-07 18:04] timayhelen commented on #922
It looks like it might have to do with the way you opened the link. You can see in the URL that the token is undefined.

[2017-02-07 18:51] timayhelen commented on #923
This occurs in the latest master as well. It happens when you enabled the Divi Builder and then click "use visual builder" without saving the page.

1. Create a new page.
2. Save the page.
3. Enable the Divi Builder.
4. Without saving, click "use visual builder."

[2017-02-07 18:52] timayhelen commented on #922
This is a duplicate of your other issue actually. There is clear steps to reproduce in the other thread.

[2017-02-07 18:52] #922 closed

[2017-02-07 18:56] timayhelen commented on #916
@eduard-ungureanu Can you check again? I have updated Divi on Dreamhost with a potential fix.

[2017-02-07 18:56] timayhelen commented on #915
@eduard-ungureanu Can you check again? I have updated Divi on Dreamhost with a potential fix.

[2017-02-07 18:56] timayhelen commented on #918
@eduard-ungureanu Can you check again? I have updated Divi on Dreamhost with a potential fix.

[2017-02-07 18:57] timayhelen commented on #919
@eduard-ungureanu Can you check again? I have updated Divi on Dreamhost with a potential fix.

[2017-02-07 18:57] timayhelen commented on #920
@eduard-ungureanu Can you check again? I have updated Divi on Dreamhost with a potential fix.

[2017-02-07 19:16] wenjonsommers commented on #791
I would like to change the amount of upsells to 5... Is this option coming soon?

[2017-02-07 19:29] timayhelen opened #926 "Trying to get property of non-object error when previewing page"
I often get the following error when doing the following:

1. Create a new page.
2. Save the blank page.
3. Preview changes.

After clicking preview, a page loads with the following error:

### Attached PR
* https://github.com/elegantthemes/Divi/pull/2845

[2017-02-07 19:34] timayhelen commented on #921
This bug already exists in master, but we should try to fix it since it may be more prevalent now that people will be using the sync feature.

[2017-02-07 19:39] timayhelen opened #927 "Divi Builder Sync :: Visual Builder Is Launched Automatically When Previewing A Page"
1. Create a new page.
2. Publish the page without enabling the Divi Builder.
3. Preview the page.

The page will display the Divi Builder Failure modal, even though the Divi Builder is not enabled and we are only trying to preview the page.

Upon further inspection, it appears that when you "Preview" a page, it tries to launch the Visual Builder. The builder then fails to load because there is no

[2017-02-07 20:14] timayhelen commented on #925
I am experiencing this as well, when clicking Use Visual Builder from inside the Backend Builder. It asks me to restore an auto save almost every time, even after I just saved the page.

[2017-02-07 20:15] lots0logs commented on #791
Hi @wenjonsommers, I'm afraid there is not currently an option in the theme to control the number of upsells displayed. However, it can be customized using a child theme. If you could, please open a ticket in the forum and our support team will be happy to advise you on how to do it :smiley:

[2017-02-07 20:17] timayhelen opened #928 "Divi Builder Sync :: "Replace Existing Content" Doesn't Work When Loading Library Items"
1. Create a new page.
2. Enable the Divi Builder.
3. Click "Load Layout" to load a premade layout.
4. Select "Replace existing content" and load the layout.

The content will not be replaced. The layout will load, but the old content remains.

## Attached PR

- https://github.com/elegantthemes/submodule-builder/pull/1704

[2017-02-07 20:23] FaycalBoutam commented on #915
I'm still seeing this issue with Dreamhost account.

[2017-02-07 20:24] timayhelen opened #929 "Divi Builder Sync :: AutoSaves Are Always Created After Saving"
This issue is that, no matter what, ever time you edit a page in the Backend Builder with TinyMCE is in Visual mode, an auto save is always created that is newer than your most recent save. Every time you edit a page again, you get the option to restore an auto-save.

1. Create a new page.
2. Switch TinyMCE to Visual mode.
3. Enable the Divi Builder
4. Save the page.
5. Refresh the page.

You will

[2017-02-07 20:28] timayhelen commented on #925
This is possibly related to https://github.com/elegantthemes/Divi-Beta/issues/929

[2017-02-07 20:29] FaycalBoutam opened #930 "BlueHost :: Builder Sync :: Preview mode in BB not updated"
### Problem:

![89](https://cloud.githubusercontent.com/assets/16414613/22710061/dabae374-ed73-11e6-9268-dc9d38ef891d.gif)

[2017-02-07 20:29] lots0logs opened #931 "Add "rel" Option To All Modules That Include Buttons"
### Problem:

Basically extend the scope of #817 to all buttons in the builder.

[2017-02-07 20:50] FaycalBoutam opened #932 "BlueHost :: Builder Sync :: Split testing not working on VB"
### Problem:

I see both variations one under the other, when saving the page with VB, I see the front end with both variations. I need to update/publish the page on the BB to see proper results on the front end, and reload the VB for it to work.

## Attached PR

- https://github.com/elegantthemes/submodule-builder/pull/1703

[2017-02-07 20:53] timayhelen opened #933 "Impossible To Disable The Divi Builder When Restore Page Is Empty"
It's currently impossible to disable the Divi Builder once it has been enabled in this branch.

1. Create a new page.
2. Enable the Divi Builder.
3. Load a layout.
4. Save the page.
5. Refresh the page.
6. Click "Use Default Editor"
7. Save The Page.

The Divi Builder + the previous layout you saved will be restored instead of saving the page with the Divi Builder disabled.

## Attached PR
- https

[2017-02-07 20:56] timayhelen commented on #933
Never mind this is not related to Divi Builder sync.

[2017-02-07 21:22] FaycalBoutam opened #934 "BlueHost :: Builder Sync :: Issue with loading global items"
### Problem:

When I load a global item on the VB it looks non global in BB. The other way works fine (loading from BB works fine on VB):

![90](https://cloud.githubusercontent.com/assets/16414613/22711976/086209c2-ed7b-11e6-9a0e-a57fc96e466d.gif)

## Attached PR

- https://github.com/elegantthemes/submodule-builder/pull/1701

[2017-02-07 22:06] lots0logs commented on #817
@lceberg The `<br>` is being stripped from the output when I test these branches. At first glance I don't see what's causing it :thinking:

[2017-02-07 22:49] lots0logs commented on #908
@lceberg It looks like the workaround is pretty simple (checking if its paused before trying to play it) so let's go ahead and do it :+1:

[2017-02-08 01:49] timayhelen commented on #925
I am closing this is favor of https://github.com/elegantthemes/Divi-Beta/issues/929

[2017-02-08 01:52] timayhelen commented on #917
I think this is ok for now.

[2017-02-08 01:52] #917 closed

[2017-02-08 01:53] #925 closed

[2017-02-08 02:03] timayhelen commented on #915
@FaycalBoutam I update the theme on BllueHost. Can you try again?

[2017-02-08 08:59] eduard-ungureanu commented on #915
@timayhelen : tested again, and now all the options works as it should both from back end > visual editor as well as visual editor > back end builder. Thank you

[2017-02-08 09:03] eduard-ungureanu commented on #916
@timayhelen now everything works perfectly regarding the text module!

[2017-02-08 09:03] eduard-ungureanu commented on #918
@timayhelen the fix is working properly now!

[2017-02-08 09:06] eduard-ungureanu commented on #919
@timayhelen test the CTA module, and it works now, thank you!

[2017-02-08 09:09] eduard-ungureanu commented on #920
@timayhelen : the fix now works, the layout changes works in both ways!

[2017-02-08 10:13] eduard-ungureanu opened #935 "Slider Module Padding Doesn't Get Updated When Being Updated"
### Problem:

Not sure if this is an issue with the new functionality or not, but when in Visual Builder and set a top / bottom padding on the slider, the changes are not visible - the slider doesn't change it's height, switching to the backend builder tab - the new settings are saved - saving the settings again in the backend builder and checking the visual builder tab will update the new setting

[2017-02-08 10:41] eduard-ungureanu opened #936 "Dreamhost :: Builder Sync :: Bar Module"
### Problem:

Adding a Bar module in BackEnd Builder updates the Visual Builder, the problem is trying to edit the Bar Module on Visual Builder doesn't work anymore.

Adding a Bar Module in Visual Builder, can be edited in Visual Builder, it does also update the BackEnd Builder.

https://drive.google.com/open?id=0B8PjD3Z_XQvuUGo2NU9CVk5YRlE

## Attached PR
- https://github.com/elegantthemes/submod

[2017-02-08 10:57] eduard-ungureanu opened #937 "Dreamhost :: Builder Sync :: Button Module"
### Problem:

Adding the button module in VB doesn't update the BB, also the custom styles applied to the button module in VB doesn't update the Styles in BB. In this case if the Button Module is opened in BB to check the styles if those are applied, upon saving will reset the styles on VB.

Also there should be an option to choose the color of the icon on hover.

Ussage case:
- the icon has the s

[2017-02-08 10:59] lceberg commented on #817
@lots0logs can you check that once more in incognito or after clearing local storage ?

Here is how it looks on my side while being on the two branches (tested on all browsers):
![button-rel-description](https://cloud.githubusercontent.com/assets/1928328/22734370/18f31c12-edfe-11e6-8deb-35c2b332dcea.png)

[2017-02-08 11:06] eduard-ungureanu opened #938 "Dreamhost :: Builder Sync :: Adding row"
### Problem:

Adding row from Library in BB generate Js error, while repeating the same process in VB works, and it also updates the BB.

https://drive.google.com/open?id=0B8PjD3Z_XQvueXA1TWo2UXdCZnc

[2017-02-08 11:22] eduard-ungureanu opened #939 "Possible To Set Gutter With To "0" In The BB"
### Problem:

Adding a new row into the layout, you can set the Custom Gutters to have values from 0 - 4. I'm not sure if this is a new layout addition, or the default values should be 1-3. When setting the custom gutters to be 4, the layout will be less smaller then using 3.

After playing with this in VB and checking again the BB the Custom Gutters with can now be set only using values 1-4.

The

[2017-02-08 11:28] FaycalBoutam commented on #915
@timayhelen It's all okay now.

[2017-02-08 11:41] FaycalBoutam opened #940 "BlueHost :: Undefined in custom padding/margin fields"
### Steps To Reproduce:
1. Load the case study premade layout.
2. Open the configuration panel of the first row.

![1](https://cloud.githubusercontent.com/assets/16414613/22735834/72e34dce-edf3-11e6-9b70-7a2977f971f4.png)

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1722

[2017-02-08 11:53] eduard-ungureanu opened #941 "Dreamhost :: Builder Sync :: Placing divider in VB"
### Problem:

Placing a divider in VB generates Js errors resulting in unresponsive VB.

https://drive.google.com/open?id=0B8PjD3Z_XQvuckJLdVhmTVBQcFU

Closing the FB and updating the page in BB with the divider, prevent the FB to properly work, when activating the FB (while the divider is present in the layout) I get this:

![screen shot 2017-02-08 at 1 55 20 pm](https://cloud.githubusercontent.c

[2017-02-08 11:58] FaycalBoutam opened #942 "BlueHost :: Builder Sync :: I can't delete the only section in BB"
### Problem:

There's always a section added to the builder and you can't delete it. It seems I can do that now:

![91](https://cloud.githubusercontent.com/assets/16414613/22736406/dcfbdc60-edf5-11e6-9855-c824d0d66e1f.gif)

[2017-02-08 12:04] kary4 opened #943 "Siteground :: Builder Sync :: Shop Module :: Only Shortcodes Are Visible"
### Problem:

Just add some Shop modules under BB. In FB I see only shortcodes.

![1artwork richard slechta - mozilla firefox](https://cloud.githubusercontent.com/assets/3352130/22736570/cad8112e-ee0f-11e6-9001-79317c79ab41.jpg)

Screen cast:
http://youtu.be/VElj9EgJ6dA?hd=1

Test page:
http://elegantthemessiteground.com/builder-sync-20/?et_fb=1

[2017-02-08 12:10] eduard-ungureanu opened #944 "Dreamhost :: Builder Sync :: Filterable Portfolio"
### Problem:

Hover Icon, Icon Color, Overlay Color if those are set in VB does not update the Module settings in BB!

If those are set in BB it does update the FB.

https://drive.google.com/open?id=0B8PjD3Z_XQvuQlNYa0d4REpKeU0

## Attached PR
- https://github.com/elegantthemes/submodule-builder/pull/1731