[2016-09-14 15:19] beachgrrrl opened #464 "Custom Module Support Grid Layout"
### Problem:

Hi there - this may fall into the "not your problem" category, but I know several people are having this issue in trying to make our code work with the Visual Builder. I am a child theme developer and I have created a custom module based off the Blog module. However, when I use the custom blog module in grid format and activate the Front End Builder it appears as a blank space. When

[2016-09-14 16:38] dm-chechik opened #465 "Upgrade and delete theme error solution"
### Problem:

It seems last errors in WP 4.6+ related to impossibility to delete and update theme caused by naming theme folder starts with capital letter. If you rename folder to **divi** (not Divi) all works fine.

[2016-09-14 16:40] fikrirasyid commented on #450
@SlavaET the issue you mentioned at https://github.com/elegantthemes/Divi-Beta/issues/450#issuecomment-246642627 has been reported at https://github.com/elegantthemes/Divi-Beta/issues/451 and a PR for it has been submitted at https://github.com/elegantthemes/submodule-builder/pull/1173

[2016-09-14 18:04] uportnykh commented on #465
@dm-chechik It has been fixed already actually. Update should work fine in new version of Divi.

Please, let us know if it still doesn't work for you.

Closing it for now.

[2016-09-14 18:47] kary4 commented on #459
@lots0logs Actually it's not necessary. It's enough just activating the jetpack plugin to see the issue. Right now the plugin is enabled. If you disable jetpack the problem disappears.

[2016-09-14 19:16] timayhelen commented on #457
In the PR, if you update the blog module's layout type while the module is currently being updated, the module breaks. This is something that was fixed previously.

![blog](https://cloud.githubusercontent.com/assets/3333028/18526329/03a91e94-7a75-11e6-9a92-4e24e9b9e664.gif)

[2016-09-14 19:55] timayhelen commented on #457
Actually this occurs in the main branch as well, so it must have been re-introduced somewhere else.

[2016-09-14 19:57] timayhelen opened #466 ""Remove Space Below The Image" Options Doesn't Work"
This option, found in the Image Module settings, does not work in the Visual Builder.

[2016-09-14 20:39] #450 closed

[2016-09-14 22:57] Jronk commented on #461
See my comments on PR

[2016-09-14 22:58] #448 closed

[2016-09-14 22:58] #439 closed

[2016-09-14 23:03] #380 closed

[2016-09-14 23:03] #373 closed

[2016-09-14 23:04] #452 closed

[2016-09-14 23:04] #456 closed

[2016-09-14 23:04] #427 closed

[2016-09-14 23:04] #462 closed

[2016-09-14 23:05] #451 closed

[2016-09-14 23:05] #436 closed

[2016-09-14 23:05] #423 closed

[2016-09-15 00:46] fikrirasyid commented on #466
@timayhelen can you take a look at it again? This seems to be duplicate of https://github.com/elegantthemes/Divi-Beta/issues/451 which has been merged into `master`. I've  rechecked it on the `master` and it works as expected:

![image module - remove space at bottom](https://cloud.githubusercontent.com/assets/916442/18534712/67545bb8-7b18-11e6-985d-5f63a0b023f1.jpg)

![image-no-space](https://clo

[2016-09-15 01:03] lots0logs commented on #459
@kary4 I understand that. However, I cannot reproduce the problem on my own site so it would help to know if the customer's issue persists after they connect it to their wp.com account.

[2016-09-15 01:15] timayhelen opened #467 "Specialty Section 1 Column Inner Row Incorrect Class"
It looks like when you add a 1 column inner row to a specialty section, and then save the page, the class "et_pb_column_1_1" will be used on the front-end of the site. It should be "et_pb_column_4_4"

It works correctly when saved through the BB.

[2016-09-15 01:18] kary4 commented on #459
@lots0logs I see. Already asked him to connect the plugin to a wordpress.com account.

[2016-09-15 01:38] timayhelen commented on #409
@Jronk Re-opening this because your second PR was not merged. Just making sure you intended to merge it?

[2016-09-15 01:38] #461 closed

[2016-09-15 01:41] timayhelen commented on #461
Looks like Slava's PR was not merged, but after merging it and testing it does appear that his fix works, and this doesn't seem to be required. @uportnykh Does it address any issues that I missed?

[2016-09-15 01:51] dm-chechik commented on #453
Is it difficult to include some setting to Divi that disables Google Maps functionality? In this way we will enhance the compatibility with 3rd party plugins that provides more advanced functionality of maps. Also we have several clietns from China where Google Maps API blocked by the Great Firewall and VB is not loading.

[2016-09-15 02:00] kary4 opened #468 "Add from library does not properly show error message received from server"
### Problem:

It displays javascript error: "TypeError: this.props.label is undefined". The problem comes from divi file:
memberstatus.wantedlogic.net/wp-content/themes/Divi-test/includes/builder/frontend-builder/app/bundle.js?ver=3.0.4

Screen cast:
http://youtu.be/wkxq-i_ZrPk?hd=1

I cannot replicate the problem locally.
I installed fresh Divi-test version to be sure the theme files are not cust

[2016-09-15 02:10] lots0logs commented on #468
### Additional Information:
The response from the server includes a proper error message to show the user but the FB throws a TypeError (cannot read property "replace" of undefined).

Response from server:
[code]

[2016-09-15 02:16] timayhelen commented on #402
@fikrirasyid Looks like it's this layout pack, so we can test it out:

https://www.elegantthemes.com/blog/divi-resources/free-divi-footer-layout-pack-10-unique-footer-designs-to-give-your-site-a-leg-up

[2016-09-15 02:19] timayhelen commented on #466
@fikrirasyid This feature actually applies negative margin in order to force the image to sit at the bottom of the section. Here is the difference between the Visual Builder and the front-end:

![screen shot 2016-09-14 at 7 18 41 pm](https://cloud.githubusercontent.com/assets/3333028/18536207/155252a6-7ab0-11e6-9e14-74ce2d7521dc.png)

![screen shot 2016-09-14 at 7 18 46 pm](https://cloud.githubuse

[2016-09-15 02:19] #413 closed

[2016-09-15 02:33] fikrirasyid commented on #453
@dm-chechik the issue isn't about difficult or easy, but:

## 1
it is the issue of "is this plugin widely used enough so we should add it to Divi" or not. If we're not considering the widely used factor and simply add all compat tweaks to Divi, we will end up add every compat issue to Divi and it isn't good for everyone.

## 2
Plus, the issue is actually caused by the way plugin assume that it is

[2016-09-15 02:50] lots0logs commented on #453
@fikrirasyid I've broadened the scope of this issue. Its no longer about solving a compatability issue with a single plugin. Based on the increasing number of tickets from members in China who cannot access google services (so they need a way to not have the gmaps script included on their pages), I think we can address that problem as well as the original problem of this issue by adding an option

[2016-09-15 02:58] fikrirasyid commented on #453
@lots0logs an option to enable / disable Google Maps option due to China customer makes sense, but I don't think it'll solve the WP Google Maps issue due to how WP Google Maps adds its Google Maps API scripts: It appends the file using Javascript, not enqueuing the script using `wp_enqueue_script`. So when VB access the `google` variable, it isn't loaded yet.

Even if WP Google Maps API loads its

[2016-09-15 03:18] lots0logs commented on #453
@fikrirasyid TBH I hadnt looked into the plugin issue at all. I was planning to follow your lead on that. Maybe we should open a separate issue for the new option to disable gmaps then?

I was thinking that enabling the option which disables gmaps would implicitly disable maps modules in the role editor.

[2016-09-15 03:43] fikrirasyid commented on #453
@lots0logs yeah, I think it'd be better to open different issues for disable Google Maps  mechanism.

I think It is logical to do so.

[2016-09-15 05:26] Jronk commented on #409
thanks, its merged now, dont know how I missed that

[2016-09-15 05:26] #409 closed

[2016-09-15 05:30] SlavaET commented on #431
@timayhelen fixed issues №2 and №3 as for the №1 from your list it's quite opposite to №2 though effect is little different now if you move the mouse out of module which is being edited then all the Row and Section controls will appear and it will create that flashing effect. Please take a look at the updated PR and let me know if you see any issues there.

[2016-09-15 05:38] uportnykh commented on #461
@timayhelen We didn't realize lodash wasn't used properly. It's ok to close these PRs then.

[2016-09-15 06:17] SlavaET commented on #468
This error can be reproduced locally if you don't have saved `layouts` in the library.

[2016-09-15 06:26] NIckSharples opened #469 "Save Button does not Save"
### Problem: When I click on SAVE the green SAVE button changes to an 'X' and there is a No Entry symbol hovering over the button.

When I try to click away from the page, assuming my changes have been saved, I get the dialog box asking if I really want to navigate away and warning me that my changes may not be saved. In WP Admin that indicates that the page has not updated or been saved

![image]

[2016-09-15 06:27] SlavaET commented on #447
@dm-chechik does it work differently if you resize the browser to the same sizes as tablet preview?
I don't see any difference and it works as expected as far as I can tell..
Tablet preview - 793px
Phone preview - 493px
and they both trigger the `mobile` view of columns.

[2016-09-15 06:36] SlavaET commented on #339
@andrey-agp I cannot reproduce this issue in the latest version and it works correctly. Can you please check whether or not it still happening to you?

[2016-09-15 06:39] andrey-agp commented on #339
@SlavaET I cannot reproduce this issue in the latest version and it works correctly.

[2016-09-15 06:40] SlavaET commented on #339
great, closing it then.

[2016-09-15 06:40] #339 closed

[2016-09-15 06:44] SlavaET commented on #469
@NIckSharples are you using the latest version of Divi theme ( it's a `3.0.5` at the moment ) ?
If yes - do you have any non-divi shortcodes on the page? which ones and where did you placed them?

[2016-09-15 06:53] NIckSharples commented on #469
Hi Slava,

Thanks for the quick response.

I have a Revolution Slider at the top of the page which does not show up on the Visual Builder. It uses a shortcode within a Divi Text Module.
![image](https://cloud.githubusercontent.com/assets/6023395/18540811/1f93fa08-7b19-11e6-80c4-2e76c4f11a4f.png)

I am on 3.0.1 at the moment. I will update to 3.0.5.

Thanks,

Nick

[2016-09-15 07:02] SlavaET commented on #358
Fixed. It was broken before 3.0 though.

[2016-09-15 07:06] SlavaET commented on #469
@NIckSharples please update to 3.0.5 and check again. It should be fixed already.
Let us know the results.

[2016-09-15 07:06] NIckSharples commented on #469
Cracked it! The update has sorted the problem. I now get a small visual indicator of the Slider in the top left hand corner and can save the changes to the rest. A brilliant enhancement to Divi!!!!
Many thanks.

[2016-09-15 07:43] #469 closed

[2016-09-15 07:48] andreisnoopy opened #470 "Visual builder padding display almost impossible to see"
Two clients are complaining about "shading used to show padding inside sections and rows is almost impossible to see. Should use a striped pattern or similar to ensure it is always visible, regardless of the colors used on the page."

[2016-09-15 09:13] SlavaET commented on #280
@MyInternetScout I cannot reproduce the issue, Soundcloud embed shortcode works fine inside the Blog module in both Visual Builder and Front end. Can you please check it in the latest version of Divi ( it's 3.0.5 ) at the moment.

[2016-09-15 09:22] SlavaET commented on #454
The fix is easy - display the Fullwidth Section outlines when module inside the fullwidth section is hovered. Otherwise it's nearly impossible to get the section outline and drag the padding since module covers all the space inside.

[2016-09-15 10:38] SlavaET commented on #435
Added missing buttons. Except for the buttons generated by Wordpress which cannot be added into our editor in Visual Builder.

[2016-09-15 11:13] fikrirasyid commented on #466
@timayhelen thanks for clarifying it. I've successfully replicate the issue. A patch for the issue has been submitted at https://github.com/elegantthemes/submodule-builder/pull/1185

[2016-09-15 12:49] fikrirasyid commented on #402
@timayhelen I've tried replicating the issue by importing footer layout pack and installing all plugin that is used by the site based on the paths on its source code. However, I still can't replicate the issue tho. I think we still need an access to the site.

@lots0logs have we received the token?

[2016-09-15 14:20] lots0logs commented on #402
@fikrirasyid No, not yet :frowning:

[2016-09-15 14:21] eduard-ungureanu opened #471 "Visual Builder :: Phone preview"
### Problem:

Customers complains that the preview Mobile while in FB is not the same with the actual phone layout in terms of spacings.

Taking a closer look it looks like in the FB the rows gets an additional top / bottom padding of 30px, making the layout to be different then what the website actually look, creating some confusion between the customers:

<img width="1920" alt="screen shot 2016-

[2016-09-15 14:30] dm-chechik commented on #465
@uportnykh I confirm that issue still persist in the 3.0.5. I can successfully delete default theme but not Divi

[2016-09-15 14:45] sosensible opened #472 "Site not updating to Divi 3."
### Problem:

We have a Divi 2.9.81 site that is not updating to Divi 3.x with this error.

Update Failed: The package could not be installed.

### Steps To Reproduce:
Tried to update from Themes and from Updates.

[2016-09-15 14:58] fikrirasyid opened #473 "Module settings :: Colorpicker :: overflowing color in colorpicker"
### Problem:
Selected color overflows the colorpicker in module settings:

![colorpicker-overflowing-color](https://cloud.githubusercontent.com/assets/916442/18554712/496b4c16-7b8f-11e6-9a74-b824898b36d7.jpg)

### Steps To Reproduce:
1. Open section's module settings
2. Select any color on colorpicker
3. Close the colorpicker. See that the selected color overflows the colorpicker

[2016-09-15 15:04] sosensible commented on #472
Here is a follow up of detailed output during an update attempt.

- - - - - - -

The update process is starting. This process may take a while on some hosts, so please be patient.

Enabling Maintenance mode…

Updating Theme Divi (1/1)
Downloading update from http://www.elegantthemes.com/api/api_downloads.php?api_update=1&theme=Divi&api_key=14709d84b0c2a411eca09bcaf1267e05fd6b97bc&username=sosapps&

[2016-09-15 15:05] sosensible commented on #472
Solved, deactivated this plugin.

Elegant Themes Divi Beta Tester

[2016-09-15 15:18] beachgrrrl commented on #464
Hi Fikri, thank you for your response. I did figure out the reason the module was invisible as you noted above, with the help of James Brown (author of KK Divi Mods plugin who had similar issues with his plugin). However once the module was made visible I found that it was also not displayed in grid format, but rather the blog posts were displayed full width. Maybe there is some other javascript t

[2016-09-15 15:23] fikrirasyid commented on #464
@beachgrrrl ah I forgot to mention about it. The grid is initiated by salvattore plugin. It might not be triggered on page load. due to the way 3rd party content is loaded.

Thank you for your feedback. If I recall correctly, the next Divi release would focus on developer. Stay tuned about the news :)

[2016-09-15 15:39] #472 closed

[2016-09-15 15:41] timayhelen commented on #465
@uportnykh I think we need a new patch for Theme Deletion?

[2016-09-15 15:41] beachgrrrl commented on #464
Thank you for your help Fikri! We will stay tuned and look forward to the developers release!

[2016-09-15 16:34] fikrirasyid opened #474 "Switching responsive preview throws error message"
### Problem:
If you're at page which uses `homepage extended` layout in VB, switch responsive preview mode throws an error.

## Replicating Issue
1. Create new page.
2. Load **homepage extended** layout. Publish, then open the page in VB
3. Open browser's inspector. Open console tab
4. Try switching responsive mode.

## Screenshot or Screencast
![throw adjustments](https://cloud.githubusercontent.

[2016-09-15 16:48] uportnykh commented on #465
@timayhelen Looks like we can't do anything about it. It is not possible to delete an active theme, but if a theme is unactive, then we can't execute the patch to fix the issue. I was able to delete the theme though, it doesn't show correct notification, but the theme folder gets removed.

[2016-09-15 16:52] fikrirasyid opened #475 "Boxed Layout :: Snapping settings :: Preview area doesn't adjusting itself when settings is snapped to the edge of the screen"
### Problem:
When a modal settings is being snapped to the left or right side of the screen, the preview area of the layout isn't get adjusted. It remains on the same position which causes part of the preview area located on the bottom of module settings.

### Steps To Reproduce:
1.  Go to Dashboard > Divi > Theme Customizer > General Settings > Layout Settings > Enable Boxed Layout
2. Open any pa

[2016-09-15 17:38] lots0logs opened #476 "FW Header :: Advanced Design Settings Applied In VB Only Show While Using The VB"
### Problem:

#### Using the VB:
![2016-09-15_12-33-49](https://cloud.githubusercontent.com/assets/4675662/18560376/e8bfad1a-7b40-11e6-9ac3-93bcbbe89f4f.png)

#### Viewing Page Normally
![2016-09-15_12-34-19](https://cloud.githubusercontent.com/assets/4675662/18560386/f4a0a026-7b40-11e6-8dd8-94a04838b4f6.png)

### Additional Information:
**URL:** https://goo.gl/ppq9F5
Ping me on Slack for the toke

[2016-09-15 17:47] #465 closed

[2016-09-15 18:06] Jronk commented on #325
https://github.com/elegantthemes/divi-builder/issues/535 has been updated. Its using the builder https://github.com/elegantthemes/submodule-builder/issues/1081, and that has merged in https://github.com/elegantthemes/Divi-Beta/issues/371 (PR: https://github.com/elegantthemes/submodule-builder/pull/1118)

[2016-09-15 18:07] Jronk commented on #325
Note, please test the `grunt build` task in the plugin dir (used to be `grunt zip`)

[2016-09-15 19:12] uportnykh commented on #476
@lots0logs Are you able to replicate it on localhost? I see no issues.

[2016-09-15 19:21] Anny85 commented on #442
@timayhelen Predefined layouts are being imported, if they don't exist or the import is forced. So if a user switches to another language and predefined layouts are imported after that, everything should work fine.

I think we don't want to force predefined layouts to update, when a user switches to another language, since there might be some issues with multilingual sites running WPML. Predefined

[2016-09-15 19:27] timayhelen commented on #433
@fikrirasyid This is looking great! A couple things we can improve:

1. It looks like there is a stutter now when the padding indicator fades it. Instead of being smooth, it  fades it to about 10% and then jumps the rest of the way without a smooth transition:

![smooth](https://cloud.githubusercontent.com/assets/3333028/18564289/bbac442e-7b3f-11e6-8d4c-98f07e023e7b.gif)

2. I think we only need t

[2016-09-15 19:29] timayhelen commented on #442
Ok let's not worry about it. But translations are being correctly applied to the VB?

[2016-09-15 20:01] Anny85 commented on #442
@timayhelen Yes, translations are being applied correctly in all other areas.

[2016-09-15 20:02] #473 closed

[2016-09-15 20:02] lots0logs commented on #476
@uportnykh  No, but I cant explain it either. Its a fresh install with absolutely no plugins and its running php 5.5 :confused:

[2016-09-15 20:13] #442 closed

[2016-09-15 20:14] fikrirasyid commented on #464
@beachgrrrl my pleasure! :D

[2016-09-15 20:17] fikrirasyid commented on #433
@timayhelen noted. I'll adjust it 👍

[2016-09-15 20:25] uportnykh commented on #476
The customer was using incorrect CSS code for a row, it broke styling on front-end, since it renders all styles inside of one style tag ( it works differently in FB, since there are multiple style tags for each element )

[2016-09-15 20:25] #476 closed

[2016-09-15 20:42] timayhelen commented on #470
I am going to keep it the way it is for now, but we can re-assess this in the future if we get a lot of complaints.

[2016-09-15 20:42] #470 closed

[2016-09-15 20:43] #280 closed

[2016-09-15 20:43] timayhelen commented on #94
This has been fixed in 3.0.5.

[2016-09-15 20:43] #94 closed

[2016-09-15 20:45] #132 closed

[2016-09-15 23:02] uportnykh commented on #459
I've figured out what is wrong. JetPack plugin adds OpenGraph tags to a post / page. ```get_the_excerpt()``` is being used for ```description```. It works ok if there is no excerpt, defined for a post / page. But if an excerpt is defined, when the content filter gets fired, it still thinks excerpt is being filtered, so it doesn't proceed with adding ```et-fb-app``` container.

Here's the commit wh

[2016-09-16 00:22] kary4 opened #477 "Plugin compatibility :: WPMU Hummingbird"
### Problem:

When the plugin is enabled you cannot  modify padding under section module settings, or in the front end builder page.
Screen cast: http://youtu.be/fSjWQ3nrBT0?hd=1

Plugin: https://premium.wpmudev.org/project/wp-hummingbird/?utm_expid=3606929-84.YoGL0StOSa-tkbGo-lVlvw.0&utm_referrer=https%3A%2F%2Fpremium.wpmudev.org%2Fblog%2Fhummingbird%2F

It's a paid plugin, so unfortunately I can

[2016-09-16 03:47] fikrirasyid commented on #433
@timayhelen I've updated the way animation works on drag padding indicator. It looks smooth now:

 ![smooth like santana](https://cloud.githubusercontent.com/assets/916442/18574816/cbdb44b0-7bfa-11e6-8778-612519af8c83.gif)

[2016-09-16 03:53] SlavaET commented on #459
I simplified the checks inside `et_fb_app_boot()` and removed our `$called` flag which prevented app from loading in some cases ( when get_the_excerpt() was called on the page for example ).
Looks like `is_main_query()` can guarantee that we do not perform filtering of the content when we don't need to and at the same time guarantees that we perform the filtering when we need it.
I performed some

[2016-09-16 05:34] SlavaET commented on #477
The root cause if the issue is in order of styles loading on the page. Hammingbird plugin changes the order of styles loading and padding defined for the Sections and Rows in Customizer settings overrides custom padding defined in the Rows and Sections directly.
The solution - use more specific selectors for the Row and Section custom padding.
So, in my PR I changed the selectors from this:
`.et_p

[2016-09-16 06:54] andrey-agp opened #478 "Equalize Column Heights :: Wrong layout on responsive preview"
### Problem:

wrong
![screenshot_3](https://cloud.githubusercontent.com/assets/9657712/18577544/3552fb34-7c0c-11e6-8f1e-43cd060509e0.png)

how it should look
![screenshot_2](https://cloud.githubusercontent.com/assets/9657712/18577533/1f2d4bca-7c0c-11e6-9b12-3958183b4270.png)

### Steps To Reproduce:
1.  add row with 2 or 3 or 4 columns
2.  check tablet/mobile preview
3.  enable Equalize Column Hei

[2016-09-16 08:18] uportnykh commented on #459
@SlavaET I think ```is_main_query()``` should be enough, but we can keep using ```$called``` boolean as well just to be sure we don't add ```et-fb-app``` container more than once.

[2016-09-16 08:36] SlavaET commented on #459
@uportnykh that's the problem. Let me explain.
`get_the_excerpt()` function triggers `the_content` filter which fires `et_fb_app_boot()` function and `$called` flag is set to true after that.
Then, when `the_content()` function executed our `et_fb_app_boot()` fired again and this time `$called` flag is set to `true`, but it's the place where we actually need to modify the content.
The problem is t

[2016-09-16 08:41] uportnykh commented on #459
I see. We can remove it then.

[2016-09-16 08:42] SlavaET commented on #459
Ok, it's ready for review then :)

[2016-09-16 10:03] eduard-ungureanu commented on #431
this issue also related to the text module, but in a slightly different context, please check out this video screen cast:

https://drive.google.com/file/d/0B8PjD3Z_XQvuNjJzU2FFM2YxMFE/view?usp=sharing

[2016-09-16 12:15] dm-chechik commented on #428
I've received the answer from customer. Now it work better but the VB is showing a blown-up static image that's cropped off the top and bottom, and there's a small image underneath that.
I've tested on my test server and VB doesn't retain slider dimensions.

[2016-09-16 12:39] kary4 commented on #477
The customer posted a solution from WPMU Hummingbird support:

So WPMU Devs figured it out, they had me add something to functions.php of my child theme and it works now with Hummingbird !

Here is the code if anyone needs it in the future :

[code]

[2016-09-16 16:26] #424 closed

[2016-09-16 16:26] #431 closed

[2016-09-16 16:26] #358 closed

[2016-09-16 16:26] #468 closed

[2016-09-16 16:26] #435 closed

[2016-09-16 16:26] #454 closed

[2016-09-16 16:26] #466 closed

[2016-09-16 16:26] #467 closed

[2016-09-16 18:32] SlavaET commented on #93
Looks like a duplicate of this issue - https://github.com/elegantthemes/Divi-Beta/issues/431

[2016-09-16 18:32] #93 closed

[2016-09-16 19:29] timayhelen commented on #475
Looks like the re-sizing the sidebar modal does not trigger responsive breakpoints anymore:

![screen shot 2016-09-16 at 12 28 51 pm](https://cloud.githubusercontent.com/assets/3333028/18598723/37b07c06-7c09-11e6-9e98-b4759667a6fb.png)

[2016-09-16 19:41] timayhelen commented on #433
@fikrirasyid It looks like there is no longer a delay for row and section outlines and padding indicators. Previously there was a hover-intent delay on these elements.

[2016-09-16 20:42] timayhelen commented on #433
@fikrirasyid use of React Motion also resulted in some glitchiness when adjusting padding. It seems to jump all around while you drag and it's smooth like it used to be:

Before:

![before](https://cloud.githubusercontent.com/assets/3333028/18600597/5eec1c26-7c13-11e6-8885-d9822621bf6d.gif)

After:

![after](https://cloud.githubusercontent.com/assets/3333028/18600594/5b195f8c-7c13-11e6-89ee-e1e6e3

[2016-09-16 22:43] timayhelen opened #479 "IE Fullwidth Header Bug"
Fullwidth Headers - content is not centered vertically. You can check it out here: https://elegantthemes.com/preview/Divi/agency/

[2016-09-16 23:13] #459 closed

[2016-09-16 23:13] #477 closed

[2016-09-16 23:13] #457 closed

[2016-09-16 23:13] #478 closed

[2016-09-16 23:30] #474 closed

[2016-09-16 23:54] fikrirasyid commented on #124
The most feasible solution I can think of this issue is created a hotkey for retaining active state (similar to newly added drag padding hotkey). The possible use case is probably:

1. Hover section / row / module. The hovered element is in active state (has outline and popover).
2. hold `alt` (or other button which is more suitable)
3. As long as the `alt` button is pressed,  the selected element

[2016-09-17 01:18] timayhelen commented on #445
More people with this issue:

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=593681

[2016-09-17 01:34] lots0logs commented on #479
RE: elegantthemes/Divi#995

[2016-09-17 03:12] timayhelen opened #480 "Strange Issue On Save, Quotes Being Added"
I noticed a strange issue on this website, where the user was complainer of her changes not being saved in the builder. They appear to be saved, but settings values are being output wrapped in quotes which results in strange things likes class="et_pb_layout_"dark""

The website can be found here:

https://practicalreiki.online/dev/new-store-layout-2/

Here is the example of one of her CTA modules

[2016-09-17 03:25] timayhelen opened #481 "Random Dot Visible While Using Inline Editor"
When you activate the inline editor, there is a random square dot that appears to the left of the content. It seems to have a high z-index and overlays the inline editor itself. You can see it in this screenshot below the Underline icon.

![screen shot 2016-09-16 at 8 23 49 pm](https://cloud.githubusercontent.com/assets/3333028/18605625/a2a16cb8-7c4b-11e6-8f8e-18f613227613.png)

[2016-09-17 03:27] timayhelen commented on #480
Turns out the problem is due to add < and > to module settings. This is from the customer:

[2016-09-17 06:44] timayhelen opened #482 "Button Module Appearance Discrepancy"
If you add a new button module, enable "use custom button styles" and then set the button icon to "no icon," custom padding added via the CSS tab will not work in the Visual Builder. Adding the following, for example, will have no affect in the Visual Builder but it will work correctly on the front end:

padding-left: 100px!important;

[2016-09-17 07:01] andrey-agp opened #483 "Text module :: center alignment on responsive preview"
### Problem:

### Steps To Reproduce:
1.  create row
2.  change gutter width to 1 in row settings
3.  create text module and change Text Orientation option to center
4. in module advanced settings set custom width 50%
5. check responsive preview

![screenshot_2](https://cloud.githubusercontent.com/assets/9657712/18606594/31741de8-7cd6-11e6-85c0-10b72c6e6806.png)

how it should look
![screenshot_3]

[2016-09-17 09:48] fikrirasyid opened #484 "Broken JS When Moving Row to Another Section"
The issue is discovered on Slack discussion: https://elegantthemes.slack.com/archives/divi3-0/p1474083279000176

[2016-09-17 11:19] timayhelen opened #485 "JS Error Starting WIth Divi 3.0.5"
The following error is occurring on this website:

http://www.pianowizardacademy.com/

Error:

<img width="731" alt="screen shot 2016-09-17 at 4 18 03 am" src="https://cloud.githubusercontent.com/assets/3333028/18607848/d91f3080-7c8d-11e6-8119-290f5800d0b8.png">

The line in question seems to be related to A/B Testing.

[2016-09-17 11:32] timayhelen commented on #485
Update from the user. Apparently they had run a split test in the past, but it had since been completed. However, they tried deleting the module that had been split tested in the [ast, and it fixed the error.

[2016-09-17 11:53] timayhelen opened #486 "Image Module "Max Width" Setting Not Being Stored When Re-Saved"
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=593606

[2016-09-17 12:05] timayhelen opened #487 "Possible Issue With Sub Domains"
This is the second time I have seen someone complain about the Visual Builder "not working," and their website is using a sub domain structure like this:

http://www.carmines.vagabondvirtual.com/

People often use these sub domain setups for staging. Is there a way we can replicate this and test it?

[2016-09-17 12:09] timayhelen opened #488 "Touchy Plugin Conflict"
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=593553

[2016-09-17 12:16] timayhelen opened #489 "Visual Builder Deletes All Custom Fields"
When saving the page via the Visual Builder, custom field data is removed fro the page.

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=593533

[2016-09-17 15:39] dm-chechik commented on #447
@SlavaET Here is the 4/4 layout under the Chrome iPad preview
![image](https://cloud.githubusercontent.com/assets/20072036/18609237/f297e4e4-7d05-11e6-9c6b-94e181cb42d9.png)
And here the same layout under the VB tablet preview
![image](https://cloud.githubusercontent.com/assets/20072036/18609242/18f194be-7d06-11e6-9d10-3a172ec4d2a5.png)

[2016-09-17 16:13] dm-chechik commented on #446
@SlavaET I'm not sure if the following issue in the same scope but the customer still face with problem when pagination option (enable/disable) doesn't work. No matter from wich builder (new VB or old) I switch this option the pagination always displays.
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=588952

[2016-09-17 16:15] SlavaET commented on #446
It's not related to saving, so it's a different issue, please open a new one with the description of the problem.

[2016-09-17 16:15] dm-chechik commented on #446
@SlavaET Okay.

[2016-09-18 16:21] dm-chechik opened #490 "Visual Builder :: Module Colorpicker :: Impossible to type hex code"
### Problem:

There is impossible to erase (by backspace) or input any hex code.

### Steps To Reproduce:
1. Open color picker i any module settings
2. Try to erace by tapping on backspace
OR
3. Try to start input any color code
4. The code field gets updated itself and it adopts random colours.

[2016-09-18 16:58] lots0logs commented on #490
@dm-chechik Could you confirm that this occurs with the latest version? (It was recently fixed elegantthemes/submodule-builder#1168)

[2016-09-18 17:26] dm-chechik commented on #490
@lots0logs It's not the inline editor colorpicker. It's a module settings colorpicker.
![image](https://cloud.githubusercontent.com/assets/20072036/18617677/1c175772-7dde-11e6-8418-26ae1767f4a3.png)

[2016-09-18 18:21] dm-chechik opened #491 "Visual Builder :: Section panel tips overlaps WP menu"
### Problem:

![image](https://cloud.githubusercontent.com/assets/20072036/18617996/685f11fe-7de5-11e6-83a4-432eb824a80e.png)

### Steps To Reproduce:
1. Move quickly from the bottom to the top over the section panel to the WP menu
2. Depending on through which icon you over the mouse corresponding tip shows above the WP menu

[2016-09-19 02:58] lbjohnson01 commented on #487
@timayhelen have you gotten reports of child theme style.css not working with 3.0.x? Mine seems to have petered out. Makes no difference whether installed plugins are all off or all on.

http://bbp.lbjdigital.com

[2016-09-19 03:41] lots0logs commented on #487
@lbjohnson01 Your stylesheet has a few syntax errors in it. Try replacing it with this copy (where I have corrected the errors): https://gist.github.com/lots0logs/acf89be501f8c109280121ff35c48b53

Let us know the result :smiley:

[2016-09-19 04:08] lbjohnson01 commented on #487
@lots0logs yeah see, this is why we use staging. :/ :)

Thanks so much for catching those! You guys are The Man.

[2016-09-19 04:43] SlavaET commented on #116
@timayhelen I added the same effect as we use when module dropped into new location. Please let me know if we need to use a different effect for this.

[2016-09-19 05:03] SlavaET opened #492 "Module Settings Popover color incorrect if the Goal/Subject Module is a Button Module"
### Problem:
If Split Test is enabled on page and Button module is selected as a Goal or Subject then popover background color is incorrect when you hover over the Goal ( Subject ) module.

### Steps To Reproduce:
1. Enable Split Test and choose the Button module as a Goal and/or Subject;
2. Open the page with Split Test in the Visual Builder;
3. Hover over the goal module;
4. Check the color of S

[2016-09-19 05:20] SlavaET commented on #485
@timayhelen I cannot reproduce the issue locally, I suppose it happend because the Split Test wasn't finished correctly and not all the Testing attributes were cleared. I improved the code though, to avoid such error.
btw, I'm not sure it's even related to Divi 3.0.5, because this code wasn't changed there in any way, so this issue was there before 3.0.

[2016-09-19 05:45] SlavaET commented on #488
Looks like that plugin prevents loading of some basic scripts which are required not only for Visual Builder but for front-end as well, because I see js error on the front-end of the website:
![image](https://cloud.githubusercontent.com/assets/3446682/18623367/01c170a8-7e5e-11e6-9b3b-238be6955dcc.png)

And as far as I can see from his screenshot Underscore.js and Backbone.js along with some others

[2016-09-19 06:04] SlavaET commented on #447
Ah, I see now. Thanks for the clarification.

[2016-09-19 06:07] SlavaET commented on #430
@timayhelen looks like our fix worked and this issue is fixed.

[2016-09-19 06:57] #430 closed

[2016-09-19 09:13] eduard-ungureanu opened #493 "Google Maps Embed code and Tabs Module"
### Problem:

If using the tabs module, to add a google map embed code, only the map in the first tab will show properly, the other tabs only simply show the map but with no pointers.

Test page: http://divi.wordpress-corner.com/google-maps-tabs/

### Steps To Reproduce:
1.  add a tabs module
2. add more then 2 tabs
3. in each of the tabs content paste an google maps embed code like for example:
[

[2016-09-19 14:40] dm-chechik opened #494 "Visual Builder :: Row :: Width misconfiguration"
### Problem:

VB editor allows to set row width in px when % units is selected and vise versa. It confusing customers when they input 70% value for example and pay no attention  that px units is selected. As a result they see a row with 70px width.

[2016-09-19 15:06] dm-chechik opened #495 "Portfolio Module :: Pagination setting doesn't apply with WP-PageNavi plugin"
### Problem:

It seems we have conflict with WP-PageNavi plugin when Portfolio Module pagination setting doesn't apply. You can see the settings works in the VB but if you save and exit from builder you'll see that pagination still visible.

[2016-09-19 18:02] lots0logs commented on #493
Issue moved to [elegantthemes/Divi #2549](https://github.com/elegantthemes/Divi/issues/2549) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-19 18:02] #493 closed

[2016-09-19 18:31] lots0logs opened #496 "RTL Alignment Still Applied In VB When Translations Disabled In ePanel"
### Problem:

If a site is using a RTL language but disables translations of the theme/builder using the option in ePanel, the alignment of text/buttons in the VB remains RTL while the actual text is in English.

[2016-09-19 19:06] Anny85 commented on #486
You should set `ET_BUILDER_FORCE_CACHE_PURGE` constant to `true` in `includes/builder/functions.php` to test the fix.

[2016-09-19 19:35] timayhelen commented on #482
@SlavaET This seems to cause some strange issues and break various settings. For example, "Add Button Icon" setting doesn't work correctly now when you set it to "No" and it also seems to affect other module settings. For example, try enabling this setting on a standard CTA module. It will remove padding from the parent module wrapper and also will not remove the icon from the button.

[2016-09-19 19:42] timayhelen opened #497 "Saved Previous Modal & Page Settings Bar State"
I think we should record the current position, size and state of the Settings Modal and Page Settings bar and use those value when the builder is opened again. So if someone, for example, re-sizes their settings modal and snaps it to the left and then saves the page, the next time they open the builder the settings modal opens at that position. Some people will prefer certain arrangements, and it

[2016-09-19 19:51] timayhelen opened #498 "Improve VB Exit Warning"
Currently a JS warning appears when you attempt to leave the VB without saving. I think this can be improved by replacing the JS browser prompt with an in-app modal (the same "small" modal we use throughout the BB and for the builder failure warning). This modal would give a warning, plus the choice to "save and exit." We would still need go to use JS to prevent people from leaving the page, but w

[2016-09-19 20:09] timayhelen commented on #498
I also think we should be using the modal styles in core.css to create these modals, instead of bringing more CSS into the VB. Ideally we need to migrate all current modal prompts over to the core system and remove duplicate CSS, but for now we can at least use these styles moving forward. We may need to add some additional CSS to handle the dual buttons, because this is new to core.css.

Can we u

[2016-09-19 20:15] timayhelen commented on #460
@SlavaET The preloader is still off-center for me in most locations. Here is the Load Layout tooltip:

![screen shot 2016-09-19 at 1 14 52 pm](https://cloud.githubusercontent.com/assets/3333028/18647492/21abb074-7e6b-11e6-8441-6a0149a05842.png)

[2016-09-19 20:18] timayhelen commented on #489
We couldn't replicate this.

[2016-09-19 20:18] #489 closed

[2016-09-19 20:23] timayhelen commented on #496
@lots0logs Does he have the "Disable Translations" option enabled in epanel?

[2016-09-19 20:38] lots0logs commented on #496
@timayhelen He said he has the backend in English so I assume he must have enabled that option in ePanel.

[2016-09-19 20:44] timayhelen commented on #496
Well I don't think Divi is translating the page then. Maybe he has a translation plugin, or perhaps it's just Chrome translating it automatically.

[2016-09-19 20:46] timayhelen commented on #449
We should also add relevant hotkeys to the BB, such as cut/copy/paste/alt+drag etc.

[2016-09-19 20:49] dm-chechik opened #499 "Visual Builder :: Column class disappears with Post Slider Module"
### Problem:

Column css class assignments disappear from the html code after Post Slider Module insertion.

### Steps To Reproduce:
1. Insert row with 4 columns for example.
2. Assign css class to each column (column1, column2, ...)
3. Insert Post Slider to second column for example
4. Now 3rd and 4th columns doesn't have css classes. If you look from the row settings all classes in their places

[2016-09-19 21:18] timayhelen opened #500 "Contact Form Appearance"
It looks like the contact form module's default appearance has changed in recent updates. The text area is not 100% width, as mentioned in this post:

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=594467

It happens in our own demos as well:

http://elegantthemes.com/preview/Divi/agency/

[2016-09-19 21:49] timayhelen commented on #404
@fikrirasyid I guess I don't really like the idea of removing the Inline Editor popover when your mouse leaves the module. For small modules, it's quite easy to do by accident especially considering the popover will be outside the confines of the module.

Do you think there is a different approach we can take?

[2016-09-19 22:57] lots0logs opened #501 "Inline Editor :: TinyMCE's Options For Editing HTML Tables Not Available"
### Problem:
Its currently possible to edit the contents of table cells and to increase the table's height. It doesnt allow you to increase the table's width. Also the other options that MCE provides when actively editing a table are not available (not sure if its possible, but if it is then we should do it)

[2016-09-19 23:03] lots0logs opened #502 "Inline Editor :: Should have tooltips to label the buttons of the toolbar."
### Problem:

Not sure if we left them out intentionally but I think they are needed. I can't tell you what all the buttons do just by looking at the icon myself, so I'm sure most users would appreciate the tooltips.  (Even if they have to be very small--check out the ones on the github comment box below)

[2016-09-19 23:34] timayhelen opened #503 ""Hide Nav Before Scroll" Doesn't Work In VB"
This option, found in the Divi Page Settings meta box when editing a post, does not work correctly in the VB.

[2016-09-19 23:41] timayhelen opened #504 "Hidden TinyMCE Area Adds Unwanted Height To Empty Text Areas"
Each editable text area has a height of 3px added to it. When a text field is left blank, it adds extra height to the module. Do we need to have a hard-coded height of 3px, or can we just make it 0px?

![screen shot 2016-09-19 at 4 34 53 pm](https://cloud.githubusercontent.com/assets/3333028/18652514/e7d84eb2-7e87-11e6-9e02-81ce186d4e9c.png)

[2016-09-19 23:56] timayhelen opened #505 "Changes Aren"
### Problem:

Replace this section with a description of the issue you are reporting. Be sure to explain the expected results vs. actual results when it might not be obvious to those who will read your report.

Under the "Additional Information" section below, it would be especially helpful if you could include a video screencast of the issue occurring along with a link to download the Divi Builde

[2016-09-19 23:56] #505 closed

[2016-09-19 23:57] timayhelen opened #506 "Changes Aren't Saved Correctly When Initiating VB From An Unsaved "Preview""
1. Create a new page.
2. Enable the Divi Builder
3. Load a layout.
4. Do not save the draft, and click "Preview"
5. Enable the Visual Builder from the front-end preview.
6. The VB launches correctly with the layout loaded. However, if you make any changes and then save the draft in the VB, the page will not be saved and you are left with a blank page when you check the BB.

[2016-09-20 00:00] #480 closed

[2016-09-20 00:00] #447 closed

[2016-09-20 00:00] #481 closed

[2016-09-20 00:00] #485 closed

[2016-09-20 00:00] #479 closed

[2016-09-20 00:00] #486 closed

[2016-09-20 00:00] #491 closed

[2016-09-20 00:00] #492 closed

[2016-09-20 00:00] #471 closed

[2016-09-20 00:00] #495 closed

[2016-09-20 01:49] timayhelen commented on #503
This seems to be a different root issue. I can't replicate now, possibly some random JS error.

[2016-09-20 01:49] #503 closed

[2016-09-20 01:53] timayhelen opened #507 "Row/Section Drop Animations Aren't Smooth"
When a row or section is dropped, there should be a smooth animation that fades/slides in just like modules. However, the animation seems to be interrupted and it's not very smooth. I think there is a base height applied that prevent the start of the animation from rendering correctly.

![row-smooth](https://cloud.githubusercontent.com/assets/3333028/18655029/50d8464e-7e9a-11e6-844e-19d4b321edd4.g

[2016-09-20 02:08] SlavaET commented on #504
@timayhelen it was added to make it possible editing of empty fields. If we set it to 0 ( or we can simply not output anything ) then it won't be possible to type in the title field if it's empty.

[2016-09-20 02:19] timayhelen commented on #504
Can we lower it to 1px, or will that make it more difficult to access?

[2016-09-20 02:29] SlavaET commented on #482
Fixed.

[2016-09-20 02:33] SlavaET commented on #504
yes, it'll be extremely difficult to access, 3px is the minimal height which is usable ( based on my experiments ). But I'm thinking of different option now - set the height to 1px and extend it on hover so it'll be possible to click inside editable area.
I'll check that.

[2016-09-20 04:09] timayhelen commented on #504
@SlavaET Ok, I guess it's a pretty low priority issue.

[2016-09-20 13:19] SlavaET commented on #445
Looking into it. One customer sent me the FTP details, so I'm experimenting on his server. Looks like there is a limit somewhere which do not allow to load the big amount of data we need for our app, looking the ways how to optimize the data size and/or loading of this data.
It's weird that it happens only on homepage, probably there is a setting to limit max request length on homepage. This issue

[2016-09-20 18:45] uportnykh commented on #500
All newly created forms should work fine now.

Customers will need to open contact form settings and hit save to fix the issue with existing modules settings.

[2016-09-20 20:08] Anny85 commented on #499
I can't reproduce this issue using the latest version of the theme.

@dm-chechik Can you see if it is still not working properly for you?

[2016-09-20 20:19] timayhelen opened #508 "Post Slider Shows Shortcodes"
If you add a Post Slider to the page, it displays shortcodes instead of stripping them out in the VB:

![screen shot 2016-09-20 at 1 18 44 pm](https://cloud.githubusercontent.com/assets/3333028/18687402/db8e3132-7f34-11e6-92b0-035d8be6c0fb.png)

[2016-09-20 20:20] timayhelen commented on #508
Also the "show excerpt" vs "show content" setting doesn't seem to have an effect.

[2016-09-20 20:21] timayhelen commented on #499
I couldn't replicate this either. It must be a different issue.

[2016-09-20 20:24] timayhelen commented on #445
@SlavaET It's strange because the cap we were hitting before was a 2.5MB cap on Document Size. Even a large page in the VB is only around 80kb right now, so it must be a different limit we are reaching.

[2016-09-20 20:27] #500 closed

[2016-09-20 20:58] timayhelen opened #509 "Legacy Contact Forms Don't Show Up In Visual Builder"
Contact form modules that were created before we added the "custom form fields" system don't show up correctly in the visual builder since they don't technically contain any child module items. Once the module is opened and saved in the BB, the form fields appear.

[2016-09-20 21:52] kary4 opened #510 "Plugin compatibility :: NextGen Gallery"
### Problem:

When I try to activate the plugin I get this error message:
[code]
I

### Additional Information:
I updated the theme myself.
All plugins are deactivated except for the support one.
I cannot reproduce the issue locally.

Website:
http://newsite.horizonstoragesheds.com/
Daygc0FS-bBo8iIfV

Ticket: https://www.elegantthemes.com/forum/viewtopic.php?f=21&t=593950

[2016-09-21 01:21] timayhelen commented on #445
@SlavaET There is another person in this thread with the "homepage" problem:

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=589163

[2016-09-21 01:31] lots0logs opened #511 "Blog Module :: Inconsistent Behavior With Sticky Posts"
### Problem:

[2016-09-21 01:52] timayhelen opened #512 "All Google Fonts Being Loaded On Front-End"
This website seems to be loading every Google font on the list, even though they are not using these custom fonts on their site:

http://swiftrei.com/

Here is a screenshot of their source:

![screen shot 2016-09-20 at 6 49 14 pm](https://cloud.githubusercontent.com/assets/3333028/18694978/5f1410e8-7f63-11e6-8c5c-097a1dfd2519.png)

[2016-09-21 01:59] timayhelen commented on #512
I see what's happening. Each time you apply a custom font using the Inline Editor, that font gets enqueued on the front end **even if the font is no longer used on the page.** So if you are using the Inline Editor, and you cycle through 20 of fonts before decided on the one you want, all 20 fonts will be  loaded. We need to make sure only the fonts being used on the page are actually loaded on the

[2016-09-21 02:33] SlavaET commented on #445
Yes, it's different for sure, but it's definitely some limit on the server, because when I remove some items it loads fine ( these items also loaded if I load only them, so it's definitely related to the amount of data ). I couldn't figure what is it yet.

[2016-09-21 02:40] SlavaET commented on #445
I'm talking about $helpers variable which includes all the module fields. This variable passed to the bundle.js script using the wp_localize_script() and it's quite huge. The problematic part of this variable is advanced settings, if I remove the advanced settings from the variable - it starts loading. If I reduce them, then I see that app is breaking in different point, of the script loading. Loo

[2016-09-21 03:37] lots0logs commented on #445
Could we move the english strings into the bundle and then request the translations from the server when FB starts only if we detect that the current language is not English?

[2016-09-21 05:54] SlavaET commented on #488
I got the plugin from customer and found the root cause. Touchy plugin modified the `exports` global variable and it breaks a lot of things because wp scripts have checks like:
`if (typeof exports !== "undefined") { .... }`
and if `exports` not undefined, then scripts assume it contains required data, but that's not the case, `exports` contains the data added by Touchy plugin and that assumption i

[2016-09-21 06:34] timayhelen commented on #445
We could try raising post_max_size when the VB launches, like we do with php memory limit. Can you see if it fixes the issue on the customer's site?

[2016-09-21 07:00] bluantinoo commented on #384
@lots0logs sorry to ask but I don't know how you're managing issues, do you confirm this issue or not? (because I still have this problem on v 3.07)

[2016-09-21 07:44] andreisnoopy opened #513 "Revolution Slider Display Incorrectly in Visual Builder"
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=594726

[2016-09-21 08:19] andrey-agp opened #514 "Call To Action :: Clear color"
### Problem:

Clear color button doesn't work
![animation](https://cloud.githubusercontent.com/assets/9657712/18703096/464a077c-8006-11e6-9aae-e288b21e6435.gif)

### Steps To Reproduce:
1.  Create CTA and change background color
2. Save module
3. Open module again and click Clear

Same issue for header color and body color in advanced desing settings.

[2016-09-21 08:48] SlavaET commented on #510
@kary4 there is something wrong on his website, I cannot access the NextGen plugin settings even if Twenty Sixteen theme activated on his website, it fails with a different error though.

[2016-09-21 08:52] SlavaET commented on #510
btw, line 1223 of `/includes/builder/functions.php` file only fires on front-end, because that function attached to `wp_footer` hook, so I assume there is an error in loading. Reinstall Wordpress maybe? :)

[2016-09-21 10:11] dm-chechik commented on #499
@Anny85 @timayhelen Hi! I'v recorded the screencast.
http://screencast-o-matic.com/watch/cDQr66jFtt

[2016-09-21 10:42] lots0logs commented on #384
Hi @bluantinoo, Currently we are only tracking issues specific to the Visual Builder in this repo. So I went ahead and moved this issue into our main Divi Repo. We'll be doing another round of general bug fixes soon. I expect this issue to be addressed during that round :smile:

[2016-09-21 10:45] dm-chechik opened #515 "Theme Customizer :: Typography Font Settings is absent in Hebrew language"
### Problem:

When theme in Hebrew language the Font dropdown in General->Typography settings is absent.

[2016-09-21 12:07] SlavaET commented on #445
No, it doesn't seem to work. If it was the case then it will break the Visual Builder on all the pages I assume. But this weird issue appears only on homepage.. investigating further.

[2016-09-21 12:45] kary4 commented on #510
@SlavaET Thanks for checking. I think I checked the plugin with default wordpress theme. Strange, it really does not work :)  Okay, I'll let you know how it goes.

[2016-09-21 14:07] andrey-agp opened #516 "Side navigation :: js error"
### Problem:

Uncaught TypeError: Cannot read property 'top' of undefined in custom.js line 820

### Steps To Reproduce:
1.  Enable side navigation
2.  Open VB
3.  Move your mouse over the section
4. Try to scroll

`et_pb_scroll_` class disappear when you hover over the section

[2016-09-21 15:01] uportnykh commented on #515
These settings are not available for some languages. Please, check out the list of such languages here: https://github.com/elegantthemes/Divi/blob/master/functions.php#L474-L515

[2016-09-21 15:01] #515 closed

[2016-09-21 15:49] #510 closed

[2016-09-21 15:51] dm-chechik opened #517 "Slider Module :: CSS Parallax option causing enlarging images twice"
### Problem:

It seems this issue only with CSS Parallax option. The True Parallax works fine.

[2016-09-21 15:53] timayhelen commented on #517
Images are set to background-size: cover, so they will extend the full width and height of the browser. Users can use true parallax mode if this isn't what they want.

[2016-09-21 15:53] #517 closed

[2016-09-21 15:55] dm-chechik commented on #517
@timayhelen Thanks

[2016-09-21 18:51] Anny85 commented on #499
We've replicated the issue. You should have at least one post, made using Builder, in the Post Slider module content.

[2016-09-21 19:16] bluantinoo commented on #384
Thanks for answering @lots0flogs, is there a way I can track this issue? I have several woocommerce with this bug and it's quite annoying :(

[2016-09-21 19:19] lots0logs commented on #384
No, I'm afraid not. However, it will be listed in the change log when it is fixed. Also you should feel free to use this issue to check in on it anytime :smiley:

[2016-09-21 19:31] #302 closed

[2016-09-21 19:34] timayhelen commented on #124
@fikrirasyid What if when you double click on a module, it opens up the module settings? It doesn't solve the issue completely, but it does solve the main issue of not being able to access module settings.

[2016-09-21 19:37] timayhelen commented on #124
I am going to add this to the list of "power user" features, since we already have an issue going for that.

[2016-09-21 19:37] #124 closed

[2016-09-21 19:46] timayhelen commented on #487
Another person with a possible sub domain issue: https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=595662

[2016-09-21 19:47] timayhelen commented on #513
This same thing is happening for some people using Layer Slider.

[2016-09-21 19:52] timayhelen commented on #488
@SlavaET Let's not worry about it. Can you update the customer with our findings and then close this issue?

[2016-09-21 19:52] Jronk opened #518 "FB :: Update page dot/side nav when sections added/removed"
### Problem:

When page dot navigation is in use in FB, you could add/remove sections, and the side nav does not get updated. For example, you could have 3 sections to begin with, and the side/dot nav would have 3 dots, but then add 4 new sections, there would still be 3 dots in the dot nav rather than 7.

[2016-09-21 19:53] Jronk commented on #516
Note, https://github.com/elegantthemes/submodule-builder/issues/1213 fixes the js error, however there is a enhancement/bug still needed which is that sections can be added/duplicated etc, and the side nav needs to be updated accordingly. New issue created for this : https://github.com/elegantthemes/Divi-Beta/issues/518

[2016-09-21 23:48] #482 closed

[2016-09-21 23:48] #512 closed

[2016-09-21 23:48] #516 closed

[2016-09-22 03:08] fikrirasyid commented on #484
@Jronk @SlavaET @timayhelen I've been working on this issue for two days and still don't get solid solution for this. Thus, I'm pausing myself from this issue and will revisit this later after I'm done with other stuff. However, it'd be super great if someone would give this issue a try; fresh perspective is probably what is needed for this issue.

Nevertheless, this is what I know about this issu

[2016-09-22 04:27] lots0logs commented on #484
@fikrirasyid This is definitely a tough one. Any solution we come up with must ensure that the DOM is not modified by jquery sortable (nor by anything other than React for that matter). I think you're findings thus far affirm that actually.

[2016-09-22 04:36] SlavaET commented on #488
Done.

[2016-09-22 04:36] #488 closed

[2016-09-22 05:03] fikrirasyid commented on #484
@lots0logs yeah. There are two missing points tho:

1. What removes the DOM
2. What triggers this DOM removal

Once we figure this out, it'll get significantly clearer, I think

[2016-09-22 08:35] SlavaET commented on #445
I couldn't find the root cause of the issue, but I think I found how to overcome it and at the same time improve the loading speed of our app.
# The problem ( as far as I can tell right now ):
In some environments huge `<script>` is not loading correctly and causes 500 internal server error, which breaks the Visual Builder:
![image](https://cloud.githubusercontent.com/assets/3446682/18741269/05210

[2016-09-22 09:20] SlavaET commented on #460
@timayhelen fixed that one.
Can you please specify where else you see the issue? I checked all the tooltips and preloader looks centered to me with my PR

[2016-09-22 10:22] SlavaET commented on #445
I checked on one more website with this issue and looks like removing Advanced Settings from the helpers is not enough there. So I went ahead and updated my fix to load ALL the module fields ( General, Advanced and CSS ) via ajax. It works on all the websites where I tested it.

[2016-09-22 10:36] lots0logs commented on #445
@SlavaET What do you think about what I mentioned in my previous comment. We could avoid the extra ajax request altogether for English sites if we include the untranslated strings in the bundle. That way we only make the request when we need the translated strings (for non-english sites).

[2016-09-22 11:00] SlavaET commented on #445
Translations do not need extra ajax requests, we send them via localization as before, so I don't think it may help. It'll reduce the size of helpers viable though, but for English sites only.

[2016-09-22 11:06] lots0logs commented on #445
The majority of builder users will have English sites :wink:  Anyway, I was thinking that the advanced settings was just a bunch of translatable strings. I should have double checked it first :sweat_smile:

[2016-09-22 11:20] SlavaET commented on #445
Also, if we'll store all strings in the bundle it means we'll need to duplicate them and keep in sync in 2 placed, so I'm not sure we need that. Moreover strings are not so huge comparing to objects, so we can keep it as is I think.

[2016-09-22 11:37] SlavaET commented on #445
One thing I worry about is that we include the content object into helpers variable as well. It may cause the same error if user has a big page with lots of modules. Probably we should try loading the content object via ajax as well, before starting the application.

[2016-09-22 11:39] lots0logs commented on #445
I agree. Though now I'm beginning to worry about the number of ajax requests :grimacing:  Though really its fine since the VB is only accessed by logged in users :+1:

[2016-09-22 12:29] kary4 commented on #501
Not sure if I should create separate issue.. anyway, ET Shortcodes  buttons are not available under inline options.
![1](https://cloud.githubusercontent.com/assets/3352130/18748080/58500344-80d9-11e6-869b-b4f07561d614.png)

[2016-09-22 12:55] FaycalBoutam opened #519 "Ctrl/cmd+z erase all text which was written on one line"
### Problem:

When you write a long text on one line, using the ctrl/cmd+z key will erase everything without a possibility to return the text back. A customer was very frustrated with this.

This is a screenshot when I made a mistake writing "cat" instead of "car". Using the ctrl+z can be catastrophic in some cases!

![r1](https://cloud.githubusercontent.com/assets/16414613/18748819/f18126c8-80cb-

[2016-09-22 13:24] SlavaET commented on #445
We retrieve all the module fields in a single ajax request when app is loading. So it's not an issue at all. I'm going to try loading the content via ajax request, so it'll be one more. 3 in total, I don't think it's too much.

[2016-09-22 14:52] eduard-ungureanu opened #520 "Blurb, Text Module :: Line Height Value :: Undo option"
### Problem:

Let say I will customize the line height of the blurb module instead of the default 1.7em to be 25px, after saving I want to try a different line-height which: 35px, whiout closing the blurb module, I use the undo button - which should reset to the previous value which was 25px, instead it will reset to 2, then clicking again the same button will reset to the proper values 25px.

###

[2016-09-22 14:53] fikrirasyid commented on #404
@timayhelen can you take a look at https://github.com/elegantthemes/submodule-builder/pull/1217?  I tried various approach and the mousetrap based approach to capture "click outside tinyMCE" appears to be best approach. Here's how it looks like:

![make-popover-available-on-inline-editor-leave](https://cloud.githubusercontent.com/assets/916442/18752941/22facb22-810e-11e6-9487-68895a2ebbd3.gif)

ba

[2016-09-22 17:49] eduard-ungureanu opened #521 "Builder Labels :: Not Visible"
### Problem:

Some users have reported that while in FB if they refresh the page and open any element settings, the labels doesn't appear:

https://drive.google.com/file/d/0B8PjD3Z_XQvuTFktZXVmVzcyeHM/view?usp=sharing

This video is from one of our customers, I think you guys will have to download it since it's in webm format.

[2016-09-22 17:54] SlavaET commented on #445
Added loading of the shortcode object via ajax as well. I combined loading of all the data into single Ajax requests, since it's really small, so Divi app will make one small ajax request on startup to retrieve the required data. The size of retrieved data may vary depending on the page layout but it shouldn't be extremely huge, for example for Homepage Extended layout it's 768kb.
Below are some n

[2016-09-22 18:49] timayhelen commented on #445
Seems like a good solution to me.

[2016-09-22 18:59] timayhelen commented on #460
I get the following warning when loading the VB in this branch. I don't get it in master. I am not sure if it's related to changes in this branch, or perhaps it's because the branch is behind master and this warning was already fixed:

![screen shot 2016-09-22 at 11 58 31 am](https://cloud.githubusercontent.com/assets/3333028/18762009/0a362138-80bc-11e6-8ef0-7613003d7400.png)

[2016-09-22 19:02] timayhelen commented on #509
I still get a blank contact form. Try loading the "Contact Us" pre-made layout in the VB, which includes the old shortcode:

![screen shot 2016-09-22 at 12 01 43 pm](https://cloud.githubusercontent.com/assets/3333028/18762147/7510cdb4-80bc-11e6-9685-2361611562cd.png)

[2016-09-22 19:17] timayhelen commented on #519
For the time being you can tell them that ctrl+y or cmd+shift+z is "Redo." You can always redo something is you didn't mean to undo it.

[2016-09-22 19:29] kary4 opened #522 "Plugin compatibility :: Ninja Forms & Formidable Forms :: Fatal Error When Previewing Forms"
### Problem:

Some customers get
[code]
with the plugin activated. Not sure if it's related to #390

Ticket: https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=532544

[2016-09-22 20:01] timayhelen commented on #143
This has been fixed in master.

[2016-09-22 20:01] #143 closed

[2016-09-22 20:09] andreisnoopy opened #523 "Divi visual editor doesn't display module padding"
A client asks if this feature is a bug or this is how it should work. I will quote him
"When hovering over the borders of rows and modules, the Divi visual editor displays padding as a shaded area.

It does NOT display padding when hovering over the border of modules, though."

[2016-09-22 20:11] timayhelen commented on #523
We have a different issue open for this. It will be added soon, maybe in the next ~2 versions.

[2016-09-22 20:11] #523 closed

[2016-09-22 22:20] #402 closed

[2016-09-22 22:22] #119 closed

[2016-09-22 22:56] lots0logs opened #524 "Portfolio module :: pagination doesn't show up"
@andrey-agp commented on [Sat Sep 17 2016](https://github.com/elegantthemes/Divi/issues/2546)

### Problem:

![screenshot_1](https://cloud.githubusercontent.com/assets/9657712/18606120/b595b53c-7cc7-11e6-8729-bc2abde1d0a4.png)

### Steps To Reproduce:
1. Add portfolio module
2. Enable pagiantion

Divi 3.0.5

[2016-09-22 22:57] lots0logs commented on #524
Possibly Related: elegantthemes/submodule-builder#1207

[2016-09-22 23:01] #524 closed

[2016-09-22 23:05] lots0logs opened #525 "Media Modal :: Missing The Sidebar With Options For Galleries & Playlists."
@snow-walker commented on [Fri Sep 16 2016](https://github.com/elegantthemes/Divi/issues/2543)

### Problem:

Divi Visual Builder doesn't let the user to create a gallery from Media Library while trying to use the tab module.

### Steps To Reproduce:
Steps to recreate the issue:
1) Create Page using Visual Builder
2) Add a Tab module
3) Add Media from editor in the content area.
The Create Gallery

[2016-09-22 23:10] lots0logs commented on #525
![2016-09-22_06-07-24-pm](https://cloud.githubusercontent.com/assets/4675662/18769091/ab70b738-80ef-11e6-87c9-19ec69318af3.png)

[2016-09-23 00:12] #445 closed

[2016-09-23 00:12] #502 closed

[2016-09-23 01:10] timayhelen opened #526 "JS Warning Occurs When Tooltips Appear"
Whenever a tooltip is first launched (for example, by clicking any of the (+) buttons), the following JS Warning occurs:

![screen shot 2016-09-22 at 6 09 07 pm](https://cloud.githubusercontent.com/assets/3333028/18770975/c6b3442a-80ef-11e6-8ac2-83326b00dc48.png)

[2016-09-23 01:33] timayhelen opened #527 "Blog Grid Pagination Displayed Incorrectly In Visual Builder"
When adding a new Blog modules in Grid mode. the pagination often appears incorrectly. In this example I have the Wp Page-navi plugin installed.

When you add a new blog module to a 1 column row, and only 2 posts are displayed, the pagination falls into the empty column:

![screen shot 2016-09-22 at 6 30 23 pm](https://cloud.githubusercontent.com/assets/3333028/18771325/d93bbb06-80f2-11e6-9417-f52

[2016-09-23 01:35] timayhelen opened #528 "Blog Grid Breaks When Changing "Posts Per Page" During Ajax Reload"
If you open up the blog module and adjust the "posts per page setting," it will trigger ajax call to re-render the module. If you change the "posts per page setting" again during this ajax call, the module will break:

![blog](https://cloud.githubusercontent.com/assets/3333028/18771396/56f5426a-80f3-11e6-95bd-0b8d10677e7b.gif)

[2016-09-23 02:45] SlavaET commented on #460
@timayhelen I cannot reproduce the error, but I merged the latest master into my branch. Please check it now. Also, try restarting `npm` just in case.

[2016-09-23 03:05] fikrirasyid commented on #404
@timayhelen  I pushed an update to https://github.com/elegantthemes/submodule-builder/pull/1217 because I noticed this popover can appear on multiple modules if you do the following:

1. User clicks on different tinyMCE area
2. User clicks outside its module, then hovering to different module

![multiple module setting popovers](https://cloud.githubusercontent.com/assets/916442/18770415/c00fa828-8

[2016-09-23 04:03] SlavaET opened #529 "Child modules Drag and Drop doesn't work"
### Problem:

It's not possible to reorder child items in the recent master:
![child-drag](https://cloud.githubusercontent.com/assets/3446682/18773835/d8eb9ea0-8174-11e6-807e-317e2b6e3fe1.gif)

### Steps To Reproduce:
1. Open Settings of the module which contains more than one child item
2. Try to reorder them

[2016-09-23 04:06] SlavaET commented on #509
@timayhelen hm, it works for me. I merged the latest master into my branch, can you please check it again?

[2016-09-23 04:26] SlavaET commented on #511
@lots0logs can you reproduce this issue locally?
I tried, but no luck. For me it looks the same in FB and Front end. Also sticky post doesn't affect the number of posts in Blog module, if I set 2 - I see 2 posts including sticky, not 2 posts + sticky post.

[2016-09-23 04:45] SlavaET commented on #521
I cannot reproduce this issue, I noticed it sometimes a while back when I was on Windows, but it's a random thing and I couldn't constantly reproduce it and it fixes itself when I resized the browser or try to inspect element to see what's going on. Probably some Chrome extension causes it.
Also, it happened to me not only in Builder, but on other websites as well, so I'm pretty sure it's a Chrome

[2016-09-23 06:26] fikrirasyid commented on #475
@timayhelen I've incorporated your feedback at https://github.com/elegantthemes/Divi-Beta/issues/475#issuecomment-247686733

[2016-09-23 06:50] uportnykh commented on #463
I couldn't replicate this either. It works fine on Vagrant and our staging server.

[2016-09-23 07:45] uportnykh commented on #509
It seems to work fine for me as well.

[2016-09-23 08:45] andreisnoopy opened #530 "Scroll doesn't work in Visual Builder when you edit a module"
### Steps To Reproduce:
1.  Create a text module (or any module with text)
2. Click on the text field to insert/remove a text
3. Try to scroll

[2016-09-23 09:18] fikrirasyid commented on #433
@timayhelen can you take a look at https://github.com/elegantthemes/submodule-builder/pull/1182 again? I ended up replacing react motion for fadeIn effect with simple CSS transition because React Motion appears to screw the timing on the padding bottom's indicator if it is being used. This is how it looks now:

![smooth-padding-bottom-change](https://cloud.githubusercontent.com/assets/916442/18780

[2016-09-23 09:50] eduard-ungureanu opened #531 "Email Optin :: Doesn't work"
### Problem:

The Email Optin doesn't work on Windows 7, Firefox and IE 11, but it does work on Chrome:

The reason FF on Windows 7 show this error when the button is clicked:

<img width="960" alt="screen shot 2016-09-23 at 12 46 56 pm" src="https://cloud.githubusercontent.com/assets/1719735/18781852/41793aa6-818c-11e6-9589-568b9a341766.png">

The same form work on any other system / operating sy

[2016-09-23 09:57] fikrirasyid commented on #490
@dm-chechik a patch has been submitted for this issue. It is currently under review process now. Thank you for reporting the issue :)

Fixes https://github.com/elegantthemes/Divi-Beta/issues/490

It appears that the issue isn't user **cannot** type hex code, but the typed hexcode is automatically "corrected" by colorpicker after 3rd character into 6 characters hexcode so it's impossible for user t

[2016-09-23 10:10] Anny85 commented on #531
@eduard-ungureanu Are you sure the customer is using the latest version. I fixed it here: https://github.com/elegantthemes/submodule-builder/pull/1170

[2016-09-23 10:15] eduard-ungureanu commented on #531
@Anny85 : that was a noob mistake, he is using the 3.0.2 version, I did ask the customer to update to the latest version. I'm sorry! We can close this!

[2016-09-23 10:31] fikrirasyid opened #532 "Add Option To Completely Disable Google Maps"
Follow up of https://github.com/elegantthemes/Divi-Beta/issues/453#issuecomment-247219304. Rationale:

- In countries which bans Google services, VB wouldn't work
- If user choose to use plugin which uses Google Maps and enqueue its own Google Maps API script, things went wrong

[2016-09-23 10:31] fikrirasyid commented on #453
@lots0logs I'm opening https://github.com/elegantthemes/Divi-Beta/issues/532 for Google Map related issue and closing this one

[2016-09-23 10:31] #453 closed

[2016-09-23 11:16] #531 closed

[2016-09-23 13:49] eduard-ungureanu opened #533 "Theme Customizer :: Change the row left / right padding"
### Problem:

When you go to Theme Customizer > Mobile Styles > and change the row height, it also change the default row left / right padding.

### Steps To Reproduce:
1.  create a new page
2. import the layout (attached)
3. go to Theme Customizer > Mobile Styles
4. Change the default row height
5. the row's padding left / right will get lost.

### Additional Information:

*Please include any of

[2016-09-23 14:04] eduard-ungureanu opened #534 "Single Product :: Product review Form"
### Problem:

It looks like the product review form is messed up, the label for the email appears and the input has no placeholder.

You can check also our demo page: https://www.elegantthemes.com/preview/Divi/product/colored-pencils/

### Steps To Reproduce:
1.  check a single product
2. activate the review tab
3. make sure you are not login - to see the form

<img width="960" alt="screen shot 20

[2016-09-23 16:27] timayhelen commented on #433
@fikrirasyid There was intended delay on all outlines and padding indicators. You can test out master to see. It looks like you did it by simply have the first 70% of the CSS animation do nothing.

[2016-09-23 17:21] fikrirasyid commented on #433
@timayhelen I've pushed the CSS animation to emulate the hover-intent mechanism

[2016-09-23 18:46] timayhelen commented on #460
@SlavaET I notice that in this PR, the search input and "replace existing content" text is displayed above the preloader. I think it looked much nicer when these elements were hidden during pre-load. This way the entire tooltip has a white BG and the preloader is centered within it. It doesn't really make sense to show the search bar while it is unusable anyway.

[2016-09-23 18:54] timayhelen commented on #496
@Anny85 I think we should disable it for the BB and Theme Options as well.

[2016-09-23 19:06] SlavaET commented on #507
Fixed. Also fixed the issue when moved module appears in previous location for a split second.

[2016-09-23 19:07] Anny85 commented on #496
Ok

[2016-09-23 19:08] timayhelen commented on #475
@fikrirasyid Looks good. I found another issue related to modal snap, so I think we can fix it in this PR as well. It's most noticeable with Vertical Nav + Boxed Layout, but it wasn't as apparent before since the content width was not adjusted in boxed mode.

The issue is, basically, vertical nav gets hidden on mobile but the width of the content area is not adjusted, leaving a blank space to the

[2016-09-23 19:19] timayhelen commented on #507
@SlavaET I notice something weird with the animations in this branch. It appears that when you move one section, it causes sections below it to "animate" in as well. Only the row/section being dropped should slide/fade in.

![row](https://cloud.githubusercontent.com/assets/3333028/18798442/7133a13c-8187-11e6-88cd-a64bbe389a7c.gif)

I also noticed some issues with rows and sections disappearing whe

[2016-09-23 19:31] timayhelen commented on #507
Also, it looks like if you move a module from one column to another, modules below the moved module in the original column re-animate:

![animate](https://cloud.githubusercontent.com/assets/3333028/18798891/9260a40c-8189-11e6-93a9-0e9f4cd34f45.gif)

[2016-09-23 19:35] #433 closed

[2016-09-23 19:35] #526 closed

[2016-09-23 19:35] #528 closed

[2016-09-23 19:35] #529 closed

[2016-09-23 19:35] #490 closed

[2016-09-23 20:05] SlavaET commented on #460
Fixed.

[2016-09-23 20:52] timayhelen commented on #460
@SlavaET Can we do the same thing for the Add From Library tabs when adding new modules/rows/sections? With the current implementation he preloader sites below the search bar, and it also gets pushed down ad layouts load:

![row-add](https://cloud.githubusercontent.com/assets/3333028/18800987/01573bc2-8195-11e6-856d-d8c70dd2d224.gif)

[2016-09-23 22:22] timayhelen commented on #530
@andreisnoopy I can't replicate this. Can you post a screencast?

[2016-09-24 00:01] fikrirasyid opened #535 "Adding custom exit button if admin bar is disabled"
### Problem:

This is quite interesting: https://elegantthemes.slack.com/archives/support/p1474479896000315. At this moment, exit to page or to backend builder relies to admin bar. Some people choose to disable admin bar. This causes an absence of exit link. We could probably detect for admin bar existence and adding custom exit link (possibly the exit door icon) if there's no admin bar.

![exit b

[2016-09-24 04:52] fikrirasyid commented on #532
This issue requires these three PRs to be merged:

- Divi: https://github.com/elegantthemes/Divi/pull/2555
- builder: https://github.com/elegantthemes/submodule-builder/pull/1224
- epanel: https://github.com/elegantthemes/submodule-epanel/pull/39

cc: @lots0logs

[2016-09-24 06:25] fikrirasyid commented on #475
@timayhelen I've fixed it at https://github.com/elegantthemes/submodule-builder/commit/9948fc5ed2fb568db16958b2878759f68074fb13

[2016-09-24 06:50] uportnykh commented on #487
The recent update ( 3.0.8 ) fixed the issue on the customer's sites.

[2016-09-24 06:50] #487 closed

[2016-09-24 09:48] fikrirasyid commented on #514
@andrey-agp  can you take a look at https://github.com/elegantthemes/submodule-builder/pull/1226?

[2016-09-24 13:26] kary4 opened #536 "Visual Builder :: Save button doesn't work on visual builder"
### Problem:

I can't understand why the layout cannot be saved using Save button in divi 3.0.8, but it works good in the previous (3.0.7) version. Here is the error message:
[code]
from the bundle.js file.

Website:
http://toilettage-montpellier.fr/?et_fb=1

### Additional Information:
I cannot reproduce the issue locally.
Right now there are two divi versions installed (divi - 3.0.8  and divi-te

[2016-09-24 14:42] fikrirasyid commented on #522
@kary4 can you replicate the issue? Where exactly the error appears? I've tried replicated the issue and follows the step mentioned on the forum thread, but I still can't replicate the issue :|

[2016-09-24 14:46] kary4 commented on #522
@fikrirasyid  Is it a paid plugin, right? Can you send me your version? I'll try it locally.

[2016-09-24 14:49] fikrirasyid commented on #522
@kary4 it is actually a free plugin. You can install it from WordPress plugin repository: https://wordpress.org/plugins/ninja-forms/

[2016-09-24 14:54] kary4 commented on #522
Ups, sorry.. I'll update you later.

[2016-09-24 15:05] fikrirasyid commented on #522
No problem 👍

[2016-09-24 15:13] fikrirasyid commented on #513
@andreisnoopy can you ask the customer to export his/her slider and attach it here? I was trying to replicate the issue by installing the copy of revolution slider we have and good lord I don't know how to use this thing. So many configuration 😩 Also, which version of revolution slider the customer using? Mine is stuck at version `5.0.x.x` which is bundled by X theme we used for builder comparison

[2016-09-24 15:21] timayhelen opened #537 "Possible Issue With Disabled Modules Causing Page Not To Save"
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=596879

[2016-09-24 15:22] dm-chechik opened #538 "Fullwidth Menu :: Impossible to reach settings panel"
### Problem:

When Fullwidth menu in the top of the page there is now way to click on Module Settings panel. It is under the fixed main menu.

![image](https://cloud.githubusercontent.com/assets/20072036/18809445/f5e83aa8-8283-11e6-9c93-649d0d5095e4.png)

[2016-09-24 15:23] #537 closed

[2016-09-24 15:23] timayhelen commented on #536
Looks like people are saying it's due to Disabled Modules on the page. When they removed the disabled modules, saving worked again.

[2016-09-24 15:25] timayhelen commented on #536
I tested on localhost and was able to save the page with a disabled module, but the module gets stripped from the page.

[2016-09-24 15:27] dm-chechik opened #539 "Fullwidth Menu :: Active link color setting doesn't working"
### Problem:

It seems the "Active Link Color" setting doesn't working.

### Steps To Reproduce:
1. Add the Fullwidth Menu module to the page
2. Assign custom Active Link Color setting
3. The color doesn't applied.

[2016-09-24 15:28] timayhelen commented on #536
Ah it looks like modules that are disabled in all 3 locations don't appear in the Visual Builder, but they are still accessible in the BB. I can't re-create the error mentioned above.

[2016-09-24 15:39] timayhelen commented on #536
Looks like the error occurs when you try to save a page with a disabled Section. Disabled modules work fine, but saving a page that contains a disabled section in the VB will cause the error.

[2016-09-24 16:13] fikrirasyid commented on #536
@timayhelen what is the expected behaviour of disabled section? The latest version of Divi completely hide disabled section. Last time I remember, we only lowered down the opacity. causes the disabled module end up removed if this issue is fixed.

[2016-09-24 21:36] kary4 opened #540 "Plugin compatibility :: Paid Member Subscriptions :: Problem with custom fields"
### Problem:

It's a paid plugin, so unfortunately can't reproduce the issue. Here is the plugin page:
Paid Member Subscriptions

To get more info please refer to this ticket:
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=593533

[2016-09-25 00:16] lots0logs commented on #540
@kary4 The issue with custom fields being deleted has already been fixed. Please asked them to ensure they are using the latest version and to let us know if the issue persists.

[2016-09-25 00:40] lots0logs commented on #538
@dm-chechik I cannot reproduce this on the latest master. Its likely that it was fixed recently. We can reopen this if the issue persists in the next update version.

[2016-09-25 00:40] #538 closed

[2016-09-25 00:49] lots0logs commented on #522
@fikrirasyid We were recently contacted by the developers of Formidable Forms regarding the same issue. The issue is a WSOD when previewing forms. I took a quick look at it and couldn't identify why that function isn't loaded  at the time its called. AFAICT the wp environment is being bootstrapped to the point where the builder's `functions.php` file (which contains the function listed in the erro

[2016-09-26 06:16] SlavaET commented on #460
Done.

[2016-09-26 07:25] andreisnoopy commented on #530
I just updated to 3.0.8 and couldn't reproduce it no more. I will check with the client and see if he update and if the issue is still there. I will reply here after I recive an answer

[2016-09-26 07:57] uportnykh commented on #540
@lots0logs Actually we couldn't replicate the issue with custom fields being deleted, so we can try to replicate the issue with the plugin.

[2016-09-26 09:32] eduard-ungureanu commented on #521
@SlavaET I know it's totally random issue, but I think it is still happening. I did ask the customer to check it's environment, I will update this as soon as I get a respond from him.

[2016-09-26 11:19] eduard-ungureanu opened #541 "Search Label not show on IE 11"
### Problem:

Test this on our demo Divi page, the label for the search filed, doesn't appear on IE 11 Windows 7.

### Steps To Reproduce:
1.  link to check: https://www.elegantthemes.com/preview/Divi/
2. click on the search next to the menu items
3. Search placeholders doesn't work on IE 11 - Windows 7

<img width="960" alt="screen shot 2016-09-26 at 2 17 11 pm" src="https://cloud.githubuserconte

[2016-09-26 15:33] dm-chechik commented on #406
It seems this string should be reviewed
`$headers[] = "From: \"{$contact_name}\" <mail@{$_SERVER['HTTP_HOST']}>";`
The customer reported the from field transformed to mail@**www.**mydomain.com.
Some mail servers reject emails with this address.

[2016-09-26 17:11] timayhelen commented on #406
I thought we already stripped out the www. from the "from" address. Shouldn't we be doing that?

[2016-09-26 17:18] kary4 opened #542 "Problem with anchor links that include some parameters"
### Problem:

For ex. if you add a pricing table module and define the following URL to the Button URL option:
[code]
this won't work. But if you add it w/o any parametters, like _#anfragen_ it will work.

I'm not sure if it's a bug. Could someone explain what actually happens? :)

Ticket:
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=597448

[2016-09-26 17:54] timayhelen opened #543 "Button Module Throws JS Error"
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=597638

There have been several reports of this. Karen mentioned that it happens to him once he adjusted the Button BG color.

[2016-09-26 19:03] #536 closed

[2016-09-26 19:37] eduard-ungureanu opened #544 "Theme Customizer Settings :: Buttons Style :: Woocommerce"
### Problem:

This is strange issue so allow me to proper show you the steps:

**Theme Customizer > General Settings > Typography**
I selected the body link color to be #b28c40 so that my links wouldn't be divi blue.

Theme Customizer > General Settings > Theme Accent Color
Here I also selected #b28c40 so that the blue would be gone from WooCommerce section of site.

**Theme Customizer > Buttons >

[2016-09-26 20:57] lots0logs opened #545 "Plugin Compatibility :: Nested Calls To the_content() Are Not Performed Safely"
### Problem:

[2016-09-26 21:50] andyhqtran commented on #449
@timayhelen modal tabs is taken care of in #1233

[2016-09-26 22:32] lots0logs commented on #540
@uportnykh It looks like its working now. At least that's what the customer reported on the ticket. I'll let you decide if we still need to look into it :smiley:

[2016-09-26 22:50] uportnykh commented on #540
I think we can close it then. Please, let us know if you some other clients will be having an issue with custom fields.

[2016-09-26 22:50] #540 closed

[2016-09-26 23:02] fikrirasyid commented on #545
@lots0logs what is the context of this? Who reviewed it and why it happened? I'm not sure what causes this in the first place :thinking_face:

[2016-09-26 23:08] fikrirasyid commented on #545
@lots0logs is it related to https://github.com/elegantthemes/Divi-Beta/issues/522#issuecomment-249395897?

[2016-09-26 23:11] lots0logs commented on #545
@fikrirasyid No its not related to that one. Its an email from the developer of the Simple Lightbox plugin. They have received reports of compatibility issues and requested a copy of Divi to investigate. I provided them with a copy last week. They sent their findings today (which I copy/pasted above). That's all I know at this point. Though their findings sound legitimate so I think we need to loo

[2016-09-26 23:15] uportnykh commented on #496
@timayhelen It looks like there's not much we can do on Theme Options and BB pages. We can apply some hacks using jQuery, but it breaks RTL page layout and it might not work in all browsers. Do you think we should still add it?

[2016-09-26 23:17] lots0logs commented on #545
I will ask them for complete details on the exact issue in question and post back here as soon as they respond.

[2016-09-26 23:23] fikrirasyid commented on #545
@lots0logs alright. I assume the plugin you're referencing is this, isn't it? https://wordpress.org/plugins/simple-lightbox/

Can you share me links to the thread where people complained about this? I'll take a look and start investigation for our side.

[2016-09-26 23:25] lots0logs commented on #545
The reports were made to the plugin developer. The only thing I can find in our forum is related to a conflict with magnific popup (though surely that's not what this is)

[2016-09-26 23:37] fikrirasyid commented on #545
Ah, that one out of the blue issue with no specific way to replicate it :facepalm:

[2016-09-26 23:51] lots0logs commented on #532
@fikrirasyid Please see my note on the Divi PR regarding the copy. Also note that I made a typo so it should begin with the following:

[2016-09-27 00:47] fikrirasyid commented on #532
@lots0logs I've updated both PRs to incorporate your feedback:

- https://github.com/elegantthemes/Divi/pull/2555/commits/d688a8f132773a0527b493801552616eae1e443b
- https://github.com/elegantthemes/submodule-builder/pull/1224/commits/f9948b44e146c72b89be008e3915872d05364392

[2016-09-27 01:07] lots0logs commented on #475
@fikrirasyid I've noticed two issues that are at least somewhat related to what is being addressed in this PR. I marked them in the screenshot below. I also notice another issue where the settings modals are fixed to the top of the browser window and can only be dragged horizontally but since it is currently happening on master branch also, I'll open a new one for it!

 ![2016-09-26_20-03-35](http

[2016-09-27 01:17] fikrirasyid commented on #475
@lots0logs ah, I think we can fix the secondary menu issue on this PR. I'll have it done.

[2016-09-27 01:21] fikrirasyid commented on #475
Regarding modal settings overlaps admin bar, how did you do it? This is how it looks like on my browser:

<img width="1440" alt="screen shot 2016-09-27 at 8 18 10 am" src="https://cloud.githubusercontent.com/assets/916442/18857062/f7423b98-848a-11e6-9a0b-fd4d0233d33f.png">

[2016-09-27 01:21] lots0logs opened #546 "DnD :: Module Settings Modal :: Stuck To Top Of Window Cannot Be Dragged Vertically"
### Problem:

This happens on the current `master`. It doesnt happen when I test the version installed on http://elegantthemesdemo.com

![anim](https://cloud.githubusercontent.com/assets/4675662/18857108/b9a16a84-8426-11e6-838b-0e530019539d.gif)

[2016-09-27 01:25] lots0logs commented on #514
@fikrirasyid Clearing the color should result in the theme's default color for the element being applied. That's how it works with the BB (although its obviously more complicated for the FB since we are showing the color change live).

[2016-09-27 01:29] lots0logs commented on #475
Hmm..I didnt do anything special. It might not be an issue specific to your changes here. I didnt check for that issue specifically on `master` (but I will check it now..)

[2016-09-27 01:53] lots0logs commented on #518
I'm getting a bunch of errors in the console when using the dot navigation (clicking on the dots).

![2016-09-26_08-51-41-pm](https://cloud.githubusercontent.com/assets/4675662/18857633/3bf7d69a-842b-11e6-8eda-85c54a67d726.png)

[2016-09-27 02:21] lots0logs commented on #527
@fikrirasyid The issue is still present when using Extra:

![2016-09-26_09-12-28-pm](https://cloud.githubusercontent.com/assets/4675662/18858087/296d3890-842f-11e6-8698-8f7d01768f29.png)

[2016-09-27 02:27] lots0logs commented on #483
@fikrirasyid We need to add styles for `right` and `justified` alignments as well.

[2016-09-27 02:44] lots0logs commented on #497
@Jronk

1. Works great :+1:
2. I couldnt test this completely due to #546 but I was able to at least confirm that the horizontal position is persisted.
3. :+1:
4. :+1:
5. :exclamation: The open/closed state is not persistent when I tested this branch.

[2016-09-27 03:14] lots0logs commented on #460
This one is proving difficult for me to test because on my server I only get to see the preloader for 1 second if I am lucky. That being said, it doesnt appear to be centered vertically (it is noticeably lower than it should be). Also, the search box and "replace existing content" text are still visible while the preloader is visible.

[2016-09-27 03:32] SlavaET commented on #545
@fikrirasyid keep in mind this ticket while you're looking into this issue - https://github.com/elegantthemes/Divi-Beta/issues/459

[2016-09-27 03:40] SlavaET commented on #460
@lots0logs can you please record a screencast? It looks fine for me and search box with "replace existing content" text are covered by preloader..
Please make sure you cleared cache before testing.

[2016-09-27 03:46] lots0logs commented on #499
@Anny85 I noticed that the posts shown in the VB for the blog module is different from what is shown on the actual page when one of the posts has a blog module in its content.

### Page:
![2016-09-26_10-39-05-pm](https://cloud.githubusercontent.com/assets/4675662/18859532/a4253046-843a-11e6-8694-9cb08cf4b9c4.png)

### VB:
![2016-09-26_10-45-46-pm](https://cloud.githubusercontent.com/assets/4675662

[2016-09-27 04:14] lots0logs commented on #460
@SlavaET I double and triple checked that it isnt cache issue :grimacing:

![anim2](https://cloud.githubusercontent.com/assets/4675662/18860029/ee6eafd4-843e-11e6-8db0-49c50bf3431c.gif)

[2016-09-27 05:01] fikrirasyid commented on #475
@lots0logs I can't replicate the admin bar overlapping even if my test site uses transparent background on top and main header.

I've fixed the top header issue at https://github.com/elegantthemes/submodule-builder/pull/1191/commits

[2016-09-27 05:01] fikrirasyid commented on #545
@SlavaET thanks for the hats up.

[2016-09-27 05:08] timayhelen commented on #460
@SlavaET It looks like the initial preloader works, but there appears to be a second preloader that gets pushed down as library items are loaded in.

![preloader](https://cloud.githubusercontent.com/assets/3333028/18860858/be720d5c-8435-11e6-87b2-73d6a4100464.gif)

[2016-09-27 05:11] SlavaET commented on #539
Turned out there were 2 issues:
1) "Active Link Color" option was applied to the wrong selector. This issue is not related to Divi 3 and it was a general issue with the FW menu module.
2) Active menu item was not determined correctly when VB is activated. This issue related to Divi 3.

I fixed them both in my PR.

[2016-09-27 05:12] timayhelen commented on #527
I think we can worry about Extra in a different PR. Currently WP Page Navi is completely unstyled in Extra.

[2016-09-27 05:12] lots0logs commented on #546
Had some custom css for the builder demo plugin leftover in ePanel
![homer-simpson-doh](https://cloud.githubusercontent.com/assets/4675662/18860919/131490da-8447-11e6-8190-2e8965032ef4.gif)

[2016-09-27 05:12] #546 closed

[2016-09-27 05:13] #543 closed

[2016-09-27 05:13] #527 closed

[2016-09-27 06:08] SlavaET commented on #460
Fixed. It should be fine now.

[2016-09-27 06:32] eduard-ungureanu commented on #544
Updates on this:

If for example in Theme Customizer > Buttons >  Buttons Hover Style I do change the Text Color to be #b28c40 and the text color to be #fcfcfc, this will also make the non-hovert state to have background-color: #fcfcfc and the text color white.

**Theme Customizer > Buttons > Buttons Style**
<img width="960" alt="screen shot 2016-09-27 at 9 28 20 am" src="https://cloud.githubuserc

[2016-09-27 08:38] SlavaET commented on #507
@timayhelen I closed the previous PR and submitted a new PR with the fix which should not have the issues you mentioned, please check this - https://github.com/elegantthemes/submodule-builder/issues/1235

[2016-09-27 08:42] fikrirasyid commented on #545
@lots0logs it appears that I couldn't catch any issue at all. Based on the description:

I assume that the issue would be around:

- page with module which uses the_content and simple plugin throws error
- simple plugin doesn't work in page builder

I tried various settings to make it throws error but none happens. I'll postpone this until clear steps to reproduce the issue have been provided.

[2016-09-27 08:46] SlavaET opened #547 "Sortable script is not initiated properly for Rows on pages with Fullwidth Sections"
### Problem:

If you drag the Regular section somewhere near the Fullwidth section, then you can no longer drag Row inside the Regular section which was dragged:
![drag-row-issue](https://cloud.githubusercontent.com/assets/3446682/18866267/0d7495d8-84c1-11e6-94fa-5ed2e5184058.gif)

### Steps To Reproduce:
1. Load Homepage Basic layout
2. Move the Top section after the Fullwidth section on the page

[2016-09-27 09:18] Anny85 commented on #499
@lots0logs Do you mean sticky posts are not displayed in Visual Builder? Did you try to replicate the same issue on master?

[2016-09-27 09:24] fikrirasyid commented on #542
@kary4 it isn't bug, he configure it incorrectly. If you'd like to use parameters and anchor on the URL, instead of this:

OR

You have to put the parameter first, then the anchor:

OR

This Mozilla Developer Network explains it clearly: https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_is_a_URL

In case you need a visual guidance, this is the incorrect URL structure:

![542-inc

[2016-09-27 09:24] #542 closed

[2016-09-27 09:27] kary4 commented on #542
@fikrirasyid Uhh, so detailed! Thank you! /x10  👍

[2016-09-27 09:30] timayhelen commented on #499
@Anny85 If that is the issue, can you fix it in this PR so we can move it to Dev Review?

[2016-09-27 09:34] Anny85 commented on #499
@timayhelen Yes, I'm just not sure what the real issue is. It is hard to tell by just looking at screenshots. I'll try to replicate the issue with sticky posts.

[2016-09-27 09:50] lots0logs commented on #499
@Anny85 I actually hadnt realized it was sticky posts until you mentioned it. I checked it and found that It is indeed the sticky posts that are missing when the Blog Module is rendered in the VB.

[2016-09-27 10:09] Anny85 commented on #406
@timayhelen It was not merged for some reason https://github.com/elegantthemes/submodule-builder/pull/682

[2016-09-27 10:59] fikrirasyid commented on #518
@lots0logs can you share the layout you're using and screencast of how you did it? I tried replicating it but I can't replicate it so far:

![518-no-error-found](https://cloud.githubusercontent.com/assets/916442/18870680/035c95c6-84dc-11e6-8ddc-e05cd052c2ff.gif)

[2016-09-27 13:02] fikrirasyid commented on #483
@lots0logs There's this thing tho: It appears that the adjustment only happen on center alignment and actual front page looks identical at https://github.com/elegantthemes/submodule-builder/pull/1229:

## Desktop
![483-desktop-actual](https://cloud.githubusercontent.com/assets/916442/18873892/b66cd586-84eb-11e6-8ff9-a5aa54b9c831.jpg)

![483-desktop-vb](https://cloud.githubusercontent.com/assets/91

[2016-09-27 13:35] fikrirasyid commented on #514
@lots0logs I've incorporated your feedback at https://github.com/elegantthemes/submodule-builder/commit/513626fd51f1bd10236f169a0789f3ce5bbb94f2. There's this one issue about this tho: not all field has `default` / `shortcode_default` value (which is configured at `main-modules.php`). If no default value found, clear will just simply "clear" the value (instead of replacing it with default data)

[2016-09-27 15:27] #483 closed

[2016-09-27 15:28] timayhelen commented on #518
@fikrirasyid I have had this error before too. It's unrelated to the dot navigation most likely. Probably something to do with the header.

[2016-09-27 15:55] #530 closed

[2016-09-27 17:18] abhi-sharm commented on #463
@uportnykh : Hi , Sorry for the delay in update , actually my email client had some issue and i was not getting email notifications properly so i missed this message. I have to search for this ticket for getting the token as it is pretty old now, i will look for it if you need. I also think this should not bug as i have not seen even a single ticket like this since then. Let me know if you want me

[2016-09-27 17:19] uportnykh commented on #463
Sure. Let's find out if we can help the customer.

[2016-09-27 17:59] timayhelen commented on #449
@andyhqtran We should add the following shortcuts to Tooltip Modals as well:

- [ ] Tab - change tabs.
- [ ] Esc - close tooltip.

[2016-09-27 18:20] #541 closed

[2016-09-27 18:27] #460 closed

[2016-09-27 18:29] #514 closed

[2016-09-27 18:30] #508 closed

[2016-09-27 18:39] lots0logs commented on #518
@fikrirasyid Its the Homepage Extended layout. I will test it again on a fresh copy of the repo just to rule out this being due to cache or user error (like being on the wrong branch perhaps haha)

[2016-09-27 18:50] timayhelen commented on #499
@Anny85 It looks like code from the code module is being rendered as normal text. I think we can just strip out all content from code modules in the blog module content area:

![screen shot 2016-09-27 at 11 49 46 am](https://cloud.githubusercontent.com/assets/3333028/18887356/998a1e76-84a8-11e6-8ddb-b63950aee4d7.png)

[2016-09-27 18:51] timayhelen commented on #518
@lots0logs It's unrelated, so open a new issue if you figure out what causes the error.

[2016-09-27 19:09] Jronk commented on #497
2. Is this no longer a problem here then?
5. I meant to add a note about that. Basically I didnt include it on purpose, since you would have it open to save, and it would save the open state and you would never be able to save it in a closed state because you cant hit the save button with it closed. I could, however, make these "app preferences" save without the need of the save button, but this w

[2016-09-27 19:18] timayhelen opened #548 "Disabled Modules/Rows/Sections Break Builder"
If a disabled module/row/section is on the page, it breaks the builder. The following error occurs when you attempt most actions, such as deleting a module:

![screen shot 2016-09-27 at 12 14 07 pm](https://cloud.githubusercontent.com/assets/3333028/18888211/34cfdd00-84ac-11e6-8130-96544be0e9e0.png)

**_You must save the page and refresh after disabling something to cause the cause the error._**

[2016-09-27 19:21] timayhelen commented on #497
I think we can add it as part of the "power user" features we have going.

[2016-09-27 19:33] lots0logs commented on #548
@timayhelen Might be related: https://github.com/elegantthemes/Divi-Beta/issues/536#issuecomment-249372889

[2016-09-27 19:37] lots0logs commented on #497
What if we did that only for the open/close state of the settings bar and keep the rest how you have it now?

[2016-09-27 19:41] timayhelen commented on #548
I can't replicate it now. I dono what happened, lol.

[2016-09-27 19:41] #548 closed

[2016-09-27 19:50] Jronk commented on #497
This functionality is what I dubbed app preferences, so the idea that we could have some app prefs that save instantly (especially ones that you arent interacting with a ton), and then others that will save on a full save (saving the page/post via save button). I tried to keep the implementation open for future use for other "app preferences".

[2016-09-27 19:54] timayhelen commented on #406
Weird, I went ahead and merged it.

[2016-09-27 19:54] #406 closed

[2016-09-27 20:22] uportnykh commented on #499
@timayhelen I've fixed it.

[2016-09-27 20:26] timayhelen commented on #532
@fikrirasyid Just realized we need to add this option to Extra and the Divi Builder plugin, otherwise the warning will always appear.

[2016-09-27 20:29] Jronk commented on #532
Ill add the option to Extra a the plugin

[2016-09-27 21:33] timayhelen opened #549 "Fixed Dot Navigation Issue In The Visual Builder"

[2016-09-27 21:52] kary4 commented on #520
I can confirm the issue, though on my end it works even strangely: http://youtu.be/EKB-2vjiCBs?hd=1

[2016-09-27 22:08] kary4 opened #550 "FB :: Overlaping icons issue"
### Problem:

![1](https://cloud.githubusercontent.com/assets/3352130/18893713/b998a3ee-8517-11e6-92dd-ffc6996a688f.png)
1. To replicate the issue add a row, define custom width to 370px (under row module settings).
2. Next add CTA module and define padding: 0; under cta custom css settings (main element).
3. Now enable Front End Builder and you'll see the problem.

Screen cast:
http://youtu.be/E3

[2016-09-27 22:19] andyhqtran opened #551 "Right click causes previous modal to open."
### Problem:
If you open any modal that uses `modal/index.jsx`, click on a `tooltip-modal`, and then right click outside of the modal, 2 modals pop up.

### Steps To Reproduce:
1. Open History Modal
2. Open Portability Tooltip Modal
3. Right click outside modal.

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**

[2016-09-27 22:24] timayhelen commented on #551
Looks like it actually opens up the modal for the item you right click on.

[2016-09-27 22:26] #518 closed

[2016-09-27 22:28] timayhelen commented on #509
I must not have successfully pulled recent changes. It seems to work for me now.

[2016-09-27 22:29] timayhelen commented on #463
@abhi-sharm If you hear back from the customer let us know. I am closing this issue for now.

[2016-09-27 22:29] #463 closed

[2016-09-27 22:53] timayhelen opened #552 "Roboto Light Front Doesn't Work In Visual Builder"
If you assign Roboto Light in the Visual Builder, the following error occurs:

Once you save and go to the front-end, however, it works fine. We seem to enqueue the font differently on the front-end than we do in the Visual Builder, possibly because Roboto Light is actually just a low font-weight of Roboto.

[2016-09-27 23:07] fikrirasyid commented on #532
@timayhelen ah, you're right :|

@Jronk thanks! let us know once you've pushed the update to Extra and Divi Builder

[2016-09-27 23:56] timayhelen commented on #498
There are a few issues.

- [ ]  The modal is height is much too large because it uses top/bottom percentages. This isn't how the core modal worked before. Currently we have two modal height styles. For modals with lots of content, we use the top/bottom percentage method, and for others we just center it vertically. Maybe we can create an one-size-fits-all solution, which would be giving the modal

[2016-09-28 00:05] #509 closed

[2016-09-28 00:05] #507 closed

[2016-09-28 00:05] #539 closed

[2016-09-28 00:05] #475 closed

[2016-09-28 00:05] #532 closed

[2016-09-28 00:05] #534 closed

[2016-09-28 00:05] #547 closed

[2016-09-28 00:29] Jronk commented on #532
- [X] Added to Extra: https://github.com/elegantthemes/Extra/commit/80c277871f89c517be65e4bb203451a319e8c311
- [ ] Issue for it to be added to builder plugin, as the setting needs a lot more work to get implemented: https://github.com/elegantthemes/divi-builder/issues/541

[2016-09-28 03:17] fikrirasyid opened #553 "Cannot Update Button Module's Background by Clicking Saved Colorpalette"
### Problem:

The following steps fail:

1. Add button module
2. Switch to advanced tab, expand background color's colorpicker
3. Click the colorpalette

Button's background doesn't get updated.

[2016-09-28 06:45] andrey-agp opened #554 "Theme customizer :: mobile styles :: section/row height"
### Problem:

VB responsive preview shows the default padding instead of custom padding that you set in theme customizer > mobile style.

### Steps To Reproduce:
1. Change row and section height to 0px in theme customizer > mobile styles
2. Open mobile preview in VB
![screenshot_2](https://cloud.githubusercontent.com/assets/9657712/18903257/dd5fb184-8579-11e6-8bb2-e01441c4f0c8.png)

[2016-09-28 06:57] lots0logs commented on #545
@fikrirasyid

[2016-09-28 07:01] SlavaET commented on #552
@timayhelen fixed. I also found and fixed following issues in the Inline Editor and tinyMCE:
- inline editor content saves all the tinyMCE metadata;
- inline editor doesn't save correctly font names which contains more than one word ( `Amatic SC` for example ). So if you set the font, save page, reload VB, save page again, then you'll see that font is not applied on front-end;
- VB doesn't enqueue

[2016-09-28 07:02] lots0logs commented on #511
@SlavaET Possibly related: #499

[2016-09-28 07:17] SlavaET commented on #501
@kary4 please create separate ticket, since it's a different issue and not related to the Inline Editor.

[2016-09-28 07:44] kary4 commented on #501
@SlavaET Will do, thanks!

[2016-09-28 09:34] fikrirasyid commented on #494
@dm-chechik we've submitted a patch for this issue and it is currently under review process. Once it passes review process, it should be available on the next release. Thank you for reporting the issue! :D

[2016-09-28 09:54] SlavaET opened #555 "js error appears when clicking on "Insert Link" button in the Inline Editor"
### Problem:

It says:
```link.jsx:82 Uncaught ReferenceError: ReactTooltip is not defined```

### Steps To Reproduce:
1. Open page with text module containing some text in Visual Builder;
2. Click on text to activate Inline Editor;
3. Click `Insert Link` button;
4. Check console.

[2016-09-28 10:10] SlavaET commented on #504
Found the way to reduce the height to `0px` and keep it accessible.

[2016-09-28 11:11] SlavaET commented on #520
@kary4 you're seeing a different issue, it's not the issue Eduard described. Please check this - https://github.com/elegantthemes/submodule-builder/issues/355
It was fixed in the Visual Builder, but this issue still exist in Backend Builder.

[2016-09-28 12:05] eduard-ungureanu opened #556 "Slider Module :: Background Image Size:"
### Problem:

Assuming that we have a slider with 2 slide, each slide has a background image, both images set as background image have the same exact size. When the Background Image Size: is set to be Actual Fit for both slides, the second slide will have the css property for `background-size: initial` while the first slide will have the `background-size: cover` this will create a strange effect.

[2016-09-28 17:55] kary4 opened #557 "FB :: Text Editor :: Shortcode buttons are not visible"
### Problem:

There are some missing buttons (shortcode buttons ) under text module (probably for any text editor under FB).
![58500344-80d9-11e6-869b-b4f07561d614](https://cloud.githubusercontent.com/assets/3352130/18925719/b4bf16d6-85bd-11e6-8628-c64ad9c16bea.png)

[2016-09-28 18:38] kary4 opened #558 "Theme Customizer :: Does not work in Multisite"
### Problem:

Can anyone check why divi theme customizer/module customizer does not work under multisite installation here http://kunden.ksk-agentur.de
It just shows white page and nothing else.
Screen cast:
http://youtu.be/foRmFLTw2dU?hd=1

Unfortunately I cannot reproduce the issue locally. It works good on my local server.
Ask me for support token if needed.

[2016-09-28 20:42] timayhelen commented on #497
I think we should just not worry about the open state for page settings right now. There is one thing that should be fixed in this PR though.

- [ ] When you click the icon to "expand" modal settings, this state should be saved as well. Currently it just captures the expanded height/width/position, but the "expanded" state is actually different. This is like "fullscreen" mode. When in this mode, t

[2016-09-28 20:46] lots0logs commented on #497
@timayhelen Just a reminder :sweat_smile:   https://www.elegantthemes.com/forum/viewtopic.php?f=22&t=592011

[2016-09-28 20:53] lots0logs commented on #558
@kary4 Please see my message on Slack :smiley:

[2016-09-28 20:53] #558 closed

[2016-09-29 00:21] Jronk commented on #501
This change is introducing a potentially broken looking UI into our elegant and pristine inline editor. I think if we want to do this right, we need to fully take over the UI its trying to present when editing a table, like we've done with everything else so far.
![inline-editor-inline-table-editing](https://cloud.githubusercontent.com/assets/1163441/18936842/c029953c-859f-11e6-8e7f-cdd7876f573b.g

[2016-09-29 00:22] Jronk commented on #501
@timayhelen what do you think?

[2016-09-29 00:39] #496 closed

[2016-09-29 00:39] #525 closed

[2016-09-29 00:39] #552 closed

[2016-09-29 00:39] #553 closed

[2016-09-29 00:39] #504 closed

[2016-09-29 00:39] #551 closed

[2016-09-29 00:39] #555 closed

[2016-09-29 00:41] #549 closed

[2016-09-29 00:42] lots0logs commented on #501
@Jronk Good catch! ![homer-simpson-doh](https://cloud.githubusercontent.com/assets/4675662/18937198/af6aba32-85b3-11e6-91cb-924d99869765.gif)

[2016-09-29 01:05] timayhelen commented on #501
Yeah, let's just hide it for now. We can look into adding into our editor later.

[2016-09-29 04:32] SlavaET commented on #501
Done. I made this controls hidden, but it's still possible to edit the content of table and drag the width/height of columns using inline editor.

[2016-09-29 05:22] SlavaET commented on #545
Just a note. We need to make sure this fix doesn't break compatibility with Yoast SEO plugin.

[2016-09-29 05:46] SlavaET commented on #520
Fixed. Actually I improved throttling of subhistory saving for the Range, color pickers and text which should be throttled. We already have the throttling there but it was working as follows:

1. Save the 1st value user input
2. Throttle for 1 sec to save the subsequent values.

So if you type the `12345` into input field, then history will be like this:

1. `initial state`
2. `1`
3. `12345`

Ther

[2016-09-29 06:18] fikrirasyid commented on #545
@SlavaET thanks for the heads up. I've checked how YOAST works on https://github.com/elegantthemes/submodule-builder/issues/1251 branch and it appears that (based on the AJAX call and its response) the plugin works as intended. FB works as expected too (ensuring that the issue which has been fixed at https://github.com/elegantthemes/Divi-Beta/issues/459 isn't reappeared)

[2016-09-29 06:34] SlavaET commented on #519
It's a common behaviour for the textareas and tinyMCE editors. Undo points are not created for every single letter, Undo points created on line breaks and some other key changes to the text. You can see exactly the same behaviour in default tinyMCE editor in the WordPress.
That said - it's not a conflict with Visual Builder's Undo/Redo mechanism, but expected behaviour for this element.
We can cre

[2016-09-29 09:01] timayhelen commented on #519
@SlavaET Let's not worry about it for now.

[2016-09-29 09:01] #519 closed

[2016-09-29 09:28] SlavaET commented on #557
Looks like we cannot simply take the custom tinyMCE plugins from WordPress and move them into our editor because of:

1. They registered only for admin pages. For example our default shortcodes registered this way:
[code]
So, they're loaded only on `post-new.php`, `page-new.php`, `post.php`, `page.php` pages.
We're using a little different hooks in Monarch and Bloom plugin, but they also loaded on

[2016-09-29 09:44] timayhelen commented on #498
@Anny85 @uportnykh

- [ ] Let's adjust the pre-loader style to looks similar to the builder's current tooltip preloaders (like we when you click "Add From Library" in add module tooltips). Basically the text content in the modal should be replace by a 100% width and 100% height white div and the pre-loader should be centered inside of it without the white circle border.

- [ ] If you close the exi

[2016-09-29 09:57] andrey-agp opened #559 "Code module :: Custom HTML"
### Problem:

### Steps To Reproduce:
1.  Add this code in code module in VB
`<div class="sub_header"><span><h2>Our Mission</h2></span></div>`

2.  Save
3. Open actual front end

Result

`<div class="sub_header"><span><br><h2>Our Mission</h2><p></p></span></div>`

[2016-09-29 10:11] SlavaET commented on #194
@voceadinumbra can you still reproduce this issue in the latest version of Divi?
I cannot reproduce it.

[2016-09-29 10:14] SlavaET commented on #449
I'm going to work on `Page Shortcuts` and `Inline Editor Shortcuts`

[2016-09-29 10:51] lots0logs commented on #559
@andrey-agp That isnt valid HTML. `<span>` elements cannot have block-level elements as children.

[2016-09-29 11:56] andrey-agp commented on #559
@lots0logs Thanks. Yes it works with this code
`<div class="sub_header"><h2><span>Our Mission</span></h2></div>`

[2016-09-29 12:17] abhi-sharm commented on #463
This is fixed for the customer after latest theme update

[2016-09-29 13:28] #559 closed

[2016-09-29 13:44] dm-chechik opened #560 "FB :: It is not clear to which unit applies the settings panel"
### Problem:

I've recorder the screencast showing the problem. It's all Blurb Modules.
http://screencast-o-matic.com/watch/cDQUIBjTX3

[2016-09-29 15:30] timayhelen commented on #557
I am going to close this for now and we can think about it again in 3.1.

[2016-09-29 15:30] #557 closed

[2016-09-29 15:31] timayhelen commented on #511
According to Yuriy it's not possible to fix this unfortunately.

[2016-09-29 15:31] #511 closed

[2016-09-29 15:33] timayhelen commented on #229
This is now part of: https://github.com/elegantthemes/Divi-Beta/issues/325

[2016-09-29 15:33] #229 closed

[2016-09-29 15:34] timayhelen commented on #560
I don't think there is much we can do about this unfortunately. The alternative is to allow the module buttons to overlap the row buttons, which I think is a worse tradeoff.

[2016-09-29 15:34] #560 closed

[2016-09-29 16:02] eduard-ungureanu opened #561 "Multi Site :: Domain Mapping"
### Problem:

Several users reported that using the Domain Mapping from WPMU dev plugin, prevent the front end builder to properly work.

### Steps To Reproduce:
1.  have a multi install wordpress
2. map each of your sub site using the above plugin
3. activate the visual builder from one sub domain
4. everything works until the sub site it get redirected to the mapping domain.

[2016-09-29 16:48] uportnykh commented on #533
I could replicate the issue with Specialty Section Rows only. It works fine with normal rows.

[2016-09-29 16:57] eduard-ungureanu commented on #533
@uportnykh I did tested again with the latest version with divi and with normal section it looks like the issue was resolved!

[2016-09-29 17:03] fikrirasyid commented on #449
Added the following shortcuts at https://github.com/elegantthemes/submodule-builder/pull/1255:

- [x] Save Page: <kbd>Super</kbd> + <kbd>S</kbd> - Save your current page
- [x] Save Page as Draft: <kbd>Super</kbd> + <kbd>Shift</kbd> + <kbd>S</kbd> - Save your current page as draft
- [x] Open Page Settings Modal: <kbd>S</kbd>
- [x] Open History Modal: <kbd>H</kbd>
- [x] Open Portablity Modal: <kbd>P

[2016-09-29 17:18] Jronk commented on #506
The problem comes down to this:
1. Start page in BB (new or existing page)
2. You open new tab, via preview or even via "Use Visual Builder" button using "open in new tab"
3. Enable FB in the new tab (if not already enabled)
4. Make changes and save
5. The content in BB is now obsolete, and if you were to hit save, you would overwrite the last saved FB from step 4.

Solution, is to have BB checkin

[2016-09-29 17:32] andyhqtran commented on #449
@SlavaET can you take care of the <kbd>Tab</kbd> and <kbd>ESC</kbd> for Tooltip Modals? I'm not familiar with how to component was built.

[2016-09-29 18:54] timayhelen commented on #449
@fikrirasyid @SlavaET @andyhqtran Just a reminder that we should be adding relevant keyboard shortcuts to the BB as well.

[2016-09-29 19:11] timayhelen commented on #545
It looks like content inside of Fullwidth Post Sliders is being handled differently that content inside of the Blog Module.

When you choose to display "the_content" in the blog module, it strips out ET shortcodes but leaves in normal HTMl like H2, P, BR, etc. In the Post Slider, however, these become encoded:

![screen shot 2016-09-29 at 12 07 38 pm](https://cloud.githubusercontent.com/assets/333

[2016-09-29 19:38] lots0logs commented on #506
That will likely cause problems on low-quality hosting plans (depending on how often the builder is used). Also, we need to keep in mind that roundtrips to the server can take much longer on shared hosts--especially when the server is under high load (4-10 seconds is not uncommon based on what I've experienced on customer sites)

[2016-09-29 20:26] timayhelen commented on #506
@lots0logs I talked with Josh about this already. We are going to tap into the normal WP heartbeat instead, so it shouldn't add much extra load and people who have configured it to be slow will still run smoothly.

[2016-09-29 20:36] lots0logs commented on #522
@uportnykh Could you let me know the status of this please? Thanks! :smile:

[2016-09-29 23:42] fikrirasyid commented on #449
@timayhelen ah, thank you for bringing that up 👍

[2016-09-29 23:54] #498 closed

[2016-09-29 23:54] #501 closed

[2016-09-29 23:54] #494 closed

[2016-09-29 23:54] #520 closed

[2016-09-29 23:54] #556 closed

[2016-09-29 23:54] #533 closed

[2016-09-29 23:58] Jronk commented on #449
Also we need to create a help screen/modal that shows all the possible shortcuts

![screen shot 2016-09-29 at 4 58 04 pm](https://cloud.githubusercontent.com/assets/1163441/18976327/f3fa6bc2-8665-11e6-9e77-6dda8086ab68.png)

![screen shot 2016-09-29 at 4 58 16 pm](https://cloud.githubusercontent.com/assets/1163441/18976330/f87c638a-8665-11e6-9445-d124111d91ed.png)

[2016-09-29 23:59] timayhelen commented on #449
@Jronk It's on the list:

[2016-09-30 00:00] Jronk commented on #449
Just noticed, I was about to delete my comment... :facepalm:

[2016-09-30 00:03] Jronk commented on #506
Elegant themes + WordPress = Our Heartbeats together ❤️

[2016-09-30 01:05] fikrirasyid commented on #449
I think BB will need a preview shortcut :thinking_face:

[2016-09-30 01:23] fikrirasyid commented on #449
@timayhelen I kinda wonder about <kbd>super</kbd> + <kbd>r</kbd>. Isn't it what browser behaviour does? Default behaviour of <kbd>super</kbd> + <kbd>r</kbd> in all browser, it triggers page reload/refresh which basically does what we'd like to achieve (Will reload the app and clear any unsaved changes.)

[2016-09-30 01:31] timayhelen commented on #449
@fikrirasyid Yeah Andy added that one, I am not sure if there are advantages to reloading the app and not reloading the page. Let's skip it for now.

[2016-09-30 01:45] timayhelen commented on #120
@Anny85 Can you get this PR caught up with master? I would like to test it out again.

[2016-09-30 01:45] timayhelen commented on #371
I am going to close this for now. I think it would be better to do this at the start of 3.1 instead of in the middle of bug fixes.

[2016-09-30 01:49] fikrirasyid commented on #449
@timayhelen @andyhqtran noted. I'll skip super + r for now. There's one thing I'd like to discuss tho, I think we need to add an "alias" for <kbd>super</kbd> + <kbd>+</kbd> due to how most keyboard layout are. This is <kbd>+</kbd> button position on most macbooks (my windows keyboard's layout for <kbd>+</kbd> looks like this too)

![img_4900](https://cloud.githubusercontent.com/assets/916442/18978

[2016-09-30 03:16] timayhelen commented on #449
@fikrirasyid Sure that sounds fine. We can create aliases for all keys that have multiple uses.

[2016-09-30 03:37] fikrirasyid commented on #449
@timayhelen noted, I've added the aliases. Anyway, I think we need to rethink shortcut for quitting VB. There are two reasons:

1. <kbd>super</kbd> + <kbd>q</kbd> is shortcut for quitting browser. If something occurs and the shortcut doesn't kicks in, we'll end up quitting user's browser and I can imagine the rage right now (for user who open tons of tabs, this would be really enraging)
2. Overrid

[2016-09-30 04:26] timayhelen commented on #449
@fikrirasyid ok, sounds good.

[2016-09-30 06:54] SlavaET commented on #449
Added support of <kbd>Tab</kbd> and <kbd>ESC</kbd> for Tooltip Modals.
<kbd>ESC</kbd> - closes modal

If modal has tabs:
<kbd>Tab</kbd> - cycles through the modal tabs.

If Change Structure modal opened:
<kbd>Tab</kbd> - cycles forward through the Row Layouts.
<kbd>Shift</kbd> + <kbd>Tab</kbd> - cycles backward through the Row Layouts.

[2016-09-30 07:22] voceadinumbra commented on #194
Hi,
I have just tested this again and now it seems ok; I can't replicate the problem

[2016-09-30 07:53] #194 closed

[2016-09-30 07:55] uportnykh commented on #522
@lots0logs I've fixed the issue with Formidable Forms. It should fix the issue with other plugins that use an ajax request to preview changes.

I can't replicate the issue with Ninja Popups plugin though.

[2016-09-30 10:28] SlavaET commented on #449
Added following shortcuts:
- Toggle Modal Expand: <kbd>Super</kbd> + <kbd>Enter</kbd>
- Toggle Modal Snap: <kbd>Shift</kbd> + <kbd>Tab</kbd>

It's not possible to use the <kbd>Super</kbd> + <kbd>Tab</kbd> because this combination is used by system to cycle through opened apps on mac, <kbd>Alt</kbd> + <kbd>Tab</kbd> is a system combination on Windows, <kbd>Ctrl</kbd> + <kbd>Tab</kbd> is a browser c

[2016-09-30 10:52] Anny85 commented on #415
@eduard-ungureanu I'm not able to replicate the issue. Can you try to do it one more time?

[2016-09-30 13:51] fikrirasyid commented on #449
Added following BB shortcuts:

- Save as draft
- Publish
- open history
- open portability feature

and following FB shortcuts:

- zoom in and zoom out.
- exiting visual builder (redirecting to actual front end post).
- exiting visual builder to backend builder
- help modal & its shortcut

at https://github.com/elegantthemes/submodule-builder/pull/1259. Let me know if there are things that need to

[2016-09-30 13:59] fikrirasyid opened #562 "FB :: Page Settings Bar is Toggled Everytime `t` is pressed while editing text"
### Problem:

Page settings bar's toggle shortcut which is <kbd>t</kbd> should be disabled when any editable area is focused and being edited. Otherwise:

![unwanted toggle initiated](https://cloud.githubusercontent.com/assets/916442/18994152/a9ce1e0e-8750-11e6-9964-a9a23f9ee1e5.gif)

[2016-09-30 14:18] fikrirasyid commented on #449
Note: I tested how the shortcode performs on other keyboard layout such as Dvorak, and it appears that the same character uses the same keyCode even when its location changes. Thus, all of our shortcuts are safe 👌

[2016-09-30 15:52] timayhelen commented on #415
@Anny85 I can replicate it. Just open a toggle module in Safari on OSX. You can just go here for convenience:

https://www.elegantthemes.com/preview/Divi/toggles/

[2016-09-30 15:54] Anny85 commented on #415
@timayhelen I don't see any issues in Sierra, but there are some lines when a toggle is animated in older version of Safari, when I check on BrowserStack.

[2016-09-30 15:56] Jronk commented on #497
Actually it does already capture expanded/fullscreen mode:

![app-pref-persist-does-capture-fullscreen](https://cloud.githubusercontent.com/assets/1163441/18997978/94dd3d96-86eb-11e6-92c4-71e7435b7a11.gif)

[2016-09-30 16:11] dm-chechik opened #563 "Theme effects do not work in Visual Builder"
### Problem:

If you open a page inside FB the theme effects like fixed header shrinking or parallax do not work.
The parallax effect is working while you creating new section however after saving and reloading the page parallax effect dissapears.

[2016-09-30 18:01] uportnykh commented on #545
@timayhelen I've fixed it

[2016-09-30 18:33] timayhelen commented on #497
@Jronk It doesn't seem to work that way for me for some reason. It saves the position and height of the modal, but it doesn't save the "expanded" state. So when I refresh, it's in normal mode but has been increased in height/width. You will see that the icon is not changed and the re-size anchor is active:

![expand](https://cloud.githubusercontent.com/assets/3333028/19002620/a4441f8c-8701-11e6-8f

[2016-09-30 18:34] timayhelen commented on #497
@Jronk I see, it only works if you close the modal before saving. Can we change that?

[2016-09-30 18:48] timayhelen commented on #449
@SlavaET I get the follow error in the branch from modal snap / expand when attempting to close a modal. When I open a modal and then click the green check mark, the following error occurs:

![screen shot 2016-09-30 at 11 47 27 am](https://cloud.githubusercontent.com/assets/3333028/19003021/c36d1114-8703-11e6-8d12-54fa2f1c0309.png)

[2016-09-30 18:49] timayhelen commented on #449
@fikrirasyid I think we need to add an alias for (?). It only works for me when I do Shift + / (which is how the ? character is usually created). So I guess we need to use "/" to trigger this as well.

[2016-09-30 19:03] timayhelen opened #564 "JS Error When Closing Fullwidth Module Modal"
If you open up a fullwidth module, and then try to close the modal by clicking the green checkmark, the follow error occurs:

![screen shot 2016-09-30 at 12 03 44 pm](https://cloud.githubusercontent.com/assets/3333028/19003508/f276a130-8705-11e6-87cb-d27d9734e34a.png)

[2016-09-30 19:23] #320 closed

[2016-09-30 19:26] Jronk commented on #484
Fixed. There is a jQuery UI bug where the original child get dropped out of the DOM if you drag the item out of bounds, like in your above video. I was able to replicate it consistently (works about 1 in 10-15 tries). With this fix I am no longer able to replicate the bug/js error.

[2016-09-30 20:43] Anny85 commented on #120
@timayhelen Sorry, I forgot to mention. I have fixed merge conflicts.

[2016-09-30 21:14] Jronk commented on #497
@timayhelen thanks for the clarification, I fixed it, now it will save properly

[2016-09-30 22:16] fikrirasyid commented on #449
@timayhelen I've added <kbd>/</kbd> shortcut as alias for toggling help: https://github.com/elegantthemes/submodule-builder/commit/1520ae9a6e0b34717466bb8b0d7308553299546f

[2016-09-30 22:26] fikrirasyid commented on #449
Anyway, I think the following will make a very useful shortcut:

- Shortcut for switching text color (dark or light). Suggestion: hovered + <kbd>c</kbd> + (<kbd>1</kbd> / <kbd>2</kbd>) (p for
- Shortcut for switching text alignment (left, center, right, justified). Suggestion: hovered <kbd>+</kbd> + (<kbd>1</kbd> / <kbd>2</kbd> / <kbd>3</kbd> / <kbd>4</kbd> )

When I make a layout, I found these t

[2016-09-30 22:31] fikrirasyid commented on #349
👍  👍  👍  for this. I experienced this myself yesterday. I edited a long layout for quite sometime, and the builder suddenly no longer working and I have to refresh the builder and loosing several changes I made the last. It turns out that something is failing and throwing bunch of js errors and after that everything stops working (I can't trace it too since it's been way too much changes when I no

[2016-09-30 22:32] fikrirasyid commented on #349
This reminds me on how enraged I am at the collage when I work on paper and suddenly Ms word stops working and I haven't saved any of it.

:rage:

[2016-09-30 22:55] fikrirasyid opened #565 "Select module using arrow on add module tooltip"
### Problem:
I think it'd be really helpful if we can select module using arrow when selecting module on add module tooltip. The most possible scenario for this being useful is:

1. click add module button
2. it is automatically focused on filter input text
3. Keyword is being typed, and list of module is updated (shrunken)
4. Instead of picking up keypad or mouse and click the remaining modules l

[2016-09-30 23:36] #522 closed

[2016-09-30 23:36] #544 closed

[2016-09-30 23:37] #484 closed

[2016-09-30 23:37] #545 closed

[2016-09-30 23:37] #506 closed

[2016-09-30 23:37] #562 closed

[2016-09-30 23:37] #564 closed

[2016-09-30 23:38] #497 closed

[2016-10-01 00:08] uportnykh commented on #561
@eduard-ungureanu We can't replicate it. Can you send me the user's token via Slack?

[2016-10-01 01:41] timayhelen commented on #449
@fikrirasyid In the Help modal, we need to replace "super" with the relevant key. "cmd" for OSX and "ctrl" for everything else.

[2016-10-01 02:00] timayhelen commented on #449
@fikrirasyid When the Help modal is opened, any other modal or tooltip that is currently open should close.

[2016-10-01 03:23] timayhelen commented on #449
@fikrirasyid We also need to make sure the Enter and Esc work for closing the ? menu.

[2016-10-01 04:03] fikrirasyid commented on #449
@timayhelen noted. I was thinking the same thing actually, few people on the Facebook Groups asked what <kbd>super</kbd> is after seeing our existing shortcuts list.

 This is actually has been added. Can you tell me which tooltip / modal that are still opened? I might miss some of them.

Noted. <kbd>esc</kbd> appears to be logical but I kinda wonder where should we put <kbd>enter</kbd>. Help moda

[2016-10-01 15:39] dm-chechik opened #566 "Fullscreen menu remains open"
### Problem:

The issue appeаrs only under Firefox. If you go to any page from Fullscreen menu and click Back browser button the previous page will be shown with opened Fullscreen menu.

[2016-10-01 16:09] dm-chechik opened #567 "FB :: Color Picker doesn't add # symbol to hex value"
### Problem:

The FB color picker doesn't automatically add the # symbol to color hex value like the old divi builder.

[2016-10-01 17:07] fikrirasyid commented on #449
@timayhelen I've pushed several updates to https://github.com/elegantthemes/submodule-builder/pull/1259:

- <kbd>Super</kbd> is now automatically converted into <kbd>cmd</kbd> in OSX and <kbd>ctrl</kbd> in other OS
- when help modal is opened pressing <kbd>esc</kbd> or <kbd>enter</kbd> will automatically closed the modal
- added shortcut alias <kbd>/</kbd> for opening help
- added copy, cut, and p

[2016-10-01 17:09] timayhelen commented on #449
Just realized we need to implement Ctrl + Y for redo as well, which is standard on Windows.

[2016-10-01 17:38] dm-chechik opened #568 "Component custom css fields do not accept svg code"
### Problem:

The custom css fields do not accept css with svg values. For example this one

`background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1080 100" enable-background="new 0 0 1080 100" preserveAspectRatio="none"><polygon class="ps-head-triangle" points="0,0 1080,100 0,100" style="fill:rgba(0,0,0,1)"></polygon></svg>');`

The FB s

[2016-10-03 06:52] eduard-ungureanu opened #569 "Visual Builder strips "\" from any text"
### Problem:

If for example you need to enter a widows file path something like: `C:\LB\Column_Form.xlsx` the visual buildler will strip the \ character leaving the path to be `C:LBColumn_Form.xlsx`, even if the path is wrap in `<code></code>`.

https://drive.google.com/file/d/0B8PjD3Z_XQvuZXl6RDBpb3ZxbHc/view?usp=sharing

[2016-10-03 08:29] andrey-agp opened #570 "Font :: Lato Light doesn't load"
### Problem:

![screenshot_4](https://cloud.githubusercontent.com/assets/9657712/19031380/b9ce59fa-8975-11e6-9bca-7a73782900ca.png)

### Steps To Reproduce:
1.  Add Text module with text
2.  Select Lato light and check console
3.
4.

[2016-10-03 09:15] timayhelen commented on #570
This has been fixed already.

[2016-10-03 09:15] #570 closed

[2016-10-03 10:51] lots0logs commented on #563
@Anny85 Please see [my review](https://github.com/elegantthemes/Divi/pull/2572#pullrequestreview-2500782) on the PR. Thanks!

[2016-10-03 11:43] FaycalBoutam opened #571 "Display issues of the visual builder on Safari 8"
### Problem:

![bs_macyos_safari_8 0](https://cloud.githubusercontent.com/assets/16414613/19036269/b7ad49e2-8966-11e6-8a8d-51bdafb27ded.jpg)

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**:
MAC
**Operating System**:
OS x Yosemite
**Browser**:
Safari 8
**Screen Resolution**:
1600 x 721

[2016-10-03 11:57] Anny85 commented on #566
@dm-chechik I couldn't replicate it in Firefox 48 on Mac and Windows. Can you check it on the demo site? https://www.elegantthemes.com/preview/Divi/fullwidth-menu/

[2016-10-03 12:35] dm-chechik commented on #566
@Anny85 You should check Fullscreen menu not Fullwidth :)

[2016-10-03 17:36] timayhelen commented on #569
@Anny85 This works for textarea content areas, like Text modules, but it doesn't work for normal inputs, such as Slider Titles.

[2016-10-03 17:50] timayhelen commented on #120
@Anny85 This doesn't seem to work for me. Can you test it again?

[2016-10-03 19:06] timayhelen commented on #563
- [ ] When Vertical Navigation and Centered Inline Logo are enabled, the navigation jumps as you scroll down:

![vertical-nav](https://cloud.githubusercontent.com/assets/3333028/19049942/55c0df32-8961-11e6-8b18-906c26a59138.gif)

- [ ] Hide Navigation Before Scroll does not work in the VB.

[2016-10-03 23:35] #415 closed

[2016-10-03 23:35] #563 closed

[2016-10-03 23:35] #566 closed

[2016-10-04 00:02] #53 closed

[2016-10-04 00:03] #310 closed

[2016-10-04 00:06] timayhelen commented on #325
@Jronk I still get the following error when running grunt build:

![screen shot 2016-10-03 at 5 06 04 pm](https://cloud.githubusercontent.com/assets/3333028/19058388/b8a3af88-898b-11e6-80d6-fbaf2ee25661.png)

We need to generate the file as part of the grunt build task.

[2016-10-04 00:09] fikrirasyid commented on #449
@timayhelen I've added <kbd>ctrl</kbd> + <kbd>y</kbd> shortcut for redo at https://github.com/elegantthemes/submodule-builder/commit/1ba781b24acf47aa9745c17ac28a92d7339caae6

[2016-10-04 00:18] lots0logs commented on #298
Just tested this on the current `master` and the code module becomes completely inaccessible if its contents doesnt have explicit height. You cant even tell that the module is there at all really. You can use the following HTML to reproduce the issue:
[code]

[2016-10-04 03:46] timayhelen commented on #449
I had a new idea for a keyboard shortcut, but it might be complicated. However, I know that we already did the work to separate module settings when we created the role editor. SO maybe there is a way to use this separation to decide which is "content" and what is "design."

- [ ] Copy Module Design Settings: <kbd>Alt</kbd> + <kbd>Super</kbd> + <kbd>C</kbd> - Copy's the current module settings, ex

[2016-10-04 03:51] fikrirasyid commented on #449
@timayhelen I think it will be really helpful. I published an about me page using VB and this is what I repetitively does with several item that has similar styling (see: https://fikrirasyid.com/about/). However, if we added it as shortcut, I think it'd be a good idea to add it on right click options as well.

It is similar to `Paste Style` option in various desktop app (which is really useful)

[2016-10-04 04:58] SlavaET commented on #449
@timayhelen We already have a mechanism to split the content and design settings in Visual Builder. There is no such mechanism in the BB though and options separation relies on UI, i.e. we can only get design settings when module settings modal is opened.
So adding feature to copy styles will be relatively easy in VB, but for BB it will require some more work to implement this mechanism.
I'll take

[2016-10-04 08:57] Anny85 commented on #569
@timayhelen WordPress doesn't seem to allow us to use `\` in shortcode attributes values. So I'm afraid there's nothing we can do to fix it.

[2016-10-04 09:10] timayhelen commented on #449
@SlavaET Ok, I think it's most useful in the VB anyway.

[2016-10-04 09:13] fikrirasyid commented on #449
@SlavaET I'm not really sure how you'll implement the copy and paste mechanism, but I'm currently working on polishing copy / cut / paste at `449-add-power-user-features-2` (still working on pasting on empty column / row which apparently can't 100% reuse what's added on right click options). You might be able to reuse some mechanism on that branch.

[2016-10-04 09:21] timayhelen commented on #449
Also "Paste Style" on right click should only appear if you have copied a style from the same module.

[2016-10-04 11:52] FaycalBoutam opened #572 "Custom padding on desktop overrides tablet & mobile values"
### Problem:

https://www.youtube.com/watch?v=MPLmoBswDu0

[2016-10-04 12:11] eduard-ungureanu commented on #569
@Anny85 : the strange part is that if it is used when I create the page, and publish the page the `\` character shows, the problem is that if I do other changes to the page and update the page, the `\` is stripped out!

[2016-10-04 15:03] Anny85 commented on #569
@eduard-ungureanu I've fixed the issue with `\` character, used in shortcode content, so it fixes the issue that can be seen in the video you mentioned above. But it turns out that we can't fix it, if `\` is used in shortcode attribute ( Slider Titles etc. )

[2016-10-04 15:16] uportnykh commented on #368
@jdjmedia Can you email me a copy of the plugin at uportnykh@gmail.com?

[2016-10-04 15:30] eduard-ungureanu opened #573 "Text Module :: Line Height"
### Problem:

Using Visual Builder, add a text module, and set the line-height to be any value express in px. Then moving from the Visual Builder to Divi Builder, check the line-height of that particular text module, it will set to be 3px.

### Steps To Reproduce:
1.  add a text module
2. set it's line height to be something like 30px for desktop and 20px for mobile
3. leave the visual builder and

[2016-10-04 16:26] timayhelen opened #574 "Blog Module Excerpt Not Working"
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=600937

[2016-10-04 17:00] fikrirasyid commented on #449
@timayhelen I've fixed the copy and paste to empty column / section issue. The fix and the thorough explanation can be seen at:

- https://github.com/elegantthemes/submodule-builder/pull/1259/commits/84e766af863119c7ee63023ff438eb245a2d9f6a
- https://github.com/elegantthemes/submodule-builder/pull/1259/commits/063e8bc7bc1fd94c978adaa8f32388beefea6761

While working on this issue I noticed that in

[2016-10-04 18:06] eduard-ungureanu commented on #569
@Anny85 cool, that's great news!
Regarding using `\` in Slider Title, I don't really see who would use that. The client from where I get this, was using `\` to mark a file path like: `C:\desktop\file_name.png`

[2016-10-04 18:07] uportnykh commented on #574
I couldn't replicate the issue.

[2016-10-04 18:34] Jronk opened #575 "Content refreshing on heartbeat when it shouldn't be"
### Problem:

https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=600939

There are 2 problems:

A. The heartbeat external modification checker should only be for builder, and should not be working during non builder.
B. The heartbeat was detecting a external modification on a new post/page, (which was actually just the first auto-save) and then trying to update the content to: ''.
### Steps

[2016-10-04 18:45] #574 closed

[2016-10-04 19:30] #567 closed

[2016-10-04 19:30] #569 closed

[2016-10-04 19:32] Jronk commented on #575
reopening to keep working on the https://github.com/elegantthemes/submodule-builder/issues/1267 solution

[2016-10-04 19:45] andreisnoopy commented on #513
@fikrirasyid  Sorry for the delay ! I think I've missed the notification from this topic. The client never replied on that ticket, I will send him a PM and ask if the issue is still there.

[2016-10-04 23:41] fikrirasyid opened #576 "FB :: Unwanted Modal's Tab Switching Shortcut Behaviour"
### Problem:

Pressing <kbd>Tab</kbd> to switch between modal's tabs causes inability to move between padding / margin's inputs:

![tabs shortcut issue](https://cloud.githubusercontent.com/assets/916442/19096422/7468d5a0-8ac6-11e6-9d8c-d0e094d872ad.jpg)

I personally feel disoriented when I'm at one of the padding inputs and pressing tabs moves me to other tabs instead of moving the cursor to the

[2016-10-05 00:58] timayhelen commented on #576
@fikrirasyid Can we make it so that tab goes to the next input whenever you are currently clicked into an input? If you aren't currently typing inside of an input, then tab will bring you to the next tab.

[2016-10-05 01:17] lots0logs commented on #57
Now tracking this in #58

[2016-10-05 01:17] #57 closed

[2016-10-05 01:43] #576 closed

[2016-10-05 01:57] timayhelen opened #577 "Pressing Esc while focused on an input causes JS error"
Open up a module settings modal, clicking into an input field and then press Esc. A JS error occurs that will cause other things to fail in the builder.

[2016-10-05 04:08] fikrirasyid commented on #449
@timayhelen https://github.com/elegantthemes/submodule-builder/pull/1259 is ready to be merged. What it does are:

Added following BB shortcuts:

- Save as draft
- Publish
- open history
- open portability feature

Added following FB shortcuts:

- zoom in and zoom out. Note: once it reaches the top or bottom zoom mode, it stops there instead of starting over from the beginning / end preview mode
-

[2016-10-05 04:52] fikrirasyid opened #578 "Added BB (save, publish, history, portability) & FB (zoom, exit, help, cut, copy, & paste module) Shortcuts"
Faux ticket to keep track of PRs which fixes https://github.com/elegantthemes/Divi-Beta/issues/449.

See https://github.com/elegantthemes/submodule-builder/pull/1259 for the details.

[2016-10-05 04:56] SlavaET commented on #449
Added <kbd>Alt</kbd> + Drag shortcut. It actually <kbd>Alt</kbd> + Drop, since it's the way sortable script works - you need to move something to the new place and then perform the action when drag is finished. so you can start dragging module and then press Alt while you drop module and it'll be copied and will appear in original location + new location.
Added this shortcut to both BB and VB
http

[2016-10-05 05:00] SlavaET opened #579 "Debug code leftover in `performPageExport` function"
### Problem:

Unneeded debug code exists in the `performPageExport()` located in `et-builder-store.js` file

[2016-10-05 05:39] Jronk commented on #325
Active submodule-builder PR for this is now: https://github.com/elegantthemes/submodule-builder/issues/1274

[2016-10-05 05:41] Jronk commented on #325
@timayhelen running grunt build should work with latest, the build task in grunt will run the production build of the fb, generating the needed file. Running regular `grunt` will also run the production build on fb.

[2016-10-05 06:41] SlavaET commented on #449
Added Copy/Paste module styles feature in this PR - https://github.com/elegantthemes/submodule-builder/pull/1275
It works from the Right Click menu only, I will add the respective shortcuts when the following PR will be merged into master - https://github.com/elegantthemes/submodule-builder/pull/1259
because I need the mechanism to get the hovered module which Fikri added in his PR.

[2016-10-05 06:51] SlavaET opened #580 "js error in color picker if Color Palette is being used first time"
### Problem:

js error printed into console If you adjust the color option ( which was not edited before ) using the Color Palette.

![color-picker-error](https://cloud.githubusercontent.com/assets/3446682/19103708/5056d962-8afa-11e6-86ae-402182aa0d51.gif)

### Steps To Reproduce:
1. Open module design settings
2. Adjust any color option which wasn't adjusted before by clicking on one of the items

[2016-10-05 10:12] #579 closed

[2016-10-05 10:27] kary4 opened #581 "Update does not work"
### Problem:

Can anyone take a look the following websites. It's not possible to update divi here:

http://tabernanorteysur.es

www.bonoturisticocordoba.com

There is no any updates notification. Right now it's divi 3.0.5. installed. Ask me for a token if you need.
### Additional Information:

**Divi theme folder is not renamed**:

**Style.css file looks good**:

**Latest wordpress version**:

I

[2016-10-05 10:35] rijendra opened #582 "Divi : Theme options : Grab the first post image not working"
### Problem:

Grab the first post image options in the theme options is not working, tested on a post and archive pages, if the post doesn't have featured image then this option should show instead of featured image the first image but its not showing neither in single post or in archive.
### Steps To Reproduce:
1.  Enable Grab the first post image in theme options
2. Create a post with no feature

[2016-10-05 10:44] #580 closed

[2016-10-05 12:32] uportnykh opened #583 "Button background styles in the customizer are now overriding module buttons styles"

[2016-10-05 16:04] timayhelen commented on #449
@fikrirasyid Ah yeah I guess we should do 1-11. I was only thinking about the first 4 for some reason.

[2016-10-05 16:13] fikrirasyid commented on #449
@timayhelen alright, noted. Btw, If we're going to do 1 -11, the issue is there's no 1 - 11 on the keyboard:

![img_8896](https://cloud.githubusercontent.com/assets/916442/19121458/ca2a46b0-8b50-11e6-9376-f99bed348f38.JPG)

So, the closest thing we have is <kbd>1</kbd> ~ <kbd>0</kbd> and <kbd>-</kbd> button. What do you think?

[2016-10-05 16:25] Anny85 commented on #573
@eduard-ungureanu Can you still replicate the issue?

[2016-10-05 16:41] lots0logs commented on #554
@SlavaET It looks like these changes cause custom values input directly into modules to not be applied in the VB (the theme customizer styles are overriding the individual module styles).

[2016-10-05 16:42] SlavaET commented on #554
@lots0logs can you please explain which exactly styles? I tested it with some and it worked fine.

[2016-10-05 16:43] timayhelen commented on #573
@Anny85 I am able to replicate it using the steps he mentioned.

1. Open VB
2. Add a text module
3. Set line height to 30px
4. Save
5. Check value in BB

[2016-10-05 16:49] timayhelen commented on #573
It's actually this old issue that Slava has proposed a fix for. I am not sure if the fix is still relevant though since we never got around to reviewing it: https://github.com/elegantthemes/submodule-builder/issues/355

[2016-10-05 16:50] Anny85 commented on #573
I see. I'll check it out.

[2016-10-05 16:52] timayhelen commented on #449
@fikrirasyid yeah that makes sense.

[2016-10-05 16:57] lots0logs commented on #298
@SlavaET Can we fix it so that they aren't overlapping?

![2016-10- 5_11-55-45-am](https://cloud.githubusercontent.com/assets/4675662/19123065/d7e85aa2-8af2-11e6-8625-2df008854beb.png)

[2016-10-05 17:26] lots0logs commented on #583
@uportnykh The background color for module buttons doesn't show in the VB. The other button styles work properly. All of them seem to work properly on the frontend website (including the background color).

![2016-10- 5_12-20-50-pm](https://cloud.githubusercontent.com/assets/4675662/19124012/ee049d4c-8af6-11e6-9740-6b17784d0477.png)

[2016-10-05 17:48] lots0logs commented on #554
@SlavaET It was the padding (top and bottom) of Rows. Sorry, I didnt mention that before. I didnt think it would be only affecting that style, so I figured it would be easy to notice :sweat_smile:

[2016-10-05 18:13] eduard-ungureanu commented on #573
@Anny85 : yes I still can replicate it in the last version of Divi!

[2016-10-05 18:44] Jronk opened #584 "BB :: Global module saving when it shouldn't"
### Problem:

I noticed that there is a logic problem with saving global module, its thinking a module is global when it isn't firing a pointless ajax save call that gets ignored/bailed on the server.

### Steps To Reproduce:
1.  Create some layout
2. add a normal text module
3. clone the text module
4. notice the ajax call, and more importantly missing the post_id POST arg

### Code steps that ar

[2016-10-05 19:16] abhi-sharm commented on #581
I have seen couple of tickets like this especially after Divi 3.0 , this is one more ticket where customer used to get the notifications in past but they are not getting notification after they updated to a newer version manually.  I have the token if needed  https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=596421&start=10

[2016-10-05 19:28] lots0logs commented on #581
@abhi-sharm That customer is running PHP 5.3. Ask them to request the latest PHP from their hosting provider. It will resolve the issue for now.

[2016-10-05 19:37] #583 closed

[2016-10-05 19:39] uportnykh commented on #581
@abhi-sharm You can send me the token and FTP login details, I'll take a closer look. Please, ask him to email you FTP login details, instead of using PMs.

[2016-10-05 19:44] Jronk commented on #575
https://github.com/elegantthemes/submodule-builder/pull/1267 is now ready

[2016-10-05 19:47] abhi-sharm commented on #581
@lots0logs : Asked the customer to update PHP , thanks for pointing out , i should have checked that part already.

@uportnykh : I have asked them if the issue persists even after updating PHP, they can send the ftp details to my email id , i will forward to you as soon as i receive, For now sending the token on slack

[2016-10-05 19:56] andyhqtran opened #585 "Back Button for Slide Module contains a transparent background"
### Problem:
Back Button for Slide Module contains a transparent background

### Steps To Reproduce:
1.  Open Slide Module Settings
2. Open 2nd Modal Panel
3. Click and Hold Button

### Additional Information:

*Please include any of the following details that are relevant to the issue you are reporting.*

**Device**:

**Operating System**:

**Browser**:

**Screen Resolution**:

**Screenshot or Sc

[2016-10-05 20:05] abhi-sharm commented on #581
@lots0logs , @uportnykh  - It worked for them after updating PHP. Thanks

[2016-10-05 20:31] kary4 opened #586 "Blog module :: Caption Shortcode Does Not Work Correctly"
### Problem:

Wordpress Caption shortcode does not work correctly in the latest divi version, but it works good in older one. Please check the screen cast below:
http://youtu.be/w3q-0OYAvlI?hd=1

### Steps To Reproduce:
1.  Add the following shortcode (replace IMG URL) to a post page using text module:
[code]
2. Then open a page and add a blog module that includes the post where you added the chan

[2016-10-05 21:59] lots0logs commented on #578
@fikrirasyid

When using the history shortcut in the BB...

![2016-10-05 16-58](https://cloud.githubusercontent.com/assets/4675662/19133274/0e9c3c1a-8b1d-11e6-80c9-81c07fe7165e.gif)

[2016-10-05 22:03] dm-chechik opened #587 "Fullwidth Slider :: Background shifts when True Parallax is enabled"
### Problem:

The problem appears in the second, third, etc. slide. It's difficult to explain however I've recorded the screencast.
http://screencast-o-matic.com/watch/cD6h3njvId

[2016-10-05 22:10] lots0logs commented on #578
Is the save as draft shortcut <kbd>Super</kbd>+<kbd>Shift</kbd>+<kbd>S</kbd>? On Chrome nothing happens when I try it. In Firefox the Page Settings Modal opens.

[2016-10-05 22:46] timayhelen commented on #578
@lots0logs Might be a weird linux thing. Never seen that before.

[2016-10-05 22:51] lots0logs commented on #578
After further testing I discovered that chrome and firefox are identifying my super key differently and it makes the shortcut not work. Its weird.. check out the keydown events for my super key:

### Chrome
![2016-10- 5_05-44-22-pm](https://cloud.githubusercontent.com/assets/4675662/19134473/d7c50396-8b23-11e6-9206-52a1e3c04ea5.png)

### Firefox
![2016-10- 5_05-46-42-pm](https://cloud.githubuserco

[2016-10-05 22:52] lots0logs commented on #578
Also should mention I use my super key for keyboard shortcuts in zendesk and intercom everyday. Never any issues :confused:

[2016-10-05 23:30] lots0logs commented on #578
This appears to be true today as its the behavior I am seeing with Firefox:

https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/metaKey

[2016-10-05 23:33] #578 closed

[2016-10-05 23:34] #577 closed

[2016-10-05 23:35] timayhelen commented on #325
@Jronk It still doesn't work for me. I am using the following branches:

divi-builder: 533-front-end-builder
submodule-builder: 325-add-builder-plugin-support

When I run "grunt builder" in the main divi-builder directory, I get the following error:

[code]

[2016-10-05 23:35] #585 closed

[2016-10-05 23:40] timayhelen commented on #325
nm my branch had no upstream branch and wasn't pulling. I am testing again now.

[2016-10-06 00:24] fikrirasyid commented on #578
@lots0logs ah, OSes and their differences in handling modifier key :facepalm: what distro do you use? If they handle modifier key differently, we might need to ditch the event's modifier event and use the one I just recently added for detecting multiple keys combo.

Since this issue has been closed, can you open new issue and assign it to me?

[2016-10-06 00:25] fikrirasyid commented on #578
meanwhile I'll figure out a way to spin up actual linux and windows (got one actual windows machine for gaming but my son punch it and it keeps looping in the booting process :facepalm:) machines for testing.

[2016-10-06 01:54] lots0logs commented on #575
@Jronk Works great in my testing. Though I think that once customers see the feature in action they will naturally expect that it works both ways (If BB saves the page then the FB would update). Not sure if this was already discussed so just thought I would mention it :grimacing:

[2016-10-06 02:07] lots0logs opened #588 "When BB Loads, A Bunch Of PHP Notices Get Output To Debug Log"
### Problem:
Here's a piece of it..its a lot more messages but they are all the same. This happens on current `master`.

[code]

### Steps To Reproduce:
1.  Load BB While WP_DEBUG is enabled
2.  Check Debug Log

[2016-10-06 02:09] lots0logs commented on #587
@dm-chechik What is the URL to that page?

[2016-10-06 02:15] lots0logs commented on #550
@SlavaET I checked it with 3.0.12 and it has improved but let's see if we can improve it further.

![2016-10- 5_09-13-39-pm](https://cloud.githubusercontent.com/assets/4675662/19138346/d7005c2c-8b40-11e6-8c73-820a1c637f4b.png)

[2016-10-06 04:08] SlavaET opened #589 "Add Copy/Paste Styles feature"

[2016-10-06 04:15] SlavaET commented on #589
- Added Copy/Paste style into Right click menu
- Added Copy/Paste style shortcuts:

<kbd>Alt</kbd> + <kbd>Super</kbd> + <kbd>C</kbd> - Copy styles

<kbd>Alt</kbd> + <kbd>Super</kbd> + <kbd>V</kbd> - Paste styles

[2016-10-06 05:15] SlavaET commented on #298
@lots0logs It'll happen with any module which has `height = 0` so it's not related to the Code module nor to the issue I fixed. It's more related to this - https://github.com/elegantthemes/Divi-Beta/issues/550
Just include this issue into the description so it won't get lost when I'll work on it.

[2016-10-06 06:29] SlavaET commented on #554
Fixed.
@lots0logs I added new PR for the submodule-builder - https://github.com/elegantthemes/submodule-builder/issues/1283
So make sure `Divi` and `submodule-builder` are both on correct branches during your test.

[2016-10-06 07:02] SlavaET opened #590 "Save Changes prompt alignment issues"
### Problem:

![image](https://cloud.githubusercontent.com/assets/3446682/19143314/e9247a1c-8bc4-11e6-8daf-f397a4b74a12.png)

### Steps To Reproduce:
1. Open page in VB;
2. Make any change;
3. Click `Exit Visual Builder` button in Admin Bar;
4. Check the header of opened modal.

[2016-10-06 07:06] SlavaET commented on #584
It was working that way from the beginning when we introduced the global modules and this logic wasn't updated in 3.0. So probably we should move this issue from `Divi-Beta` to `Divi`.

We can fix it with High Priority right now of course, just wanted to mention that it's not the 3.0 bug.

[2016-10-06 08:44] timayhelen commented on #590
@SlavaET do you have core running on the latest master? The modal doesn't look right.

[2016-10-06 08:44] #590 closed

[2016-10-06 09:09] timayhelen commented on #449
@SlavaET Can we make it so that Esc also exits from editing inline text areas that don't launch the Inline Editor, such as Blurb Titles?

[2016-10-06 09:11] timayhelen opened #591 "Module Item Modal Glitch"
When editing a module item, if your cursor exist the modal area then you are placed back on the parent modal screen. This is quit annoying and it also makes it impossible to add background images since launching the media modal exits your mouse from the settings modal.

![modal](https://cloud.githubusercontent.com/assets/3333028/19146844/396b5e10-8b6a-11e6-8d66-39b5814fa4a0.gif)

[2016-10-06 11:51] SlavaET commented on #449
Yes, <kbd>Enter</kbd> already does it, so it will be simple to add Esc.

[2016-10-06 12:01] dm-chechik commented on #587
@lots0logs Dustin, you can check the issue on the customer site http://www.realfeel.com.au/

[2016-10-06 15:47] timayhelen opened #592 "Possible Issue With Jetpack When User Connected To WP.com Account"
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=595472

[2016-10-06 15:52] #588 closed

[2016-10-06 15:52] #591 closed

[2016-10-06 15:59] timayhelen opened #593 "Copy & Pasting Too Quickly"
@fikrirasyid If you copy and pasting a module using keyboard shortcuts twice very quickly into an empty column, it will break the layout.

Copy a module and then mouse over an empty column. Press Ctrl + V + V + V + V quickly and watch the column structure become corrupted.

[2016-10-06 16:29] SlavaET commented on #590
Ah, totally forgot to update the core.

[2016-10-06 16:57] SlavaET commented on #449
@timayhelen added Esc shortcut for the editable textblocks - https://github.com/elegantthemes/submodule-builder/issues/1286

[2016-10-06 18:27] lots0logs opened #594 "Advanced Design Settings Tab Should Display The Styles For Desktop/Tablet/Mobile Based On The Current Active View"
### Problem:
If you are viewing the page in tablet or mobile view and open a module's advanced design settings tab you see the desktop values for the options. If you change a value intending it to be for mobile view but you forget to click on the mobile icon first then it pulls you out of mobile view and into the desktop view. Its jarring to say the least. We should display the mobile or tablet va

[2016-10-06 18:56] lots0logs opened #595 "Child Module Settings :: The Visible Tab's Content Shifts The First Time The Mouse Cursor Leaves The Modal"
### Problem:
This only happens the first time the modal is opened AFAICT. Its especially annoying if you have the mobile or tablet styles open for any styles because it resets back to showing the desktop styles when the issues occurs.

![2016-10-06 13-53](https://cloud.githubusercontent.com/assets/4675662/19166264/7da12a9e-8bcc-11e6-915f-6ca765c778a9.gif)

### Steps To Reproduce:
1.  Open Child Mo

[2016-10-06 18:58] lots0logs commented on #554
@SlavaET I found some more issues that we should take care of in this PR. I will post the details with annotated screenshots in about an hour....

[2016-10-06 20:35] lots0logs commented on #554
I set all the values in ***Theme Customizer>>Mobile Styles*** to obscenely large values and then I checked the Homepage Extended Layout in the VB. Here's what I found:

The slider's and CTA's don't use the correct values when the builder loads. If you change the value in the module settings it works fine. Then if you reset the value back to default in the settings it takes the correct default valu

[2016-10-06 22:46] timayhelen opened #596 "Undo Doesn't Update Global Modules"
Let's say you have a Global Section on the page with 4 blurb modules. If you delete any of the blurbs, it automatically updates the global module in the database even if you don't save the page. If you delete something by mistake, and then Undo the change, the item gets put back put the global item is not updated in the database. So if you accidentally delete something in a global module there is

[2016-10-06 23:54] timayhelen opened #597 "Font Color not working in IE"
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=601754&p=3315958&hilit=visual+builder#p3315958

We should check the Inline Editor and Module options.

[2016-10-07 00:05] timayhelen opened #598 "Custom CSS For Social Media Follower Overwritten By Style.css"
Social media follow has ul appended to it in style.css

ul.et_pb_social_media_follow

Therefore these styles overwrite styles added via custom css and design settings:

[code]

[2016-10-07 00:05] Jronk commented on #568
See PR review

[2016-10-07 00:42] timayhelen commented on #575
@Jronk Is that something we can add?

[2016-10-07 01:17] fikrirasyid opened #599 "Disable & Lock Shortcut Shouldn't Be Triggered If There's Focused Input / Textarea / EditableContent"
### Problem:
Otherwise, this happened:

![focus issue](https://cloud.githubusercontent.com/assets/916442/19176024/3742e228-8c66-11e6-8807-fcc10ca7076a.gif)

### Steps To Reproduce:
1.  Focus on first column module's inline tinyMCE area
2. Hover the cursor on the second column module's area
3. Press <kbd>d</kbd> or <kbd>l</kbd>
4. Repeat step 3

[2016-10-07 02:05] #599 closed

[2016-10-07 02:29] lots0logs commented on #589
@timayhelen The two key combos for the shortcuts are pretty inconvenient to press. I think it's more natural if key combos flow from left to right. So in this case, it'd be <kbd>Super</kbd>+<kbd>Alt</kbd>+<kbd>C</kbd>  What do you think?

[2016-10-07 03:43] timayhelen commented on #589
@lots0logs It's opposite on Mac. Alt - Cmd - C is the natural direction.

[2016-10-07 03:46] lots0logs commented on #589
:facepalm: ...you win! lol :wink:

[2016-10-07 04:58] SlavaET commented on #554
@lots0logs you can see exactly the same results on Front-end, so it's not the Visual Builder specific issue.
I'll take a look at this issue anyway.

[2016-10-07 05:43] Jronk commented on #575
yes, I already paved the way for this, and since I am also working on https://github.com/elegantthemes/Divi-Beta/issues/349, I am trying to connect those dots to make it work both ways. What I am afraid of, is customers getting too cozy with this. I feel comfortable offering this feature under the basic use case that it is preventing a mistake (like modifying content and saving via FB, then saving

[2016-10-07 06:32] SlavaET commented on #554
@lots0logs fixed the issue with Slider Font size option. It works as expected now in the VB and on the Front-end.
As for the section height issue on your screenshot - that option is not applied to FW sections and this behaviour is intentional since there is a code which sets the padding of FW sections to 0 when custom section height is defined.
As for the CTA I'm not sure that understand which opt

[2016-10-07 06:50] SlavaET commented on #554
Also found and fixed one more issue - body styles defined in Customizer were applied to the VB interface and it broke the appearance of module settings modal ( probably some other areas as well ).

[2016-10-07 09:27] SlavaET opened #600 "Specialty Section settings panel is not accessible"
### Problem:
If specialty section has some top padding ( which is default ) then it's not possible to access any button from the section settings panel:

![specialty-section-panel](https://cloud.githubusercontent.com/assets/3446682/19185196/64a4478e-8ca2-11e6-84c3-796cde6a0aeb.gif)

### Steps To Reproduce:
1. Open Visual Builder;
2. Add new Specialty Section;
3. Try to access section settings.

[2016-10-07 09:34] SlavaET opened #601 "FB :: Row from Specialty Section is not visible on mobile devices"
### Problem:

The content of Row inside the Specialty sections is not visible if you activate the responsive preview or reduce the browser width starting from the tablet breakpoint:
![specialty-section-content](https://cloud.githubusercontent.com/assets/3446682/19185379/370009fc-8ca3-11e6-9223-1380c0f4bb5d.gif)

It works correctly on Front-End.

### Steps To Reproduce:
1. Open Visual Builder
2. Ad

[2016-10-07 10:50] SlavaET opened #602 "FB :: Right Click menu doesn't work correctly on Rows inside Specialty Sections"
### Problem:

Right Click menu doesn't display correct items if you click on Row inside the Specialty section or on any module inside that row:
![specialty-right-click](https://cloud.githubusercontent.com/assets/3446682/19187561/ee6890a0-8cad-11e6-9b73-0cad3cc10f22.gif)

### Steps To Reproduce:
1. Open Visual Builder on page with specialty section containing a row with some modules;
2. Right click

[2016-10-07 11:32] #600 closed

[2016-10-07 11:39] #601 closed

[2016-10-07 12:28] eduard-ungureanu opened #603 ".po files don't contains the strings from Visual Builder"
### Problem:

Need to update the .po files, to include the new strings from the Visual Builder. I simply run an Update in PO EDIT and the new strings did appear.

[2016-10-07 16:20] lots0logs commented on #554
@SlavaET It looks like the Tablet Styles (***Theme Customizer>>Mobile Styles>>Tablet***) now get applied to the mobile view as well (both in the VB and on the page itself)..

[2016-10-07 19:15] timayhelen opened #604 "LayerSlider, Revolution Slider & Essential Grid Compatibility Issue"
We have complaints about third party shortcodes not rendering properly in the Visual Builder. The ones listed in the title of this issue are the most popular. All three plugins are available in our shared folder for testing (Shared > Plugins > Third Party). None of them work correctly, and I imagine that most third party shortcodes like these don't work. These are the only three I have tested due

[2016-10-07 19:20] timayhelen commented on #602
@SlavaET This seems to be working for me now. Does it still not work for you?

[2016-10-07 21:11] websbyjd opened #605 "Module settings get stuck under browser menu"
### Problem:

I've been doing a Divi project and I'm noticing that in the VB I keep getting the module settings box stuck up under the browser menu.  Once this happens every settings box opened is in the same position.  The only way to reset it is to close VB and reopen.   Not a huge issue, but annoying nonetheless.  I attached a screenshot link

### Steps To Reproduce:
1.  Open VB
2. open a modul

[2016-10-07 22:36] dm-chechik opened #606 "Inability to use the global modules on multi language sites"
### Problem:

I think we should consider the ability to use Global Modules on multi language sites. For example with WPML plugin. Right now you should create different Global Module for each language. It's inconvenient

[2016-10-07 23:19] timayhelen opened #607 "Sliders Don't Resize Height In Visual Builder"
On the front end, if you have a slider with slides of two different heights, the smaller of the two slides inherits the height of the tallest slide. This way all slides have a uniform height and there is no jumping when flipping through each slide. This doesn't happen in the VB, however.

[2016-10-07 23:46] #298 closed

[2016-10-07 23:46] #572 closed

[2016-10-08 00:08] andyhqtran opened #608 "Help Modal"
#### Keyboard Shortcut (#449)
- [ ] Open Modal - Hold down <kbd>Super</kbd> for 3 second opens up modal
- [ ] Close Modal - Press <kbd>ESC</kbd>
#### Notes
- [ ] Video should contain icon that indicates it can pop out.
- [x] Video should pop out and be able to snap to corners of the page with an adjustable opacity.
- [x] Modal should have a close button in the header and footer.
- [ ] Modal can st

[2016-10-08 00:11] fikrirasyid commented on #608
We actually already have help shortcut, it is <kbd>/</kbd> and  <kbd>?</kbd>. However it is intentionally disabled on current master as we haven't finished all the help list. See: https://github.com/elegantthemes/submodule-builder/blob/master/frontend-builder/app/components/et-builder-root.jsx#L1235 Removing the comment block will re-enable this shortcut.

cc: @timayhelen.

[2016-10-08 09:31] andrey-agp opened #609 "Blog module :: show content"
### Problem:

The shortcodes are removed from the post content in the blog module when show content option enabled.

### Steps To Reproduce:
1.  Enable Divi builder on post and add modules
2.  Create a page with blog module and enable show content

Post content
![screenshot_1](https://cloud.githubusercontent.com/assets/9657712/19212071/af0b55fa-8d6b-11e6-90ef-714219e29485.png)

Blog module
![scree

[2016-10-08 15:34] fikrirasyid opened #610 "Added remaining VB's module shortcuts"
This is faux issue for VB's module shortcuts listed on https://github.com/elegantthemes/Divi-Beta/issues/449. This faux issue is added for easier status tracking.

For more info, see: ~~https://github.com/elegantthemes/submodule-builder/pull/1292~~.

Update: this is the correct PR: https://github.com/elegantthemes/submodule-builder/pull/1302

[2016-10-08 15:35] fikrirasyid commented on #449
I've submitted PR for remaining module shortcuts at https://github.com/elegantthemes/submodule-builder/pull/1292.

[2016-10-08 16:34] dm-chechik opened #611 "Saved Layouts do not retain the Custom CSS content"
### Problem:

Layouts saved into the library do not retain custom css.

### Steps To Reproduce:
1.  Create any page layout
2. Add some css to the layout Custom CSS field
3. Save layout into the library
4. Create new page and load saved layout
5. The custom css field will be empty.

[2016-10-08 18:59] timayhelen commented on #611
Are you referring to the custom CSS in Page Settings? This is saved as post meta and unfortunately it's not currently part of the JSON export since it's not part of the post content.

[2016-10-08 18:59] #611 closed

[2016-10-08 19:10] timayhelen opened #612 "It's Possible To Create Empty Speciality Sections In VB, but Not In BB"
In the BB, it's not possible to create an empty Specialty Section that contains no inner rows. If you click "Add Specialty Section" and then close the modal, the empty section is removed.

Things work different'y in the VB, however. We allow for empty sections to be created, and I think this is actually a good thing. However, if you create an empty Specialty Section in the VB and save the page, an

[2016-10-08 19:15] timayhelen opened #613 "Saved Modal Position Can Be Outside Viewport"
Currently when you save the page, the current Modal state is saved. The next time you open up the builder, it remember the size and position of the modal and whether or not it was snapped or fullscreen.

The problem is, if the browser window changes size then the position of the modal can actually appear outside the viewport.

1. Make your browser full screen and place the modal all the way to the

[2016-10-08 19:17] timayhelen commented on #605
Thanks for the report. For the time being you can press Shift + Tab if you ever get stuck like this again. It will snap the modal to the side of the page and you can drag it back off again.

[2016-10-09 06:02] SlavaET commented on #602
Yeah, seems to work fine in the latest master

[2016-10-09 06:02] #602 closed

[2016-10-09 06:06] SlavaET commented on #554
@lots0logs isn't it expected behaviour? If you define styles for tablet, then it applied to `max-width: 980px` so it'll be applied for the phone screens as well unless you define different styles for the phone breakpoint which will override the tablet styles.

[2016-10-09 08:24] lots0logs commented on #554
@SlavaET Code-wise, yes, it is indeed the expected behavior (it hadn't occurred to me the other day :sweat_smile: ). Though from a UI perspective, I think its expected that mobile values affect mobile and tablet values affect tablet. Most of our customer's don't even know CSS, so this behavior probably doesn't  make sense to them (so they'll either post a ticket in the forum or they will write it

[2016-10-09 16:47] Anny85 commented on #609
Duplicate of https://github.com/elegantthemes/Divi-Beta/issues/586

[2016-10-09 16:47] #609 closed

[2016-10-10 08:44] andreisnoopy opened #614 "Incompatibility with WP Offload S3 Plugin"
One client reports some incompatibility with this plugin : https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=601530

[2016-10-10 09:34] Anny85 commented on #571
@timayhelen Flex doesn't work in Safari 8, it works fine in Safari 9 and 10 though.
http://caniuse.com/#feat=flexbox

Do you think we should replace flex with basic CSS code to fix it?

[2016-10-10 09:46] andrey-agp opened #615 "Blog module :: Video post"
### Problem:

Video url appears in the post content.

### Steps To Reproduce:
1.  Create a post with video format
2.  Add this to the text editor `https://youtu.be/VUs_YrLvA0k` and publish
3. Check the blog module

![screenshot_5](https://cloud.githubusercontent.com/assets/9657712/19232262/9600331e-8f00-11e6-9934-493398c62986.png)

[2016-10-10 09:58] SlavaET opened #616 "Add Alt + Drag Shortcut"
### Problem:

Holding alt while moving a module will copy the module and paste it to the moved location

[2016-10-10 10:01] SlavaET commented on #616
If you press <kbd>Alt</kbd> and start moving the module/row/section then it'll be copied.

[2016-10-10 11:35] uportnykh opened #617 "Database error shows up, when a post / page is saved on fresh install"
```WordPress database error Table 'wordpress.wp_et_divi_ab_testing_stats' doesn't exist for query DELETE FROM wp_et_divi_ab_testing_stats WHERE test_id = 2397```

[2016-10-10 11:37] SlavaET opened #618 "BB :: Add Missing shortcuts for the Modals in BB"
### Problem:

- [x] Switch Tabs - <kbd>Shift</kbd> + <kbd>Tab</kbd>
- [x] Preview Module - <kbd>Super</kbd> + <kbd>P</kbd>

[2016-10-10 11:39] SlavaET commented on #618
@fikrirasyid @timayhelen What is the shortcut for the Tabs switch in the Visual Builder modals? :) I used <kbd> Tab </kbd> in BB, but I need to update it to use the same as in VB.

[2016-10-10 17:28] timayhelen commented on #618
@SlavaET Alt + Tab

[2016-10-10 17:31] SlavaET commented on #618
So Windows users won't have that shortcut? It's a system shortcut on Windows.

[2016-10-10 17:31] timayhelen commented on #571
@Anny85 Let's not worry about it. We should instruct users to use a modern browser.

[2016-10-10 17:31] #571 closed

[2016-10-10 19:08] timayhelen commented on #618
@SlavaET Maybe we can do Ctrl + Tab? This would overwrite browser functionality to switch tabs, but I think that actually makes sense so long as it only works when a modal or tooltip is open.

[2016-10-10 19:14] timayhelen opened #619 "Disable "Double Click To Open Module Settings" When Clicking Module Buttons"
Often times I find myself clicking he duplicate icon 3-4 times to quickly duplicate a module several times. Since we added "double click to open module settings," however, this will open the module settings while duplicating, which is annoying. I think we should prevent modal settings from opening if you double click on any of the module buttons (except the gear icon that is used from opening modu

[2016-10-10 19:19] timayhelen commented on #613
@SlavaET Looks like the problem still occurs if you "expand" modal to full screen using the expand icon. If you expand the modal at a large browser width and save the page, and then you reduce the browser width and open a modal setting, the modal will be expanded to it's previous height and width.

I think this is more of a flaw in how the "expanded" modal state is being saved. We don't want to sa

[2016-10-10 19:25] timayhelen commented on #610
@fikrirasyid I notice that when I try to increase row and section padding using r + up/down or s + up/down, the page scrolls up and down. This is because the up and down arrow keys typically trigger page scroll on most browser. Can we disable this when r or s is being held down?

[2016-10-10 20:55] lots0logs commented on #573
@Anny85 While testing this branch I noticed that the HTML that is output on the page (when viewed normally) is different depending on whether it was last saved in the VB or BB. In this specific case it doesnt cause any visible differences to the text  (on desktop view..will explain below) but really the end result should be the same regardless of which builder was used to save the page.

Following

[2016-10-10 21:43] uportnykh commented on #582
@rijendra It seems to work ok for me. Can you still replicate the issue?

[2016-10-10 22:42] timayhelen opened #620 ""Seperate Modal" Spelled Incorrectly"
When you hover hover the modal snap icon, the tooltip displays "Seperate Modal." The word should be spelled "Separate."

[2016-10-10 23:05] fikrirasyid commented on #618
@slava @timayhelen I remember discussing this on different thread but we haven't reached any conclusion yet :\

@timayhelen ctrl + tab is used for switching tabs in chrome.

[2016-10-10 23:37] timayhelen commented on #618
@fikrirasyid You don't think Ctrl + Tab is a good option? It's what Chrome users to switch tabs, and I think this is a good example where it's contextually relevant to overwrite browser hotkey when a modal that contains tabs is open.

[2016-10-10 23:51] fikrirasyid commented on #618
@timayhelen I agree that it is contextually relevant and it is save to overwrite some default shortcuts. I somehow have a slight doubt because switching tabs is kinda different tho. Some people open tabs until they only see the favicon and for these kind of user (people who do this are usually power user), switching tabs would be critical.

However, I think my initial thought was incorrect. While

[2016-10-10 23:54] timayhelen commented on #618
Yeah I use Ctrl + Tab for switching tabs, but I think if we can limit it to when a modal is open it would be perfect.

[2016-10-11 00:01] fikrirasyid commented on #610
@timayhelen did you press the <kbd>⬆️</kbd>/<kbd>⬇️</kbd> or <kbd>r</kbd>/<kbd>s</kbd> first? In my test, if you press the <kbd>r</kbd>/<kbd>s</kbd> first, the moment you press the up/down arrows, the page scroll is already disabled. Things would be different if the up/down is pressed first.

Disabling page scroll when <kbd>r</kbd> or <kbd>s</kbd>being held down wouldn't avoid the first scroll whe

[2016-10-11 00:02] fikrirasyid commented on #618
@timayhelen yeah, limit the shortcut to work only when the modal is opened would make it more relevant.

[2016-10-11 00:05] #616 closed

[2016-10-11 00:05] #589 closed

[2016-10-11 00:07] fikrirasyid commented on #610
@timayhelen I'm curious: do your layout is longer than the screen's height? I might look into different things because my layout is longer than the screen's height 🤔

[2016-10-11 00:37] timayhelen commented on #610
@fikrirasyid I pressed R and S first. I even tried holding down R for 2 seconds and then pressing the down arrow. It still scrolls the page.

[2016-10-11 00:39] fikrirasyid commented on #610
@timayhelen noted. I'm currently taking a look at it.

[2016-10-11 00:41] timayhelen commented on #610
@fikrirasyid Another thing, we shouldn't allow padding values to go negative. If you press Alt + S + Arrow after it reaches 0px padding, it continues into the negatives.
![screen shot 2016-10-10 at 5 40 55 pm](https://cloud.githubusercontent.com/assets/3333028/19255247/cabd804c-8f10-11e6-8f4a-e0bb5b0436b0.png)

[2016-10-11 00:48] lots0logs commented on #606
Issue moved to [elegantthemes/Divi #2585](https://github.com/elegantthemes/Divi/issues/2585) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-11 00:48] #606 closed

[2016-10-11 00:48] fikrirasyid commented on #610
@timayhelen noted. I'll have it fixed as well 👍

[2016-10-11 00:50] lots0logs commented on #587
@dm-chechik Please ask the customer to update to the latest version and let us know if the issue persists.

[2016-10-11 00:55] lots0logs commented on #614
@andreisnoopy Please let the customer know that Divi adheres to the [Standards For Good Coding](https://make.wordpress.org/core/handbook/coding-standards/) as defined by the makers of WordPress. All images uploaded via the Divi Builder are processed via the WordPress media library so the plugin developer's assumption is incorrect. Also....

[code]

[2016-10-11 00:56] #614 closed

[2016-10-11 00:56] lots0logs commented on #614
Issue moved to [elegantthemes/Divi #2586](https://github.com/elegantthemes/Divi/issues/2586) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-11 04:05] fikrirasyid commented on #610
@timayhelen before you try changing the row's height at https://github.com/elegantthemes/Divi-Beta/issues/610#issuecomment-252781911, did you previously press command button? I discovered another issue with how keyup & keydown perform. This might / might not be related to the issue you mentioned

[2016-10-11 04:27] timayhelen commented on #610
@fikrirasyid I didn't do anything else. Just loaded the builder, hoevered over something, held down R and then press arrow keys.

[2016-10-11 04:27] fikrirasyid commented on #610
Noted. Thanks for clarifying it. It isn't related then.

[2016-10-11 04:32] SlavaET commented on #618
@timayhelen @fikrirasyid Looks like Chrome doesn't allow to catch and override the <kbd> Ctrl </kbd> + <kbd> Tab </kbd> shortcut. It partially works in Firefox, but it still switches the browser tabs, so we cannot use this combination.

[2016-10-11 04:44] fikrirasyid commented on #618
@SlavaET I tested it out on the branch I'm working on, and I too can't override <kbd>ctrl</kbd> + <kbd>tab</kbd>. However, if you press <kbd>tab</kbd> first before <kbd>ctrl</kbd>, it can be overriden.

My suggestion for different tab shortcuts:
- <kbd>ctrl</kbd> + <kbd>tab</kbd>
- <kbd>ctrl</kbd>+ <kbd>pgDown</kbd>

[2016-10-11 04:54] SlavaET commented on #618
@fikrirasyid but when we press Tab it'll perform default tab action first ( switch to the next field ), so <kbd>Tab</kbd> + <kbd>key</kbd> is a bit weird combination.
As for the <kbd> fn </kbd> button it doesn't exist on most Windows keyboards, it usually exists only on small Laptop keyboards and I'm not sure it works the same way as on Mac.
Probably we can use something like <kbd> Alt </kbd> + <k

[2016-10-11 06:01] SlavaET commented on #613
@timayhelen fixed.

[2016-10-11 06:12] lots0logs commented on #618
This was probably already explained somewhere (sorry :grimacing: ) but why can't we use just <kbd>tab</kbd> for switching tabs (in the BB and VB)? ..actually nevermind, it literally just dawned on me that using only <kbd>tab</kbd> would cause accessibility problems (for people using screen readers) :doh:

[2016-10-11 07:35] fikrirasyid commented on #618
@SlavaET yeah, I agree that <kbd>tab</tab> first then <kbd>ctrl</kbd> feels weird.

Using <kbd>t</kbd> key would be problematic, since we use single <kbd>t</kbd> for toggle page options. It'll unwantedly open the page options 🤔

[2016-10-11 09:08] uportnykh commented on #617
I'm not sure how to replicate the issue, but I have lots of these errors in my log file, so it is definitely worth adding a check.

[2016-10-11 10:48] SlavaET opened #621 "BB :: Add Missing shortcuts for the Modules in BB"
### Problem:

- [x] Cut Module: <kbd>Super</kbd> + <kbd>X</kbd>
- [x] Copy Module: <kbd>Super</kbd> + <kbd>C</kbd>
- [x] Paste Module: <kbd>Super</kbd> + <kbd>V</kbd>
- [x] Disable Module: <kbd>D</kbd>
- [x] Lock Module: <kbd>L</kbd>
- [x] Change Column Structure <kbd>C</kbd> + <kbd>1</kbd> / <kbd>2</kbd> / <kbd>3</kbd> / <kbd>4</kbd> - ... - 11 - changes the column structure of the current row be

[2016-10-11 11:22] fikrirasyid commented on #610
@timayhelen can you take a look at `449-add-power-user-features-3.1` branch and see whether the unwanted scroll and negative padding issue have been fixed? If the issue remains, can you take a screencast of it? Thanks.

Note: as I've explained on Slack at https://elegantthemes.slack.com/archives/development/p1476182454000026, I mistakenly merged this branch to `master`, so this PR is no longer use

[2016-10-11 13:11] FaycalBoutam opened #622 "Specialty Section :: Make section full width works on the edit page only"
### Problem:

https://www.youtube.com/watch?v=tTXhRh74JlE

When creating a specialty section and making it full width it works on the edit page only. Once you save and preview the page, you can see a left and right padding added.

[2016-10-11 15:43] fikrirasyid commented on #605
@websbyjd thank you for reporting the issue. A patch for this issue have been submitted and currently under review process. Once it passes the review process, it should be included on the Divi release.

Meanwhile, here's how it looks:

![modal s max top position](https://cloud.githubusercontent.com/assets/916442/19277516/20d3a486-9004-11e6-8a87-7b60e2fa7fef.gif)

[2016-10-11 16:09] lots0logs commented on #617
@uportnykh Please see my comment on the PR. Thanks :smiley:

[2016-10-11 16:28] lots0logs commented on #593
@fikrirasyid This LGTM. Though I did notice something that perhaps we can improve in this PR. When a column is empty, only a small portion at the top of the column allows pasting to be performed. This is obviously because an empty column technically has no height. Is there anything we can do to improve it?

![2016-10-11_11-23-44](https://cloud.githubusercontent.com/assets/4675662/19279144/c24638f6

[2016-10-11 16:38] lots0logs commented on #605
@fikrirasyid Is there any way we can prevent the browser from selecting all of the page's text content when the cursor goes out-of-bounds while dragging the modal? Also, I think we should do the same for the left and right boundaries..and the bottom as well (not until the page can't be scrolled anymore of course).

[2016-10-11 18:27] timayhelen commented on #610
@fikrirasyid It still causes the page to scroll down for me. Also, it looks like you Ctrl + R / Cmd + R no longer works to refresh the page in this branch.

[2016-10-11 19:41] Anny85 commented on #573
@lots0logs We can't replicate the issue with different resulting HTML. I don't think this fix can cause such issues. Can you create a new issue for it and provide the exact content you put into the Text Module?

[2016-10-11 20:33] timayhelen commented on #620
@Anny85 is going to update our pot files to make sure translations still work in this branch.

[2016-10-11 20:39] timayhelen commented on #613
@SlavaET This branch actually breaks "Modal Snap" when the modal is snapped to the right side of the screen. Snap the modal to the right, save the page, and then refresh and open the modal.

Looks like the check that prevents the modal from leaving the viewport & being too close to the edge conflicts with the modal snap right.

[2016-10-11 20:46] timayhelen opened #623 "Row Background Color Doesn't Save For Globa Rows"
Whenever you save a row to the library as a global row, the Background Color changes to a light blue color and you can't update it.

[2016-10-11 21:45] dm-chechik commented on #587
@lots0logs I've checked on my local installation under 3.0.14. The issue persists

[2016-10-11 23:18] Jronk commented on #584
@SlavaET thanks for taking care of this, I know it has been around for a while, but a new addition coming to FB and BB is relying on the WP heartbeat, which is a sensitive thing for weak-sauce servers out there, so when I noticed this ajax abuse going on and wanted to shore it up. I want to free up as much resources as we can to squeeze in all the real and needed ajax calls we want/need to be maki

[2016-10-11 23:19] #584 closed

[2016-10-11 23:19] #617 closed

[2016-10-11 23:56] fikrirasyid commented on #610
Can you make a screencast of it? i'm suspecting particular kind of scroll involving front end's js, but It'd be very helping to have it clarified

Get Outlook for iOS

On Wed, Oct 12, 2016 at 1:27 AM +0700, "Nick Roach" <notifications@github.com> wrote:

@fikrirasyid It still causes the page to scroll down for me. Also, it looks like you Ctrl + R / Cmd + R no longer works to refresh the page in th

[2016-10-12 00:47] fikrirasyid commented on #610
@timayhelen weird, it totally doesn't happening on me :|

Anyway, have you updated to Sierra?

[2016-10-12 00:59] lots0logs opened #624 "Slider Module :: Slide Image Position Isn't Adjusted When Slide Becomes Visible (in VB)"
### Problem:

![2016-10-11_07-57-58-pm](https://cloud.githubusercontent.com/assets/4675662/19293823/3b3b22e8-8fed-11e6-96c7-4290230e6a31.png)

[2016-10-12 01:26] timayhelen commented on #610
@fikrirasyid No I haven't upgrade yet. I will try.

Can you fix the issue with Cmd + R / Ctrl + R not refreshing the page?

[2016-10-12 01:29] timayhelen commented on #610
I also notice that if I open and closed a settings modal, and then press R + Down the page does not scroll.

[2016-10-12 01:33] fikrirasyid commented on #610
@timayhelen i haven't updated to sierra as well, I thought the issue exists on sierra only since I don't find this behaviour on el capitan 🤔

Sure, I'll have it fixed as well.

[2016-10-12 02:09] timayhelen commented on #610
@fikrirasyid Well, updating to series didn't help regardless, lol.

[2016-10-12 02:09] fikrirasyid commented on #610
@timayhelen it was wild guess tho 😅

[2016-10-12 04:26] andrey-agp opened #625 "Divi : Theme options : Grab the first post image not working with Image Module"
### Problem:

### Steps To Reproduce:
1. Enable Grab the first post image in theme options
2. Create a post with no featured image and with Image module
3. View post or archive

[2016-10-12 04:32] #625 closed

[2016-10-12 08:01] fikrirasyid commented on #610
@timayhelen I've fixed the <kbd>super</kbd> + <kbd>s</kbd> and the unwanted scroll upon modifying section/row's padding using shortcut issues. To check the patch, you need to switch builder and Divi to these branches:

- Divi PR branch: `449-add-power-user-features-3.1`. See: https://github.com/elegantthemes/Divi/pull/2588
- Builder PR branch: `449-add-power-user-features-3.1`. See: https://github

[2016-10-12 10:09] timayhelen commented on #605
@lots0logs @fikrirasyid It will get annoying if the modal is restricted on left/right/bottom. Just imagine for a moment if this was how windows worked in your OS. It would be super frustrating.

Let's keep things how they are in this PR. It works exactly the way you would expect it to, given normal window conventions.

![window](https://cloud.githubusercontent.com/assets/3333028/19306158/2f20cf08-

[2016-10-12 10:10] fikrirasyid commented on #605
@timayhelen noted. I'm keeping it the way thing is right now then.

[2016-10-12 11:16] SlavaET commented on #613
@timayhelen fixed.
Also fixed one more issue - when you save the very big modal and then open it on small screen it'll overflow the viewport.

[2016-10-12 11:20] SlavaET commented on #618
@timayhelen so what's your decision on this?

[2016-10-12 11:26] fikrirasyid commented on #593
@lots0logs I've incorporated your feedback and push it to `593-fix-copy-paste-too-quickly`. Basically, empty column now has minimum height of the tallest column to make it easier to hover / copy / paste:

![hover area](https://cloud.githubusercontent.com/assets/916442/19308365/557771e0-90a9-11e6-9915-ee54f71d7936.jpg)

This is how it looks like if the column has background color:

![empty column s

[2016-10-12 11:36] eduard-ungureanu opened #626 "Theme Customizer :: Scroll Bar"
### Problem:

Customer replied, that clicking and dragging the customizer sidebar is almost impossible. I have manage to replicate this issue in the latest version of Divi. Although I never click on the sidebar and drag it around (use only scroll wheel), this can be seen as an issue!

http://screencast.com/t/byiuDlov7aZ

[2016-10-12 11:47] FaycalBoutam opened #627 "Text Module :: Text Line Height value is changed from em to px on mobiles"
### Problem:

When you add a text module with some text, then try to set the line height to different values on desktops and mobiles you will see that the value em is changing to px which may create some confusion. You can manually change/fix it of course

![1](https://cloud.githubusercontent.com/assets/16414613/19308893/d85dbae0-9079-11e6-89b5-c88d55f54430.gif)

[2016-10-12 12:47] fikrirasyid commented on #605
@lots0logs I've pushed a fix which disable text selection during modal drag / resize to avoid unwanted text selection at https://github.com/elegantthemes/submodule-builder/commit/63a3be47d1a3dc016fd3c8a9bb730ee0acae5a6a

[2016-10-12 15:28] kary4 commented on #581
Here is a new problem with updates, though it's Extra theme, but I think the issue might be related. Let me know if I should open an issue under Extra repository. Here http://www.secret-ingredient.ru/  it's wordpress 5.6.25 version, correct theme folder name and style.css file. Update notifications still don't appear. Ask me for a token if you need.

[2016-10-12 15:53] timayhelen commented on #605
@fikrirasyid Can we remove this class from being added/removed during the Modal Snap animation? I don't think it's needed now that it always exists during modal move.

[2016-10-12 15:55] fikrirasyid commented on #605
@timayhelen sure, I've reverted the commit so there is no additional classes added when settings modal is dragged / resized.

[2016-10-12 16:06] timayhelen commented on #605
@fikrirasyid I meant we should keep the class being added when you drag and resize the modal, but it's no longer needed when the "modal snap" placeholder animation is triggered.

Basically you already implemented this fix for when the modal overflowed the left/right viewport. But if the class exists all the time while dragging, we don't need to add and remove it when the modal snap placeholder app

[2016-10-12 16:08] timayhelen commented on #605
![snap](https://cloud.githubusercontent.com/assets/3333028/19317885/5cbcc494-905b-11e6-81f0-ba3481f73eb7.gif)

[2016-10-12 16:14] timayhelen commented on #618
I think it's important to use Tab and not T. Tab is was people expect for switching tabs.

So propose that we change it from Alt + Tab to Shift + Tab. Then we need to change the Modal Snap toggle to something else. Since we currenly use Super + Enter to go full screen, maybe we change do Super + Left and Super + Right to toggle between modal snap left/right.

[2016-10-12 18:32] timayhelen commented on #605
@fikrirasyid I went ahead and made the change myself, but then noticed that when the body class is toggled on and off, it really glitches up the react-motion animation for modal drag and resize. So I don't think it's worth adding. Let's just leave this PR how it is.

[2016-10-12 18:38] Anny85 commented on #603
I've fixed it in https://github.com/elegantthemes/Divi-Beta/issues/620

[2016-10-12 18:38] #603 closed

[2016-10-12 18:41] timayhelen commented on #610
@fikrirasyid Now r + up/down/left/right and s + up/down/left/right doesn't work when Smooth Scrolling is disabled. It checks for ET_SmoothScroll, but this variable is undefined when the smooth scroll js file is not loaded.

[2016-10-12 18:44] timayhelen commented on #619
@uportnykh This works for module buttons, but not Section or Row buttons.

[2016-10-12 19:18] lots0logs commented on #581
@kary4 Could you send me the token? Thanks.

[2016-10-12 19:34] uportnykh commented on #581
@lots0logs I'm looking into it

[2016-10-12 19:47] timayhelen opened #628 "Encoded Spaces Removed From URL's In VB"
https://www.elegantthemes.com/forum/viewtopic.php?f=187&t=604257

[2016-10-12 19:56] lots0logs commented on #615
@Anny85 This doesnt appear to resolve the issue. Youtube video URL is still showing up:

![2016-10-12_02-54-06-pm](https://cloud.githubusercontent.com/assets/4675662/19325511/159f9006-908c-11e6-8e9e-d7d06ac87bde.png)

[2016-10-12 20:01] lots0logs opened #629 "Blog Module :: HTML5 Video Posts Are Rendered Differently Inside The VB"
### Problem:
In the VB, the blog module renders Video Posts that use HTML5 videos differently than what actually shows up on the page itself.

Also, let's see if we can do anything about oembed videos not using the same overlay as the HTML5 videos. If we can get them to look more consistent that would be great.

### Steps To Reproduce:
1. Create a video post using an HTML5 video.
2. In the VB, set

[2016-10-12 20:10] lots0logs opened #630 "Video Posts :: Thumbnail Video Player Doesn't Work When Video URL Is Added To Content Without Shortcode"
### Problem:
When using HTML5 videos for video posts, no thumbnail video player is shown for the post in post listings unless you wrap the video URL inside of the `[video]` shortcode.

### Steps To Reproduce:
1. Create a video post and put the video URL directly in the content.
2. Create another video post and use the `[video]` shortcode to put the video in the content.
3. View the two posts in a